double precision error: function NATLOG
   arg1            =  1.7E+38 [+7F  +FFC99E0000000000]
   expected result =  88.02886177076072 [+07  +B00EC6F8530B3B04]
   result          =  88.02886177076072 [+07  +B00EC6F8530B3B8C]

double precision error: function NATLOG
   arg1            =  1.000010042080912E-27 [-59  +9E753A0000000000]
   expected result = -62.16978746880874 [+06  -F8ADDCC427377800]
   result          = -62.16978746880874 [+06  -F8ADDCC427377880]

double precision error: function LOG10
   arg1            =  1.7E+38 [+7F  +FFC99E0000000000]
   expected result =  38.23044891526550 [+06  +98EBFACCE9DB1F10]
   result          =  38.23044891526550 [+06  +98EBFACCE9DB1FCC]

double precision error: function LOG10
   arg1            =  1.000010042080912E-27 [-59  +9E753A0000000000]
   expected result = -26.99999563880157 [+05  -D7FFFDB6A65CED04]
   result          = -26.99999563880157 [+05  -D7FFFDB6A65CEDB8]

double precision error: function SQROOT
   arg1            =  1.000010042080912E-27 [-59  +9E753A0000000000]
   expected result =  3.2E-14 [-2C  +8E6AC322185CB8FC]
   result          =  3.2E-14 [-2C  +8E6AC322185CB950]

double precision error: function ARCTANGENT
   arg1            =  1.7E+38 [+7F  +FFC99E0000000000]
   expected result =  1.570796326794897 [+01  +C90FDAA22168C1E0]
   result          =  1.570796326794897 [+01  +C90FDAA22168C234]

double precision error: function ARCTAN2
   arg1            =  7.000000000000000 [+03  +E000000000000000]
   arg2            =  0.000000000000000 [+00  +0000000000000000]
   expected result =  1.570796326794897 [+01  +C90FDAA22168C1E0]
   result          =  1.428899272190733 [+01  +B6E62BDDAB2FE5AC]

double precision error: function SINE
   arg1            =  1048576.000000000 [+15  +8000000000000000]
   expected result =  0.3304931400217347 [-01  +A9366597E432ACF4]
   result          =  0.3304931400219045 [-01  +A9366597E49245E0]

single precision error: function SINE
   arg1            =  1048576. [+15  +8000000000000000]
   expected result =  0.3304931 [-01  +A9366597E432ACF4]
   result          =  0.3253103 [-01  +A68F122000000000]

conversion error - decimal input =  0.1666666666666667 [-02  +AAAAAAAAAAAAA9E8]
                   hex input     =  0.1666666666666667 [-02  +AAAAAAAAAAAAAAAA]

conversion error - decimal input =  1.066666666666667 [+01  +88888888888887F0]
                   hex input     =  1.066666666666667 [+01  +8888888888888888]

conversion error - decimal input =  0.03968253848113594 [-04  +A28A284FFAD733FC]
                   hex input     =  0.03968253848113594 [-04  +A28A284FFAD734D5]

conversion error - decimal input =  2.718281828459045 [+02  +ADF85458A2BB49F8]
                   hex input     =  2.718281828459045 [+02  +ADF85458A2BB4A9A]

conversion error - decimal input =  2.718281828459045 [+02  +ADF85458A2BB49F8]
                   hex input     =  2.718281828459045 [+02  +ADF85458A2BB4A9A]

double precision error: function LOG10
   arg1            =  10.00000000000000 [+04  +A000000000000000]
   expected result =  1.000000000000000 [+01  +8000000000000000]
   result          =  1.000000000000000 [+01  +8000000000000090]

conversion error - decimal input = -0.9999999935285080 [+00  -FFFFFFE43484EDFC]
                   hex input     = -0.9999999935285080 [+00  -FFFFFFE43484EE52]

conversion error - decimal input =  0.8712263737025549 [+00  +DF08B10E7713EDFC]
                   hex input     =  0.8712263737025549 [+00  +DF08B10E7713EE4F]

conversion error - decimal input =  0.7961798928388048 [+00  +CBD2720979B72CF8]
                   hex input     =  0.7961798928388048 [+00  +CBD2720979B72DDA]

conversion error - decimal input = -0.9633389031692581 [+00  -F69D60DC1393D50C]
                   hex input     = -0.9633389031692582 [+00  -F69D60DC1393D5CF]

conversion error - decimal input =  0.7107659028117234 [+00  +B5F4C113B0323900]
                   hex input     =  0.7107659028117234 [+00  +B5F4C113B03239DC]

conversion error - decimal input =  0.4601462118839940 [-01  +EB9848C6D70F94F0]
                   hex input     =  0.4601462118839940 [-01  +EB9848C6D70F9539]

conversion error - decimal input = -0.6243832265404255 [+00  -9FD79442297E85FC]
                   hex input     = -0.6243832265404255 [+00  -9FD79442297E8654]

conversion error - decimal input =  0.9811764135076261 [+00  +FB2E609F9F300A00]
                   hex input     =  0.9811764135076261 [+00  +FB2E609F9F300AAF]

conversion error - decimal input = -0.6456524086591527 [+00  -A54979EBC651F608]
                   hex input     = -0.6456524086591527 [+00  -A54979EBC651F66E]

conversion error - decimal input =  0.8394688197805921 [+00  +D6E76DB6F8280800]
                   hex input     =  0.8394688197805921 [+00  +D6E76DB6F828085B]

conversion error - decimal input = -0.2687968435879979 [-01  -899FBD68F4FB1A00]
                   hex input     = -0.2687968435879979 [-01  -899FBD68F4FB1AC1]

conversion error - decimal input = -0.8548275419606223 [+00  -DAD5FA5070E17D04]
                   hex input     = -0.8548275419606223 [+00  -DAD5FA5070E17D6D]

conversion error - decimal input =  0.6647169511417818 [+00  +AA2AE3DE40334A00]
                   hex input     =  0.6647169511417818 [+00  +AA2AE3DE40334A60]

conversion error - decimal input = -0.3827265966864135 [-01  -C3F4BD9027B1C114]
                   hex input     = -0.3827265966864135 [-01  -C3F4BD9027B1C198]

conversion error - decimal input = -0.8411027689595603 [+00  -D75282D541A07EFC]
                   hex input     = -0.8411027689595603 [+00  -D75282D541A07FE8]

conversion error - decimal input =  0.6996970042628726 [+00  +B31F57C66B0FD804]
                   hex input     =  0.6996970042628726 [+00  +B31F57C66B0FD8AF]

conversion error - decimal input = -0.9865583903318775 [+00  -FC8F173611DF7F04]
                   hex input     = -0.9865583903318775 [+00  -FC8F173611DF7FE5]

conversion error - decimal input = -0.3791081574720040 [-01  -C21A76E3FA6814F8]
                   hex input     = -0.3791081574720040 [-01  -C21A76E3FA681551]

conversion error - decimal input =  0.2770916774700371 [-01  +8DDEF5D974869D0C]
                   hex input     =  0.2770916774700371 [-01  +8DDEF5D974869DF9]

conversion error - decimal input = -0.2283371443743348 [-02  -E9D1365E32FE5C08]
                   hex input     = -0.2283371443743348 [-02  -E9D1365E32FE5C7F]

conversion error - decimal input =  0.9186649518123379 [+00  +EB2DA05403F1BCFC]
                   hex input     =  0.9186649518123379 [+00  +EB2DA05403F1BD5E]

conversion error - decimal input =  0.04014610226067630 [-04  +A4703D4457F799F8]
                   hex input     =  0.04014610226067630 [-04  +A4703D4457F79AB2]

single precision error: function SINE
   arg1            =  3.101436 [+02  +C67DEC6973580000]
   expected result =  0.04014610 [-04  +A4703D4457F79AB2]
   result          =  0.04014612 [-04  +A470428000000000]

conversion error - decimal input = -0.08115572032297474 [-03  -A634F8655D2EA000]
                   hex input     = -0.08115572032297475 [-03  -A634F8655D2EA0AC]

conversion error - decimal input =  0.4618012076405336 [-01  +EC71353823880208]
                   hex input     =  0.4618012076405336 [-01  +EC713538238802F4]

conversion error - decimal input =  0.5683149419590010 [+00  +917D16898AC39C00]
                   hex input     =  0.5683149419590010 [+00  +917D16898AC39CFA]

conversion error - decimal input =  0.6093961888842651 [+00  +9C01637D90A10D08]
                   hex input     =  0.6093961888842651 [+00  +9C01637D90A10D7A]

conversion error - decimal input =  0.4115409086233774 [-01  +D2B57D6F01CEBF04]
                   hex input     =  0.4115409086233774 [-01  +D2B57D6F01CEBF8B]

conversion error - decimal input = -0.9985741966010639 [+00  -FFA28EFD07F27A08]
                   hex input     = -0.9985741966010639 [+00  -FFA28EFD07F27AED]

conversion error - decimal input =  0.6626064504949247 [+00  +A9A0938AFE8D5E00]
                   hex input     =  0.6626064504949247 [+00  +A9A0938AFE8D5ED5]

conversion error - decimal input = -0.5727279138103422 [+00  -929E4BEB525CAD00]
                   hex input     = -0.5727279138103422 [+00  -929E4BEB525CADF7]

conversion error - decimal input = -0.8341826759321011 [+00  -D58CFEF004A4D9FC]
                   hex input     = -0.8341826759321011 [+00  -D58CFEF004A4DA5B]

conversion error - decimal input =  0.7301637665944586 [+00  +BAEC033A3F541C04]
                   hex input     =  0.7301637665944587 [+00  +BAEC033A3F541CD4]

conversion error - decimal input = -0.09327727481533202 [-03  -BF0827E655B85304]
                   hex input     = -0.09327727481533202 [-03  -BF0827E655B8538F]

conversion error - decimal input = -0.9405623339929228 [+00  -F0C8B170595A3204]
                   hex input     = -0.9405623339929228 [+00  -F0C8B170595A32D9]

conversion error - decimal input = -0.9093517360455338 [+00  -E8CB467EE05B3CFC]
                   hex input     = -0.9093517360455338 [+00  -E8CB467EE05B3DD4]

conversion error - decimal input =  0.1466779749866938 [-02  +9632C04672074E24]
                   hex input     =  0.1466779749866938 [-02  +9632C04672074EF1]

conversion error - decimal input =  0.6145119986153004 [+00  +9D50A8890D645A08]
                   hex input     =  0.6145119986153004 [+00  +9D50A8890D645AB5]

conversion error - decimal input =  0.9049856462297576 [+00  +E7AD23A9E7FF0100]
                   hex input     =  0.9049856462297577 [+00  +E7AD23A9E7FF0147]

conversion error - decimal input = -0.9999711351201983 [+00  -FFFE1BBA49061108]
                   hex input     = -0.9999711351201983 [+00  -FFFE1BBA490611C6]

conversion error - decimal input = -0.9408490017940271 [+00  -F0DB7AED2DF9BA00]
                   hex input     = -0.9408490017940271 [+00  -F0DB7AED2DF9BAB7]

conversion error - decimal input = -0.4398912974350506 [-01  -E1396EA08E9E4100]
                   hex input     = -0.4398912974350506 [-01  -E1396EA08E9E41BA]

conversion error - decimal input =  0.5401404529961352 [+00  +8A46A50CDD7254FC]
                   hex input     =  0.5401404529961352 [+00  +8A46A50CDD72557F]

conversion error - decimal input =  0.9999957309902887 [+00  +FFFFB860BE2EEFF8]
                   hex input     =  0.9999957309902887 [+00  +FFFFB860BE2EF0ED]

conversion error - decimal input =  0.9771583451076553 [+00  +FA270C9F40387208]
                   hex input     =  0.9771583451076553 [+00  +FA270C9F4038729A]

conversion error - decimal input =  0.0009627370978747634 [-0A  +FC6031666B2263F8]
                   hex input     =  0.0009627370978747634 [-0A  +FC6031666B226449]

conversion error - decimal input = -0.5109347407697261 [+00  -82CC9E81FF07B9FC]
                   hex input     = -0.5109347407697262 [+00  -82CC9E81FF07BA97]

conversion error - decimal input = -0.6554775920464182 [+00  -A7CD612519A670FC]
                   hex input     = -0.6554775920464182 [+00  -A7CD612519A671C2]

conversion error - decimal input = -0.1541264606478422 [-02  -9DD353AFB90CEBFC]
                   hex input     = -0.1541264606478422 [-02  -9DD353AFB90CECB4]

conversion error - decimal input =  0.4328627792939428 [-01  +DDA030B17240BC00]
                   hex input     =  0.4328627792939428 [-01  +DDA030B17240BC83]

conversion error - decimal input = -0.3930958621799928 [-01  -C943DC6083116E10]
                   hex input     = -0.3930958621799928 [-01  -C943DC6083116EAF]

conversion error - decimal input =  0.5055228066392454 [+00  +8169F151E5CF0C00]
                   hex input     =  0.5055228066392454 [+00  +8169F151E5CF0CA3]

conversion error - decimal input =  0.5623798203844445 [+00  +8FF81FB87B466CFC]
                   hex input     =  0.5623798203844445 [+00  +8FF81FB87B466DC0]

conversion error - decimal input =  0.9136984702908662 [+00  +E9E824984DF39200]
                   hex input     =  0.9136984702908662 [+00  +E9E824984DF392E4]

conversion error - decimal input =  0.3232369518731962 [-01  +A57F50524EE6A9F0]
                   hex input     =  0.3232369518731962 [-01  +A57F50524EE6AAAB]

conversion error - decimal input =  0.8109153332458264 [+00  +CF9825B41DA2D908]
                   hex input     =  0.8109153332458265 [+00  +CF9825B41DA2D973]

conversion error - decimal input =  0.9945844996734829 [+00  +FE9D16FB34C50BFC]
                   hex input     =  0.9945844996734829 [+00  +FE9D16FB34C50C91]

conversion error - decimal input = -0.9809180763734262 [+00  -FB1D7272143FA00C]
                   hex input     = -0.9809180763734262 [+00  -FB1D7272143FA04F]

conversion error - decimal input =  0.2929283405777285 [-01  +95FAB415B4AE740C]
                   hex input     =  0.2929283405777285 [-01  +95FAB415B4AE74C6]

conversion error - decimal input = -0.6543063703981889 [+00  -A7809F4E6CB81200]
                   hex input     = -0.6543063703981889 [+00  -A7809F4E6CB8128F]

conversion error - decimal input =  0.6304149890715713 [+00  +A162E070F878FA04]
                   hex input     =  0.6304149890715713 [+00  +A162E070F878FAFB]

conversion error - decimal input =  0.3784112852972071 [-01  +C1BF1FBD93E19004]
                   hex input     =  0.3784112852972071 [-01  +C1BF1FBD93E190DF]

conversion error - decimal input = -0.3911157495069921 [-01  -C84052D22A86BF14]
                   hex input     = -0.3911157495069921 [-01  -C84052D22A86BF98]

conversion error - decimal input = -0.9594123786959730 [+00  -F59C0CB5E07414F8]
                   hex input     = -0.9594123786959730 [+00  -F59C0CB5E07415BB]

conversion error - decimal input = -0.5603095853487027 [+00  -8F7072F0B53F6AFC]
                   hex input     = -0.5603095853487027 [+00  -8F7072F0B53F6BD3]

conversion error - decimal input = -0.7389186442849359 [+00  -BD29C5B39BC3D80C]
                   hex input     = -0.7389186442849359 [+00  -BD29C5B39BC3D8B4]

conversion error - decimal input =  0.02125179281360993 [-05  +AE183D63B4D14FE8]
                   hex input     =  0.02125179281360993 [-05  +AE183D63B4D150C3]

double precision error: function SINE
   arg1            =  3.120339260762307 [+02  +C7B3A37159880000]
   expected result =  0.02125179281360993 [-05  +AE183D63B4D150C3]
   result          =  0.02125179281360993 [-05  +AE183D63B4D15060]

conversion error - decimal input =  0.8371570195427167 [+00  +D64FEC248D846204]
                   hex input     =  0.8371570195427167 [+00  +D64FEC248D8462E1]

conversion error - decimal input = -0.9411504978481081 [+00  -F0EF3D30DF2A85FC]
                   hex input     = -0.9411504978481081 [+00  -F0EF3D30DF2A86FD]

conversion error - decimal input = -0.9933593356802933 [+00  -FE4CCC23EC5342FC]
                   hex input     = -0.9933593356802933 [+00  -FE4CCC23EC5343E8]

single precision error: function SINE
   arg1            =  3.250185 [+02  +D00307495B380000]
   expected result = -0.1083789 [-03  -DDF5C06BB5DCFF00]
   result          = -0.1083789 [-03  -DDF5BB6000000000]

conversion error - decimal input = -0.4511523295724808 [-01  -E6FD702A0E587710]
                   hex input     = -0.4511523295724808 [-01  -E6FD702A0E5877FE]

conversion error - decimal input = -0.9475749594949110 [+00  -F29445C58A06E300]
                   hex input     = -0.9475749594949110 [+00  -F29445C58A06E36B]

conversion error - decimal input =  0.7552680779817921 [+00  +C1593FAEA502D6FC]
                   hex input     =  0.7552680779817921 [+00  +C1593FAEA502D764]

conversion error - decimal input =  0.7608060645588300 [+00  +C2C42FADE0EE830C]
                   hex input     =  0.7608060645588300 [+00  +C2C42FADE0EE83C8]

single precision error: function SINE
   arg1            = -55.68411 [+06  -DEBC884000000000]
   expected result =  0.7608061 [+00  +C2C42FADE0EE83C8]
   result          =  0.7608064 [+00  +C2C4348000000000]

double precision error: function SINE
   arg1            = -55.68411350250244 [+06  -DEBC884000000000]
   expected result =  0.7608060645588300 [+00  +C2C42FADE0EE83C8]
   result          =  0.7608060645588300 [+00  +C2C42FADE0EE8320]

conversion error - decimal input = -0.05390454860967986 [-04  -DCCB041625C0FCFC]
                   hex input     = -0.05390454860967986 [-04  -DCCB041625C0FD8E]

single precision error: function SINE
   arg1            = -28.22040 [+05  -E1C362C000000000]
   expected result = -0.05390455 [-04  -DCCB041625C0FD8E]
   result          = -0.05390474 [-04  -DCCB38C000000000]

double precision error: function SINE
   arg1            = -28.22040319442749 [+05  -E1C362C000000000]
   expected result = -0.05390454860967986 [-04  -DCCB041625C0FD8E]
   result          = -0.05390454860967985 [-04  -DCCB041625C0F9D4]

conversion error - decimal input =  0.7235465770439492 [+00  +B93A593589587908]
                   hex input     =  0.7235465770439492 [+00  +B93A5935895879DF]

single precision error: function SINE
   arg1            = -84.93406 [+07  -A9DE3C9000000000]
   expected result =  0.1108260 [-03  +E2F8C181C76B512A]
   result          =  0.1108259 [-03  +E2F8B54000000000]

double precision error: function SINE
   arg1            = -84.93405580520630 [+07  -A9DE3C9000000000]
   expected result =  0.1108260267000582 [-03  +E2F8C181C76B512A]
   result          =  0.1108260267000582 [-03  +E2F8C181C76B5738]

conversion error - decimal input =  0.9761436517134782 [+00  +F9E48CE44EB1F80C]
                   hex input     =  0.9761436517134782 [+00  +F9E48CE44EB1F8D5]

single precision error: function SINE
   arg1            =  37.46353 [+06  +95DAA8A000000000]
   expected result = -0.2334050 [-02  -EF01BA1EB49B681D]
   result          = -0.2334051 [-02  -EF01BE4000000000]

double precision error: function SINE
   arg1            =  37.46353387832642 [+06  +95DAA8A000000000]
   expected result = -0.2334050256005428 [-02  -EF01BA1EB49B681D]
   result          = -0.2334050256005428 [-02  -EF01BA1EB49B6694]

conversion error - decimal input =  0.6222116395989236 [+00  +9F49431344961A00]
                   hex input     =  0.6222116395989236 [+00  +9F49431344961A46]

e precision error: function SINE
   arg1            = -82.24046 [+07  -A47B1DE000000000]
   expected result = -0.5303839 [+00  -87C73CC83BCA943D]
   result          = -0.5303835 [+00  -87C7366000000000]

double precision error: function SINE
   arg1            = -82.24046230316162 [+07  -A47B1DE000000000]
   expected result = -0.5303838719226326 [+00  -87C73CC83BCA943D]
   result          = -0.5303838719226327 [+00  -87C73CC83BCA94BC]

conversion error - decimal input =  0.1660282736511872 [-02  +AA0350D62C396520]
                   hex input     =  0.1660282736511872 [-02  +AA0350D62C3965B2]

single precision error: function SINE
   arg1            = -66.14025 [+07  -8447CE6000000000]
   expected result =  0.1660283 [-02  +AA0350D62C3965B2]
   result          =  0.1660278 [-02  +AA03312000000000]

double precision error: function SINE
   arg1            = -66.14024639129639 [+07  -8447CE6000000000]
   expected result =  0.1660282736511872 [-02  +AA0350D62C3965B2]
   result          =  0.1660282736511872 [-02  +AA0350D62C3966B0]

conversion error - decimal input = -0.3900679554608380 [-01  -C7B6FCAFD8012200]
                   hex input     = -0.3900679554608380 [-01  -C7B6FCAFD80122FD]

single precision error: function SINE
   arg1            = -40.44000 [+06  -A1C28F2000000000]
   expected result = -0.3900680 [-01  -C7B6FCAFD80122FD]
   result          = -0.3900682 [-01  -C7B7054000000000]

double precision error: function SINE
   arg1            = -40.43999910354614 [+06  -A1C28F2000000000]
   expected result = -0.3900679554608380 [-01  -C7B6FCAFD80122FD]
   result          = -0.3900679554608380 [-01  -C7B6FCAFD8012278]

conversion error - decimal input = -0.3410960007167195 [-01  -AEA4228FBFD90908]
                   hex input     = -0.3410960007167195 [-01  -AEA4228FBFD9096F]

double precision error: function SINE
   arg1            =  49.91739988327026 [+06  +C7AB6AE000000000]
   expected result = -0.3410960007167195 [-01  -AEA4228FBFD9096F]
   result          = -0.3410960007167195 [-01  -AEA4228FBFD909C8]

conversion error - decimal input =  0.9168267757414538 [+00  +EAB528D9E81B8B08]
                   hex input     =  0.9168267757414538 [+00  +EAB528D9E81B8B86]

double precision error: function SINE
   arg1            = -54.56713438034058 [+06  -DA44BEE000000000]
   expected result =  0.9168267757414538 [+00  +EAB528D9E81B8B86]
   result          =  0.9168267757414538 [+00  +EAB528D9E81B8BCC]

conversion error - decimal input = -0.4127561146473646 [-01  -D354C4FB44D7A214]
                   hex input     = -0.4127561146473646 [-01  -D354C4FB44D7A2E0]

single precision error: function SINE
   arg1            = -96.96389 [+07  -C1ED839000000000]
   expected result = -0.4127561 [-01  -D354C4FB44D7A2E0]
   result          = -0.4127557 [-01  -D354B70000000000]

double precision error: function SINE
   arg1            = -96.96389436721802 [+07  -C1ED839000000000]
   expected result = -0.4127561146473646 [-01  -D354C4FB44D7A2E0]
   result          = -0.4127561146473646 [-01  -D354C4FB44D7A1A0]

conversion error - decimal input =  0.9789606429185831 [+00  +FA9D2A29680D0300]
                   hex input     =  0.9789606429185831 [+00  +FA9D2A29680D0383]

conversion error - decimal input =  0.9703731248507058 [+00  +F86A5F8426AEE700]
                   hex input     =  0.9703731248507058 [+00  +F86A5F8426AEE745]

conversion error - decimal input = -0.2938391495991728 [-01  -967215C3A0344214]
                   hex input     = -0.2938391495991728 [-01  -967215C3A0344294]

single precision error: function SINE
   arg1            =  66.27169 [+07  +848B1A8000000000]
   expected result = -0.2938391 [-01  -967215C3A0344294]
   result          = -0.2938385 [-01  -967200A000000000]

double precision error: function SINE
   arg1            =  66.27168655395508 [+07  +848B1A8000000000]
   expected result = -0.2938391495991728 [-01  -967215C3A0344294]
   result          = -0.2938391495991728 [-01  -967215C3A03443C8]

conversion error - decimal input =  0.9021975201962385 [+00  +E6F66AABC66FD208]
                   hex input     =  0.9021975201962385 [+00  +E6F66AABC66FD2A3]

conversion error - decimal input =  0.9290931506986376 [+00  +EDD90C79303108FC]
                   hex input     =  0.9290931506986376 [+00  +EDD90C7930310985]

conversion error - decimal input = -0.9368727304287809 [+00  -EFD6E429B4B1CB08]
                   hex input     = -0.9368727304287809 [+00  -EFD6E429B4B1CBCA]

conversion error - decimal input = -0.9943352577367470 [+00  -FE8CC1653D32FF08]
                   hex input     = -0.9943352577367470 [+00  -FE8CC1653D32FFB9]

double precision error: function SINE
   arg1            = -74.42191839218140 [+07  -94D805B000000000]
   expected result =  0.8284336721217784 [+00  +D4143AA8AB10CC01]
   result          =  0.8284336721217784 [+00  +D4143AA8AB10CBA8]

conversion error - decimal input =  0.05839850001060255 [-04  +EF3343FAE55990F4]
                   hex input     =  0.05839850001060255 [-04  +EF3343FAE55991C6]

single precision error: function SINE
   arg1            = -47.18232 [+06  -BCBAB28000000000]
   expected result =  0.05839850 [-04  +EF3343FAE55991C6]
   result          =  0.05839847 [-04  +EF333AA000000000]

double precision error: function SINE
   arg1            = -47.18232154846191 [+06  -BCBAB28000000000]
   expected result =  0.05839850001060255 [-04  +EF3343FAE55991C6]
   result          =  0.05839850001060256 [-04  +EF3343FAE55999A4]

conversion error - decimal input =  0.7291876862031940 [+00  +BAAC0B50E37D2900]
                   hex input     =  0.7291876862031940 [+00  +BAAC0B50E37D2998]

single precision error: function SINE
   arg1            = -91.35579 [+07  -B6B629F000000000]
   expected result =  0.2470181 [-02  +FCF24E51CB85793E]
   result          =  0.2470185 [-02  +FCF26AE000000000]

double precision error: function SINE
   arg1            = -91.35578870773315 [+07  -B6B629F000000000]
   expected result =  0.2470180737899503 [-02  +FCF24E51CB85793E]
   result          =  0.2470180737899503 [-02  +FCF24E51CB857BD0]

conversion error - decimal input = -0.6592699274945378 [+00  -A8C5E9F9D348E700]
                   hex input     = -0.6592699274945378 [+00  -A8C5E9F9D348E7F1]

double precision error: function SINE
   arg1            = -52.68722772598267 [+06  -D2BFB8A000000000]
   expected result = -0.6592699274945378 [+00  -A8C5E9F9D348E7F1]
   result          = -0.6592699274945378 [+00  -A8C5E9F9D348E75C]

single precision error: function SINE
   arg1            = -53.74265 [+06  -D6F8788000000000]
   expected result =  0.3293094 [-01  +A89B3D0B4368E00C]
   result          =  0.3293091 [-01  +A89B344000000000]

double precision error: function SINE
   arg1            = -53.74264717102051 [+06  -D6F8788000000000]
   expected result =  0.3293093754052323 [-01  +A89B3D0B4368E00C]
   result          =  0.3293093754052323 [-01  +A89B3D0B4368DF9C]

conversion error - decimal input = -0.4106769146843122 [-01  -D2443E9B9525B104]
                   hex input     = -0.4106769146843122 [-01  -D2443E9B9525B1A8]

single precision error: function SINE
   arg1            =  49.84229 [+06  +C75E804000000000]
   expected result = -0.4106769 [-01  -D2443E9B9525B1A8]
   result          = -0.4106772 [-01  -D244492000000000]

double precision error: function SINE
   arg1            =  49.84228610992432 [+06  +C75E804000000000]
   expected result = -0.4106769146843122 [-01  -D2443E9B9525B1A8]
   result          = -0.4106769146843122 [-01  -D2443E9B9525B0D8]

conversion error - decimal input =  0.8375485912441441 [+00  +D66995A03458360C]
                   hex input     =  0.8375485912441441 [+00  +D66995A03458365B]

conversion error - decimal input =  0.9991789419081578 [+00  +FFCA30EE58F09CFC]
                   hex input     =  0.9991789419081578 [+00  +FFCA30EE58F09DF9]

conversion error - decimal input = -0.7578943172560692 [+00  -C2055CAA70669904]
                   hex input     = -0.7578943172560692 [+00  -C2055CAA70669971]

double precision error: function SINE
   arg1            =  79.39989566802979 [+07  +9ECCBF2000000000]
   expected result = -0.7578943172560692 [+00  -C2055CAA70669971]
   result          = -0.7578943172560692 [+00  -C2055CAA706699E4]

conversion error - decimal input = -0.8110714002360368 [+00  -CFA26012BC1599FC]
                   hex input     = -0.8110714002360368 [+00  -CFA26012BC159A7D]

double precision error: function SINE
   arg1            = -96.44339084625244 [+07  -C0E3042000000000]
   expected result = -0.8110714002360368 [+00  -CFA26012BC159A7D]
   result          = -0.8110714002360368 [+00  -CFA26012BC159A18]

conversion error - decimal input =  0.4220440581506213 [-01  +D81628A674C1BF04]
                   hex input     =  0.4220440581506213 [-01  +D81628A674C1BFDF]

single precision error: function SINE
   arg1            = -56.11297 [+06  -E073AE2000000000]
   expected result =  0.4220441 [-01  +D81628A674C1BFDF]
   result          =  0.4220444 [-01  +D816348000000000]

double precision error: function SINE
   arg1            = -56.11296892166138 [+06  -E073AE2000000000]
   expected result =  0.4220440581506213 [-01  +D81628A674C1BFDF]
   result          =  0.4220440581506213 [-01  +D81628A674C1BE94]

conversion error - decimal input =  0.9894828175886893 [+00  +FD4EBEF57F529608]
                   hex input     =  0.9894828175886893 [+00  +FD4EBEF57F529667]

conversion error - decimal input =  0.9055879255486999 [+00  +E7D49C3BE2579708]
                   hex input     =  0.9055879255486999 [+00  +E7D49C3BE25797E3]

single precision error: function SINE
   arg1            = -92.23895 [+07  -B87A57C000000000]
   expected result =  0.9055879 [+00  +E7D49C3BE25797E3]
   result          =  0.9055877 [+00  +E7D497E000000000]

conversion error - decimal input = -0.9999919891979258 [+00  -FFFF7999DDF8BA08]
                   hex input     = -0.9999919891979258 [+00  -FFFF7999DDF8BA4A]

conversion error - decimal input =  0.1617624191476943 [-02  +A5A50C2FD8428F08]
                   hex input     =  0.1617624191476943 [-02  +A5A50C2FD8428FC4]

single precision error: function SINE
   arg1            =  44.14477 [+06  +B0943F8000000000]
   expected result =  0.1617624 [-02  +A5A50C2FD8428FC4]
   result          =  0.1617622 [-02  +A5A4FEA000000000]

double precision error: function SINE
   arg1            =  44.14477348327637 [+06  +B0943F8000000000]
   expected result =  0.1617624191476943 [-02  +A5A50C2FD8428FC4]
   result          =  0.1617624191476944 [-02  +A5A50C2FD8429158]

conversion error - decimal input = -0.7924202145738349 [+00  -CADC0D1A48AF31FC]
                   hex input     = -0.7924202145738349 [+00  -CADC0D1A48AF32D4]

conversion error - decimal input = -0.6979294077706569 [+00  -B2AB806D4AA793FC]
                   hex input     = -0.6979294077706569 [+00  -B2AB806D4AA794EF]

double precision error: function SINE
   arg1            =  35.33002138137817 [+06  +8D51F12000000000]
   expected result = -0.6979294077706569 [+00  -B2AB806D4AA794EF]
   result          = -0.6979294077706569 [+00  -B2AB806D4AA79550]

conversion error - decimal input = -0.1590422157603434 [-02  -A2DBF66D7F0715E0]
                   hex input     = -0.1590422157603434 [-02  -A2DBF66D7F0716D1]

double precision error: function SINE
   arg1            =  9.584498405456543 [+04  +995A1B0000000000]
   expected result = -0.1590422157603434 [-02  -A2DBF66D7F0716D1]
   result          = -0.1590422157603434 [-02  -A2DBF66D7F071734]

conversion error - decimal input = -0.9376808349589210 [+00  -F00BD9E83C0AC60C]
                   hex input     = -0.9376808349589211 [+00  -F00BD9E83C0AC671]

conversion error - decimal input = -0.9186698242875089 [+00  -EB2DF213230D0108]
                   hex input     = -0.9186698242875089 [+00  -EB2DF213230D01C8]

conversion error - decimal input =  0.1246902673949275 [-03  +FF5D9C64B9C59318]
                   hex input     =  0.1246902673949275 [-03  +FF5D9C64B9C593C3]

single precision error: function SINE
   arg1            =  31.54094 [+05  +FC53D98000000000]
   expected result =  0.1246903 [-03  +FF5D9C64B9C593C3]
   result          =  0.1246899 [-03  +FF5D6EC000000000]

double precision error: function SINE
   arg1            =  31.54094219207764 [+05  +FC53D98000000000]
   expected result =  0.1246902673949275 [-03  +FF5D9C64B9C593C3]
   result          =  0.1246902673949275 [-03  +FF5D9C64B9C59544]

conversion error - decimal input =  0.8733797352313916 [+00  +DF95D077CED6D904]
                   hex input     =  0.8733797352313916 [+00  +DF95D077CED6D968]

double precision error: function SINE
   arg1            = -98.45147132873535 [+07  -C4E7274000000000]
   expected result =  0.8733797352313916 [+00  +DF95D077CED6D968]
   result          =  0.8733797352313916 [+00  +DF95D077CED6D9C4]

single precision error: function SINE
   arg1            =  56.03116 [+06  +E01FE74000000000]
   expected result = -0.4947196 [-01  -FD4BE3F3B74DFC01]
   result          = -0.4947199 [-01  -FD4BEE8000000000]

double precision error: function SINE
   arg1            =  56.03115558624268 [+06  +E01FE74000000000]
   expected result = -0.4947196230893063 [-01  -FD4BE3F3B74DFC01]
   result          = -0.4947196230893062 [-01  -FD4BE3F3B74DFAC4]

conversion error - decimal input = -0.4670706846171741 [-01  -EF23E386B3C278F8]
                   hex input     = -0.4670706846171741 [-01  -EF23E386B3C2798E]

conversion error - decimal input = -0.6334075822617668 [+00  -A226FFD2DA4BBF00]
                   hex input     = -0.6334075822617668 [+00  -A226FFD2DA4BBF42]

single precision error: function SINE
   arg1            =  99.84502 [+07  +C7B0A5F000000000]
   expected result = -0.6334076 [+00  -A226FFD2DA4BBF42]
   result          = -0.6334073 [+00  -A226FB6000000000]

double precision error: function SINE
   arg1            =  99.84501600265503 [+07  +C7B0A5F000000000]
   expected result = -0.6334075822617668 [+00  -A226FFD2DA4BBF42]
   result          = -0.6334075822617668 [+00  -A226FFD2DA4BBEF8]

conversion error - decimal input =  0.9636066505068853 [+00  +F6AEECEA229AC80C]
                   hex input     =  0.9636066505068853 [+00  +F6AEECEA229AC894]

conversion error - decimal input = -0.6858578056275316 [+00  -AF94608CE0671804]
                   hex input     = -0.6858578056275316 [+00  -AF94608CE06718C0]

single precision error: function SINE
   arg1            = -54.29813 [+06  -D931482000000000]
   expected result =  0.7777332 [+00  +C71985DE7E13A703]
   result          =  0.7777329 [+00  +C71980A000000000]

double precision error: function SINE
   arg1            = -54.29812669754028 [+06  -D931482000000000]
   expected result =  0.7777331989473867 [+00  +C71985DE7E13A703]
   result          =  0.7777331989473867 [+00  +C71985DE7E13A7B0]

conversion error - decimal input =  0.9327263606092596 [+00  +EEC7279EEF124900]
                   hex input     =  0.9327263606092596 [+00  +EEC7279EEF124975]

conversion error - decimal input = -0.8691809446327967 [+00  -DE82A47381166E00]
                   hex input     = -0.8691809446327967 [+00  -DE82A47381166E4D]

double precision error: function SINE
   arg1            =  68.06149482727051 [+07  +881F7C4000000000]
   expected result = -0.8691809446327967 [+00  -DE82A47381166E4D]
   result          = -0.8691809446327967 [+00  -DE82A47381166E00]

conversion error - decimal input =  0.4356234581016834 [-01  +DF0A09B3D5958E14]
                   hex input     =  0.4356234581016834 [-01  +DF0A09B3D5958E9F]

single precision error: function SINE
   arg1            = -60.14099 [+06  -F090600000000000]
   expected result =  0.4356235 [-01  +DF0A09B3D5958E9F]
   result          =  0.4356231 [-01  +DF09FF2000000000]

double precision error: function SINE
   arg1            = -60.14099121093750 [+06  -F090600000000000]
   expected result =  0.4356234581016834 [-01  +DF0A09B3D5958E9F]
   result          =  0.4356234581016834 [-01  +DF0A09B3D5958E04]

double precision error: function SINE
   arg1            = -77.53015756607056 [+07  -9B0F70D000000000]
   expected result = -0.8466503104411806 [+00  -D8BE13227E3CFC38]
   result          = -0.8466503104411806 [+00  -D8BE13227E3CFBD8]

conversion error - decimal input =  0.6580876096131471 [+00  +A8786DF930F7DDFC]
                   hex input     =  0.6580876096131471 [+00  +A8786DF930F7DE56]

double precision error: function SINE
   arg1            =  69.83331441879272 [+07  +8BAAA83000000000]
   expected result =  0.6580876096131471 [+00  +A8786DF930F7DE56]
   result          =  0.6580876096131471 [+00  +A8786DF930F7DED0]

conversion error - decimal input = -0.7832403414299035 [+00  -C8827063596C560C]
                   hex input     = -0.7832403414299035 [+00  -C8827063596C56EB]

conversion error - decimal input =  0.5742470551906522 [+00  +9301DAE1DE3F9D04]
                   hex input     =  0.5742470551906522 [+00  +9301DAE1DE3F9D83]

conversion error - decimal input = -0.2945246916210590 [-01  -96CBF0BCC0FD7810]
                   hex input     = -0.2945246916210590 [-01  -96CBF0BCC0FD78C5]

single precision error: function SINE
   arg1            =  75.09927 [+07  +9632D2F000000000]
   expected result = -0.2945247 [-01  -96CBF0BCC0FD78C5]
   result          = -0.2945243 [-01  -96CBE46000000000]

single precision error: function SINE
   arg1            =  31.34449 [+05  +FAC1818000000000]
   expected result = -0.07138050 [-03  -922FF0350882D436]
   result          = -0.07138058 [-03  -922FFB2000000000]

double precision error: function SINE
   arg1            =  31.34448528289795 [+05  +FAC1818000000000]
   expected result = -0.07138049756855606 [-03  -922FF0350882D436]
   result          = -0.07138049756855605 [-03  -922FF0350882D144]

conversion error - decimal input =  0.9972850321625081 [+00  +FF4E1265EDA3CA00]
                   hex input     =  0.9972850321625081 [+00  +FF4E1265EDA3CAB9]

single precision error: function SINE
   arg1            = -90.63637 [+07  -B545D2A000000000]
   expected result = -0.4527208 [-01  -E7CB050522ACE80A]
   result          = -0.4527210 [-01  -E7CB0AA000000000]

double precision error: function SINE
   arg1            = -90.63637256622314 [+07  -B545D2A000000000]
   expected result = -0.4527207916993009 [-01  -E7CB050522ACE80A]
   result          = -0.4527207916993008 [-01  -E7CB050522ACE6E0]

conversion error - decimal input = -0.6001518761731202 [+00  -99A38DA8CBED83FC]
                   hex input     = -0.6001518761731202 [+00  -99A38DA8CBED84D4]

conversion error - decimal input =  0.01633518994003798 [-05  +85D16052200AA9FC]
                   hex input     =  0.01633518994003798 [-05  +85D16052200AAACA]

single precision error: function SINE
   arg1            = -18.83322 [+05  -96AA6F4000000000]
   expected result =  0.01633519 [-05  +85D16052200AAACA]
   result          =  0.01633527 [-05  +85D18B4000000000]

double precision error: function SINE
   arg1            = -18.83322000503540 [+05  -96AA6F4000000000]
   expected result =  0.01633518994003798 [-05  +85D16052200AAACA]
   result          =  0.01633518994003798 [-05  +85D16052200AA87C]

conversion error - decimal input = -0.8291907791652574 [+00  -D445D8CEA8D78704]
                   hex input     = -0.8291907791652574 [+00  -D445D8CEA8D78764]

conversion error - decimal input =  0.7546749459335567 [+00  +C1326093E52B7404]
                   hex input     =  0.7546749459335567 [+00  +C1326093E52B745C]

double precision error: function SINE
   arg1            = -85.67816019058228 [+07  -AB5B37D000000000]
   expected result =  0.7546749459335567 [+00  +C1326093E52B745C]
   result          =  0.7546749459335567 [+00  +C1326093E52B7514]

conversion error - decimal input = -0.8219126771750684 [+00  -D268DE84A27D4EFC]
                   hex input     = -0.8219126771750684 [+00  -D268DE84A27D4FC5]

conversion error - decimal input =  0.1695059928225293 [-02  +AD92FA9E9858401C]
                   hex input     =  0.1695059928225293 [-02  +AD92FA9E985840D1]

single precision error: function SINE
   arg1            = -34.72785 [+06  -8AE950E000000000]
   expected result =  0.1695060 [-02  +AD92FA9E985840D1]
   result          =  0.1695057 [-02  +AD92E3E000000000]

double precision error: function SINE
   arg1            = -34.72784757614136 [+06  -8AE950E000000000]
   expected result =  0.1695059928225293 [-02  +AD92FA9E985840D1]
   result          =  0.1695059928225293 [-02  +AD92FA9E98584158]

conversion error - decimal input =  0.9818728894587523 [+00  +FB5C058D0DEAD3FC]
                   hex input     =  0.9818728894587524 [+00  +FB5C058D0DEAD4E6]

conversion error - decimal input = -0.7354515531277758 [+00  -BC468D9079E87700]
                   hex input     = -0.7354515531277758 [+00  -BC468D9079E877CC]

double precision error: function SINE
   arg1            =  54.23340797424316 [+06  +D8EF028000000000]
   expected result = -0.7354515531277758 [+00  -BC468D9079E877CC]
   result          = -0.7354515531277758 [+00  -BC468D9079E8783C]

single precision error: function SINE
   arg1            =  47.37437 [+06  +BD7F5A4000000000]
   expected result = -0.2478670 [-02  -FDD0D7B81DAAF621]
   result          = -0.2478669 [-02  -FDD0CFE000000000]

double precision error: function SINE
   arg1            = -99.27533864974976 [+07  -C68CF93000000000]
   expected result =  0.9507436772584459 [+00  +F363F008B42C831E]
   result          =  0.9507436772584459 [+00  +F363F008B42C82D0]

double precision error: function SINE
   arg1            = -47.76376485824585 [+06  -BF0E186000000000]
   expected result =  0.5970952183645557 [+00  +98DB3B737947611A]
   result          =  0.5970952183645557 [+00  +98DB3B737947615C]

conversion error - decimal input = -0.9089103487625783 [+00  -E8AE593EEE64F0FC]
                   hex input     = -0.9089103487625783 [+00  -E8AE593EEE64F1CA]

conversion error - decimal input = -0.9407205861314992 [+00  -F0D310781BD66604]
                   hex input     = -0.9407205861314992 [+00  -F0D310781BD666BC]

conversion error - decimal input = -0.6167428392859774 [+00  -9DE2DBD4C68459FC]
                   hex input     = -0.6167428392859774 [+00  -9DE2DBD4C6845AC7]

conversion error - decimal input = -0.7861041495404570 [+00  -C93E1F1D86B22B04]
                   hex input     = -0.7861041495404570 [+00  -C93E1F1D86B22BC7]

single precision error: function SINE
   arg1            =  31.64459 [+05  +FD28214000000000]
   expected result =  0.2266805 [-02  +E81EF0B9C3150927]
   result          =  0.2266804 [-02  +E81EE7E000000000]

conversion error - decimal input = -0.8444272609731172 [+00  -D82C628DBAFB360C]
                   hex input     = -0.8444272609731173 [+00  -D82C628DBAFB36FA]

single precision error: function SINE
   arg1            =  60.69576 [+06  +F2C8742000000000]
   expected result = -0.8444273 [+00  -D82C628DBAFB36FA]
   result          = -0.8444269 [+00  -D82C5CE000000000]

double precision error: function SINE
   arg1            =  60.69575548171997 [+06  +F2C8742000000000]
   expected result = -0.8444272609731173 [+00  -D82C628DBAFB36FA]
   result          = -0.8444272609731173 [+00  -D82C628DBAFB374C]

conversion error - decimal input =  0.9764126550991580 [+00  +F9F62E050D294AF8]
                   hex input     =  0.9764126550991580 [+00  +F9F62E050D294BD7]

double precision error: function SINE
   arg1            = -80.58613538742065 [+07  -A12C19F000000000]
   expected result =  0.8890535397841759 [+00  +E3990345C41D2E28]
   result          =  0.8890535397841759 [+00  +E3990345C41D2DCC]

conversion error - decimal input =  0.1093711467452548 [-03  +DFFDFAD32CD2BCD8]
                   hex input     =  0.1093711467452548 [-03  +DFFDFAD32CD2BD1C]

conversion error - decimal input =  0.7348751945421956 [+00  +BC20C7DF334B4B08]
                   hex input     =  0.7348751945421956 [+00  +BC20C7DF334B4B89]

conversion error - decimal input = -0.5559764166796765 [+00  -8E54786EFC89EC08]
                   hex input     = -0.5559764166796765 [+00  -8E54786EFC89EC9F]

conversion error - decimal input = -0.9992511086264892 [+00  -FFCEEBB00AE23D08]
                   hex input     = -0.9992511086264892 [+00  -FFCEEBB00AE23DEE]

conversion error - decimal input = -0.3688990993290954 [-01  -BCE057BE48DE3810]
                   hex input     = -0.3688990993290954 [-01  -BCE057BE48DE38AE]

conversion error - decimal input =  0.1457310635252356 [-02  +953A861F68A34C08]
                   hex input     =  0.1457310635252356 [-02  +953A861F68A34C54]

conversion error - decimal input = -0.9981196484607169 [+00  -FF84C4EFA2407400]
                   hex input     = -0.9981196484607169 [+00  -FF84C4EFA24074E1]

conversion error - decimal input =  0.6852332302955328 [+00  +AF6B71EA4072A908]
                   hex input     =  0.6852332302955328 [+00  +AF6B71EA4072A9A4]

conversion error - decimal input = -0.04589367765340870 [-04  -BBFB0249D53914FC]
                   hex input     = -0.04589367765340870 [-04  -BBFB0249D539158B]

single precision error: function COSINE
   arg1            =  4.666479 [+03  +9553CC2396780000]
   expected result = -0.04589368 [-04  -BBFB0249D539158B]
   result          = -0.04589371 [-04  -BBFB0A6000000000]

conversion error - decimal input = -0.9981212359857611 [+00  -FF84DF92007F4B00]
                   hex input     = -0.9981212359857611 [+00  -FF84DF92007F4BAE]

conversion error - decimal input =  0.2542041922242891 [-01  +82270D483805CC14]
                   hex input     =  0.2542041922242891 [-01  +82270D483805CCF8]

conversion error - decimal input =  0.9781432878942627 [+00  +FA6799384ECA1100]
                   hex input     =  0.9781432878942627 [+00  +FA6799384ECA11B5]

conversion error - decimal input =  0.4148114531114815 [-01  +D4622AB23D773EF4]
                   hex input     =  0.4148114531114815 [-01  +D4622AB23D773FC6]

single precision error: function COSINE
   arg1            =  4.854621 [+03  +9B590E5A4E3C0000]
   expected result =  0.1417530 [-02  +9127B5FBAD639702]
   result          =  0.1417530 [-02  +9127B1C000000000]

double precision error: function COSINE
   arg1            =  4.854621101740008 [+03  +9B590E5A4E3C0000]
   expected result =  0.1417530474530825 [-02  +9127B5FBAD639702]
   result          =  0.1417530474530824 [-02  +9127B5FBAD6396B8]

conversion error - decimal input =  0.9149117882644127 [+00  +EA37A8B1520E3000]
                   hex input     =  0.9149117882644127 [+00  +EA37A8B1520E30CA]

conversion error - decimal input = -0.9827629860593190 [+00  -FB965AE4D8159000]
                   hex input     = -0.9827629860593190 [+00  -FB965AE4D81590E5]

conversion error - decimal input =  0.9550987223303465 [+00  +F4815990DC3794FC]
                   hex input     =  0.9550987223303465 [+00  +F4815990DC3795B7]

conversion error - decimal input =  0.9519797572492264 [+00  +F3B4F203D6E5F20C]
                   hex input     =  0.9519797572492264 [+00  +F3B4F203D6E5F2E9]

conversion error - decimal input = -0.9744325481589392 [+00  -F974695680269AFC]
                   hex input     = -0.9744325481589393 [+00  -F974695680269B79]

conversion error - decimal input =  0.6146451611757694 [+00  +9D5962A1E50319FC]
                   hex input     =  0.6146451611757694 [+00  +9D5962A1E5031AE0]

conversion error - decimal input =  0.9453801005915344 [+00  +F2046E26546FC604]
                   hex input     =  0.9453801005915344 [+00  +F2046E26546FC6AF]

conversion error - decimal input = -0.9291035316696889 [+00  -EDD9BAA31E91ED04]
                   hex input     = -0.9291035316696889 [+00  -EDD9BAA31E91EDCB]

conversion error - decimal input = -0.8896915671373181 [+00  -E3C2D39861BBA500]
                   hex input     = -0.8896915671373181 [+00  -E3C2D39861BBA58A]

conversion error - decimal input = -0.7938287701399950 [+00  -CB385CBE600BC804]
                   hex input     = -0.7938287701399950 [+00  -CB385CBE600BC872]

double precision error: function COSINE
   arg1            =  4.850571314372473 [+03  +9B37E15544A80000]
   expected result =  0.1377430031554116 [-02  +8D0C807738A53A16]
   result          =  0.1377430031554116 [-02  +8D0C807738A53A68]

conversion error - decimal input = -0.8392505748514174 [+00  -D6D9202C22D35DFC]
                   hex input     = -0.8392505748514174 [+00  -D6D9202C22D35EBE]

conversion error - decimal input = -0.2710414115681397 [-01  -8AC5F09D17FAE808]
                   hex input     = -0.2710414115681397 [-01  -8AC5F09D17FAE860]

conversion error - decimal input =  0.9997627998918121 [+00  +FFF074714AF00A00]
                   hex input     =  0.9997627998918121 [+00  +FFF074714AF00AE7]

conversion error - decimal input =  0.4681010516604525 [-01  +EFAAF0E835AEDF08]
                   hex input     =  0.4681010516604525 [-01  +EFAAF0E835AEDFEC]

conversion error - decimal input =  0.08984402660292739 [-03  +B800252001145B04]
                   hex input     =  0.08984402660292739 [-03  +B800252001145B5D]

single precision error: function COSINE
   arg1            =  4.802354 [+03  +99ACE2F636580000]
   expected result =  0.08984403 [-03  +B800252001145B5D]
   result          =  0.08984398 [-03  +B8001F8000000000]

double precision error: function COSINE
   arg1            =  4.802354317553863 [+03  +99ACE2F636580000]
   expected result =  0.08984402660292739 [-03  +B800252001145B5D]
   result          =  0.08984402660292739 [-03  +B800252001145A90]

conversion error - decimal input = -0.8975195125293236 [+00  -E5C3D6B9D5D6B100]
                   hex input     = -0.8975195125293236 [+00  -E5C3D6B9D5D6B154]

conversion error - decimal input = -0.7021898980486434 [+00  -B3C2B797B353CD00]
                   hex input     = -0.7021898980486434 [+00  -B3C2B797B353CDD9]

conversion error - decimal input =  0.8981949453866011 [+00  +E5F01A9BDE327EF8]
                   hex input     =  0.8981949453866012 [+00  +E5F01A9BDE327F64]

conversion error - decimal input = -0.3650604030790292 [-01  -BAE9327893F8DFF4]
                   hex input     = -0.3650604030790292 [-01  -BAE9327893F8E07F]

conversion error - decimal input =  0.1759821435411739 [-02  +B434A9BCC1DCFCE8]
                   hex input     =  0.1759821435411739 [-02  +B434A9BCC1DCFDF6]

conversion error - decimal input = -0.9999527057345771 [+00  -FFFCE688AD3D8DFC]
                   hex input     = -0.9999527057345772 [+00  -FFFCE688AD3D8EEA]

conversion error - decimal input = -0.05337699942901063 [-04  -DAA1D72E7FD77600]
                   hex input     = -0.05337699942901063 [-04  -DAA1D72E7FD776B2]

single precision error: function COSINE
   arg1            =  4.658987 [+03  +95166B122C2C0000]
   expected result = -0.05337700 [-04  -DAA1D72E7FD776B2]
   result          = -0.05337703 [-04  -DAA1DF4000000000]

conversion error - decimal input =  0.7455597699650473 [+00  +BEDD014D3691B9FC]
                   hex input     =  0.7455597699650473 [+00  +BEDD014D3691BA55]

conversion error - decimal input = -0.3067982155184544 [-01  -9D14A7DC3EEF8EF4]
                   hex input     = -0.3067982155184544 [-01  -9D14A7DC3EEF8FF3]

conversion error - decimal input = -0.5795924233771566 [+00  -94602B476A0DD1FC]
                   hex input     = -0.5795924233771566 [+00  -94602B476A0DD2E4]

conversion error - decimal input = -0.7847362271771640 [+00  -C8E4792FB65C4C00]
                   hex input     = -0.7847362271771640 [+00  -C8E4792FB65C4C41]

conversion error - decimal input =  0.9954381522391062 [+00  +FED508E50EC0D900]
                   hex input     =  0.9954381522391062 [+00  +FED508E50EC0D9E1]

conversion error - decimal input =  0.2763899243676932 [-01  +8D82FAEC34D0D4F0]
                   hex input     =  0.2763899243676932 [-01  +8D82FAEC34D0D5CE]

conversion error - decimal input = -0.4024731802196665 [-01  -CE10F6F51F049100]
                   hex input     = -0.4024731802196665 [-01  -CE10F6F51F049168]

conversion error - decimal input =  0.2764191385100278 [-01  +8D86CF2FC73357F0]
                   hex input     =  0.2764191385100278 [-01  +8D86CF2FC73358B6]

conversion error - decimal input = -0.2308435077236728 [-02  -EC623D90AB1BC21C]
                   hex input     = -0.2308435077236728 [-02  -EC623D90AB1BC2AA]

conversion error - decimal input = -0.8604514226663152 [+00  -DC468B602603E80C]
                   hex input     = -0.8604514226663153 [+00  -DC468B602603E868]

conversion error - decimal input =  0.5070222692918607 [+00  +81CC3620F3C67304]
                   hex input     =  0.5070222692918607 [+00  +81CC3620F3C673DF]

conversion error - decimal input =  0.9414871156067202 [+00  +F1054CB322E042FC]
                   hex input     =  0.9414871156067202 [+00  +F1054CB322E0438C]

conversion error - decimal input =  0.7327974388974637 [+00  +BB989CEAA83BF400]
                   hex input     =  0.7327974388974637 [+00  +BB989CEAA83BF4C5]

conversion error - decimal input =  0.9335705290081922 [+00  +EEFE7A6A997FB504]
                   hex input     =  0.9335705290081922 [+00  +EEFE7A6A997FB549]

conversion error - decimal input =  0.5058866843719190 [+00  +8181CA2CDBF8E4FC]
                   hex input     =  0.5058866843719190 [+00  +8181CA2CDBF8E546]

conversion error - decimal input = -0.8895133545802391 [+00  -E3B725AF47024E08]
                   hex input     = -0.8895133545802391 [+00  -E3B725AF47024E87]

conversion error - decimal input =  0.8940381437869152 [+00  +E4DFAF0CF0FC1400]
                   hex input     =  0.8940381437869152 [+00  +E4DFAF0CF0FC1459]

conversion error - decimal input = -0.7601681409883478 [+00  -C29A6119018DDA04]
                   hex input     = -0.7601681409883478 [+00  -C29A6119018DDA7F]

conversion error - decimal input = -0.9265462090968216 [+00  -ED3221E24DBA7500]
                   hex input     = -0.9265462090968216 [+00  -ED3221E24DBA7561]

conversion error - decimal input =  0.4796526303319956 [-01  +F59507916EBEB4FC]
                   hex input     =  0.4796526303319956 [-01  +F59507916EBEB581]

conversion error - decimal input =  0.8262054004133251 [+00  +D38232768DC6E604]
                   hex input     =  0.8262054004133251 [+00  +D38232768DC6E6AE]

conversion error - decimal input = -0.9882343711858939 [+00  -FCFCED8106CB4408]
                   hex input     = -0.9882343711858939 [+00  -FCFCED8106CB4495]

conversion error - decimal input = -0.3916994850894580 [-01  -C88CD5BCA3764510]
                   hex input     = -0.3916994850894580 [-01  -C88CD5BCA37645F2]

conversion error - decimal input = -0.6624458402975895 [+00  -A9960CF3730AF408]
                   hex input     = -0.6624458402975895 [+00  -A9960CF3730AF4E7]

conversion error - decimal input =  0.9791205410863164 [+00  +FAA7A4CECEBBCEF8]
                   hex input     =  0.9791205410863164 [+00  +FAA7A4CECEBBCFFD]

conversion error - decimal input =  0.8914690530016594 [+00  +E43750DC09C8A504]
                   hex input     =  0.8914690530016594 [+00  +E43750DC09C8A5EF]

conversion error - decimal input = -0.7564175267261181 [+00  -C1A4943B68EE17FC]
                   hex input     = -0.7564175267261181 [+00  -C1A4943B68EE18E4]

conversion error - decimal input =  0.9664760582941677 [+00  +F76AF996BD8D73FC]
                   hex input     =  0.9664760582941677 [+00  +F76AF996BD8D7475]

conversion error - decimal input =  0.1256516566069543 [-02  +80AAD3EF42A747E8]
                   hex input     =  0.1256516566069543 [-02  +80AAD3EF42A7487A]

conversion error - decimal input = -0.9557363967424866 [+00  -F4AB23F79B19B200]
                   hex input     = -0.9557363967424866 [+00  -F4AB23F79B19B27E]

conversion error - decimal input = -0.9819795170443742 [+00  -FB6302770C267200]
                   hex input     = -0.9819795170443742 [+00  -FB6302770C2672E0]

conversion error - decimal input = -0.9699372369237789 [+00  -F84DCE87C29EB000]
                   hex input     = -0.9699372369237789 [+00  -F84DCE87C29EB08F]

conversion error - decimal input =  0.1790466312744051 [-02  +B7580007215267F8]
                   hex input     =  0.1790466312744052 [-02  +B758000721526867]

conversion error - decimal input = -0.2639333678919538 [-01  -8722463ED6916410]
                   hex input     = -0.2639333678919538 [-01  -8722463ED6916475]

conversion error - decimal input =  0.8016388677752630 [+00  +CD3834704C16CD0C]
                   hex input     =  0.8016388677752630 [+00  +CD3834704C16CDCB]

conversion error - decimal input =  0.9717401060631787 [+00  +F8C3F5A7C0BF9FFC]
                   hex input     =  0.9717401060631787 [+00  +F8C3F5A7C0BFA09C]

conversion error - decimal input = -0.1155891596968319 [-03  -ECBA02655C307FCC]
                   hex input     = -0.1155891596968319 [-03  -ECBA02655C308093]

conversion error - decimal input = -0.9725547460105899 [+00  -F8F9590BAF60BE00]
                   hex input     = -0.9725547460105899 [+00  -F8F9590BAF60BE71]

double precision error: function COSINE
   arg1            = -75.01264810562134 [+07  -960679D000000000]
   expected result =  0.9265821146358658 [+00  +ED347C476B68B915]
   result          =  0.9265821146358658 [+00  +ED347C476B68B978]

conversion error - decimal input = -0.7288788909203326 [+00  -BA97CE973F61630C]
                   hex input     = -0.7288788909203326 [+00  -BA97CE973F61634E]

double precision error: function COSINE
   arg1            = -47.87800312042236 [+06  -BF83134000000000]
   expected result = -0.7288788909203326 [+00  -BA97CE973F61634E]
   result          = -0.7288788909203326 [+00  -BA97CE973F6162C4]

conversion error - decimal input = -0.9445784730801668 [+00  -F1CFE512628AF6FC]
                   hex input     = -0.9445784730801668 [+00  -F1CFE512628AF766]

double precision error: function COSINE
   arg1            = -85.15748977661133 [+07  -AA50A28000000000]
   expected result = -0.9445784730801668 [+00  -F1CFE512628AF766]
   result          = -0.9445784730801668 [+00  -F1CFE512628AF710]

conversion error - decimal input =  0.4661689747083430 [-01  +EEADB329907A7D08]
                   hex input     =  0.4661689747083430 [-01  +EEADB329907A7DD0]

single precision error: function COSINE
   arg1            =  57.63451 [+06  +E689BCA000000000]
   expected result =  0.4661690 [-01  +EEADB329907A7DD0]
   result          =  0.4661693 [-01  +EEADBF8000000000]

double precision error: function COSINE
   arg1            =  57.63450860977173 [+06  +E689BCA000000000]
   expected result =  0.4661689747083430 [-01  +EEADB329907A7DD0]
   result          =  0.4661689747083431 [-01  +EEADB329907A7F24]

conversion error - decimal input = -0.7466943764481978 [+00  -BF275CD6F3BE45F8]
                   hex input     = -0.7466943764481978 [+00  -BF275CD6F3BE466C]

single precision error: function COSINE
   arg1            = -41.56842 [+06  -A646108000000000]
   expected result = -0.7466944 [+00  -BF275CD6F3BE466C]
   result          = -0.7466947 [+00  -BF27624000000000]

double precision error: function COSINE
   arg1            = -41.56842231750488 [+06  -A646108000000000]
   expected result = -0.7466943764481978 [+00  -BF275CD6F3BE466C]
   result          = -0.7466943764481978 [+00  -BF275CD6F3BE460C]

double precision error: function COSINE
   arg1            = -88.91720771789551 [+07  -B1D59C4000000000]
   expected result =  0.5795553112330976 [+00  +945DBCA3F821251C]
   result          =  0.5795553112330976 [+00  +945DBCA3F821244C]

conversion error - decimal input = -0.9785701482118436 [+00  -FA8392BF6967DD00]
                   hex input     = -0.9785701482118436 [+00  -FA8392BF6967DD60]

conversion error - decimal input = -0.3855898936288987 [-01  -C56C09DD9BC527F8]
                   hex input     = -0.3855898936288987 [-01  -C56C09DD9BC528B0]

double precision error: function COSINE
   arg1            = -89.93123769760132 [+07  -B3DCCB3000000000]
   expected result = -0.3855898936288987 [-01  -C56C09DD9BC528B0]
   result          = -0.3855898936288987 [-01  -C56C09DD9BC529D8]

conversion error - decimal input = -0.9847120579731228 [+00  -FC1616E4F8AEE0FC]
                   hex input     = -0.9847120579731228 [+00  -FC1616E4F8AEE1CF]

conversion error - decimal input =  0.6248745552230317 [+00  +9FF7C762C9146200]
                   hex input     =  0.6248745552230317 [+00  +9FF7C762C9146260]

single precision error: function COSINE
   arg1            =  86.44117 [+07  +ACE1E13000000000]
   expected result =  0.04735548 [-04  +C1F7D16543F8A825]
   result          =  0.04735518 [-04  +C1F7800000000000]

double precision error: function COSINE
   arg1            =  86.44117116928101 [+07  +ACE1E13000000000]
   expected result =  0.04735547824043188 [-04  +C1F7D16543F8A825]
   result          =  0.04735547824043189 [-04  +C1F7D16543F8B0A4]

conversion error - decimal input =  0.8770977778074912 [+00  +E0897ADF13D3B600]
                   hex input     =  0.8770977778074912 [+00  +E0897ADF13D3B6F0]

single precision error: function COSINE
   arg1            =  32.94548 [+06  +83C82B6000000000]
   expected result =  0.04123321 [-04  +A8E426CD17312739]
   result          =  0.04123314 [-04  +A8E414E000000000]

double precision error: function COSINE
   arg1            =  32.94547796249390 [+06  +83C82B6000000000]
   expected result =  0.04123320728963290 [-04  +A8E426CD17312739]
   result          =  0.04123320728963290 [-04  +A8E426CD173125B8]

double precision error: function COSINE
   arg1            = -88.57676982879639 [+07  -B1274E6000000000]
   expected result =  0.8183997898023526 [+00  +D182A60C411EF713]
   result          =  0.8183997898023526 [+00  +D182A60C411EF6C0]

conversion error - decimal input = -0.9824611501811308 [+00  -FB8292ED9E5616F8]
                   hex input     = -0.9824611501811308 [+00  -FB8292ED9E56176A]

conversion error - decimal input =  0.9327610982202825 [+00  +EEC96E6BD64FEEFC]
                   hex input     =  0.9327610982202825 [+00  +EEC96E6BD64FEF47]

conversion error - decimal input = -0.2650497869343299 [-01  -87B49B0D63B1B110]
                   hex input     = -0.2650497869343299 [-01  -87B49B0D63B1B183]

double precision error: function COSINE
   arg1            =  60.99280118942261 [+06  +F3F8A0E000000000]
   expected result = -0.2650497869343299 [-01  -87B49B0D63B1B183]
   result          = -0.2650497869343299 [-01  -87B49B0D63B1B34C]

conversion error - decimal input =  0.9777243828873274 [+00  +FA4C252900BAFC00]
                   hex input     =  0.9777243828873274 [+00  +FA4C252900BAFCC2]

conversion error - decimal input =  0.3926496157967542 [-01  +C9095ED5449ED104]
                   hex input     =  0.3926496157967542 [-01  +C9095ED5449ED1B3]

single precision error: function COSINE
   arg1            =  89.13188 [+07  +B24385C000000000]
   expected result =  0.3926496 [-01  +C9095ED5449ED1B3]
   result          =  0.3926499 [-01  +C909678000000000]

double precision error: function COSINE
   arg1            =  89.13187980651855 [+07  +B24385C000000000]
   expected result =  0.3926496157967542 [-01  +C9095ED5449ED1B3]
   result          =  0.3926496157967542 [-01  +C9095ED5449ED2D8]

double precision error: function COSINE
   arg1            =  50.58790445327759 [+06  +CA5A03A000000000]
   expected result =  0.9484707557893890 [+00  +F2CEFABD53EC8F26]
   result          =  0.9484707557893890 [+00  +F2CEFABD53EC8F70]

conversion error - decimal input =  0.9899499246844842 [+00  +FD6D5BB73290D808]
                   hex input     =  0.9899499246844842 [+00  +FD6D5BB73290D86C]

conversion error - decimal input = -0.4271305293346817 [-01  -DAB0DA4D3B3361FC]
                   hex input     = -0.4271305293346817 [-01  -DAB0DA4D3B336284]

double precision error: function COSINE
   arg1            =  39.71122503280640 [+06  +9ED84B6000000000]
   expected result = -0.4271305293346817 [-01  -DAB0DA4D3B336284]
   result          = -0.4271305293346817 [-01  -DAB0DA4D3B3361B8]

conversion error - decimal input = -0.7322500840324919 [+00  -BB74BDD369AD8B04]
                   hex input     = -0.7322500840324919 [+00  -BB74BDD369AD8B93]

conversion error - decimal input =  0.9994061375594994 [+00  +FFD914A43D5EC0FC]
                   hex input     =  0.9994061375594994 [+00  +FFD914A43D5EC171]

conversion error - decimal input =  0.8600318565735459 [+00  +DC2B0C3980651104]
                   hex input     =  0.8600318565735459 [+00  +DC2B0C39806511DE]

double precision error: function COSINE
   arg1            =  43.13528537750244 [+06  +AC8A884000000000]
   expected result =  0.6622251924611532 [+00  +A9879718353CC621]
   result          =  0.6622251924611532 [+00  +A9879718353CC5BC]

single precision error: function COSINE
   arg1            = -48.45822 [+06  -C1D5374000000000]
   expected result = -0.2342700 [-02  -EFE476752417582F]
   result          = -0.2342702 [-02  -EFE48A2000000000]

double precision error: function COSINE
   arg1            = -48.45821857452393 [+06  -C1D5374000000000]
   expected result = -0.2342699536320859 [-02  -EFE476752417582F]
   result          = -0.2342699536320859 [-02  -EFE47675241755E0]

conversion error - decimal input = -0.2287266102193605 [-02  -EA374EFA77E726E4]
                   hex input     = -0.2287266102193605 [-02  -EA374EFA77E727B0]

conversion error - decimal input = -0.8361126903336638 [+00  -D60B7B34C0EFF5FC]
                   hex input     = -0.8361126903336638 [+00  -D60B7B34C0EFF679]

double precision error: function COSINE
   arg1            =  72.83726930618286 [+07  +91ACAE9000000000]
   expected result = -0.8361126903336638 [+00  -D60B7B34C0EFF679]
   result          = -0.8361126903336638 [+00  -D60B7B34C0EFF628]

conversion error - decimal input = -0.4536364426594645 [-01  -E843092AFE0B3810]
                   hex input     = -0.4536364426594645 [-01  -E843092AFE0B389A]

conversion error - decimal input =  0.6462874021279324 [+00  +A5731757F4CE2508]
                   hex input     =  0.6462874021279324 [+00  +A5731757F4CE25B6]

conversion error - decimal input = -0.3613311589927643 [-01  -B90065CDCCA55EF4]
                   hex input     = -0.3613311589927644 [-01  -B90065CDCCA55F48]

single precision error: function COSINE
   arg1            =  96.18827 [+07  +C060651000000000]
   expected result = -0.3613312 [-01  -B90065CDCCA55F48]
   result          = -0.3613307 [-01  -B900564000000000]

double precision error: function COSINE
   arg1            =  96.18827104568481 [+07  +C060651000000000]
   expected result = -0.3613311589927644 [-01  -B90065CDCCA55F48]
   result          = -0.3613311589927644 [-01  -B90065CDCCA56080]

conversion error - decimal input = -0.9655958069285823 [+00  -F731496BE9B9C808]
                   hex input     = -0.9655958069285823 [+00  -F731496BE9B9C885]

conversion error - decimal input = -0.3421242432264290 [-01  -AF2AE8A7A70BD708]
                   hex input     = -0.3421242432264290 [-01  -AF2AE8A7A70BD786]

single precision error: function COSINE
   arg1            = -89.88457 [+07  -B3C4E60000000000]
   expected result = -0.3421242 [-01  -AF2AE8A7A70BD786]
   result          = -0.3421245 [-01  -AF2AF04000000000]

double precision error: function COSINE
   arg1            = -89.88456726074219 [+07  -B3C4E60000000000]
   expected result = -0.3421242432264290 [-01  -AF2AE8A7A70BD786]
   result          = -0.3421242432264290 [-01  -AF2AE8A7A70BD7EC]

conversion error - decimal input =  0.4831684421850673 [-01  +F761DAA349CB8114]
                   hex input     =  0.4831684421850673 [-01  +F761DAA349CB81A8]

single precision error: function COSINE
   arg1            = -36.63259 [+06  -9287C48000000000]
   expected result =  0.4831684 [-01  +F761DAA349CB81A8]
   result          =  0.4831681 [-01  +F761CE8000000000]

double precision error: function COSINE
   arg1            = -36.63258552551270 [+06  -9287C48000000000]
   expected result =  0.4831684421850673 [-01  +F761DAA349CB81A8]
   result          =  0.4831684421850673 [-01  +F761DAA349CB82D8]

conversion error - decimal input =  0.6170456412164599 [+00  +9DF6B40129FED708]
                   hex input     =  0.6170456412164599 [+00  +9DF6B40129FED74D]

single precision error: function COSINE
   arg1            =  24.22693 [+05  +C1D0BF8000000000]
   expected result =  0.6170456 [+00  +9DF6B40129FED74D]
   result          =  0.6170454 [+00  +9DF6AFE000000000]

double precision error: function COSINE
   arg1            =  24.22692775726318 [+05  +C1D0BF8000000000]
   expected result =  0.6170456412164599 [+00  +9DF6B40129FED74D]
   result          =  0.6170456412164599 [+00  +9DF6B40129FED7A4]

conversion error - decimal input =  0.8802191572837676 [+00  +E1560AEDD8B1BEF8]
                   hex input     =  0.8802191572837676 [+00  +E1560AEDD8B1BF99]

double precision error: function COSINE
   arg1            = -69.60951089859009 [+07  -8B3811D000000000]
   expected result =  0.8802191572837676 [+00  +E1560AEDD8B1BF99]
   result          =  0.8802191572837676 [+00  +E1560AEDD8B1BF00]

conversion error - decimal input = -0.6539454980749875 [+00  -A768F8DF9937710C]
                   hex input     = -0.6539454980749875 [+00  -A768F8DF99377179]

single precision error: function COSINE
   arg1            = -58.83225 [+06  -EB5439E000000000]
   expected result = -0.6539455 [+00  -A768F8DF99377179]
   result          = -0.6539450 [+00  -A768F00000000000]

double precision error: function COSINE
   arg1            = -58.83225202560425 [+06  -EB5439E000000000]
   expected result = -0.6539454980749875 [+00  -A768F8DF99377179]
   result          = -0.6539454980749875 [+00  -A768F8DF9937720C]

conversion error - decimal input = -0.9930558211710804 [+00  -FE38E803083F37FC]
                   hex input     = -0.9930558211710804 [+00  -FE38E803083F3874]

conversion error - decimal input =  0.5385558512200515 [+00  +89DECBD80F3F8404]
                   hex input     =  0.5385558512200515 [+00  +89DECBD80F3F845C]

single precision error: function COSINE
   arg1            = -55.54659 [+06  -DE2FB64000000000]
   expected result =  0.5385559 [+00  +89DECBD80F3F845C]
   result          =  0.5385556 [+00  +89DEC70000000000]

double precision error: function COSINE
   arg1            = -55.54659366607666 [+06  -DE2FB64000000000]
   expected result =  0.5385558512200515 [+00  +89DECBD80F3F845C]
   result          =  0.5385558512200515 [+00  +89DECBD80F3F84F0]

single precision error: function COSINE
   arg1            =  52.83668 [+06  +D358C2C000000000]
   expected result = -0.8416879 [+00  -D778DBFF1CC4A911]
   result          = -0.8416877 [+00  -D778D7A000000000]

conversion error - decimal input = -0.3405234484828375 [-01  -AE5916E58285E204]
                   hex input     = -0.3405234484828375 [-01  -AE5916E58285E2C0]

double precision error: function COSINE
   arg1            = -23.21447134017944 [+05  -B9B73CC000000000]
   expected result = -0.3405234484828375 [-01  -AE5916E58285E2C0]
   result          = -0.3405234484828375 [-01  -AE5916E58285E268]

conversion error - decimal input =  0.9994623093786334 [+00  +FFDCC30C5DA94B08]
                   hex input     =  0.9994623093786334 [+00  +FFDCC30C5DA94B8B]

single precision error: function COSINE
   arg1            =  65.15560 [+07  +824FAB0000000000]
   expected result = -0.6837958 [+00  -AF0D3DF64FE2B738]
   result          = -0.6837955 [+00  -AF0D382000000000]

double precision error: function COSINE
   arg1            =  65.15560150146484 [+07  +824FAB0000000000]
   expected result = -0.6837958074901377 [+00  -AF0D3DF64FE2B738]
   result          = -0.6837958074901377 [+00  -AF0D3DF64FE2B79C]

conversion error - decimal input =  0.3887423256600619 [-01  +C7093BEE8FD85404]
                   hex input     =  0.3887423256600619 [-01  +C7093BEE8FD85477]

conversion error - decimal input = -0.6652475136684410 [+00  -AA4DA93AF3863C08]
                   hex input     = -0.6652475136684410 [+00  -AA4DA93AF3863CFB]

conversion error - decimal input = -0.4681064851391490 [-01  -EFABA7396FB20314]
                   hex input     = -0.4681064851391490 [-01  -EFABA7396FB20363]

double precision error: function COSINE
   arg1            = -92.18983650207520 [+07  -B861324000000000]
   expected result = -0.4681064851391490 [-01  -EFABA7396FB20363]
   result          = -0.4681064851391490 [-01  -EFABA7396FB2020C]

single precision error: function COSINE
   arg1            = -59.01973 [+06  -EC1434C000000000]
   expected result = -0.7834937 [+00  -C8930B3B868C5A18]
   result          = -0.7834933 [+00  -C893042000000000]

double precision error: function COSINE
   arg1            = -59.01973247528076 [+06  -EC1434C000000000]
   expected result = -0.7834937115026589 [+00  -C8930B3B868C5A18]
   result          = -0.7834937115026589 [+00  -C8930B3B868C5AE0]

conversion error - decimal input = -0.4109795398554031 [-01  -D26BE90602176F00]
                   hex input     = -0.4109795398554031 [-01  -D26BE90602176FD3]

single precision error: function COSINE
   arg1            = -33.41025 [+06  -85A418E000000000]
   expected result = -0.4109795 [-01  -D26BE90602176FD3]
   result          = -0.4109794 [-01  -D26BE46000000000]

double precision error: function COSINE
   arg1            = -33.41025114059448 [+06  -85A418E000000000]
   expected result = -0.4109795398554031 [-01  -D26BE90602176FD3]
   result          = -0.4109795398554031 [-01  -D26BE90602177060]

conversion error - decimal input =  0.9354316291538208 [+00  +EF78727EDC12B604]
                   hex input     =  0.9354316291538208 [+00  +EF78727EDC12B668]

conversion error - decimal input = -0.9977723093152859 [+00  -FF6E018D5D118C04]
                   hex input     = -0.9977723093152859 [+00  -FF6E018D5D118CCB]

conversion error - decimal input = -0.9211884480656932 [+00  -EBD30191E5285808]
                   hex input     = -0.9211884480656932 [+00  -EBD30191E528589F]

conversion error - decimal input = -0.9696583155189858 [+00  -F83B870172D07308]
                   hex input     = -0.9696583155189858 [+00  -F83B870172D0736C]

conversion error - decimal input =  0.9182666405897486 [+00  +EB1385C6573BCEFC]
                   hex input     =  0.9182666405897486 [+00  +EB1385C6573BCF9F]

conversion error - decimal input =  0.9810189491636753 [+00  +FB240ECF6A0DB800]
                   hex input     =  0.9810189491636753 [+00  +FB240ECF6A0DB8E6]

conversion error - decimal input = -0.1233973454485055 [-03  -FCB7BF58EA96F1CC]
                   hex input     = -0.1233973454485055 [-03  -FCB7BF58EA96F2BB]

single precision error: function COSINE
   arg1            = -51.95999 [+06  -CFD7080000000000]
   expected result = -0.1233973 [-03  -FCB7BF58EA96F2BB]
   result          = -0.1233971 [-03  -FCB79BE000000000]

double precision error: function COSINE
   arg1            = -51.95999145507813 [+06  -CFD7080000000000]
   expected result = -0.1233973454485055 [-03  -FCB7BF58EA96F2BB]
   result          = -0.1233973454485056 [-03  -FCB7BF58EA96FC8C]

conversion error - decimal input =  0.5477734164130838 [+00  +8C3AE0ED1CC53E00]
                   hex input     =  0.5477734164130838 [+00  +8C3AE0ED1CC53EC7]

conversion error - decimal input =  0.3855414896841178 [-01  +C565B1B2E3895BFC]
                   hex input     =  0.3855414896841178 [-01  +C565B1B2E3895C41]

single precision error: function COSINE
   arg1            = -38.87411 [+06  -9B7F17A000000000]
   expected result =  0.3855415 [-01  +C565B1B2E3895C41]
   result          =  0.3855416 [-01  +C565B64000000000]

double precision error: function COSINE
   arg1            = -38.87411355972290 [+06  -9B7F17A000000000]
   expected result =  0.3855414896841178 [-01  +C565B1B2E3895C41]
   result          =  0.3855414896841178 [-01  +C565B1B2E3895AC4]

conversion error - decimal input = -0.6974226113531242 [+00  -B28A49CB40A98408]
                   hex input     = -0.6974226113531242 [+00  -B28A49CB40A98482]

conversion error - decimal input = -0.04533062959816412 [-04  -B9AC9C3A1969E910]
                   hex input     = -0.04533062959816412 [-04  -B9AC9C3A1969E95F]

single precision error: function COSINE
   arg1            = -26.74888 [+05  -D5FDB6C000000000]
   expected result = -0.04533063 [-04  -B9AC9C3A1969E95F]
   result          = -0.04533052 [-04  -B9AC7F0000000000]

conversion error - decimal input =  0.7063493161068727 [+00  +B4D34F0C3B21CB04]
                   hex input     =  0.7063493161068727 [+00  +B4D34F0C3B21CB96]

conversion error - decimal input = -0.8749849686938492 [+00  -DFFF03D1081B44FC]
                   hex input     = -0.8749849686938492 [+00  -DFFF03D1081B4556]

double precision error: function COSINE
   arg1            =  78.03442478179932 [+07  +9C11A02000000000]
   expected result = -0.8749849686938492 [+00  -DFFF03D1081B4556]
   result          = -0.8749849686938492 [+00  -DFFF03D1081B45A4]

conversion error - decimal input = -0.4434860062570328 [-01  -E310990A37185114]
                   hex input     = -0.4434860062570328 [-01  -E310990A371851B1]

single precision error: function COSINE
   arg1            = -39.72939 [+06  -9EEAE5E000000000]
   expected result = -0.4434860 [-01  -E310990A371851B1]
   result          = -0.4434858 [-01  -E310936000000000]

double precision error: function COSINE
   arg1            = -39.72939252853394 [+06  -9EEAE5E000000000]
   expected result = -0.4434860062570328 [-01  -E310990A371851B1]
   result          = -0.4434860062570328 [-01  -E310990A371852A8]

conversion error - decimal input =  0.9502426337686509 [+00  +F34319EB4D1F7004]
                   hex input     =  0.9502426337686509 [+00  +F34319EB4D1F70A2]

double precision error: function COSINE
   arg1            = -68.79825592041016 [+07  -8998B50000000000]
   expected result =  0.9502426337686509 [+00  +F34319EB4D1F70A2]
   result          =  0.9502426337686509 [+00  +F34319EB4D1F711C]

conversion error - decimal input =  0.9797003832148921 [+00  +FACDA4F1C9608400]
                   hex input     =  0.9797003832148921 [+00  +FACDA4F1C960847F]

single precision error: function COSINE
   arg1            = -46.50619 [+06  -BA0656C000000000]
   expected result = -0.8152130 [+00  -D0B1CC19AF277C02]
   result          = -0.8152127 [+00  -D0B1C80000000000]

double precision error: function COSINE
   arg1            = -46.50619029998779 [+06  -BA0656C000000000]
   expected result = -0.8152129709916646 [+00  -D0B1CC19AF277C02]
   result          = -0.8152129709916646 [+00  -D0B1CC19AF277C58]

single precision error: function COSINE
   arg1            =  64.74946 [+07  +817FB8A000000000]
   expected result = -0.3398958 [-01  -AE06D112E27A390F]
   result          = -0.3398952 [-01  -AE06BF8000000000]

double precision error: function COSINE
   arg1            =  64.74945545196533 [+07  +817FB8A000000000]
   expected result = -0.3398957572510323 [-01  -AE06D112E27A390F]
   result          = -0.3398957572510323 [-01  -AE06D112E27A3848]

conversion error - decimal input =  0.5303081922050013 [+00  +87C247165244D108]
                   hex input     =  0.5303081922050013 [+00  +87C247165244D186]

conversion error - decimal input =  0.9979297041452074 [+00  +FF78523302B81800]
                   hex input     =  0.9979297041452074 [+00  +FF78523302B818F6]

conversion error - decimal input = -0.9664724043584513 [+00  -F76ABC4934BEC804]
                   hex input     = -0.9664724043584513 [+00  -F76ABC4934BEC884]

conversion error - decimal input = -0.02047848986558758 [-05  -A7C28187D03562EC]
                   hex input     = -0.02047848986558758 [-05  -A7C28187D03563AD]

single precision error: function COSINE
   arg1            =  29.82465 [+05  +EE98E24000000000]
   expected result = -0.02047849 [-05  -A7C28187D03563AD]
   result          = -0.02047886 [-05  -A7C3480000000000]

double precision error: function COSINE
   arg1            =  29.82465028762817 [+05  +EE98E24000000000]
   expected result = -0.02047848986558758 [-05  -A7C28187D03563AD]
   result          = -0.02047848986558757 [-05  -A7C28187D0355108]

conversion error - decimal input = -0.9644250123635941 [+00  -F6E48EBF8BC8C800]
                   hex input     = -0.9644250123635941 [+00  -F6E48EBF8BC8C861]

conversion error - decimal input = -0.3297027028960680 [-01  -A8CECAECAECE2CF4]
                   hex input     = -0.3297027028960680 [-01  -A8CECAECAECE2D65]

single precision error: function COSINE
   arg1            =  52.17227 [+06  +D0B066E000000000]
   expected result = -0.3297027 [-01  -A8CECAECAECE2D65]
   result          = -0.3297023 [-01  -A8CEBD8000000000]

conversion error - decimal input =  0.3317747435533412 [-01  +A9DE611266992B00]
                   hex input     =  0.3317747435533412 [-01  +A9DE611266992B42]

single precision error: function COSINE
   arg1            =  86.73198 [+07  +AD76C66000000000]
   expected result =  0.3317747 [-01  +A9DE611266992B42]
   result          =  0.3317741 [-01  +A9DE4C2000000000]

double precision error: function COSINE
   arg1            =  86.73198223114014 [+07  +AD76C66000000000]
   expected result =  0.3317747435533412 [-01  +A9DE611266992B42]
   result          =  0.3317747435533412 [-01  +A9DE611266992C88]

double precision error: function COSINE
   arg1            =  91.85643196105957 [+07  +B7B67E4000000000]
   expected result = -0.7315218406770434 [+00  -BB4503EE0483002A]
   result          = -0.7315218406770434 [+00  -BB4503EE0482FFB0]

conversion error - decimal input =  0.7205379083537931 [+00  +B8752C1FE864B5FC]
                   hex input     =  0.7205379083537931 [+00  +B8752C1FE864B64E]

double precision error: function COSINE
   arg1            =  32.18214511871338 [+06  +80BA844000000000]
   expected result =  0.7205379083537931 [+00  +B8752C1FE864B64E]
   result          =  0.7205379083537931 [+00  +B8752C1FE864B6B0]

conversion error - decimal input =  0.03405598581156339 [-04  +8B7E4A14B303C304]
                   hex input     =  0.03405598581156339 [-04  +8B7E4A14B303C372]

single precision error: function COSINE
   arg1            = -11.02964 [+04  -B079648000000000]
   expected result =  0.03405599 [-04  +8B7E4A14B303C372]
   result          =  0.03405586 [-04  +8B7E27A000000000]

double precision error: function COSINE
   arg1            = -11.02963685989380 [+04  -B079648000000000]
   expected result =  0.03405598581156339 [-04  +8B7E4A14B303C372]
   result          =  0.03405598581156339 [-04  +8B7E4A14B303C2A0]

conversion error - decimal input =  0.5108263135302502 [+00  +82C583668C757004]
                   hex input     =  0.5108263135302502 [+00  +82C583668C7570CC]

conversion error - decimal input =  0.4132367261647997 [-01  +D393C3A0C4916D0C]
                   hex input     =  0.4132367261647997 [-01  +D393C3A0C4916D8A]

double precision error: function COSINE
   arg1            =  89.10938501358032 [+07  +B238015000000000]
   expected result =  0.4132367261647997 [-01  +D393C3A0C4916D8A]
   result          =  0.4132367261647997 [-01  +D393C3A0C4916E58]

conversion error - decimal input = -0.7327758738170799 [+00  -BB97331D57992C08]
                   hex input     = -0.7327758738170799 [+00  -BB97331D57992CB3]

single precision error: function COSINE
   arg1            =  96.64097 [+07  +C1482D0000000000]
   expected result = -0.7327759 [+00  -BB97331D57992CB3]
   result          = -0.7327756 [+00  -BB972E4000000000]

conversion error - decimal input =  0.4830274514760139 [-01  +F74F5FC651C50B08]
                   hex input     =  0.4830274514760139 [-01  +F74F5FC651C50B8C]

double precision error: function COSINE
   arg1            =  95.31446695327759 [+07  +BEA101D000000000]
   expected result =  0.4830274514760139 [-01  +F74F5FC651C50B8C]
   result          =  0.4830274514760139 [-01  +F74F5FC651C50BF4]

conversion error - decimal input =  0.9121323944137788 [+00  +E9818233A11D4800]
                   hex input     =  0.9121323944137788 [+00  +E9818233A11D4850]

double precision error: function COSINE
   arg1            =  74.97588396072388 [+07  +95F3A71000000000]
   expected result =  0.9121323944137788 [+00  +E9818233A11D4850]
   result          =  0.9121323944137788 [+00  +E9818233A11D480C]

conversion error - decimal input = -0.7111922841612553 [+00  -B610B291A3DF96FC]
                   hex input     = -0.7111922841612553 [+00  -B610B291A3DF9780]

single precision error: function COSINE
   arg1            = -90.32658 [+07  -B4A735F000000000]
   expected result = -0.7111923 [+00  -B610B291A3DF9780]
   result          = -0.7111927 [+00  -B610B8C000000000]

double precision error: function COSINE
   arg1            = -90.32658338546753 [+07  -B4A735F000000000]
   expected result = -0.7111922841612553 [+00  -B610B291A3DF9780]
   result          = -0.7111922841612554 [+00  -B610B291A3DF984C]

conversion error - decimal input = -0.7113939539271635 [+00  -B61DEA06B075D700]
                   hex input     = -0.7113939539271635 [+00  -B61DEA06B075D7AA]

single precision error: function COSINE
   arg1            =  27.44591 [+05  +DB913A8000000000]
   expected result = -0.6760397 [+00  -AD10F08A0C252234]
   result          = -0.6760394 [+00  -AD10EBC000000000]

double precision error: function COSINE
   arg1            =  27.44591236114502 [+05  +DB913A8000000000]
   expected result = -0.6760397278814208 [+00  -AD10F08A0C252234]
   result          = -0.6760397278814208 [+00  -AD10F08A0C252294]

conversion error - decimal input =  0.9570773899212564 [+00  +F503061973ED11FC]
                   hex input     =  0.9570773899212564 [+00  +F503061973ED1299]

conversion error - decimal input =  0.1642006122486833 [-02  +A824348E5D765600]
                   hex input     =  0.1642006122486833 [-02  +A824348E5D7656FD]

single precision error: function COSINE
   arg1            =  23.72689 [+05  +BDD0AD0000000000]
   expected result =  0.1642006 [-02  +A824348E5D7656FD]
   result          =  0.1642005 [-02  +A824300000000000]

double precision error: function COSINE
   arg1            =  23.72689247131348 [+05  +BDD0AD0000000000]
   expected result =  0.1642006122486833 [-02  +A824348E5D7656FD]
   result          =  0.1642006122486833 [-02  +A824348E5D765924]

conversion error - decimal input =  0.8354205195425616 [+00  +D5DE1E81D7B6A6FC]
                   hex input     =  0.8354205195425616 [+00  +D5DE1E81D7B6A7AC]

conversion error - decimal input =  60.98569743375240 [+06  +F3F15AAB06DEE500]
                   hex input     =  60.98569743375240 [+06  +F3F15AAB06DEE5A9]

single precision error: function TANGENT
   arg1            =  1.554401 [+01  +C6F6988B41100000]
   expected result =  60.98570 [+06  +F3F15AAB06DEE5A9]
   result          =  60.98567 [+06  +F3F154A000000000]

double precision error: function TANGENT
   arg1            =  1.554400508876029 [+01  +C6F6988B41100000]
   expected result =  60.98569743375240 [+06  +F3F15AAB06DEE5A9]
   result          =  60.98569743375240 [+06  +F3F15AAB06DEE7D4]

conversion error - decimal input =  1.417592299311409 [+01  +B573AA1A4D4E1EFC]
                   hex input     =  1.417592299311409 [+01  +B573AA1A4D4E1FEC]

conversion error - decimal input =  1.529846671737808 [+01  +C3D20407811106E0]
                   hex input     =  1.529846671737808 [+01  +C3D20407811107DC]

conversion error - decimal input = -0.1788807749777229 [-02  -B72C8599A65A9C08]
                   hex input     = -0.1788807749777229 [-02  -B72C8599A65A9CA6]

conversion error - decimal input = -6.240340977123107 [+03  -C7B0DF8F943CDEF8]
                   hex input     = -6.240340977123107 [+03  -C7B0DF8F943CDF40]

double precision error: function TANGENT
   arg1            =  4.871285705273749 [+03  +9BE1928F33F00000]
   expected result = -6.240340977123107 [+03  -C7B0DF8F943CDF40]
   result          = -6.240340977123107 [+03  -C7B0DF8F943CDFA8]

conversion error - decimal input =  1.123334173294570 [+01  +8FC96A0863C2840C]
                   hex input     =  1.123334173294570 [+01  +8FC96A0863C2848C]

conversion error - decimal input =  0.5427027914328760 [+00  +8AEE91F4A6F0C8FC]
                   hex input     =  0.5427027914328760 [+00  +8AEE91F4A6F0C95B]

conversion error - decimal input = -1.162784922778832 [+01  -94D622E7CEF8D3F0]
                   hex input     = -1.162784922778832 [+01  -94D622E7CEF8D47D]

conversion error - decimal input =  2.487078454658925 [+02  +9F2C4B1C5629C600]
                   hex input     =  2.487078454658925 [+02  +9F2C4B1C5629C653]

conversion error - decimal input = -0.5126376907297468 [+00  -833C39446197F60C]
                   hex input     = -0.5126376907297468 [+00  -833C39446197F67F]

conversion error - decimal input = -1.139715030060178 [+01  -91E22E9E6F1E8CFC]
                   hex input     = -1.139715030060178 [+01  -91E22E9E6F1E8DC3]

conversion error - decimal input =  1.729951924198500 [+01  +DD6F108D0ADBA924]
                   hex input     =  1.729951924198500 [+01  +DD6F108D0ADBA9BF]

conversion error - decimal input = -0.1158333824761093 [-03  -ED3A0D6C28DAEF10]
                   hex input     = -0.1158333824761093 [-03  -ED3A0D6C28DAEFE2]

conversion error - decimal input = -2.610893473921487 [+02  -A718E0F0F5499AF8]
                   hex input     = -2.610893473921487 [+02  -A718E0F0F5499B84]

conversion error - decimal input = -2.704700262315073 [+02  -AD19CF21080E1014]
                   hex input     = -2.704700262315073 [+02  -AD19CF21080E108E]

conversion error - decimal input =  1.416235839968461 [+01  +B547374C0B3783DC]
                   hex input     =  1.416235839968461 [+01  +B547374C0B37848C]

conversion error - decimal input =  0.1049788404434325 [-03  +D6FF2573CFF6A92C]
                   hex input     =  0.1049788404434325 [-03  +D6FF2573CFF6A980]

conversion error - decimal input = -0.4671575947968853 [-01  -EF2F47BF7616B310]
                   hex input     = -0.4671575947968853 [-01  -EF2F47BF7616B3C8]

conversion error - decimal input = -0.7111754598879138 [+00  -B60F984DEFB49D08]
                   hex input     = -0.7111754598879138 [+00  -B60F984DEFB49D65]

conversion error - decimal input = -23.41195920077833 [+05  -BB4BB143F508AF10]
                   hex input     = -23.41195920077833 [+05  -BB4BB143F508AF5C]

single precision error: function TANGENT
   arg1            =  1.613484 [+01  +CE86A15F6A300000]
   expected result = -23.41196 [+05  -BB4BB143F508AF5C]
   result          = -23.41197 [+05  -BB4BB68000000000]

double precision error: function TANGENT
   arg1            =  1.613483592595344 [+01  +CE86A15F6A300000]
   expected result = -23.41195920077833 [+05  -BB4BB143F508AF5C]
   result          = -23.41195920077833 [+05  -BB4BB143F508AEBC]

conversion error - decimal input =  4.554306244137163 [+03  +91BCE072D134E1F8]
                   hex input     =  4.554306244137163 [+03  +91BCE072D134E2E1]

conversion error - decimal input =  1.031655705737681 [+01  +840D4B4E700489E0]
                   hex input     =  1.031655705737681 [+01  +840D4B4E70048A62]

conversion error - decimal input = -1.153480763129626 [+01  -93A541F51A7A9EF8]
                   hex input     = -1.153480763129626 [+01  -93A541F51A7A9FB0]

conversion error - decimal input =  2.782125375650092 [+02  +B20E5797727CAA04]
                   hex input     =  2.782125375650092 [+02  +B20E5797727CAA62]

conversion error - decimal input =  1.372188938793534 [+01  +AFA3E31C068CEC10]
                   hex input     =  1.372188938793534 [+01  +AFA3E31C068CECD6]

conversion error - decimal input =  0.02144247761183999 [-05  +AFA82282D16D940C]
                   hex input     =  0.02144247761183999 [-05  +AFA82282D16D946E]

single precision error: function TANGENT
   arg1            =  3.163032 [+02  +CA6F1D1F84500000]
   expected result =  0.02144248 [-05  +AFA82282D16D946E]
   result          =  0.02144246 [-05  +AFA8168000000000]

double precision error: function TANGENT
   arg1            =  3.163031845834894 [+02  +CA6F1D1F84500000]
   expected result =  0.02144247761183999 [-05  +AFA82282D16D946E]
   result          =  0.02144247761183999 [-05  +AFA82282D16D94D4]

conversion error - decimal input =  0.1244509671350414 [-03  +FEE0260E679324F4]
                   hex input     =  0.1244509671350414 [-03  +FEE0260E67932560]

conversion error - decimal input =  0.2377673805449532 [-02  +F3794ACDFC119010]
                   hex input     =  0.2377673805449532 [-02  +F3794ACDFC1190F4]

conversion error - decimal input = -1.016517784093668 [+01  -821D41373E0A642C]
                   hex input     = -1.016517784093668 [+01  -821D41373E0A64AC]

conversion error - decimal input =  0.3987481079527824 [-01  +CC28B645FF872400]
                   hex input     =  0.3987481079527824 [-01  +CC28B645FF872449]

conversion error - decimal input = -0.4207665532045194 [-01  -D76EB6B28732350C]
                   hex input     = -0.4207665532045194 [-01  -D76EB6B287323573]

conversion error - decimal input =  0.8885142062021679 [+00  +E375AAC1AB7234F8]
                   hex input     =  0.8885142062021679 [+00  +E375AAC1AB7235F3]

conversion error - decimal input = -0.3881373855211813 [-01  -C6B9F182563AD0FC]
                   hex input     = -0.3881373855211813 [-01  -C6B9F182563AD18E]

conversion error - decimal input = -0.7355012686823843 [+00  -BC49CFA728480E04]
                   hex input     = -0.7355012686823843 [+00  -BC49CFA728480E95]

conversion error - decimal input = -1.131265841620503 [+01  -90CD51B06BC5E610]
                   hex input     = -1.131265841620503 [+01  -90CD51B06BC5E673]

conversion error - decimal input =  1.491647878699050 [+01  +BEEE515414814614]
                   hex input     =  1.491647878699050 [+01  +BEEE5154148146B2]

conversion error - decimal input = -1.654889400949700 [+01  -D3D36A77C9BA2000]
                   hex input     = -1.654889400949700 [+01  -D3D36A77C9BA20B6]

conversion error - decimal input = -14.07322893044716 [+04  -E12BF21956440DD0]
                   hex input     = -14.07322893044716 [+04  -E12BF21956440EC3]

single precision error: function TANGENT
   arg1            =  1.641734 [+01  +D22456EDE4400000]
   expected result = -14.07323 [+04  -E12BF21956440EC3]
   result          = -14.07324 [+04  -E12BFB6000000000]

double precision error: function TANGENT
   arg1            =  1.641733995588311 [+01  +D22456EDE4400000]
   expected result = -14.07322893044716 [+04  -E12BF21956440EC3]
   result          = -14.07322893044716 [+04  -E12BF21956440E50]

conversion error - decimal input = -2.929790758959571 [+02  -BB81B11976AE15FC]
                   hex input     = -2.929790758959571 [+02  -BB81B11976AE166C]

conversion error - decimal input =  0.7201179451427098 [+00  +B859A64FA691AF00]
                   hex input     =  0.7201179451427098 [+00  +B859A64FA691AFF3]

conversion error - decimal input =  3.981731950960080 [+02  +FED4B23FB3F4D3F8]
                   hex input     =  3.981731950960080 [+02  +FED4B23FB3F4D4F7]

conversion error - decimal input =  11.80939635823349 [+04  +BCF3499881D449E8]
                   hex input     =  11.80939635823349 [+04  +BCF3499881D44A3E]

double precision error: function TANGENT
   arg1            =  1.486319520334291 [+01  +BE3FB7D19F000000]
   expected result =  11.80939635823349 [+04  +BCF3499881D44A3E]
   result          =  11.80939635823349 [+04  +BCF3499881D44A94]

conversion error - decimal input =  1.739575622922678 [+01  +DEAA69FCAF94C8F4]
                   hex input     =  1.739575622922678 [+01  +DEAA69FCAF94C946]

conversion error - decimal input = -4.911771887853787 [+03  -9D2D3C3CF7D0730C]
                   hex input     = -4.911771887853787 [+03  -9D2D3C3CF7D07354]

conversion error - decimal input = -1.342456636622714 [+01  -ABD59E7B4BDE0720]
                   hex input     = -1.342456636622714 [+01  -ABD59E7B4BDE079D]

conversion error - decimal input =  1.220492078715354 [+01  +9C39159D8E0430FC]
                   hex input     =  1.220492078715354 [+01  +9C39159D8E043179]

conversion error - decimal input = -1.672419824554240 [+01  -D611DA51D23E09F8]
                   hex input     = -1.672419824554240 [+01  -D611DA51D23E0ACC]

conversion error - decimal input = -0.5294689466507008 [+00  -878B46E21CC19104]
                   hex input     = -0.5294689466507008 [+00  -878B46E21CC191F4]

conversion error - decimal input =  1.352952535911810 [+01  +AD2D8C776407E200]
                   hex input     =  1.352952535911810 [+01  +AD2D8C776407E281]

conversion error - decimal input =  1.461105012499619 [+01  +BB057D325A908B0C]
                   hex input     =  1.461105012499619 [+01  +BB057D325A908BD1]

conversion error - decimal input =  6.298945910029728 [+03  +C990F7035B386FFC]
                   hex input     =  6.298945910029728 [+03  +C990F7035B38706E]

single precision error: function TANGENT
   arg1            =  4.554946 [+03  +91C21E8775000000]
   expected result =  6.298946 [+03  +C990F7035B38706E]
   result          =  6.298943 [+03  +C990F18000000000]

conversion error - decimal input = -3.640148809173790 [+02  -E8F832B5FE62A800]
                   hex input     = -3.640148809173790 [+02  -E8F832B5FE62A864]

single precision error: function TANGENT
   arg1            =  4.762314 [+03  +9864DF9DC6AC0000]
   expected result = -20.01353 [+05  -A01BB547547BF74A]
   result          = -20.01356 [+05  -A01BC6E000000000]

conversion error - decimal input =  1.048036350617733 [+01  +86260E1D760F9E08]
                   hex input     =  1.048036350617733 [+01  +86260E1D760F9E57]

conversion error - decimal input =  0.1291011845282442 [-02  +843319D5B1D68020]
                   hex input     =  0.1291011845282442 [-02  +843319D5B1D68080]

conversion error - decimal input = -1.294152386443471 [+01  -A5A6C90FE853FA18]
                   hex input     = -1.294152386443471 [+01  -A5A6C90FE853FAB4]

conversion error - decimal input =  1.024369238488028 [+01  +831E87FD2AD11804]
                   hex input     =  1.024369238488028 [+01  +831E87FD2AD11845]

conversion error - decimal input =  13.14214592933554 [+04  +D2463ACF5C172F18]
                   hex input     =  13.14214592933554 [+04  +D2463ACF5C172FCC]

double precision error: function TANGENT
   arg1            =  1.494851596632884 [+01  +BF574C0FF4B00000]
   expected result =  13.14214592933554 [+04  +D2463ACF5C172FCC]
   result          =  13.14214592933554 [+04  +D2463ACF5C173030]

conversion error - decimal input = -0.2010456507679415 [-02  -CDDEE93C349413F0]
                   hex input     = -0.2010456507679415 [-02  -CDDEE93C34941468]

conversion error - decimal input =  0.6222748027418432 [+00  +9F4D66C6E6AC6008]
                   hex input     =  0.6222748027418432 [+00  +9F4D66C6E6AC6067]

conversion error - decimal input =  0.07350089479814046 [-03  +9687A31B13F7B1FC]
                   hex input     =  0.07350089479814046 [-03  +9687A31B13F7B262]

single precision error: function TANGENT
   arg1            =  3.214962 [+02  +CDC1EE5D74B80000]
   expected result =  0.07350089 [-03  +9687A31B13F7B262]
   result          =  0.07350086 [-03  +96879E0000000000]

conversion error - decimal input = -0.3933130373232505 [-01  -C9605390C99EA30C]
                   hex input     = -0.3933130373232505 [-01  -C9605390C99EA3A5]

conversion error - decimal input =  0.2175237316669017 [-02  +DEBE8A8673F08CFC]
                   hex input     =  0.2175237316669017 [-02  +DEBE8A8673F08DB8]

conversion error - decimal input = -4.370209628685281 [+03  -8BD8C1DCFBC34600]
                   hex input     = -4.370209628685281 [+03  -8BD8C1DCFBC346CA]

conversion error - decimal input = -1.801204298761797 [+01  -E68DDCCA4C5B2200]
                   hex input     = -1.801204298761797 [+01  -E68DDCCA4C5B22F6]

conversion error - decimal input = -1.306395218066899 [+01  -A737F5609FC25500]
                   hex input     = -1.306395218066899 [+01  -A737F5609FC255EA]

conversion error - decimal input =  0.7599309385466908 [+00  +C28AD58046D0BF00]
                   hex input     =  0.7599309385466908 [+00  +C28AD58046D0BF67]

conversion error - decimal input =  7.452450136659319 [+03  +EE7A78B580B85C04]
                   hex input     =  7.452450136659319 [+03  +EE7A78B580B85CE0]

double precision error: function TANGENT
   arg1            =  1.437409023173132 [+01  +B7FD04D4C0800000]
   expected result =  7.452450136659319 [+03  +EE7A78B580B85CE0]
   result          =  7.452450136659319 [+03  +EE7A78B580B85D24]

conversion error - decimal input = -0.3657980925417481 [-01  -BB49E338CFDDE30C]
                   hex input     = -0.3657980925417481 [-01  -BB49E338CFDDE37C]

single precision error: function TANGENT
   arg1            =  1.589243 [+01  +CB6C4FC955E00000]
   expected result = -54.20443 [+06  -D8D156EECEB72539]
   result          = -54.20445 [+06  -D8D15B0000000000]

double precision error: function TANGENT
   arg1            =  1.589242909725499 [+01  +CB6C4FC955E00000]
   expected result = -54.20443318497363 [+06  -D8D156EECEB72539]
   result          = -54.20443318497363 [+06  -D8D156EECEB72388]

conversion error - decimal input =  12.88359240881198 [+04  +CE2331CB2D75F208]
                   hex input     =  12.88359240881198 [+04  +CE2331CB2D75F256]

double precision error: function TANGENT
   arg1            =  1.493333534867929 [+01  +BF258DA323900000]
   expected result =  12.88359240881198 [+04  +CE2331CB2D75F256]
   result          =  12.88359240881198 [+04  +CE2331CB2D75F2BC]

conversion error - decimal input = -5.521050862796282 [+03  -B0AC72DBE8675900]
                   hex input     = -5.521050862796282 [+03  -B0AC72DBE86759CE]

conversion error - decimal input =  0.6404963342011108 [+00  +A3F791589A063500]
                   hex input     =  0.6404963342011108 [+00  +A3F791589A06356B]

conversion error - decimal input = -0.4718267640917653 [-01  -F19347124DA3A7FC]
                   hex input     = -0.4718267640917653 [-01  -F19347124DA3A8D7]

conversion error - decimal input = -1.561075027427693 [+01  -C7D14E76B3BE5014]
                   hex input     = -1.561075027427693 [+01  -C7D14E76B3BE5074]

conversion error - decimal input = -1.684686432355606 [+01  -D7A3CE157DBA26F0]
                   hex input     = -1.684686432355606 [+01  -D7A3CE157DBA279F]

conversion error - decimal input =  0.7049921696743326 [+00  +B47A5DE8AFF59C08]
                   hex input     =  0.7049921696743326 [+00  +B47A5DE8AFF59CE3]

conversion error - decimal input = -0.5766329025550857 [+00  -939E36C2458AB8FC]
                   hex input     = -0.5766329025550857 [+00  -939E36C2458AB9B4]

conversion error - decimal input =  0.5521088355584376 [+00  +8D5701308E5EA004]
                   hex input     =  0.5521088355584376 [+00  +8D5701308E5EA0A6]

conversion error - decimal input =  0.4407148738250526 [-01  +E1A56143E0F4C310]
                   hex input     =  0.4407148738250526 [-01  +E1A56143E0F4C38B]

conversion error - decimal input = -0.2794776077621426 [-01  -8F17B0629AFDDDFC]
                   hex input     = -0.2794776077621426 [-01  -8F17B0629AFDDE82]

conversion error - decimal input = -0.05390226840226730 [-04  -DCC89FFF7CBB7AF4]
                   hex input     = -0.05390226840226730 [-04  -DCC89FFF7CBB7BEB]

conversion error - decimal input =  0.03966514300164311 [-04  +A277EABFBB455B04]
                   hex input     =  0.03966514300164311 [-04  +A277EABFBB455BA5]

single precision error: function TANGENT
   arg1            =  47.16353 [+06  +BCA7758000000000]
   expected result =  0.03966514 [-04  +A277EABFBB455BA5]
   result          =  0.03966497 [-04  +A277BD0000000000]

double precision error: function TANGENT
   arg1            =  47.16353416442871 [+06  +BCA7758000000000]
   expected result =  0.03966514300164311 [-04  +A277EABFBB455BA5]
   result          =  0.03966514300164312 [-04  +A277EABFBB456284]

conversion error - decimal input =  2.215053885391333 [+02  +8DC3715F288B5D08]
                   hex input     =  2.215053885391333 [+02  +8DC3715F288B5DED]

single precision error: function TANGENT
   arg1            = -61.68512 [+06  -F6BD906000000000]
   expected result =  2.215054 [+02  +8DC3715F288B5DED]
   result          =  2.215055 [+02  +8DC377E000000000]

double precision error: function TANGENT
   arg1            = -61.68512105941772 [+06  -F6BD906000000000]
   expected result =  2.215053885391333 [+02  +8DC3715F288B5DED]
   result          =  2.215053885391333 [+02  +8DC3715F288B5C7C]

conversion error - decimal input =  9.081878290391408 [+04  +914F5F9C37BC6000]
                   hex input     =  9.081878290391409 [+04  +914F5F9C37BC60F8]

single precision error: function TANGENT
   arg1            =  70.57617 [+07  +8D26FF6000000000]
   expected result =  9.081878 [+04  +914F5F9C37BC60F8]
   result          =  9.081813 [+04  +914F1B0000000000]

double precision error: function TANGENT
   arg1            =  70.57616710662842 [+07  +8D26FF6000000000]
   expected result =  9.081878290391409 [+04  +914F5F9C37BC60F8]
   result          =  9.081878290391408 [+04  +914F5F9C37BC5F48]

conversion error - decimal input =  0.5808557320917803 [+00  +94B2F6150740E800]
                   hex input     =  0.5808557320917803 [+00  +94B2F6150740E877]

single precision error: function TANGENT
   arg1            =  25.65897 [+05  +CD458F8000000000]
   expected result =  0.5808557 [+00  +94B2F6150740E877]
   result          =  0.5808553 [+00  +94B2EF6000000000]

double precision error: function TANGENT
   arg1            =  39.79775905609131 [+06  +9F30E7C000000000]
   expected result = -1.715166613252254 [+01  -DB8A945F8E046A33]
   result          = -1.715166613252254 [+01  -DB8A945F8E046AAC]

conversion error - decimal input =  2.297131668388101 [+02  +9304348B954CC0F0]
                   hex input     =  2.297131668388101 [+02  +9304348B954CC1BC]

conversion error - decimal input = -29.01787857609220 [+05  -E8249D85DCEBA4EC]
                   hex input     = -29.01787857609220 [+05  -E8249D85DCEBA586]

single precision error: function TANGENT
   arg1            =  20.45480 [+05  +A3A36E4000000000]
   expected result = -29.01788 [+05  -E8249D85DCEBA586]
   result          = -29.01802 [+05  -E824E54000000000]

double precision error: function TANGENT
   arg1            =  20.45480012893677 [+05  +A3A36E4000000000]
   expected result = -29.01787857609220 [+05  -E8249D85DCEBA586]
   result          = -29.01787857609220 [+05  -E8249D85DCEBA5F0]

conversion error - decimal input = -1.199480607147049 [+01  -9988949DF0FF8D1C]
                   hex input     = -1.199480607147049 [+01  -9988949DF0FF8DFF]

conversion error - decimal input = -0.8719615414885239 [+00  -DF38DF20101DF90C]
                   hex input     = -0.8719615414885239 [+00  -DF38DF20101DF9DA]

single precision error: function TANGENT
   arg1            = -66.69055 [+07  -8561901000000000]
   expected result = -0.8719615 [+00  -DF38DF20101DF9DA]
   result          = -0.8719621 [+00  -DF38E7E000000000]

conversion error - decimal input =  0.9459206328526032 [+00  +F227DAC6B6AB7BFC]
                   hex input     =  0.9459206328526033 [+00  +F227DAC6B6AB7C9D]

single precision error: function TANGENT
   arg1            = -49.50787 [+06  -C6080EA000000000]
   expected result =  0.9459206 [+00  +F227DAC6B6AB7C9D]
   result          =  0.9459211 [+00  +F227E2A000000000]

double precision error: function TANGENT
   arg1            = -49.50786828994751 [+06  -C6080EA000000000]
   expected result =  0.9459206328526033 [+00  +F227DAC6B6AB7C9D]
   result          =  0.9459206328526032 [+00  +F227DAC6B6AB7B9C]

single precision error: function TANGENT
   arg1            = -58.24413 [+06  -E8F9FE0000000000]
   expected result =  7.979647 [+03  +FF5944A1E6FB0E0A]
   result          =  7.979695 [+03  +FF59A9A000000000]

double precision error: function TANGENT
   arg1            = -58.24413299560547 [+06  -E8F9FE0000000000]
   expected result =  7.979646984305732 [+03  +FF5944A1E6FB0E0A]
   result          =  7.979646984305732 [+03  +FF5944A1E6FB0848]

conversion error - decimal input = -0.4063328074343129 [-01  -D00ADA8E71C962F4]
                   hex input     = -0.4063328074343129 [-01  -D00ADA8E71C96389]

single precision error: function TANGENT
   arg1            = -63.21781 [+06  -FCDF08C000000000]
   expected result = -0.4063328 [-01  -D00ADA8E71C96389]
   result          = -0.4063325 [-01  -D00ACF8000000000]

double precision error: function TANGENT
   arg1            =  9.465038776397705 [+04  +9770CC8000000000]
   expected result =  0.04028258310713090 [-04  +A4FF5990B24BC440]
   result          =  0.04028258310713090 [-04  +A4FF5990B24BC3D4]

conversion error - decimal input =  2.223821086594220 [+02  +8E5315ADC4F37A0C]
                   hex input     =  2.223821086594220 [+02  +8E5315ADC4F37AED]

single precision error: function TANGENT
   arg1            = -58.54205 [+06  -EA2B0EE000000000]
   expected result =  2.223821 [+02  +8E5315ADC4F37AED]
   result          =  2.223825 [+02  +8E5327A000000000]

conversion error - decimal input =  1.170827921837998 [+01  +95DDB078C4D81B08]
                   hex input     =  1.170827921837998 [+01  +95DDB078C4D81B8D]

single precision error: function TANGENT
   arg1            = -39.97678 [+06  -9FE837E000000000]
   expected result =  1.170828 [+01  +95DDB078C4D81B8D]
   result          =  1.170829 [+01  +95DDB5E000000000]

double precision error: function TANGENT
   arg1            = -39.97677564620972 [+06  -9FE837E000000000]
   expected result =  1.170827921837998 [+01  +95DDB078C4D81B8D]
   result          =  1.170827921837998 [+01  +95DDB078C4D81B44]

single precision error: function TANGENT
   arg1            =  44.41094 [+06  +B1A4CE8000000000]
   expected result =  0.4569843 [-01  +E9F9D73015B4C114]
   result          =  0.4569839 [-01  +E9F9CCC000000000]

double precision error: function TANGENT
   arg1            =  20.05294561386108 [+05  +A06C6EC000000000]
   expected result =  2.598194559689589 [+02  +A648D1D5A0C30418]
   result          =  2.598194559689589 [+02  +A648D1D5A0C3046C]

single precision error: function TANGENT
   arg1            =  37.01638 [+06  +9410C5E000000000]
   expected result = -0.8131900 [+00  -D02D377E1874912B]
   result          = -0.8131902 [+00  -D02D3BA000000000]

double precision error: function TANGENT
   arg1            =  37.01637983322144 [+06  +9410C5E000000000]
   expected result = -0.8131899531221782 [+00  -D02D377E1874912B]
   result          = -0.8131899531221783 [+00  -D02D377E18749188]

conversion error - decimal input =  0.2035005004217865 [-02  +D0626F681FF4C7E0]
                   hex input     =  0.2035005004217865 [-02  +D0626F681FF4C8E8]

single precision error: function TANGENT
   arg1            =  85.02376 [+07  +AA0C2A6000000000]
   expected result =  0.2035005 [-02  +D0626F681FF4C8E8]
   result          =  0.2035003 [-02  +D06261E000000000]

double precision error: function TANGENT
   arg1            =  85.02376079559326 [+07  +AA0C2A6000000000]
   expected result =  0.2035005004217865 [-02  +D0626F681FF4C8E8]
   result          =  0.2035005004217865 [-02  +D0626F681FF4CAC8]

conversion error - decimal input =  1.142325728655594 [+01  +9237BABEFA423424]
                   hex input     =  1.142325728655594 [+01  +9237BABEFA4234A0]

single precision error: function TANGENT
   arg1            = -93.39604 [+07  -BACAC64000000000]
   expected result =  1.142326 [+01  +9237BABEFA4234A0]
   result          =  1.142326 [+01  +9237BFC000000000]

double precision error: function TANGENT
   arg1            = -93.39604377746582 [+07  -BACAC64000000000]
   expected result =  1.142325728655594 [+01  +9237BABEFA4234A0]
   result          =  1.142325728655594 [+01  +9237BABEFA423410]

conversion error - decimal input =  2.140922809658706 [+02  +8904E11AAFA71A08]
                   hex input     =  2.140922809658706 [+02  +8904E11AAFA71A7B]

single precision error: function TANGENT
   arg1            =  29.40816 [+05  +EB43E7C000000000]
   expected result =  2.140923 [+02  +8904E11AAFA71A7B]
   result          =  2.140921 [+02  +8904D90000000000]

double precision error: function TANGENT
   arg1            =  29.40815687179565 [+05  +EB43E7C000000000]
   expected result =  2.140922809658706 [+02  +8904E11AAFA71A7B]
   result          =  2.140922809658706 [+02  +8904E11AAFA71B1C]

conversion error - decimal input =  214.3937150175458 [+08  +D664CA81E44DA4FC]
                   hex input     =  214.3937150175458 [+08  +D664CA81E44DA5D9]

single precision error: function TANGENT
   arg1            = -7.858646 [+03  -FB7A070000000000]
   expected result =  214.3937 [+08  +D664CA81E44DA5D9]
   result          =  214.3930 [+08  +D6649AE000000000]

double precision error: function TANGENT
   arg1            = -7.858645915985107 [+03  -FB7A070000000000]
   expected result =  214.3937150175458 [+08  +D664CA81E44DA5D9]
   result          =  214.3937150175457 [+08  +D664CA81E44D9538]

conversion error - decimal input = -1.619795406999938 [+01  -CF5574B5A34B8700]
                   hex input     = -1.619795406999938 [+01  -CF5574B5A34B87A5]

conversion error - decimal input =  41.43515709649535 [+06  +A5BD99D268478700]
                   hex input     =  41.43515709649535 [+06  +A5BD99D2684787B1]

single precision error: function TANGENT
   arg1            =  54.95374 [+06  +DBD0A1C000000000]
   expected result =  41.43516 [+06  +A5BD99D2684787B1]
   result          =  41.43502 [+06  +A5BD76E000000000]

double precision error: function TANGENT
   arg1            =  54.95374202728271 [+06  +DBD0A1C000000000]
   expected result =  41.43515709649535 [+06  +A5BD99D2684787B1]
   result          =  41.43515709649536 [+06  +A5BD99D268478C7C]

conversion error - decimal input =  0.9335230495838632 [+00  +EEFB5DD8065E750C]
                   hex input     =  0.9335230495838632 [+00  +EEFB5DD8065E7595]

conversion error - decimal input =  10.48100148224254 [+04  +A7B22E9C38F292CC]
                   hex input     =  10.48100148224254 [+04  +A7B22E9C38F293F7]

single precision error: function TANGENT
   arg1            =  73.73230 [+07  +9376F0A000000000]
   expected result =  10.48100 [+04  +A7B22E9C38F293F7]
   result          =  10.48095 [+04  +A7B1F44000000000]

double precision error: function TANGENT
   arg1            =  73.73230457305908 [+07  +9376F0A000000000]
   expected result =  10.48100148224254 [+04  +A7B22E9C38F293F7]
   result          =  10.48100148224254 [+04  +A7B22E9C38F295B8]

conversion error - decimal input =  13.33181930661612 [+04  +D54F21C2E18FF7F8]
                   hex input     =  13.33181930661612 [+04  +D54F21C2E18FF8F3]

single precision error: function TANGENT
   arg1            =  17.20389 [+05  +89A191C000000000]
   expected result =  13.33182 [+04  +D54F21C2E18FF8F3]
   result          =  13.33180 [+04  +D54F090000000000]

double precision error: function TANGENT
   arg1            =  17.20389127731323 [+05  +89A191C000000000]
   expected result =  13.33181930661612 [+04  +D54F21C2E18FF8F3]
   result          =  13.33181930661612 [+04  +D54F21C2E18FF958]

single precision error: function TANGENT
   arg1            =  55.70171 [+06  +DECE8CC000000000]
   expected result = -1.131375 [+01  -90D0E6DEC021452C]
   result          = -1.131376 [+01  -90D0EB6000000000]

double precision error: function TANGENT
   arg1            =  55.70170879364014 [+06  +DECE8CC000000000]
   expected result = -1.131375178112885 [+01  -90D0E6DEC021452C]
   result          = -1.131375178112885 [+01  -90D0E6DEC02144E4]

conversion error - decimal input = -1.500470459320448 [+01  -C00F6A7FB29D3514]
                   hex input     = -1.500470459320448 [+01  -C00F6A7FB29D3593]

single precision error: function TANGENT
   arg1            =  61.84891 [+06  +F76549E000000000]
   expected result = -1.500470 [+01  -C00F6A7FB29D3593]
   result          = -1.500471 [+01  -C00F6FA000000000]

double precision error: function TANGENT
   arg1            =  61.84891462326050 [+06  +F76549E000000000]
   expected result = -1.500470459320448 [+01  -C00F6A7FB29D3593]
   result          = -1.500470459320448 [+01  -C00F6A7FB29D35E0]

conversion error - decimal input = -1.163390953999977 [+01  -94E9FEA9F231B50C]
                   hex input     = -1.163390953999977 [+01  -94E9FEA9F231B5FD]

conversion error - decimal input = -17.66125214723115 [+05  -8D4A3E90D623FEF0]
                   hex input     = -17.66125214723115 [+05  -8D4A3E90D623FFFB]

single precision error: function TANGENT
   arg1            = -39.21335 [+06  -9CDA77C000000000]
   expected result = -17.66125 [+05  -8D4A3E90D623FFFB]
   result          = -17.66115 [+05  -8D4A0B6000000000]

double precision error: function TANGENT
   arg1            = -39.21334743499756 [+06  -9CDA77C000000000]
   expected result = -17.66125214723115 [+05  -8D4A3E90D623FFFB]
   result          = -17.66125214723116 [+05  -8D4A3E90D62407D8]

conversion error - decimal input = -1.865857371762092 [+01  -EED46A135BFE43E4]
                   hex input     = -1.865857371762092 [+01  -EED46A135BFE445E]

double precision error: function TANGENT
   arg1            = -26.21154785156250 [+05  -D1B1400000000000]
   expected result = -1.865857371762092 [+01  -EED46A135BFE445E]
   result          = -1.865857371762092 [+01  -EED46A135BFE4414]

conversion error - decimal input =  1.504973306332159 [+01  +C0A2F71E0659B924]
                   hex input     =  1.504973306332159 [+01  +C0A2F71E0659B998]

single precision error: function TANGENT
   arg1            = -34.37717 [+06  -898238C000000000]
   expected result =  0.1823307 [-02  +BAB4E6B0EC96A115]
   result          =  0.1823310 [-02  +BAB4F98000000000]

double precision error: function TANGENT
   arg1            = -34.37716960906982 [+06  -898238C000000000]
   expected result =  0.1823307080732294 [-02  +BAB4E6B0EC96A115]
   result          =  0.1823307080732294 [-02  +BAB4E6B0EC96A0B4]

conversion error - decimal input = -0.2780916762839638 [-01  -8E62083DDBE0000C]
                   hex input     = -0.2780916762839638 [-01  -8E62083DDBE0009C]

double precision error: function TANGENT
   arg1            = -91.37742519378662 [+07  -B6C13DE000000000]
   expected result = -0.2780916762839638 [-01  -8E62083DDBE0009C]
   result          = -0.2780916762839638 [-01  -8E62083DDBDFFFFC]

conversion error - decimal input = -0.06744540662685887 [-03  -8A20D13DD27E9804]
                   hex input     = -0.06744540662685887 [-03  -8A20D13DD27E9893]

single precision error: function TANGENT
   arg1            =  53.33973 [+06  +D55BE2A000000000]
   expected result = -0.06744541 [-03  -8A20D13DD27E9893]
   result          = -0.06744585 [-03  -8A210C2000000000]

double precision error: function TANGENT
   arg1            =  53.33973169326782 [+06  +D55BE2A000000000]
   expected result = -0.06744540662685887 [-03  -8A20D13DD27E9893]
   result          = -0.06744540662685887 [-03  -8A20D13DD27E99F0]

single precision error: function TANGENT
   arg1            = -77.75971 [+07  -9B84F85000000000]
   expected result =  0.9894780 [+00  +FD4E6D62F677C33A]
   result          =  0.9894772 [+00  +FD4E614000000000]

double precision error: function TANGENT
   arg1            = -77.75970697402954 [+07  -9B84F85000000000]
   expected result =  0.9894779554947198 [+00  +FD4E6D62F677C33A]
   result          =  0.9894779554947198 [+00  +FD4E6D62F677C2B0]

conversion error - decimal input = -0.3642631810057432 [-01  -BA80B4231CFA1910]
                   hex input     = -0.3642631810057432 [-01  -BA80B4231CFA19A8]

single precision error: function TANGENT
   arg1            =  15.35864 [+04  +F5BCFC0000000000]
   expected result = -0.3642632 [-01  -BA80B4231CFA19A8]
   result          = -0.3642633 [-01  -BA80B86000000000]

single precision error: function TANGENT
   arg1            = -39.92103 [+06  -9FAF236000000000]
   expected result =  1.312368 [+01  +A7FBAC91633E0D0F]
   result          =  1.312368 [+01  +A7FBB0A000000000]

double precision error: function TANGENT
   arg1            = -39.92103338241577 [+06  -9FAF236000000000]
   expected result =  1.312367983808585 [+01  +A7FBAC91633E0D0F]
   result          =  1.312367983808585 [+01  +A7FBAC91633E0C84]

conversion error - decimal input =  0.5533379537471928 [+00  +8DA78E5EFAD122FC]
                   hex input     =  0.5533379537471928 [+00  +8DA78E5EFAD123C7]

double precision error: function TANGENT
   arg1            =  94.75318193435669 [+07  +BD81A11000000000]
   expected result =  0.5533379537471928 [+00  +8DA78E5EFAD123C7]
   result          =  0.5533379537471928 [+00  +8DA78E5EFAD12364]

conversion error - decimal input = -1.877196443042982 [+01  -F047F91984C0C624]
                   hex input     = -1.877196443042982 [+01  -F047F91984C0C6CA]

single precision error: function TANGENT
   arg1            = -92.18751 [+07  -B860019000000000]
   expected result = -1.877196 [+01  -F047F91984C0C6CA]
   result          = -1.877198 [+01  -F048088000000000]

double precision error: function TANGENT
   arg1            = -92.18751192092896 [+07  -B860019000000000]
   expected result = -1.877196443042982 [+01  -F047F91984C0C6CA]
   result          = -1.877196443042982 [+01  -F047F91984C0C8F0]

conversion error - decimal input =  4.093601895670193 [+03  +82FEC96717E81B08]
                   hex input     =  4.093601895670193 [+03  +82FEC96717E81B6F]

single precision error: function TANGENT
   arg1            = -99.19976 [+07  -C66646F000000000]
   expected result =  4.093602 [+03  +82FEC96717E81B6F]
   result          =  4.093597 [+03  +82FEC02000000000]

double precision error: function TANGENT
   arg1            = -99.19975996017456 [+07  -C66646F000000000]
   expected result =  4.093601895670193 [+03  +82FEC96717E81B6F]
   result          =  4.093601895670193 [+03  +82FEC96717E81988]

conversion error - decimal input =  0.2380981961618083 [-02  +F3D003770198D424]
                   hex input     =  0.2380981961618083 [-02  +F3D003770198D4A4]

single precision error: function TANGENT
   arg1            = -28.04059 [+05  -E0531FC000000000]
   expected result =  0.2380982 [-02  +F3D003770198D4A4]
   result          =  0.2380985 [-02  +F3D019A000000000]

double precision error: function TANGENT
   arg1            = -28.04058790206909 [+05  -E0531FC000000000]
   expected result =  0.2380981961618083 [-02  +F3D003770198D4A4]
   result          =  0.2380981961618083 [-02  +F3D003770198D4FC]

conversion error - decimal input = -0.7466147545160626 [+00  -BF2225015B88DAFC]
                   hex input     = -0.7466147545160626 [+00  -BF2225015B88DB75]

single precision error: function TANGENT
   arg1            =  65.33212 [+07  +82AA0AF000000000]
   expected result = -0.7466148 [+00  -BF2225015B88DB75]
   result          = -0.7466144 [+00  -BF221FA000000000]

double precision error: function TANGENT
   arg1            =  65.33211469650269 [+07  +82AA0AF000000000]
   expected result = -0.7466147545160626 [+00  -BF2225015B88DB75]
   result          = -0.7466147545160626 [+00  -BF2225015B88DAB4]

conversion error - decimal input = -0.7856871511484241 [+00  -C922CB0B11E45200]
                   hex input     = -0.7856871511484241 [+00  -C922CB0B11E452F2]

single precision error: function TANGENT
   arg1            =  24.46679 [+05  +C3BBFBC000000000]
   expected result = -0.7856871 [+00  -C922CB0B11E452F2]
   result          = -0.7856875 [+00  -C922D0C000000000]

conversion error - decimal input = -0.3049379482434504 [-01  -9C20D3A607A8D4F4]
                   hex input     = -0.3049379482434504 [-01  -9C20D3A607A8D5ED]

single precision error: function TANGENT
   arg1            =  97.09339 [+07  +C22FD10000000000]
   expected result = -0.3049379 [-01  -9C20D3A607A8D5ED]
   result          = -0.3049383 [-01  -9C20DEA000000000]

double precision error: function TANGENT
   arg1            =  97.09339141845703 [+07  +C22FD10000000000]
   expected result = -0.3049379482434504 [-01  -9C20D3A607A8D5ED]
   result          = -0.3049379482434504 [-01  -9C20D3A607A8D4B0]

conversion error - decimal input =  0.4526906472384054 [-01  +E7C7118A3023E6FC]
                   hex input     =  0.4526906472384054 [-01  +E7C7118A3023E742]

single precision error: function TANGENT
   arg1            = -56.12358 [+06  -E07E8B6000000000]
   expected result =  0.4526906 [-01  +E7C7118A3023E742]
   result          =  0.4526909 [-01  +E7C71AE000000000]

double precision error: function TANGENT
   arg1            = -56.12357854843140 [+06  -E07E8B6000000000]
   expected result =  0.4526906472384054 [-01  +E7C7118A3023E742]
   result          =  0.4526906472384054 [-01  +E7C7118A3023E6B4]

conversion error - decimal input =  2.149606843376058 [+02  +89932894E3B5A8FC]
                   hex input     =  2.149606843376058 [+02  +89932894E3B5A9E6]

conversion error - decimal input =  1.608195450952425 [+01  +CDD95939B55462F0]
                   hex input     =  1.608195450952425 [+01  +CDD95939B554634C]

single precision error: function TANGENT
   arg1            =  19.86405 [+05  +9EE9914000000000]
   expected result =  1.608195 [+01  +CDD95939B554634C]
   result          =  1.608195 [+01  +CDD953E000000000]

conversion error - decimal input = -0.08976999743922817 [-03  -B7D955194ED33100]
                   hex input     = -0.08976999743922817 [-03  -B7D955194ED33168]

single precision error: function TANGENT
   arg1            = -9.514308 [+04  -983A9B0000000000]
   expected result = -0.08977000 [-03  -B7D955194ED33168]
   result          = -0.08976991 [-03  -B7D949E000000000]

double precision error: function TANGENT
   arg1            = -9.514307975769043 [+04  -983A9B0000000000]
   expected result = -0.08976999743922817 [-03  -B7D955194ED33168]
   result          = -0.08976999743922818 [-03  -B7D955194ED33230]

conversion error - decimal input =  0.1787623321734967 [-02  +B70D7909C47617DC]
                   hex input     =  0.1787623321734967 [-02  +B70D7909C476187A]

single precision error: function TANGENT
   arg1            =  56.72556 [+06  +E2E6F9A000000000]
   expected result =  0.1787623 [-02  +B70D7909C476187A]
   result          =  0.1787616 [-02  +B70D4A0000000000]

double precision error: function TANGENT
   arg1            =  56.72556161880493 [+06  +E2E6F9A000000000]
   expected result =  0.1787623321734967 [-02  +B70D7909C476187A]
   result          =  0.1787623321734967 [-02  +B70D7909C47619C0]

conversion error - decimal input =  0.06720678553265165 [-03  +89A3B60F74C96800]
                   hex input     =  0.06720678553265165 [-03  +89A3B60F74C96890]

single precision error: function TANGENT
   arg1            = -21.92404 [+05  -AF64708000000000]
   expected result =  0.06720679 [-03  +89A3B60F74C96890]
   result          =  0.06720695 [-03  +89A3CCA000000000]

double precision error: function TANGENT
   arg1            = -21.92404270172119 [+05  -AF64708000000000]
   expected result =  0.06720678553265165 [-03  +89A3B60F74C96890]
   result          =  0.06720678553265165 [-03  +89A3B60F74C966E4]

conversion error - decimal input =  3.170557594849515 [+02  +CAEA6A66FDA32EF4]
                   hex input     =  3.170557594849515 [+02  +CAEA6A66FDA32FD8]

single precision error: function TANGENT
   arg1            = -70.99136 [+07  -8DFB93B000000000]
   expected result =  3.170558 [+02  +CAEA6A66FDA32FD8]
   result          =  3.170556 [+02  +CAEA63C000000000]

double precision error: function TANGENT
   arg1            = -70.99136114120483 [+07  -8DFB93B000000000]
   expected result =  3.170557594849515 [+02  +CAEA6A66FDA32FD8]
   result          =  3.170557594849515 [+02  +CAEA6A66FDA32F58]

conversion error - decimal input =  1.335294399102992 [+01  +AAEAED4756F40920]
                   hex input     =  1.335294399102992 [+01  +AAEAED4756F4097E]

conversion error - decimal input =  2.877498818136969 [+02  +B828F0CD8B52E314]
                   hex input     =  2.877498818136969 [+02  +B828F0CD8B52E373]

single precision error: function TANGENT
   arg1            =  82.91774 [+07  +A5D5E1C000000000]
   expected result =  2.877499 [+02  +B828F0CD8B52E373]
   result          =  2.877495 [+02  +B828E24000000000]

double precision error: function TANGENT
   arg1            =  82.91773796081543 [+07  +A5D5E1C000000000]
   expected result =  2.877498818136969 [+02  +B828F0CD8B52E373]
   result          =  2.877498818136969 [+02  +B828F0CD8B52E31C]

conversion error - decimal input = -3.973765668354693 [+02  -FE522D3CE34368F8]
                   hex input     = -3.973765668354693 [+02  -FE522D3CE3436983]

single precision error: function TANGENT
   arg1            =  45.79962 [+06  +B732D0E000000000]
   expected result = -3.973766 [+02  -FE522D3CE3436983]
   result          = -3.973763 [+02  -FE52232000000000]

double precision error: function TANGENT
   arg1            =  45.79962491989136 [+06  +B732D0E000000000]
   expected result = -3.973765668354693 [+02  -FE522D3CE3436983]
   result          = -3.973765668354693 [+02  -FE522D3CE3436AD4]

single precision error: function TANGENT
   arg1            = -65.26257 [+07  -82866F5000000000]
   expected result =  0.8610560 [+00  +DC6E2A8C3CC95125]
   result          =  0.8610557 [+00  +DC6E262000000000]

double precision error: function TANGENT
   arg1            = -65.26256799697876 [+07  -82866F5000000000]
   expected result =  0.8610560028435306 [+00  +DC6E2A8C3CC95125]
   result          =  0.8610560028435306 [+00  +DC6E2A8C3CC9507C]

conversion error - decimal input = -4.009749265571328 [+03  -804FDDB1193E7500]
                   hex input     = -4.009749265571328 [+03  -804FDDB1193E75E5]

double precision error: function TANGENT
   arg1            = -20.17594575881958 [+05  -A168564000000000]
   expected result = -4.009749265571328 [+03  -804FDDB1193E75E5]
   result          = -4.009749265571328 [+03  -804FDDB1193E7598]

conversion error - decimal input = -1.176213067743458 [+01  -968E26598B018310]
                   hex input     = -1.176213067743458 [+01  -968E26598B018350]

single precision error: function TANGENT
   arg1            =  68.24884 [+07  +887F688000000000]
   expected result = -1.176213 [+01  -968E26598B018350]
   result          = -1.176214 [+01  -968E30A000000000]

double precision error: function TANGENT
   arg1            =  68.24884414672852 [+07  +887F688000000000]
   expected result = -1.176213067743458 [+01  -968E26598B018350]
   result          = -1.176213067743458 [+01  -968E26598B0182EC]

conversion error - decimal input = -10.28228169075296 [+04  -A48439CE60B26A28]
                   hex input     = -10.28228169075296 [+04  -A48439CE60B26A77]

single precision error: function TANGENT
   arg1            =  80.20756 [+07  +A06A45A000000000]
   expected result = -10.28228 [+04  -A48439CE60B26A77]
   result          = -10.28232 [+04  -A484662000000000]

double precision error: function TANGENT
   arg1            =  80.20756244659424 [+07  +A06A45A000000000]
   expected result = -10.28228169075296 [+04  -A48439CE60B26A77]
   result          = -10.28228169075296 [+04  -A48439CE60B26BE0]

conversion error - decimal input =  0.4252755811634189 [-01  +D9BDB891C4C00AF0]
                   hex input     =  0.4252755811634189 [-01  +D9BDB891C4C00BBA]

single precision error: function TANGENT
   arg1            =  56.95077 [+06  +E3CD972000000000]
   expected result =  0.4252756 [-01  +D9BDB891C4C00BBA]
   result          =  0.4252752 [-01  +D9BDAB2000000000]

double precision error: function TANGENT
   arg1            =  56.95077180862427 [+06  +E3CD972000000000]
   expected result =  0.4252755811634189 [-01  +D9BDB891C4C00BBA]
   result          =  0.4252755811634189 [-01  +D9BDB891C4C00AB4]

conversion error - decimal input = -1.561751944691858 [+01  -C7E77CDB753D33F0]
                   hex input     = -1.561751944691858 [+01  -C7E77CDB753D3464]

single precision error: function TANGENT
   arg1            = -66.97471 [+07  -85F30D6000000000]
   expected result = -1.561752 [+01  -C7E77CDB753D3464]
   result          = -1.561751 [+01  -C7E7778000000000]

double precision error: function TANGENT
   arg1            = -66.97471141815186 [+07  -85F30D6000000000]
   expected result = -1.561751944691858 [+01  -C7E77CDB753D3464]
   result          = -1.561751944691858 [+01  -C7E77CDB753D34D8]

conversion error - decimal input = -0.4394340836447789 [-01  -E0FD8114010D31FC]
                   hex input     = -0.4394340836447789 [-01  -E0FD8114010D3295]

double precision error: function TANGENT
   arg1            = -75.81225633621216 [+07  -979FE01000000000]
   expected result = -0.4394340836447789 [-01  -E0FD8114010D3295]
   result          = -0.4394340836447789 [-01  -E0FD8114010D33C4]

conversion error - decimal input = -2.778394331750169 [+02  -B1D13675908F5DF4]
                   hex input     = -2.778394331750169 [+02  -B1D13675908F5EE7]

single precision error: function TANGENT
   arg1            = -76.62354 [+07  -993F400000000000]
   expected result = -2.778394 [+02  -B1D13675908F5EE7]
   result          = -2.778393 [+02  -B1D1320000000000]

double precision error: function TANGENT
   arg1            = -76.62353515625000 [+07  -993F400000000000]
   expected result = -2.778394331750169 [+02  -B1D13675908F5EE7]
   result          = -2.778394331750169 [+02  -B1D13675908F6168]

conversion error - decimal input =  3.286900470364832 [+02  +D25C93CA5B224D10]
                   hex input     =  3.286900470364832 [+02  +D25C93CA5B224DCC]

single precision error: function TANGENT
   arg1            =  89.24005 [+07  +B27AE7E000000000]
   expected result =  3.286900 [+02  +D25C93CA5B224DCC]
   result          =  3.286895 [+02  +D25C7EA000000000]

double precision error: function TANGENT
   arg1            =  89.24005031585693 [+07  +B27AE7E000000000]
   expected result =  3.286900470364832 [+02  +D25C93CA5B224DCC]
   result          =  3.286900470364832 [+02  +D25C93CA5B224FA4]

conversion error - decimal input = -0.2226526254621337 [-02  -E3FF0CC2E9E1F910]
                   hex input     = -0.2226526254621337 [-02  -E3FF0CC2E9E1F9F2]

single precision error: function TANGENT
   arg1            = -78.75890 [+07  -9D848DF000000000]
   expected result = -0.2226526 [-02  -E3FF0CC2E9E1F9F2]
   result          = -0.2226527 [-02  -E3FF13E000000000]

double precision error: function TANGENT
   arg1            = -78.75889539718628 [+07  -9D848DF000000000]
   expected result = -0.2226526254621337 [-02  -E3FF0CC2E9E1F9F2]
   result          = -0.2226526254621337 [-02  -E3FF0CC2E9E1F85C]

conversion error - decimal input = -1.865485286542496 [+01  -EEC838CC6F423A24]
                   hex input     = -1.865485286542496 [+01  -EEC838CC6F423AFB]

conversion error - decimal input = -4.115867362158778 [+03  -83B52F7864A9E504]
                   hex input     = -4.115867362158778 [+03  -83B52F7864A9E5DD]

single precision error: function TANGENT
   arg1            =  80.34896 [+07  +A0B2AA7000000000]
   expected result = -4.115867 [+03  -83B52F7864A9E5DD]
   result          = -4.115870 [+03  -83B5354000000000]

double precision error: function TANGENT
   arg1            =  80.34895658493042 [+07  +A0B2AA7000000000]
   expected result = -4.115867362158778 [+03  -83B52F7864A9E5DD]
   result          = -4.115867362158778 [+03  -83B52F7864A9E694]

conversion error - decimal input =  0.2747251303317229 [-01  +8CA8C5B454034804]
                   hex input     =  0.2747251303317229 [-01  +8CA8C5B45403486E]

single precision error: function TANGENT
   arg1            =  22.25926 [+05  +B212F68000000000]
   expected result =  0.2747251 [-01  +8CA8C5B45403486E]
   result          =  0.2747250 [-01  +8CA8C10000000000]

double precision error: function TANGENT
   arg1            =  22.25925922393799 [+05  +B212F68000000000]
   expected result =  0.2747251303317229 [-01  +8CA8C5B45403486E]
   result          =  0.2747251303317229 [-01  +8CA8C5B4540348C4]

conversion error - decimal input = -0.3300747951485501 [-01  -A8FF9044CB396104]
                   hex input     = -0.3300747951485501 [-01  -A8FF9044CB396164]

conversion error - decimal input =  3.877542823143963 [+02  +F829A95F8F8A9418]
                   hex input     =  3.877542823143963 [+02  +F829A95F8F8A9484]

single precision error: function TANGENT
   arg1            =  73.57503 [+07  +93266A9000000000]
   expected result =  3.877543 [+02  +F829A95F8F8A9484]
   result          =  3.877537 [+02  +F82990A000000000]

double precision error: function TANGENT
   arg1            =  73.57503175735474 [+07  +93266A9000000000]
   expected result =  3.877542823143963 [+02  +F829A95F8F8A9484]
   result          =  3.877542823143963 [+02  +F829A95F8F8A930C]

conversion error - decimal input = -50.60513699063088 [+06  -CA6BA90801701EFC]
                   hex input     = -50.60513699063088 [+06  -CA6BA90801701F97]

single precision error: function TANGENT
   arg1            = -45.53334 [+06  -B62222A000000000]
   expected result = -50.60514 [+06  -CA6BA90801701F97]
   result          = -50.60425 [+06  -CA6ABF6000000000]

double precision error: function TANGENT
   arg1            = -45.53333520889282 [+06  -B62222A000000000]
   expected result = -50.60513699063088 [+06  -CA6BA90801701F97]
   result          = -50.60513699063090 [+06  -CA6BA908017036D4]

conversion error - decimal input = -1.111723990249656 [+01  -8E4CF8C22683CE18]
                   hex input     = -1.111723990249656 [+01  -8E4CF8C22683CEF1]

single precision error: function TANGENT
   arg1            =  58.85201 [+06  +EB68740000000000]
   expected result = -1.111724 [+01  -8E4CF8C22683CEF1]
   result          = -1.111725 [+01  -8E4CFD8000000000]

double precision error: function TANGENT
   arg1            =  58.85200500488281 [+06  +EB68740000000000]
   expected result = -1.111723990249656 [+01  -8E4CF8C22683CEF1]
   result          = -1.111723990249656 [+01  -8E4CF8C22683CF68]

conversion error - decimal input = -0.7491155663881592 [+00  -BFC609AA8FC8FB00]
                   hex input     = -0.7491155663881592 [+00  -BFC609AA8FC8FB75]

double precision error: function TANGENT
   arg1            =  49.62254762649536 [+06  +C67D7D2000000000]
   expected result = -0.7491155663881592 [+00  -BFC609AA8FC8FB75]
   result          = -0.7491155663881592 [+00  -BFC609AA8FC8FBC8]

conversion error - decimal input = -1.057675654868381 [+01  -8761EA75B7B0A200]
                   hex input     = -1.057675654868381 [+01  -8761EA75B7B0A245]

conversion error - decimal input =  0.7217840622342485 [+00  +B8C6D71E11F3C608]
                   hex input     =  0.7217840622342485 [+00  +B8C6D71E11F3C6C4]

single precision error: function TANGENT
   arg1            =  98.01457 [+07  +C40775A000000000]
   expected result =  0.7217841 [+00  +B8C6D71E11F3C6C4]
   result          =  0.7217833 [+00  +B8C6CAE000000000]

double precision error: function TANGENT
   arg1            =  98.01456928253174 [+07  +C40775A000000000]
   expected result =  0.7217840622342485 [+00  +B8C6D71E11F3C6C4]
   result          =  0.7217840622342485 [+00  +B8C6D71E11F3C78C]

conversion error - decimal input =  0.05876528600181043 [-04  +F0B3DE58492A12FC]
                   hex input     =  0.05876528600181043 [-04  +F0B3DE58492A13BF]

single precision error: function TANGENT
   arg1            = -31.35723 [+05  -FADB9AC000000000]
   expected result =  0.05876529 [-04  +F0B3DE58492A13BF]
   result          =  0.05876549 [-04  +F0B415A000000000]

double precision error: function TANGENT
   arg1            = -31.35722875595093 [+05  -FADB9AC000000000]
   expected result =  0.05876528600181043 [-04  +F0B3DE58492A13BF]
   result          =  0.05876528600181043 [-04  +F0B3DE58492A15D0]

conversion error - decimal input =  1.177490537499970 [+01  +96B8028AF4B6EFE0]
                   hex input     =  1.177490537499970 [+01  +96B8028AF4B6F096]

conversion error - decimal input = -0.3384991247397909 [-01  -AD4FC1DCF6CC2DF4]
                   hex input     = -0.3384991247397909 [-01  -AD4FC1DCF6CC2E89]

single precision error: function TANGENT
   arg1            = -82.00780 [+07  -A403FE9000000000]
   expected result = -0.3384991 [-01  -AD4FC1DCF6CC2E89]
   result          = -0.3384993 [-01  -AD4FC76000000000]

double precision error: function TANGENT
   arg1            = -82.00780153274536 [+07  -A403FE9000000000]
   expected result = -0.3384991247397909 [-01  -AD4FC1DCF6CC2E89]
   result          = -0.3384991247397909 [-01  -AD4FC1DCF6CC30CC]

conversion error - decimal input =  0.2854646714304067 [-01  +92286CE7E9F99AF8]
                   hex input     =  0.2854646714304067 [-01  +92286CE7E9F99B58]

conversion error - decimal input =  0.05815226647160269 [-04  +EE31122AF0E3AD0C]
                   hex input     =  0.05815226647160269 [-04  +EE31122AF0E3ADF6]

single precision error: function TANGENT
   arg1            = -9.366691 [+04  -95DDF78000000000]
   expected result =  0.05815227 [-04  +EE31122AF0E3ADF6]
   result          =  0.05815230 [-04  +EE311B8000000000]

double precision error: function TANGENT
   arg1            = -9.366691112518311 [+04  -95DDF78000000000]
   expected result =  0.05815226647160269 [-04  +EE31122AF0E3ADF6]
   result          =  0.05815226647160269 [-04  +EE31122AF0E3AE64]

conversion error - decimal input = -2.892434144507647 [+02  -B91DA41A1F9F04F4]
                   hex input     = -2.892434144507647 [+02  -B91DA41A1F9F0558]

single precision error: function TANGENT
   arg1            =  52.16914 [+06  +D0AD342000000000]
   expected result = -2.892434 [+02  -B91DA41A1F9F0558]
   result          = -2.892439 [+02  -B91DB8C000000000]

conversion error - decimal input = -7.583352324137978 [+03  -F2AAD27E46FB8E08]
                   hex input     = -7.583352324137978 [+03  -F2AAD27E46FB8E59]

single precision error: function TANGENT
   arg1            =  70.81695 [+07  +8DA246C000000000]
   expected result = -7.583352 [+03  -F2AAD27E46FB8E59]
   result          = -7.583405 [+03  -F2AB402000000000]

double precision error: function TANGENT
   arg1            =  70.81694602966309 [+07  +8DA246C000000000]
   expected result = -7.583352324137978 [+03  -F2AAD27E46FB8E59]
   result          = -7.583352324137979 [+03  -F2AAD27E46FB92C8]

conversion error - decimal input = -0.3835387354637319 [-01  -C45F306B21C0CCF4]
                   hex input     = -0.3835387354637319 [-01  -C45F306B21C0CDBE]

double precision error: function TANGENT
   arg1            =  56.18243217468262 [+06  +E0BACF8000000000]
   expected result = -0.3835387354637319 [-01  -C45F306B21C0CDBE]
   result          = -0.3835387354637319 [-01  -C45F306B21C0CE18]

single precision error: function TANGENT
   arg1            =  65.01253 [+07  +820669E000000000]
   expected result = -1.431156 [+01  -B7301CADCDED490D]
   result          = -1.431158 [+01  -B7302D8000000000]

double precision error: function TANGENT
   arg1            =  65.01252651214600 [+07  +820669E000000000]
   expected result = -1.431155762544089 [+01  -B7301CADCDED490D]
   result          = -1.431155762544089 [+01  -B7301CADCDED4950]

conversion error - decimal input =  1.293385578554332 [+01  +A58DA89C81236FE8]
                   hex input     =  1.293385578554332 [+01  +A58DA89C8123708E]

single precision error: function TANGENT
   arg1            = -49.35285 [+06  -C569512000000000]
   expected result =  1.293386 [+01  +A58DA89C8123708E]
   result          =  1.293386 [+01  +A58DADC000000000]

double precision error: function TANGENT
   arg1            = -49.35284852981567 [+06  -C569512000000000]
   expected result =  1.293385578554332 [+01  +A58DA89C8123708E]
   result          =  1.293385578554332 [+01  +A58DA89C81237024]

conversion error - decimal input = -6.087685137829718 [+03  -C2CE510FEA5D5308]
                   hex input     = -6.087685137829718 [+03  -C2CE510FEA5D5392]

single precision error: function TANGENT
   arg1            =  48.85750 [+06  +C36E140000000000]
   expected result = -6.087685 [+03  -C2CE510FEA5D5392]
   result          = -6.087698 [+03  -C2CE6C6000000000]

double precision error: function TANGENT
   arg1            =  48.85749816894531 [+06  +C36E140000000000]
   expected result = -6.087685137829718 [+03  -C2CE510FEA5D5392]
   result          = -6.087685137829719 [+03  -C2CE510FEA5D5610]

conversion error - decimal input = -8.258851241267993 [+04  -84244132FC668A04]
                   hex input     = -8.258851241267993 [+04  -84244132FC668AA3]

single precision error: function TANGENT
   arg1            = -61.14056 [+06  -F48FEF4000000000]
   expected result = -8.258851 [+04  -84244132FC668AA3]
   result          = -8.258817 [+04  -84241D0000000000]

double precision error: function TANGENT
   arg1            = -61.14056110382080 [+06  -F48FEF4000000000]
   expected result = -8.258851241267993 [+04  -84244132FC668AA3]
   result          = -8.258851241267994 [+04  -84244132FC668FC0]

conversion error - decimal input =  2.149056890840551 [+02  +898A25E9D9D4C104]
                   hex input     =  2.149056890840551 [+02  +898A25E9D9D4C1B4]

double precision error: function TANGENT
   arg1            =  82.81668424606323 [+07  +A5A2247000000000]
   expected result =  2.149056890840551 [+02  +898A25E9D9D4C1B4]
   result          =  2.149056890840552 [+02  +898A25E9D9D4C28C]

conversion error - decimal input =  0.1351054536391768 [-02  +8A59158390E793E4]
                   hex input     =  0.1351054536391768 [-02  +8A59158390E79455]

single precision error: function TANGENT
   arg1            =  66.10774 [+07  +8437297000000000]
   expected result =  0.1351055 [-02  +8A59158390E79455]
   result          =  0.1351054 [-02  +8A59114000000000]

double precision error: function TANGENT
   arg1            =  66.10773801803589 [+07  +8437297000000000]
   expected result =  0.1351054536391768 [-02  +8A59158390E79455]
   result          =  0.1351054536391768 [-02  +8A59158390E79660]

conversion error - decimal input = -2.772639254943192 [+02  -B172EBEAE58E64F8]
                   hex input     = -2.772639254943192 [+02  -B172EBEAE58E6555]

double precision error: function TANGENT
   arg1            =  28.68735790252686 [+05  +E57FB58000000000]
   expected result =  0.4382312177846555 [-01  +E05FD798F154A753]
   result          =  0.4382312177846555 [-01  +E05FD798F154A834]

conversion error - decimal input =  3.836051487300709 [+02  +F581DE18EEA320EC]
                   hex input     =  3.836051487300710 [+02  +F581DE18EEA321BB]

double precision error: function TANGENT
   arg1            =  7.598972320556641 [+03  +F32AC80000000000]
   expected result =  3.836051487300710 [+02  +F581DE18EEA321BB]
   result          =  3.836051487300710 [+02  +F581DE18EEA322AC]

double precision error: function ARCSINE
   arg1            =  0.7692348361015320 [+00  +C4EC930000000000]
   expected result =  0.8776427839607071 [+00  +E0AD328EAE7F5337]
   result          =  0.8776427839607074 [+00  +E0AD328EAE7F6BD0]

conversion error - decimal input =  0.2869051819879189 [-01  +92E53C6B61D002F8]
                   hex input     =  0.2869051819879189 [-01  +92E53C6B61D003DA]

double precision error: function ARCSINE
   arg1            =  0.2829852700233459 [-01  +90E3720000000000]
   expected result =  0.2869051819879189 [-01  +92E53C6B61D003DA]
   result          =  0.2869051819879190 [-01  +92E53C6B61D0046C]

conversion error - decimal input =  0.5352422246225410 [+00  +8905A26A312D6C04]
                   hex input     =  0.5352422246225410 [+00  +8905A26A312D6CC2]

double precision error: function ARCSINE
   arg1            =  0.6047690510749817 [+00  +9AD2250000000000]
   expected result =  0.6494758446951959 [+00  +A6440C888201E637]
   result          =  0.6494758446951959 [+00  +A6440C888201E590]

conversion error - decimal input =  0.9175572128629222 [+00  +EAE5078D74857504]
                   hex input     =  0.9175572128629222 [+00  +EAE5078D74857593]

double precision error: function ARCSINE
   arg1            =  0.7941193580627441 [+00  +CB4B680000000000]
   expected result =  0.9175572128629222 [+00  +EAE5078D74857593]
   result          =  0.9175572128629222 [+00  +EAE5078D74857684]

conversion error - decimal input =  0.03171629941786218 [-04  +81E8F34BFF6F36F8]
                   hex input     =  0.03171629941786219 [-04  +81E8F34BFF6F3770]

conversion error - decimal input =  0.2487657519988602 [-02  +FEBC7304CCBFF9E8]
                   hex input     =  0.2487657519988602 [-02  +FEBC7304CCBFFA36]

double precision error: function ARCSINE
   arg1            =  0.2462078928947449 [-02  +FC1DEC0000000000]
   expected result =  0.2487657519988602 [-02  +FEBC7304CCBFFA36]
   result          =  0.2487657519988603 [-02  +FEBC7304CCC019FC]

conversion error - decimal input =  0.3412774135132635 [-01  +AEBBE9C3CE4D8B14]
                   hex input     =  0.3412774135132635 [-01  +AEBBE9C3CE4D8B5A]

conversion error - decimal input =  0.8980261385719417 [+00  +E5E50A801EA1A308]
                   hex input     =  0.8980261385719417 [+00  +E5E50A801EA1A390]

double precision error: function ARCSINE
   arg1            =  0.7820984125137329 [+00  +C8379A0000000000]
   expected result =  0.8980261385719417 [+00  +E5E50A801EA1A390]
   result          =  0.8980261385719418 [+00  +E5E50A801EA1A890]

conversion error - decimal input =  0.8566795116188105 [+00  +DB4F59358E58D9FC]
                   hex input     =  0.8566795116188105 [+00  +DB4F59358E58DAAC]

double precision error: function ARCSINE
   arg1            =  0.7556719779968262 [+00  +C173B80000000000]
   expected result =  0.8566795116188105 [+00  +DB4F59358E58DAAC]
   result          =  0.8566795116188104 [+00  +DB4F59358E58D3B8]

conversion error - decimal input =  0.5366285770038089 [+00  +89607D8C549392FC]
                   hex input     =  0.5366285770038089 [+00  +89607D8C549393D6]

conversion error - decimal input =  1.207174236033826 [+01  +9A84AF742B66881C]
                   hex input     =  1.207174236033826 [+01  +9A84AF742B6688C6]

conversion error - decimal input =  1.134718300823976 [+01  +913E73041B17EEF4]
                   hex input     =  1.134718300823976 [+01  +913E73041B17EF7C]

conversion error - decimal input =  0.1965292192727642 [-02  +C93EF4A5F092D518]
                   hex input     =  0.1965292192727642 [-02  +C93EF4A5F092D57F]

double precision error: function ARCSINE
   arg1            =  0.1952665448188782 [-02  +C7F3F40000000000]
   expected result =  0.1965292192727642 [-02  +C93EF4A5F092D57F]
   result          =  0.1965292192727642 [-02  +C93EF4A5F092CE94]

conversion error - decimal input =  1.047655942606014 [+01  +8619970579F820DC]
                   hex input     =  1.047655942606014 [+01  +8619970579F821FA]

conversion error - decimal input =  0.3402690951979318 [-01  +AE37C0376DE3B0F4]
                   hex input     =  0.3402690951979318 [-01  +AE37C0376DE3B1FF]

conversion error - decimal input =  0.1436748161560323 [-02  +931F7DB2988BDB10]
                   hex input     =  0.1436748161560323 [-02  +931F7DB2988BDB8C]

conversion error - decimal input =  0.3823976323670444 [-01  +C3C99F5A2B27A0FC]
                   hex input     =  0.3823976323670444 [-01  +C3C99F5A2B27A1BB]

conversion error - decimal input =  0.9669158010362186 [+00  +F787CB3F6FAAEE08]
                   hex input     =  0.9669158010362186 [+00  +F787CB3F6FAAEED6]

conversion error - decimal input =  0.9477168746144033 [+00  +F29D92B65610DF0C]
                   hex input     =  0.9477168746144033 [+00  +F29D92B65610DF50]

conversion error - decimal input =  1.179019797666451 [+01  +96EA1EE8282F5508]
                   hex input     =  1.179019797666451 [+01  +96EA1EE8282F5592]

conversion error - decimal input =  0.9189234039641868 [+00  +EB3E906F8E2038FC]
                   hex input     =  0.9189234039641868 [+00  +EB3E906F8E203965]

double precision error: function ARCSINE
   arg1            =  0.7949489355087280 [+00  +CB81C60000000000]
   expected result =  0.9189234039641868 [+00  +EB3E906F8E203965]
   result          =  0.9189234039641868 [+00  +EB3E906F8E203A34]

conversion error - decimal input =  0.7301015159363545 [+00  +BAE7EED5B4E8050C]
                   hex input     =  0.7301015159363545 [+00  +BAE7EED5B4E805C7]

double precision error: function ARCSINE
   arg1            =  0.6669452786445618 [+00  +AABCED0000000000]
   expected result =  0.7301015159363545 [+00  +BAE7EED5B4E805C7]
   result          =  0.7301015159363545 [+00  +BAE7EED5B4E8079C]

conversion error - decimal input =  0.2470330035449336 [-02  +FCF6383D08564CFC]
                   hex input     =  0.2470330035449336 [-02  +FCF6383D08564DE1]

double precision error: function ARCSINE
   arg1            =  0.2445281147956848 [-02  +FA65940000000000]
   expected result =  0.2470330035449336 [-02  +FCF6383D08564DE1]
   result          =  0.2470330035449337 [-02  +FCF6383D08567264]

conversion error - decimal input =  0.05150240293595214 [-04  +D2F42F0467BF2E08]
                   hex input     =  0.05150240293595214 [-04  +D2F42F0467BF2EFD]

double precision error: function ARCSINE
   arg1            =  0.6500177383422852 [+00  +A667900000000000]
   expected result =  0.7076077789031206 [+00  +B525C88CC8BAE62C]
   result          =  0.7076077789031208 [+00  +B525C88CC8BAF1CC]

conversion error - decimal input =  0.07832109849606375 [-03  +A066CFE504E44D04]
                   hex input     =  0.07832109849606375 [-03  +A066CFE504E44DC7]

conversion error - decimal input =  0.03503025716588043 [-04  +8F7BE30E5DE7BD04]
                   hex input     =  0.03503025716588043 [-04  +8F7BE30E5DE7BD69]

conversion error - decimal input =  0.01165028939027847 [-06  +BEE0DAFAE4422A2C]
                   hex input     =  0.01165028939027847 [-06  +BEE0DAFAE4422AC7]

conversion error - decimal input =  0.7198466735137431 [+00  +B847DF20E03C0800]
                   hex input     =  0.7198466735137431 [+00  +B847DF20E03C0868]

double precision error: function ARCSINE
   arg1            =  0.6592693924903870 [+00  +A8C5E10000000000]
   expected result =  0.7198466735137431 [+00  +B847DF20E03C0868]
   result          =  0.7198466735137432 [+00  +B847DF20E03C0CC0]

conversion error - decimal input =  0.08179753021336038 [-03  +A78576A947965704]
                   hex input     =  0.08179753021336038 [-03  +A78576A94796574B]

conversion error - decimal input =  0.3849884393569854 [-01  +C51D3468C0AE85F4]
                   hex input     =  0.3849884393569854 [-01  +C51D3468C0AE8675]

conversion error - decimal input =  0.8541279878150841 [+00  +DAA821BE439A47FC]
                   hex input     =  0.8541279878150842 [+00  +DAA821BE439A486E]

double precision error: function ARCSINE
   arg1            =  0.7539983987808228 [+00  +C1060A0000000000]
   expected result =  0.8541279878150842 [+00  +DAA821BE439A486E]
   result          =  0.8541279878150841 [+00  +DAA821BE439A42C4]

conversion error - decimal input =  1.164822105494550 [+01  +9518E40860E3EBF4]
                   hex input     =  1.164822105494550 [+01  +9518E40860E3ECA3]

conversion error - decimal input =  1.235743436278117 [+01  +9E2CD74687D472F4]
                   hex input     =  1.235743436278117 [+01  +9E2CD74687D4739A]

conversion error - decimal input =  0.2815451743692865 [-01  +9026B06886810600]
                   hex input     =  0.2815451743692865 [-01  +9026B068868106CD]

double precision error: function ARCSINE
   arg1            =  0.2778403162956238 [-01  +8E41160000000000]
   expected result =  0.2815451743692865 [-01  +9026B068868106CD]
   result          =  0.2815451743692866 [-01  +9026B068868107BC]

conversion error - decimal input =  0.4897458012992581 [-01  +FABFF62FDE0471F8]
                   hex input     =  0.4897458012992581 [-01  +FABFF62FDE0472CC]

conversion error - decimal input =  0.1707890402459242 [-02  +AEE352797C6334E8]
                   hex input     =  0.1707890402459242 [-02  +AEE352797C63352C]

double precision error: function ARCSINE
   arg1            =  0.1699599623680115 [-02  +AE09FC0000000000]
   expected result =  0.1707890402459242 [-02  +AEE352797C63352C]
   result          =  0.1707890402459242 [-02  +AEE352797C633488]

conversion error - decimal input =  1.309500092253291 [+01  +A79DB2F32B1E8B00]
                   hex input     =  1.309500092253291 [+01  +A79DB2F32B1E8BD6]

double precision error: function ARCSINE
   arg1            =  0.9660559296607971 [+00  +F74F710000000000]
   expected result =  1.309500092253291 [+01  +A79DB2F32B1E8BD6]
   result          =  1.309500092253291 [+01  +A79DB2F32B1E8A6C]

conversion error - decimal input =  0.1130142559344294 [-03  +E77404A9C2DD20CC]
                   hex input     =  0.1130142559344294 [-03  +E77404A9C2DD211C]

conversion error - decimal input =  0.1783663171462484 [-02  +B6A5A8EB67870D10]
                   hex input     =  0.1783663171462484 [-02  +B6A5A8EB67870DB5]

double precision error: function ARCSINE
   arg1            =  0.1774220466613770 [-02  +B5AE200000000000]
   expected result =  0.1783663171462484 [-02  +B6A5A8EB67870DB5]
   result          =  0.1783663171462484 [-02  +B6A5A8EB67870C64]

conversion error - decimal input =  0.3721620191327653 [-01  +BE8C0529FA23A5F0]
                   hex input     =  0.3721620191327653 [-01  +BE8C0529FA23A675]

conversion error - decimal input =  0.6218651994375279 [+00  +9F328EC61ACD9F00]
                   hex input     =  0.6218651994375279 [+00  +9F328EC61ACD9FCC]

conversion error - decimal input =  0.3050687718072309 [-01  +9C31F95BE2C97800]
                   hex input     =  0.3050687718072309 [-01  +9C31F95BE2C97885]

conversion error - decimal input =  0.8289160789185478 [+00  +D433D81A156E85FC]
                   hex input     =  0.8289160789185478 [+00  +D433D81A156E86C7]

double precision error: function ARCSINE
   arg1            =  0.7371994256973267 [+00  +BCB91A0000000000]
   expected result =  0.8289160789185478 [+00  +D433D81A156E86C7]
   result          =  0.8289160789185478 [+00  +D433D81A156E8620]

double precision error: function ARCSINE
   arg1            =  0.6287898421287537 [+00  +A0F85F0000000000]
   expected result =  0.6799959079268427 [+00  +AE143639F5A96C3E]
   result          =  0.6799959079268425 [+00  +AE143639F5A9634C]

conversion error - decimal input =  1.092108437094070 [+01  +8BCA3592809A241C]
                   hex input     =  1.092108437094070 [+01  +8BCA3592809A24D9]

conversion error - decimal input =  0.7076868445811454 [+00  +B52AF70D491385FC]
                   hex input     =  0.7076868445811454 [+00  +B52AF70D49138680]

double precision error: function ARCSINE
   arg1            =  0.6500778198242188 [+00  +A66B800000000000]
   expected result =  0.7076868445811454 [+00  +B52AF70D49138680]
   result          =  0.7076868445811455 [+00  +B52AF70D4913920C]

conversion error - decimal input =  0.2296854706468915 [-02  +EB32AB032DD76BF8]
                   hex input     =  0.2296854706468915 [-02  +EB32AB032DD76CB6]

double precision error: function ARCSINE
   arg1            =  0.2276712656021118 [-02  +E922A80000000000]
   expected result =  0.2296854706468915 [-02  +EB32AB032DD76CB6]
   result          =  0.2296854706468912 [-02  +EB32AB032DD70904]

conversion error - decimal input =  0.02721007646756585 [-05  +DEE7AA9198688C18]
                   hex input     =  0.02721007646756585 [-05  +DEE7AA9198688CFF]

conversion error - decimal input =  0.1414692385812868 [-02  +90DD4FE462F7C504]
                   hex input     =  0.1414692385812868 [-02  +90DD4FE462F7C55C]

conversion error - decimal input =  0.6194718977356583 [+00  +9E95B5D590D24A04]
                   hex input     =  0.6194718977356583 [+00  +9E95B5D590D24AF3]

conversion error - decimal input =  0.9713396700246398 [+00  +F8A9B7741031C5FC]
                   hex input     =  0.9713396700246398 [+00  +F8A9B7741031C68E]

conversion error - decimal input =  0.2939428706984758 [-01  +967FAE1115A9B30C]
                   hex input     =  0.2939428706984758 [-01  +967FAE1115A9B37B]

double precision error: function ARCSINE
   arg1            =  0.2897282242774963 [-01  +9457420000000000]
   expected result =  0.2939428706984758 [-01  +967FAE1115A9B37B]
   result          =  0.2939428706984758 [-01  +967FAE1115A9B3C0]

conversion error - decimal input =  0.2424415053417524 [-02  +F84296028B1892F8]
                   hex input     =  0.2424415053417524 [-02  +F84296028B1893A4]

double precision error: function ARCSINE
   arg1            =  0.2400734424591064 [-02  +F5D5D00000000000]
   expected result =  0.2424415053417524 [-02  +F84296028B1893A4]
   result          =  0.2424415053417526 [-02  +F84296028B18C7E8]

conversion error - decimal input =  0.6863356608755002 [+00  +AFB3B1A189F01B0C]
                   hex input     =  0.6863356608755002 [+00  +AFB3B1A189F01B5C]

double precision error: function ARCSINE
   arg1            =  0.6337068080902100 [+00  +A23A9C0000000000]
   expected result =  0.6863356608755002 [+00  +AFB3B1A189F01B5C]
   result          =  0.6863356608755000 [+00  +AFB3B1A189F00CB0]

conversion error - decimal input =  0.5196648991617693 [+00  +8508C242C76866FC]
                   hex input     =  0.5196648991617693 [+00  +8508C242C76867BF]

conversion error - decimal input =  1.194662836565596 [+01  +98EAB63A65DDB620]
                   hex input     =  1.194662836565596 [+01  +98EAB63A65DDB675]

conversion error - decimal input =  0.5422654384403353 [+00  +8AD1E863DA330A0C]
                   hex input     =  0.5422654384403353 [+00  +8AD1E863DA330AF4]

conversion error - decimal input =  1.361649268377511 [+01  +AE4A85F226E0D404]
                   hex input     =  1.361649268377511 [+01  +AE4A85F226E0D4F8]

double precision error: function ARCSINE
   arg1            =  0.9782083630561829 [+00  +FA6BDD0000000000]
   expected result =  1.361649268377511 [+01  +AE4A85F226E0D4F8]
   result          =  1.361649268377511 [+01  +AE4A85F226E0D778]

conversion error - decimal input =  0.03347956694157737 [-04  +8921DED192B56BFC]
                   hex input     =  0.03347956694157737 [-04  +8921DED192B56C49]

double precision error: function ARCSINE
   arg1            =  0.9692264795303345 [+00  +F81F3A0000000000]
   expected result =  1.322068911391219 [+01  +A9398DD8BDE6E60E]
   result          =  1.322068911391219 [+01  +A9398DD8BDE6E210]

conversion error - decimal input =  0.5319564220956180 [+00  +882E4BCBCC3FF804]
                   hex input     =  0.5319564220956180 [+00  +882E4BCBCC3FF8C6]

double precision error: function ARCSINE
   arg1            =  0.2073053121566772 [-02  +D447D80000000000]
   expected result =  0.2088196255167157 [-02  +D5D4CFD96DD5CB20]
   result          =  0.2088196255167156 [-02  +D5D4CFD96DD5B79C]

conversion error - decimal input =  0.3828485438609984 [-01  +C404B96E688E3008]
                   hex input     =  0.3828485438609984 [-01  +C404B96E688E3051]

conversion error - decimal input =  0.03859751065940404 [-04  +9E186C5FD390C810]
                   hex input     =  0.03859751065940404 [-04  +9E186C5FD390C8B8]

conversion error - decimal input =  0.2317188736717440 [-02  +ED47B66124F65220]
                   hex input     =  0.2317188736717440 [-02  +ED47B66124F652AD]

double precision error: function ARCSINE
   arg1            =  0.2296507954597473 [-02  +EB29940000000000]
   expected result =  0.2317188736717440 [-02  +ED47B66124F652AD]
   result          =  0.2317188736717436 [-02  +ED47B66124F5DEAC]

conversion error - decimal input =  0.8505509307310941 [+00  +D9BDB4AF128981FC]
                   hex input     =  0.8505509307310942 [+00  +D9BDB4AF128982F1]

double precision error: function ARCSINE
   arg1            =  0.7516438961029053 [+00  +C06BBC0000000000]
   expected result =  0.8505509307310942 [+00  +D9BDB4AF128982F1]
   result          =  0.8505509307310941 [+00  +D9BDB4AF12897EB8]

conversion error - decimal input =  0.2985066141098342 [-01  +98D5DBE27B9CB404]
                   hex input     =  0.2985066141098342 [-01  +98D5DBE27B9CB496]

conversion error - decimal input =  0.1739567050042688 [-02  +B221B4DBA72C1DE8]
                   hex input     =  0.1739567050042688 [-02  +B221B4DBA72C1EF7]

double precision error: function ARCSINE
   arg1            =  0.1730806827545166 [-02  +B13C100000000000]
   expected result =  0.1739567050042688 [-02  +B221B4DBA72C1EF7]
   result          =  0.1739567050042688 [-02  +B221B4DBA72C1E1C]

conversion error - decimal input =  0.5387205297928507 [+00  +89E996B124E2ED04]
                   hex input     =  0.5387205297928508 [+00  +89E996B124E2EDBD]

conversion error - decimal input =  0.03408191751295602 [-04  +8B997B11A65CB20C]
                   hex input     =  0.03408191751295602 [-04  +8B997B11A65CB2D6]

conversion error - decimal input =  0.5816492343256467 [+00  +94E6F6D72C0E4AFC]
                   hex input     =  0.5816492343256467 [+00  +94E6F6D72C0E4B4F]

conversion error - decimal input =  0.7748034783186492 [+00  +C659855034A50D04]
                   hex input     =  0.7748034783186492 [+00  +C659855034A50DAF]

conversion error - decimal input =  1.445531949780908 [+01  +B90730E0D0E90EF8]
                   hex input     =  1.445531949780908 [+01  +B90730E0D0E90FE9]

conversion error - decimal input =  0.9646528501642733 [+00  +F6F37D3B72E0BF04]
                   hex input     =  0.9646528501642733 [+00  +F6F37D3B72E0BF9B]

conversion error - decimal input =  0.4557768955257824 [-01  +E95B96D91C7D5C14]
                   hex input     =  0.4557768955257824 [-01  +E95B96D91C7D5C54]

conversion error - decimal input =  0.4281680699932636 [-01  +DB38D863A000CD10]
                   hex input     =  0.4281680699932636 [-01  +DB38D863A000CDA7]

conversion error - decimal input =  0.9129789460431185 [+00  +E9B8FCFB31160704]
                   hex input     =  0.9129789460431185 [+00  +E9B8FCFB3116075C]

double precision error: function ARCSINE
   arg1            =  0.7913285493850708 [+00  +CA94820000000000]
   expected result =  0.9129789460431185 [+00  +E9B8FCFB3116075C]
   result          =  0.9129789460431185 [+00  +E9B8FCFB311608C4]

conversion error - decimal input =  0.2770039588651378 [-01  +8DD3768060685310]
                   hex input     =  0.2770039588651378 [-01  +8DD37680606853F7]

double precision error: function ARCSINE
   arg1            =  0.2734750509262085 [-01  +8C04EC0000000000]
   expected result =  0.2770039588651378 [-01  +8DD37680606853F7]
   result          =  0.2770039588651378 [-01  +8DD3768060685564]

conversion error - decimal input =  0.7080249734510915 [+00  +B5411FE9B944CF0C]
                   hex input     =  0.7080249734510915 [+00  +B5411FE9B944CF5D]

double precision error: function ARCSINE
   arg1            =  0.6503347158432007 [+00  +A67C560000000000]
   expected result =  0.7080249734510915 [+00  +B5411FE9B944CF5D]
   result          =  0.7080249734510916 [+00  +B5411FE9B944DAA0]

conversion error - decimal input =  1.330986719096982 [+01  +AA5DC5D6F747B2DC]
                   hex input     =  1.330986719096982 [+01  +AA5DC5D6F747B353]

double precision error: function ARCSINE
   arg1            =  0.9713832139968872 [+00  +F8AC920000000000]
   expected result =  1.330986719096982 [+01  +AA5DC5D6F747B353]
   result          =  1.330986719096982 [+01  +AA5DC5D6F747AB50]

conversion error - decimal input =  0.4868028357448769 [-01  +F93E38A63FA50CF4]
                   hex input     =  0.4868028357448769 [-01  +F93E38A63FA50DBF]

double precision error: function ARCSINE
   arg1            =  0.6551744341850281 [+00  +A7B9830000000000]
   expected result =  0.7144134899518438 [+00  +B6E3CD6F2A15B828]
   result          =  0.7144134899518439 [+00  +B6E3CD6F2A15BEEC]

double precision error: function ARCSINE
   arg1            =  0.2460018992424011 [-02  +FBE7EC0000000000]
   expected result =  0.2485532215907295 [-02  +FE84BC5830C47006]
   result          =  0.2485532215907296 [-02  +FE84BC5830C49060]

conversion error - decimal input =  0.1084789863144240 [-03  +DE2A3B1430808348]
                   hex input     =  0.1084789863144240 [-03  +DE2A3B1430808303]

conversion error - decimal input =  0.3855827564642663 [-01  +C56B1A61D4C3D0F0]
                   hex input     =  0.3855827564642663 [-01  +C56B1A61D4C3D136]

conversion error - decimal input =  0.7098052075423430 [+00  +B5B5CB48ECC35508]
                   hex input     =  0.7098052075423430 [+00  +B5B5CB48ECC35550]

double precision error: function ARCCOSINE
   arg1            =  0.7584888339042664 [+00  +C22C530000000000]
   expected result =  0.7098052075423430 [+00  +B5B5CB48ECC35550]
   result          =  0.7098052075423431 [+00  +B5B5CB48ECC35F18]

conversion error - decimal input =  1.504546247435363 [+01  +C094F8B006F6D314]
                   hex input     =  1.504546247435363 [+01  +C094F8B006F6D359]

conversion error - decimal input =  1.067812227733499 [+01  +88AE123231303C28]
                   hex input     =  1.067812227733500 [+01  +88AE123231303CC7]

conversion error - decimal input =  1.397284230209486 [+01  +B2DA35ABFBAEECE0]
                   hex input     =  1.397284230209486 [+01  +B2DA35ABFBAEED9A]

conversion error - decimal input =  1.303401050157314 [+01  +A6D5D879FFB54510]
                   hex input     =  1.303401050157314 [+01  +A6D5D879FFB545B5]

double precision error: function ARCCOSINE
   arg1            =  0.2642201781272888 [-01  +8747DE0000000000]
   expected result =  1.303401050157314 [+01  +A6D5D879FFB545B5]
   result          =  1.303401050157314 [+01  +A6D5D879FFB544DC]

conversion error - decimal input =  0.3688190593704706 [-01  +BCD5DA0C467A85F4]
                   hex input     =  0.3688190593704706 [-01  +BCD5DA0C467A8647]

conversion error - decimal input =  1.192006390338714 [+01  +9893AA57905B47D4]
                   hex input     =  1.192006390338714 [+01  +9893AA57905B4884]

conversion error - decimal input =  1.079599449665645 [+01  +8A3050948BF94518]
                   hex input     =  1.079599449665645 [+01  +8A3050948BF945E3]

conversion error - decimal input =  1.421451725162887 [+01  +B5F22150356CB904]
                   hex input     =  1.421451725162887 [+01  +B5F22150356CB984]

conversion error - decimal input =  0.6720339184164809 [+00  +AC0A6A3566C9D9F8]
                   hex input     =  0.6720339184164809 [+00  +AC0A6A3566C9DAC7]

double precision error: function ARCCOSINE
   arg1            =  0.7825570106506348 [+00  +C855A80000000000]
   expected result =  0.6720339184164809 [+00  +AC0A6A3566C9DAC7]
   result          =  0.6720339184164808 [+00  +AC0A6A3566C9D618]

conversion error - decimal input =  1.122961392657942 [+01  +8FBD32EC1177FA10]
                   hex input     =  1.122961392657942 [+01  +8FBD32EC1177FAB4]

conversion error - decimal input =  0.4144852673337249 [-01  +D43769B7BE8C8304]
                   hex input     =  0.4144852673337250 [-01  +D43769B7BE8C834E]

conversion error - decimal input =  0.8573079234424599 [+00  +DB788835C97B4500]
                   hex input     =  0.8573079234424600 [+00  +DB788835C97B45EE]

double precision error: function ARCCOSINE
   arg1            =  0.6544752717018127 [+00  +A78BB10000000000]
   expected result =  0.8573079234424600 [+00  +DB788835C97B45EE]
   result          =  0.8573079234424599 [+00  +DB788835C97B3EA4]

conversion error - decimal input =  0.3036691726664092 [-01  +9B7A869ACFAB6B10]
                   hex input     =  0.3036691726664092 [-01  +9B7A869ACFAB6B65]

double precision error: function ARCCOSINE
   arg1            =  0.6453742384910583 [+00  +A5373F0000000000]
   expected result =  0.8692832183637203 [+00  +DE895851D574451D]
   result          =  0.8692832183637201 [+00  +DE895851D5743288]

conversion error - decimal input =  1.209018406180115 [+01  +9AC11D79671F35EC]
                   hex input     =  1.209018406180115 [+01  +9AC11D79671F3665]

conversion error - decimal input =  1.449173057015985 [+01  +B97E80B310624020]
                   hex input     =  1.449173057015985 [+01  +B97E80B3106240FB]

conversion error - decimal input =  0.7892580512640264 [+00  +CA0CD0CE489F8EF8]
                   hex input     =  0.7892580512640264 [+00  +CA0CD0CE489F8FB8]

conversion error - decimal input =  1.285371920378977 [+01  +A487112C9CB9DD04]
                   hex input     =  1.285371920378977 [+01  +A487112C9CB9DDF5]

conversion error - decimal input =  1.166676372888737 [+01  +9555A6C14958FC10]
                   hex input     =  1.166676372888737 [+01  +9555A6C14958FCC1]

conversion error - decimal input =  0.9214959760998780 [+00  +EBE72908BE9C5EFC]
                   hex input     =  0.9214959760998780 [+00  +EBE72908BE9C5FE9]

double precision error: function ARCCOSINE
   arg1            =  0.6046292781829834 [+00  +9AC8FC0000000000]
   expected result =  0.9214959760998780 [+00  +EBE72908BE9C5FE9]
   result          =  0.9214959760998780 [+00  +EBE72908BE9C608C]

conversion error - decimal input =  1.428206201576653 [+01  +B6CF75F7DBA97BD8]
                   hex input     =  1.428206201576653 [+01  +B6CF75F7DBA97C86]

conversion error - decimal input =  1.350623447178226 [+01  +ACE13AA76BAE8A24]
                   hex input     =  1.350623447178226 [+01  +ACE13AA76BAE8AD1]

double precision error: function ARCCOSINE
   arg1            =  0.2183983325958252 [-02  +DFA3D00000000000]
   expected result =  1.350623447178226 [+01  +ACE13AA76BAE8AD1]
   result          =  1.350623447178226 [+01  +ACE13AA76BAE90D8]

conversion error - decimal input =  1.537916235703098 [+01  +C4DA70702A86AA20]
                   hex input     =  1.537916235703098 [+01  +C4DA70702A86AA68]

conversion error - decimal input =  0.9418829700047675 [+00  +F11F3E08D46F6F04]
                   hex input     =  0.9418829700047675 [+00  +F11F3E08D46F6FB6]

double precision error: function ARCCOSINE
   arg1            =  0.9738898277282715 [+00  +F950D80000000000]
   expected result =  0.2290178753611412 [-02  +EA83A97380848215]
   result          =  0.2290178753611408 [-02  +EA83A97380842334]

conversion error - decimal input =  0.9265701239889883 [+00  +ED33B31BFBBE2300]
                   hex input     =  0.9265701239889884 [+00  +ED33B31BFBBE23B9]

double precision error: function ARCCOSINE
   arg1            =  0.6005799174308777 [+00  +99BF9B0000000000]
   expected result =  0.9265701239889884 [+00  +ED33B31BFBBE23B9]
   result          =  0.9265701239889884 [+00  +ED33B31BFBBE2420]

conversion error - decimal input =  1.096408965015973 [+01  +8C572103E474C3F4]
                   hex input     =  1.096408965015973 [+01  +8C572103E474C4A1]

conversion error - decimal input =  1.292404097402349 [+01  +A56D7F59C79D4E14]
                   hex input     =  1.292404097402349 [+01  +A56D7F59C79D4ED3]

double precision error: function ARCCOSINE
   arg1            =  0.2748101353645325 [-01  +8CB3EA0000000000]
   expected result =  1.292404097402349 [+01  +A56D7F59C79D4ED3]
   result          =  1.292404097402349 [+01  +A56D7F59C79D4E80]

conversion error - decimal input =  1.330975400264955 [+01  +AA5D66E3F5913108]
                   hex input     =  1.330975400264955 [+01  +AA5D66E3F59131AA]

double precision error: function ARCCOSINE
   arg1            =  0.2375286817550659 [-02  +F33AB80000000000]
   expected result =  1.330975400264955 [+01  +AA5D66E3F59131AA]
   result          =  1.330975400264955 [+01  +AA5D66E3F59129A8]

conversion error - decimal input =  0.5183929277540210 [+00  +84B5661F2E63D90C]
                   hex input     =  0.5183929277540210 [+00  +84B5661F2E63D9F8]

conversion error - decimal input =  1.067906787443669 [+01  +88B12B6B9F9D0B14]
                   hex input     =  1.067906787443669 [+01  +88B12B6B9F9D0B5E]

conversion error - decimal input =  0.1397908252847863 [-02  +8F25537B841A6B14]
                   hex input     =  0.1397908252847863 [-02  +8F25537B841A6BFF]

double precision error: function ARCCOSINE
   arg1            =  0.2439977526664734 [-02  +F9DA8C0000000000]
   expected result =  1.324310252396814 [+01  +A982FF93E6A21A4D]
   result          =  1.324310252396814 [+01  +A982FF93E6A21588]

conversion error - decimal input =  0.8217293678923680 [+00  +D25CDB1942AE590C]
                   hex input     =  0.8217293678923680 [+00  +D25CDB1942AE59CB]

double precision error: function ARCCOSINE
   arg1            =  0.6809557676315308 [+00  +AE531E0000000000]
   expected result =  0.8217293678923680 [+00  +D25CDB1942AE59CB]
   result          =  0.8217293678923680 [+00  +D25CDB1942AE5978]

conversion error - decimal input =  0.3561118652985659 [-01  +B6544B5E598C360C]
                   hex input     =  0.3561118652985659 [-01  +B6544B5E598C36AB]

conversion error - decimal input =  0.9590561092936133 [+00  +F584B38071F02B04]
                   hex input     =  0.9590561092936133 [+00  +F584B38071F02BEA]

conversion error - decimal input =  0.5720674092790915 [+00  +9273027DF60D9600]
                   hex input     =  0.5720674092790915 [+00  +9273027DF60D96D4]

conversion error - decimal input =  1.492525928359607 [+01  +BF0B16F15E475AE4]
                   hex input     =  1.492525928359607 [+01  +BF0B16F15E475B8A]

conversion error - decimal input =  0.9973463884404833 [+00  +FF5217C922B5E5FC]
                   hex input     =  0.9973463884404833 [+00  +FF5217C922B5E67C]

double precision error: function ARCCOSINE
   arg1            =  0.2389383912086487 [-02  +F4AC440000000000]
   expected result =  1.329523898890367 [+01  +AA2DD6D07E05563F]
   result          =  1.329523898890367 [+01  +AA2DD6D07E054F18]

double precision error: function ARCCOSINE
   arg1            =  0.2389907836914063 [-02  +F4BA000000000000]
   expected result =  1.329469943219153 [+01  +AA2C123392141C53]
   result          =  1.329469943219153 [+01  +AA2C123392141534]

conversion error - decimal input =  0.5402606519030863 [+00  +8A4E85A73D490DFC]
                   hex input     =  0.5402606519030863 [+00  +8A4E85A73D490E52]

conversion error - decimal input =  0.6031178326448398 [+00  +9A65EE26D80F9C00]
                   hex input     =  0.6031178326448398 [+00  +9A65EE26D80F9C4F]

double precision error: function ARCCOSINE
   arg1            =  0.2355956435203552 [-02  +F13FFC0000000000]
   expected result =  1.332964908364845 [+01  +AA9E981812422937]
   result          =  1.332964908364844 [+01  +AA9E981812421FE8]

conversion error - decimal input =  1.206415665038853 [+01  +9A6BD4195CAAE9F8]
                   hex input     =  1.206415665038853 [+01  +9A6BD4195CAAEAF7]

conversion error - decimal input =  1.401968472926135 [+01  +B373B3F29ED2F310]
                   hex input     =  1.401968472926135 [+01  +B373B3F29ED2F3C2]

conversion error - decimal input =  1.133012507874427 [+01  +91068DC9A3CA1B18]
                   hex input     =  1.133012507874427 [+01  +91068DC9A3CA1B84]

conversion error - decimal input =  0.8593179263899425 [+00  +DBFC4276B61A470C]
                   hex input     =  0.8593179263899425 [+00  +DBFC4276B61A47B5]

double precision error: function ARCCOSINE
   arg1            =  0.6529542207717896 [+00  +A728020000000000]
   expected result =  0.8593179263899425 [+00  +DBFC4276B61A47B5]
   result          =  0.8593179263899424 [+00  +DBFC4276B61A3F24]

conversion error - decimal input =  1.498215939290175 [+01  +BFC58A36CC71CF08]
                   hex input     =  1.498215939290175 [+01  +BFC58A36CC71CFC3]

double precision error: function ARCCOSINE
   arg1            =  0.6558089256286621 [+00  +A7E3180000000000]
   expected result =  0.8555426759688503 [+00  +DB04D8459E587502]
   result          =  0.8555426759688502 [+00  +DB04D8459E586EB0]

conversion error - decimal input =  1.502144499863920 [+01  +C046455E64126CDC]
                   hex input     =  1.502144499863920 [+01  +C046455E64126D49]

conversion error - decimal input =  0.1382366857340834 [-02  +8D8DEAF1575D9B20]
                   hex input     =  0.1382366857340834 [-02  +8D8DEAF1575D9BF6]

conversion error - decimal input =  1.449634094281823 [+01  +B98D9C290DB290D8]
                   hex input     =  1.449634094281823 [+01  +B98D9C290DB2911D]

conversion error - decimal input =  1.278529307225610 [+01  +A3A6D92CC179EBE8]
                   hex input     =  1.278529307225610 [+01  +A3A6D92CC179ECA7]

conversion error - decimal input =  1.126971754789999 [+01  +90409C472B5D1CD8]
                   hex input     =  1.126971754789999 [+01  +90409C472B5D1D25]

conversion error - decimal input =  0.02021542385248832 [-05  +A59AD10A476612E8]
                   hex input     =  0.02021542385248832 [-05  +A59AD10A47661361]

single precision error: function ARCCOSINE
   arg1            =  0.9997957 [+00  +FFF29C0000000000]
   expected result =  0.02021542 [-05  +A59AD10A47661361]
   result          =  0.02021535 [-05  +A59AA9C000000000]

conversion error - decimal input =  0.7402072236000814 [+00  +BD7E3879A0144008]
                   hex input     =  0.7402072236000814 [+00  +BD7E3879A014408D]

double precision error: function ARCCOSINE
   arg1            =  0.7383288145065308 [+00  +BD031E0000000000]
   expected result =  0.7402072236000814 [+00  +BD7E3879A014408D]
   result          =  0.7402072236000814 [+00  +BD7E3879A0144150]

double precision error: function ARCCOSINE
   arg1            =  0.6334680318832397 [+00  +A22AF60000000000]
   expected result =  0.8847692934586418 [+00  +E2803D8BE8EEC114]
   result          =  0.8847692934586420 [+00  +E2803D8BE8EECF64]

conversion error - decimal input =  0.3991328245892444 [-01  +CC5B2338BDE7D2F0]
                   hex input     =  0.3991328245892444 [-01  +CC5B2338BDE7D369]

conversion error - decimal input =  1.504909734727846 [+01  +C0A0E1D70B47FE2C]
                   hex input     =  1.504909734727846 [+01  +C0A0E1D70B47FEDE]

conversion error - decimal input =  0.8896698612011926 [+00  +E3C1676E18923D08]
                   hex input     =  0.8896698612011926 [+00  +E3C1676E18923DF3]

double precision error: function ARCCOSINE
   arg1            =  0.6296685338020325 [+00  +A131F50000000000]
   expected result =  0.8896698612011926 [+00  +E3C1676E18923DF3]
   result          =  0.8896698612011927 [+00  +E3C1676E189247BC]

conversion error - decimal input =  0.9524654199564973 [+00  +F3D4C61548B84308]
                   hex input     =  0.9524654199564973 [+00  +F3D4C61548B84360]

conversion error - decimal input =  0.8767175953198986 [+00  +E0709077BA0ACD08]
                   hex input     =  0.8767175953198986 [+00  +E0709077BA0ACD9B]

double precision error: function ARCCOSINE
   arg1            =  0.6396775841712952 [+00  +A3C1E90000000000]
   expected result =  0.8767175953198986 [+00  +E0709077BA0ACD9B]
   result          =  0.8767175953198990 [+00  +E0709077BA0AE7F4]

conversion error - decimal input =  0.4638027468449222 [-01  +ED778DBAFCE184F0]
                   hex input     =  0.4638027468449222 [-01  +ED778DBAFCE185F4]

conversion error - decimal input =  0.6965422295676918 [+00  +B250977046B27400]
                   hex input     =  0.6965422295676918 [+00  +B250977046B2746D]

double precision error: function ARCCOSINE
   arg1            =  0.7670651674270630 [+00  +C45E620000000000]
   expected result =  0.6965422295676918 [+00  +B250977046B2746D]
   result          =  0.6965422295676922 [+00  +B250977046B28F68]

conversion error - decimal input =  1.130468511685715 [+01  +90B331336C894810]
                   hex input     =  1.130468511685715 [+01  +90B331336C8948C7]

conversion error - decimal input =  0.7949218266378967 [+00  +CB7FFF30494E1804]
                   hex input     =  0.7949218266378967 [+00  +CB7FFF30494E18B2]

conversion error - decimal input =  0.6002865278773470 [+00  +99AC60BD766CD00C]
                   hex input     =  0.6002865278773470 [+00  +99AC60BD766CD07B]

conversion error - decimal input =  0.3781188546716066 [-01  +C198CB65A18CC804]
                   hex input     =  0.3781188546716066 [-01  +C198CB65A18CC898]

conversion error - decimal input =  1.549927762434363 [+01  +C664086D68B5CB18]
                   hex input     =  1.549927762434363 [+01  +C664086D68B5CB5C]

double precision error: function ARCCOSINE
   arg1            =  0.2694233059883118 [-01  +89F1DA0000000000]
   expected result =  1.298002183466067 [+01  +A624EF800FC9E032]
   result          =  1.298002183466067 [+01  +A624EF800FC9DFAC]

conversion error - decimal input =  0.6410954593458885 [+00  +A41ED4FF81334400]
                   hex input     =  0.6410954593458885 [+00  +A41ED4FF813344DB]

double precision error: function ARCCOSINE
   arg1            =  0.8014410734176636 [+00  +CD2B3E0000000000]
   expected result =  0.6410954593458885 [+00  +A41ED4FF813344DB]
   result          =  0.6410954593458885 [+00  +A41ED4FF81334490]

conversion error - decimal input =  0.7451838597360970 [+00  +BEC45E9312D6A500]
                   hex input     =  0.7451838597360970 [+00  +BEC45E9312D6A58D]

double precision error: function ARCCOSINE
   arg1            =  0.7349632382392883 [+00  +BC268D0000000000]
   expected result =  0.7451838597360970 [+00  +BEC45E9312D6A58D]
   result          =  0.7451838597360970 [+00  +BEC45E9312D6A604]

conversion error - decimal input =  1.390313929500018 [+01  +B1F5CE8D301B13D8]
                   hex input     =  1.390313929500018 [+01  +B1F5CE8D301B14A4]

conversion error - decimal input =  1.395785905591132 [+01  +B2A91CD05DA6DA14]
                   hex input     =  1.395785905591132 [+01  +B2A91CD05DA6DA9F]

double precision error: function ARCCOSINE
   arg1            =  0.1865414977073669 [-02  +BF04BC0000000000]
   expected result =  1.383155658556948 [+01  +B10B3E9F63C4832F]
   result          =  1.383155658556948 [+01  +B10B3E9F63C48394]

conversion error - decimal input =  1.332441598697206 [+01  +AA8D72411E02A014]
                   hex input     =  1.332441598697206 [+01  +AA8D72411E02A0B5]

double precision error: function ARCCOSINE
   arg1            =  0.2361041903495789 [-02  +F1C54C0000000000]
   expected result =  1.332441598697206 [+01  +AA8D72411E02A0B5]
   result          =  1.332441598697206 [+01  +AA8D72411E0297C4]

conversion error - decimal input =  1.066616813421780 [+01  +8886E6558150E1FC]
                   hex input     =  1.066616813421780 [+01  +8886E6558150E281]

conversion error - decimal input = -0.08391890602385441 [-03  -ABDDACE71BC13000]
                   hex input     = -0.08391890602385441 [-03  -ABDDACE71BC1305E]

conversion error - decimal input =  0.1730263071593461 [-02  +B12DCEEA635F01F8]
                   hex input     =  0.1730263071593461 [-02  +B12DCEEA635F02B8]

double precision error: function ARCTANGENT
   arg1            =  0.1747739315032959 [-02  +B2F7F00000000000]
   expected result =  0.1730263071593461 [-02  +B12DCEEA635F02B8]
   result          =  0.1730263071593461 [-02  +B12DCEEA635F01F0]

conversion error - decimal input =  0.9714443182828037 [+00  +F8B09328E8DF4604]
                   hex input     =  0.9714443182828037 [+00  +F8B09328E8DF46C6]

conversion error - decimal input = -1.234980343191679 [+01  -9E13D5FC9B05F430]
                   hex input     = -1.234980343191679 [+01  -9E13D5FC9B05F484]

double precision error: function ARCTANGENT
   arg1            = -4.860440492630005 [+03  -9B88BA8000000000]
   expected result = -1.367885116980331 [+01  -AF16DC090ECDCA4E]
   result          = -1.367885116980331 [+01  -AF16DC090ECDCBCC]

conversion error - decimal input =  1.340156498006565 [+01  +AB8A3F853AE42724]
                   hex input     =  1.340156498006565 [+01  +AB8A3F853AE42770]

double precision error: function ARCTANGENT
   arg1            =  4.258610606193542 [+03  +884689C000000000]
   expected result =  1.340156498006565 [+01  +AB8A3F853AE42770]
   result          =  1.340156498006566 [+01  +AB8A3F853AE434D0]

conversion error - decimal input = -1.107710848256235 [+01  -8DC9781557AC511C]
                   hex input     = -1.107710848256235 [+01  -8DC9781557AC51A7]

conversion error - decimal input = -1.163567716380723 [+01  -94EFC97444AF93F0]
                   hex input     = -1.163567716380723 [+01  -94EFC97444AF94F6]

double precision error: function ARCTANGENT
   arg1            =  3.546955585479736 [+02  +E301520000000000]
   expected result =  1.295997054523535 [+01  +A5E33B4272096F03]
   result          =  1.295997054523535 [+01  +A5E33B4272096E94]

conversion error - decimal input =  1.361501454137225 [+01  +AE45ADFD7CE7D300]
                   hex input     =  1.361501454137225 [+01  +AE45ADFD7CE7D37C]

double precision error: function ARCTANGENT
   arg1            =  4.707978367805481 [+03  +96A7C24000000000]
   expected result =  1.361501454137225 [+01  +AE45ADFD7CE7D37C]
   result          =  1.361501454137225 [+01  +AE45ADFD7CE7D604]

conversion error - decimal input = -1.357587752083602 [+01  -ADC56F7A5319D5DC]
                   hex input     = -1.357587752083602 [+01  -ADC56F7A5319D6EF]

double precision error: function ARCTANGENT
   arg1            = -4.618957042694092 [+03  -93CE7F0000000000]
   expected result = -1.357587752083602 [+01  -ADC56F7A5319D6EF]
   result          = -1.357587752083602 [+01  -ADC56F7A5319DA68]

conversion error - decimal input =  1.273935635594862 [+01  +A31052AA0B6143E0]
                   hex input     =  1.273935635594862 [+01  +A31052AA0B614445]

conversion error - decimal input =  1.354250169277861 [+01  +AD5811CDD34FE2D4]
                   hex input     =  1.354250169277861 [+01  +AD5811CDD34FE3C7]

double precision error: function ARCTANGENT
   arg1            =  4.545544385910034 [+03  +9175198000000000]
   expected result =  1.354250169277861 [+01  +AD5811CDD34FE3C7]
   result          =  1.354250169277861 [+01  +AD5811CDD34FE850]

conversion error - decimal input = -1.312171856612427 [+01  -A7F53F5570E48600]
                   hex input     = -1.312171856612427 [+01  -A7F53F5570E4869A]

double precision error: function ARCTANGENT
   arg1            = -3.780015110969543 [+02  -F1EBC48000000000]
   expected result = -1.312171856612427 [+01  -A7F53F5570E4869A]
   result          = -1.312171856612427 [+01  -A7F53F5570E484D4]

conversion error - decimal input = -1.162331751185253 [+01  -94C7496D38B69B00]
                   hex input     = -1.162331751185253 [+01  -94C7496D38B69B4C]

conversion error - decimal input = -1.315472157506213 [+01  -A8616443A4D4D8E0]
                   hex input     = -1.315472157506213 [+01  -A8616443A4D4D92E]

double precision error: function ARCTANGENT
   arg1            = -3.831109404563904 [+02  -F530E58000000000]
   expected result = -1.315472157506213 [+01  -A8616443A4D4D92E]
   result          = -1.315472157506213 [+01  -A8616443A4D4D6D8]

conversion error - decimal input = -0.7092097325854346 [+00  -B58EC4DF7597C3FC]
                   hex input     = -0.7092097325854346 [+00  -B58EC4DF7597C4A4]

double precision error: function ARCTANGENT
   arg1            = -0.8581554889678955 [+00  -DBB0140000000000]
   expected result = -0.7092097325854346 [+00  -B58EC4DF7597C4A4]
   result          = -0.7092097325854347 [+00  -B58EC4DF7597CEE4]

conversion error - decimal input = -1.088294574243886 [+01  -8B4D3C9265577D30]
                   hex input     = -1.088294574243886 [+01  -8B4D3C9265577DC5]

conversion error - decimal input = -1.211615656273831 [+01  -9B1638C982435120]
                   hex input     = -1.211615656273831 [+01  -9B1638C982435180]

double precision error: function ARCTANGENT
   arg1            = -4.516899585723877 [+03  -908A710000000000]
   expected result = -1.352919819448659 [+01  -AD2C7A0552342D17]
   result          = -1.352919819448660 [+01  -AD2C7A0552343220]

conversion error - decimal input = -1.235356915240675 [+01  -9E202CE6EC4E7924]
                   hex input     = -1.235356915240675 [+01  -9E202CE6EC4E7970]

conversion error - decimal input = -1.359020923135505 [+01  -ADF465C9B92E4B0C]
                   hex input     = -1.359020923135505 [+01  -ADF465C9B92E4BE8]

double precision error: function ARCTANGENT
   arg1            = -4.651179909706116 [+03  -94D6774000000000]
   expected result = -1.359020923135505 [+01  -ADF465C9B92E4BE8]
   result          = -1.359020923135505 [+01  -ADF465C9B92E4F00]

conversion error - decimal input = -1.166270789635425 [+01  -95485C79E1D2CA10]
                   hex input     = -1.166270789635425 [+01  -95485C79E1D2CAF4]

conversion error - decimal input = -1.334383332298408 [+01  -AACD12B2464AFDD8]
                   hex input     = -1.334383332298408 [+01  -AACD12B2464AFEA0]

double precision error: function ARCTANGENT
   arg1            = -4.150786399841309 [+03  -84D33E0000000000]
   expected result = -1.334383332298408 [+01  -AACD12B2464AFEA0]
   result          = -1.334383332298408 [+01  -AACD12B2464AF444]

conversion error - decimal input = -0.5801604342217354 [+00  -948564EB6A5F0804]
                   hex input     = -0.5801604342217354 [+00  -948564EB6A5F0857]

conversion error - decimal input =  1.165927686415197 [+01  +953D1E5153BD4128]
                   hex input     =  1.165927686415197 [+01  +953D1E5153BD41BB]

double precision error: function ARCTANGENT
   arg1            =  1.311905980110168 [+01  +A7EC890000000000]
   expected result =  0.9195013662573433 [+00  +EB647108B3DE1304]
   result          =  0.9195013662573433 [+00  +EB647108B3DE13CC]

conversion error - decimal input =  1.114259923086084 [+01  +8EA011B472F863EC]
                   hex input     =  1.114259923086084 [+01  +8EA011B472F864CD]

conversion error - decimal input = -0.5981124027316718 [+00  -991DE4F91083D5F8]
                   hex input     = -0.5981124027316719 [+00  -991DE4F91083D68D]

conversion error - decimal input = -0.9723539117891220 [+00  -F8EC2F9B459E6100]
                   hex input     = -0.9723539117891220 [+00  -F8EC2F9B459E61AB]

conversion error - decimal input =  1.323335757917463 [+01  +A96310ECF1022A04]
                   hex input     =  1.323335757917463 [+01  +A96310ECF1022A65]

double precision error: function ARCTANGENT
   arg1            =  3.958222270011902 [+02  +FD53838000000000]
   expected result =  1.323335757917463 [+01  +A96310ECF1022A65]
   result          =  1.323335757917463 [+01  +A96310ECF10225FC]

conversion error - decimal input =  0.4462274977015099 [-01  +E477EE3A68659910]
                   hex input     =  0.4462274977015099 [-01  +E477EE3A686599B0]

conversion error - decimal input =  1.283129948331777 [+01  +A43D9A264D3416E8]
                   hex input     =  1.283129948331777 [+01  +A43D9A264D341763]

conversion error - decimal input =  0.9102243001473659 [+00  +E90475B1284CFB00]
                   hex input     =  0.9102243001473659 [+00  +E90475B1284CFBE1]

double precision error: function ARCTANGENT
   arg1            =  1.286965012550354 [+01  +A4BB450000000000]
   expected result =  0.9102243001473659 [+00  +E90475B1284CFBE1]
   result          =  0.9102243001473660 [+00  +E90475B1284CFDA8]

conversion error - decimal input = -0.5372505237587965 [+00  -898940154D8AFCFC]
                   hex input     = -0.5372505237587965 [+00  -898940154D8AFD8F]

conversion error - decimal input = -1.339869677225255 [+01  -AB80D97E4AD279F0]
                   hex input     = -1.339869677225255 [+01  -AB80D97E4AD27ADE]

double precision error: function ARCTANGENT
   arg1            = -4.253128767013550 [+03  -8819A18000000000]
   expected result = -1.339869677225255 [+01  -AB80D97E4AD27ADE]
   result          = -1.339869677225256 [+01  -AB80D97E4AD28888]

conversion error - decimal input =  1.323625874793607 [+01  +A96C929A30601DD8]
                   hex input     =  1.323625874793607 [+01  +A96C929A30601E72]

double precision error: function ARCTANGENT
   arg1            =  3.963063359260559 [+02  +FDA2D48000000000]
   expected result =  1.323625874793607 [+01  +A96C929A30601E72]
   result          =  1.323625874793607 [+01  +A96C929A306019F0]

conversion error - decimal input =  1.367487127645642 [+01  +AF09D17578317E04]
                   hex input     =  1.367487127645642 [+01  +AF09D17578317E4F]

double precision error: function ARCTANGENT
   arg1            =  4.850659370422363 [+03  +9B389A0000000000]
   expected result =  1.367487127645642 [+01  +AF09D17578317E4F]
   result          =  1.367487127645642 [+01  +AF09D17578317FD8]

conversion error - decimal input =  0.2266864990924929 [-02  +E8208170301E5C20]
                   hex input     =  0.2266864990924929 [-02  +E8208170301E5CB5]

double precision error: function ARCTANGENT
   arg1            =  0.2306509017944336 [-02  +EC2FC00000000000]
   expected result =  0.2266864990924929 [-02  +E8208170301E5CB5]
   result          =  0.2266864990924927 [-02  +E8208170301E0D20]

double precision error: function ARCTANGENT
   arg1            =  0.8350157737731934 [+00  +D5C3980000000000]
   expected result =  0.6957303706519274 [+00  +B21B62B4C8B35709]
   result          =  0.6957303706519278 [+00  +B21B62B4C8B373B4]

double precision error: function ARCTANGENT
   arg1            =  3.714448809623718 [+02  +EDB9878000000000]
   expected result =  1.307812617657944 [+01  +A76667631189E43F]
   result          =  1.307812617657944 [+01  +A76667631189E304]

conversion error - decimal input =  1.298781350241179 [+01  +A63E779FF86516E0]
                   hex input     =  1.298781350241179 [+01  +A63E779FF8651789]

double precision error: function ARCTANGENT
   arg1            =  3.585146069526672 [+02  +E573088000000000]
   expected result =  1.298781350241179 [+01  +A63E779FF8651789]
   result          =  1.298781350241179 [+01  +A63E779FF86516F8]

conversion error - decimal input =  1.238002965537057 [+01  +9E76E194AA950DE4]
                   hex input     =  1.238002965537057 [+01  +9E76E194AA950EEC]

conversion error - decimal input =  1.333927089714748 [+01  +AABE1F74C961DA08]
                   hex input     =  1.333927089714748 [+01  +AABE1F74C961DA6C]

double precision error: function ARCTANGENT
   arg1            =  4.142485260963440 [+03  +848F3D4000000000]
   expected result =  1.333927089714748 [+01  +AABE1F74C961DA6C]
   result          =  1.333927089714747 [+01  +AABE1F74C961D068]

conversion error - decimal input =  1.336848423796092 [+01  +AB1DD961F4E91500]
                   hex input     =  1.336848423796092 [+01  +AB1DD961F4E915AA]

double precision error: function ARCTANGENT
   arg1            =  4.196187257766724 [+03  +86472A8000000000]
   expected result =  1.336848423796092 [+01  +AB1DD961F4E915AA]
   result          =  1.336848423796092 [+01  +AB1DD961F4E90930]

conversion error - decimal input = -1.294628847583088 [+01  -A5B665E869EC9D00]
                   hex input     = -1.294628847583088 [+01  -A5B665E869EC9D86]

double precision error: function ARCTANGENT
   arg1            = -3.528463840484619 [+02  -E1D25A0000000000]
   expected result = -1.294628847583088 [+01  -A5B665E869EC9D86]
   result          = -1.294628847583088 [+01  -A5B665E869EC9D24]

conversion error - decimal input =  1.199304305655209 [+01  +9982CDB15EDCAA00]
                   hex input     =  1.199304305655209 [+01  +9982CDB15EDCAAB3]

conversion error - decimal input =  0.5860084941803296 [+00  +9604A715AEC6DCFC]
                   hex input     =  0.5860084941803296 [+00  +9604A715AEC6DD61]

conversion error - decimal input = -1.211168166391312 [+01  -9B078EF84DB145FC]
                   hex input     = -1.211168166391312 [+01  -9B078EF84DB1468D]

double precision error: function ARCTANGENT
   arg1            = -4.686393737792969 [+03  -95F6F00000000000]
   expected result = -1.360565573653134 [+01  -AE27034173AC1335]
   result          = -1.360565573653134 [+01  -AE27034173AC15F0]

conversion error - decimal input = -1.353285269513895 [+01  -AD3873A35C40BAE0]
                   hex input     = -1.353285269513895 [+01  -AD3873A35C40BB6A]

double precision error: function ARCTANGENT
   arg1            = -4.524734020233154 [+03  -90CA9F0000000000]
   expected result = -1.353285269513895 [+01  -AD3873A35C40BB6A]
   result          = -1.353285269513895 [+01  -AD3873A35C40C050]

conversion error - decimal input =  0.8642909011017557 [+00  +DD422B22766093FC]
                   hex input     =  0.8642909011017557 [+00  +DD422B22766094E2]

double precision error: function ARCTANGENT
   arg1            =  1.171686649322510 [+01  +95F9D40000000000]
   expected result =  0.8642909011017557 [+00  +DD422B22766094E2]
   result          =  0.8642909011017556 [+00  +DD422B2276608838]

conversion error - decimal input = -1.224289825880827 [+01  -9CB5876D7DE96FFC]
                   hex input     = -1.224289825880827 [+01  -9CB5876D7DE97053]

conversion error - decimal input =  1.208558978802058 [+01  +9AB20F849EF9C3E0]
                   hex input     =  1.208558978802058 [+01  +9AB20F849EF9C43B]

conversion error - decimal input = -0.3265073540373037 [-01  -A72BF8CEFCC7F2F4]
                   hex input     = -0.3265073540373037 [-01  -A72BF8CEFCC7F3E9]

conversion error - decimal input =  0.9444817720135581 [+00  +F1C98EB277635EFC]
                   hex input     =  0.9444817720135581 [+00  +F1C98EB277635F5B]

conversion error - decimal input = -1.241183266643111 [+01  -9EDF17E1498CDF14]
                   hex input     = -1.241183266643112 [+01  -9EDF17E1498CDFF2]

conversion error - decimal input = -0.9754592544333193 [+00  -F9B7B29C5F246A04]
                   hex input     = -0.9754592544333193 [+00  -F9B7B29C5F246AEA]

conversion error - decimal input = -1.371611388121912 [+01  -AF90F6436702E7FC]
                   hex input     = -1.371611388121912 [+01  -AF90F6436702E851]

double precision error: function ARCTANGENT
   arg1            = -4.953888654708862 [+03  -9E86418000000000]
   expected result = -1.371611388121912 [+01  -AF90F6436702E851]
   result          = -1.371611388121912 [+01  -AF90F6436702E968]

conversion error - decimal input = -0.09532086817512776 [-03  -C337965B820CC508]
                   hex input     = -0.09532086817512776 [-03  -C337965B820CC5EE]

conversion error - decimal input = -1.307186888419118 [+01  -A751E663C292FE04]
                   hex input     = -1.307186888419118 [+01  -A751E663C292FEB9]

double precision error: function ARCTANGENT
   arg1            = -3.705211281776428 [+02  -ED222E8000000000]
   expected result = -1.307186888419118 [+01  -A751E663C292FEB9]
   result          = -1.307186888419117 [+01  -A751E663C292FD8C]

conversion error - decimal input =  1.364713479156444 [+01  +AEAEEE68B19325E8]
                   hex input     =  1.364713479156444 [+01  +AEAEEE68B19326B4]

double precision error: function ARCTANGENT
   arg1            =  4.783527851104736 [+03  +9912A90000000000]
   expected result =  1.364713479156444 [+01  +AEAEEE68B19326B4]
   result          =  1.364713479156444 [+01  +AEAEEE68B19328A4]

conversion error - decimal input =  1.292334469124090 [+01  +A56B374430D4A8EC]
                   hex input     =  1.292334469124090 [+01  +A56B374430D4A99C]

double precision error: function ARCTANGENT
   arg1            =  3.497852087020874 [+02  +DFDCCF0000000000]
   expected result =  1.292334469124090 [+01  +A56B374430D4A99C]
   result          =  1.292334469124090 [+01  +A56B374430D4A94C]

conversion error - decimal input =  1.264014139683923 [+01  +A1CB371FCFDFFD10]
                   hex input     =  1.264014139683923 [+01  +A1CB371FCFDFFDFC]

conversion error - decimal input =  1.182674115830357 [+01  +9761DD8CA896BDE4]
                   hex input     =  1.182674115830357 [+01  +9761DD8CA896BEE8]

conversion error - decimal input =  0.8750391501990065 [+00  +E00290D4D30993FC]
                   hex input     =  0.8750391501990065 [+00  +E00290D4D3099489]

double precision error: function ARCTANGENT
   arg1            =  1.197516918182373 [+01  +99483C0000000000]
   expected result =  0.8750391501990065 [+00  +E00290D4D3099489]
   result          =  0.8750391501990061 [+00  +E00290D4D30977EC]

conversion error - decimal input =  0.9183902797125167 [+00  +EB1BA018545D7AF8]
                   hex input     =  0.9183902797125167 [+00  +EB1BA018545D7BF9]

double precision error: function ARCTANGENT
   arg1            =  1.308887004852295 [+01  +A7899C0000000000]
   expected result =  0.9183902797125167 [+00  +EB1BA018545D7BF9]
   result          =  0.9183902797125167 [+00  +EB1BA018545D7CD8]

conversion error - decimal input =  1.293943761474040 [+01  +A59FF2FD3275F9F0]
                   hex input     =  1.293943761474040 [+01  +A59FF2FD3275FA91]

double precision error: function ARCTANGENT
   arg1            =  3.519271612167358 [+02  +E13BBF0000000000]
   expected result =  1.293943761474040 [+01  +A59FF2FD3275FA91]
   result          =  1.293943761474040 [+01  +A59FF2FD3275FA34]

conversion error - decimal input =  1.203156601418788 [+01  +9A01091787B4B9DC]
                   hex input     =  1.203156601418788 [+01  +9A01091787B4BAA8]

conversion error - decimal input =  0.01736525962664423 [-05  +8E4196C5DB05BD00]
                   hex input     =  0.01736525962664423 [-05  +8E4196C5DB05BD5F]

conversion error - decimal input = -0.4424729293166688 [-01  -E28BCFD18F9229F0]
                   hex input     = -0.4424729293166688 [-01  -E28BCFD18F922A5D]

double precision error: function ARCTANGENT
   arg1            =  4.775153994560242 [+03  +98CE0FC000000000]
   expected result =  1.364362257473882 [+01  +AEA36C25DF9F7C13]
   result          =  1.364362257473882 [+01  +AEA36C25DF9F7E14]

conversion error - decimal input = -1.368549357470374 [+01  -AF2CA016A60657F0]
                   hex input     = -1.368549357470374 [+01  -AF2CA016A6065870]

double precision error: function ARCTANGENT
   arg1            = -4.876849651336670 [+03  -9C0F270000000000]
   expected result = -1.368549357470374 [+01  -AF2CA016A6065870]
   result          = -1.368549357470374 [+01  -AF2CA016A60659D8]

conversion error - decimal input =  0.7228967079706403 [+00  +B90FC2371EB5DE04]
                   hex input     =  0.7228967079706403 [+00  +B90FC2371EB5DEDC]

double precision error: function ARCTANGENT
   arg1            =  0.8822059631347656 [+00  +E1D8400000000000]
   expected result =  0.7228967079706403 [+00  +B90FC2371EB5DEDC]
   result          =  0.7228967079706403 [+00  +B90FC2371EB5E23C]

conversion error - decimal input =  1.259758060487274 [+01  +A13FC08B552641E4]
                   hex input     =  1.259758060487274 [+01  +A13FC08B552642C4]

conversion error - decimal input =  1.078845295550847 [+01  +8A179A46EACBC0FC]
                   hex input     =  1.078845295550847 [+01  +8A179A46EACBC173]

conversion error - decimal input =  1.369607335829326 [+01  +AF4F4B0DDFD38AE0]
                   hex input     =  1.369607335829326 [+01  +AF4F4B0DDFD38B70]

double precision error: function ARCTANGENT
   arg1            =  4.903206229209900 [+03  +9CE710C000000000]
   expected result =  1.369607335829326 [+01  +AF4F4B0DDFD38B70]
   result          =  1.369607335829326 [+01  +AF4F4B0DDFD38CB8]

conversion error - decimal input =  1.207738655931457 [+01  +9A972E26AB98FBF8]
                   hex input     =  1.207738655931457 [+01  +9A972E26AB98FC94]

conversion error - decimal input = -0.4974250490046147 [-01  -FEAE7EFB5F3DA800]
                   hex input     = -0.4974250490046147 [-01  -FEAE7EFB5F3DA8E5]

conversion error - decimal input = -1.091991110303527 [+01  -8BC65D5D23605324]
                   hex input     = -1.091991110303527 [+01  -8BC65D5D23605389]

conversion error - decimal input =  1.249343243806212 [+01  +9FEA7ABAD0287814]
                   hex input     =  1.249343243806212 [+01  +9FEA7ABAD02878F8]

conversion error - decimal input =  1.119374113888144 [+01  +8F47A6A591BC492C]
                   hex input     =  1.119374113888144 [+01  +8F47A6A591BC498E]

conversion error - decimal input = -1.322742237121913 [+01  -A94F9E1CBCFDC6EC]
                   hex input     = -1.322742237121913 [+01  -A94F9E1CBCFDC79D]

double precision error: function ARCTANGENT
   arg1            = -3.948352932929993 [+02  -FCB1D08000000000]
   expected result = -1.322742237121913 [+01  -A94F9E1CBCFDC79D]
   result          = -1.322742237121913 [+01  -A94F9E1CBCFDC368]

conversion error - decimal input =  0.8964438762377112 [+00  +E57D588B23F3F4FC]
                   hex input     =  0.8964438762377112 [+00  +E57D588B23F3F5A5]

double precision error: function ARCTANGENT
   arg1            =  1.250995993614197 [+01  +A020A30000000000]
   expected result =  0.8964438762377112 [+00  +E57D588B23F3F5A5]
   result          =  0.8964438762377113 [+00  +E57D588B23F3FB54]

double precision error: function ARCTANGENT
   arg1            = -4.924911260604858 [+03  -9D98DF8000000000]
   expected result = -1.370470432324524 [+01  -AF6B933B7C020500]
   result          = -1.370470432324524 [+01  -AF6B933B7C020634]

conversion error - decimal input =  0.9221348057511022 [+00  +EC1106D1344CCC04]
                   hex input     =  0.9221348057511023 [+00  +EC1106D1344CCCF1]

double precision error: function ARCTANGENT
   arg1            =  1.319096684455872 [+01  +A8D8290000000000]
   expected result =  0.9221348057511023 [+00  +EC1106D1344CCCF1]
   result          =  0.9221348057511023 [+00  +EC1106D1344CCD8C]

conversion error - decimal input = -0.9119212476833511 [+00  -E973ABBF53D79AFC]
                   hex input     = -0.9119212476833511 [+00  -E973ABBF53D79B5E]

double precision error: function ARCTANGENT
   arg1            = -1.291482448577881 [+01  -A54F4C0000000000]
   expected result = -0.9119212476833511 [+00  -E973ABBF53D79B5E]
   result          = -0.9119212476833511 [+00  -E973ABBF53D79CE8]

conversion error - decimal input = -0.9411186653608859 [+00  -F0ED272161530408]
                   hex input     = -0.9411186653608859 [+00  -F0ED2721615304FC]

double precision error: function ARCTANGENT
   arg1            = -4.105005264282227 [+03  -835C340000000000]
   expected result = -1.331845440108596 [+01  -AA79E9504BEC344C]
   result          = -1.331845440108596 [+01  -AA79E9504BEC2BC0]

conversion error - decimal input =  1.535371755524409 [+01  +C4870FCA96F80EFC]
                   hex input     =  1.535371755524409 [+01  +C4870FCA96F80F91]

conversion error - decimal input =  1.527099560917603 [+01  +C377FF97F043B014]
                   hex input     =  1.527099560917603 [+01  +C377FF97F043B072]

conversion error - decimal input =  1.544071672222594 [+01  +C5A423FB70231910]
                   hex input     =  1.544071672222594 [+01  +C5A423FB702319F4]

conversion error - decimal input = -1.558544387922637 [+01  -C77E61EBBEFBE628]
                   hex input     = -1.558544387922637 [+01  -C77E61EBBEFBE6B2]

conversion error - decimal input =  1.559611123547819 [+01  +C7A156590ECF30E8]
                   hex input     =  1.559611123547819 [+01  +C7A156590ECF3188]

conversion error - decimal input = -1.528497594628033 [+01  -C3A5CF267895AAE8]
                   hex input     = -1.528497594628033 [+01  -C3A5CF267895AB32]

conversion error - decimal input = -1.551412770782768 [+01  -C694B1948DEAF01C]
                   hex input     = -1.551412770782768 [+01  -C694B1948DEAF0CF]

conversion error - decimal input = -1.539101820969701 [+01  -C50149D923B36EDC]
                   hex input     = -1.539101820969701 [+01  -C50149D923B36FE2]

conversion error - decimal input = -1.558328973970230 [+01  -C77752E5CE4171F4]
                   hex input     = -1.558328973970230 [+01  -C77752E5CE417297]

conversion error - decimal input =  1.560587548136332 [+01  +C7C15530E52AF2E4]
                   hex input     =  1.560587548136332 [+01  +C7C15530E52AF3B5]

conversion error - decimal input = -1.559392315649283 [+01  -C79A2ADAAC76F8D4]
                   hex input     = -1.559392315649283 [+01  -C79A2ADAAC76F998]

conversion error - decimal input =  1.552715047723795 [+01  +C6BF5DDEFD8A2B20]
                   hex input     =  1.552715047723795 [+01  +C6BF5DDEFD8A2BD5]

conversion error - decimal input = -1.560619570718457 [+01  -C7C261D0DDDDC3E0]
                   hex input     = -1.560619570718457 [+01  -C7C261D0DDDDC454]

conversion error - decimal input =  1.560565956560327 [+01  +C7C0A01156BA5BF8]
                   hex input     =  1.560565956560327 [+01  +C7C0A01156BA5CB8]

conversion error - decimal input = -1.555707021419885 [+01  -C721685D93F71918]
                   hex input     = -1.555707021419885 [+01  -C721685D93F71983]

conversion error - decimal input = -0.1654268796580114 [-02  -A965A9F80ABD0724]
                   hex input     = -0.1654268796580114 [-02  -A965A9F80ABD07A7]

double precision error: function ARCTANGENT
   arg1            = -0.1669526100158691 [-02  -AAF5A00000000000]
   expected result = -0.1654268796580114 [-02  -A965A9F80ABD07A7]
   result          = -0.1654268796580114 [-02  -A965A9F80ABD074C]

conversion error - decimal input =  1.556403413372467 [+01  +C7383A1FE8A462F4]
                   hex input     =  1.556403413372467 [+01  +C7383A1FE8A4639E]

conversion error - decimal input =  1.559525444395828 [+01  +C79E879E7ADF8620]
                   hex input     =  1.559525444395828 [+01  +C79E879E7ADF86C7]

conversion error - decimal input =  1.540337982227301 [+01  +C529CB8539F823F4]
                   hex input     =  1.540337982227301 [+01  +C529CB8539F824F1]

conversion error - decimal input = -1.549392724278709 [+01  -C6528033B7FCB928]
                   hex input     = -1.549392724278709 [+01  -C6528033B7FCB976]

conversion error - decimal input =  1.550890583291389 [+01  +C68395277497B52C]
                   hex input     =  1.550890583291389 [+01  +C68395277497B58B]

conversion error - decimal input = -1.556123089553512 [+01  -C72F0A99176679F0]
                   hex input     = -1.556123089553512 [+01  -C72F0A9917667A47]

conversion error - decimal input =  1.553950037860999 [+01  +C6E7D5B81D8FCBF0]
                   hex input     =  1.553950037860999 [+01  +C6E7D5B81D8FCCDF]

conversion error - decimal input = -1.541620111225739 [+01  -C553CECC4903F5EC]
                   hex input     = -1.541620111225739 [+01  -C553CECC4903F646]

conversion error - decimal input = -1.540352292704703 [+01  -C52A4390BE1EF0E4]
                   hex input     = -1.540352292704703 [+01  -C52A4390BE1EF1D0]

conversion error - decimal input =  1.560389055844234 [+01  +C7BAD41DF1932A1C]
                   hex input     =  1.560389055844234 [+01  +C7BAD41DF1932AE9]

conversion error - decimal input = -1.536514330303772 [+01  -C4AC80673EB9B8D8]
                   hex input     = -1.536514330303772 [+01  -C4AC80673EB9B9BC]

conversion error - decimal input =  1.548595319480896 [+01  +C6385F15F45E15E8]
                   hex input     =  1.548595319480896 [+01  +C6385F15F45E1669]

conversion error - decimal input = -1.543076251563414 [+01  -C58385C9D97D39F4]
                   hex input     = -1.543076251563415 [+01  -C58385C9D97D3A97]

conversion error - decimal input = -1.524666828569354 [+01  -C328485B002E4528]
                   hex input     = -1.524666828569354 [+01  -C328485B002E45CC]

conversion error - decimal input = -1.526084850316442 [+01  -C356BF9583DCC9FC]
                   hex input     = -1.526084850316442 [+01  -C356BF9583DCCAF7]

conversion error - decimal input = -1.442319446048343 [+01  -B89DEC7194CBC8EC]
                   hex input     = -1.442319446048343 [+01  -B89DEC7194CBC9D9]

conversion error - decimal input = -1.545872897637321 [+01  -C5DF29C1900197FC]
                   hex input     = -1.545872897637321 [+01  -C5DF29C190019884]

conversion error - decimal input = -1.557268372047026 [+01  -C75491EC84C0F8EC]
                   hex input     = -1.557268372047026 [+01  -C75491EC84C0F93F]

conversion error - decimal input =  1.552835773352761 [+01  +C6C352974DF2E218]
                   hex input     =  1.552835773352761 [+01  +C6C352974DF2E2CA]

conversion error - decimal input = -1.517377270685384 [+01  -C2396B1CA4CB97F8]
                   hex input     = -1.517377270685384 [+01  -C2396B1CA4CB98CB]

conversion error - decimal input =  1.555411474394414 [+01  +C717B9232C6F6A10]
                   hex input     =  1.555411474394414 [+01  +C717B9232C6F6A8D]

conversion error - decimal input =  1.554724014824749 [+01  +C701324EFD32E80C]
                   hex input     =  1.554724014824749 [+01  +C701324EFD32E8EE]

conversion error - decimal input = -1.489754888455275 [+01  -BEB049C67C5B28F0]
                   hex input     = -1.489754888455275 [+01  -BEB049C67C5B2957]

conversion error - decimal input = -1.533529295909180 [+01  -C44AB01EB1A491E0]
                   hex input     = -1.533529295909180 [+01  -C44AB01EB1A49224]

conversion error - decimal input = -1.560349348746910 [+01  -C7B9870799F7E4F0]
                   hex input     = -1.560349348746910 [+01  -C7B9870799F7E536]

conversion error - decimal input =  1.552773255047483 [+01  +C6C146264425DAF8]
                   hex input     =  1.552773255047483 [+01  +C6C146264425DBA5]

conversion error - decimal input =  1.546071019243203 [+01  +C5E5A7B878B2522C]
                   hex input     =  1.546071019243203 [+01  +C5E5A7B878B252A2]

conversion error - decimal input =  1.558986635816488 [+01  +C78CDFC3DDCEF300]
                   hex input     =  1.558986635816488 [+01  +C78CDFC3DDCEF358]

conversion error - decimal input =  1.537541625238447 [+01  +C4CE29FA51A41428]
                   hex input     =  1.537541625238447 [+01  +C4CE29FA51A41474]

conversion error - decimal input =  1.350705580968611 [+01  +ACE3EBA464767BD8]
                   hex input     =  1.350705580968611 [+01  +ACE3EBA464767C7C]

double precision error: function ARCTANGENT
   arg1            =  4.469978809356689 [+03  +8F0A110000000000]
   expected result =  1.350705580968611 [+01  +ACE3EBA464767C7C]
   result          =  1.350705580968612 [+01  +ACE3EBA46476827C]

conversion error - decimal input = -1.554898232637286 [+01  -C706E7C0E48616E4]
                   hex input     = -1.554898232637286 [+01  -C706E7C0E48617E9]

conversion error - decimal input =  1.558802989896648 [+01  +C786DB3B41ADF31C]
                   hex input     =  1.558802989896648 [+01  +C786DB3B41ADF3D8]

conversion error - decimal input =  1.556936926332528 [+01  +C749B58E44384518]
                   hex input     =  1.556936926332528 [+01  +C749B58E4438456B]

conversion error - decimal input =  1.537942775608406 [+01  +C4DB4F122DC4EBFC]
                   hex input     =  1.537942775608406 [+01  +C4DB4F122DC4ECBB]

conversion error - decimal input = -1.499461129337885 [+01  -BFEE57A010919A0C]
                   hex input     = -1.499461129337885 [+01  -BFEE57A010919A78]

conversion error - decimal input = -1.559581753525249 [+01  -C7A05FF96A25BDD4]
                   hex input     = -1.559581753525249 [+01  -C7A05FF96A25BEF5]

conversion error - decimal input = -1.153909630705225 [+01  -93B34F8F358D790C]
                   hex input     = -1.153909630705225 [+01  -93B34F8F358D7950]

conversion error - decimal input =  1.541037651471247 [+01  +C540B8C57CA09B04]
                   hex input     =  1.541037651471247 [+01  +C540B8C57CA09B84]

conversion error - decimal input =  1.559060310109656 [+01  +C78F49CA34CFCD2C]
                   hex input     =  1.559060310109656 [+01  +C78F49CA34CFCD98]

conversion error - decimal input = -1.551905959612417 [+01  -C6A4DABF805CA50C]
                   hex input     = -1.551905959612417 [+01  -C6A4DABF805CA5FD]

conversion error - decimal input = -1.559299276923342 [+01  -C7971E6387F62E10]
                   hex input     = -1.559299276923342 [+01  -C7971E6387F62E6A]

conversion error - decimal input =  1.559361576486630 [+01  +C79928FED314F8F8]
                   hex input     =  1.559361576486630 [+01  +C79928FED314F940]

conversion error - decimal input =  1.455746281466911 [+01  +BA55E4E716456104]
                   hex input     =  1.455746281466911 [+01  +BA55E4E71645615F]

conversion error - decimal input =  1.559449528144751 [+01  +C79C0AC99279A2FC]
                   hex input     =  1.559449528144751 [+01  +C79C0AC99279A33D]

conversion error - decimal input =  1.538427889240746 [+01  +C4EB347FC58B5C0C]
                   hex input     =  1.538427889240746 [+01  +C4EB347FC58B5C73]

conversion error - decimal input =  1.560061551086906 [+01  +C7B018CED5285820]
                   hex input     =  1.560061551086906 [+01  +C7B018CED52858E4]

conversion error - decimal input =  1.559557523813340 [+01  +C79F94B881282630]
                   hex input     =  1.559557523813340 [+01  +C79F94B8812826AF]

conversion error - decimal input = -1.557398033481197 [+01  -C758D19A5406A218]
                   hex input     = -1.557398033481197 [+01  -C758D19A5406A2A3]

conversion error - decimal input =  1.550560465598700 [+01  +C678C3ED1BC50EE0]
                   hex input     =  1.550560465598700 [+01  +C678C3ED1BC50F78]

conversion error - decimal input = -1.556022774177367 [+01  -C72BC11776244F20]
                   hex input     = -1.556022774177367 [+01  -C72BC11776244F8D]

conversion error - decimal input = -1.544677410785752 [+01  -C5B7FD4918EDEB2C]
                   hex input     = -1.544677410785752 [+01  -C5B7FD4918EDEBF4]

conversion error - decimal input = -1.317259109292220 [+01  -A89BF24D62538E30]
                   hex input     = -1.317259109292220 [+01  -A89BF24D62538E89]

double precision error: function ARCTANGENT
   arg1            = -3.859317302703857 [+02  -F6FF0E0000000000]
   expected result = -1.317259109292220 [+01  -A89BF24D62538E89]
   result          = -1.317259109292220 [+01  -A89BF24D62538BD4]

conversion error - decimal input =  1.554440248273346 [+01  +C6F7E5E6F5C73D20]
                   hex input     =  1.554440248273346 [+01  +C6F7E5E6F5C73D95]

conversion error - decimal input =  1.553492017638336 [+01  +C6D8D3912D463E10]
                   hex input     =  1.553492017638336 [+01  +C6D8D3912D463E5E]

single precision error: function ARCTAN2
   arg1            =  3.592558 [+02  +E5EC780000000000]
   arg2            = -5.601833 [+03  -B342370000000000]
   expected result = -0.5702479 [+00  -91FBC37DADAEC624]
   result          =  2.571345 [+02  +A490E9C000000000]

double precision error: function ARCTAN2
   arg1            =  3.592557907104492 [+02  +E5EC780000000000]
   arg2            = -5.601832866668701 [+03  -B342370000000000]
   expected result = -0.5702478582222127 [+00  -91FBC37DADAEC624]
   result          =  2.571344795367581 [+02  +A490E9C2B5FD10AC]

conversion error - decimal input =  1.134590480328460 [+01  +913A42C7AE8CA328]
                   hex input     =  1.134590480328460 [+01  +913A42C7AE8CA3D5]

conversion error - decimal input = -1.079660558918439 [+01  -8A325133AAFAB024]
                   hex input     = -1.079660558918439 [+01  -8A325133AAFAB0D3]

conversion error - decimal input = -0.4373588217899620 [-01  -DFED7ED868F301F8]
                   hex input     = -0.4373588217899620 [-01  -DFED7ED868F302D4]

single precision error: function ARCTAN2
   arg1            =  3.030498 [+02  +C1F3AE0000000000]
   arg2            = -6.481545 [+03  -CF68D10000000000]
   expected result = -0.4373588 [-01  -DFED7ED868F302D4]
   result          =  2.704234 [+02  +AD122AC000000000]

double precision error: function ARCTAN2
   arg1            =  3.030498027801514 [+02  +C1F3AE0000000000]
   arg2            = -6.481544971466064 [+03  -CF68D10000000000]
   expected result = -0.4373588217899620 [-01  -DFED7ED868F302D4]
   result          =  2.704233831799831 [+02  +AD122AC7144A61DC]

conversion error - decimal input =  0.8196998531660064 [+00  +D1D7D97DE24DC9FC]
                   hex input     =  0.8196998531660064 [+00  +D1D7D97DE24DCA59]

double precision error: function ARCTAN2
   arg1            =  6.246590614318848 [+03  +C7E4120000000000]
   arg2            =  5.832108259201050 [+03  +BAA0A18000000000]
   expected result =  0.8196998531660064 [+00  +D1D7D97DE24DCA59]
   result          =  0.8196998531660064 [+00  +D1D7D97DE24DCA14]

single precision error: function ARCTAN2
   arg1            = -2.051928 [+02  -8352CA0000000000]
   arg2            = -4.605162 [+03  -935D7D0000000000]
   expected result =  0.4191649 [-01  +D69CC88293400121]
   result          = -2.722428 [+02  -AE3C41A000000000]

double precision error: function ARCTAN2
   arg1            = -2.051928043365479 [+02  -8352CA0000000000]
   arg2            = -4.605162143707275 [+03  -935D7D0000000000]
   expected result =  0.4191649112123059 [-01  +D69CC88293400121]
   result          = -2.722427742377487 [+02  -AE3C4191CF00C210]

conversion error - decimal input = -0.8456953730533557 [+00  -D87F7DF1A486D1F8]
                   hex input     = -0.8456953730533557 [+00  -D87F7DF1A486D2CE]

single precision error: function ARCTAN2
   arg1            =  6.058791 [+03  +C1E19D0000000000]
   arg2            = -5.368897 [+03  -ABCE008000000000]
   expected result = -0.8456954 [+00  -D87F7DF1A486D2CE]
   result          =  2.295897 [+02  +92EFFB2000000000]

double precision error: function ARCTAN2
   arg1            =  6.058790683746338 [+03  +C1E19D0000000000]
   arg2            = -5.368896722793579 [+03  -ABCE008000000000]
   expected result = -0.8456953730533557 [+00  -D87F7DF1A486D2CE]
   result          =  2.295897280536438 [+02  +92EFFB25B8470E34]

conversion error - decimal input = -0.5937378473862788 [+00  -97FF341CEBE7DA08]
                   hex input     = -0.5937378473862788 [+00  -97FF341CEBE7DA73]

conversion error - decimal input = -0.8795197442205172 [+00  -E12834B99D083508]
                   hex input     = -0.8795197442205172 [+00  -E12834B99D0835D1]

double precision error: function ARCTAN2
   arg1            = -5.306514501571655 [+03  -A9CEF78000000000]
   arg2            =  4.391058683395386 [+03  +8C838D8000000000]
   expected result = -0.8795197442205172 [+00  -E12834B99D0835D1]
   result          = -0.8795197442205175 [+00  -E12834B99D084B30]

conversion error - decimal input = -1.255879172866886 [+01  -A0C0A613986C4CF8]
                   hex input     = -1.255879172866886 [+01  -A0C0A613986C4DEC]

conversion error - decimal input = -1.399301351019445 [+01  -B31C4E81F045D1E0]
                   hex input     = -1.399301351019445 [+01  -B31C4E81F045D259]

single precision error: function ARCTAN2
   arg1            =  7.095784 [+03  +E310A98000000000]
   arg2            = -1.228963 [+01  -9D4EAA0000000000]
   expected result = -1.399301 [+01  -B31C4E81F045D259]
   result          =  1.742291 [+01  +DF0366A000000000]

double precision error: function ARCTAN2
   arg1            =  7.095783948898315 [+03  +E310A98000000000]
   arg2            = -1.228963136672974 [+01  -9D4EAA0000000000]
   expected result = -1.399301351019445 [+01  -B31C4E81F045D259]
   result          =  1.742291302570349 [+01  +DF0366C2528BB1F8]

single precision error: function ARCTAN2
   arg1            = -3.174802 [+02  -CB2FF50000000000]
   arg2            = -0.3710151 [-01  -BDF5B00000000000]
   expected result =  1.454462 [+01  +BA2BCBFDBE600448]
   result          = -1.687131 [+01  -D7F3E94000000000]

double precision error: function ARCTAN2
   arg1            = -3.174802064895630 [+02  -CB2FF50000000000]
   arg2            = -0.3710150718688965 [-01  -BDF5B00000000000]
   expected result =  1.454461573503750 [+01  +BA2BCBFDBE600448]
   result          = -1.687131080086044 [+01  -D7F3E94684718020]

conversion error - decimal input =  1.300398324408088 [+01  +A67373C98D8F4414]
                   hex input     =  1.300398324408088 [+01  +A67373C98D8F44B5]

single precision error: function ARCTAN2
   arg1            = -5.583714 [+03  -B2ADC98000000000]
   arg2            = -1.547731 [+01  -C61C0E0000000000]
   expected result =  1.300398 [+01  +A67373C98D8F44B5]
   result          = -1.841194 [+01  -EBAC416000000000]

double precision error: function ARCTAN2
   arg1            = -5.583714246749878 [+03  -B2ADC98000000000]
   arg2            = -1.547731161117554 [+01  -C61C0E0000000000]
   expected result =  1.300398324408088 [+01  +A67373C98D8F44B5]
   result          = -1.841194329181706 [+01  -EBAC417AB5424058]

conversion error - decimal input = -0.02002000741373675 [-05  -A400FFA37216C710]
                   hex input     = -0.02002000741373675 [-05  -A400FFA37216C7BA]

conversion error - decimal input =  0.6045790597328576 [+00  +9AC5B17966286500]
                   hex input     =  0.6045790597328576 [+00  +9AC5B179662865FF]

conversion error - decimal input =  0.9174092773469990 [+00  +EADB559B409A4E04]
                   hex input     =  0.9174092773469990 [+00  +EADB559B409A4EF6]

single precision error: function ARCTAN2
   arg1            = -9.653352 [+04  -9A7421C000000000]
   arg2            = -7.390246 [+03  -EC7CE60000000000]
   expected result =  0.9174093 [+00  +EADB559B409A4EF6]
   result          = -2.224183 [+02  -8E59054000000000]

double precision error: function ARCTAN2
   arg1            = -9.653352499008179 [+04  -9A7421C000000000]
   arg2            = -7.390246391296387 [+03  -EC7CE60000000000]
   expected result =  0.9174092773469990 [+00  +EADB559B409A4EF6]
   result          = -2.224183376242794 [+02  -8E59053B51422E3C]

double precision error: function ARCTAN2
   arg1            =  3.124424219131470 [+02  +C7F6910000000000]
   arg2            =  0.9001314640045166 [+00  +E66F040000000000]
   expected result =  1.290296878410027 [+01  +A52872B77373341A]
   result          =  1.290296878410027 [+01  +A52872B7737333D8]

conversion error - decimal input =  0.9264432225111636 [+00  +ED2B620E494ADCF8]
                   hex input     =  0.9264432225111636 [+00  +ED2B620E494ADD4C]

single precision error: function ARCTAN2
   arg1            = -8.744974 [+04  -8BEB6A0000000000]
   arg2            = -6.570380 [+03  -D2408D0000000000]
   expected result =  0.9264432 [+00  +ED2B620E494ADD4C]
   result          = -2.215149 [+02  -8DC5022000000000]

double precision error: function ARCTAN2
   arg1            = -8.744974136352539 [+04  -8BEB6A0000000000]
   arg2            = -6.570379734039307 [+03  -D2408D0000000000]
   expected result =  0.9264432225111636 [+00  +ED2B620E494ADD4C]
   result          = -2.215149431078630 [+02  -8DC5021E8F160AC8]

conversion error - decimal input =  1.313054610762246 [+01  +A8122C698AFD5B14]
                   hex input     =  1.313054610762246 [+01  +A8122C698AFD5BB6]

single precision error: function ARCTAN2
   arg1            = -9.547881 [+04  -98C41EC000000000]
   arg2            = -2.516868 [+02  -A1145E0000000000]
   expected result =  1.313055 [+01  +A8122C698AFD5BB6]
   result          = -1.828538 [+01  -EA0D88C000000000]

double precision error: function ARCTAN2
   arg1            = -9.547880887985229 [+04  -98C41EC000000000]
   arg2            = -2.516868114471436 [+02  -A1145E0000000000]
   expected result =  1.313054610762246 [+01  +A8122C698AFD5BB6]
   result          = -1.828538042827547 [+01  -EA0D88DAB7D42A9C]

double precision error: function ARCTAN2
   arg1            =  2.499561309814453 [+02  +9FF8D00000000000]
   arg2            =  2.262502908706665 [+02  +90CCD90000000000]
   expected result =  0.8351377011519699 [+00  +D5CB959A1AB5823B]
   result          =  0.8351377011519699 [+00  +D5CB959A1AB58118]

single precision error: function ARCTAN2
   arg1            =  8.842669 [+04  +8D7B920000000000]
   arg2            = -5.655028 [+03  -B4F5FC8000000000]
   expected result = -1.001827 [+01  -803BDAA51920C245]
   result          =  2.139766 [+02  +88F1ED4000000000]

double precision error: function ARCTAN2
   arg1            =  8.842668533325195 [+04  +8D7B920000000000]
   arg2            = -5.655027627944946 [+03  -B4F5FC8000000000]
   expected result = -1.001826601614317 [+01  -803BDAA51920C245]
   result          =  2.139766051975476 [+02  +88F1ED4F94D86114]

conversion error - decimal input = -1.361689755519600 [+01  -AE4BD993A0A123F4]
                   hex input     = -1.361689755519600 [+01  -AE4BD993A0A124EA]

double precision error: function ARCTAN2
   arg1            = -7.072037458419800 [+03  -E24E218000000000]
   arg2            =  1.500747203826904 [+01  +C0187C0000000000]
   expected result = -1.361689755519600 [+01  -AE4BD993A0A124EA]
   result          = -1.361689755519600 [+01  -AE4BD993A0A12768]

single precision error: function ARCTAN2
   arg1            = -4.863398 [+03  -9BA0F50000000000]
   arg2            = -9.986330 [+04  -9FC8024000000000]
   expected result =  0.4531981 [-01  +E80994C0D4966623]
   result          = -2.688395 [+02  -AC0EA80000000000]

double precision error: function ARCTAN2
   arg1            = -4.863398075103760 [+03  -9BA0F50000000000]
   arg2            = -9.986330270767212 [+04  -9FC8024000000000]
   expected result =  0.4531980977429100 [-01  +E80994C0D4966623]
   result          = -2.688394555846883 [+02  -AC0EA80A06D5F570]

conversion error - decimal input =  1.186516460602926 [+01  +97DFC5793A455A28]
                   hex input     =  1.186516460602926 [+01  +97DFC5793A455ADF]

single precision error: function ARCTAN2
   arg1            = -5.784684 [+03  -B91C228000000000]
   arg2            = -2.339233 [+02  -95B5FF0000000000]
   expected result =  1.186516 [+01  +97DFC5793A455ADF]
   result          = -1.955076 [+01  -FA3FEFC000000000]

double precision error: function ARCTAN2
   arg1            = -5.784684419631958 [+03  -B91C228000000000]
   arg2            = -2.339233160018921 [+02  -95B5FF0000000000]
   expected result =  1.186516460602926 [+01  +97DFC5793A455ADF]
   result          = -1.955076192986867 [+01  -FA3FEFCB088C2988]

conversion error - decimal input =  0.8142296145893853 [+00  +D0715A1E1899A408]
                   hex input     =  0.8142296145893853 [+00  +D0715A1E1899A4A1]

single precision error: function ARCTAN2
   arg1            = -8.489019 [+04  -87D3054000000000]
   arg2            = -8.013107 [+04  -8035AF4000000000]
   expected result =  0.8142296 [+00  +D0715A1E1899A4A1]
   result          = -2.327363 [+02  -94F3842000000000]

double precision error: function ARCTAN2
   arg1            = -8.489018678665161 [+04  -87D3054000000000]
   arg2            = -8.013106584548950 [+04  -8035AF4000000000]
   expected result =  0.8142296145893853 [+00  +D0715A1E1899A4A1]
   result          = -2.327363039000408 [+02  -94F3841A9B425914]

conversion error - decimal input =  1.496249541287171 [+01  +BF851ADF3DE00F2C]
                   hex input     =  1.496249541287171 [+01  +BF851ADF3DE00FA9]

conversion error - decimal input = -0.1126623244624165 [-03  -E6BB8138759872D4]
                   hex input     = -0.1126623244624165 [-03  -E6BB8138759873B9]

single precision error: function ARCTAN2
   arg1            =  0.9322810 [+00  +EEA9F80000000000]
   arg2            = -8.239962 [+04  -83D6E24000000000]
   expected result = -0.1126623 [-03  -E6BB8138759873B9]
   result          =  3.028930 [+02  +C1D9FEA000000000]

double precision error: function ARCTAN2
   arg1            =  0.9322810173034668 [+00  +EEA9F80000000000]
   arg2            = -8.239961862564087 [+04  -83D6E24000000000]
   expected result = -0.1126623244624165 [-03  -E6BB8138759873B9]
   result          =  3.028930329127377 [+02  +C1D9FE985DBBFE98]

conversion error - decimal input = -0.7875241985911538 [+00  -C99B2F95C1F30E04]
                   hex input     = -0.7875241985911538 [+00  -C99B2F95C1F30E8D]

conversion error - decimal input =  0.6673289208238587 [+00  +AAD611729D0AD308]
                   hex input     =  0.6673289208238587 [+00  +AAD611729D0AD39D]

single precision error: function ARCTAN2
   arg1            = -5.300884 [+03  -A9A0D80000000000]
   arg2            = -6.727730 [+03  -D749908000000000]
   expected result =  0.6673289 [+00  +AAD611729D0AD39D]
   result          = -2.474264 [+02  -9E5A564000000000]

double precision error: function ARCTAN2
   arg1            = -5.300884246826172 [+03  -A9A0D80000000000]
   arg2            = -6.727730035781860 [+03  -D749908000000000]
   expected result =  0.6673289208238587 [+00  +AAD611729D0AD39D]
   result          = -2.474263732765935 [+02  -9E5A56457A260E18]

conversion error - decimal input =  0.7005868015412903 [+00  +B359A818A10BA9FC]
                   hex input     =  0.7005868015412903 [+00  +B359A818A10BAA3D]

double precision error: function ARCTAN2
   arg1            =  2.440209388732910 [+02  +9C2C640000000000]
   arg2            =  2.893670797348022 [+02  +B931E70000000000]
   expected result =  0.7005868015412903 [+00  +B359A818A10BAA3D]
   result          =  0.7005868015412906 [+00  +B359A818A10BBE2C]

conversion error - decimal input = -0.7804998892882173 [+00  -C7CED73B06468DFC]
                   hex input     = -0.7804998892882173 [+00  -C7CED73B06468E7B]

single precision error: function ARCTAN2
   arg1            =  3.012305 [+02  +C0C99D0000000000]
   arg2            = -3.041961 [+02  -C2AF7E0000000000]
   expected result = -0.7804999 [+00  -C7CED73B06468E7B]
   result          =  2.361093 [+02  +971C24E000000000]

double precision error: function ARCTAN2
   arg1            =  3.012305498123169 [+02  +C0C99D0000000000]
   arg2            = -3.041961193084717 [+02  -C2AF7E0000000000]
   expected result = -0.7804998892882173 [+00  -C7CED73B06468E7B]
   result          =  2.361092764301576 [+02  +971C24D35FD71E94]

conversion error - decimal input = -0.7470368345224639 [+00  -BF3DCE552E6CB208]
                   hex input     = -0.7470368345224639 [+00  -BF3DCE552E6CB2E7]

double precision error: function ARCTAN2
   arg1            = -5.162004232406616 [+03  -A52F238000000000]
   arg2            =  5.574055910110474 [+03  +B25EAA8000000000]
   expected result = -0.7470368345224639 [+00  -BF3DCE552E6CB2E7]
   result          = -0.7470368345224639 [+00  -BF3DCE552E6CB34C]

conversion error - decimal input =  1.015208253360128 [+01  +81F2581367CFF3F0]
                   hex input     =  1.015208253360128 [+01  +81F2581367CFF434]

single precision error: function ARCTAN2
   arg1            = -5.490212 [+03  -AFAFD20000000000]
   arg2            = -3.408436 [+02  -DA23CF0000000000]
   expected result =  1.015208 [+01  +81F2581367CFF434]
   result          = -2.126384 [+02  -8816AEA000000000]

double precision error: function ARCTAN2
   arg1            = -5.490212440490723 [+03  -AFAFD20000000000]
   arg2            = -3.408435583114624 [+02  -DA23CF0000000000]
   expected result =  1.015208253360128 [+01  +81F2581367CFF434]
   result          = -2.126384400229665 [+02  -8816AE986D80C81C]

conversion error - decimal input =  1.378292782598356 [+01  +B06BE5DCC950C22C]
                   hex input     =  1.378292782598356 [+01  +B06BE5DCC950C2E1]

double precision error: function ARCTAN2
   arg1            =  5.703877210617065 [+03  +B686298000000000]
   arg2            =  1.111783981323242 [+01  +8E4EF00000000000]
   expected result =  1.378292782598356 [+01  +B06BE5DCC950C2E1]
   result          =  1.378292782598356 [+01  +B06BE5DCC950C37C]

conversion error - decimal input =  1.495301122154108 [+01  +BF6606F4A978B4F0]
                   hex input     =  1.495301122154108 [+01  +BF6606F4A978B5C3]

conversion error - decimal input = -0.4097241089311848 [-01  -D1C75BC07BFF0BF0]
                   hex input     = -0.4097241089311848 [-01  -D1C75BC07BFF0C56]

conversion error - decimal input = -1.072407981217284 [+01  -8944AA2BA61844E4]
                   hex input     = -1.072407981217284 [+01  -8944AA2BA6184596]

single precision error: function ARCTAN2
   arg1            =  8.328128 [+04  +8540030000000000]
   arg2            = -4.532264 [+03  -91084F8000000000]
   expected result = -1.072408 [+01  -8944AA2BA6184596]
   result          =  2.069185 [+02  +846D858000000000]

double precision error: function ARCTAN2
   arg1            =  8.328127861022949 [+04  +8540030000000000]
   arg2            = -4.532264471054077 [+03  -91084F8000000000]
   expected result = -1.072407981217284 [+01  -8944AA2BA6184596]
   result          =  2.069184672372510 [+02  +846D858C4E5C9F68]

single precision error: function ARCTAN2
   arg1            =  1.042938 [+01  +857F000000000000]
   arg2            = -5.295366 [+03  -A973A38000000000]
   expected result = -0.1944640 [-02  -C7219509982F3426]
   result          =  2.947129 [+02  +BC9DC16000000000]

double precision error: function ARCTAN2
   arg1            =  1.042938232421875 [+01  +857F000000000000]
   arg2            = -5.295366048812866 [+03  -A973A38000000000]
   expected result = -0.1944640433412552 [-02  -C7219509982F3426]
   result          =  2.947128610248538 [+02  +BC9DC15187E5CF4C]

conversion error - decimal input = -1.146540539791852 [+01  -92C1D724F8DB3DEC]
                   hex input     = -1.146540539791852 [+01  -92C1D724F8DB3EF7]

conversion error - decimal input = -0.5716956260866822 [+00  -925AA5014EFCC408]
                   hex input     = -0.5716956260866822 [+00  -925AA5014EFCC44E]

single precision error: function ARCTAN2
   arg1            =  4.902523 [+03  +9CE1770000000000]
   arg2            = -7.620145 [+03  -F3D83A8000000000]
   expected result = -0.5716956 [+00  -925AA5014EFCC44E]
   result          =  2.569897 [+02  +A479316000000000]

double precision error: function ARCTAN2
   arg1            =  4.902522563934326 [+03  +9CE1770000000000]
   arg2            = -7.620145082473755 [+03  -F3D83A8000000000]
   expected result = -0.5716956260866822 [+00  -925AA5014EFCC44E]
   result          =  2.569897027503111 [+02  +A4793161CDA99120]

single precision error: function ARCTAN2
   arg1            =  4.258800 [+03  +8848160000000000]
   arg2            = -8.961458 [+04  -8F62220000000000]
   expected result = -0.4436401 [-01  -E324CD17EAC3C703]
   result          =  2.697953 [+02  +ACAB410000000000]

double precision error: function ARCTAN2
   arg1            =  4.258799552917480 [+03  +8848160000000000]
   arg2            = -8.961458206176758 [+04  -8F62220000000000]
   expected result = -0.4436401454635255 [-01  -E324CD17EAC3C703]
   result          =  2.697952508126268 [+02  +ACAB40FF24104954]

conversion error - decimal input = -0.2436533417675712 [-02  -F98042F9CFB268F0]
                   hex input     = -0.2436533417675712 [-02  -F98042F9CFB269A7]

single precision error: function ARCTAN2
   arg1            =  1.078857 [+01  +8A17FE0000000000]
   arg2            = -4.339865 [+03  -8AE02D8000000000]
   expected result = -0.2436533 [-02  -F98042F9CFB269A7]
   result          =  2.897939 [+02  +B977D68000000000]

double precision error: function ARCTAN2
   arg1            =  1.078857183456421 [+01  +8A17FE0000000000]
   arg2            = -4.339865446090698 [+03  -8AE02D8000000000]
   expected result = -0.2436533417675712 [-02  -F98042F9CFB269A7]
   result          =  2.897939311822222 [+02  +B977D672846D98A0]

conversion error - decimal input =  1.545967493786885 [+01  +C5E243493F3363FC]
                   hex input     =  1.545967493786885 [+01  +C5E243493F3364F5]

single precision error: function ARCTAN2
   arg1            =  9.221996 [+04  +938D4BC000000000]
   arg2            = -5.876323 [+03  -BC0AD68000000000]
   expected result = -1.003467 [+01  -80719A2F32E3602E]
   result          =  2.138126 [+02  +88D70D8000000000]

double precision error: function ARCTAN2
   arg1            =  9.221996068954468 [+04  +938D4BC000000000]
   arg2            = -5.876322984695435 [+03  -BC0AD68000000000]
   expected result = -1.003466866537361 [+01  -80719A2F32E3602E]
   result          =  2.138125787052432 [+02  +88D70D8A87F7121C]

conversion error - decimal input = -0.9226124734337450 [+00  -EC3054C047941CFC]
                   hex input     = -0.9226124734337451 [+00  -EC3054C047941DD8]

single precision error: function ARCTAN2
   arg1            =  8.263530 [+04  +84376AC000000000]
   arg2            = -6.258323 [+03  -C8442F0000000000]
   expected result = -0.9226125 [+00  -EC3054C047941DD8]
   result          =  2.218980 [+02  +8E03C56000000000]

double precision error: function ARCTAN2
   arg1            =  8.263529539108276 [+04  +84376AC000000000]
   arg2            = -6.258323192596436 [+03  -C8442F0000000000]
   expected result = -0.9226124734337451 [+00  -EC3054C047941DD8]
   result          =  2.218980180156048 [+02  +8E03C5720F83BA98]

conversion error - decimal input = -1.436618627455382 [+01  -B7E31E82DF650E1C]
                   hex input     = -1.436618627455382 [+01  -B7E31E82DF650E6F]

conversion error - decimal input = -0.02837009918111864 [-05  -E8686905598BCD18]
                   hex input     = -0.02837009918111864 [-05  -E8686905598BCDBC]

conversion error - decimal input = -0.5587158195724028 [+00  -8F07FFFCD2412508]
                   hex input     = -0.5587158195724028 [+00  -8F07FFFCD24125B3]

single precision error: function ARCTAN2
   arg1            =  5.431544 [+03  +ADCF348000000000]
   arg2            = -8.688217 [+04  -8B02F04000000000]
   expected result = -0.5587158 [+00  -8F07FFFCD24125B3]
   result          =  2.582877 [+02  +A54DDAA000000000]

double precision error: function ARCTAN2
   arg1            =  5.431543588638306 [+03  +ADCF348000000000]
   arg2            = -8.688217401504517 [+04  -8B02F04000000000]
   expected result = -0.5587158195724028 [+00  -8F07FFFCD24125B3]
   result          =  2.582876834017390 [+02  +A54DDAA2ECD878C8]

single precision error: function ARCTAN2
   arg1            = -6.415982 [+03  -CD4FBA0000000000]
   arg2            = -5.430176 [+03  -ADC4010000000000]
   expected result =  0.8684242 [+00  +DE510CA950BCDF10]
   result          = -2.273168 [+02  -917B976000000000]

double precision error: function ARCTAN2
   arg1            = -6.415982246398926 [+03  -CD4FBA0000000000]
   arg2            = -5.430176258087158 [+03  -ADC4010000000000]
   expected result =  0.8684242165916092 [+00  +DE510CA950BCDF10]
   result          = -2.273168436998184 [+02  -917B9777CD398EC8]

single precision error: function ARCTAN2
   arg1            =  3.198806 [+02  +CCB93D0000000000]
   arg2            = -1.623298 [+01  -CFC83A0000000000]
   expected result = -1.101191 [+01  -8CF3D091D64EFD36]
   result          =  2.040402 [+02  +8295F26000000000]

double precision error: function ARCTAN2
   arg1            =  3.198806047439575 [+02  +CCB93D0000000000]
   arg2            = -1.623297929763794 [+01  -CFC83A0000000000]
   expected result = -1.101190634927313 [+01  -8CF3D091D64EFD36]
   result          =  2.040402018662480 [+02  +8295F25936414398]

conversion error - decimal input =  0.09266091921436524 [-03  +BDC5020D24DB7400]
                   hex input     =  0.09266091921436524 [-03  +BDC5020D24DB7449]

conversion error - decimal input = -0.7748865362659820 [+00  -C65EF6CB5F842F04]
                   hex input     = -0.7748865362659820 [+00  -C65EF6CB5F842F7C]

single precision error: function ARCTAN2
   arg1            =  7.164323 [+03  +E542230000000000]
   arg2            = -7.316546 [+03  -EA21260000000000]
   expected result = -0.7748865 [+00  -C65EF6CB5F842F7C]
   result          =  2.366706 [+02  +97781D0000000000]

double precision error: function ARCTAN2
   arg1            =  7.164323329925537 [+03  +E542230000000000]
   arg2            = -7.316546440124512 [+03  -EA21260000000000]
   expected result = -0.7748865362659820 [+00  -C65EF6CB5F842F7C]
   result          =  2.366706117323811 [+02  +97781CEF4987B654]

conversion error - decimal input = -1.537091377478997 [+01  -C4BF69069E316B18]
                   hex input     = -1.537091377478997 [+01  -C4BF69069E316BEE]

conversion error - decimal input =  0.7080851932670039 [+00  +B545123BDD164400]
                   hex input     =  0.7080851932670039 [+00  +B545123BDD16445C]

double precision error: function ARCTAN2
   arg1            =  7.629890441894531 [+03  +F428100000000000]
   arg2            =  8.911292552947998 [+04  +8E94A78000000000]
   expected result =  0.7080851932670039 [+00  +B545123BDD16445C]
   result          =  0.7080851932670040 [+00  +B545123BDD164F90]

conversion error - decimal input =  0.8470580367478446 [+00  +D8D8CBA5A55D9108]
                   hex input     =  0.8470580367478447 [+00  +D8D8CBA5A55D9190]

single precision error: function ARCTAN2
   arg1            = -6.207206 [+03  -C6A16F0000000000]
   arg2            = -5.485331 [+03  -AF87D48000000000]
   expected result =  0.8470580 [+00  +D8D8CBA5A55D9190]
   result          = -2.294535 [+02  -92D9A7A000000000]

double precision error: function ARCTAN2
   arg1            = -6.207206249237061 [+03  -C6A16F0000000000]
   arg2            = -5.485330820083618 [+03  -AF87D48000000000]
   expected result =  0.8470580367478447 [+00  +D8D8CBA5A55D9190]
   result          = -2.294534616841949 [+02  -92D9A7B8B8115E9C]

conversion error - decimal input = -0.9190225729279879 [+00  -EB45103702F08EFC]
                   hex input     = -0.9190225729279879 [+00  -EB45103702F08F9B]

double precision error: function ARCTAN2
   arg1            = -6.289004087448120 [+03  -C93F858000000000]
   arg2            =  4.798554182052612 [+03  +998DC18000000000]
   expected result = -0.9190225729279879 [+00  -EB45103702F08F9B]
   result          = -0.9190225729279880 [+00  -EB45103702F0906C]

conversion error - decimal input =  1.419681989453630 [+01  +B5B823B1B6372ADC]
                   hex input     =  1.419681989453630 [+01  +B5B823B1B6372BEF]

single precision error: function ARCTAN2
   arg1            = -8.623570 [+04  -89FA24C000000000]
   arg2            = -1.313156 [+01  -A8157E0000000000]
   expected result =  1.419682 [+01  +B5B823B1B6372BEF]
   result          = -1.721911 [+01  -DC67918000000000]

double precision error: function ARCTAN2
   arg1            = -8.623570203781128 [+04  -89FA24C000000000]
   arg2            = -1.313155889511108 [+01  -A8157E0000000000]
   expected result =  1.419681989453630 [+01  +B5B823B1B6372BEF]
   result          = -1.721910664136163 [+01  -DC6791928C9A5878]

conversion error - decimal input = -0.3601946819148358 [-01  -B86B6FF608E12210]
                   hex input     = -0.3601946819148359 [-01  -B86B6FF608E122AE]

single precision error: function ARCTAN2
   arg1            =  1.680573 [+01  +D71D060000000000]
   arg2            = -4.462191 [+03  -8ECA448000000000]
   expected result = -0.3601947 [-01  -B86B6FF608E122AE]
   result          =  2.781398 [+02  +B2026CA000000000]

double precision error: function ARCTAN2
   arg1            =  1.680573225021362 [+01  +D71D060000000000]
   arg2            = -4.462190866470337 [+03  -8ECA448000000000]
   expected result = -0.3601946819148359 [-01  -B86B6FF608E122AE]
   result          =  2.781397971674957 [+02  +B2026CA3604C9DE0]

conversion error - decimal input = -0.2607538701953390 [-01  -8581880196BCEFF0]
                   hex input     = -0.2607538701953390 [-01  -8581880196BCF0EA]

single precision error: function ARCTAN2
   arg1            =  0.9445107 [+00  +F1CB740000000000]
   arg2            = -3.539761 [+02  -E28B730000000000]
   expected result = -0.2607539 [-01  -8581880196BCF0EA]
   result          =  2.880839 [+02  +B85FA9A000000000]

double precision error: function ARCTAN2
   arg1            =  0.9445106983184814 [+00  +F1CB740000000000]
   arg2            = -3.539761304855347 [+02  -E28B730000000000]
   expected result = -0.2607538701953390 [-01  -8581880196BCF0EA]
   result          =  2.880838783394454 [+02  +B85FA9A1EE912358]

conversion error - decimal input = -0.8646530040858790 [+00  -DD59E636EFDF8B00]
                   hex input     = -0.8646530040858790 [+00  -DD59E636EFDF8BB3]

double precision error: function ARCTAN2
   arg1            = -7.730145454406738 [+03  -F75D5A0000000000]
   arg2            =  6.592614650726318 [+03  +D2F6B30000000000]
   expected result = -0.8646530040858790 [+00  -DD59E636EFDF8BB3]
   result          = -0.8646530040858788 [+00  -DD59E636EFDF7EAC]

single precision error: function ARCTAN2
   arg1            =  5.336368 [+03  +AAC3870000000000]
   arg2            = -2.369009 [+02  -979DD90000000000]
   expected result = -1.152996 [+01  -9395608E4EDD9223]
   result          =  1.988597 [+01  +FE8A54A000000000]

double precision error: function ARCTAN2
   arg1            =  5.336368083953857 [+03  +AAC3870000000000]
   arg2            = -2.369009256362915 [+02  -979DD90000000000]
   expected result = -1.152996129499780 [+01  -9395608E4EDD9223]
   result          =  1.988596524090013 [+01  +FE8A54B5F3F3F244]

conversion error - decimal input =  0.6891367782620001 [+00  +B06B44951B28FB04]
                   hex input     =  0.6891367782620001 [+00  +B06B44951B28FB4E]

single precision error: function ARCTAN2
   arg1            = -5.078779 [+03  -A2855C8000000000]
   arg2            = -6.164421 [+03  -C542EF8000000000]
   expected result =  0.6891368 [+00  +B06B44951B28FB4E]
   result          = -2.452456 [+02  -9CF5098000000000]

double precision error: function ARCTAN2
   arg1            = -5.078779458999634 [+03  -A2855C8000000000]
   arg2            = -6.164420843124390 [+03  -C542EF8000000000]
   expected result =  0.6891367782620001 [+00  +B06B44951B28FB4E]
   result          = -2.452455875327793 [+02  -9CF5097CDA9E87EC]

conversion error - decimal input = -1.554969133369301 [+01  -C7093A830E288204]
                   hex input     = -1.554969133369301 [+01  -C7093A830E2882E7]

single precision error: function ARCTAN2
   arg1            =  9.666272 [+04  +9AA90D4000000000]
   arg2            = -0.1530027 [-02  -9CACC00000000000]
   expected result = -1.554969 [+01  -C7093A830E2882E7]
   result          =  1.586624 [+01  +CB167AA000000000]

double precision error: function ARCTAN2
   arg1            =  9.666272401809692 [+04  +9AA90D4000000000]
   arg2            = -0.1530027389526367 [-02  -9CACC00000000000]
   expected result = -1.554969133369301 [+01  -C7093A830E2882E7]
   result          =  1.586623520220492 [+01  +CB167AC134A90180]

conversion error - decimal input = -1.201614540387484 [+01  -99CE8158AE6052D4]
                   hex input     = -1.201614540387484 [+01  -99CE8158AE6053A0]

conversion error - decimal input =  1.542283506738292 [+01  +C5698BC34CF2DD28]
                   hex input     =  1.542283506738292 [+01  +C5698BC34CF2DD88]

conversion error - decimal input =  0.03673515699642960 [-04  +96779A9E9C0505F8]
                   hex input     =  0.03673515699642960 [-04  +96779A9E9C0506A3]

conversion error - decimal input =  1.008795931416543 [+01  +8120399EE2CDFED8]
                   hex input     =  1.008795931416543 [+01  +8120399EE2CDFFA1]

single precision error: function ARCTAN2
   arg1            = -2.425134 [+02  -9B35660000000000]
   arg2            = -1.527203 [+01  -C37B660000000000]
   expected result =  1.008796 [+01  +8120399EE2CDFFA1]
   result          = -2.132797 [+02  -887FBDC000000000]

double precision error: function ARCTAN2
   arg1            = -2.425134181976318 [+02  -9B35660000000000]
   arg2            = -1.527203321456909 [+01  -C37B660000000000]
   expected result =  1.008795931416543 [+01  +8120399EE2CDFFA1]
   result          = -2.132796722173250 [+02  -887FBDD2B001C264]

conversion error - decimal input =  0.2710941705187527 [-01  +8ACCDAE9075106FC]
                   hex input     =  0.2710941705187527 [-01  +8ACCDAE90751079A]

single precision error: function ARCTAN2
   arg1            = -2.376299 [+02  -9815480000000000]
   arg2            = -8.549792 [+04  -88CBF24000000000]
   expected result =  0.2710942 [-01  +8ACCDAE90751079A]
   result          = -2.870498 [+02  -B7B63F4000000000]

double precision error: function ARCTAN2
   arg1            = -2.376298904418945 [+02  -9815480000000000]
   arg2            = -8.549791574478149 [+04  -88CBF24000000000]
   expected result =  0.2710941705187527 [-01  +8ACCDAE90751079A]
   result          = -2.870498483071041 [+02  -B7B63F45007EA0F4]

conversion error - decimal input = -0.7955668419938938 [+00  -CBAA44C02551650C]
                   hex input     = -0.7955668419938938 [+00  -CBAA44C0255165C2]

single precision error: function ARCTAN2
   arg1            =  9.975100 [+04  +9F9A020000000000]
   arg2            = -9.774268 [+04  -9C63668000000000]
   expected result = -0.7955668 [+00  -CBAA44C0255165C2]
   result          =  2.346026 [+02  +9625496000000000]

double precision error: function ARCTAN2
   arg1            =  9.975099563598633 [+04  +9F9A020000000000]
   arg2            = -9.774267673492432 [+04  -9C63668000000000]
   expected result = -0.7955668419938938 [+00  -CBAA44C0255165C2]
   result          =  2.346025811595899 [+02  +96254972181468C4]

single precision error: function ARCTAN2
   arg1            =  1.121175 [+01  +8F82AC0000000000]
   arg2            = -1.491207 [+01  -BEDFDE0000000000]
   expected result = -0.6446889 [+00  -A50A559450961F22]
   result          =  2.496904 [+02  +9FCD454000000000]

double precision error: function ARCTAN2
   arg1            =  1.121175289154053 [+01  +8F82AC0000000000]
   arg2            = -1.491206884384155 [+01  -BEDFDE0000000000]
   expected result = -0.6446889388176591 [+00  -A50A559450961F22]
   result          =  2.496903714772134 [+02  +9FCD453D0D433A88]

conversion error - decimal input =  1.547358741497868 [+01  +C60FD9EAF4DF2CE4]
                   hex input     =  1.547358741497868 [+01  +C60FD9EAF4DF2D86]

conversion error - decimal input =  0.7078725553531241 [+00  +B53722C2FA452600]
                   hex input     =  0.7078725553531241 [+00  +B53722C2FA4526C5]

double precision error: function ARCTAN2
   arg1            =  8.234512805938721 [+04  +83C0908000000000]
   arg2            =  9.621598720550537 [+04  +99F2118000000000]
   expected result =  0.7078725553531241 [+00  +B53722C2FA4526C5]
   result          =  0.7078725553531242 [+00  +B53722C2FA453228]

conversion error - decimal input =  0.7359315621616825 [+00  +BC6602C7942042FC]
                   hex input     =  0.7359315621616825 [+00  +BC6602C794204392]

single precision error: function ARCTAN2
   arg1            = -5.720459 [+03  -B70E008000000000]
   arg2            = -6.316366 [+03  -CA1FAC0000000000]
   expected result =  0.7359316 [+00  +BC6602C794204392]
   result          = -2.405661 [+02  -99F65A0000000000]

double precision error: function ARCTAN2
   arg1            = -5.720459222793579 [+03  -B70E008000000000]
   arg2            = -6.316366195678711 [+03  -CA1FAC0000000000]
   expected result =  0.7359315621616825 [+00  +BC6602C794204392]
   result          = -2.405661091428111 [+02  -99F659F03C60B108]

single precision error: function ARCTAN2
   arg1            = -5.063642 [+03  -A2095B8000000000]
   arg2            = -0.6676102 [+00  -AAE8800000000000]
   expected result =  1.439709 [+01  +B8485E7E7E12A446]
   result          = -1.701884 [+01  -D9D756C000000000]

double precision error: function ARCTAN2
   arg1            = -5.063642263412476 [+03  -A2095B8000000000]
   arg2            = -0.6676101684570313 [+00  -AAE8800000000000]
   expected result =  1.439708530200865 [+01  +B8485E7E7E12A446]
   result          = -1.701884123388928 [+01  -D9D756C5C4BEE020]

conversion error - decimal input = -1.144443422644165 [+01  -927D1F403082D8F0]
                   hex input     = -1.144443422644165 [+01  -927D1F403082D9F8]

single precision error: function ARCTAN2
   arg1            =  8.858039 [+04  +8DBA878000000000]
   arg2            = -4.023447 [+03  -80C0140000000000]
   expected result = -1.144443 [+01  -927D1F403082D9F8]
   result          =  1.997149 [+01  +FFA295E000000000]

double precision error: function ARCTAN2
   arg1            =  8.858039379119873 [+04  +8DBA878000000000]
   arg2            = -4.023447036743164 [+03  -80C0140000000000]
   expected result = -1.144443422644165 [+01  -927D1F403082D9F8]
   result          =  1.997149230945629 [+01  +FFA29604124EAA70]

single precision error: function ARCTAN2
   arg1            =  4.547876 [+03  +9188338000000000]
   arg2            = -2.741722 [+02  -AF785F0000000000]
   expected result = -1.028278 [+01  -839E9F4FCA90EB6C]
   result          =  2.113314 [+02  +87408B0000000000]

double precision error: function ARCTAN2
   arg1            =  4.547876119613647 [+03  +9188338000000000]
   arg2            = -2.741721868515015 [+02  -AF785F0000000000]
   expected result = -1.028278268776496 [+01  -839E9F4FCA90EB6C]
   result          =  2.113314384813297 [+02  +87408AFA3C204C80]

conversion error - decimal input = -1.095679688140831 [+01  -8C3F3B65BA69A828]
                   hex input     = -1.095679688140831 [+01  -8C3F3B65BA69A8BD]

single precision error: function ARCTAN2
   arg1            =  7.833827 [+03  +FAAEB50000000000]
   arg2            = -5.413351 [+03  -AD3A2C0000000000]
   expected result = -0.9661209 [+00  -F753B35740D50C33]
   result          =  2.175472 [+02  +8B3AEDC000000000]

double precision error: function ARCTAN2
   arg1            =  7.833826541900635 [+03  +FAAEB50000000000]
   arg2            = -5.413351058959961 [+03  -AD3A2C0000000000]
   expected result = -0.9661209190388329 [+00  -F753B35740D50C33]
   result          =  2.175471734550960 [+02  +8B3AEDCC51337F28]

conversion error - decimal input = -0.5607513614647602 [+00  -8F8D66B6ADBA040C]
                   hex input     = -0.5607513614647602 [+00  -8F8D66B6ADBA0463]

single precision error: function ARCTAN2
   arg1            =  5.326145 [+03  +AA6FC70000000000]
   arg2            = -8.481166 [+04  -87B2DB8000000000]
   expected result = -0.5607514 [+00  -8F8D66B6ADBA0463]
   result          =  2.580841 [+02  +A52C810000000000]

double precision error: function ARCTAN2
   arg1            =  5.326144695281982 [+03  +AA6FC70000000000]
   arg2            = -8.481166362762451 [+04  -87B2DB8000000000]
   expected result = -0.5607513614647602 [+00  -8F8D66B6ADBA0463]
   result          =  2.580841292125033 [+02  +A52C80F475FA411C]

conversion error - decimal input = -1.533239262812105 [+01  -C4412F255C4E51F4]
                   hex input     = -1.533239262812105 [+01  -C4412F255C4E5249]

conversion error - decimal input =  1.113034194235708 [+01  +8E77E78BC939D00C]
                   hex input     =  1.113034194235708 [+01  +8E77E78BC939D0E9]

single precision error: function ARCTAN2
   arg1            = -7.995830 [+03  -FFDDD60000000000]
   arg2            = -3.939263 [+02  -FC1CE10000000000]
   expected result =  1.113034 [+01  +8E77E78BC939D0E9]
   result          = -2.028558 [+02  -81D3E6E000000000]

double precision error: function ARCTAN2
   arg1            = -7.995829582214355 [+03  -FFDDD60000000000]
   arg2            = -3.939262628555298 [+02  -FC1CE10000000000]
   expected result =  1.113034194235708 [+01  +8E77E78BC939D0E9]
   result          = -2.028558459354085 [+02  -81D3E6DC3CCBD9C0]

conversion error - decimal input = -0.1302376367829831 [-02  -855D03DAC3D41FF0]
                   hex input     = -0.1302376367829831 [-02  -855D03DAC3D4205D]

conversion error - decimal input =  0.9129164691949880 [+00  +E9B4E4CB2C199004]
                   hex input     =  0.9129164691949880 [+00  +E9B4E4CB2C19904B]

double precision error: function ARCTAN2
   arg1            =  9.750647544860840 [+04  +9C02A70000000000]
   arg2            =  7.534455060958862 [+03  +F11A418000000000]
   expected result =  0.9129164691949880 [+00  +E9B4E4CB2C19904B]
   result          =  0.9129164691949881 [+00  +E9B4E4CB2C1991B4]

conversion error - decimal input =  0.4899020675290190 [-01  +FAD4719C8F51B510]
                   hex input     =  0.4899020675290190 [-01  +FAD4719C8F51B552]

single precision error: function ARCTAN2
   arg1            = -2.694770 [+02  -AC771D0000000000]
   arg2            = -5.053366 [+03  -A1B52D8000000000]
   expected result =  0.4899021 [-01  +FAD4719C8F51B552]
   result          = -2.651691 [+02  -A9B54C8000000000]

double precision error: function ARCTAN2
   arg1            = -2.694770097732544 [+02  -AC771D0000000000]
   arg2            = -5.053366422653198 [+03  -A1B52D8000000000]
   expected result =  0.4899020675290190 [-01  +FAD4719C8F51B552]
   result          = -2.651690586060774 [+02  -A9B54C6E8F7E8B8C]

conversion error - decimal input =  1.481224336081959 [+01  +BD98C250C17323D8]
                   hex input     =  1.481224336081959 [+01  +BD98C250C173242E]

conversion error - decimal input =  0.9716568727624343 [+00  +F8BE813B72C306FC]
                   hex input     =  0.9716568727624343 [+00  +F8BE813B72C3077C]

single precision error: function ARCTAN2
   arg1            = -6.491544 [+03  -CFBABB0000000000]
   arg2            = -4.432908 [+03  -8DDA628000000000]
   expected result =  0.9716569 [+00  +F8BE813B72C3077C]
   result          = -2.169936 [+02  -8AE03A4000000000]

double precision error: function ARCTAN2
   arg1            = -6.491544246673584 [+03  -CFBABB0000000000]
   arg2            = -4.432908296585083 [+03  -8DDA628000000000]
   expected result =  0.9716568727624343 [+00  +F8BE813B72C3077C]
   result          = -2.169935780827359 [+02  -8AE03A5344B80054]

conversion error - decimal input =  0.4027987756286559 [-01  +CE3BA42063495C10]
                   hex input     =  0.4027987756286559 [-01  +CE3BA42063495CD6]

conversion error - decimal input =  0.3968467489518005 [-01  +CB2F7F408B3733F0]
                   hex input     =  0.3968467489518005 [-01  +CB2F7F408B3734DB]

single precision error: function ARCTAN2
   arg1            = -1.997492 [+01  -FFADD40000000000]
   arg2            = -4.766361 [+03  -9886068000000000]
   expected result =  0.3968467 [-01  +CB2F7F408B3734DB]
   result          = -2.744746 [+02  -AFA9EAC000000000]

double precision error: function ARCTAN2
   arg1            = -1.997492313385010 [+01  -FFADD40000000000]
   arg2            = -4.766360521316528 [+03  -9886068000000000]
   expected result =  0.3968467489518005 [-01  +CB2F7F408B3734DB]
   result          = -2.744745904637993 [+02  -AFA9EABA1001DB98]

conversion error - decimal input =  1.283468422223372 [+01  +A448B17972F4F6D8]
                   hex input     =  1.283468422223372 [+01  +A448B17972F4F7F2]

single precision error: function ARCTAN2
   arg1            = -7.732012 [+03  -F76CA50000000000]
   arg2            = -2.284849 [+02  -923AF60000000000]
   expected result =  1.283468 [+01  +A448B17972F4F7F2]
   result          = -1.858124 [+01  -EDD703C000000000]

double precision error: function ARCTAN2
   arg1            = -7.732012271881104 [+03  -F76CA50000000000]
   arg2            = -2.284848690032959 [+02  -923AF60000000000]
   expected result =  1.283468422223372 [+01  +A448B17972F4F7F2]
   result          = -1.858124231366422 [+01  -EDD703CACFDC8C98]

conversion error - decimal input =  2.186068204313938 [+02  +8BE88A9D16A4D3F8]
                   hex input     =  2.186068204313938 [+02  +8BE88A9D16A4D494]

double precision error: function NATLOG
   arg1            =  8.900150656700134 [+04  +8E67046000000000]
   expected result =  2.186068204313938 [+02  +8BE88A9D16A4D494]
   result          =  2.186068204313938 [+02  +8BE88A9D16A4D4E8]

conversion error - decimal input =  1.505701800027628 [+01  +C0BAD62A52D0AC14]
                   hex input     =  1.505701800027628 [+01  +C0BAD62A52D0ACA6]

double precision error: function NATLOG
   arg1            =  4.507315754890442 [+03  +903BEE4000000000]
   expected result =  1.505701800027628 [+01  +C0BAD62A52D0ACA6]
   result          =  1.505701800027628 [+01  +C0BAD62A52D0AD0C]

conversion error - decimal input =  1.756539243226096 [+01  +E0D64725E5F94C00]
                   hex input     =  1.756539243226096 [+01  +E0D64725E5F94CA9]

double precision error: function NATLOG
   arg1            =  5.792356729507446 [+03  +B95AFC8000000000]
   expected result =  1.756539243226096 [+01  +E0D64725E5F94CA9]
   result          =  1.756539243226096 [+01  +E0D64725E5F94D64]

conversion error - decimal input =  0.8345055944548278 [+00  +D5A2289C8334CB04]
                   hex input     =  0.8345055944548278 [+00  +D5A2289C8334CBA4]

double precision error: function NATLOG
   arg1            =  2.303674817085266 [+02  +936F688000000000]
   expected result =  0.8345055944548278 [+00  +D5A2289C8334CBA4]
   result          =  0.8345055944548278 [+00  +D5A2289C8334CBF0]

conversion error - decimal input =  0.9273020430682542 [+00  +ED63AAAC7DFC9704]
                   hex input     =  0.9273020430682543 [+00  +ED63AAAC7DFC97A1]

double precision error: function NATLOG
   arg1            =  2.527680397033691 [+02  +A1C5840000000000]
   expected result =  0.9273020430682543 [+00  +ED63AAAC7DFC97A1]
   result          =  0.9273020430682543 [+00  +ED63AAAC7DFC97EC]

conversion error - decimal input =  1.476207835493432 [+01  +BCF460DBC588C8D4]
                   hex input     =  1.476207835493432 [+01  +BCF460DBC588C9DE]

conversion error - decimal input =  2.074400549765263 [+02  +84C2FA8602F55DF0]
                   hex input     =  2.074400549765263 [+02  +84C2FA8602F55EE5]

double precision error: function NATLOG
   arg1            =  7.959773540496826 [+03  +FEB6770000000000]
   expected result =  2.074400549765263 [+02  +84C2FA8602F55EE5]
   result          =  2.074400549765263 [+02  +84C2FA8602F55F30]

conversion error - decimal input =  1.288575400649683 [+01  +A4F009EA1C38D130]
                   hex input     =  1.288575400649683 [+01  +A4F009EA1C38D185]

double precision error: function NATLOG
   arg1            =  3.627614974975586 [+02  +E82AD80000000000]
   expected result =  1.288575400649683 [+01  +A4F009EA1C38D185]
   result          =  1.288575400649683 [+01  +A4F009EA1C38D208]

conversion error - decimal input =  1.748270087820573 [+01  +DFC75071E1D8161C]
                   hex input     =  1.748270087820573 [+01  +DFC75071E1D81678]

conversion error - decimal input =  2.029268566409654 [+02  +81DF8943E1EFF110]
                   hex input     =  2.029268566409654 [+02  +81DF8943E1EFF1D0]

conversion error - decimal input =  1.044951130992352 [+01  +85C0F56AC3E2ECD8]
                   hex input     =  1.044951130992352 [+01  +85C0F56AC3E2EDF7]

conversion error - decimal input =  0.1191004632641280 [-03  +F3EAF195435635E8]
                   hex input     =  0.1191004632641280 [-03  +F3EAF1954356365F]

double precision error: function NATLOG
   arg1            =  1.126483082771301 [+01  +9030990000000000]
   expected result =  0.1191004632641280 [-03  +F3EAF1954356365F]
   result          =  0.1191004632641280 [-03  +F3EAF19543563CD8]

conversion error - decimal input =  1.625877846418464 [+01  +D01CC3E8D4406324]
                   hex input     =  1.625877846418464 [+01  +D01CC3E8D440639A]

conversion error - decimal input =  2.241100084357988 [+02  +8F6E2F0C585879FC]
                   hex input     =  2.241100084357988 [+02  +8F6E2F0C58587A46]

conversion error - decimal input =  0.7586803027371148 [+00  +C238DF506012D5F8]
                   hex input     =  0.7586803027371148 [+00  +C238DF506012D6EA]

double precision error: function NATLOG
   arg1            =  2.135456204414368 [+02  +88AB508000000000]
   expected result =  0.7586803027371148 [+00  +C238DF506012D6EA]
   result          =  0.7586803027371148 [+00  +C238DF506012D774]

conversion error - decimal input =  1.342667959634291 [+01  +ABDC8B300216F6E4]
                   hex input     =  1.342667959634291 [+01  +ABDC8B300216F7EC]

double precision error: function NATLOG
   arg1            =  2.212584614753723 [+02  +8D9AFC8000000000]
   expected result =  0.7941613411251511 [+00  +CB4E285BE1493E39]
   result          =  0.7941613411251511 [+00  +CB4E285BE1493EB8]

conversion error - decimal input =  0.02493644436179868 [-05  +CC4783A065FB49E8]
                   hex input     =  0.02493644436179868 [-05  +CC4783A065FB4ACF]

single precision error: function NATLOG
   arg1            =  1.025250 [+01  +833B640000000000]
   expected result =  0.02493644 [-05  +CC4783A065FB4ACF]
   result          =  0.02493642 [-05  +CC4776C000000000]

double precision error: function NATLOG
   arg1            =  1.025249958038330 [+01  +833B640000000000]
   expected result =  0.02493644436179868 [-05  +CC4783A065FB4ACF]
   result          =  0.02493644436179869 [-05  +CC4783A065FB5F68]

conversion error - decimal input =  1.096346774383964 [+01  +8C55175286F07FEC]
                   hex input     =  1.096346774383964 [+01  +8C55175286F08085]

double precision error: function NATLOG
   arg1            =  2.993211150169373 [+02  +BF90C58000000000]
   expected result =  1.096346774383964 [+01  +8C55175286F08085]
   result          =  1.096346774383964 [+01  +8C55175286F08200]

conversion error - decimal input =  2.093109834845709 [+02  +85F582F3E64A3B08]
                   hex input     =  2.093109834845709 [+02  +85F582F3E64A3BC9]

double precision error: function NATLOG
   arg1            =  8.110097050666809 [+04  +81C2F52000000000]
   expected result =  2.093109834845709 [+02  +85F582F3E64A3BC9]
   result          =  2.093109834845709 [+02  +85F582F3E64A3C1C]

conversion error - decimal input =  1.843701334904989 [+01  +EBFE67C4811588EC]
                   hex input     =  1.843701334904989 [+01  +EBFE67C481158983]

conversion error - decimal input =  1.650216380311284 [+01  +D33A4A546156DF00]
                   hex input     =  1.650216380311284 [+01  +D33A4A546156DFA7]

conversion error - decimal input =  2.220022147775675 [+02  +8E14D7C645E6AF08]
                   hex input     =  2.220022147775675 [+02  +8E14D7C645E6AF88]

conversion error - decimal input =  1.653900237928803 [+01  +D3B300C4601B2004]
                   hex input     =  1.653900237928803 [+01  +D3B300C4601B20CF]

conversion error - decimal input =  1.845568023081859 [+01  +EC3B92AED708D208]
                   hex input     =  1.845568023081859 [+01  +EC3B92AED708D26B]

conversion error - decimal input =  1.359025389456813 [+01  +ADF48B4113496210]
                   hex input     =  1.359025389456813 [+01  +ADF48B411349627B]

conversion error - decimal input =  1.401125467278066 [+01  +B358144DC6A84124]
                   hex input     =  1.401125467278066 [+01  +B358144DC6A84185]

double precision error: function NATLOG
   arg1            =  4.059766530990601 [+03  +81E99B8000000000]
   expected result =  1.401125467278066 [+01  +B358144DC6A84185]
   result          =  1.401125467278066 [+01  +B358144DC6A84238]

conversion error - decimal input =  1.391481034672266 [+01  +B21C0CF075F7BD04]
                   hex input     =  1.391481034672266 [+01  +B21C0CF075F7BDB0]

double precision error: function NATLOG
   arg1            =  4.020800590515137 [+03  +80AA660000000000]
   expected result =  1.391481034672266 [+01  +B21C0CF075F7BDB0]
   result          =  1.391481034672266 [+01  +B21C0CF075F7BE38]

conversion error - decimal input =  1.418788864698420 [+01  +B59ADF9EE782E600]
                   hex input     =  1.418788864698420 [+01  +B59ADF9EE782E6A0]

double precision error: function NATLOG
   arg1            =  4.132112860679626 [+03  +843A44C000000000]
   expected result =  1.418788864698420 [+01  +B59ADF9EE782E6A0]
   result          =  1.418788864698420 [+01  +B59ADF9EE782E6F0]

conversion error - decimal input = -0.08314248814682997 [-03  -AA469BDBFD57A904]
                   hex input     = -0.08314248814682997 [-03  -AA469BDBFD57A94F]

double precision error: function NATLOG
   arg1            =  0.9202200174331665 [+00  +EB938A0000000000]
   expected result = -0.08314248814682997 [-03  -AA469BDBFD57A94F]
   result          = -0.08314248814682996 [-03  -AA469BDBFD57A430]

conversion error - decimal input =  2.164803350131770 [+02  +8A8C2359C5947FF8]
                   hex input     =  2.164803350131770 [+02  +8A8C2359C59480BD]

conversion error - decimal input = -0.6571988748555576 [+00  -A83E2F7A78FD650C]
                   hex input     = -0.6571988748555576 [+00  -A83E2F7A78FD65FC]

double precision error: function NATLOG
   arg1            =  0.5183011293411255 [+00  +84AF620000000000]
   expected result = -0.6571988748555576 [+00  -A83E2F7A78FD65FC]
   result          = -0.6571988748555576 [+00  -A83E2F7A78FD6554]

conversion error - decimal input =  2.145614897460193 [+02  +8951C12599B91DF4]
                   hex input     =  2.145614897460193 [+02  +8951C12599B91EC8]

double precision error: function NATLOG
   arg1            =  3.175696730613708 [+02  +CB3E9D8000000000]
   expected result =  1.155527050983604 [+01  +93E84F76CF176F43]
   result          =  1.155527050983604 [+01  +93E84F76CF176F84]

double precision error: function NATLOG
   arg1            =  2.212764024734497 [+02  +8D9DED0000000000]
   expected result =  0.7942424239936380 [+00  +CB5378B426003C20]
   result          =  0.7942424239936380 [+00  +CB5378B426003CA0]

conversion error - decimal input =  1.224257860414110 [+01  +9CB47B482CBD8D2C]
                   hex input     =  1.224257860414110 [+01  +9CB47B482CBD8DA7]

conversion error - decimal input =  2.069278607517536 [+02  +846F0F8A666A4E04]
                   hex input     =  2.069278607517536 [+02  +846F0F8A666A4E62]

conversion error - decimal input =  1.587096660396148 [+01  +CB25FBBDFF02D7F8]
                   hex input     =  1.587096660396148 [+01  +CB25FBBDFF02D8AE]

conversion error - decimal input =  1.635741842902627 [+01  +D15FFD1BFB973AEC]
                   hex input     =  1.635741842902627 [+01  +D15FFD1BFB973B91]

double precision error: function NATLOG
   arg1            =  5.133264660835266 [+03  +A443B44000000000]
   expected result =  1.635741842902627 [+01  +D15FFD1BFB973B91]
   result          =  1.635741842902627 [+01  +D15FFD1BFB973BE4]

double precision error: function NATLOG
   arg1            =  1.242327094078064 [+01  +9F04930000000000]
   expected result =  0.2169863096093147 [-02  +DE31A8BDCE943827]
   result          =  0.2169863096093148 [-02  +DE31A8BDCE944384]

conversion error - decimal input =  1.845037043910009 [+01  +EC2A2C81C041C0F0]
                   hex input     =  1.845037043910009 [+01  +EC2A2C81C041C171]

conversion error - decimal input =  0.5538804599426535 [+00  +8DCB1C1D58DDD3F8]
                   hex input     =  0.5538804599426535 [+00  +8DCB1C1D58DDD4DB]

double precision error: function NATLOG
   arg1            =  1.739991903305054 [+01  +DEB80E0000000000]
   expected result =  0.5538804599426535 [+00  +8DCB1C1D58DDD4DB]
   result          =  0.5538804599426537 [+00  +8DCB1C1D58DDE008]

conversion error - decimal input =  2.255359393260190 [+02  +9057CEECB1D9D700]
                   hex input     =  2.255359393260191 [+02  +9057CEECB1D9D798]

conversion error - decimal input =  2.297653962409905 [+02  +930CC33484D29AFC]
                   hex input     =  2.297653962409905 [+02  +930CC33484D29B83]

double precision error: function NATLOG
   arg1            =  9.950810074806213 [+04  +9F3684A000000000]
   expected result =  2.297653962409905 [+02  +930CC33484D29B83]
   result          =  2.297653962409905 [+02  +930CC33484D29C98]

conversion error - decimal input =  0.9265665242974135 [+00  +ED3376B76CFFEDF8]
                   hex input     =  0.9265665242974135 [+00  +ED3376B76CFFEED9]

double precision error: function NATLOG
   arg1            =  2.525821924209595 [+02  +A1A7110000000000]
   expected result =  0.9265665242974135 [+00  +ED3376B76CFFEED9]
   result          =  0.9265665242974135 [+00  +ED3376B76CFFEF24]

conversion error - decimal input =  1.793063701780691 [+01  +E5831C8365794DFC]
                   hex input     =  1.793063701780691 [+01  +E5831C8365794E9B]

double precision error: function NATLOG
   arg1            =  6.007830500602722 [+03  +C04025C000000000]
   expected result =  1.793063701780691 [+01  +E5831C8365794E9B]
   result          =  1.793063701780691 [+01  +E5831C8365795088]

conversion error - decimal input =  1.581890693818136 [+01  +CA7B64EDE5D7B4DC]
                   hex input     =  1.581890693818136 [+01  +CA7B64EDE5D7B5C3]

conversion error - decimal input =  0.4364811857855228 [-01  +DF7A764489471A00]
                   hex input     =  0.4364811857855228 [-01  +DF7A764489471A43]

double precision error: function NATLOG
   arg1            =  1.547253131866455 [+01  +C60C640000000000]
   expected result =  0.4364811857855228 [-01  +DF7A764489471A43]
   result          =  0.4364811857855229 [-01  +DF7A764489471F94]

conversion error - decimal input =  1.977897247108837 [+01  +FD2BBCAB97273F20]
                   hex input     =  1.977897247108837 [+01  +FD2BBCAB97273FE2]

double precision error: function NATLOG
   arg1            =  7.227529287338257 [+03  +E747EB8000000000]
   expected result =  1.977897247108837 [+01  +FD2BBCAB97273FE2]
   result          =  1.977897247108837 [+01  +FD2BBCAB97274048]

conversion error - decimal input = -1.024592381997220 [+01  -8325D7DA3453790C]
                   hex input     = -1.024592381997220 [+01  -8325D7DA345379B9]

double precision error: function NATLOG
   arg1            =  1.855999827384949 [+01  +ED91670000000000]
   expected result =  0.6184235413602053 [+00  +9E51015537F53405]
   result          =  0.6184235413602053 [+00  +9E51015537F534AC]

conversion error - decimal input =  0.7227634168822499 [+00  +B90705F641257308]
                   hex input     =  0.7227634168822499 [+00  +B90705F6412573FF]

double precision error: function NATLOG
   arg1            =  2.060118317604065 [+02  +83D8FA8000000000]
   expected result =  0.7227634168822499 [+00  +B90705F6412573FF]
   result          =  0.7227634168822499 [+00  +B90705F6412574A4]

conversion error - decimal input = -1.158849465952864 [+01  -94552DE6A0974DD4]
                   hex input     = -1.158849465952864 [+01  -94552DE6A0974E46]

conversion error - decimal input =  1.965205572165634 [+01  +FB8BDB2F2F269004]
                   hex input     =  1.965205572165634 [+01  +FB8BDB2F2F269067]

double precision error: function NATLOG
   arg1            =  7.136379480361938 [+03  +E45D388000000000]
   expected result =  1.965205572165634 [+01  +FB8BDB2F2F269067]
   result          =  1.965205572165634 [+01  +FB8BDB2F2F2690C4]

conversion error - decimal input =  0.9622758424371180 [+00  +F657B5A8FF8EAC04]
                   hex input     =  0.9622758424371180 [+00  +F657B5A8FF8EAC5A]

conversion error - decimal input =  1.555145512578760 [+01  +C70F02168601D2DC]
                   hex input     =  1.555145512578760 [+01  +C70F02168601D3FA]

double precision error: function NATLOG
   arg1            =  5.309308171272278 [+03  +A9E5DA4000000000]
   expected result =  1.669461538869649 [+01  +D5B0EA6BAFFF3E6F]
   result          =  1.669461538869649 [+01  +D5B0EA6BAFFF3F24]

conversion error - decimal input =  2.156887882506594 [+02  +8A0A73792049F018]
                   hex input     =  2.156887882506594 [+02  +8A0A73792049F08A]

double precision error: function NATLOG
   arg1            =  8.644194006919861 [+04  +8A4E9E6000000000]
   expected result =  2.156887882506594 [+02  +8A0A73792049F08A]
   result          =  2.156887882506594 [+02  +8A0A73792049F114]

conversion error - decimal input =  1.769573143326543 [+01  +E2815F6D3BD487F8]
                   hex input     =  1.769573143326543 [+01  +E2815F6D3BD488B8]

double precision error: function NATLOG
   arg1            =  0.9513050317764282 [+00  +F388BA0000000000]
   expected result = -0.04992051941503129 [-04  -CC797564971C890A]
   result          = -0.04992051941503129 [-04  -CC797564971C85A0]

conversion error - decimal input =  1.739355435282753 [+01  +DEA332EB5462EAFC]
                   hex input     =  1.739355435282753 [+01  +DEA332EB5462EB63]

conversion error - decimal input =  0.9346327786481967 [+00  +EF4418021048E004]
                   hex input     =  0.9346327786481967 [+00  +EF4418021048E05C]

double precision error: function NATLOG
   arg1            =  2.546278238296509 [+02  +A2F6390000000000]
   expected result =  0.9346327786481967 [+00  +EF4418021048E05C]
   result          =  0.9346327786481967 [+00  +EF4418021048E0A8]

conversion error - decimal input =  2.186250347151256 [+02  +8BEB86937887D9FC]
                   hex input     =  2.186250347151256 [+02  +8BEB86937887DA6B]

double precision error: function NATLOG
   arg1            =  8.901771903038025 [+04  +8E6DA86000000000]
   expected result =  2.186250347151256 [+02  +8BEB86937887DA6B]
   result          =  2.186250347151256 [+02  +8BEB86937887DAC0]

conversion error - decimal input =  1.872144395718188 [+01  +EFA26D747FE91700]
                   hex input     =  1.872144395718188 [+01  +EFA26D747FE91750]

double precision error: function NATLOG
   arg1            =  6.502224802970886 [+03  +D01239C000000000]
   expected result =  1.872144395718188 [+01  +EFA26D747FE91750]
   result          =  1.872144395718188 [+01  +EFA26D747FE91808]

conversion error - decimal input =  0.7892491058824518 [+00  +CA0C3ABA29912E04]
                   hex input     =  0.7892491058824518 [+00  +CA0C3ABA29912EBA]

double precision error: function NATLOG
   arg1            =  2.201742529869080 [+02  +8CE9598000000000]
   expected result =  0.7892491058824518 [+00  +CA0C3ABA29912EBA]
   result          =  0.7892491058824518 [+00  +CA0C3ABA29912F28]

conversion error - decimal input =  0.7749828931636780 [+00  +C665476518F31000]
                   hex input     =  0.7749828931636780 [+00  +C665476518F310FD]

double precision error: function NATLOG
   arg1            =  2.170554995536804 [+02  +8AEA5F8000000000]
   expected result =  0.7749828931636780 [+00  +C665476518F310FD]
   result          =  0.7749828931636780 [+00  +C665476518F3116C]

conversion error - decimal input =  2.089734206615395 [+02  +85BE348AAFB859F4]
                   hex input     =  2.089734206615395 [+02  +85BE348AAFB85AC5]

double precision error: function NATLOG
   arg1            =  8.082766532897949 [+04  +8153030000000000]
   expected result =  2.089734206615395 [+02  +85BE348AAFB85AC5]
   result          =  2.089734206615395 [+02  +85BE348AAFB85B10]

conversion error - decimal input =  2.154345444802318 [+02  +89E0CBB76D9A0AF0]
                   hex input     =  2.154345444802318 [+02  +89E0CBB76D9A0BCA]

double precision error: function NATLOG
   arg1            =  8.622244596481323 [+04  +89F4B6C000000000]
   expected result =  2.154345444802318 [+02  +89E0CBB76D9A0BCA]
   result          =  2.154345444802318 [+02  +89E0CBB76D9A0C14]

conversion error - decimal input =  2.285721617403112 [+02  +92494352A06BFB10]
                   hex input     =  2.285721617403112 [+02  +92494352A06BFB9E]

conversion error - decimal input = -1.439810881172384 [+01  -B84BB91387B8E404]
                   hex input     = -1.439810881172384 [+01  -B84BB91387B8E4C1]

conversion error - decimal input = -0.5604109915687655 [+00  -8F7718411B55E800]
                   hex input     = -0.5604109915687655 [+00  -8F7718411B55E8CB]

double precision error: function NATLOG
   arg1            =  0.5709743499755859 [+00  +922B600000000000]
   expected result = -0.5604109915687655 [+00  -8F7718411B55E8CB]
   result          = -0.5604109915687655 [+00  -8F7718411B55E880]

conversion error - decimal input =  1.896557486692298 [+01  +F2C2654E29E75ED4]
                   hex input     =  1.896557486692298 [+01  +F2C2654E29E75FC2]

conversion error - decimal input =  0.09995139432722793 [-03  +CCB3510E99B09CFC]
                   hex input     =  0.09995139432722793 [-03  +CCB3510E99B09DDE]

double precision error: function NATLOG
   arg1            =  1.105117201805115 [+01  +8D747B0000000000]
   expected result =  0.09995139432722793 [-03  +CCB3510E99B09DDE]
   result          =  0.09995139432722794 [-03  +CCB3510E99B0A1A0]

double precision error: function NATLOG
   arg1            =  9.348212480545044 [+04  +9592474000000000]
   expected result =  2.235185146472315 [+02  +8F0D460026A0C034]
   result          =  2.235185146472315 [+02  +8F0D460026A0C10C]

conversion error - decimal input =  0.5438080548688861 [+00  +8B370132F696DB00]
                   hex input     =  0.5438080548688861 [+00  +8B370132F696DB67]

double precision error: function NATLOG
   arg1            =  1.722553968429565 [+01  +DC7CA60000000000]
   expected result =  0.5438080548688861 [+00  +8B370132F696DB67]
   result          =  0.5438080548688861 [+00  +8B370132F696DBBC]

conversion error - decimal input =  1.633171599453936 [+01  +D10BC4583490AEDC]
                   hex input     =  1.633171599453936 [+01  +D10BC4583490AF4A]

double precision error: function NATLOG
   arg1            =  9.364944100379944 [+04  +95D6CFA000000000]
   expected result =  2.236973366885172 [+02  +8F2A925732DE6306]
   result          =  2.236973366885172 [+02  +8F2A925732DE6484]

conversion error - decimal input =  1.995001148972170 [+01  +FF5C329928B0B8E4]
                   hex input     =  1.995001148972170 [+01  +FF5C329928B0B936]

double precision error: function NATLOG
   arg1            =  7.352211475372314 [+03  +EB45510000000000]
   expected result =  1.995001148972170 [+01  +FF5C329928B0B936]
   result          =  1.995001148972170 [+01  +FF5C329928B0B988]

conversion error - decimal input =  1.939444222665874 [+01  +F83FB552620E9428]
                   hex input     =  1.939444222665874 [+01  +F83FB552620E94ED]

double precision error: function NATLOG
   arg1            =  6.954884529113770 [+03  +DE8E6A0000000000]
   expected result =  1.939444222665874 [+01  +F83FB552620E94ED]
   result          =  1.939444222665874 [+01  +F83FB552620E9960]

conversion error - decimal input =  1.935464375783763 [+01  +F7BD4BF2483B972C]
                   hex input     =  1.935464375783764 [+01  +F7BD4BF2483B97E7]

double precision error: function NATLOG
   arg1            =  6.927260160446167 [+03  +DDAC1D8000000000]
   expected result =  1.935464375783764 [+01  +F7BD4BF2483B97E7]
   result          =  1.935464375783764 [+01  +F7BD4BF2483B9914]

conversion error - decimal input =  2.191675154886587 [+02  +8C4467DE6C645A0C]
                   hex input     =  2.191675154886587 [+02  +8C4467DE6C645A5A]

double precision error: function NATLOG
   arg1            =  8.950193524360657 [+04  +8F33FE2000000000]
   expected result =  2.191675154886587 [+02  +8C4467DE6C645A5A]
   result          =  2.191675154886587 [+02  +8C4467DE6C645C14]

conversion error - decimal input = -0.06528966275226355 [-03  -85B696324D7FBAFC]
                   hex input     = -0.06528966275226355 [-03  -85B696324D7FBBA9]

double precision error: function NATLOG
   arg1            =  0.9367960691452026 [+00  +EFD1DE0000000000]
   expected result = -0.06528966275226355 [-03  -85B696324D7FBBA9]
   result          = -0.06528966275226353 [-03  -85B696324D7FB1EC]

conversion error - decimal input =  1.282279382255810 [+01  +A421BB158FD83F30]
                   hex input     =  1.282279382255810 [+01  +A421BB158FD83F8A]

double precision error: function NATLOG
   arg1            =  3.604847192764282 [+02  +E6B5D10000000000]
   expected result =  1.282279382255810 [+01  +A421BB158FD83F8A]
   result          =  1.282279382255810 [+01  +A421BB158FD83FEC]

conversion error - decimal input =  0.3537729979531489 [-01  +B521BC00D5530CF8]
                   hex input     =  0.3537729979531489 [-01  +B521BC00D5530D62]

double precision error: function NATLOG
   arg1            =  1.424431800842285 [+01  +B653C80000000000]
   expected result =  0.3537729979531489 [-01  +B521BC00D5530D62]
   result          =  0.3537729979531489 [-01  +B521BC00D5530DC0]

conversion error - decimal input =  1.407763779452927 [+01  +B4319A809F30DB04]
                   hex input     =  1.407763779452927 [+01  +B4319A809F30DBDB]

double precision error: function NATLOG
   arg1            =  4.086806178092957 [+03  +82C71DC000000000]
   expected result =  1.407763779452927 [+01  +B4319A809F30DBDB]
   result          =  1.407763779452927 [+01  +B4319A809F30DC2C]

conversion error - decimal input =  0.4959923753020628 [-01  +FDF2B66DF9B62814]
                   hex input     =  0.4959923753020628 [-01  +FDF2B66DF9B628D3]

double precision error: function NATLOG
   arg1            =  1.642127037048340 [+01  +D231380000000000]
   expected result =  0.4959923753020628 [-01  +FDF2B66DF9B628D3]
   result          =  0.4959923753020628 [-01  +FDF2B66DF9B6292C]

conversion error - decimal input = -2.362419728946421 [+02  -9731E284D0010BFC]
                   hex input     = -2.362419728946421 [+02  -9731E284D0010CCA]

conversion error - decimal input =  6.088458083324562 [+03  +C2D4A60BDE444900]
                   hex input     =  6.088458083324562 [+03  +C2D4A60BDE4449E7]

conversion error - decimal input =  6.335584547395667 [+03  +CABD1BCE036F6D04]
                   hex input     =  6.335584547395667 [+03  +CABD1BCE036F6D9A]

conversion error - decimal input =  6.706167775079804 [+03  +D698ED296E9E7000]
                   hex input     =  6.706167775079804 [+03  +D698ED296E9E7088]

double precision error: function NATLOG
   arg1            =  817.4320459365845 [+0A  +CC5BA6A400000000]
   expected result =  6.706167775079804 [+03  +D698ED296E9E7088]
   result          =  6.706167775079804 [+03  +D698ED296E9E70F0]

conversion error - decimal input =  5.373149511278091 [+03  +ABF0D73E6EA62C00]
                   hex input     =  5.373149511278091 [+03  +ABF0D73E6EA62CAB]

double precision error: function NATLOG
   arg1            =  215.5406475067139 [+08  +D78A67E000000000]
   expected result =  5.373149511278091 [+03  +ABF0D73E6EA62CAB]
   result          =  5.373149511278091 [+03  +ABF0D73E6EA62D6C]

conversion error - decimal input =  5.191738226830957 [+03  +A622B834B439470C]
                   hex input     =  5.191738226830957 [+03  +A622B834B439479F]

conversion error - decimal input =  5.764558251776996 [+03  +B87742DDE89CB808]
                   hex input     =  5.764558251776996 [+03  +B87742DDE89CB8CA]

double precision error: function NATLOG
   arg1            =  318.7981843948364 [+09  +9F662AE800000000]
   expected result =  5.764558251776996 [+03  +B87742DDE89CB8CA]
   result          =  5.764558251776996 [+03  +B87742DDE89CB994]

conversion error - decimal input =  4.293813903731959 [+03  +8966EC6A74717FFC]
                   hex input     =  4.293813903731959 [+03  +8966EC6A7471809F]

conversion error - decimal input =  6.355190983174755 [+03  +CB5DB97B123AA30C]
                   hex input     =  6.355190983174755 [+03  +CB5DB97B123AA379]

double precision error: function NATLOG
   arg1            =  575.4722356796265 [+0A  +8FDE391C00000000]
   expected result =  6.355190983174755 [+03  +CB5DB97B123AA379]
   result          =  6.355190983174755 [+03  +CB5DB97B123AA6DC]

conversion error - decimal input =  5.688112911293420 [+03  +B605055E3EBD250C]
                   hex input     =  5.688112911293420 [+03  +B605055E3EBD25D8]

conversion error - decimal input =  6.257153993744475 [+03  +C83A9B032562CD00]
                   hex input     =  6.257153993744475 [+03  +C83A9B032562CD65]

double precision error: function NATLOG
   arg1            =  521.7319726943970 [+0A  +826ED8A400000000]
   expected result =  6.257153993744475 [+03  +C83A9B032562CD65]
   result          =  6.257153993744476 [+03  +C83A9B032562CE10]

conversion error - decimal input =  6.231529525953240 [+03  +C768B09BC0E1B204]
                   hex input     =  6.231529525953240 [+03  +C768B09BC0E1B2C2]

conversion error - decimal input =  6.744235640929337 [+03  +D7D0C74349E42CFC]
                   hex input     =  6.744235640929338 [+03  +D7D0C74349E42DBA]

conversion error - decimal input =  6.837764387591371 [+03  +DACEF742CEAB4204]
                   hex input     =  6.837764387591371 [+03  +DACEF742CEAB42FF]

double precision error: function NATLOG
   arg1            =  932.4023127555847 [+0A  +E919BF7E00000000]
   expected result =  6.837764387591371 [+03  +DACEF742CEAB42FF]
   result          =  6.837764387591371 [+03  +DACEF742CEAB4348]

conversion error - decimal input =  4.581445114412392 [+03  +929B32C8DA3F1A08]
                   hex input     =  4.581445114412392 [+03  +929B32C8DA3F1A82]

conversion error - decimal input =  4.904464639584837 [+03  +9CF15FD3ECF837FC]
                   hex input     =  4.904464639584837 [+03  +9CF15FD3ECF838FF]

conversion error - decimal input =  6.642837943021495 [+03  +D49220E0BCF7AC08]
                   hex input     =  6.642837943021495 [+03  +D49220E0BCF7ACC8]

double precision error: function NATLOG
   arg1            =  767.2693729400635 [+0A  +BFD13D6800000000]
   expected result =  6.642837943021495 [+03  +D49220E0BCF7ACC8]
   result          =  6.642837943021495 [+03  +D49220E0BCF7AD5C]

conversion error - decimal input =  6.025534144926117 [+03  +C0D12CFBAC72ABF8]
                   hex input     =  6.025534144926117 [+03  +C0D12CFBAC72AC77]

conversion error - decimal input =  3.242239016065615 [+02  +CF80D812F44A51EC]
                   hex input     =  3.242239016065615 [+02  +CF80D812F44A52AE]

double precision error: function NATLOG
   arg1            =  25.59095621109009 [+05  +CCBA474000000000]
   expected result =  3.242239016065615 [+02  +CF80D812F44A52AE]
   result          =  3.242239016065615 [+02  +CF80D812F44A541C]

conversion error - decimal input =  6.526356220902101 [+03  +D0D7E9005A42F608]
                   hex input     =  6.526356220902101 [+03  +D0D7E9005A42F6AC]

conversion error - decimal input =  6.376950338183676 [+03  +CC0FFA27D6E18108]
                   hex input     =  6.376950338183676 [+03  +CC0FFA27D6E1815F]

conversion error - decimal input =  6.365150725994243 [+03  +CBAF509348309504]
                   hex input     =  6.365150725994243 [+03  +CBAF509348309573]

double precision error: function NATLOG
   arg1            =  581.2324285507202 [+0A  +914EE01C00000000]
   expected result =  6.365150725994243 [+03  +CBAF509348309573]
   result          =  6.365150725994243 [+03  +CBAF50934830963C]

double precision error: function NATLOG
   arg1            =  143.6528563499451 [+08  +8FA7219800000000]
   expected result =  4.967399669320512 [+03  +9EF4F026BC91F230]
   result          =  4.967399669320513 [+03  +9EF4F026BC91F464]

conversion error - decimal input =  5.052697059333883 [+03  +A1AFB1BE4DE69C0C]
                   hex input     =  5.052697059333883 [+03  +A1AFB1BE4DE69C88]

conversion error - decimal input =  6.044332889989741 [+03  +C16B2CCF14944CFC]
                   hex input     =  6.044332889989741 [+03  +C16B2CCF14944DCF]

conversion error - decimal input =  6.269770441423875 [+03  +C8A1F59EEAFA1200]
                   hex input     =  6.269770441423875 [+03  +C8A1F59EEAFA12A8]

conversion error - decimal input =  5.989131225814507 [+03  +BFA6F6874A6C1CFC]
                   hex input     =  5.989131225814507 [+03  +BFA6F6874A6C1DE2]

conversion error - decimal input =  6.547164982503206 [+03  +D18260232BC410FC]
                   hex input     =  6.547164982503206 [+03  +D18260232BC4113C]

conversion error - decimal input =  5.916880917651350 [+03  +BD5716A67472D900]
                   hex input     =  5.916880917651351 [+03  +BD5716A67472D96A]

double precision error: function NATLOG
   arg1            =  371.2519407272339 [+09  +B9A03F9800000000]
   expected result =  5.916880917651351 [+03  +BD5716A67472D96A]
   result          =  5.916880917651351 [+03  +BD5716A67472D9B4]

conversion error - decimal input =  1.376397911413984 [+01  +B02DCE87E7236824]
                   hex input     =  1.376397911413984 [+01  +B02DCE87E72368F2]

conversion error - decimal input =  4.398880606110485 [+03  +8CC3A142C81A2704]
                   hex input     =  4.398880606110485 [+03  +8CC3A142C81A27C5]

conversion error - decimal input =  6.086826603282075 [+03  +C2C74895B09DF20C]
                   hex input     =  6.086826603282076 [+03  +C2C74895B09DF2EF]

conversion error - decimal input =  6.843078529093821 [+03  +DAFA7FD2CD5E2CFC]
                   hex input     =  6.843078529093821 [+03  +DAFA7FD2CD5E2D93]

conversion error - decimal input =  5.474376054002658 [+03  +AF2E16B0BE4D5F04]
                   hex input     =  5.474376054002658 [+03  +AF2E16B0BE4D5FC5]

conversion error - decimal input =  4.252404365936069 [+03  +8813B25222045904]
                   hex input     =  4.252404365936069 [+03  +8813B2522204596D]

double precision error: function NATLOG
   arg1            =  769.9620127677917 [+0A  +C07D919E00000000]
   expected result =  6.646341179562961 [+03  +D4AED3B288FDD027]
   result          =  6.646341179562962 [+03  +D4AED3B288FDD0E0]

conversion error - decimal input =  6.162028449153020 [+03  +C52F5649444843FC]
                   hex input     =  6.162028449153020 [+03  +C52F5649444844B4]

conversion error - decimal input =  6.892341832675533 [+03  +DC8E107586363608]
                   hex input     =  6.892341832675533 [+03  +DC8E1075863636DD]

double precision error: function NATLOG
   arg1            =  573.9140510559082 [+0A  +8F7A7FD000000000]
   expected result =  6.352479648271490 [+03  +CB4783663A9CBE09]
   result          =  6.352479648271490 [+03  +CB4783663A9CBF98]

conversion error - decimal input =  6.508732366536731 [+03  +D047891996246804]
                   hex input     =  6.508732366536731 [+03  +D0478919962468FE]

conversion error - decimal input =  6.394394180016937 [+03  +CC9EE08B1CF9B2F8]
                   hex input     =  6.394394180016937 [+03  +CC9EE08B1CF9B340]

double precision error: function NATLOG
   arg1            =  598.4806418418884 [+0A  +959EC2D600000000]
   expected result =  6.394394180016937 [+03  +CC9EE08B1CF9B340]
   result          =  6.394394180016937 [+03  +CC9EE08B1CF9B3BC]

conversion error - decimal input =  6.432241233093257 [+03  +CDD4EB9103C8B5F8]
                   hex input     =  6.432241233093257 [+03  +CDD4EB9103C8B6D7]

conversion error - decimal input =  6.810594153129420 [+03  +D9F0632640A12FFC]
                   hex input     =  6.810594153129420 [+03  +D9F0632640A130C0]

double precision error: function NATLOG
   arg1            =  907.4097871780396 [+0A  +E2DA39F400000000]
   expected result =  6.810594153129420 [+03  +D9F0632640A130C0]
   result          =  6.810594153129420 [+03  +D9F0632640A13188]

conversion error - decimal input =  6.787981681157713 [+03  +D937255BCD6C5AF8]
                   hex input     =  6.787981681157713 [+03  +D937255BCD6C5B82]

double precision error: function NATLOG
   arg1            =  887.1212601661682 [+0A  +DDC7C2BA00000000]
   expected result =  6.787981681157713 [+03  +D937255BCD6C5B82]
   result          =  6.787981681157713 [+03  +D937255BCD6C5BDC]

conversion error - decimal input =  6.363178719300687 [+03  +CB9F28FA3FFCD7F8]
                   hex input     =  6.363178719300687 [+03  +CB9F28FA3FFCD891]

double precision error: function NATLOG
   arg1            =  580.0873637199402 [+0A  +9105975E00000000]
   expected result =  6.363178719300687 [+03  +CB9F28FA3FFCD891]
   result          =  6.363178719300687 [+03  +CB9F28FA3FFCD900]

conversion error - decimal input =  3.998101969630339 [+02  +FFE0E71568ABDFEC]
                   hex input     =  3.998101969630339 [+02  +FFE0E71568ABE0D4]

double precision error: function NATLOG
   arg1            =  890.6019926071167 [+0A  +DEA6870C00000000]
   expected result =  6.791897630261156 [+03  +D95739B2F80CD613]
   result          =  6.791897630261157 [+03  +D95739B2F80CD758]

conversion error - decimal input =  6.898752422197853 [+03  +DCC29470914C46FC]
                   hex input     =  6.898752422197853 [+03  +DCC29470914C4780]

double precision error: function NATLOG
   arg1            =  991.0375475883484 [+0A  +F7C2672E00000000]
   expected result =  6.898752422197853 [+03  +DCC29470914C4780]
   result          =  6.898752422197853 [+03  +DCC29470914C47F0]

conversion error - decimal input =  6.880170746598402 [+03  +DC2A5BD7712740FC]
                   hex input     =  6.880170746598403 [+03  +DC2A5BD7712741BE]

conversion error - decimal input =  6.690703445972736 [+03  +D61A3E1CF5FF3604]
                   hex input     =  6.690703445972736 [+03  +D61A3E1CF5FF3686]

conversion error - decimal input =  6.721931474110501 [+03  +D71A1008E83EDDFC]
                   hex input     =  6.721931474110501 [+03  +D71A1008E83EDEB8]

conversion error - decimal input =  5.614578409017928 [+03  +B3AAA056F1E92BFC]
                   hex input     =  5.614578409017928 [+03  +B3AAA056F1E92CB2]

conversion error - decimal input =  5.926682173507254 [+03  +BDA7615F9FFECF08]
                   hex input     =  5.926682173507254 [+03  +BDA7615F9FFECFBB]

conversion error - decimal input =  3.784276999673795 [+02  +F231982826A72608]
                   hex input     =  3.784276999673795 [+02  +F231982826A726C4]

conversion error - decimal input =  6.379452170161237 [+03  +CC2478E0A7A3C100]
                   hex input     =  6.379452170161237 [+03  +CC2478E0A7A3C18F]

conversion error - decimal input =  6.000100164853620 [+03  +C000D20F98A7F8FC]
                   hex input     =  6.000100164853620 [+03  +C000D20F98A7F93E]

conversion error - decimal input =  4.448287713355363 [+03  +8E585F7981EABE00]
                   hex input     =  4.448287713355363 [+03  +8E585F7981EABEB8]

conversion error - decimal input =  3.948379477923197 [+02  +FCB23FD6782C0114]
                   hex input     =  3.948379477923197 [+02  +FCB23FD6782C01FF]

double precision error: function NATLOG
   arg1            =  397.0106244087219 [+09  +C6815C2400000000]
   expected result =  5.983963042063918 [+03  +BF7CA00FC463ED1E]
   result          =  5.983963042063918 [+03  +BF7CA00FC463EDD0]

conversion error - decimal input =  6.808541839065551 [+03  +D9DF9322877EDDF8]
                   hex input     =  6.808541839065551 [+03  +D9DF9322877EDEE5]

double precision error: function NATLOG
   arg1            =  905.5494070053101 [+0A  +E263297C00000000]
   expected result =  6.808541839065551 [+03  +D9DF9322877EDEE5]
   result          =  6.808541839065551 [+03  +D9DF9322877EDF58]

conversion error - decimal input =  4.854353240101606 [+03  +9B56DC9B2EFA1F08]
                   hex input     =  4.854353240101606 [+03  +9B56DC9B2EFA1F84]

conversion error - decimal input =  5.981012471122390 [+03  +BF6474440E0AB8FC]
                   hex input     =  5.981012471122390 [+03  +BF6474440E0AB988]

double precision error: function NATLOG
   arg1            =  395.8409428596497 [+09  +C5EBA40400000000]
   expected result =  5.981012471122390 [+03  +BF6474440E0AB988]
   result          =  5.981012471122390 [+03  +BF6474440E0AB9CC]

double precision error: function NATLOG
   arg1            =  341.1538600921631 [+09  +AA93B1B000000000]
   expected result =  5.832333578138539 [+03  +BAA27A072EF74930]
   result          =  5.832333578138539 [+03  +BAA27A072EF749E0]

conversion error - decimal input =  5.074464432321200 [+03  +A262033BB11CC304]
                   hex input     =  5.074464432321200 [+03  +A262033BB11CC37F]

double precision error: function NATLOG
   arg1            =  159.8865389823914 [+08  +9FE2F43800000000]
   expected result =  5.074464432321200 [+03  +A262033BB11CC37F]
   result          =  5.074464432321201 [+03  +A262033BB11CC58C]

double precision error: function LOG10
   arg1            =  2.049851417541504 [+02  +8330C40000000000]
   expected result =  0.3117223825774930 [-01  +9F9A137D33FC1C21]
   result          =  0.3117223825774931 [-01  +9F9A137D33FC1CB0]

conversion error - decimal input =  0.08774647068464904 [-03  +B3B46BEF709ECB04]
                   hex input     =  0.08774647068464905 [-03  +B3B46BEF709ECBF2]

double precision error: function LOG10
   arg1            =  1.223901510238647 [+01  +9CA8CE0000000000]
   expected result =  0.08774647068464905 [-03  +B3B46BEF709ECBF2]
   result          =  0.08774647068464905 [-03  +B3B46BEF709ECC3C]

conversion error - decimal input =  0.5674704303816985 [+00  +9145BDFBEFBA83FC]
                   hex input     =  0.5674704303816985 [+00  +9145BDFBEFBA84EE]

double precision error: function LOG10
   arg1            =  3.693774938583374 [+02  +EC66CF0000000000]
   expected result =  0.5674704303816985 [+00  +9145BDFBEFBA84EE]
   result          =  0.5674704303816985 [+00  +9145BDFBEFBA8534]

conversion error - decimal input =  0.7276415247857469 [+00  +BA46B7082A965608]
                   hex input     =  0.7276415247857469 [+00  +BA46B7082A9656EE]

double precision error: function LOG10
   arg1            =  3.623277544975281 [+02  +E7E3C78000000000]
   expected result =  0.5591016024956343 [+00  +8F214859DC251F1B]
   result          =  0.5591016024956343 [+00  +8F214859DC251F80]

double precision error: function LOG10
   arg1            =  6.189880967140198 [+03  +C613814000000000]
   expected result =  0.7916822975158804 [+00  +CAABB0E8A7211211]
   result          =  0.7916822975158804 [+00  +CAABB0E8A7211344]

conversion error - decimal input =  0.9507658531785513 [+00  +F36564158E2FB504]
                   hex input     =  0.9507658531785513 [+00  +F36564158E2FB567]

double precision error: function LOG10
   arg1            =  8.928239941596985 [+04  +8EDA122000000000]
   expected result =  0.9507658531785513 [+00  +F36564158E2FB567]
   result          =  0.9507658531785513 [+00  +F36564158E2FB6CC]

conversion error - decimal input =  0.6662681859020069 [+00  +AA908D44D07A6CFC]
                   hex input     =  0.6662681859020070 [+00  +AA908D44D07A6DB7]

conversion error - decimal input = -0.8901656252882997 [+00  -E3E1E4F8A2FAB500]
                   hex input     = -0.8901656252882998 [+00  -E3E1E4F8A2FAB58B]

double precision error: function LOG10
   arg1            =  0.1287758350372314 [-02  +83DDD00000000000]
   expected result = -0.8901656252882998 [+00  -E3E1E4F8A2FAB58B]
   result          = -0.8901656252882998 [+00  -E3E1E4F8A2FAB544]

double precision error: function LOG10
   arg1            =  4.446935653686523 [+03  +8E4D4C0000000000]
   expected result =  0.6480608453358125 [+00  +A5E750C88911E03E]
   result          =  0.6480608453358126 [+00  +A5E750C88911E0B4]

conversion error - decimal input =  0.8917931097265525 [+00  +E44C8DA112DCDE04]
                   hex input     =  0.8917931097265526 [+00  +E44C8DA112DCDEF0]

conversion error - decimal input =  0.6402431026793168 [+00  +A3E6F8D37F4AD8FC]
                   hex input     =  0.6402431026793169 [+00  +A3E6F8D37F4AD987]

conversion error - decimal input =  0.7739610179804647 [+00  +C6224F2C9ADEEAFC]
                   hex input     =  0.7739610179804647 [+00  +C6224F2C9ADEEB60]

conversion error - decimal input =  0.6844292463023830 [+00  +AF36C14D4B6F1808]
                   hex input     =  0.6844292463023830 [+00  +AF36C14D4B6F185C]

conversion error - decimal input =  0.5827816455201293 [+00  +95312D8C37D02C04]
                   hex input     =  0.5827816455201293 [+00  +95312D8C37D02C90]

conversion error - decimal input = -0.4994185003976193 [-01  -FFB3C81C73454A10]
                   hex input     = -0.4994185003976193 [-01  -FFB3C81C73454AAF]

double precision error: function LOG10
   arg1            =  0.8171397447586060 [+00  +D130120000000000]
   expected result = -0.08770366539206487 [-03  -B39DFAB4C9350412]
   result          = -0.08770366539206487 [-03  -B39DFAB4C9350378]

double precision error: function LOG10
   arg1            =  9.053333401679993 [+04  +90DA742000000000]
   expected result =  0.9568085141674368 [+00  +F4F1671CE22CA40D]
   result          =  0.9568085141674368 [+00  +F4F1671CE22CA4B0]

conversion error - decimal input =  0.6742617288136447 [+00  +AC9C6AAA32F34E0C]
                   hex input     =  0.6742617288136447 [+00  +AC9C6AAA32F34E56]

double precision error: function LOG10
   arg1            =  5.816535353660583 [+03  +BA210EC000000000]
   expected result =  0.7646643721358219 [+00  +C3C10B56BD5EDF02]
   result          =  0.7646643721358220 [+00  +C3C10B56BD5EE18C]

conversion error - decimal input =  0.3611431310076561 [-01  +B8E7C0A1B4B2C900]
                   hex input     =  0.3611431310076561 [-01  +B8E7C0A1B4B2C97B]

double precision error: function LOG10
   arg1            =  2.296905517578125 [+02  +9300800000000000]
   expected result =  0.3611431310076561 [-01  +B8E7C0A1B4B2C97B]
   result          =  0.3611431310076561 [-01  +B8E7C0A1B4B2C9BC]

conversion error - decimal input =  0.6978510668782208 [+00  +B2A65E15B87DA5F8]
                   hex input     =  0.6978510668782208 [+00  +B2A65E15B87DA6B7]

double precision error: function LOG10
   arg1            =  4.987134337425232 [+03  +9F969AC000000000]
   expected result =  0.6978510668782208 [+00  +B2A65E15B87DA6B7]
   result          =  0.6978510668782209 [+00  +B2A65E15B87DAABC]

double precision error: function LOG10
   arg1            =  6.393933892250061 [+03  +CC9B1B4000000000]
   expected result =  0.8057681417293150 [+00  +CE46D228E2D78030]
   result          =  0.8057681417293150 [+00  +CE46D228E2D78238]

conversion error - decimal input =  0.4228100638524478 [-01  +D87A8F8954F569FC]
                   hex input     =  0.4228100638524478 [-01  +D87A8F8954F56ABB]

double precision error: function LOG10
   arg1            =  2.647342085838318 [+02  +A96E0D8000000000]
   expected result =  0.4228100638524478 [-01  +D87A8F8954F56ABB]
   result          =  0.4228100638524478 [-01  +D87A8F8954F56B40]

conversion error - decimal input =  0.9673680078009668 [+00  +F7A56E04B3AACEFC]
                   hex input     =  0.9673680078009668 [+00  +F7A56E04B3AACFD3]

conversion error - decimal input =  0.9495266502615062 [+00  +F3142DB58DB8A9FC]
                   hex input     =  0.9495266502615062 [+00  +F3142DB58DB8AA88]

double precision error: function LOG10
   arg1            =  8.902800679206848 [+04  +8E71DF2000000000]
   expected result =  0.9495266502615062 [+00  +F3142DB58DB8AA88]
   result          =  0.9495266502615062 [+00  +F3142DB58DB8AB20]

conversion error - decimal input =  0.8775815115936544 [+00  +E0A92E93DE762800]
                   hex input     =  0.8775815115936544 [+00  +E0A92E93DE7628CE]

conversion error - decimal input =  0.3738064532079484 [-01  +BF638F371FB066F8]
                   hex input     =  0.3738064532079484 [-01  +BF638F371FB067DA]

conversion error - decimal input =  0.9499552546112689 [+00  +F330447F380035FC]
                   hex input     =  0.9499552546112689 [+00  +F330447F3800367F]

double precision error: function LOG10
   arg1            =  8.911591172218323 [+04  +8E95E0A000000000]
   expected result =  0.9499552546112689 [+00  +F330447F3800367F]
   result          =  0.9499552546112689 [+00  +F330447F3800374C]

conversion error - decimal input =  0.6722613757978759 [+00  +AC19524F6A74AE08]
                   hex input     =  0.6722613757978759 [+00  +AC19524F6A74AEAF]

conversion error - decimal input =  0.8168476957108581 [+00  +D11CEE3AE41ECCFC]
                   hex input     =  0.8168476957108581 [+00  +D11CEE3AE41ECD93]

conversion error - decimal input =  0.6133339600334379 [+00  +9D037453DEAA5B08]
                   hex input     =  0.6133339600334379 [+00  +9D037453DEAA5B89]

double precision error: function LOG10
   arg1            =  4.105196595191956 [+03  +835DC54000000000]
   expected result =  0.6133339600334379 [+00  +9D037453DEAA5B89]
   result          =  0.6133339600334379 [+00  +9D037453DEAA5BD0]

conversion error - decimal input =  0.2645984763343416 [-01  +87797394DAD7BF08]
                   hex input     =  0.2645984763343416 [-01  +87797394DAD7BFB5]

double precision error: function LOG10
   arg1            =  1.839070916175842 [+01  +EB66AD0000000000]
   expected result =  0.2645984763343416 [-01  +87797394DAD7BFB5]
   result          =  0.2645984763343416 [-01  +87797394DAD7C044]

double precision error: function LOG10
   arg1            =  0.1246404647827148 [-03  +FF43800000000000]
   expected result = -0.9043409401898677 [+00  -E782E34A8CA3C546]
   result          = -0.9043409401898677 [+00  -E782E34A8CA3C43C]

conversion error - decimal input =  0.9458051040273114 [+00  +F22048862FEB0D04]
                   hex input     =  0.9458051040273114 [+00  +F22048862FEB0D60]

conversion error - decimal input = -0.09262357797392358 [-03  -BDB16E31E45E26FC]
                   hex input     = -0.09262357797392358 [-03  -BDB16E31E45E27D9]

conversion error - decimal input =  0.5148514201293066 [+00  +83CD4D7BC128BB08]
                   hex input     =  0.5148514201293066 [+00  +83CD4D7BC128BBBE]

double precision error: function LOG10
   arg1            =  3.643097281455994 [+02  +E928818000000000]
   expected result =  0.5614707683419545 [+00  +8FBC8C5BB04DC71D]
   result          =  0.5614707683419545 [+00  +8FBC8C5BB04DC820]

conversion error - decimal input =  0.7084015295011189 [+00  +B559CD79A4C88A00]
                   hex input     =  0.7084015295011189 [+00  +B559CD79A4C88A8A]

conversion error - decimal input =  0.5174804666339184 [+00  +8479999082F19300]
                   hex input     =  0.5174804666339184 [+00  +8479999082F1936A]

conversion error - decimal input =  0.7756576024334020 [+00  +C6917F2358611C00]
                   hex input     =  0.7756576024334020 [+00  +C6917F2358611C7F]

double precision error: function LOG10
   arg1            =  5.965647697448730 [+03  +BEE6960000000000]
   expected result =  0.7756576024334020 [+00  +C6917F2358611C7F]
   result          =  0.7756576024334020 [+00  +C6917F2358611CDC]

conversion error - decimal input =  0.1216344479099460 [-03  +F91B7B3EB8CC66BC]
                   hex input     =  0.1216344479099460 [-03  +F91B7B3EB8CC67B9]

double precision error: function LOG10
   arg1            =  1.323227286338806 [+01  +A95F830000000000]
   expected result =  0.1216344479099460 [-03  +F91B7B3EB8CC67B9]
   result          =  0.1216344479099460 [-03  +F91B7B3EB8CC6990]

conversion error - decimal input =  0.6005463668535006 [+00  +99BD681D5E0E2AFC]
                   hex input     =  0.6005463668535007 [+00  +99BD681D5E0E2B89]

double precision error: function LOG10
   arg1            =  3.986083269119263 [+02  +FF1BFD0000000000]
   expected result =  0.6005463668535007 [+00  +99BD681D5E0E2B89]
   result          =  0.6005463668535007 [+00  +99BD681D5E0E2C64]

conversion error - decimal input =  0.7475765510583877 [+00  +BF612D460D60350C]
                   hex input     =  0.7475765510583877 [+00  +BF612D460D60357E]

conversion error - decimal input =  0.3442990582663289 [-01  +B047F756984F6C08]
                   hex input     =  0.3442990582663289 [-01  +B047F756984F6CC7]

double precision error: function LOG10
   arg1            =  2.209525704383850 [+02  +8D68DE8000000000]
   expected result =  0.3442990582663289 [-01  +B047F756984F6CC7]
   result          =  0.3442990582663289 [-01  +B047F756984F6D30]

conversion error - decimal input =  0.9882667409139394 [+00  +FCFF0C93F32B0000]
                   hex input     =  0.9882667409139394 [+00  +FCFF0C93F32B005E]

conversion error - decimal input =  0.9821202495377097 [+00  +FB6C3B9080FA8108]
                   hex input     =  0.9821202495377097 [+00  +FB6C3B9080FA81B9]

double precision error: function LOG10
   arg1            =  9.596663117408752 [+04  +998BEEA000000000]
   expected result =  0.9821202495377097 [+00  +FB6C3B9080FA81B9]
   result          =  0.9821202495377097 [+00  +FB6C3B9080FA820C]

conversion error - decimal input =  0.2877956047865697 [-01  +9359F20CFB51B500]
                   hex input     =  0.2877956047865697 [-01  +9359F20CFB51B54A]

conversion error - decimal input =  0.2970217253224656 [-01  +98133B48EC47B9F4]
                   hex input     =  0.2970217253224656 [-01  +98133B48EC47BA5A]

double precision error: function LOG10
   arg1            =  8.972139954566956 [+04  +8F8DE2A000000000]
   expected result =  0.9528960394341228 [+00  +F3F0FEADDB840D08]
   result          =  0.9528960394341229 [+00  +F3F0FEADDB84134C]

conversion error - decimal input =  0.8287731968515416 [+00  +D42A7AF0475B9704]
                   hex input     =  0.8287731968515416 [+00  +D42A7AF0475B9780]

conversion error - decimal input =  0.8146014051868309 [+00  +D089B7BA8D96E3FC]
                   hex input     =  0.8146014051868309 [+00  +D089B7BA8D96E461]

double precision error: function LOG10
   arg1            =  6.525313854217529 [+03  +D0CF5F0000000000]
   expected result =  0.8146014051868309 [+00  +D089B7BA8D96E461]
   result          =  0.8146014051868310 [+00  +D089B7BA8D96E658]

conversion error - decimal input =  0.8390428531255689 [+00  +D6CB832E1DE9DD04]
                   hex input     =  0.8390428531255689 [+00  +D6CB832E1DE9DD5B]

double precision error: function LOG10
   arg1            =  6.903079152107239 [+03  +DCE6064000000000]
   expected result =  0.8390428531255689 [+00  +D6CB832E1DE9DD5B]
   result          =  0.8390428531255689 [+00  +D6CB832E1DE9DDA0]

conversion error - decimal input =  0.9440225383678032 [+00  +F1AB7608FA03C608]
                   hex input     =  0.9440225383678032 [+00  +F1AB7608FA03C6BD]

conversion error - decimal input =  0.5542154886419320 [+00  +8DE110F6A75CA404]
                   hex input     =  0.5542154886419320 [+00  +8DE110F6A75CA492]

double precision error: function LOG10
   arg1            =  3.582741618156433 [+02  +E54BA38000000000]
   expected result =  0.5542154886419320 [+00  +8DE110F6A75CA492]
   result          =  0.5542154886419320 [+00  +8DE110F6A75CA4E8]

conversion error - decimal input =  0.8061664143784278 [+00  +CE60EC10E39107F8]
                   hex input     =  0.8061664143784278 [+00  +CE60EC10E3910867]

double precision error: function LOG10
   arg1            =  6.399800181388855 [+03  +CCCB29C000000000]
   expected result =  0.8061664143784278 [+00  +CE60EC10E3910867]
   result          =  0.8061664143784279 [+00  +CE60EC10E3910B20]

conversion error - decimal input = -0.004863300576822114 [-07  -9F5C5276CAF653FC]
                   hex input     = -0.004863300576822114 [-07  -9F5C5276CAF65489]

double precision error: function LOG10
   arg1            =  0.9888643026351929 [+00  +FD26360000000000]
   expected result = -0.004863300576822114 [-07  -9F5C5276CAF65489]
   result          = -0.004863300576822113 [-07  -9F5C5276CAF64B08]

conversion error - decimal input =  0.9945137263462068 [+00  +FE98739A147E4704]
                   hex input     =  0.9945137263462068 [+00  +FE98739A147E47E6]

conversion error - decimal input =  0.9861952550667044 [+00  +FC774ACFFB5C15FC]
                   hex input     =  0.9861952550667045 [+00  +FC774ACFFB5C16FD]

conversion error - decimal input = -0.2161827440235364 [-02  -DD5F025E299A6FEC]
                   hex input     = -0.2161827440235364 [-02  -DD5F025E299A703D]

double precision error: function LOG10
   arg1            =  5.636704564094543 [+03  +B45FE24000000000]
   expected result =  0.7510252727932437 [+00  +C04331391DD05743]
   result          =  0.7510252727932437 [+00  +C04331391DD05960]

conversion error - decimal input =  0.1982649951415033 [-02  +CB05FA984C23E5EC]
                   hex input     =  0.1982649951415033 [-02  +CB05FA984C23E69E]

double precision error: function LOG10
   arg1            =  1.578574180603027 [+01  +CA0EB80000000000]
   expected result =  0.1982649951415033 [-02  +CB05FA984C23E69E]
   result          =  0.1982649951415033 [-02  +CB05FA984C23E6E4]

conversion error - decimal input = -0.2495570196407880 [-02  -FF8BE01760AE1AE0]
                   hex input     = -0.2495570196407880 [-02  -FF8BE01760AE1BC2]

double precision error: function LOG10
   arg1            =  0.5629152059555054 [+00  +901B360000000000]
   expected result = -0.2495570196407880 [-02  -FF8BE01760AE1BC2]
   result          = -0.2495570196407880 [-02  -FF8BE01760AE1A60]

conversion error - decimal input = -1.703581812231512 [+01  -DA0EF804CC210B28]
                   hex input     = -1.703581812231512 [+01  -DA0EF804CC210BE7]

conversion error - decimal input =  0.8332197805558014 [+00  +D54DE43BDE121A00]
                   hex input     =  0.8332197805558014 [+00  +D54DE43BDE121A60]

conversion error - decimal input =  0.9347287824958917 [+00  +EF4A62AF7322F508]
                   hex input     =  0.9347287824958917 [+00  +EF4A62AF7322F577]

double precision error: function LOG10
   arg1            =  8.604562282562256 [+04  +89AC498000000000]
   expected result =  0.9347287824958917 [+00  +EF4A62AF7322F577]
   result          =  0.9347287824958917 [+00  +EF4A62AF7322F5D0]

double precision error: function LOG10
   arg1            =  8.521621227264404 [+04  +88588F8000000000]
   expected result =  0.9305222265829547 [+00  +EE36B4635FF8F236]
   result          =  0.9305222265829547 [+00  +EE36B4635FF8F278]

conversion error - decimal input =  0.9945388396379198 [+00  +FE9A18EED8BE5404]
                   hex input     =  0.9945388396379198 [+00  +FE9A18EED8BE54A5]

conversion error - decimal input =  0.9592419321149520 [+00  +F590E11762B4C908]
                   hex input     =  0.9592419321149520 [+00  +F590E11762B4C9CD]

conversion error - decimal input =  0.9140886264417241 [+00  +EA01B6543677D300]
                   hex input     =  0.9140886264417241 [+00  +EA01B6543677D3DA]

double precision error: function LOG10
   arg1            =  8.205189704895020 [+04  +8348750000000000]
   expected result =  0.9140886264417241 [+00  +EA01B6543677D3DA]
   result          =  0.9140886264417241 [+00  +EA01B6543677D420]

conversion error - decimal input =  0.6308773893681721 [+00  +A1812E3B1F45B104]
                   hex input     =  0.6308773893681721 [+00  +A1812E3B1F45B160]

conversion error - decimal input = -1.061785272317913 [+01  -87E8946DFD6D08E8]
                   hex input     = -1.061785272317913 [+01  -87E8946DFD6D09BB]

conversion error - decimal input = -0.001548044495227934 [-09  -CAE7C0F5A2AF0700]
                   hex input     = -0.001548044495227934 [-09  -CAE7C0F5A2AF07DB]

single precision error: function LOG10
   arg1            =  0.9964418 [+00  +FF16D00000000000]
   expected result = -0.001548044 [-09  -CAE7C0F5A2AF07DB]
   result          = -0.001548052 [-09  -CAE8016000000000]

double precision error: function LOG10
   arg1            =  0.9964418411254883 [+00  +FF16D00000000000]
   expected result = -0.001548044495227934 [-09  -CAE7C0F5A2AF07DB]
   result          = -0.001548044495227922 [-09  -CAE7C0F5A2AD620C]

conversion error - decimal input =  0.3266684912872019 [-01  +A74117AD6CA498FC]
                   hex input     =  0.3266684912872019 [-01  +A74117AD6CA499E9]

double precision error: function LOG10
   arg1            =  2.121624350547791 [+02  +87C8B18000000000]
   expected result =  0.3266684912872019 [-01  +A74117AD6CA499E9]
   result          =  0.3266684912872020 [-01  +A74117AD6CA49A60]

conversion error - decimal input =  0.9283539940940595 [+00  +EDA89B7BBEB5E104]
                   hex input     =  0.9283539940940595 [+00  +EDA89B7BBEB5E156]

double precision error: function LOG10
   arg1            =  8.479182720184326 [+04  +87AABB8000000000]
   expected result =  0.9283539940940595 [+00  +EDA89B7BBEB5E156]
   result          =  0.9283539940940595 [+00  +EDA89B7BBEB5E198]

conversion error - decimal input =  0.9389853487122661 [+00  +F061580424704D08]
                   hex input     =  0.9389853487122661 [+00  +F061580424704D82]

conversion error - decimal input =  0.3138793468963896 [-01  +A0B4CB339EA26210]
                   hex input     =  0.3138793468963896 [-01  +A0B4CB339EA26273]

double precision error: function LOG10
   arg1            =  2.060057520866394 [+02  +83D7FB8000000000]
   expected result =  0.3138793468963896 [-01  +A0B4CB339EA26273]
   result          =  0.3138793468963897 [-01  +A0B4CB339EA26304]

conversion error - decimal input =  0.7884132649629654 [+00  +C9D573A4BF9EF400]
                   hex input     =  0.7884132649629654 [+00  +C9D573A4BF9EF475]

double precision error: function LOG10
   arg1            =  1.490308642387390 [+01  +BEC26F0000000000]
   expected result =  0.1732762199591023 [-02  +B16F5247986B4A49]
   result          =  0.1732762199591023 [-02  +B16F5247986B4B68]

conversion error - decimal input =  0.6159197014604605 [+00  +9DACE9DEBC194EFC]
                   hex input     =  0.6159197014604605 [+00  +9DACE9DEBC194FF2]

double precision error: function LOG10
   arg1            =  4.129711389541626 [+03  +8426988000000000]
   expected result =  0.6159197014604605 [+00  +9DACE9DEBC194FF2]
   result          =  0.6159197014604605 [+00  +9DACE9DEBC195038]

conversion error - decimal input =  0.7035501565880184 [+00  +B41BDCF1A426D900]
                   hex input     =  0.7035501565880184 [+00  +B41BDCF1A426D9B5]

conversion error - decimal input =  0.8050444329380565 [+00  +CE1764574BBAB804]
                   hex input     =  0.8050444329380565 [+00  +CE1764574BBAB85C]

double precision error: function LOG10
   arg1            =  6.383287906646729 [+03  +CC43E50000000000]
   expected result =  0.8050444329380565 [+00  +CE1764574BBAB85C]
   result          =  0.8050444329380565 [+00  +CE1764574BBAB984]

double precision error: function LOG10
   arg1            =  7.344586849212646 [+03  +EB06DB0000000000]
   expected result =  0.8659673706975881 [+00  +DDB009A08C9B9C02]
   result          =  0.8659673706975881 [+00  +DDB009A08C9B9C48]

conversion error - decimal input =  0.9060621547245927 [+00  +E7F3B07AAF778400]
                   hex input     =  0.9060621547245927 [+00  +E7F3B07AAF7784DC]

double precision error: function LOG10
   arg1            =  8.054937124252319 [+04  +80E105C000000000]
   expected result =  0.9060621547245927 [+00  +E7F3B07AAF7784DC]
   result          =  0.9060621547245927 [+00  +E7F3B07AAF778554]

conversion error - decimal input =  0.8107372599752329 [+00  +CF8C7A213E05BF04]
                   hex input     =  0.8107372599752329 [+00  +CF8C7A213E05BF66]

conversion error - decimal input =  0.6634000961246535 [+00  +A9D496B504C5C908]
                   hex input     =  0.6634000961246535 [+00  +A9D496B504C5C9D3]

conversion error - decimal input =  0.8814230460398021 [+00  +E1A4F0D4AE80C300]
                   hex input     =  0.8814230460398021 [+00  +E1A4F0D4AE80C36A]

conversion error - decimal input =  0.1914199691163802 [-02  +C40398AC9FEE7B24]
                   hex input     =  0.1914199691163802 [-02  +C40398AC9FEE7BB3]

conversion error - decimal input =  0.7465199456990409 [+00  +BF1BEE6096CDBA08]
                   hex input     =  0.7465199456990409 [+00  +BF1BEE6096CDBA55]

conversion error - decimal input =  0.5619328052480259 [+00  +8FDAD40D16FDB20C]
                   hex input     =  0.5619328052480260 [+00  +8FDAD40D16FDB2D5]

double precision error: function LOG10
   arg1            =  3.646975159645081 [+02  +E9680A8000000000]
   expected result =  0.5619328052480260 [+00  +8FDAD40D16FDB2D5]
   result          =  0.5619328052480260 [+00  +8FDAD40D16FDB434]

conversion error - decimal input =  3.470291682633246 [+02  +DE1942491F660708]
                   hex input     =  3.470291682633246 [+02  +DE1942491F6607E1]

conversion error - decimal input =  3.608121380306107 [+02  +E6EB75F01A706218]
                   hex input     =  3.608121380306107 [+02  +E6EB75F01A706269]

conversion error - decimal input =  3.954478830041211 [+02  +FD162E5FF0160C08]
                   hex input     =  3.954478830041212 [+02  +FD162E5FF0160CFE]

conversion error - decimal input =  3.972388261321439 [+02  +FE3B9BF958F3DAFC]
                   hex input     =  3.972388261321439 [+02  +FE3B9BF958F3DB44]

conversion error - decimal input =  3.594173163228494 [+02  +E606EEE00E8B4AFC]
                   hex input     =  3.594173163228494 [+02  +E606EEE00E8B4BD4]

conversion error - decimal input =  3.447023544009676 [+02  +DC9C08A38411A1EC]
                   hex input     =  3.447023544009676 [+02  +DC9C08A38411A2D4]

conversion error - decimal input =  3.523848127555424 [+02  +E186BA4BFAF7F3EC]
                   hex input     =  3.523848127555424 [+02  +E186BA4BFAF7F44A]

double precision error: function LOG10
   arg1            =  3340.781927108765 [+0C  +D0CC82C600000000]
   expected result =  3.523848127555424 [+02  +E186BA4BFAF7F44A]
   result          =  3.523848127555424 [+02  +E186BA4BFAF7F4C0]

conversion error - decimal input =  3.558573885981193 [+02  +E3BFACAF2C163208]
                   hex input     =  3.558573885981193 [+02  +E3BFACAF2C1632F9]

double precision error: function LOG10
   arg1            =  3618.877530097961 [+0C  +E22E0A5D00000000]
   expected result =  3.558573885981193 [+02  +E3BFACAF2C1632F9]
   result          =  3.558573885981193 [+02  +E3BFACAF2C163340]

conversion error - decimal input =  3.358964947706940 [+02  +D6F9481DB3F23A04]
                   hex input     =  3.358964947706940 [+02  +D6F9481DB3F23A69]

double precision error: function LOG10
   arg1            =  2285.414338111877 [+0C  +8ED6A12100000000]
   expected result =  3.358964947706940 [+02  +D6F9481DB3F23A69]
   result          =  3.358964947706940 [+02  +D6F9481DB3F23AC0]

conversion error - decimal input =  3.842397922406607 [+02  +F5E9D8F9BD1A2C14]
                   hex input     =  3.842397922406607 [+02  +F5E9D8F9BD1A2CCE]

conversion error - decimal input =  3.806049786881240 [+02  +F39651D866928EEC]
                   hex input     =  3.806049786881240 [+02  +F39651D866928FA5]

conversion error - decimal input =  3.959623022783558 [+02  +FD6A76AED604D504]
                   hex input     =  3.959623022783558 [+02  +FD6A76AED604D5E1]

conversion error - decimal input =  2.407625011808391 [+02  +9A168737AFE9E7F0]
                   hex input     =  2.407625011808391 [+02  +9A168737AFE9E850]

double precision error: function LOG10
   arg1            =  255.6377649307251 [+08  +FFA3449000000000]
   expected result =  2.407625011808391 [+02  +9A168737AFE9E850]
   result          =  2.407625011808391 [+02  +9A168737AFE9E8BC]

conversion error - decimal input =  3.824002360400392 [+02  +F4BC74656FC67700]
                   hex input     =  3.824002360400392 [+02  +F4BC74656FC67779]

conversion error - decimal input =  3.967332454198493 [+02  +FDE8C661C915A2F0]
                   hex input     =  3.967332454198493 [+02  +FDE8C661C915A3ED]

double precision error: function LOG10
   arg1            =  9275.395870208740 [+0E  +90ED955F00000000]
   expected result =  3.967332454198493 [+02  +FDE8C661C915A3ED]
   result          =  3.967332454198493 [+02  +FDE8C661C915A438]

conversion error - decimal input =  3.365204249851898 [+02  +D75F81A55E57ECFC]
                   hex input     =  3.365204249851898 [+02  +D75F81A55E57EDEA]

conversion error - decimal input =  3.736442347943901 [+02  +EF21DF15F3BE8E00]
                   hex input     =  3.736442347943901 [+02  +EF21DF15F3BE8E84]

double precision error: function LOG10
   arg1            =  5450.575351715088 [+0D  +AA549A5200000000]
   expected result =  3.736442347943901 [+02  +EF21DF15F3BE8E84]
   result          =  3.736442347943901 [+02  +EF21DF15F3BE8EE0]

conversion error - decimal input =  3.765450981408660 [+02  +F0FD261CF5D7D800]
                   hex input     =  3.765450981408660 [+02  +F0FD261CF5D7D85E]

conversion error - decimal input =  3.819509162234517 [+02  +F472D68EA47475F0]
                   hex input     =  3.819509162234517 [+02  +F472D68EA47476B3]

conversion error - decimal input =  3.949548602243647 [+02  +FCC5678026559810]
                   hex input     =  3.949548602243647 [+02  +FCC56780265598D8]

conversion error - decimal input =  3.936055414233538 [+02  +FBE854F7D81D2A04]
                   hex input     =  3.936055414233538 [+02  +FBE854F7D81D2A80]

conversion error - decimal input =  3.827486393115654 [+02  +F4F5897D14455BF4]
                   hex input     =  3.827486393115654 [+02  +F4F5897D14455C42]

double precision error: function LOG10
   arg1            =  8885.294198989868 [+0E  +8AD52D4280000000]
   expected result =  3.948671812206891 [+02  +FCB709FA04339813]
   result          =  3.948671812206891 [+02  +FCB709FA043398D0]

conversion error - decimal input =  3.925407819925655 [+02  +FB39E1B882C63118]
                   hex input     =  3.925407819925655 [+02  +FB39E1B882C631B7]

conversion error - decimal input =  3.963750777317163 [+02  +FDAE17BD84983FF4]
                   hex input     =  3.963750777317163 [+02  +FDAE17BD849840AB]

double precision error: function LOG10
   arg1            =  9199.215173721313 [+0E  +8FBCDC5680000000]
   expected result =  3.963750777317163 [+02  +FDAE17BD849840AB]
   result          =  3.963750777317163 [+02  +FDAE17BD849842F8]

conversion error - decimal input =  2.787186604670181 [+02  +B26143ECBA17E800]
                   hex input     =  2.787186604670181 [+02  +B26143ECBA17E8DB]

conversion error - decimal input =  3.419373188618178 [+02  +DAD702A47BCBD1F0]
                   hex input     =  3.419373188618178 [+02  +DAD702A47BCBD2D2]

conversion error - decimal input =  3.902436139673561 [+02  +F9C18382A817730C]
                   hex input     =  3.902436139673561 [+02  +F9C18382A81773CF]

conversion error - decimal input =  2.874954185827541 [+02  +B7FF3FD7682A80F0]
                   hex input     =  2.874954185827541 [+02  +B7FF3FD7682A8170]

conversion error - decimal input =  3.954180741126563 [+02  +FD114C196724EF04]
                   hex input     =  3.954180741126563 [+02  +FD114C196724EF8C]

conversion error - decimal input =  3.829066216576269 [+02  +F50F6BBF9A7743FC]
                   hex input     =  3.829066216576269 [+02  +F50F6BBF9A77445A]

conversion error - decimal input =  2.925805063136517 [+02  +BB4063E1291F9DFC]
                   hex input     =  2.925805063136517 [+02  +BB4063E1291F9E94]

conversion error - decimal input =  3.333890407353796 [+02  +D55E75DF02174814]
                   hex input     =  3.333890407353796 [+02  +D55E75DF02174872]

conversion error - decimal input =  3.844814007666169 [+02  +F6116EC5883FBE04]
                   hex input     =  3.844814007666169 [+02  +F6116EC5883FBEE0]

conversion error - decimal input =  3.839962670292963 [+02  +F5C1F2C9B13908F4]
                   hex input     =  3.839962670292963 [+02  +F5C1F2C9B13909EA]

conversion error - decimal input =  3.436452229820414 [+02  +DBEED5555613B7F4]
                   hex input     =  3.436452229820414 [+02  +DBEED5555613B8C1]

conversion error - decimal input =  3.620638270596744 [+02  +E7B88994B6FA0DFC]
                   hex input     =  3.620638270596744 [+02  +E7B88994B6FA0E3D]

double precision error: function LOG10
   arg1            =  4174.824953079224 [+0D  +8276998100000000]
   expected result =  3.620638270596744 [+02  +E7B88994B6FA0E3D]
   result          =  3.620638270596744 [+02  +E7B88994B6FA0ED8]

conversion error - decimal input =  1008.162498474121 [+0A  +FC0A665FFFFFFFC0]
                   hex input     =  1008.162498474121 [+0A  +FC0A666000000000]

conversion error - decimal input =  3.003530538560707 [+02  +C039D826E9F3CC10]
                   hex input     =  3.003530538560707 [+02  +C039D826E9F3CC9F]

conversion error - decimal input =  3.449231211745745 [+02  +DCC03444B2965700]
                   hex input     =  3.449231211745745 [+02  +DCC03444B296574D]

double precision error: function LOG10
   arg1            =  2813.398241996765 [+0C  +AFD65F3300000000]
   expected result =  3.449231211745745 [+02  +DCC03444B296574D]
   result          =  3.449231211745745 [+02  +DCC03444B29657CC]

double precision error: function LOG10
   arg1            =  8610.895276069641 [+0E  +868B94C340000000]
   expected result =  3.935048307463368 [+02  +FBD7D4DB2F0F6E2E]
   result          =  3.935048307463368 [+02  +FBD7D4DB2F0F6ECC]

conversion error - decimal input =  3.774078400512760 [+02  +F18A8021AF81B6F8]
                   hex input     =  3.774078400512760 [+02  +F18A8021AF81B797]

double precision error: function LOG10
   arg1            =  5943.994522094727 [+0D  +B9BFF4C800000000]
   expected result =  3.774078400512760 [+02  +F18A8021AF81B797]
   result          =  3.774078400512760 [+02  +F18A8021AF81B7E8]

conversion error - decimal input =  3.761770664778489 [+02  +F0C0D9BF11A68F00]
                   hex input     =  3.761770664778489 [+02  +F0C0D9BF11A68F4A]

conversion error - decimal input =  3.643820452107025 [+02  +E9345AB292EB3F14]
                   hex input     =  3.643820452107025 [+02  +E9345AB292EB3FF1]

conversion error - decimal input =  3.043608565753665 [+02  +C2CA7B94EF328008]
                   hex input     =  3.043608565753665 [+02  +C2CA7B94EF3280F4]

double precision error: function LOG10
   arg1            =  4571.902155876160 [+0D  +8EDF379D80000000]
   expected result =  3.660096927406147 [+02  +EA3F072ED9912F1C]
   result          =  3.660096927406147 [+02  +EA3F072ED9912F7C]

conversion error - decimal input =  3.827159702085936 [+02  +F4F02F3F41CE01F0]
                   hex input     =  3.827159702085936 [+02  +F4F02F3F41CE029E]

conversion error - decimal input =  3.990578425852697 [+02  +FF65A30DCA4592F4]
                   hex input     =  3.990578425852697 [+02  +FF65A30DCA45937B]

conversion error - decimal input =  3.879080918315330 [+02  +F842DC9CACED6000]
                   hex input     =  3.879080918315330 [+02  +F842DC9CACED60CC]

conversion error - decimal input =  3.639070917131266 [+02  +E8E689B439D32A08]
                   hex input     =  3.639070917131266 [+02  +E8E689B439D32A4B]

conversion error - decimal input =  3.453811229506079 [+02  +DD0B3E41525076F4]
                   hex input     =  3.453811229506079 [+02  +DD0B3E41525077DB]

conversion error - decimal input =  3.940151156538543 [+02  +FC2B6FC1A84BA3F8]
                   hex input     =  3.940151156538543 [+02  +FC2B6FC1A84BA4FE]

double precision error: function LOG10
   arg1            =  5287.947654724121 [+0D  +A53F94CC00000000]
   expected result =  3.723287147427473 [+02  +EE4A562CF45C3327]
   result          =  3.723287147427473 [+02  +EE4A562CF45C3394]

conversion error - decimal input =  3.760170317929499 [+02  +F0A6A167B96A7414]
                   hex input     =  3.760170317929499 [+02  +F0A6A167B96A74B0]

conversion error - decimal input =  3.814536103335843 [+02  +F4215C094F473F08]
                   hex input     =  3.814536103335843 [+02  +F4215C094F473F96]

conversion error - decimal input =  3.962631840195226 [+02  +FD9BC293EE83D0FC]
                   hex input     =  3.962631840195226 [+02  +FD9BC293EE83D1B1]

double precision error: function LOG10
   arg1            =  9175.544381141663 [+0E  +8F5E2D7240000000]
   expected result =  3.962631840195226 [+02  +FD9BC293EE83D1B1]
   result          =  3.962631840195226 [+02  +FD9BC293EE83D2C4]

conversion error - decimal input =  3.997235815924661 [+02  +FFD2B62BF2F67CF4]
                   hex input     =  3.997235815924661 [+02  +FFD2B62BF2F67D3D]

conversion error - decimal input =  3.897941290931230 [+02  +F977DEBF91C51AF4]
                   hex input     =  3.897941290931230 [+02  +F977DEBF91C51B3C]

double precision error: function LOG10
   arg1            =  31.85570240020752 [+05  +FED87A8000000000]
   expected result =  1.503187185471148 [+01  +C068700CAEB3FB2B]
   result          =  1.503187185471148 [+01  +C068700CAEB3FB78]

double precision error: function LOG10
   arg1            =  255.9822797775269 [+08  +FFFB76B000000000]
   expected result =  2.408209902572785 [+02  +9A201C6D5D057816]
   result          =  2.408209902572785 [+02  +9A201C6D5D0578C0]

conversion error - decimal input =  2.646538295578733 [+02  +A960E228C7D2C9F4]
                   hex input     =  2.646538295578733 [+02  +A960E228C7D2CADA]

conversion error - decimal input =  3.562695446452392 [+02  +E40333C307C0D5EC]
                   hex input     =  3.562695446452392 [+02  +E40333C307C0D676]

conversion error - decimal input =  3.754607132489263 [+02  +F04B7BB6D7A98FF0]
                   hex input     =  3.754607132489263 [+02  +F04B7BB6D7A99086]

conversion error - decimal input =  3.762826072419538 [+02  +F0D2247264FEAE04]
                   hex input     =  3.762826072419538 [+02  +F0D2247264FEAE9E]

conversion error - decimal input =  3.731112162375524 [+02  +EECA8AAAC7160504]
                   hex input     =  3.731112162375524 [+02  +EECA8AAAC71605C9]

conversion error - decimal input =  3.558004202213779 [+02  +E3B65741E27AEA00]
                   hex input     =  3.558004202213779 [+02  +E3B65741E27AEA56]

conversion error - decimal input =  3.875430206028548 [+02  +F8070C6A34AE97F8]
                   hex input     =  3.875430206028548 [+02  +F8070C6A34AE9853]

conversion error - decimal input =  3.890828878303750 [+02  +F9035720A967FCEC]
                   hex input     =  3.890828878303750 [+02  +F9035720A967FDEC]

conversion error - decimal input =  2.579409991361243 [+02  +A5150DA4F7D1C9EC]
                   hex input     =  2.579409991361243 [+02  +A5150DA4F7D1CA5B]

conversion error - decimal input =  3.566660321566872 [+02  +E44429A744840800]
                   hex input     =  3.566660321566872 [+02  +E44429A7448408BA]

conversion error - decimal input =  3.996518997612674 [+02  +FFC6F79E25B473F0]
                   hex input     =  3.996518997612675 [+02  +FFC6F79E25B47450]

conversion error - decimal input =  3.781891599907886 [+02  +F20A8310A7C676EC]
                   hex input     =  3.781891599907886 [+02  +F20A8310A7C67786]

conversion error - decimal input =  3.898548255752293 [+02  +F981D08B155F56F8]
                   hex input     =  3.898548255752293 [+02  +F981D08B155F57FB]

conversion error - decimal input =  3.567624859203646 [+02  +E453F737AB47E3F4]
                   hex input     =  3.567624859203646 [+02  +E453F737AB47E4A1]

conversion error - decimal input =  3.786293134477950 [+02  +F252A07069BC6C0C]
                   hex input     =  3.786293134477950 [+02  +F252A07069BC6C58]

conversion error - decimal input =  3.812415327829978 [+02  +F3FE9CDBF320C3F8]
                   hex input     =  3.812415327829978 [+02  +F3FE9CDBF320C499]

conversion error - decimal input =  3.602198692081391 [+02  +E68A6C620BBF3FF0]
                   hex input     =  3.602198692081391 [+02  +E68A6C620BBF409B]

conversion error - decimal input =  3.632401011356870 [+02  +E87942176F0B95F4]
                   hex input     =  3.632401011356870 [+02  +E87942176F0B963E]

conversion error - decimal input =  3.882076958239589 [+02  +F873F2EA0C6DA908]
                   hex input     =  3.882076958239589 [+02  +F873F2EA0C6DA978]

conversion error - decimal input =  3.563340029510531 [+02  +E40DC356D1A0380C]
                   hex input     =  3.563340029510531 [+02  +E40DC356D1A03868]

conversion error - decimal input =  2.656584856996776 [+02  +AA057C7DF6663EFC]
                   hex input     =  2.656584856996776 [+02  +AA057C7DF6663FAD]

double precision error: function LOG10
   arg1            =  453.5079002380371 [+09  +E2C102E000000000]
   expected result =  2.656584856996776 [+02  +AA057C7DF6663FAD]
   result          =  2.656584856996776 [+02  +AA057C7DF6664040]

conversion error - decimal input =  3.524610218483212 [+02  +E19336BCE2199910]
                   hex input     =  3.524610218483213 [+02  +E19336BCE219996D]

conversion error - decimal input =  3.988482105854925 [+02  +FF434A7354FFC814]
                   hex input     =  3.988482105854925 [+02  +FF434A7354FFC8E3]

double precision error: function LOG10
   arg1            =  2287.690043449402 [+0C  +8EFB0A6B00000000]
   expected result =  3.359397182036028 [+02  +D7005D09C7A29733]
   result          =  3.359397182036028 [+02  +D7005D09C7A297A8]

conversion error - decimal input =  1.491917171257795 [+01  +BEF72451724FC3F8]
                   hex input     =  1.491917171257795 [+01  +BEF72451724FC4B8]

conversion error - decimal input =  2.090356496495319 [+02  +85C8669D5B6D1BF4]
                   hex input     =  2.090356496495319 [+02  +85C8669D5B6D1CCE]

conversion error - decimal input =  2.299638033455518 [+02  +932D45009511A800]
                   hex input     =  2.299638033455518 [+02  +932D45009511A86E]

conversion error - decimal input =  0.1486293155694908 [-02  +98324886642CA0E4]
                   hex input     =  0.1486293155694908 [-02  +98324886642CA167]

conversion error - decimal input =  1.323059970373056 [+01  +A95A0773B31298E4]
                   hex input     =  1.323059970373056 [+01  +A95A0773B31299A1]

conversion error - decimal input =  1.429904358473144 [+01  +B7071B240666D6F4]
                   hex input     =  1.429904358473144 [+01  +B7071B240666D766]

conversion error - decimal input =  0.5774578678565866 [+00  +93D44761430DCC0C]
                   hex input     =  0.5774578678565867 [+00  +93D44761430DCC9F]

conversion error - decimal input =  1.273114356481962 [+01  +A2F56946943D1114]
                   hex input     =  1.273114356481962 [+01  +A2F56946943D116C]

conversion error - decimal input =  2.904450731236205 [+02  +B9E28551E02DAB18]
                   hex input     =  2.904450731236205 [+02  +B9E28551E02DABC1]

conversion error - decimal input =  2.152203951690083 [+02  +89BDB5A4B52CFF10]
                   hex input     =  2.152203951690083 [+02  +89BDB5A4B52CFF6E]

conversion error - decimal input =  2.526109727289985 [+02  +A1ABC82234598514]
                   hex input     =  2.526109727289985 [+02  +A1ABC82234598598]

conversion error - decimal input =  2.286826281532944 [+02  +925B5C9EB44E56EC]
                   hex input     =  2.286826281532944 [+02  +925B5C9EB44E57F3]

conversion error - decimal input =  1.224664227536354 [+01  +9CC1CC22ECC45CF0]
                   hex input     =  1.224664227536354 [+01  +9CC1CC22ECC45D61]

conversion error - decimal input =  2.267442040380859 [+02  +911DC53840B91F08]
                   hex input     =  2.267442040380859 [+02  +911DC53840B91FDA]

conversion error - decimal input =  2.002029491921876 [+02  +8021404E5BA51900]
                   hex input     =  2.002029491921876 [+02  +8021404E5BA519A0]

conversion error - decimal input =  1.427934249058762 [+01  +B6C68CAA45D98224]
                   hex input     =  1.427934249058762 [+01  +B6C68CAA45D982BB]

conversion error - decimal input =  0.7762170802459763 [+00  +C6B6299E40C99204]
                   hex input     =  0.7762170802459763 [+00  +C6B6299E40C9929F]

conversion error - decimal input =  2.229942032441224 [+02  +8EB75EC953E49610]
                   hex input     =  2.229942032441224 [+02  +8EB75EC953E496C2]

conversion error - decimal input =  2.321905700152045 [+02  +949A1A5DA3231610]
                   hex input     =  2.321905700152045 [+02  +949A1A5DA32316D4]

conversion error - decimal input =  2.824752292913358 [+02  +B4C8BDD75749E900]
                   hex input     =  2.824752292913358 [+02  +B4C8BDD75749E996]

conversion error - decimal input =  2.690372750290785 [+02  +AC2F1130231A8D18]
                   hex input     =  2.690372750290785 [+02  +AC2F1130231A8DCB]

conversion error - decimal input =  2.206344497645310 [+02  +8D34BF8D462762EC]
                   hex input     =  2.206344497645310 [+02  +8D34BF8D46276345]

conversion error - decimal input =  2.212637877613288 [+02  +8D9BDBE68F5AE2FC]
                   hex input     =  2.212637877613288 [+02  +8D9BDBE68F5AE3DF]

conversion error - decimal input =  2.390089585927642 [+02  +98F73A4F84711810]
                   hex input     =  2.390089585927642 [+02  +98F73A4F84711876]

conversion error - decimal input =  2.938329640370120 [+02  +BC0D97C390747310]
                   hex input     =  2.938329640370120 [+02  +BC0D97C3907473FE]

conversion error - decimal input =  2.579538246980374 [+02  +A517279663F5CFFC]
                   hex input     =  2.579538246980374 [+02  +A517279663F5D0B2]

conversion error - decimal input =  1.962440097404862 [+01  +FB313CB35B4186FC]
                   hex input     =  1.962440097404862 [+01  +FB313CB35B4187E4]

conversion error - decimal input =  2.557717559115061 [+02  +A3B1A4FD3376EBEC]
                   hex input     =  2.557717559115061 [+02  +A3B1A4FD3376EC82]

conversion error - decimal input =  1.958716209670336 [+01  +FAB7367756EF2D20]
                   hex input     =  1.958716209670336 [+01  +FAB7367756EF2DF2]

conversion error - decimal input =  2.831800780290870 [+02  +B53C395708BD8B08]
                   hex input     =  2.831800780290870 [+02  +B53C395708BD8BC9]

conversion error - decimal input =  0.9605163643836472 [+00  +F5E466844CF31004]
                   hex input     =  0.9605163643836472 [+00  +F5E466844CF31061]

conversion error - decimal input =  3.068570970491226 [+02  +C463777EEDBF41F8]
                   hex input     =  3.068570970491226 [+02  +C463777EEDBF42AE]

conversion error - decimal input =  1.760309268752738 [+01  +E151D06A11C069F8]
                   hex input     =  1.760309268752738 [+01  +E151D06A11C06AA2]

conversion error - decimal input =  1.480529421567135 [+01  +BD81FCF332C52B2C]
                   hex input     =  1.480529421567135 [+01  +BD81FCF332C52B8B]

conversion error - decimal input =  2.652053435087922 [+02  +A9BB3E54BC9CFFEC]
                   hex input     =  2.652053435087922 [+02  +A9BB3E54BC9D00EC]

conversion error - decimal input =  3.008675884828478 [+02  +C08E254C668A0BFC]
                   hex input     =  3.008675884828478 [+02  +C08E254C668A0C46]

conversion error - decimal input =  1.281939855801319 [+01  +A4169AEE0D84FF28]
                   hex input     =  1.281939855801319 [+01  +A4169AEE0D84FF9E]

conversion error - decimal input =  2.810666334252486 [+02  +B3E1F50C6549D014]
                   hex input     =  2.810666334252486 [+02  +B3E1F50C6549D0A4]

conversion error - decimal input =  2.100289168203424 [+02  +866B234264E979FC]
                   hex input     =  2.100289168203424 [+02  +866B234264E97A48]

conversion error - decimal input =  2.865946404956231 [+02  +B76BAA78580CD3F4]
                   hex input     =  2.865946404956231 [+02  +B76BAA78580CD477]

conversion error - decimal input =  2.923767619249113 [+02  +BB1F023871D69614]
                   hex input     =  2.923767619249113 [+02  +BB1F023871D69674]

conversion error - decimal input =  0.8080158472065093 [+00  +CEDA206666D53004]
                   hex input     =  0.8080158472065093 [+00  +CEDA206666D5309D]

conversion error - decimal input =  2.108881857412202 [+02  +86F7EB9C2DA42000]
                   hex input     =  2.108881857412202 [+02  +86F7EB9C2DA420AD]

conversion error - decimal input =  2.508890674830419 [+02  +A091AA3168B494F4]
                   hex input     =  2.508890674830419 [+02  +A091AA3168B49577]

conversion error - decimal input =  2.968527936159195 [+02  +BDFC5C98C43B4410]
                   hex input     =  2.968527936159195 [+02  +BDFC5C98C43B447A]

conversion error - decimal input =  2.637404515133493 [+02  +A8CB3C4EB48CB318]
                   hex input     =  2.637404515133493 [+02  +A8CB3C4EB48CB3D4]

conversion error - decimal input =  2.694703295870544 [+02  +AC7604D00BFE5900]
                   hex input     =  2.694703295870544 [+02  +AC7604D00BFE595A]

conversion error - decimal input =  3.071790111529160 [+02  +C498358D4C696EEC]
                   hex input     =  3.071790111529160 [+02  +C498358D4C696FC8]

conversion error - decimal input =  2.792736123807700 [+02  +B2BC304B87290A00]
                   hex input     =  2.792736123807700 [+02  +B2BC304B87290A9B]

conversion error - decimal input =  2.247895422108278 [+02  +8FDD84C2B21F6B18]
                   hex input     =  2.247895422108278 [+02  +8FDD84C2B21F6B67]

conversion error - decimal input =  2.832281693533010 [+02  +B5441A6FB2295914]
                   hex input     =  2.832281693533010 [+02  +B5441A6FB22959E3]

conversion error - decimal input =  3.015977848736849 [+02  +C105C7F47240B804]
                   hex input     =  3.015977848736849 [+02  +C105C7F47240B8A8]

conversion error - decimal input =  1.660913990101980 [+01  +D498D4627A7ABEEC]
                   hex input     =  1.660913990101980 [+01  +D498D4627A7ABFB2]

conversion error - decimal input =  2.488515702105913 [+02  +9F43D75D0826E8F8]
                   hex input     =  2.488515702105913 [+02  +9F43D75D0826E990]

conversion error - decimal input =  2.083729865166240 [+02  +855BD482259974F4]
                   hex input     =  2.083729865166240 [+02  +855BD482259975DB]

conversion error - decimal input =  2.902409939120297 [+02  +B9C1159E06D980FC]
                   hex input     =  2.902409939120297 [+02  +B9C1159E06D981A3]

conversion error - decimal input =  2.475907585120283 [+02  +9E75451680A30F08]
                   hex input     =  2.475907585120283 [+02  +9E75451680A30FE7]

conversion error - decimal input =  1.072025626584388 [+01  +893822BF53B184D4]
                   hex input     =  1.072025626584388 [+01  +893822BF53B185B5]

conversion error - decimal input =  2.609635231610129 [+02  +A704437D90501D0C]
                   hex input     =  2.609635231610129 [+02  +A704437D90501D68]

conversion error - decimal input =  1.855784820941195 [+01  +ED8A5B652D85D91C]
                   hex input     =  1.855784820941195 [+01  +ED8A5B652D85D9D6]

conversion error - decimal input =  3.052307762947330 [+02  +C35902A8CBE29108]
                   hex input     =  3.052307762947330 [+02  +C35902A8CBE291B5]

conversion error - decimal input =  2.657013502905737 [+02  +AA0C825D00ACAEF0]
                   hex input     =  2.657013502905737 [+02  +AA0C825D00ACAFB0]

conversion error - decimal input =  2.808561746682885 [+02  +B3BF79C4B32D1F04]
                   hex input     =  2.808561746682885 [+02  +B3BF79C4B32D1F92]

conversion error - decimal input =  2.757827888424223 [+02  +B080408B31D776F4]
                   hex input     =  2.757827888424223 [+02  +B080408B31D77738]

conversion error - decimal input =  1.495086769277952 [+01  +BF5F00D55D94AC10]
                   hex input     =  1.495086769277952 [+01  +BF5F00D55D94ACC8]

conversion error - decimal input =  2.978072036480355 [+02  +BE98BB74742CEEF0]
                   hex input     =  2.978072036480355 [+02  +BE98BB74742CEFCA]

conversion error - decimal input =  2.317757609554337 [+02  +9456240345D32B18]
                   hex input     =  2.317757609554337 [+02  +9456240345D32B9F]

conversion error - decimal input =  2.949756093367843 [+02  +BCC8CDC80C434B04]
                   hex input     =  2.949756093367843 [+02  +BCC8CDC80C434B7F]

conversion error - decimal input =  1.902099280344480 [+01  +F377FD3D698EF7D4]
                   hex input     =  1.902099280344480 [+01  +F377FD3D698EF878]

conversion error - decimal input =  0.6322676585466533 [+00  +A1DC4B13C6C03CFC]
                   hex input     =  0.6322676585466533 [+00  +A1DC4B13C6C03DB2]

conversion error - decimal input =  1.103741647984668 [+01  +8D476804A9E4BCE8]
                   hex input     =  1.103741647984668 [+01  +8D476804A9E4BDBA]

conversion error - decimal input =  25.38636039719274 [+05  +CB17441EB34C9510]
                   hex input     =  25.38636039719274 [+05  +CB17441EB34C95A1]

conversion error - decimal input =  26.67930725630961 [+05  +D56F38A48E483BF8]
                   hex input     =  26.67930725630961 [+05  +D56F38A48E483CE4]

conversion error - decimal input =  17.55907340237954 [+05  +8C78FB79DA44C0F8]
                   hex input     =  17.55907340237954 [+05  +8C78FB79DA44C166]

conversion error - decimal input =  20.68958919613283 [+05  +A584475728860218]
                   hex input     =  20.68958919613283 [+05  +A5844757288602D4]

conversion error - decimal input =  24.81708006782434 [+05  +C68961464C26E0F0]
                   hex input     =  24.81708006782434 [+05  +C68961464C26E1DB]

conversion error - decimal input =  27.06278730772947 [+05  +D88096A1CA6A6B1C]
                   hex input     =  27.06278730772947 [+05  +D88096A1CA6A6BEC]

conversion error - decimal input =  27.44081544070404 [+05  +DB86CA3EEB2A5918]
                   hex input     =  27.44081544070404 [+05  +DB86CA3EEB2A5978]

conversion error - decimal input =  29.09533952576857 [+05  +E8C3415E89898F04]
                   hex input     =  29.09533952576857 [+05  +E8C3415E89898F45]

conversion error - decimal input =  24.26218997692395 [+05  +C218F70F01D19CE8]
                   hex input     =  24.26218997692395 [+05  +C218F70F01D19D3B]

conversion error - decimal input =  27.76533950375520 [+05  +DE1F6A5157B93F14]
                   hex input     =  27.76533950375520 [+05  +DE1F6A5157B93FCB]

conversion error - decimal input =  16.28374593863389 [+05  +82451C97367172FC]
                   hex input     =  16.28374593863389 [+05  +82451C97367173CE]

conversion error - decimal input =  19.04129568722180 [+05  +985492D550AAFE14]
                   hex input     =  19.04129568722180 [+05  +985492D550AAFE56]

conversion error - decimal input =  20.30771052308588 [+05  +A27630EF4A4FB600]
                   hex input     =  20.30771052308588 [+05  +A27630EF4A4FB680]

conversion error - decimal input =  17.48517191607397 [+05  +8BE1A1D043CD87FC]
                   hex input     =  17.48517191607397 [+05  +8BE1A1D043CD8849]

conversion error - decimal input =  23.53489792551435 [+05  +BC477890464258E8]
                   hex input     =  23.53489792551435 [+05  +BC477890464259E2]

conversion error - decimal input =  27.01142019243389 [+05  +D8176378482404FC]
                   hex input     =  27.01142019243389 [+05  +D817637848240576]

conversion error - decimal input =  30.10780950414896 [+05  +F0DCCB3AB42462F0]
                   hex input     =  30.10780950414896 [+05  +F0DCCB3AB424635C]

conversion error - decimal input =  26.14197232638530 [+05  +D122C26316185FFC]
                   hex input     =  26.14197232638530 [+05  +D122C26316186092]

conversion error - decimal input =  30.73303920245836 [+05  +F5DD43A849F4E9E4]
                   hex input     =  30.73303920245836 [+05  +F5DD43A849F4EAFE]

conversion error - decimal input =  5.615186608152810 [+03  +B3AF9BD35E82F6FC]
                   hex input     =  5.615186608152810 [+03  +B3AF9BD35E82F767]

conversion error - decimal input =  27.72452488449998 [+05  +DDCBD3B3E08650F8]
                   hex input     =  27.72452488449998 [+05  +DDCBD3B3E086515C]

conversion error - decimal input =  28.96505817480582 [+05  +E7B8706B9C3A39F8]
                   hex input     =  28.96505817480582 [+05  +E7B8706B9C3A3AEF]

conversion error - decimal input =  11.69157055230488 [+04  +BB10AC48906B05D8]
                   hex input     =  11.69157055230488 [+04  +BB10AC48906B06D6]

conversion error - decimal input =  15.40902021158623 [+04  +F68B58C702A76214]
                   hex input     =  15.40902021158623 [+04  +F68B58C702A762B4]

conversion error - decimal input =  24.52045300258159 [+05  +C429E343898B29F4]
                   hex input     =  24.52045300258159 [+05  +C429E343898B2AE4]

conversion error - decimal input =  24.44098978905609 [+05  +C38725A78EED37F4]
                   hex input     =  24.44098978905609 [+05  +C38725A78EED38FD]

conversion error - decimal input =  29.13039347435586 [+05  +E90B0BBBDFC310EC]
                   hex input     =  29.13039347435586 [+05  +E90B0BBBDFC311A6]

conversion error - decimal input =  26.73471163655357 [+05  +D5E0B07E97E7DF00]
                   hex input     =  26.73471163655357 [+05  +D5E0B07E97E7DFFF]

conversion error - decimal input =  26.63930895287097 [+05  +D51D4E0324F768EC]
                   hex input     =  26.63930895287097 [+05  +D51D4E0324F76964]

conversion error - decimal input =  2.988205453746658 [+02  +BF3EC2166486F10C]
                   hex input     =  2.988205453746658 [+02  +BF3EC2166486F178]

conversion error - decimal input =  21.84786475941633 [+05  +AEC86D51A8FE04FC]
                   hex input     =  21.84786475941633 [+05  +AEC86D51A8FE0540]

conversion error - decimal input =  25.56079706801348 [+05  +CC7C832C567C1D14]
                   hex input     =  25.56079706801348 [+05  +CC7C832C567C1DD9]

conversion error - decimal input =  23.06588633417284 [+05  +B886EF6A14349808]
                   hex input     =  23.06588633417284 [+05  +B886EF6A14349886]

conversion error - decimal input =  10.01205194925691 [+04  +A0315D627E9576D0]
                   hex input     =  10.01205194925691 [+04  +A0315D627E957722]

conversion error - decimal input =  23.63631797832801 [+05  +BD172DE156347F00]
                   hex input     =  23.63631797832801 [+05  +BD172DE156347F43]

conversion error - decimal input =  27.53769783264107 [+05  +DC4D348572967218]
                   hex input     =  27.53769783264107 [+05  +DC4D3485729672D7]

conversion error - decimal input =  27.13408385729841 [+05  +D9129A8EB0254E00]
                   hex input     =  27.13408385729841 [+05  +D9129A8EB0254EA0]

conversion error - decimal input =  25.32574742599099 [+05  +CA9B21776B1988F8]
                   hex input     =  25.32574742599099 [+05  +CA9B21776B1989FB]

conversion error - decimal input =  20.25544148791005 [+05  +A20B24E824EC04E8]
                   hex input     =  20.25544148791005 [+05  +A20B24E824EC0563]

conversion error - decimal input =  28.85706247793331 [+05  +E6DB43928AD180F0]
                   hex input     =  28.85706247793331 [+05  +E6DB43928AD181AB]

conversion error - decimal input =  28.91286825761080 [+05  +E74D8DDF7FF580FC]
                   hex input     =  28.91286825761080 [+05  +E74D8DDF7FF581CA]

conversion error - decimal input =  22.52780547246813 [+05  +B438F21357341AF4]
                   hex input     =  22.52780547246813 [+05  +B438F21357341BA4]

conversion error - decimal input =  25.67985246336675 [+05  +CD70567D021F2A04]
                   hex input     =  25.67985246336675 [+05  +CD70567D021F2A9F]

conversion error - decimal input =  7.685506546709631 [+03  +F5EFAB6CE9F9F500]
                   hex input     =  7.685506546709631 [+03  +F5EFAB6CE9F9F5BD]

conversion error - decimal input =  26.50855027219650 [+05  +D41182CE1BA5A4F8]
                   hex input     =  26.50855027219650 [+05  +D41182CE1BA5A56C]

conversion error - decimal input =  3.614567708065035 [+02  +E75513CBD449C4F8]
                   hex input     =  3.614567708065035 [+02  +E75513CBD449C5EE]

conversion error - decimal input =  19.93269233975394 [+05  +9F762766C3C87BE8]
                   hex input     =  19.93269233975394 [+05  +9F762766C3C87C31]

conversion error - decimal input =  23.16564956554642 [+05  +B953401454F2ACEC]
                   hex input     =  23.16564956554642 [+05  +B953401454F2AD5A]

conversion error - decimal input =  18.70537055867309 [+05  +95A49951C87F5B04]
                   hex input     =  18.70537055867309 [+05  +95A49951C87F5BF3]

conversion error - decimal input =  24.77574740263103 [+05  +C634BB0DE20ECA00]
                   hex input     =  24.77574740263103 [+05  +C634BB0DE20ECA54]

conversion error - decimal input =  12.43765782011724 [+04  +C700A57C83E00030]
                   hex input     =  12.43765782011724 [+04  +C700A57C83E000ED]

conversion error - decimal input =  25.59565934545331 [+05  +CCC3E90C023AD108]
                   hex input     =  25.59565934545331 [+05  +CCC3E90C023AD16C]

conversion error - decimal input =  26.72598289166792 [+05  +D5CED01E495A920C]
                   hex input     =  26.72598289166792 [+05  +D5CED01E495A924C]

conversion error - decimal input =  28.02439498010085 [+05  +E031F5FECDC203E8]
                   hex input     =  28.02439498010085 [+05  +E031F5FECDC204BB]

conversion error - decimal input =  22.23595499522250 [+05  +B1E33C5F5E77C4EC]
                   hex input     =  22.23595499522250 [+05  +B1E33C5F5E77C5FC]

conversion error - decimal input =  17.83642183131638 [+05  +8EB0FDEDD95068F8]
                   hex input     =  17.83642183131638 [+05  +8EB0FDEDD9506963]

conversion error - decimal input =  21.71409419811554 [+05  +ADB67704D95B5408]
                   hex input     =  21.71409419811554 [+05  +ADB67704D95B5454]

conversion error - decimal input =  12.94237557283408 [+04  +CF13F8689DF233DC]
                   hex input     =  12.94237557283408 [+04  +CF13F8689DF234BA]

conversion error - decimal input =  26.09843640302615 [+05  +D0C999065DDD87FC]
                   hex input     =  26.09843640302615 [+05  +D0C999065DDD8878]

conversion error - decimal input =  29.29713134653474 [+05  +EA6086663FDD7B04]
                   hex input     =  29.29713134653474 [+05  +EA6086663FDD7BBA]

conversion error - decimal input =  20.92224476311599 [+05  +A760C1DCC3EC681C]
                   hex input     =  20.92224476311599 [+05  +A760C1DCC3EC68ED]

conversion error - decimal input =  16.96543022826713 [+05  +87B9337BC7D13500]
                   hex input     =  16.96543022826713 [+05  +87B9337BC7D13540]

conversion error - decimal input =  22.23924378992774 [+05  +B1E9F8A5EC15F2F8]
                   hex input     =  22.23924378992774 [+05  +B1E9F8A5EC15F3C4]

conversion error - decimal input =  23.73410044066168 [+05  +BDDF700D44F80710]
                   hex input     =  23.73410044066168 [+05  +BDDF700D44F80759]

conversion error - decimal input =  24.69410916479742 [+05  +C58D891B15453E04]
                   hex input     =  24.69410916479742 [+05  +C58D891B15453E6F]

conversion error - decimal input =  14.47775314713129 [+04  +E7A4E07BE7D6EE28]
                   hex input     =  14.47775314713129 [+04  +E7A4E07BE7D6EEC8]

conversion error - decimal input =  0.5878879641632025 [+00  +967FD35BCB006704]
                   hex input     =  0.5878879641632025 [+00  +967FD35BCB0067B9]

conversion error - decimal input =  0.4711553494016563 [-01  +F13B462207F86510]
                   hex input     =  0.4711553494016563 [-01  +F13B462207F8658F]

conversion error - decimal input =  2.532189996081116 [+02  +A20F66A11B500EFC]
                   hex input     =  2.532189996081116 [+02  +A20F66A11B500F73]

conversion error - decimal input =  2.564071713436052 [+02  +A419C03E739E250C]
                   hex input     =  2.564071713436052 [+02  +A419C03E739E255D]

conversion error - decimal input =  0.4201460835947211 [-01  +D71D633129E2E4F4]
                   hex input     =  0.4201460835947211 [-01  +D71D633129E2E5A2]

double precision error: function EXPON
   arg1            = -0.8671528100967407 [+00  -DDFDBA0000000000]
   expected result =  0.4201460835947211 [-01  +D71D633129E2E5A2]
   result          =  0.4201460835947211 [-01  +D71D633129E2E50C]

conversion error - decimal input =  1.871259678227923 [+01  +EF856FE827FD15EC]
                   hex input     =  1.871259678227923 [+01  +EF856FE827FD1654]

conversion error - decimal input =  0.5826510261084208 [+00  +95289E1E1DD391FC]
                   hex input     =  0.5826510261084208 [+00  +95289E1E1DD3926E]

conversion error - decimal input =  0.4600623319984558 [-01  +EB8D4A3C1C16E000]
                   hex input     =  0.4600623319984558 [-01  +EB8D4A3C1C16E0FB]

conversion error - decimal input =  0.4956659649566210 [-01  +FDC7EDEA753B7900]
                   hex input     =  0.4956659649566210 [-01  +FDC7EDEA753B7957]

double precision error: function EXPON
   arg1            = -0.7018530368804932 [+00  -B3ACA40000000000]
   expected result =  0.4956659649566210 [-01  +FDC7EDEA753B7957]
   result          =  0.4956659649566210 [-01  +FDC7EDEA753B790C]

conversion error - decimal input =  0.7512223956833821 [+00  +C0501C657B9F2F00]
                   hex input     =  0.7512223956833821 [+00  +C0501C657B9F2F99]

conversion error - decimal input =  1.774296619549751 [+01  +E31C26D12F4CF7D4]
                   hex input     =  1.774296619549751 [+01  +E31C26D12F4CF8BD]

conversion error - decimal input =  1.900292738060950 [+01  +F33CCADD66274000]
                   hex input     =  1.900292738060950 [+01  +F33CCADD662740E0]

conversion error - decimal input =  2.343659362924338 [+02  +95FE83D72E59C014]
                   hex input     =  2.343659362924338 [+02  +95FE83D72E59C060]

conversion error - decimal input =  0.3691193673154092 [-01  +BCFD36B5E139C6F4]
                   hex input     =  0.3691193673154092 [-01  +BCFD36B5E139C767]

conversion error - decimal input =  0.5544862798234566 [+00  +8DF2D015EC25BB00]
                   hex input     =  0.5544862798234566 [+00  +8DF2D015EC25BB42]

conversion error - decimal input =  0.4082938895412343 [-01  +D10BE58D78F42308]
                   hex input     =  0.4082938895412343 [-01  +D10BE58D78F423ED]

conversion error - decimal input =  1.225126588368827 [+01  +9CD0F2B3408874D8]
                   hex input     =  1.225126588368827 [+01  +9CD0F2B3408875B3]

double precision error: function EXPON
   arg1            = -0.08976840972900391 [-03  -B7D8800000000000]
   expected result =  0.9141428673529061 [+00  +EA05445727038E1A]
   result          =  0.9141428673529061 [+00  +EA05445727038D98]

conversion error - decimal input =  0.8096349066449001 [+00  +CF443BB5BD676A08]
                   hex input     =  0.8096349066449002 [+00  +CF443BB5BD676A68]

conversion error - decimal input =  1.778945189370236 [+01  +E3B479D8DC6058E4]
                   hex input     =  1.778945189370236 [+01  +E3B479D8DC6059C2]

conversion error - decimal input =  0.4358355736083671 [-01  +DF25D71E29A51010]
                   hex input     =  0.4358355736083671 [-01  +DF25D71E29A510EC]

conversion error - decimal input =  2.400630636872533 [+02  +99A3EEAEC929DF04]
                   hex input     =  2.400630636872533 [+02  +99A3EEAEC929DF5B]

conversion error - decimal input =  0.9074252123323896 [+00  +E84D04CA88917108]
                   hex input     =  0.9074252123323896 [+00  +E84D04CA88917180]

conversion error - decimal input =  1.426457831206357 [+01  +B6962B9313C309EC]
                   hex input     =  1.426457831206357 [+01  +B6962B9313C30A32]

conversion error - decimal input =  2.503787831997612 [+02  +A03E0F51A35BEFF4]
                   hex input     =  2.503787831997612 [+02  +A03E0F51A35BF053]

conversion error - decimal input =  0.3713080002249138 [-01  +BE1C150B6B17C00C]
                   hex input     =  0.3713080002249138 [-01  +BE1C150B6B17C0B3]

conversion error - decimal input =  0.7649480804361214 [+00  +C3D3A32C9C7249FC]
                   hex input     =  0.7649480804361214 [+00  +C3D3A32C9C724A9F]

conversion error - decimal input =  0.4278703168796219 [-01  +DB11D173DAB12910]
                   hex input     =  0.4278703168796219 [-01  +DB11D173DAB1295D]

conversion error - decimal input =  0.4247524052977926 [-01  +D97925B34D7E940C]
                   hex input     =  0.4247524052977926 [-01  +D97925B34D7E9489]

conversion error - decimal input =  0.7821741783396681 [+00  +C83C9123BE9A9304]
                   hex input     =  0.7821741783396681 [+00  +C83C9123BE9A9355]

conversion error - decimal input =  0.4880559585362711 [-01  +F9E278790FFB9D0C]
                   hex input     =  0.4880559585362711 [-01  +F9E278790FFB9D9C]

conversion error - decimal input =  1.763248321836739 [+01  +E1B21EFA8201A6E4]
                   hex input     =  1.763248321836739 [+01  +E1B21EFA8201A745]

conversion error - decimal input =  1.023418421451744 [+01  +82FF5FF5212CEBDC]
                   hex input     =  1.023418421451744 [+01  +82FF5FF5212CEC57]

conversion error - decimal input =  0.5167472970473963 [+00  +84498D051D6E50FC]
                   hex input     =  0.5167472970473963 [+00  +84498D051D6E5163]

conversion error - decimal input =  2.024806495591315 [+02  +81966DFBD2C19F04]
                   hex input     =  2.024806495591315 [+02  +81966DFBD2C19F84]

conversion error - decimal input =  1.491407153694315 [+01  +BEE66DFB119A86F0]
                   hex input     =  1.491407153694315 [+01  +BEE66DFB119A8764]

conversion error - decimal input =  1.314710426168715 [+01  +A8486E660D6BE21C]
                   hex input     =  1.314710426168715 [+01  +A8486E660D6BE2BC]

conversion error - decimal input =  1.524432601606930 [+01  +C3209B846DD1B6DC]
                   hex input     =  1.524432601606930 [+01  +C3209B846DD1B786]

conversion error - decimal input =  0.3793388449817498 [-01  +C238B37A991A52F8]
                   hex input     =  0.3793388449817498 [-01  +C238B37A991A53EB]

conversion error - decimal input =  0.7172355510052058 [+00  +B79CBFC3188CD200]
                   hex input     =  0.7172355510052058 [+00  +B79CBFC3188CD245]

conversion error - decimal input =  2.344316570849897 [+02  +9609485ED15AE514]
                   hex input     =  2.344316570849897 [+02  +9609485ED15AE5F7]

conversion error - decimal input =  1.447515802334047 [+01  +B94832A3BBE53DEC]
                   hex input     =  1.447515802334047 [+01  +B94832A3BBE53EA7]

conversion error - decimal input =  0.4033698939224468 [-01  +CE867FAD2D00F800]
                   hex input     =  0.4033698939224468 [-01  +CE867FAD2D00F868]

double precision error: function EXPON
   arg1            =  0.1680933237075806 [-02  +AC20A80000000000]
   expected result =  1.183047011829593 [+01  +976E15A0B824ED11]
   result          =  1.183047011829593 [+01  +976E15A0B824ECD0]

conversion error - decimal input =  1.038965402137553 [+01  +84FCD17BED9A890C]
                   hex input     =  1.038965402137553 [+01  +84FCD17BED9A89EF]

conversion error - decimal input =  1.212610950885024 [+01  +9B36D5EC694C42FC]
                   hex input     =  1.212610950885024 [+01  +9B36D5EC694C434E]

conversion error - decimal input =  2.305414829462086 [+02  +938BEAA410326A00]
                   hex input     =  2.305414829462086 [+02  +938BEAA410326A61]

conversion error - decimal input =  2.563595537558357 [+02  +A411F3047F0505F0]
                   hex input     =  2.563595537558357 [+02  +A411F3047F0506DE]

conversion error - decimal input =  1.362029755209356 [+01  +AE56FDB366CAF7D8]
                   hex input     =  1.362029755209356 [+01  +AE56FDB366CAF87C]

conversion error - decimal input =  1.958101952840022 [+01  +FAA315B4D73FA1F0]
                   hex input     =  1.958101952840022 [+01  +FAA315B4D73FA25B]

conversion error - decimal input =  1.992797741698724 [+01  +FF13FF1411C009D4]
                   hex input     =  1.992797741698724 [+01  +FF13FF1411C00A42]

double precision error: function EXPON
   arg1            =  0.6895395517349243 [+00  +B085AA0000000000]
   expected result =  1.992797741698724 [+01  +FF13FF1411C00A42]
   result          =  1.992797741698724 [+01  +FF13FF1411C009B8]

conversion error - decimal input =  0.8257368936640308 [+00  +D3637E39633C7DFC]
                   hex input     =  0.8257368936640308 [+00  +D3637E39633C7E8B]

conversion error - decimal input =  2.084478132971585 [+02  +856816F895C42100]
                   hex input     =  2.084478132971585 [+02  +856816F895C421FF]

conversion error - decimal input =  1.596066891149020 [+01  +CC4BEB7DDB51C5F4]
                   hex input     =  1.596066891149020 [+01  +CC4BEB7DDB51C675]

double precision error: function EXPON
   arg1            =  0.6915013790130615 [+00  +B1063C0000000000]
   expected result =  1.996711104083602 [+01  +FF943ABDCCAFFE05]
   result          =  1.996711104083602 [+01  +FF943ABDCCAFFD5C]

conversion error - decimal input =  0.5022708917975725 [+00  +8094D33E00DA2500]
                   hex input     =  0.5022708917975725 [+00  +8094D33E00DA2542]

conversion error - decimal input =  1.009157370444136 [+01  +812C119749970CE0]
                   hex input     =  1.009157370444136 [+01  +812C119749970D31]

conversion error - decimal input =  0.6836718986154240 [+00  +AF051F1DBF5A710C]
                   hex input     =  0.6836718986154240 [+00  +AF051F1DBF5A71A4]

conversion error - decimal input =  0.6685441376669644 [+00  +AB25B567364E64FC]
                   hex input     =  0.6685441376669644 [+00  +AB25B567364E65A9]

conversion error - decimal input =  0.4382373224501652 [-01  +E060A46F9EC0FCF8]
                   hex input     =  0.4382373224501652 [-01  +E060A46F9EC0FD83]

conversion error - decimal input =  1.565598307299406 [+01  +C865867C430F6300]
                   hex input     =  1.565598307299406 [+01  +C865867C430F63A9]

conversion error - decimal input =  0.5660283527815784 [+00  +90E73BEFCE3DBF00]
                   hex input     =  0.5660283527815784 [+00  +90E73BEFCE3DBFB4]

conversion error - decimal input =  1.075035539104195 [+01  +899AC3B93EC06DEC]
                   hex input     =  1.075035539104195 [+01  +899AC3B93EC06E5C]

conversion error - decimal input =  0.5500845361318139 [+00  +8CD25714B8B25404]
                   hex input     =  0.5500845361318139 [+00  +8CD25714B8B254C9]

conversion error - decimal input =  1.847331403500443 [+01  +EC755AFD743F57D8]
                   hex input     =  1.847331403500443 [+01  +EC755AFD743F58BA]

conversion error - decimal input =  1.749703065042898 [+01  +DFF6452108FC9DE4]
                   hex input     =  1.749703065042898 [+01  +DFF6452108FC9E2D]

conversion error - decimal input =  0.5244900197984938 [+00  +8644FA5A1CE88904]
                   hex input     =  0.5244900197984938 [+00  +8644FA5A1CE88980]

conversion error - decimal input =  0.8060510192397785 [+00  +CE595C0E8AD52C08]
                   hex input     =  0.8060510192397785 [+00  +CE595C0E8AD52CF9]

conversion error - decimal input =  1.172110635495589 [+01  +9607B8A75FA89700]
                   hex input     =  1.172110635495589 [+01  +9607B8A75FA89799]

conversion error - decimal input =  1.789088950161826 [+01  +E500DDE14A3DF8D4]
                   hex input     =  1.789088950161826 [+01  +E500DDE14A3DF983]

conversion error - decimal input =  0.8947304694022581 [+00  +E50D0E58D142E8FC]
                   hex input     =  0.8947304694022581 [+00  +E50D0E58D142E95E]

conversion error - decimal input =  0.4818191405592392 [-01  +F6B0FF9693D8460C]
                   hex input     =  0.4818191405592392 [-01  +F6B0FF9693D8468F]

conversion error - decimal input =  2.121852765114579 [+02  +87CC6F8A4608CA10]
                   hex input     =  2.121852765114579 [+02  +87CC6F8A4608CA95]

conversion error - decimal input =  0.9026402690400067 [+00  +E7136EC3945826FC]
                   hex input     =  0.9026402690400067 [+00  +E7136EC394582779]

conversion error - decimal input =  0.4411810212323580 [-01  +E1E27A939E22C708]
                   hex input     =  0.4411810212323580 [-01  +E1E27A939E22C756]

conversion error - decimal input =  2.316755052711590 [+02  +9445B6FC0F4C6300]
                   hex input     =  2.316755052711591 [+02  +9445B6FC0F4C6354]

conversion error - decimal input =  0.6279009046951448 [+00  +A0BE1D1ACB61B80C]
                   hex input     =  0.6279009046951448 [+00  +A0BE1D1ACB61B8AF]

conversion error - decimal input =  2.410331568828930 [+02  +9A42DF5728BE7E08]
                   hex input     =  2.410331568828930 [+02  +9A42DF5728BE7EE1]

conversion error - decimal input =  0.6283928724741903 [+00  +A0DE5AF450EEEFFC]
                   hex input     =  0.6283928724741903 [+00  +A0DE5AF450EEF0E7]

conversion error - decimal input =  0.4758199105254596 [-01  +F39EAAD4FC285704]
                   hex input     =  0.4758199105254596 [-01  +F39EAAD4FC285762]

conversion error - decimal input =  0.5286090022642551 [+00  +8752EB69189E4D08]
                   hex input     =  0.5286090022642551 [+00  +8752EB69189E4D62]

conversion error - decimal input =  1.086805754239700 [+01  +8B1C7371C8353308]
                   hex input     =  1.086805754239700 [+01  +8B1C7371C83533A3]

double precision error: function EXPON
   arg1            =  0.08324289321899414 [-03  +AA7B400000000000]
   expected result =  1.086805754239700 [+01  +8B1C7371C83533A3]
   result          =  1.086805754239700 [+01  +8B1C7371C8353358]

conversion error - decimal input =  0.7217446315675237 [+00  +B8C44194A565BC00]
                   hex input     =  0.7217446315675237 [+00  +B8C44194A565BCEC]

conversion error - decimal input =  0.7525273253387456 [+00  +C0A5A17BAD1FA7FC]
                   hex input     =  0.7525273253387456 [+00  +C0A5A17BAD1FA8C9]

conversion error - decimal input =  1.559997203490413 [+01  +C7ADFD056BE03ED8]
                   hex input     =  1.559997203490413 [+01  +C7ADFD056BE03F4E]

conversion error - decimal input =  0.09389262405103114 [-03  +C04AC6AD1412F500]
                   hex input     =  0.09389262405103114 [-03  +C04AC6AD1412F54F]

conversion error - decimal input =  27921.57483728090 [+0F  +DA2326511273FE00]
                   hex input     =  27921.57483728090 [+0F  +DA2326511273FEF7]

conversion error - decimal input =  1349243.478969708 [+15  +A4B3DBD4EE11EDF8]
                   hex input     =  1349243.478969708 [+15  +A4B3DBD4EE11EECF]

conversion error - decimal input =  0.0007294585943242684 [-0A  +BF392339C33ECA00]
                   hex input     =  0.0007294585943242684 [-0A  +BF392339C33ECAC5]

conversion error - decimal input =  2.775765776383282E-09 [-1C  +BEBFC9B75810C50C]
                   hex input     =  2.775765776383282E-09 [-1C  +BEBFC9B75810C5F4]

conversion error - decimal input =  213425969.3839080 [+1C  +CB89F316247CBBE0]
                   hex input     =  213425969.3839080 [+1C  +CB89F316247CBC3C]

conversion error - decimal input =  4.219960314592849E-09 [-1B  +90FF29D9A40A8700]
                   hex input     =  4.219960314592850E-09 [-1B  +90FF29D9A40A87E9]

double precision error: function EXPON
   arg1            = -7.802309989929199 [+03  -F9AC860000000000]
   expected result =  0.0004087895876473195 [-0B  +D652CF4774B41427]
   result          =  0.0004087895876473195 [-0B  +D652CF4774B413CC]

conversion error - decimal input =  2.290888328908434E-08 [-19  +C4C92AC7D070C904]
                   hex input     =  2.290888328908434E-08 [-19  +C4C92AC7D070C9BD]

double precision error: function EXPON
   arg1            = -17.59174108505249 [+05  -8CBBE2C000000000]
   expected result =  2.290888328908434E-08 [-19  +C4C92AC7D070C9BD]
   result          =  2.290888328908434E-08 [-19  +C4C92AC7D070C948]

double precision error: function EXPON
   arg1            = -3.900036811828613 [+02  -F99A340000000000]
   expected result =  0.02024116631774429 [-05  +A5D0CD6BC372D132]
   result          =  0.02024116631774429 [-05  +A5D0CD6BC372D0B8]

conversion error - decimal input =  9.110239780206208E-06 [-10  +98D82E91F647E208]
                   hex input     =  9.110239780206209E-06 [-10  +98D82E91F647E280]

conversion error - decimal input =  71977018.12499504 [+1B  +89490743FFF59708]
                   hex input     =  71977018.12499504 [+1B  +89490743FFF59771]

conversion error - decimal input =  1.564858924856576E-06 [-13  +D20824AB6F8C4B24]
                   hex input     =  1.564858924856576E-06 [-13  +D20824AB6F8C4BFB]

conversion error - decimal input =  4.387411925525941E-07 [-15  +EB8C215E957A7900]
                   hex input     =  4.387411925525941E-07 [-15  +EB8C215E957A7948]

conversion error - decimal input =  3655.464822487867 [+0C  +E4776FE9B47D59FC]
                   hex input     =  3655.464822487867 [+0C  +E4776FE9B47D5AA0]

conversion error - decimal input =  1.916080907834082 [+01  +F54223A1D1957810]
                   hex input     =  1.916080907834082 [+01  +F54223A1D1957860]

conversion error - decimal input =  0.003693451453393733 [-08  +F20DD533A1F084F0]
                   hex input     =  0.003693451453393733 [-08  +F20DD533A1F085A5]

conversion error - decimal input =  79708.56588978110 [+11  +9BAE486F138B7C08]
                   hex input     =  79708.56588978110 [+11  +9BAE486F138B7C75]

conversion error - decimal input =  6.716205737299671 [+03  +D6EB284B5D1BE000]
                   hex input     =  6.716205737299671 [+03  +D6EB284B5D1BE077]

double precision error: function EXPON
   arg1            =  1.904523372650146 [+01  +F3C76C0000000000]
   expected result =  6.716205737299671 [+03  +D6EB284B5D1BE077]
   result          =  6.716205737299671 [+03  +D6EB284B5D1BDFEC]

conversion error - decimal input =  7.775668115402996E-08 [-17  +A6FB30022AB672FC]
                   hex input     =  7.775668115402996E-08 [-17  +A6FB30022AB673AA]

conversion error - decimal input =  12.59043661173152 [+04  +C9726DA91BF778E4]
                   hex input     =  12.59043661173152 [+04  +C9726DA91BF77980]

conversion error - decimal input =  3.629591129543944E-06 [-12  +F393E69AA15E0D04]
                   hex input     =  3.629591129543944E-06 [-12  +F393E69AA15E0D8E]

conversion error - decimal input =  2675788.388596415 [+16  +A351318DEC37F1EC]
                   hex input     =  2675788.388596415 [+16  +A351318DEC37F299]

conversion error - decimal input =  5068.682015760157 [+0D  +9E6574C4ADC9DAFC]
                   hex input     =  5068.682015760157 [+0D  +9E6574C4ADC9DBFF]

conversion error - decimal input =  14394346.13440486 [+18  +DBA3EA22685B65DC]
                   hex input     =  14394346.13440486 [+18  +DBA3EA22685B6672]

conversion error - decimal input =  223769412.4339967 [+1C  +D5673446F1A68E20]
                   hex input     =  223769412.4339967 [+1C  +D5673446F1A68E62]

double precision error: function EXPON
   arg1            =  19.22612667083740 [+05  +99CF1B8000000000]
   expected result =  223769412.4339967 [+1C  +D5673446F1A68E62]
   result          =  223769412.4339967 [+1C  +D5673446F1A68E14]

conversion error - decimal input =  12367.05058656073 [+0E  +C13C33CCF69FD9E4]
                   hex input     =  12367.05058656073 [+0E  +C13C33CCF69FDAAA]

conversion error - decimal input =  3.394232238701122E-08 [-18  +91C7FA674489CAFC]
                   hex input     =  3.394232238701122E-08 [-18  +91C7FA674489CBA0]

conversion error - decimal input =  3.673291671343050E-05 [-0E  +9A11AB431B592510]
                   hex input     =  3.673291671343050E-05 [-0E  +9A11AB431B5925C5]

conversion error - decimal input =  0.2547716127025072 [-01  +82716CC1034CFEF8]
                   hex input     =  0.2547716127025073 [-01  +82716CC1034CFFE5]

conversion error - decimal input =  0.01655856128649125 [-05  +87A5D1E637A30B0C]
                   hex input     =  0.01655856128649125 [-05  +87A5D1E637A30B8C]

conversion error - decimal input =  0.1863517918437521 [-02  +BED3010E14649224]
                   hex input     =  0.1863517918437521 [-02  +BED3010E146492BB]

conversion error - decimal input =  0.01612056008680123 [-05  +840F43CBB66360F8]
                   hex input     =  0.01612056008680123 [-05  +840F43CBB66361D2]

conversion error - decimal input =  1.791802680870284E-06 [-13  +F07DDF0EF1C66C18]
                   hex input     =  1.791802680870284E-06 [-13  +F07DDF0EF1C66C9E]

conversion error - decimal input =  203109300.4487227 [+1C  +C1B33B472DF7D7EC]
                   hex input     =  203109300.4487227 [+1C  +C1B33B472DF7D8FE]

conversion error - decimal input =  0.2334951120996361 [-02  +EF1957B8F9A45FE8]
                   hex input     =  0.2334951120996361 [-02  +EF1957B8F9A46030]

conversion error - decimal input =  321297.5283197717 [+13  +9CE230E7FEDDA508]
                   hex input     =  321297.5283197717 [+13  +9CE230E7FEDDA552]

conversion error - decimal input =  34.67986528625928 [+06  +8AB82E9B08AD5DFC]
                   hex input     =  34.67986528625928 [+06  +8AB82E9B08AD5E61]

conversion error - decimal input =  16918.99486764101 [+0F  +842DFD5F4A9BF104]
                   hex input     =  16918.99486764101 [+0F  +842DFD5F4A9BF18B]

conversion error - decimal input =  2.051442839304527E-05 [-0F  +AC16664715196908]
                   hex input     =  2.051442839304527E-05 [-0F  +AC166647151969A7]

conversion error - decimal input =  17.33356716913120 [+05  +8AAB254393809618]
                   hex input     =  17.33356716913120 [+05  +8AAB2543938096BB]

conversion error - decimal input =  0.0001034459093728352 [-0D  +D8F1198671014FD8]
                   hex input     =  0.0001034459093728352 [-0D  +D8F11986710150BC]

conversion error - decimal input =  0.0001373887713611181 [-0C  +9010047A32D25618]
                   hex input     =  0.0001373887713611181 [-0C  +9010047A32D25673]

conversion error - decimal input =  7.345620060757951E-05 [-0D  +9A0C7F5668B1E904]
                   hex input     =  7.345620060757951E-05 [-0D  +9A0C7F5668B1E9FC]

conversion error - decimal input =  509696.1746747859 [+13  +F8E00596EF9399FC]
                   hex input     =  509696.1746747859 [+13  +F8E00596EF939A5B]

conversion error - decimal input =  8.788659516029059E-06 [-10  +93730154979818FC]
                   hex input     =  8.788659516029059E-06 [-10  +93730154979819F1]

conversion error - decimal input =  7534452.302595774 [+17  +E5EEE89AEDD54F0C]
                   hex input     =  7534452.302595774 [+17  +E5EEE89AEDD54FF4]

conversion error - decimal input =  3.363199716255827E-06 [-12  +E1B354C739BF43F4]
                   hex input     =  3.363199716255827E-06 [-12  +E1B354C739BF44BC]

conversion error - decimal input =  4.231841680072015E-05 [-0E  +B17F0DD5DA87C3F4]
                   hex input     =  4.231841680072015E-05 [-0E  +B17F0DD5DA87C487]

conversion error - decimal input =  52394516.46418682 [+1A  +C7DE851DB53C9F08]
                   hex input     =  52394516.46418682 [+1A  +C7DE851DB53C9F4E]

conversion error - decimal input =  4.294244250639635E-09 [-1B  +938C92674C624C04]
                   hex input     =  4.294244250639635E-09 [-1B  +938C92674C624C5A]

conversion error - decimal input =  0.06862145043826771 [-03  +8C89672B7DD6B408]
                   hex input     =  0.06862145043826771 [-03  +8C89672B7DD6B4F9]

conversion error - decimal input =  0.002129918826509527 [-08  +8B961BB3F75B5EF4]
                   hex input     =  0.002129918826509527 [-08  +8B961BB3F75B5FF1]

conversion error - decimal input =  5.854975794181478E-05 [-0E  +F59352EA458F1FF4]
                   hex input     =  5.854975794181478E-05 [-0E  +F59352EA458F2062]

conversion error - decimal input =  0.3357583984063282 [-01  +ABE886590668C1FC]
                   hex input     =  0.3357583984063282 [-01  +ABE886590668C278]

conversion error - decimal input =  786403.1680885467 [+14  +BFFE32B07D9DAFFC]
                   hex input     =  786403.1680885467 [+14  +BFFE32B07D9DB0E6]

conversion error - decimal input =  3.135491167771168E-06 [-12  +D26B53FDB30DB604]
                   hex input     =  3.135491167771168E-06 [-12  +D26B53FDB30DB6AE]

conversion error - decimal input =  3.820290620013901E-09 [-1B  +8343A1B4D4B78AF8]
                   hex input     =  3.820290620013901E-09 [-1B  +8343A1B4D4B78B88]

conversion error - decimal input =  0.8642933615112021 [+00  +DD425469D72C3004]
                   hex input     =  0.8642933615112021 [+00  +DD425469D72C3057]

conversion error - decimal input =  5.850671751710693E-08 [-18  +FB48D0F356E421F8]
                   hex input     =  5.850671751710693E-08 [-18  +FB48D0F356E4227F]

conversion error - decimal input =  0.02544584884242233 [-05  +D073D0131BF6541C]
                   hex input     =  0.02544584884242233 [-05  +D073D0131BF6546A]

conversion error - decimal input =  0.001984234148355859 [-08  +8209ECC658F4270C]
                   hex input     =  0.001984234148355859 [-08  +8209ECC658F4277E]

double precision error: function EXPON
   arg1            =  16.62554740905762 [+05  +85011F0000000000]
   expected result =  16610530.32371170 [+18  +FD74E252DEC51D11]
   result          =  16610530.32371170 [+18  +FD74E252DEC51CC0]

conversion error - decimal input =  37.97009433274217 [+06  +97E16068A4A671F8]
                   hex input     =  37.97009433274217 [+06  +97E16068A4A672A4]

double precision error: function EXPON
   arg1            =  3.636798858642578 [+02  +E8C1500000000000]
   expected result =  37.97009433274217 [+06  +97E16068A4A672A4]
   result          =  37.97009433274217 [+06  +97E16068A4A67250]

conversion error - decimal input =  5.623926679639983E-05 [-0E  +EBE273F1EF6CBC00]
                   hex input     =  5.623926679639983E-05 [-0E  +EBE273F1EF6CBCE0]

conversion error - decimal input =  69619988.74940833 [+1B  +84CA2297FB272BFC]
                   hex input     =  69619988.74940833 [+1B  +84CA2297FB272C40]

conversion error - decimal input =  945.3329822807520 [+0A  +EC554F94E97E8D04]
                   hex input     =  945.3329822807520 [+0A  +EC554F94E97E8DD6]

conversion error - decimal input =  385.5215127739241 [+09  +C0C2C0EE3A399AF0]
                   hex input     =  385.5215127739241 [+09  +C0C2C0EE3A399BC4]

conversion error - decimal input =  0.1610230691225290 [-02  +A4E33B3F2198CA10]
                   hex input     =  0.1610230691225290 [-02  +A4E33B3F2198CAE5]

conversion error - decimal input =  6.719269760125974E-07 [-14  +B45E785ECA5F6108]
                   hex input     =  6.719269760125974E-07 [-14  +B45E785ECA5F61B8]

double precision error: function EXPON
   arg1            = -14.21311616897583 [+04  -E368EC8000000000]
   expected result =  6.719269760125974E-07 [-14  +B45E785ECA5F61B8]
   result          =  6.719269760125974E-07 [-14  +B45E785ECA5F6160]

conversion error - decimal input =  0.003360758492341366 [-08  +DC402BD079ECE118]
                   hex input     =  0.003360758492341366 [-08  +DC402BD079ECE1E5]

conversion error - decimal input =  92075.23291241123 [+11  +B3D59DD012EA8700]
                   hex input     =  92075.23291241123 [+11  +B3D59DD012EA87CF]

double precision error: function EXPON
   arg1            =  11.43036127090454 [+04  +B6E2C28000000000]
   expected result =  92075.23291241123 [+11  +B3D59DD012EA87CF]
   result          =  92075.23291241123 [+11  +B3D59DD012EA878C]

conversion error - decimal input =  0.3545739400162509 [-01  +B58AB728C46F87F4]
                   hex input     =  0.3545739400162509 [-01  +B58AB728C46F88BF]

conversion error - decimal input =  2.545586636915906 [+02  +A2EAE436AC0F6A10]
                   hex input     =  2.545586636915906 [+02  +A2EAE436AC0F6AB7]

conversion error - decimal input =  1.152494843523496 [+01  +9384F376DEFBA608]
                   hex input     =  1.152494843523496 [+01  +9384F376DEFBA6F0]

conversion error - decimal input =  0.6525512082715182 [+00  +A70D98927DD00208]
                   hex input     =  0.6525512082715182 [+00  +A70D98927DD00293]

double precision error: function FPOWER
   arg1            =  1.764919757843018 [+01  +E1E8E40000000000]
   arg2            = -0.7513848543167114 [+00  -C05AC20000000000]
   expected result =  0.6525512082715182 [+00  +A70D98927DD00293]
   result          =  0.6525512082715182 [+00  +A70D98927DD00198]

double precision error: function FPOWER
   arg1            =  8.022412061691284 [+04  +805BCCC000000000]
   arg2            =  0.9967669248580933 [+00  +FF2C1E0000000000]
   expected result =  7.968586280086363 [+03  +FEFEA8A78A684026]
   result          =  7.968586280086363 [+03  +FEFEA8A78A6840BC]

conversion error - decimal input =  0.3529601064920700 [-01  +B4B72FE45A2C26FC]
                   hex input     =  0.3529601064920700 [-01  +B4B72FE45A2C27D0]

double precision error: function FPOWER
   arg1            =  3.499555587768555 [+02  +DFF8B80000000000]
   arg2            = -0.8313670158386230 [+00  -D4D4780000000000]
   expected result =  0.3529601064920700 [-01  +B4B72FE45A2C27D0]
   result          =  0.3529601064920698 [-01  +B4B72FE45A2C06A8]

conversion error - decimal input =  1.372584460500060 [+01  +AFB0D8FC6C3B5E30]
                   hex input     =  1.372584460500060 [+01  +AFB0D8FC6C3B5E7A]

conversion error - decimal input =  1.045269937807832 [+01  +85CB67C33034372C]
                   hex input     =  1.045269937807832 [+01  +85CB67C33034377D]

double precision error: function FPOWER
   arg1            =  1.079614162445068 [+01  +8A30CC0000000000]
   arg2            =  0.5779767036437988 [+00  +93F6480000000000]
   expected result =  1.045269937807832 [+01  +85CB67C33034377D]
   result          =  1.045269937807832 [+01  +85CB67C330343800]

double precision error: function FPOWER
   arg1            =  6.368740200996399 [+03  +CBCCB84000000000]
   arg2            = -0.4964185953140259 [-01  -FE2A940000000000]
   expected result =  0.3988897480150477 [-01  +CC3B46ECDE5DF836]
   result          =  0.3988897480150477 [-01  +CC3B46ECDE5DF7C0]

double precision error: function FPOWER
   arg1            =  9.353489279747009 [+04  +95A7E46000000000]
   arg2            =  0.2365163564682007 [-02  +F231580000000000]
   expected result =  1.696880076724236 [+01  +D9335DC961DD3D1C]
   result          =  1.696880076724236 [+01  +D9335DC961DD3DEC]

conversion error - decimal input =  1.369451610933865 [+01  +AF4A30BD352E0304]
                   hex input     =  1.369451610933865 [+01  +AF4A30BD352E0361]

conversion error - decimal input =  0.3542376032841539 [-01  +B55EA1923CDBA914]
                   hex input     =  0.3542376032841539 [-01  +B55EA1923CDBA9A0]

conversion error - decimal input =  1.111549676555831 [+01  +8E47428257E4D114]
                   hex input     =  1.111549676555831 [+01  +8E47428257E4D1AB]

conversion error - decimal input =  0.6393946354573875 [+00  +A3AF5DE886FE8AFC]
                   hex input     =  0.6393946354573876 [+00  +A3AF5DE886FE8BFC]

conversion error - decimal input =  3.442409549411976 [+02  +DC5070248A66F4F0]
                   hex input     =  3.442409549411976 [+02  +DC5070248A66F5F5]

conversion error - decimal input =  0.1256851543969766 [-02  +80B39BEEE930C2EC]
                   hex input     =  0.1256851543969766 [-02  +80B39BEEE930C387]

double precision error: function FPOWER
   arg1            =  4.979742765426636 [+03  +9F5A0D8000000000]
   arg2            =  0.1723498106002808 [-02  +B07C780000000000]
   expected result =  1.318753055157081 [+01  +A8CCE66DB32AE739]
   result          =  1.318753055157081 [+01  +A8CCE66DB32AE7E0]

conversion error - decimal input =  0.5851772957423346 [+00  +95CE2DE393364904]
                   hex input     =  0.5851772957423346 [+00  +95CE2DE39336496E]

double precision error: function FPOWER
   arg1            =  5.155472755432129 [+03  +A4F9A20000000000]
   arg2            = -0.3267202377319336 [-01  -A747E00000000000]
   expected result =  0.5851772957423346 [+00  +95CE2DE39336496E]
   result          =  0.5851772957423346 [+00  +95CE2DE3933648EC]

conversion error - decimal input =  0.3655567954709988 [-01  +BB2A42A2C1CADBFC]
                   hex input     =  0.3655567954709988 [-01  +BB2A42A2C1CADC83]

conversion error - decimal input =  1.111706533924488 [+01  +8E4C6652FA43A824]
                   hex input     =  1.111706533924488 [+01  +8E4C6652FA43A88B]

double precision error: function FPOWER
   arg1            =  0.8760946989059448 [+00  +E047BE0000000000]
   arg2            = -0.8005396127700806 [+00  -CCF02A0000000000]
   expected result =  1.111706533924488 [+01  +8E4C6652FA43A88B]
   result          =  1.111706533924488 [+01  +8E4C6652FA43A824]

conversion error - decimal input =  1.469255960278163 [+01  +BC10944D6C844AF0]
                   hex input     =  1.469255960278164 [+01  +BC10944D6C844B62]

double precision error: function FPOWER
   arg1            =  2.666564583778381 [+02  +AAA8FE8000000000]
   arg2            =  0.3922916650772095 [-01  +C8DA740000000000]
   expected result =  1.469255960278164 [+01  +BC10944D6C844B62]
   result          =  1.469255960278164 [+01  +BC10944D6C844D34]

conversion error - decimal input =  0.9995746874318090 [+00  +FFE420706DD5B2FC]
                   hex input     =  0.9995746874318090 [+00  +FFE420706DD5B3C6]

double precision error: function FPOWER
   arg1            =  1.000615358352661 [+01  +80142A0000000000]
   arg2            = -0.6915221214294434 [+00  -B107980000000000]
   expected result =  0.9995746874318090 [+00  +FFE420706DD5B3C6]
   result          =  0.9995746874318090 [+00  +FFE420706DD5B244]

conversion error - decimal input =  0.8082353627673150 [+00  +CEE883428E6A9800]
                   hex input     =  0.8082353627673150 [+00  +CEE883428E6A98E4]

conversion error - decimal input =  4.624719449327951 [+03  +93FDB3A4813CDCF8]
                   hex input     =  4.624719449327951 [+03  +93FDB3A4813CDD62]

conversion error - decimal input =  1.797546788693447 [+01  +E616035F3BED3118]
                   hex input     =  1.797546788693447 [+01  +E616035F3BED3172]

double precision error: function FPOWER
   arg1            =  2.038254737854004 [+02  +8272C40000000000]
   arg2            = -0.9520065784454346 [+00  -F3B6B40000000000]
   expected result =  0.5076728183364134 [+00  +81F6D887D2B30E2E]
   result          =  0.5076728183364134 [+00  +81F6D887D2B30B90]

conversion error - decimal input =  3.840356933112805 [+02  +F5C868722BED4304]
                   hex input     =  3.840356933112805 [+02  +F5C868722BED43FC]

double precision error: function FPOWER
   arg1            =  4.325957894325256 [+03  +8A6E3F4000000000]
   arg2            =  0.9187043905258179 [+00  +EB30360000000000]
   expected result =  3.840356933112805 [+02  +F5C868722BED43FC]
   result          =  3.840356933112805 [+02  +F5C868722BED4660]

conversion error - decimal input =  0.4305241266873013 [-01  +DC6DA88885974614]
                   hex input     =  0.4305241266873013 [-01  +DC6DA888859746F3]

double precision error: function FPOWER
   arg1            =  4.985917806625366 [+03  +9F8CA38000000000]
   arg2            = -0.5245504379272461 [+00  -8648F00000000000]
   expected result =  0.4305241266873013 [-01  +DC6DA888859746F3]
   result          =  0.4305241266873012 [-01  +DC6DA88885974314]

conversion error - decimal input =  3.083140890606606 [+02  +C5522E2B876769FC]
                   hex input     =  3.083140890606606 [+02  +C5522E2B87676A54]

conversion error - decimal input =  2.042624825425537 [+02  +82BA5D79CCD334F4]
                   hex input     =  2.042624825425537 [+02  +82BA5D79CCD335A6]

double precision error: function FPOWER
   arg1            =  9.224283695220947 [+04  +9396AA8000000000]
   arg2            = -0.5850665569305420 [+00  -95C6EC0000000000]
   expected result =  0.2725525037959145 [-01  +8B8C00747E240D07]
   result          =  0.2725525037959145 [-01  +8B8C00747E240C84]

conversion error - decimal input =  1.106990586416996 [+01  +8DB1DE16D207AE24]
                   hex input     =  1.106990586416996 [+01  +8DB1DE16D207AE7B]

conversion error - decimal input =  6.197197653070288 [+03  +C64F7173D91D6B0C]
                   hex input     =  6.197197653070288 [+03  +C64F7173D91D6B9F]

conversion error - decimal input =  0.6033863081807423 [+00  +9A77866C7D8F2804]
                   hex input     =  0.6033863081807424 [+00  +9A77866C7D8F2890]

double precision error: function FPOWER
   arg1            =  2.409788370132446 [+02  +9A39F90000000000]
   arg2            = -0.6598807573318481 [+00  -A8EDF20000000000]
   expected result =  0.5596795923522177 [+00  +8F4729696431E900]
   result          =  0.5596795923522176 [+00  +8F4729696431E7D8]

conversion error - decimal input =  0.8672496435751288 [+00  +DE0412989F721504]
                   hex input     =  0.8672496435751288 [+00  +DE0412989F72156D]

conversion error - decimal input =  1.658897506705398 [+01  +D456C0E55B999FFC]
                   hex input     =  1.658897506705398 [+01  +D456C0E55B99A0AF]

double precision error: function FPOWER
   arg1            =  5.010104775428772 [+03  +A052C74000000000]
   arg2            = -0.4082850217819214 [-01  -D10ABC0000000000]
   expected result =  0.5179204156970156 [+00  +84966EAF5972BF03]
   result          =  0.5179204156970156 [+00  +84966EAF5972BDFC]

conversion error - decimal input =  0.2199433033557099 [-02  +E138D13B8C44C8FC]
                   hex input     =  0.2199433033557099 [-02  +E138D13B8C44C9E1]

double precision error: function FPOWER
   arg1            =  4.994733333587646 [+03  +9FD4DB0000000000]
   arg2            = -0.7480450868606567 [+00  -BF7FE20000000000]
   expected result =  0.3002488143388079 [-01  +99BA366C7EF4091D]
   result          =  0.3002488143388078 [-01  +99BA366C7EF40278]

double precision error: function FPOWER
   arg1            =  5.157912373542786 [+03  +A50D9E4000000000]
   arg2            = -0.6270954608917236 [+00  -A089540000000000]
   expected result =  0.3574463064900360 [-01  +B70333C8E6C1C30B]
   result          =  0.3574463064900360 [-01  +B70333C8E6C1C1D0]

double precision error: function FPOWER
   arg1            =  0.7458788156509399 [+00  +BEF1EA0000000000]
   arg2            =  0.4252220392227173 [-01  +D9B6B40000000000]
   expected result =  0.8827866221636773 [+00  +E1FE4DD78A0FBC1A]
   result          =  0.8827866221636773 [+00  +E1FE4DD78A0FBC70]

conversion error - decimal input =  1.799615842521172 [+01  +E659CFDA7EF74924]
                   hex input     =  1.799615842521172 [+01  +E659CFDA7EF749B7]

conversion error - decimal input =  1.649244387495932 [+01  +D31A70A9B40ABDE8]
                   hex input     =  1.649244387495932 [+01  +D31A70A9B40ABE8A]

double precision error: function FPOWER
   arg1            =  3.649059534072876 [+02  +E98A310000000000]
   arg2            =  0.3865036964416504 [-01  +C5E3D00000000000]
   expected result =  1.649244387495932 [+01  +D31A70A9B40ABE8A]
   result          =  1.649244387495932 [+01  +D31A70A9B40ABFAC]

conversion error - decimal input =  0.7180932157775443 [+00  +B7D4F4FD3E785C08]
                   hex input     =  0.7180932157775443 [+00  +B7D4F4FD3E785CEE]

double precision error: function FPOWER
   arg1            =  2.160055041313171 [+02  +8A3E578000000000]
   arg2            = -0.4299979209899902 [-01  -DC28B00000000000]
   expected result =  0.7180932157775443 [+00  +B7D4F4FD3E785CEE]
   result          =  0.7180932157775443 [+00  +B7D4F4FD3E785C58]

double precision error: function FPOWER
   arg1            =  7.394509911537170 [+03  +EC9FD34000000000]
   arg2            = -0.7178905010223389 [+00  -B7C7AC0000000000]
   expected result =  0.2378034761813512 [-02  +F382C1244BCB6F1C]
   result          =  0.2378034761813512 [-02  +F382C1244BCB6EB0]

conversion error - decimal input =  2.156242063224365 [+02  +89FFDEB5F3B9BC10]
                   hex input     =  2.156242063224365 [+02  +89FFDEB5F3B9BC61]

conversion error - decimal input =  0.7770275276879995 [+00  +C6EB46AB82FE43FC]
                   hex input     =  0.7770275276879995 [+00  +C6EB46AB82FE44FA]

double precision error: function FPOWER
   arg1            =  9.965922832489014 [+04  +9F746B8000000000]
   arg2            =  0.2652093172073364 [-01  +87C9840000000000]
   expected result =  1.839992910655109 [+01  +EB84E34011598308]
   result          =  1.839992910655109 [+01  +EB84E340115984C4]

conversion error - decimal input =  0.7401680925185057 [+00  +BD7BA7F6E8E111FC]
                   hex input     =  0.7401680925185057 [+00  +BD7BA7F6E8E1124B]

conversion error - decimal input =  2.616966106894268 [+02  +A77C5F68F67C030C]
                   hex input     =  2.616966106894268 [+02  +A77C5F68F67C03D5]

double precision error: function FPOWER
   arg1            =  3.697587251663208 [+02  +ECA5450000000000]
   arg2            =  0.7356656789779663 [+00  +BC54960000000000]
   expected result =  2.616966106894268 [+02  +A77C5F68F67C03D5]
   result          =  2.616966106894268 [+02  +A77C5F68F67C0428]

conversion error - decimal input =  0.6716586624978636 [+00  +ABF1D27580E08604]
                   hex input     =  0.6716586624978636 [+00  +ABF1D27580E086C2]

double precision error: function FPOWER
   arg1            =  3.493657112121582 [+02  +DF98140000000000]
   arg2            = -0.3181624412536621 [-01  -A2E6300000000000]
   expected result =  0.6716586624978636 [+00  +ABF1D27580E086C2]
   result          =  0.6716586624978635 [+00  +ABF1D27580E07F38]

conversion error - decimal input =  0.1611672080052271 [-02  +A509043E47C2FCE8]
                   hex input     =  0.1611672080052271 [-02  +A509043E47C2FDB2]

double precision error: function FPOWER
   arg1            =  9.451141953468323 [+04  +9737E0A000000000]
   arg2            = -0.8126459121704102 [+00  -D009900000000000]
   expected result =  0.1611672080052271 [-02  +A509043E47C2FDB2]
   result          =  0.1611672080052271 [-02  +A509043E47C2FD4C]

double precision error: function FPOWER
   arg1            =  1.824960112571716 [+01  +E9984B0000000000]
   arg2            =  0.6417220830917358 [+00  +A447E60000000000]
   expected result =  1.471133418535380 [+01  +BC4E199054C0F600]
   result          =  1.471133418535380 [+01  +BC4E199054C0F7E0]

double precision error: function FPOWER
   arg1            =  0.5206650495529175 [+00  +854A4E0000000000]
   arg2            = -0.6351444721221924 [+00  -A298D40000000000]
   expected result =  1.513653079929807 [+01  +C1BF6255E4E3850C]
   result          =  1.513653079929807 [+01  +C1BF6255E4E384A0]

conversion error - decimal input =  0.9785177283512292 [+00  +FA802349D322430C]
                   hex input     =  0.9785177283512292 [+00  +FA802349D32243E7]

double precision error: function FPOWER
   arg1            =  1.059130430221558 [+01  +8791960000000000]
   arg2            = -0.3780164718627930 [-01  -C18B600000000000]
   expected result =  0.9785177283512292 [+00  +FA802349D32243E7]
   result          =  0.9785177283512292 [+00  +FA802349D32243A0]

conversion error - decimal input =  1.256098209422737 [+01  +A0C7D37D0474C5F8]
                   hex input     =  1.256098209422737 [+01  +A0C7D37D0474C672]

conversion error - decimal input =  1.035827677606486 [+01  +84960057CE454828]
                   hex input     =  1.035827677606486 [+01  +84960057CE4548F6]

conversion error - decimal input =  5.280158951234471 [+03  +A8F70FE7A77A8F0C]
                   hex input     =  5.280158951234471 [+03  +A8F70FE7A77A8F62]

double precision error: function FPOWER
   arg1            =  5.581951737403870 [+03  +B29F594000000000]
   arg2            =  0.9676760435104370 [+00  +F7B99E0000000000]
   expected result =  5.280158951234471 [+03  +A8F70FE7A77A8F62]
   result          =  5.280158951234471 [+03  +A8F70FE7A77A8FA8]

double precision error: function FPOWER
   arg1            =  7.119107246398926 [+03  +E3CFBA0000000000]
   arg2            =  0.9284403324127197 [+00  +EDAE440000000000]
   expected result =  6.186232631489821 [+03  +C5F59E22B64C2E24]
   result          =  6.186232631489821 [+03  +C5F59E22B64C2EAC]

conversion error - decimal input =  0.2130865615669783 [-02  +DA335D1496CBEF10]
                   hex input     =  0.2130865615669783 [-02  +DA335D1496CBEFF4]

double precision error: function FPOWER
   arg1            =  7.247985005378723 [+03  +E7EF7E4000000000]
   arg2            = -0.7805515527725220 [+00  -C7D23A0000000000]
   expected result =  0.2130865615669783 [-02  +DA335D1496CBEFF4]
   result          =  0.2130865615669783 [-02  +DA335D1496CBEF54]

conversion error - decimal input =  0.2325597061178897 [-02  +EE2421B09327FF18]
                   hex input     =  0.2325597061178897 [-02  +EE2421B09327FFB4]

conversion error - decimal input =  1.446044436253747 [+01  +B917FBED22E49B1C]
                   hex input     =  1.446044436253747 [+01  +B917FBED22E49B64]

conversion error - decimal input =  0.8180059599570578 [+00  +D168D6ADF2DAA8F8]
                   hex input     =  0.8180059599570579 [+00  +D168D6ADF2DAA9C2]

conversion error - decimal input =  0.1422478612454198 [-02  +91A96C5FE66CA4E4]
                   hex input     =  0.1422478612454198 [-02  +91A96C5FE66CA58E]

double precision error: function FPOWER
   arg1            =  8.090465068817139 [+04  +81728B8000000000]
   arg2            = -0.9327962398529053 [+00  -EECBBC0000000000]
   expected result =  0.1422478612454198 [-02  +91A96C5FE66CA58E]
   result          =  0.1422478612454198 [-02  +91A96C5FE66CA4F0]

conversion error - decimal input =  0.8935326686575098 [+00  +E4BE8E95CAA6DE04]
                   hex input     =  0.8935326686575098 [+00  +E4BE8E95CAA6DE44]

conversion error - decimal input =  1.446869474551936 [+01  +B93304D96400941C]
                   hex input     =  1.446869474551936 [+01  +B93304D9640094E4]

conversion error - decimal input =  1.581565750957359 [+01  +CA70BF1C6AF2DD14]
                   hex input     =  1.581565750957359 [+01  +CA70BF1C6AF2DDF7]

conversion error - decimal input =  2.120382779893405 [+02  +87B459F9A9330EF4]
                   hex input     =  2.120382779893405 [+02  +87B459F9A9330FF1]

conversion error - decimal input =  0.2350826170186259 [-02  +F0B97F5FCFF71DE4]
                   hex input     =  0.2350826170186259 [-02  +F0B97F5FCFF71E71]

double precision error: function FPOWER
   arg1            =  8.677722811698914 [+04  +8AD7F3E000000000]
   arg2            = -0.6700507402420044 [+00  -AB88720000000000]
   expected result =  0.2350826170186259 [-02  +F0B97F5FCFF71E71]
   result          =  0.2350826170186259 [-02  +F0B97F5FCFF71A30]

conversion error - decimal input =  3.155967401488736 [+02  +C9FB5EB228B7DA08]
                   hex input     =  3.155967401488736 [+02  +C9FB5EB228B7DAA6]

conversion error - decimal input =  0.4637912067777094 [-01  +ED760A8290B59210]
                   hex input     =  0.4637912067777094 [-01  +ED760A8290B5925D]

double precision error: function FPOWER
   arg1            =  5.319589972496033 [+03  +AA3A14C000000000]
   arg2            =  0.7578155994415283 [+00  +C200340000000000]
   expected result =  3.548802185730740 [+02  +E31F9333EBF54C00]
   result          =  3.548802185730740 [+02  +E31F9333EBF54DD0]

conversion error - decimal input =  0.4978220329522741 [-01  +FEE2878D843991FC]
                   hex input     =  0.4978220329522741 [-01  +FEE2878D843992E3]

double precision error: function FPOWER
   arg1            =  2.858904004096985 [+02  +B6F8488000000000]
   arg2            = -0.6640205383300781 [+00  -A9FD400000000000]
   expected result =  0.4978220329522741 [-01  +FEE2878D843992E3]
   result          =  0.4978220329522741 [-01  +FEE2878D84399244]

conversion error - decimal input =  1.820324300132538 [+01  +E90062FC9777B62C]
                   hex input     =  1.820324300132538 [+01  +E90062FC9777B6E3]

double precision error: function FPOWER
   arg1            =  3.652395606040955 [+02  +E9C0D98000000000]
   arg2            =  0.4624227285385132 [-01  +ECC2AC0000000000]
   expected result =  1.820324300132538 [+01  +E90062FC9777B6E3]
   result          =  1.820324300132538 [+01  +E90062FC9777B894]

conversion error - decimal input =  1.463702914576815 [+01  +BB5A9DFA956A16D8]
                   hex input     =  1.463702914576815 [+01  +BB5A9DFA956A17E4]

conversion error - decimal input =  1.827235101743695 [+01  +E9E2D6FE0BD3EAD8]
                   hex input     =  1.827235101743695 [+01  +E9E2D6FE0BD3EB24]

double precision error: function FPOWER
   arg1            =  8.449614048004150 [+04  +87319E8000000000]
   arg2            =  0.2824600934982300 [-01  +909E9C0000000000]
   expected result =  1.827235101743695 [+01  +E9E2D6FE0BD3EB24]
   result          =  1.827235101743695 [+01  +E9E2D6FE0BD3EAD0]

conversion error - decimal input =  1.118354085467726 [+01  +8F263A0737478728]
                   hex input     =  1.118354085467726 [+01  +8F263A073747876B]

double precision error: function FPOWER
   arg1            =  5.347778797149658 [+03  +AB21010000000000]
   arg2            =  0.1541454792022705 [-02  +9DD8500000000000]
   expected result =  1.294925082249286 [+01  +A5C01AE783F10907]
   result          =  1.294925082249286 [+01  +A5C01AE783F10898]

conversion error - decimal input =  1.065313951185750 [+01  +885C3522285CF0D8]
                   hex input     =  1.065313951185750 [+01  +885C3522285CF198]

conversion error - decimal input =  1.739009736313708 [+01  +DE97DEFC724C7ED8]
                   hex input     =  1.739009736313708 [+01  +DE97DEFC724C7FFA]

conversion error - decimal input =  0.3610003307414842 [-01  +B8D5090CC27CC5F4]
                   hex input     =  0.3610003307414842 [-01  +B8D5090CC27CC679]

double precision error: function FPOWER
   arg1            =  8.632854223251343 [+04  +8A202BC000000000]
   arg2            = -0.4726703166961670 [-01  -F201D80000000000]
   expected result =  0.3610003307414842 [-01  +B8D5090CC27CC679]
   result          =  0.3610003307414842 [-01  +B8D5090CC27CC5F8]

conversion error - decimal input =  0.8591732880517278 [+00  +DBF2C7D5C769D508]
                   hex input     =  0.8591732880517278 [+00  +DBF2C7D5C769D5C5]

conversion error - decimal input =  1.143799041531638 [+01  +926801CA498A4910]
                   hex input     =  1.143799041531638 [+01  +926801CA498A4967]

double precision error: function FPOWER
   arg1            =  1.237431168556213 [+01  +9E64250000000000]
   arg2            =  0.6306643486022949 [+00  +A173380000000000]
   expected result =  1.143799041531638 [+01  +926801CA498A4967]
   result          =  1.143799041531638 [+01  +926801CA498A49A8]

double precision error: function FPOWER
   arg1            =  1.791850328445435 [+01  +E55B5A0000000000]
   arg2            = -0.7324652671813965 [+00  -BB82D80000000000]
   expected result =  0.6523268884371683 [+00  +A6FEE51C239AA22B]
   result          =  0.6523268884371683 [+00  +A6FEE51C239AA1D4]

double precision error: function FPOWER
   arg1            =  1.787933707237244 [+01  +E4DB030000000000]
   arg2            = -0.8410977125167847 [+00  -D7522E0000000000]
   expected result =  0.6134056961606996 [+00  +9D0827DC30B8A822]
   result          =  0.6134056961606996 [+00  +9D0827DC30B8A7C0]

conversion error - decimal input =  0.1285053985678433 [-02  +8396EB50D55505F8]
                   hex input     =  0.1285053985678433 [-02  +8396EB50D55506AD]

double precision error: function FPOWER
   arg1            =  2.536076307296753 [+02  +A24F130000000000]
   arg2            = -2.204754352569580 [+02  -8D1AB20000000000]
   expected result =  0.1285053985678433 [-02  +8396EB50D55506AD]
   result          =  0.1285053985678433 [-02  +8396EB50D5550654]

conversion error - decimal input =  1.021409798282471E-09 [-1D  +8C61A992E9791DE4]
                   hex input     =  1.021409798282471E-09 [-1D  +8C61A992E9791E38]

double precision error: function FPOWER
   arg1            =  4.975758790969849 [+03  +9F396A8000000000]
   arg2            = -12.90188670158386 [+04  -CE6E20C000000000]
   expected result =  1.021409798282471E-09 [-1D  +8C61A992E9791E38]
   result          =  1.021409798282470E-09 [-1D  +8C61A992E978FF1C]

conversion error - decimal input =  1.166928850907035 [+01  +955DECB1B3C926D8]
                   hex input     =  1.166928850907035 [+01  +955DECB1B3C92730]

conversion error - decimal input =  0.008211140430400359 [-06  +868804E721B77BFC]
                   hex input     =  0.008211140430400359 [-06  +868804E721B77C89]

double precision error: function FPOWER
   arg1            =  1.833562850952148 [+01  +EAB2300000000000]
   arg2            = -7.921115756034851 [+03  -FD79C7C000000000]
   expected result =  0.008211140430400359 [-06  +868804E721B77C89]
   result          =  0.008211140430400359 [-06  +868804E721B779D0]

conversion error - decimal input =  18.56760785501642 [+05  +948A75FCB1FC5D18]
                   hex input     =  18.56760785501642 [+05  +948A75FCB1FC5DC7]

double precision error: function FPOWER
   arg1            =  7.161757946014404 [+03  +E52D1F0000000000]
   arg2            =  1.483891010284424 [+01  +BDF0240000000000]
   expected result =  18.56760785501642 [+05  +948A75FCB1FC5DC7]
   result          =  18.56760785501642 [+05  +948A75FCB1FC5E70]

conversion error - decimal input =  1147.585920674120 [+0B  +8F72BFDCB6ACAF00]
                   hex input     =  1147.585920674120 [+0B  +8F72BFDCB6ACAFD0]

double precision error: function FPOWER
   arg1            =  8.646368980407715 [+04  +8A57870000000000]
   arg2            =  3.266091942787170 [+02  +D107A68000000000]
   expected result =  1147.585920674120 [+0B  +8F72BFDCB6ACAFD0]
   result          =  1147.585920674120 [+0B  +8F72BFDCB6ACB400]

conversion error - decimal input =  0.02739125866793943 [-05  +E063A2059A39C10C]
                   hex input     =  0.02739125866793943 [-05  +E063A2059A39C1A2]

double precision error: function FPOWER
   arg1            =  0.2491110563278198 [-02  +FF16F80000000000]
   arg2            =  2.588419318199158 [+02  +A5A8A98000000000]
   expected result =  0.02739125866793943 [-05  +E063A2059A39C1A2]
   result          =  0.02739125866793943 [-05  +E063A2059A39C5F0]

conversion error - decimal input =  1.6E-13 [-2A  +B595B715E97E00EC]
                   hex input     =  1.6E-13 [-2A  +B595B715E97E014D]

single precision error: function FPOWER
   arg1            =  8.180375 [+04  +82E2D10000000000]
   arg2            = -14.01489 [+04  -E03D01E000000000]
   expected result =  1.6E-13 [-2A  +B595B715E97E014D]
   result          =  1.6E-13 [-2A  +B595BB2000000000]

double precision error: function FPOWER
   arg1            =  8.180375099182129 [+04  +82E2D10000000000]
   arg2            = -14.01489436626434 [+04  -E03D01E000000000]
   expected result =  1.6E-13 [-2A  +B595B715E97E014D]
   result          =  1.6E-13 [-2A  +B595B715E97DFB14]

double precision error: function FPOWER
   arg1            =  0.09552836418151855 [-03  +C3A4600000000000]
   arg2            =  9.200754761695862 [+04  +93364AA000000000]
   expected result =  4.134735949670628E-10 [-1F  +E34F3C39CC09D431]
   result          =  4.134735949670629E-10 [-1F  +E34F3C39CC09D684]

conversion error - decimal input =  5.154857290752100E-06 [-11  +ACF7E30FB8EF9000]
                   hex input     =  5.154857290752100E-06 [-11  +ACF7E30FB8EF90E4]

single precision error: function FPOWER
   arg1            =  3.988940 [+02  +FF4AC90000000000]
   arg2            = -8.800396 [+04  -8CCE6BC000000000]
   expected result =  5.154857E-06 [-11  +ACF7E30FB8EF90E4]
   result          =  5.154859E-06 [-11  +ACF7E7A000000000]

double precision error: function FPOWER
   arg1            =  3.988939523696899 [+02  +FF4AC90000000000]
   arg2            = -8.800395727157593 [+04  -8CCE6BC000000000]
   expected result =  5.154857290752100E-06 [-11  +ACF7E30FB8EF90E4]
   result          =  5.154857290752099E-06 [-11  +ACF7E30FB8EF8200]

conversion error - decimal input =  1.761776372254668 [+01  +E181E35ED98362E0]
                   hex input     =  1.761776372254668 [+01  +E181E35ED983634C]

double precision error: function FPOWER
   arg1            =  3.522783517837524 [+02  +E175490000000000]
   arg2            =  0.4497295618057251 [-01  +E642F40000000000]
   expected result =  1.761776372254668 [+01  +E181E35ED983634C]
   result          =  1.761776372254668 [+01  +E181E35ED98363D8]

conversion error - decimal input =  6.640426263662604E-05 [-0D  +8B42845CE43E4208]
                   hex input     =  6.640426263662604E-05 [-0D  +8B42845CE43E42FE]

double precision error: function FPOWER
   arg1            =  9.135118722915649 [+04  +9229724000000000]
   arg2            = -4.348644018173218 [+03  -8B28178000000000]
   expected result =  6.640426263662604E-05 [-0D  +8B42845CE43E42FE]
   result          =  6.640426263662604E-05 [-0D  +8B42845CE43E41E8]

conversion error - decimal input =  3.164130704279104E-11 [-22  +8B28F1D4B4412F04]
                   hex input     =  3.164130704279104E-11 [-22  +8B28F1D4B4412FB7]

double precision error: function FPOWER
   arg1            =  6.176006197929382 [+03  +C5A1D7C000000000]
   arg2            = -13.27892124652863 [+04  -D476762000000000]
   expected result =  3.164130704279104E-11 [-22  +8B28F1D4B4412FB7]
   result          =  3.164130704279103E-11 [-22  +8B28F1D4B44125C8]

conversion error - decimal input =  1.312670857975086E-09 [-1D  +B4697FF942A93630]
                   hex input     =  1.312670857975086E-09 [-1D  +B4697FF942A936AF]

double precision error: function FPOWER
   arg1            =  4.396623373031616 [+03  +8CB1238000000000]
   arg2            = -13.81057083606720 [+04  -DCF8192000000000]
   expected result =  1.312670857975086E-09 [-1D  +B4697FF942A936AF]
   result          =  1.312670857975086E-09 [-1D  +B4697FF942A9325C]

conversion error - decimal input =  994183484.0761727 [+1E  +ED0824F04E003608]
                   hex input     =  994183484.0761727 [+1E  +ED0824F04E0036F6]

single precision error: function FPOWER
   arg1            =  4.239380 [+03  +87A9010000000000]
   arg2            =  14.34311 [+04  +E57D600000000000]
   expected result =  994183488. [+1E  +ED0824F04E0036F6]
   result          =  994182920. [+1E  +ED081C2000000000]

double precision error: function FPOWER
   arg1            =  4.239380359649658 [+03  +87A9010000000000]
   arg2            =  14.34310913085938 [+04  +E57D600000000000]
   expected result =  994183484.0761727 [+1E  +ED0824F04E0036F6]
   result          =  994183484.0761728 [+1E  +ED0824F04E003DCC]

conversion error - decimal input =  202523.2361734474 [+12  +C5C6CF1D773C3AF8]
                   hex input     =  202523.2361734474 [+12  +C5C6CF1D773C3B42]

conversion error - decimal input =  0.0005052411169796383 [-0A  +8472284BCC7025F8]
                   hex input     =  0.0005052411169796383 [-0A  +8472284BCC7026C9]

double precision error: function FPOWER
   arg1            =  9.149891138076782 [+04  +9265F44000000000]
   arg2            = -3.428798317909241 [+02  -DB716E8000000000]
   expected result =  0.0005052411169796383 [-0A  +8472284BCC7026C9]
   result          =  0.0005052411169796383 [-0A  +8472284BCC70264C]

conversion error - decimal input =  0.03579898023628473 [-04  +92A1F3958517A400]
                   hex input     =  0.03579898023628473 [-04  +92A1F3958517A4B3]

double precision error: function FPOWER
   arg1            =  3.806398510932922 [+02  +F39C088000000000]
   arg2            = -2.491117715835571 [+02  -9F6E790000000000]
   expected result =  0.03579898023628473 [-04  +92A1F3958517A4B3]
   result          =  0.03579898023628473 [-04  +92A1F3958517A464]

conversion error - decimal input =  0.006618413979904946 [-07  +D8DF47CC2B9CC408]
                   hex input     =  0.006618413979904946 [-07  +D8DF47CC2B9CC486]

double precision error: function FPOWER
   arg1            =  2.027865052223206 [+02  +81C88A8000000000]
   arg2            = -7.097618579864502 [+03  -E31FB10000000000]
   expected result =  0.006618413979904946 [-07  +D8DF47CC2B9CC486]
   result          =  0.006618413979904945 [-07  +D8DF47CC2B9CBCB4]

conversion error - decimal input =  464.2580038903859 [+09  +E82106457FB95AFC]
                   hex input     =  464.2580038903859 [+09  +E82106457FB95BB5]

double precision error: function FPOWER
   arg1            =  6.556864380836487 [+03  +D1D1D54000000000]
   arg2            =  3.265301585197449 [+02  +D0FAB38000000000]
   expected result =  464.2580038903859 [+09  +E82106457FB95BB5]
   result          =  464.2580038903859 [+09  +E82106457FB95BF8]

conversion error - decimal input =  0.001929392098453039 [-09  +FCE3A7ED9395EEE8]
                   hex input     =  0.001929392098453039 [-09  +FCE3A7ED9395EF4E]

single precision error: function FPOWER
   arg1            =  2.043059 [+02  +82C17C8000000000]
   arg2            = -8.748778 [+04  -8BFAFE2000000000]
   expected result =  0.001929392 [-09  +FCE3A7ED9395EF4E]
   result          =  0.001929393 [-09  +FCE3AC4000000000]

double precision error: function FPOWER
   arg1            =  2.043059468269348 [+02  +82C17C8000000000]
   arg2            = -8.748777508735657 [+04  -8BFAFE2000000000]
   expected result =  0.001929392098453039 [-09  +FCE3A7ED9395EF4E]
   result          =  0.001929392098453039 [-09  +FCE3A7ED9395E974]

double precision error: function FPOWER
   arg1            =  1.913909912109375 [+01  +F4FB000000000000]
   arg2            = -9.457263350486755 [+04  -9750F36000000000]
   expected result =  0.002156722203068963 [-08  +8D57CB542830E21F]
   result          =  0.002156722203068963 [-08  +8D57CB542830E0E0]

conversion error - decimal input =  0.0002391907559713110 [-0C  +FACF479726DD02E8]
                   hex input     =  0.0002391907559713110 [-0C  +FACF479726DD0390]

single precision error: function FPOWER
   arg1            =  0.4350477 [-01  +DEBE940000000000]
   arg2            =  10.01833 [+04  +A04B122000000000]
   expected result =  0.0002391908 [-0C  +FACF479726DD0390]
   result          =  0.0002391907 [-0C  +FACF432000000000]

double precision error: function FPOWER
   arg1            =  0.4350477457046509 [-01  +DEBE940000000000]
   arg2            =  10.01832783222198 [+04  +A04B122000000000]
   expected result =  0.0002391907559713110 [-0C  +FACF479726DD0390]
   result          =  0.0002391907559713114 [-0C  +FACF479726DD7538]

conversion error - decimal input =  6.995256826011706E-11 [-21  +99D3CB87FC74A008]
                   hex input     =  6.995256826011706E-11 [-21  +99D3CB87FC74A068]

single precision error: function FPOWER
   arg1            =  7.000116 [+03  +E000F24000000000]
   arg2            = -12.01649 [+04  -C04388A000000000]
   expected result =  6.995257E-11 [-21  +99D3CB87FC74A068]
   result          =  6.995260E-11 [-21  +99D3CFE000000000]

double precision error: function FPOWER
   arg1            =  7.000115513801575 [+03  +E000F24000000000]
   arg2            = -12.01648771762848 [+04  -C04388A000000000]
   expected result =  6.995256826011706E-11 [-21  +99D3CB87FC74A068]
   result          =  6.995256826011705E-11 [-21  +99D3CB87FC7499D4]

conversion error - decimal input =  2128552541.724923 [+1F  +FDBE44BB73291624]
                   hex input     =  2128552541.724923 [+1F  +FDBE44BB7329169F]

double precision error: function FPOWER
   arg1            =  9.406653642654419 [+04  +9681A74000000000]
   arg2            =  9.582645893096924 [+04  +9952848000000000]
   expected result =  2128552541.724923 [+1F  +FDBE44BB7329169F]
   result          =  2128552541.724923 [+1F  +FDBE44BB7329185C]

conversion error - decimal input =  4.723980533998785E-11 [-22  +CFC34ADCCB615FF8]
                   hex input     =  4.723980533998785E-11 [-22  +CFC34ADCCB616039]

double precision error: function FPOWER
   arg1            =  6.263311505317688 [+03  +C86D0C4000000000]
   arg2            = -12.95888543128967 [+04  -CF57984000000000]
   expected result =  4.723980533998785E-11 [-22  +CFC34ADCCB616039]
   result          =  4.723980533998785E-11 [-22  +CFC34ADCCB615EE0]

conversion error - decimal input =  0.01049846629767275 [-06  +AC01C25A06C2C6CC]
                   hex input     =  0.01049846629767275 [-06  +AC01C25A06C2C76C]

double precision error: function FPOWER
   arg1            =  2.609179019927979 [+02  +A6FCCA0000000000]
   arg2            = -4.751154184341431 [+03  -9809748000000000]
   expected result =  0.01049846629767275 [-06  +AC01C25A06C2C76C]
   result          =  0.01049846629767275 [-06  +AC01C25A06C2C6D8]

conversion error - decimal input =  0.004005756187743287 [-07  +8342B7E93ACDCBFC]
                   hex input     =  0.004005756187743287 [-07  +8342B7E93ACDCC6B]

double precision error: function FPOWER
   arg1            =  9.183485507965088 [+04  +92EF8E8000000000]
   arg2            = -2.489404678344727 [+02  -9F52680000000000]
   expected result =  0.004005756187743287 [-07  +8342B7E93ACDCC6B]
   result          =  0.004005756187743287 [-07  +8342B7E93ACDCC0C]

double precision error: function FPOWER
   arg1            =  1.438180804252625 [+01  +B8164F0000000000]
   arg2            = -3.818956017494202 [+02  -F469C68000000000]
   expected result =  0.2496417572975803 [-02  +FFA216BD3C7EA326]
   result          =  0.2496417572975803 [-02  +FFA216BD3C7EA184]

conversion error - decimal input =  13.41842073894165 [+04  +D6B1D9F1DB8F91CC]
                   hex input     =  13.41842073894165 [+04  +D6B1D9F1DB8F9249]

double precision error: function FPOWER
   arg1            =  1.212113499641418 [+01  +9B26890000000000]
   arg2            =  13.49840819835663 [+04  +D7F97AE000000000]
   expected result =  13.41842073894165 [+04  +D6B1D9F1DB8F9249]
   result          =  13.41842073894165 [+04  +D6B1D9F1DB8F92C0]

conversion error - decimal input =  1.046523046906157E-12 [-27  +9348F76821500C30]
                   hex input     =  1.046523046906157E-12 [-27  +9348F76821500C7C]

double precision error: function FPOWER
   arg1            =  8.858543634414673 [+04  +8DBC984000000000]
   arg2            = -12.64590203762054 [+04  -CA559D6000000000]
   expected result =  1.046523046906157E-12 [-27  +9348F76821500C7C]
   result          =  1.046523046906157E-12 [-27  +9348F768215008EC]

double precision error: function FPOWER
   arg1            =  8.412665128707886 [+04  +869A46C000000000]
   arg2            = -1.887027025222778 [+01  -F18A1A0000000000]
   expected result =  0.01797319543312417 [-05  +933C85D2E0564335]
   result          =  0.01797319543312417 [-05  +933C85D2E0563C48]

conversion error - decimal input =  1.146854673504921E-06 [-13  +99EDA0641F5813E8]
                   hex input     =  1.146854673504921E-06 [-13  +99EDA0641F5814E7]

double precision error: function FPOWER
   arg1            =  9.977602362632751 [+04  +9FA4426000000000]
   arg2            = -5.946282148361206 [+03  -BE47F18000000000]
   expected result =  1.146854673504921E-06 [-13  +99EDA0641F5814E7]
   result          =  1.146854673504920E-06 [-13  +99EDA0641F57F020]

conversion error - decimal input =  7.671164006769004E-08 [-17  +A4BCAB8CFD99C708]
                   hex input     =  7.671164006769004E-08 [-17  +A4BCAB8CFD99C7C1]

double precision error: function FPOWER
   arg1            =  3.771024346351624 [+02  +F158768000000000]
   arg2            = -12.34282851219177 [+04  -C57C39C000000000]
   expected result =  7.671164006769004E-08 [-17  +A4BCAB8CFD99C7C1]
   result          =  7.671164006769004E-08 [-17  +A4BCAB8CFD99C5D4]

conversion error - decimal input =  391682249.2422152 [+1D  +BAC4C649F00E83F4]
                   hex input     =  391682249.2422152 [+1D  +BAC4C649F00E84A7]

double precision error: function FPOWER
   arg1            =  6.085054278373718 [+03  +C2B8C3C000000000]
   arg2            =  10.95667898654938 [+04  +AF4E8EA000000000]
   expected result =  391682249.2422152 [+1D  +BAC4C649F00E84A7]
   result          =  391682249.2422152 [+1D  +BAC4C649F00E8694]

conversion error - decimal input =  149.0716721048442 [+08  +9512591A625767F0]
                   hex input     =  149.0716721048442 [+08  +9512591A62576898]

double precision error: function FPOWER
   arg1            =  0.6445896625518799 [+00  +A503D40000000000]
   arg2            = -11.39593720436096 [+04  -B655C24000000000]
   expected result =  149.0716721048442 [+08  +9512591A62576898]
   result          =  149.0716721048442 [+08  +9512591A62575790]

conversion error - decimal input =  1.630257920271260E-08 [-19  +8C09C033EBA367F4]
                   hex input     =  1.630257920271260E-08 [-19  +8C09C033EBA36889]

double precision error: function FPOWER
   arg1            =  6.378429532051086 [+03  +CC1C184000000000]
   arg2            = -9.677656888961792 [+04  -9AD7AEC000000000]
   expected result =  1.630257920271260E-08 [-19  +8C09C033EBA36889]
   result          =  1.630257920271259E-08 [-19  +8C09C033EBA35D90]

conversion error - decimal input =  3.200963569834643E-06 [-12  +D6D022A9155D7A10]
                   hex input     =  3.200963569834643E-06 [-12  +D6D022A9155D7A9F]

double precision error: function FPOWER
   arg1            =  6.318792700767517 [+03  +CA338CC000000000]
   arg2            = -6.862959265708923 [+03  -DB9D5CC000000000]
   expected result =  3.200963569834643E-06 [-12  +D6D022A9155D7A9F]
   result          =  3.200963569834643E-06 [-12  +D6D022A9155D7904]

conversion error - decimal input =  0.0003009331649799079 [-0B  +9DC690D0A177F50C]
                   hex input     =  0.0003009331649799079 [-0B  +9DC690D0A177F59E]

double precision error: function FPOWER
   arg1            =  9.092845916748047 [+04  +917C4C0000000000]
   arg2            = -3.673235177993774 [+02  -EB16490000000000]
   expected result =  0.0003009331649799079 [-0B  +9DC690D0A177F59E]
   result          =  0.0003009331649799079 [-0B  +9DC690D0A177F4F0]

conversion error - decimal input =  1235638451.899468 [+1F  +934CB167CC871AE8]
                   hex input     =  1235638451.899468 [+1F  +934CB167CC871BD8]

double precision error: function FPOWER
   arg1            =  6.139785051345825 [+03  +C4791E8000000000]
   arg2            =  11.53569102287292 [+04  +B89230C000000000]
   expected result =  1235638451.899468 [+1F  +934CB167CC871BD8]
   result          =  1235638451.899468 [+1F  +934CB167CC871E28]

conversion error - decimal input =  0.03415203793305820 [-04  +8BE301E03A4FF010]
                   hex input     =  0.03415203793305820 [-04  +8BE301E03A4FF076]

double precision error: function FPOWER
   arg1            =  1.253818869590759 [+01  +A07D230000000000]
   arg2            = -14.92936670780182 [+04  -EEDEAFA000000000]
   expected result =  0.03415203793305820 [-04  +8BE301E03A4FF076]
   result          =  0.03415203793305819 [-04  +8BE301E03A4FEE24]

conversion error - decimal input =  4481036669.705016 [+21  +858B98BEDA3DF300]
                   hex input     =  4481036669.705016 [+21  +858B98BEDA3DF39C]

double precision error: function FPOWER
   arg1            =  6.192054748535156 [+03  +C625500000000000]
   arg2            =  12.18862652778625 [+04  +C3049D4000000000]
   expected result =  4481036669.705016 [+21  +858B98BEDA3DF39C]
   result          =  4481036669.705018 [+21  +858B98BEDA3E078C]

conversion error - decimal input =  12223292.68100705 [+18  +BA833CAE567A5D18]
                   hex input     =  12223292.68100705 [+18  +BA833CAE567A5DF9]

double precision error: function FPOWER
   arg1            =  3.771867156028748 [+02  +F166458000000000]
   arg2            =  12.29227244853973 [+04  +C4AD25E000000000]
   expected result =  12223292.68100705 [+18  +BA833CAE567A5DF9]
   result          =  12223292.68100705 [+18  +BA833CAE567A5FFC]

conversion error - decimal input =  3227688256258.587 [+2A  +BBE04D90C0A598F4]
                   hex input     =  3227688256258.588 [+2A  +BBE04D90C0A599DC]

single precision error: function FPOWER
   arg1            =  9.989708 [+04  +9FD5D82000000000]
   arg2            =  12.51449 [+04  +C83B57E000000000]
   expected result =  3.227688E+12 [+2A  +BBE04D90C0A599DC]
   result          =  3.227687E+12 [+2A  +BBE047C000000000]

double precision error: function FPOWER
   arg1            =  9.989708065986633 [+04  +9FD5D82000000000]
   arg2            =  12.51448810100555 [+04  +C83B57E000000000]
   expected result =  3227688256258.588 [+2A  +BBE04D90C0A599DC]
   result          =  3227688256258.596 [+2A  +BBE04D90C0A622EC]

double precision error: function FPOWER
   arg1            =  6.097661852836609 [+03  +C3200BC000000000]
   arg2            =  13.31699252128601 [+04  +D51266C000000000]
   expected result =  28576845326.38609 [+23  +D4EA01C1CC5AD013]
   result          =  28576845326.38609 [+23  +D4EA01C1CC5AD250]

double precision error: function FPOWER
   arg1            =  2.150176167488098 [+02  +899C7C8000000000]
   arg2            = -13.42756569385529 [+04  -D6D74F2000000000]
   expected result =  3.433072182691789E-05 [-0E  +8FFE54F5AC453305]
   result          =  3.433072182691789E-05 [-0E  +8FFE54F5AC452D7C]

conversion error - decimal input =  5.740358367679937 [+03  +B7B10408102B2E04]
                   hex input     =  5.740358367679937 [+03  +B7B10408102B2ED8]

double precision error: function FPOWER
   arg1            =  2.156477570533752 [+02  +8A03BA8000000000]
   arg2            =  2.274008989334106 [+02  +91895D0000000000]
   expected result =  5.740358367679937 [+03  +B7B10408102B2ED8]
   result          =  5.740358367679937 [+03  +B7B10408102B30D8]

conversion error - decimal input =  0.004940215786833275 [-07  +A1E1889EAC417300]
                   hex input     =  0.004940215786833276 [-07  +A1E1889EAC4173C2]

double precision error: function FPOWER
   arg1            =  9.519092440605164 [+04  +984E33E000000000]
   arg2            = -2.356697916984558 [+02  -96D4238000000000]
   expected result =  0.004940215786833276 [-07  +A1E1889EAC4173C2]
   result          =  0.004940215786833276 [-07  +A1E1889EAC417364]

conversion error - decimal input =  1.239513785300927 [+01  +9EA863416781BAF4]
                   hex input     =  1.239513785300927 [+01  +9EA863416781BBE4]

conversion error - decimal input =  0.0008912344349578043 [-0A  +E9A1BB013DEE3704]
                   hex input     =  0.0008912344349578043 [-0A  +E9A1BB013DEE37CF]

double precision error: function FPOWER
   arg1            =  7.715094089508057 [+03  +F6E20D0000000000]
   arg2            = -3.437243700027466 [+02  -DBFBCD0000000000]
   expected result =  0.0008912344349578043 [-0A  +E9A1BB013DEE37CF]
   result          =  0.0008912344349578043 [-0A  +E9A1BB013DEE3420]

double precision error: function FPOWER
   arg1            =  9.359039068222046 [+04  +95BE9FC000000000]
   arg2            =  13.44583868980408 [+04  +D72227C000000000]
   expected result =  11455626753407.55 [+2C  +A6B3890357F8D80E]
   result          =  11455626753407.56 [+2C  +A6B3890357F902B0]

single precision error: function FPOWER
   arg1            =  8.563292 [+04  +89033E8000000000]
   arg2            =  9.087603 [+04  +9166D28000000000]
   expected result =  298860836. [+1D  +8E8209198CF9F01B]
   result          =  298860700. [+1D  +8E8204E000000000]

double precision error: function FPOWER
   arg1            =  8.563292026519775 [+04  +89033E8000000000]
   arg2            =  9.087603092193604 [+04  +9166D28000000000]
   expected result =  298860835.1938361 [+1D  +8E8209198CF9F01B]
   result          =  298860835.1938361 [+1D  +8E8209198CF9F33C]

conversion error - decimal input =  2.084082180683361E-11 [-23  +B7515BD140660EF8]
                   hex input     =  2.084082180683361E-11 [-23  +B7515BD140660FF0]

double precision error: function FPOWER
   arg1            =  8.921530842781067 [+04  +8EBE972000000000]
   arg2            = -11.23804986476898 [+04  -B3CF0D6000000000]
   expected result =  2.084082180683361E-11 [-23  +B7515BD140660FF0]
   result          =  2.084082180683360E-11 [-23  +B7515BD14065FB4C]

conversion error - decimal input =  0.02037439127027336 [-05  +A6E83205D0BF96F4]
                   hex input     =  0.02037439127027336 [-05  +A6E83205D0BF97BD]

double precision error: function FPOWER
   arg1            =  1.386164426803589 [+01  +B16DD60000000000]
   arg2            = -11.92340970039368 [+04  -BEC6494000000000]
   expected result =  0.02037439127027336 [-05  +A6E83205D0BF97BD]
   result          =  0.02037439127027336 [-05  +A6E83205D0BF957C]

conversion error - decimal input =  7.380870967557545E-05 [-0D  +9AC9BFD09F3CC604]
                   hex input     =  7.380870967557545E-05 [-0D  +9AC9BFD09F3CC66E]

double precision error: function FPOWER
   arg1            =  2.378510236740112 [+02  +9839830000000000]
   arg2            = -10.98016798496246 [+04  -AFAEC4A000000000]
   expected result =  7.380870967557545E-05 [-0D  +9AC9BFD09F3CC66E]
   result          =  7.380870967557544E-05 [-0D  +9AC9BFD09F3CC520]

double precision error: function FPOWER
   arg1            =  8.620624542236328 [+04  +89EE140000000000]
   arg2            =  8.766889572143555 [+04  +8C452E0000000000]
   expected result =  159134645.3809943 [+1C  +97C33B56188D7833]
   result          =  159134645.3809943 [+1C  +97C33B56188D7D84]

double precision error: function FPOWER
   arg1            =  5.132872462272644 [+03  +A4407DC000000000]
   arg2            = -7.825275063514709 [+03  -FA68A74000000000]
   expected result =  2.762065044076298E-06 [-12  +B95BEA87D19B0909]
   result          =  2.762065044076298E-06 [-12  +B95BEA87D19B0548]

double precision error: function FPOWER
   arg1            =  3.730003833770752 [+02  +EEB8620000000000]
   arg2            =  7.927540540695190 [+03  +FDAE698000000000]
   expected result =  34060.30089687612 [+10  +850C4D0793E26B38]
   result          =  34060.30089687613 [+10  +850C4D0793E26E1C]

conversion error - decimal input =  4.680295094974524 [+03  +95C4FA38116EF608]
                   hex input     =  4.680295094974524 [+03  +95C4FA38116EF6BB]

double precision error: function FPOWER
   arg1            =  0.7840400934219360 [+00  +C8B6DA0000000000]
   arg2            = -6.343576312065125 [+03  -CAFE93C000000000]
   expected result =  4.680295094974524 [+03  +95C4FA38116EF6BB]
   result          =  4.680295094974524 [+03  +95C4FA38116EF62C]

conversion error - decimal input =  1.390925037584728 [+01  +B209D4E5CE96C008]
                   hex input     =  1.390925037584728 [+01  +B209D4E5CE96C0EC]

conversion error - decimal input =  33662.35357155527 [+10  +837E5A83AA5AAC04]
                   hex input     =  33662.35357155527 [+10  +837E5A83AA5AACF3]

double precision error: function FPOWER
   arg1            =  4.142487049102783 [+03  +848F410000000000]
   arg2            =  7.334244847297668 [+03  +EAB2224000000000]
   expected result =  33662.35357155527 [+10  +837E5A83AA5AACF3]
   result          =  33662.35357155527 [+10  +837E5A83AA5AAF60]

conversion error - decimal input =  0.02246942786550578 [-05  +B811CE3AF3201FFC]
                   hex input     =  0.02246942786550578 [-05  +B811CE3AF3202041]

double precision error: function FPOWER
   arg1            =  1.345331668853760 [+01  +AC33D40000000000]
   arg2            = -12.79528141021729 [+04  -CCB9790000000000]
   expected result =  0.02246942786550578 [-05  +B811CE3AF3202041]
   result          =  0.02246942786550578 [-05  +B811CE3AF3201F8C]

conversion error - decimal input =  85.91676806711472 [+07  +ABD5629FC48CB800]
                   hex input     =  85.91676806711472 [+07  +ABD5629FC48CB8F8]

double precision error: function FPOWER
   arg1            =  9.273561835289001 [+04  +9460826000000000]
   arg2            =  1.999570727348328 [+01  +FFF1EF0000000000]
   expected result =  85.91676806711472 [+07  +ABD5629FC48CB8F8]
   result          =  85.91676806711472 [+07  +ABD5629FC48CB98C]

conversion error - decimal input =  0.8226527884684740 [+00  +D2995F866F6FF0FC]
                   hex input     =  0.8226527884684740 [+00  +D2995F866F6FF1F0]

double precision error: function FPOWER
   arg1            =  1.121840476989746 [+01  +8F98780000000000]
   arg2            = -1.698008179664612 [+01  -D958550000000000]
   expected result =  0.8226527884684740 [+00  +D2995F866F6FF1F0]
   result          =  0.8226527884684737 [+00  +D2995F866F6FDBF4]

conversion error - decimal input =  1815.918455373496 [+0B  +E2FD63FC85FFFCF0]
                   hex input     =  1815.918455373496 [+0B  +E2FD63FC85FFFDBF]

single precision error: function FPOWER
   arg1            =  1.789359 [+01  +E509BB0000000000]
   arg2            =  12.89722 [+04  +CE5B030000000000]
   expected result =  1815.918 [+0B  +E2FD63FC85FFFDBF]
   result          =  1815.918 [+0B  +E2FD5EE000000000]

double precision error: function FPOWER
   arg1            =  1.789359450340271 [+01  +E509BB0000000000]
   arg2            =  12.89721965789795 [+04  +CE5B030000000000]
   expected result =  1815.918455373496 [+0B  +E2FD63FC85FFFDBF]
   result          =  1815.918455373496 [+0B  +E2FD63FC86000634]

double precision error: function FPOWER
   arg1            =  7.702817320823669 [+03  +F67D7AC000000000]
   arg2            =  2.776662111282349 [+02  +B1B4D50000000000]
   expected result =  289.6852252803286 [+09  +90D7B57644B3B018]
   result          =  289.6852252803286 [+09  +90D7B57644B3B110]

conversion error - decimal input =  1.285493619461797 [+01  +A48B0E0F670D1DEC]
                   hex input     =  1.285493619461797 [+01  +A48B0E0F670D1E56]

conversion error - decimal input =  0.4009540531637439 [-01  +CD49D98312E7DB10]
                   hex input     =  0.4009540531637439 [-01  +CD49D98312E7DBCB]

double precision error: function FPOWER
   arg1            =  1.498273015022278 [+01  +BFC7690000000000]
   arg2            = -2.260397672653198 [+02  -90AA5B0000000000]
   expected result =  0.4009540531637439 [-01  +CD49D98312E7DBCB]
   result          =  0.4009540531637438 [-01  +CD49D98312E7D400]

conversion error - decimal input =  716504.6694662701 [+14  +AEED8AB622437C08]
                   hex input     =  716504.6694662701 [+14  +AEED8AB622437C89]

double precision error: function FPOWER
   arg1            =  3.894776105880737 [+02  +F944030000000000]
   arg2            =  9.915990829467773 [+04  +9EA7E60000000000]
   expected result =  716504.6694662701 [+14  +AEED8AB622437C89]
   result          =  716504.6694662701 [+14  +AEED8AB622437D58]

double precision error: function FPOWER
   arg1            =  0.8599221706390381 [+00  +DC23DC0000000000]
   arg2            = -3.079773187637329 [+02  -C51B010000000000]
   expected result =  1.591662427140144 [+01  +CBBB982B6B612303]
   result          =  1.591662427140144 [+01  +CBBB982B6B612290]

conversion error - decimal input =  122397935811.1967 [+25  +E3FBE2461992DECC]
                   hex input     =  122397935811.1967 [+25  +E3FBE2461992DF7D]

double precision error: function FPOWER
   arg1            =  9.416797161102295 [+04  +96AB338000000000]
   arg2            =  11.38488292694092 [+04  +B6287B0000000000]
   expected result =  122397935811.1967 [+25  +E3FBE2461992DF7D]
   result          =  122397935811.1967 [+25  +E3FBE2461992E1FC]

double precision error: function FPOWER
   arg1            =  1.008414626121521 [+01  +8113BB0000000000]
   arg2            = -14.31381583213806 [+04  -E50563C000000000]
   expected result =  0.8869723390562505 [+00  +E3109E84B4062E35]
   result          =  0.8869723390562503 [+00  +E3109E84B4062070]

conversion error - decimal input =  39506.68028308323 [+10  +9A52AE27083A7AF8]
                   hex input     =  39506.68028308323 [+10  +9A52AE27083A7BDB]

double precision error: function FPOWER
   arg1            =  8.050741553306580 [+04  +80CFD66000000000]
   arg2            =  5.074506998062134 [+03  +A2625C8000000000]
   expected result =  39506.68028308323 [+10  +9A52AE27083A7BDB]
   result          =  39506.68028308323 [+10  +9A52AE27083A7F50]

conversion error - decimal input =  836200292.5155855 [+1E  +C75D9D920FF5A300]
                   hex input     =  836200292.5155855 [+1E  +C75D9D920FF5A3EC]

single precision error: function FPOWER
   arg1            =  5.387642 [+03  +AC678FC000000000]
   arg2            =  12.19897 [+04  +C32EFA4000000000]
   expected result =  836200296. [+1E  +C75D9D920FF5A3EC]
   result          =  836199904. [+1E  +C75D978000000000]

double precision error: function FPOWER
   arg1            =  5.387641787528992 [+03  +AC678FC000000000]
   arg2            =  12.19896912574768 [+04  +C32EFA4000000000]
   expected result =  836200292.5155855 [+1E  +C75D9D920FF5A3EC]
   result          =  836200292.5155855 [+1E  +C75D9D920FF5A4B0]

conversion error - decimal input =  3.648927393761153 [+02  +E98806C36BB0D400]
                   hex input     =  3.648927393761153 [+02  +E98806C36BB0D47A]

conversion error - decimal input =  33101897.83100699 [+19  +FC8C24EA5E6FEC10]
                   hex input     =  33101897.83100699 [+19  +FC8C24EA5E6FECD1]

single precision error: function FPOWER
   arg1            =  5.029442 [+03  +A0F1310000000000]
   arg2            =  10.71937 [+04  +AB828D8000000000]
   expected result =  33101898. [+19  +FC8C24EA5E6FECD1]
   result          =  33101881. [+19  +FC8C1CA000000000]

double precision error: function FPOWER
   arg1            =  5.029442310333252 [+03  +A0F1310000000000]
   arg2            =  10.71937322616577 [+04  +AB828D8000000000]
   expected result =  33101897.83100699 [+19  +FC8C24EA5E6FECD1]
   result          =  33101897.83100700 [+19  +FC8C24EA5E6FEF6C]

conversion error - decimal input =  8.427226389753989E-08 [-17  +B4F92AC24B040400]
                   hex input     =  8.427226389753989E-08 [-17  +B4F92AC24B0404DB]

double precision error: function FPOWER
   arg1            =  7.150852084159851 [+03  +E4D3C7C000000000]
   arg2            = -8.280272483825684 [+04  -847BFF0000000000]
   expected result =  8.427226389753989E-08 [-17  +B4F92AC24B0404DB]
   result          =  8.427226389753988E-08 [-17  +B4F92AC24B04002C]

conversion error - decimal input =  2.5E-14 [-2D  +DDA46A8C7181AFEC]
                   hex input     =  2.5E-14 [-2D  +DDA46A8C7181B0C0]

single precision error: function FPOWER
   arg1            =  8.318928 [+04  +851A542000000000]
   arg2            = -14.79124 [+04  -ECA8EB6000000000]
   expected result =  2.5E-14 [-2D  +DDA46A8C7181B0C0]
   result          =  2.5E-14 [-2D  +DDA4740000000000]

double precision error: function FPOWER
   arg1            =  8.318927884101868 [+04  +851A542000000000]
   arg2            = -14.79124009609222 [+04  -ECA8EB6000000000]
   expected result =  2.5E-14 [-2D  +DDA46A8C7181B0C0]
   result          =  2.5E-14 [-2D  +DDA46A8C7181A830]

conversion error - decimal input =  1.275752071869985E-10 [-20  +8C453A7D210844E4]
                   hex input     =  1.275752071869985E-10 [-20  +8C453A7D210845D1]

double precision error: function FPOWER
   arg1            =  7.702605724334717 [+03  +F67BBF0000000000]
   arg2            = -11.15927517414093 [+04  -B28C642000000000]
   expected result =  1.275752071869985E-10 [-20  +8C453A7D210845D1]
   result          =  1.275752071869985E-10 [-20  +8C453A7D210841B0]

conversion error - decimal input =  11841124514.17407 [+22  +B0724E288B23E40C]
                   hex input     =  11841124514.17407 [+22  +B0724E288B23E4FD]

single precision error: function FPOWER
   arg1            =  5.017154 [+03  +A08C85C000000000]
   arg2            =  14.38116 [+04  +E6193FC000000000]
   expected result =  11841124480. [+22  +B0724E288B23E4FD]
   result          =  11841119232. [+22  +B072490000000000]

double precision error: function FPOWER
   arg1            =  5.017153620719910 [+03  +A08C85C000000000]
   arg2            =  14.38116431236267 [+04  +E6193FC000000000]
   expected result =  11841124514.17407 [+22  +B0724E288B23E4FD]
   result          =  11841124514.17407 [+22  +B0724E288B23E800]

single precision error: function FPOWER
   arg1            =  2.556416 [+02  +A39C538000000000]
   arg2            =  12.37816 [+04  +C60CF00000000000]
   expected result =  111103.7 [+11  +D8FFD9053BDD000E]
   result          =  111103.7 [+11  +D8FFD40000000000]

double precision error: function FPOWER
   arg1            =  2.556416392326355 [+02  +A39C538000000000]
   arg2            =  12.37815856933594 [+04  +C60CF00000000000]
   expected result =  111103.6954722241 [+11  +D8FFD9053BDD000E]
   result          =  111103.6954722242 [+11  +D8FFD9053BDD03C0]

conversion error - decimal input =  0.4638643490649831 [-01  +ED7FA0C2076373F4]
                   hex input     =  0.4638643490649831 [-01  +ED7FA0C20763746E]

conversion error - decimal input =  1.108373648938420 [+01  +8DDF300EF82750F0]
                   hex input     =  1.108373648938420 [+01  +8DDF300EF827515E]

double precision error: function FPOWER
   arg1            =  0.9893262386322021 [+00  +FD447C0000000000]
   arg2            = -9.588339328765869 [+04  -9969D68000000000]
   expected result =  1.108373648938420 [+01  +8DDF300EF827515E]
   result          =  1.108373648938420 [+01  +8DDF300EF8275060]

double precision error: function FPOWER
   arg1            =  2.702711224555969 [+02  +ACF9388000000000]
   arg2            = -4.241963624954224 [+03  -87BE2A8000000000]
   expected result =  0.01473403208943444 [-06  +F167027D96E77A27]
   result          =  0.01473403208943444 [-06  +F167027D96E779D0]

conversion error - decimal input =  0.001913782994436553 [-09  +FAD7E6BED88E6ED8]
                   hex input     =  0.001913782994436553 [-09  +FAD7E6BED88E6FCE]

double precision error: function FPOWER
   arg1            =  2.301213145256042 [+02  +9347138000000000]
   arg2            = -7.509478926658630 [+03  -F04DA6C000000000]
   expected result =  0.001913782994436553 [-09  +FAD7E6BED88E6FCE]
   result          =  0.001913782994436553 [-09  +FAD7E6BED88E6D8C]

conversion error - decimal input =  101606.2634138689 [+11  +C67321B78BB038E8]
                   hex input     =  101606.2634138689 [+11  +C67321B78BB03970]

double precision error: function FPOWER
   arg1            =  4.284521341323853 [+03  +891ACC8000000000]
   arg2            =  7.923567295074463 [+03  +FD8DDD0000000000]
   expected result =  101606.2634138689 [+11  +C67321B78BB03970]
   result          =  101606.2634138690 [+11  +C67321B78BB03CF4]

conversion error - decimal input =  0.05228153331221705 [-04  +D625293C2BDAE2FC]
                   hex input     =  0.05228153331221705 [-04  +D625293C2BDAE35C]

double precision error: function FPOWER
   arg1            =  9.313795566558838 [+04  +95054E8000000000]
   arg2            = -1.322481036186218 [+01  -A9470F0000000000]
   expected result =  0.05228153331221705 [-04  +D625293C2BDAE35C]
   result          =  0.05228153331221705 [-04  +D625293C2BDAE1CC]

conversion error - decimal input =  3098.787467414024 [+0C  +C1AC99776E5E65F4]
                   hex input     =  3098.787467414024 [+0C  +C1AC99776E5E66D6]

double precision error: function FPOWER
   arg1            =  7.546602487564087 [+03  +F17DC48000000000]
   arg2            =  3.977426290512085 [+02  +FE8E270000000000]
   expected result =  3098.787467414024 [+0C  +C1AC99776E5E66D6]
   result          =  3098.787467414024 [+0C  +C1AC99776E5E6780]

conversion error - decimal input =  22.13869592700324 [+05  +B11C0C9C3489E114]
                   hex input     =  22.13869592700324 [+05  +B11C0C9C3489E1BD]

double precision error: function FPOWER
   arg1            =  7.293366193771362 [+03  +E963418000000000]
   arg2            =  1.558822989463806 [+01  +C787830000000000]
   expected result =  22.13869592700324 [+05  +B11C0C9C3489E1BD]
   result          =  22.13869592700324 [+05  +B11C0C9C3489E4F4]

conversion error - decimal input =  1.379060823923848E-05 [-10  +E75E361CF72677C8]
                   hex input     =  1.379060823923848E-05 [-10  +E75E361CF72678A6]

double precision error: function FPOWER
   arg1            =  3.808541893959045 [+02  +F3BF268000000000]
   arg2            = -8.369080424308777 [+04  -85E7C0E000000000]
   expected result =  1.379060823923848E-05 [-10  +E75E361CF72678A6]
   result          =  1.379060823923848E-05 [-10  +E75E361CF7267694]

conversion error - decimal input =  0.3712824793948476 [-01  +BE18BCB52846B3F4]
                   hex input     =  0.3712824793948476 [-01  +BE18BCB52846B4A3]

double precision error: function FPOWER
   arg1            =  3.684065341949463 [+02  +EBC7BA0000000000]
   arg2            = -0.7598000764846802 [+00  -C282420000000000]
   expected result =  0.3712824793948476 [-01  +BE18BCB52846B4A3]
   result          =  0.3712824793948476 [-01  +BE18BCB52846B448]

conversion error - decimal input =  0.001046369142879484 [-09  +8926527F1580F9F4]
                   hex input     =  0.001046369142879484 [-09  +8926527F1580FA6B]

double precision error: function FPOWER
   arg1            =  2.138759493827820 [+02  +88E16F8000000000]
   arg2            = -9.026827812194824 [+04  -906DE30000000000]
   expected result =  0.001046369142879484 [-09  +8926527F1580FA6B]
   result          =  0.001046369142879484 [-09  +8926527F1580F7A4]

conversion error - decimal input =  0.001806446087615799 [-09  +ECC645BC916CE5E0]
                   hex input     =  0.001806446087615799 [-09  +ECC645BC916CE6DE]

double precision error: function FPOWER
   arg1            =  0.3704571723937988 [-01  +BDAC900000000000]
   arg2            =  6.360808610916138 [+03  +CB8BBE8000000000]
   expected result =  0.001806446087615799 [-09  +ECC645BC916CE6DE]
   result          =  0.001806446087615799 [-09  +ECC645BC916CE754]

conversion error - decimal input =  49275929083.64318 [+24  +B791301FBA4A7704]
                   hex input     =  49275929083.64318 [+24  +B791301FBA4A77E5]

single precision error: function FPOWER
   arg1            =  9.932510 [+04  +9EEB8FE000000000]
   arg2            =  10.72417 [+04  +AB9637E000000000]
   expected result =  49275929088. [+24  +B791301FBA4A77E5]
   result          =  49275905536. [+24  +B7912A6000000000]

double precision error: function FPOWER
   arg1            =  9.932510256767273 [+04  +9EEB8FE000000000]
   arg2            =  10.72417438030243 [+04  +AB9637E000000000]
   expected result =  49275929083.64318 [+24  +B791301FBA4A77E5]
   result          =  49275929083.64320 [+24  +B791301FBA4A8954]

conversion error - decimal input =  3.121582745387645E-07 [-15  +A796B4E1C96B4C14]
                   hex input     =  3.121582745387645E-07 [-15  +A796B4E1C96B4CBD]

double precision error: function FPOWER
   arg1            =  7.688145637512207 [+03  +F6054A0000000000]
   arg2            = -7.344170808792114 [+03  -EB03728000000000]
   expected result =  3.121582745387645E-07 [-15  +A796B4E1C96B4CBD]
   result          =  3.121582745387645E-07 [-15  +A796B4E1C96B4AD4]

conversion error - decimal input =  6.927670412840614E-08 [-17  +94C545572F672C00]
                   hex input     =  6.927670412840614E-08 [-17  +94C545572F672CC4]

double precision error: function FPOWER
   arg1            =  0.1598107814788818 [-02  +A3A5700000000000]
   arg2            =  8.989788293838501 [+04  +8FD62C4000000000]
   expected result =  6.927670412840614E-08 [-17  +94C545572F672CC4]
   result          =  6.927670412840615E-08 [-17  +94C545572F672EA0]

conversion error - decimal input =  2048083862.558862 [+1F  +F4268F2D1E2329FC]
                   hex input     =  2048083862.558862 [+1F  +F4268F2D1E232ABD]

single precision error: function FPOWER
   arg1            =  6.901196 [+03  +DCD6984000000000]
   arg2            =  11.09915 [+04  +B1961F2000000000]
   expected result =  2048083856. [+1F  +F4268F2D1E232ABD]
   result          =  2048082944. [+1F  +F426880000000000]

double precision error: function FPOWER
   arg1            =  6.901195645332336 [+03  +DCD6984000000000]
   arg2            =  11.09915077686310 [+04  +B1961F2000000000]
   expected result =  2048083862.558862 [+1F  +F4268F2D1E232ABD]
   result          =  2048083862.558862 [+1F  +F4268F2D1E23310C]

conversion error - decimal input =  10.34802531974925 [+04  +A59182FF680C3830]
                   hex input     =  10.34802531974925 [+04  +A59182FF680C38BD]

double precision error: function FPOWER
   arg1            =  0.7520341873168945 [+00  +C085500000000000]
   arg2            = -8.200045824050903 [+04  -8333634000000000]
   expected result =  10.34802531974925 [+04  +A59182FF680C38BD]
   result          =  10.34802531974925 [+04  +A59182FF680C187C]

conversion error - decimal input =  1360892448.273016 [+1F  +A23B24408BC8CEE8]
                   hex input     =  1360892448.273016 [+1F  +A23B24408BC8CF9A]

conversion error - decimal input =  5502.710122148168 [+0D  +ABF5AE548554610C]
                   hex input     =  5502.710122148168 [+0D  +ABF5AE54855461BE]

conversion error - decimal input =  7056288204.696705 [+21  +D24B34E6592DA2FC]
                   hex input     =  7056288204.696705 [+21  +D24B34E6592DA364]

conversion error - decimal input =  19.36329651872444 [+05  +9AE8080155608B20]
                   hex input     =  19.36329651872444 [+05  +9AE8080155608B61]

conversion error - decimal input = -2537141990857.513 [+2A  -93AE5C9D7260D8F0]
                   hex input     = -2537141990857.513 [+2A  -93AE5C9D7260D9F3]

conversion error - decimal input = -54.88723357578903 [+06  -DB8C86F55FB54800]
                   hex input     = -54.88723357578903 [+06  -DB8C86F55FB548C8]

conversion error - decimal input =  57412.71873649623 [+10  +E044B7FF1D71BF00]
                   hex input     =  57412.71873649623 [+10  +E044B7FF1D71BF99]

conversion error - decimal input =  3510796.854132899 [+16  +D648336AA1D09204]
                   hex input     =  3510796.854132899 [+16  +D648336AA1D092B6]

conversion error - decimal input = -223458.1968962340 [+12  -DA388C99F2A961E4]
                   hex input     = -223458.1968962340 [+12  -DA388C99F2A9629F]

conversion error - decimal input =  13853650302.95233 [+22  +CE6F7B5FBCF2E92C]
                   hex input     =  13853650302.95233 [+22  +CE6F7B5FBCF2E9C5]

conversion error - decimal input =  5269600931.206958 [+21  +9D0BDD519A7D9CFC]
                   hex input     =  5269600931.206958 [+21  +9D0BDD519A7D9D87]

conversion error - decimal input =  4961245391.055114 [+21  +93DB4C67870DFD04]
                   hex input     =  4961245391.055114 [+21  +93DB4C67870DFD57]

conversion error - decimal input = -946359902.2238695 [+1E  -E1A13978E53E0EFC]
                   hex input     = -946359902.2238696 [+1E  -E1A13978E53E0F89]

conversion error - decimal input = -45498660176.15234 [+24  -A97EE755026FFDF8]
                   hex input     = -45498660176.15234 [+24  -A97EE755026FFE90]

conversion error - decimal input =  13841.18660097573 [+0E  +D844BF145380A824]
                   hex input     =  13841.18660097573 [+0E  +D844BF145380A89F]

conversion error - decimal input =  8203261.378599528 [+17  +FA57FAC1D7CC1B00]
                   hex input     =  8203261.378599528 [+17  +FA57FAC1D7CC1B5E]

conversion error - decimal input =  64728634.33638283 [+1A  +F6EB8E95874BDAF4]
                   hex input     =  64728634.33638283 [+1A  +F6EB8E95874BDB6A]

conversion error - decimal input = -1.234076536144008E-10 [-20  -87B02A9AF63BB8E8]
                   hex input     = -1.234076536144008E-10 [-20  -87B02A9AF63BB9FD]

conversion error - decimal input =  54560184.65393845 [+1A  +D0216E29DA20A4FC]
                   hex input     =  54560184.65393845 [+1A  +D0216E29DA20A5EA]

conversion error - decimal input = -838.3499394696052 [+0A  -D196656884622AFC]
                   hex input     = -838.3499394696052 [+0A  -D196656884622BDB]

conversion error - decimal input =  0.06170105034387488 [-04  +FCBA3D95B1531EF8]
                   hex input     =  0.06170105034387488 [-04  +FCBA3D95B1531FF5]

conversion error - decimal input = -16866.16497776403 [+0F  -83C45477F72A1DF0]
                   hex input     = -16866.16497776403 [+0F  -83C45477F72A1EC7]

conversion error - decimal input =  654211771697.8913 [+28  +98520F6D31E42E04]
                   hex input     =  654211771697.8913 [+28  +98520F6D31E42EB0]

conversion error - decimal input =  18527666979.98303 [+23  +8A0AB8647F74F6F0]
                   hex input     =  18527666979.98303 [+23  +8A0AB8647F74F783]

conversion error - decimal input =  6822832.628576228 [+17  +D0376141D4BE4AFC]
                   hex input     =  6822832.628576228 [+17  +D0376141D4BE4BE7]

conversion error - decimal input =  12363348585842.17 [+2C  +B3E91002D722A7F0]
                   hex input     =  12363348585842.17 [+2C  +B3E91002D722A845]

conversion error - decimal input =  7646106254.888460 [+21  +E3DF294771B90F00]
                   hex input     =  7646106254.888460 [+21  +E3DF294771B90F5E]

conversion error - decimal input =  3342.319106248344 [+0C  +D0E51B0F27495CF0]
                   hex input     =  3342.319106248344 [+0C  +D0E51B0F27495D76]

conversion error - decimal input =  8340839.887357416 [+17  +FE8ACFC653B60EF8]
                   hex input     =  8340839.887357416 [+17  +FE8ACFC653B60FE3]

conversion error - decimal input =  0.001144084878419732 [-09  +95F51E45F86A5718]
                   hex input     =  0.001144084878419732 [-09  +95F51E45F86A57A8]

conversion error - decimal input =  9092026877348.949 [+2C  +844E70845A4F3004]
                   hex input     =  9092026877348.949 [+2C  +844E70845A4F307E]

conversion error - decimal input =  0.0001554548009827909 [-0C  +A3019494630D47F8]
                   hex input     =  0.0001554548009827909 [-0C  +A3019494630D4893]

conversion error - decimal input = -15248308.59149133 [+18  -E8ABB4976BF9D0CC]
                   hex input     = -15248308.59149133 [+18  -E8ABB4976BF9D13E]

conversion error - decimal input =  76.91235178221078 [+07  +99D31FC5D615D200]
                   hex input     =  76.91235178221078 [+07  +99D31FC5D615D296]

conversion error - decimal input = -1525247091544.627 [+29  -B18FE7D1AC504620]
                   hex input     = -1525247091544.627 [+29  -B18FE7D1AC5046C1]

conversion error - decimal input =  2945024549.597675 [+20  +AF89822599013C18]
                   hex input     =  2945024549.597675 [+20  +AF89822599013CAC]

conversion error - decimal input =  159606489.9255801 [+1C  +98366D9ECF2D0B18]
                   hex input     =  159606489.9255801 [+1C  +98366D9ECF2D0BCF]

conversion error - decimal input = -7323135006.394339 [+21  -DA3F160F3279B5FC]
                   hex input     = -7323135006.394339 [+21  -DA3F160F3279B6C5]

conversion error - decimal input =  342.3637000073138 [+09  +AB2E8DB8CA7BDCF4]
                   hex input     =  342.3637000073138 [+09  +AB2E8DB8CA7BDDE3]

conversion error - decimal input = -62.95634748995644 [+06  -FBD34CC1A3E5FBF8]
                   hex input     = -62.95634748995644 [+06  -FBD34CC1A3E5FC50]

conversion error - decimal input =  2263491.220572417 [+16  +8A270CE1DDBC5000]
                   hex input     =  2263491.220572417 [+16  +8A270CE1DDBC508F]

conversion error - decimal input =  292471945665.5546 [+27  +88315F73831BF2F8]
                   hex input     =  292471945665.5546 [+27  +88315F73831BF33F]

conversion error - decimal input =  9.140626908123197 [+04  +92400200353A4808]
                   hex input     =  9.140626908123197 [+04  +92400200353A4888]

conversion error - decimal input = -74582.15970407888 [+11  -91AB14712EE9EB04]
                   hex input     = -74582.15970407888 [+11  -91AB14712EE9EB5A]

conversion error - decimal input = -355.7186546883068 [+09  -B1DBFCE077B289F8]
                   hex input     = -355.7186546883068 [+09  -B1DBFCE077B28A5A]

conversion error - decimal input =  0.003652521116972778 [-08  +EF5F22BECF178C0C]
                   hex input     =  0.003652521116972778 [-08  +EF5F22BECF178C92]

conversion error - decimal input =  9172.890406167405 [+0E  +8F538FC6A264A308]
                   hex input     =  9172.890406167405 [+0E  +8F538FC6A264A3BF]

conversion error - decimal input =  8582291.999160707 [+18  +82F493FFC8FF0004]
                   hex input     =  8582291.999160707 [+18  +82F493FFC8FF006D]

conversion error - decimal input =  7414744546.918593 [+21  +DCFA02F175947604]
                   hex input     =  7414744546.918593 [+21  +DCFA02F1759476BB]

conversion error - decimal input = -60562520103.83057 [+24  -E19CEB827D4A0708]
                   hex input     = -60562520103.83057 [+24  -E19CEB827D4A07BD]

conversion error - decimal input = -4150919.086313396 [+16  -FD5A1C586289F708]
                   hex input     = -4150919.086313396 [+16  -FD5A1C586289F74B]

conversion error - decimal input = -916.6162621215596 [+0A  -E52770D6AE772A00]
                   hex input     = -916.6162621215596 [+0A  -E52770D6AE772A98]

conversion error - decimal input =  16467.92692147484 [+0F  +80A7DA957398C604]
                   hex input     =  16467.92692147484 [+0F  +80A7DA957398C674]

conversion error - decimal input = -26.85130178112287 [+05  -D6CF774EE79814FC]
                   hex input     = -26.85130178112287 [+05  -D6CF774EE79815AD]

conversion error - decimal input = -0.04378018691692731 [-04  -B352DA7055E47F00]
                   hex input     = -0.04378018691692731 [-04  -B352DA7055E47FCE]

conversion error - decimal input =  922922.1531370393 [+14  +E152A2733FD2FC04]
                   hex input     =  922922.1531370393 [+14  +E152A2733FD2FC6A]

conversion error - decimal input =  96957049.13028470 [+1B  +B8EE4F242B4AD1FC]
                   hex input     =  96957049.13028470 [+1B  +B8EE4F242B4AD247]

conversion error - decimal input = -157.0439513438361 [+08  -9D0B406530642F1C]
                   hex input     = -157.0439513438361 [+08  -9D0B406530642F66]

conversion error - decimal input = -59574.49030851865 [+10  -E8B67D84DBEC910C]
                   hex input     = -59574.49030851865 [+10  -E8B67D84DBEC9152]

conversion error - decimal input = -7161537.778385408 [+17  -DA8D838E88883B00]
                   hex input     = -7161537.778385408 [+17  -DA8D838E88883B63]

conversion error - decimal input = -0.004052050557586204 [-07  -84C71050337D1CFC]
                   hex input     = -0.004052050557586204 [-07  -84C71050337D1D88]

conversion error - decimal input =  6.3E-17 [-35  +91DC39B6F97C2A08]
                   hex input     =  6.3E-17 [-35  +91DC39B6F97C2A81]

conversion error - decimal input =  21013.79686211263 [+0F  +A42B97FE4F92561C]
                   hex input     =  21013.79686211263 [+0F  +A42B97FE4F9256AC]

conversion error - decimal input = -687.6768919734289 [+0A  -ABEB5232B63353FC]
                   hex input     = -687.6768919734289 [+0A  -ABEB5232B6335479]

conversion error - decimal input = -65901461.13207956 [+1A  -FB64E54873FDD608]
                   hex input     = -65901461.13207956 [+1A  -FB64E54873FDD698]

conversion error - decimal input =  115570914.7795198 [+1B  +DC6F1C58F1D38FEC]
                   hex input     =  115570914.7795198 [+1B  +DC6F1C58F1D3903F]

conversion error - decimal input = -10.91764187535829 [+04  -AEAEA93F41A9BFEC]
                   hex input     = -10.91764187535829 [+04  -AEAEA93F41A9C0BA]

conversion error - decimal input = -0.4195883939006027 [-01  -D6D44A3B2B236610]
                   hex input     = -0.4195883939006027 [-01  -D6D44A3B2B236693]

conversion error - decimal input =  3584.607831714191 [+0C  +E009B9ADBF5EC410]
                   hex input     =  3584.607831714191 [+0C  +E009B9ADBF5EC484]

conversion error - decimal input =  19.56562750601432 [+05  +9C8667B6C06575E8]
                   hex input     =  19.56562750601432 [+05  +9C8667B6C06576C3]

conversion error - decimal input = -34.18088156271665 [+06  -88B9390431450500]
                   hex input     = -34.18088156271665 [+06  -88B93904314505F7]

conversion error - decimal input =  49.38660443440468 [+06  +C58BE2086906D704]
                   hex input     =  49.38660443440468 [+06  +C58BE2086906D754]

conversion error - decimal input = -25651.66545948437 [+0F  -C86754B71B045DF0]
                   hex input     = -25651.66545948437 [+0F  -C86754B71B045E7D]

conversion error - decimal input = -2378.038149865018 [+0C  -94A09C430869900C]
                   hex input     = -2378.038149865018 [+0C  -94A09C43086990E1]

conversion error - decimal input = -130868862.1431677 [+1B  -F99CCFC494D45D08]
                   hex input     = -130868862.1431677 [+1B  -F99CCFC494D45DF1]

conversion error - decimal input =  174.5009977312605 [+08  +AE80416327224BF4]
                   hex input     =  174.5009977312605 [+08  +AE80416327224CF2]

conversion error - decimal input =  71.15128550539550 [+07  +8E4D754B3410A500]
                   hex input     =  71.15128550539550 [+07  +8E4D754B3410A577]

conversion error - decimal input =  47.31709013092693 [+06  +BD44B34678DCB2F4]
                   hex input     =  47.31709013092693 [+06  +BD44B34678DCB355]

conversion error - decimal input = -561.5182598386336 [+0A  -8C612B2B5070BFF8]
                   hex input     = -561.5182598386336 [+0A  -8C612B2B5070C038]

double precision error: function HSINE
   arg1            = -7.023792266845703 [+03  -E0C2E80000000000]
   expected result = -561.5182598386336 [+0A  -8C612B2B5070C038]
   result          = -561.5182598386336 [+0A  -8C612B2B5070C07C]

conversion error - decimal input = -264.2713817324462 [+09  -8422BCA2F8CB4510]
                   hex input     = -264.2713817324462 [+09  -8422BCA2F8CB4577]

conversion error - decimal input =  2767.728351307914 [+0C  +ACFBA753B377DAFC]
                   hex input     =  2767.728351307914 [+0C  +ACFBA753B377DB57]

conversion error - decimal input = -101064564.6401542 [+1B  -C0C3EE947C24B8C0]
                   hex input     = -101064564.6401542 [+1B  -C0C3EE947C24B977]

conversion error - decimal input =  3069481.921310516 [+16  +BB58A7AF6C061E0C]
                   hex input     =  3069481.921310516 [+16  +BB58A7AF6C061EC1]

conversion error - decimal input =  0.007481644807971595 [-07  +F52895E2A09A3CF8]
                   hex input     =  0.007481644807971595 [-07  +F52895E2A09A3DCA]

double precision error: function HSINE
   arg1            =  0.007481575012207031 [-07  +F528000000000000]
   expected result =  0.007481644807971595 [-07  +F52895E2A09A3DCA]
   result          =  0.007481644807971595 [-07  +F52895E2A09A3D00]

conversion error - decimal input = -12.84196346431368 [+04  -CD78AEAE7A773EDC]
                   hex input     = -12.84196346431368 [+04  -CD78AEAE7A773F60]

conversion error - decimal input = -230530.1426893027 [+12  -E1208921D25019F0]
                   hex input     = -230530.1426893027 [+12  -E1208921D2501A55]

conversion error - decimal input =  58458.71911245844 [+10  +E45AB817C10B2804]
                   hex input     =  58458.71911245844 [+10  +E45AB817C10B2887]

conversion error - decimal input = -42535265.27048275 [+1A  -A24258514F96DEFC]
                   hex input     = -42535265.27048275 [+1A  -A24258514F96DFD2]

conversion error - decimal input = -13031.64362363391 [+0E  -CB9E931212EA42F8]
                   hex input     = -13031.64362363391 [+0E  -CB9E931212EA43C6]

conversion error - decimal input =  538.2458299633364 [+0A  +868FBBAD993A060C]
                   hex input     =  538.2458299633364 [+0A  +868FBBAD993A0683]

conversion error - decimal input = -11041007.43939358 [+18  -A878EF707C18FEE4]
                   hex input     = -11041007.43939358 [+18  -A878EF707C18FF2E]

conversion error - decimal input =  176480995.9355709 [+1C  +A84E2E3EF8192DF4]
                   hex input     =  176480995.9355709 [+1C  +A84E2E3EF8192E48]

conversion error - decimal input =  667.3864402366012 [+0A  +A6D8BB6FD483DEFC]
                   hex input     =  667.3864402366012 [+0A  +A6D8BB6FD483DFBA]

conversion error - decimal input =  6254897.021859916 [+17  +BEE2620B31390F00]
                   hex input     =  6254897.021859916 [+17  +BEE2620B31390FF0]

conversion error - decimal input = -51744140.09043894 [+1A  -C5636305C9C06400]
                   hex input     = -51744140.09043894 [+1A  -C5636305C9C06492]

conversion error - decimal input =  487846.4144784094 [+13  +EE34CD436839AA10]
                   hex input     =  487846.4144784094 [+13  +EE34CD436839AAAB]

conversion error - decimal input = -37.96450626714103 [+06  -97DBA787E8A18D0C]
                   hex input     = -37.96450626714103 [+06  -97DBA787E8A18D5A]

conversion error - decimal input =  280135.8062976819 [+13  +88C8F9CD30CBD6F4]
                   hex input     =  280135.8062976819 [+13  +88C8F9CD30CBD7D1]

conversion error - decimal input =  7819.299264131943 [+0D  +F45A64E497DC79F8]
                   hex input     =  7819.299264131943 [+0D  +F45A64E497DC7ABE]

conversion error - decimal input = -258.4835502525060 [+09  -813DE4F9843E2FF0]
                   hex input     = -258.4835502525060 [+09  -813DE4F9843E3069]

conversion error - decimal input = -23.46269812284049 [+05  -BBB39B12CC29FE1C]
                   hex input     = -23.46269812284049 [+05  -BBB39B12CC29FE73]

conversion error - decimal input =  2124.116651077017 [+0C  +84C1DDCD850D4610]
                   hex input     =  2124.116651077017 [+0C  +84C1DDCD850D4667]

conversion error - decimal input =  4260521.449637774 [+17  +820552E636EC1BFC]
                   hex input     =  4260521.449637774 [+17  +820552E636EC1C47]

conversion error - decimal input =  0.008545025860940532 [-06  +8C006FA7700C2100]
                   hex input     =  0.008545025860940532 [-06  +8C006FA7700C218B]

double precision error: function HSINE
   arg1            =  0.008544921875000000 [-06  +8C00000000000000]
   expected result =  0.008545025860940532 [-06  +8C006FA7700C218B]
   result          =  0.008545025860940532 [-06  +8C006FA7700C2200]

conversion error - decimal input = -73286.04964754729 [+11  -8F23065AD9CFF708]
                   hex input     = -73286.04964754729 [+11  -8F23065AD9CFF7AD]

conversion error - decimal input =  120.8960395079024 [+07  +F1CAC5B0BCBAA4F4]
                   hex input     =  120.8960395079024 [+07  +F1CAC5B0BCBAA5DA]

conversion error - decimal input =  15818839.06185899 [+18  +F160570FD5FDB20C]
                   hex input     =  15818839.06185899 [+18  +F160570FD5FDB262]

conversion error - decimal input =  85436.91973248054 [+11  +A6DE75B9CB3E7D04]
                   hex input     =  85436.91973248054 [+11  +A6DE75B9CB3E7D7B]

conversion error - decimal input = -6730.286637504806 [+0D  -D2524B089AA797F8]
                   hex input     = -6730.286637504806 [+0D  -D2524B089AA798CF]

conversion error - decimal input =  89.35577537107377 [+07  +B2B628307EF7DE00]
                   hex input     =  89.35577537107377 [+07  +B2B628307EF7DE76]

conversion error - decimal input =  49371166.14653590 [+1A  +BC56078960D81FFC]
                   hex input     =  49371166.14653590 [+1A  +BC56078960D8207C]

conversion error - decimal input = -4999734.097402312 [+17  -98946C31DEB74000]
                   hex input     = -4999734.097402312 [+17  -98946C31DEB7404F]

double precision error: function HSINE
   arg1            = -16.11804246902466 [+05  -80F1C04000000000]
   expected result = -4999734.097402312 [+17  -98946C31DEB7404F]
   result          = -4999734.097402312 [+17  -98946C31DEB740A0]

conversion error - decimal input = -12464630.24491733 [+18  -BE31F63EB2E6E1D4]
                   hex input     = -12464630.24491733 [+18  -BE31F63EB2E6E224]

conversion error - decimal input = -2688417.768668371 [+16  -A41687131DCD2D0C]
                   hex input     = -2688417.768668371 [+16  -A41687131DCD2D4D]

conversion error - decimal input = -39.71277328208082 [+06  -9ED9E13D3FFFB30C]
                   hex input     = -39.71277328208082 [+06  -9ED9E13D3FFFB34F]

conversion error - decimal input = -2299799.717430723 [+16  -8C5E5EDEA628CD18]
                   hex input     = -2299799.717430723 [+16  -8C5E5EDEA628CDF4]

double precision error: function HSINE
   arg1            = -15.34147977828979 [+04  -F576B38000000000]
   expected result = -2299799.717430723 [+16  -8C5E5EDEA628CDF4]
   result          = -2299799.717430723 [+16  -8C5E5EDEA628CE34]

conversion error - decimal input =  125897670.6975058 [+1B  +F02178D651F7AEFC]
                   hex input     =  125897670.6975058 [+1B  +F02178D651F7AF3E]

conversion error - decimal input = -0.3873840403446658 [-01  -C65733708B9D4714]
                   hex input     = -0.3873840403446658 [-01  -C65733708B9D47FD]

conversion error - decimal input = -2374.061359708149 [+0C  -9460FB54513CAA00]
                   hex input     = -2374.061359708149 [+0C  -9460FB54513CAA53]

conversion error - decimal input =  4801541.530561594 [+17  +92880B0FA5C4ECFC]
                   hex input     =  4801541.530561594 [+17  +92880B0FA5C4EDE4]

conversion error - decimal input =  25.30777040607525 [+05  +CA765054A628A6F0]
                   hex input     =  25.30777040607525 [+05  +CA765054A628A73F]

conversion error - decimal input = -2204.885734599926 [+0C  -89CE2BF80B39E914]
                   hex input     = -2204.885734599926 [+0C  -89CE2BF80B39E9E8]

conversion error - decimal input =  4.427707031675011 [+03  +8DAFC6A82A077500]
                   hex input     =  4.427707031675012 [+03  +8DAFC6A82A0775AB]

conversion error - decimal input =  2783587.282774280 [+16  +A9E58D218F94B408]
                   hex input     =  2783587.282774280 [+16  +A9E58D218F94B481]

conversion error - decimal input = -47.21102863698276 [+06  -BCD817E419710A00]
                   hex input     = -47.21102863698276 [+06  -BCD817E419710AD9]

conversion error - decimal input =  3.892204073363068 [+02  +F919DF1D1CF38618]
                   hex input     =  3.892204073363068 [+02  +F919DF1D1CF3869A]

double precision error: function HSINE
   arg1            =  2.068231105804443 [+02  +845DE60000000000]
   expected result =  3.892204073363068 [+02  +F919DF1D1CF3869A]
   result          =  3.892204073363068 [+02  +F919DF1D1CF38658]

conversion error - decimal input =  24501.09208759780 [+0F  +BF6A2F261B09CDFC]
                   hex input     =  24501.09208759780 [+0F  +BF6A2F261B09CE9F]

double precision error: function HSINE
   arg1            = -0.8742976188659668 [+00  -DFD1F80000000000]
   expected result = -0.9900180211304878 [+00  -FD71D22F34C1C915]
   result          = -0.9900180211304878 [+00  -FD71D22F34C1C990]

conversion error - decimal input =  253879.5868246190 [+12  +F7EDE58E88D8BC0C]
                   hex input     =  253879.5868246190 [+12  +F7EDE58E88D8BC78]

conversion error - decimal input =  91933.52943519275 [+11  +B38EC3C4884B1A08]
                   hex input     =  91933.52943519275 [+11  +B38EC3C4884B1A4C]

double precision error: function HSINE
   arg1            =  12.12196826934814 [+04  +C1F3950000000000]
   expected result =  91933.52943519275 [+11  +B38EC3C4884B1A4C]
   result          =  91933.52943519275 [+11  +B38EC3C4884B1A08]

conversion error - decimal input =  116512.8334522523 [+11  +E3906AAE903B2524]
                   hex input     =  116512.8334522523 [+11  +E3906AAE903B25B2]

conversion error - decimal input =  16161788.32775851 [+18  +F69BFC53E7FB4B00]
                   hex input     =  16161788.32775851 [+18  +F69BFC53E7FB4B8E]

conversion error - decimal input =  345343.3927547284 [+13  +A89FEC91725D370C]
                   hex input     =  345343.3927547284 [+13  +A89FEC91725D37AA]

conversion error - decimal input = -9181253.632028663 [+18  -8C1845A1CCA16404]
                   hex input     = -9181253.632028663 [+18  -8C1845A1CCA164E5]

conversion error - decimal input =  37.34903563963471 [+06  +95656999457A68F8]
                   hex input     =  37.34903563963472 [+06  +95656999457A6973]

conversion error - decimal input =  52179226.25752965 [+1A  +C70C46907B5DA5F4]
                   hex input     =  52179226.25752965 [+1A  +C70C46907B5DA6E6]

conversion error - decimal input =  51.68001198806715 [+06  +CEB85510068BA404]
                   hex input     =  51.68001198806715 [+06  +CEB85510068BA4B6]

conversion error - decimal input =  19.03076311640737 [+05  +983F00BB97243CEC]
                   hex input     =  19.03076311640737 [+05  +983F00BB97243DFE]

conversion error - decimal input = -0.7480726836743609 [+00  -BF81B0FF698EACFC]
                   hex input     = -0.7480726836743609 [+00  -BF81B0FF698EAD91]

conversion error - decimal input =  203.2238973931968 [+08  +CB395156ED70A924]
                   hex input     =  203.2238973931968 [+08  +CB395156ED70A9EA]

conversion error - decimal input =  5884.511319871255 [+0D  +B7E4172EDF66AD00]
                   hex input     =  5884.511319871255 [+0D  +B7E4172EDF66AD64]

conversion error - decimal input =  1119056.145230747 [+15  +889A81296EBCD82C]
                   hex input     =  1119056.145230747 [+15  +889A81296EBCD89A]

conversion error - decimal input =  115803.3091745742 [+11  +E22DA793084E6504]
                   hex input     =  115803.3091745742 [+11  +E22DA793084E65E8]

conversion error - decimal input =  54.67050698949434 [+06  +DAAE99625E7868F4]
                   hex input     =  54.67050698949434 [+06  +DAAE99625E786939]

conversion error - decimal input =  15.01396702410949 [+04  +F039357C7C5CF80C]
                   hex input     =  15.01396702410949 [+04  +F039357C7C5CF859]

conversion error - decimal input =  4028404.312344940 [+16  +F5DFD13FD75A1DF4]
                   hex input     =  4028404.312344940 [+16  +F5DFD13FD75A1EA2]

conversion error - decimal input =  9.702766306697083 [+04  +9B3E87E1FFEA3404]
                   hex input     =  9.702766306697083 [+04  +9B3E87E1FFEA3492]

conversion error - decimal input =  28.96460786170837 [+05  +E7B784539C03F008]
                   hex input     =  28.96460786170837 [+05  +E7B784539C03F0D7]

conversion error - decimal input =  25058.78353630937 [+0F  +C3C5912BABCFFBEC]
                   hex input     =  25058.78353630937 [+0F  +C3C5912BABCFFCB4]

conversion error - decimal input =  149.1999624120382 [+08  +953330BC942222F4]
                   hex input     =  149.1999624120382 [+08  +953330BC9422239C]

conversion error - decimal input =  3092480.988952109 [+16  +BCC003F4AFDC9B04]
                   hex input     =  3092480.988952109 [+16  +BCC003F4AFDC9BB4]

conversion error - decimal input =  36.66684559177760 [+06  +92AAD99220AA8DFC]
                   hex input     =  36.66684559177760 [+06  +92AAD99220AA8EC3]

conversion error - decimal input =  1.013272144574669 [+01  +81B2E6D172AFB4EC]
                   hex input     =  1.013272144574669 [+01  +81B2E6D172AFB57E]

conversion error - decimal input =  1.291509428509812 [+01  +A5502E52F66FF218]
                   hex input     =  1.291509428509812 [+01  +A5502E52F66FF26B]

conversion error - decimal input =  881949.3523863517 [+14  +D751D5A35FDF0400]
                   hex input     =  881949.3523863517 [+14  +D751D5A35FDF04FC]

conversion error - decimal input =  28911885.13859588 [+19  +DC948691BD8280EC]
                   hex input     =  28911885.13859588 [+19  +DC948691BD8281D4]

conversion error - decimal input =  1.043346551705441 [+01  +858C613AFC1017EC]
                   hex input     =  1.043346551705441 [+01  +858C613AFC1018DE]

conversion error - decimal input =  6819714.722394958 [+17  +D01F0571DDC07BFC]
                   hex input     =  6819714.722394958 [+17  +D01F0571DDC07CA4]

double precision error: function HCOSINE
   arg1            =  13.51433038711548 [+04  +D83AB28000000000]
   expected result =  369972.2221594387 [+13  +B4A6871BEE1C7516]
   result          =  369972.2221594387 [+13  +B4A6871BEE1C748C]

conversion error - decimal input =  63344337.17546950 [+1A  +F1A3B44B3AE469FC]
                   hex input     =  63344337.17546950 [+1A  +F1A3B44B3AE46ABC]

conversion error - decimal input =  9.213594097896865 [+04  +936AE1A5115ED908]
                   hex input     =  9.213594097896865 [+04  +936AE1A5115ED9B3]

conversion error - decimal input =  25231.74142439360 [+0F  +C51F7B9BFA65F8F8]
                   hex input     =  25231.74142439360 [+0F  +C51F7B9BFA65F992]

double precision error: function HCOSINE
   arg1            =  10.82900524139404 [+04  +AD439B0000000000]
   expected result =  25231.74142439360 [+0F  +C51F7B9BFA65F992]
   result          =  25231.74142439360 [+0F  +C51F7B9BFA65F91C]

conversion error - decimal input =  46224.37049741749 [+10  +B4905ED8EB335AF4]
                   hex input     =  46224.37049741749 [+10  +B4905ED8EB335B8B]

conversion error - decimal input =  12.33376424157260 [+04  +C557192C620E7FF4]
                   hex input     =  12.33376424157260 [+04  +C557192C620E8060]

conversion error - decimal input =  195.6157880452794 [+08  +C39DA4490BBE26F0]
                   hex input     =  195.6157880452794 [+08  +C39DA4490BBE2735]

conversion error - decimal input =  23966.95232026455 [+0F  +BB3DE796858F16F8]
                   hex input     =  23966.95232026455 [+0F  +BB3DE796858F1788]

conversion error - decimal input =  13.65945138258957 [+04  +DA8D1CE498630624]
                   hex input     =  13.65945138258957 [+04  +DA8D1CE4986306D0]

conversion error - decimal input =  2.644347526819132 [+02  +A93CFD68BC95FE0C]
                   hex input     =  2.644347526819132 [+02  +A93CFD68BC95FEA2]

conversion error - decimal input =  610324.0945295363 [+14  +9501418331672CFC]
                   hex input     =  610324.0945295363 [+14  +9501418331672D80]

conversion error - decimal input =  125.5753390644311 [+07  +FB2692D783AF94BC]
                   hex input     =  125.5753390644311 [+07  +FB2692D783AF950D]

conversion error - decimal input =  4.170821599003304 [+03  +85775EDBA56D7E08]
                   hex input     =  4.170821599003304 [+03  +85775EDBA56D7EB9]

conversion error - decimal input =  59517905.60477573 [+1A  +E30AF466B4A54510]
                   hex input     =  59517905.60477573 [+1A  +E30AF466B4A545A7]

conversion error - decimal input =  387053.5086760409 [+13  +BCFDB04712FA01FC]
                   hex input     =  387053.5086760409 [+13  +BCFDB04712FA02DD]

conversion error - decimal input =  62848810.27612468 [+1A  +EFBFCA91AC06D604]
                   hex input     =  62848810.27612468 [+1A  +EFBFCA91AC06D6D8]

conversion error - decimal input =  1155577.923091660 [+15  +8D0FCF627DE156F4]
                   hex input     =  1155577.923091660 [+15  +8D0FCF627DE15741]

conversion error - decimal input =  269.3776417882219 [+09  +86B05690ED0209F4]
                   hex input     =  269.3776417882219 [+09  +86B05690ED020A8E]

conversion error - decimal input =  781.8112932423236 [+0A  +C373EC3A7DCFBC04]
                   hex input     =  781.8112932423237 [+0A  +C373EC3A7DCFBCCB]

conversion error - decimal input =  629620.9982454374 [+14  +99B74FF8D03532FC]
                   hex input     =  629620.9982454374 [+14  +99B74FF8D0353347]

conversion error - decimal input =  2732163.451085900 [+16  +A6C20DCDE97657F8]
                   hex input     =  2732163.451085900 [+16  +A6C20DCDE97658DB]

conversion error - decimal input =  1.171067124704894 [+01  +95E5870D039E7820]
                   hex input     =  1.171067124704894 [+01  +95E5870D039E787C]

conversion error - decimal input =  78.67270160248368 [+07  +9D586C582D44B304]
                   hex input     =  78.67270160248368 [+07  +9D586C582D44B3C2]

conversion error - decimal input =  67023801.40647114 [+1A  +FFACEE5A039F8C00]
                   hex input     =  67023801.40647114 [+1A  +FFACEE5A039F8C81]

conversion error - decimal input =  1934.337578810772 [+0B  +F1CACD721402C508]
                   hex input     =  1934.337578810772 [+0B  +F1CACD721402C5EB]

conversion error - decimal input =  25.97575864292608 [+05  +CFCE5A8C21413C08]
                   hex input     =  25.97575864292608 [+05  +CFCE5A8C21413C67]

conversion error - decimal input =  48135860.79264577 [+1A  +B79FAD32BAB54E0C]
                   hex input     =  48135860.79264577 [+1A  +B79FAD32BAB54E9E]

conversion error - decimal input =  298.2174742223309 [+09  +951BD63200513204]
                   hex input     =  298.2174742223309 [+09  +951BD632005132D1]

conversion error - decimal input =  25330135.73496669 [+19  +C140EBDE136373F8]
                   hex input     =  25330135.73496669 [+19  +C140EBDE13637486]

conversion error - decimal input =  439.4822725726790 [+09  +DBBDBB1B8FB503F0]
                   hex input     =  439.4822725726790 [+09  +DBBDBB1B8FB504E4]

conversion error - decimal input =  1.646102053198083 [+01  +D2B378DA2E9EC0E0]
                   hex input     =  1.646102053198083 [+01  +D2B378DA2E9EC12E]

conversion error - decimal input =  38.93951908074127 [+06  +9BC2114A3701CD0C]
                   hex input     =  38.93951908074128 [+06  +9BC2114A3701CD9E]

conversion error - decimal input =  69.08888955190374 [+07  +8A2D82EE6CC3ED08]
                   hex input     =  69.08888955190374 [+07  +8A2D82EE6CC3ED75]

conversion error - decimal input =  182133382.1358430 [+1C  +ADB228622C69B40C]
                   hex input     =  182133382.1358430 [+1C  +ADB228622C69B4BE]

conversion error - decimal input =  2372128.954163276 [+16  +90C883D1102D8DF0]
                   hex input     =  2372128.954163277 [+16  +90C883D1102D8ED7]

conversion error - decimal input =  1.201212226971211 [+01  +99C1527F32C66108]
                   hex input     =  1.201212226971211 [+01  +99C1527F32C661D6]

conversion error - decimal input =  5.216637525079092 [+03  +A6EEB1D1A9A27000]
                   hex input     =  5.216637525079092 [+03  +A6EEB1D1A9A270EA]

conversion error - decimal input =  14.30466012061624 [+04  +E4DFE34A671317E4]
                   hex input     =  14.30466012061624 [+04  +E4DFE34A671318F4]

conversion error - decimal input =  153.2131356700439 [+08  +9936900F2C7314E0]
                   hex input     =  153.2131356700439 [+08  +9936900F2C73156A]

conversion error - decimal input =  1.522874801193530 [+01  +C2ED8FBD83ACE704]
                   hex input     =  1.522874801193530 [+01  +C2ED8FBD83ACE7D2]

conversion error - decimal input =  24214.15623226169 [+0F  +BD2C4FFDACCD0C1C]
                   hex input     =  24214.15623226169 [+0F  +BD2C4FFDACCD0CC8]

conversion error - decimal input =  1320112.328617414 [+15  +A12582A1022AB9D8]
                   hex input     =  1320112.328617414 [+15  +A12582A1022ABA3A]

conversion error - decimal input =  1.007908729440131 [+01  +8103273B262DDDD4]
                   hex input     =  1.007908729440131 [+01  +8103273B262DDEA2]

conversion error - decimal input =  1.570208172301123 [+01  +C8FC94D5F8FE16F8]
                   hex input     =  1.570208172301123 [+01  +C8FC94D5F8FE17A9]

conversion error - decimal input =  1.004411505687738 [+01  +80908E6453D57D18]
                   hex input     =  1.004411505687738 [+01  +80908E6453D57D74]

conversion error - decimal input =  93.63875543016296 [+07  +BB470AF3A5627800]
                   hex input     =  93.63875543016296 [+07  +BB470AF3A5627866]

conversion error - decimal input =  1153.080742542597 [+0B  +90229571627B3ED4]
                   hex input     =  1153.080742542597 [+0B  +90229571627B3F47]

conversion error - decimal input =  2548473.663610750 [+16  +9B8BE6A789939A00]
                   hex input     =  2548473.663610750 [+16  +9B8BE6A789939AAC]

conversion error - decimal input =  339.2549791990083 [+09  +A9A0A3288C734EF4]
                   hex input     =  339.2549791990083 [+09  +A9A0A3288C734FF6]

double precision error: function HCOSINE
   arg1            = -2.687604427337646 [+02  -AC01B60000000000]
   expected result =  7.382235552733672 [+03  +EC3B460DCB81E242]
   result          =  7.382235552733672 [+03  +EC3B460DCB81E2E0]

conversion error - decimal input =  194408.6542201054 [+12  +BDDA29DEBE0143F0]
                   hex input     =  194408.6542201054 [+12  +BDDA29DEBE01443C]

conversion error - decimal input =  22731905.74461882 [+19  +AD6E40DF4FAB6C1C]
                   hex input     =  22731905.74461882 [+19  +AD6E40DF4FAB6CC2]

conversion error - decimal input =  594888.7578354009 [+14  +913C8C20180368FC]
                   hex input     =  594888.7578354009 [+14  +913C8C201803693D]

conversion error - decimal input =  1328035.970291875 [+15  +A21D1FC328630408]
                   hex input     =  1328035.970291875 [+15  +A21D1FC32863049B]

conversion error - decimal input =  352981.8192790466 [+13  +AC5ABA3788B0EAF4]
                   hex input     =  352981.8192790466 [+13  +AC5ABA3788B0EBE6]

conversion error - decimal input =  604.5641868211420 [+0A  +97241BA30A68E4FC]
                   hex input     =  604.5641868211420 [+0A  +97241BA30A68E56E]

conversion error - decimal input =  187349376.9912978 [+1C  +B2AB980FDC5B1BF8]
                   hex input     =  187349376.9912978 [+1C  +B2AB980FDC5B1CB4]

conversion error - decimal input =  1394118.384348040 [+15  +AA2E33132510B9F0]
                   hex input     =  1394118.384348040 [+15  +AA2E33132510BAC1]

conversion error - decimal input =  818.9448720021613 [+0A  +CCBC78C86B0C1408]
                   hex input     =  818.9448720021613 [+0A  +CCBC78C86B0C146B]

conversion error - decimal input =  0.9999999789719728 [+00  +FFFFFFA5AF7088F8]
                   hex input     =  0.9999999789719728 [+00  +FFFFFFA5AF7089DF]

conversion error - decimal input =  0.9999999999999996 [+00  +FFFFFFFFFFFFE4FC]
                   hex input     =  0.9999999999999996 [+00  +FFFFFFFFFFFFE5F5]

conversion error - decimal input = -0.9999999999999795 [+00  -FFFFFFFFFFFA3B0C]
                   hex input     = -0.9999999999999795 [+00  -FFFFFFFFFFFA3BB1]

conversion error - decimal input =  0.9999999998274103 [+00  +FFFFFFFF423C5008]
                   hex input     =  0.9999999998274103 [+00  +FFFFFFFF423C50ED]

conversion error - decimal input =  1.0000000000000003 [+00  +FFFFFFFFFFFFFF00]
                   hex input     =  1.0000000000000004 [+00  +FFFFFFFFFFFFFF52]

conversion error - decimal input = -0.9999998860567793 [+00  -FFFFFE169E1A97F8]
                   hex input     = -0.9999998860567793 [+00  -FFFFFE169E1A9877]

conversion error - decimal input = -1.0000000000000003 [+00  -FFFFFFFFFFFFFF00]
                   hex input     = -1.0000000000000004 [+00  -FFFFFFFFFFFFFF62]

conversion error - decimal input =  0.9965250332955761 [+00  +FF1C43BBA659F900]
                   hex input     =  0.9965250332955761 [+00  +FF1C43BBA659F9C6]

conversion error - decimal input =  0.9999999999999992 [+00  +FFFFFFFFFFFFC704]
                   hex input     =  0.9999999999999992 [+00  +FFFFFFFFFFFFC7ED]

conversion error - decimal input =  0.9999999999999999 [+00  +FFFFFFFFFFFFFBF8]
                   hex input     =  0.9999999999999999 [+00  +FFFFFFFFFFFFFC5F]

conversion error - decimal input =  0.1898160157130420 [-02  +C25F212EFA67FFE4]
                   hex input     =  0.1898160157130420 [-02  +C25F212EFA680074]

conversion error - decimal input = -0.6142797845453285 [+00  -9D4170A137531CFC]
                   hex input     = -0.6142797845453285 [+00  -9D4170A137531D40]

conversion error - decimal input = -0.9999999999997697 [+00  -FFFFFFFFFFBF2D00]
                   hex input     = -0.9999999999997697 [+00  -FFFFFFFFFFBF2DF4]

conversion error - decimal input =  0.9999996828819714 [+00  +FFFFFAADFD0A49FC]
                   hex input     =  0.9999996828819714 [+00  +FFFFFAADFD0A4A7D]

conversion error - decimal input = -0.9999998989352484 [+00  -FFFFFE4DEE216300]
                   hex input     = -0.9999998989352484 [+00  -FFFFFE4DEE216369]

conversion error - decimal input = -0.9595969169854123 [+00  -F5A824BFCB763BFC]
                   hex input     = -0.9595969169854123 [+00  -F5A824BFCB763C7D]

conversion error - decimal input = -0.9999999367374979 [+00  -FFFFFEF04A24B200]
                   hex input     = -0.9999999367374979 [+00  -FFFFFEF04A24B2E6]

conversion error - decimal input =  1.0000000000000002 [+00  +FFFFFFFFFFFFFDFC]
                   hex input     =  1.0000000000000003 [+00  +FFFFFFFFFFFFFED7]

conversion error - decimal input = -0.9999999984352919 [+00  -FFFFFFF94795D5FC]
                   hex input     = -0.9999999984352920 [+00  -FFFFFFF94795D6A0]

conversion error - decimal input =  0.9999999999999789 [+00  +FFFFFFFFFFFA1008]
                   hex input     =  0.9999999999999789 [+00  +FFFFFFFFFFFA1095]

conversion error - decimal input = -0.9964457386577972 [+00  -FF171163C617DFFC]
                   hex input     = -0.9964457386577972 [+00  -FF171163C617E088]

conversion error - decimal input = -0.9920452851163368 [+00  -FDF6AE07B9C4FB08]
                   hex input     = -0.9920452851163368 [+00  -FDF6AE07B9C4FBCD]

conversion error - decimal input = -0.9999999987927240 [+00  -FFFFFFFAD0960204]
                   hex input     = -0.9999999987927240 [+00  -FFFFFFFAD0960292]

conversion error - decimal input = -0.9861062464844037 [+00  -FC71757F0825EF0C]
                   hex input     = -0.9861062464844037 [+00  -FC71757F0825EFB9]

conversion error - decimal input = -0.9999999999999975 [+00  -FFFFFFFFFFFF48FC]
                   hex input     = -0.9999999999999975 [+00  -FFFFFFFFFFFF49F5]

conversion error - decimal input =  0.9999998784986403 [+00  +FFFFFDF627D79B0C]
                   hex input     =  0.9999998784986403 [+00  +FFFFFDF627D79B55]

conversion error - decimal input =  0.9745230836856104 [+00  +F97A5845A073D8FC]
                   hex input     =  0.9745230836856104 [+00  +F97A5845A073D9C8]

conversion error - decimal input = -0.9994410033741752 [+00  -FFDB5D97C604A200]
                   hex input     = -0.9994410033741752 [+00  -FFDB5D97C604A28B]

conversion error - decimal input = -0.9999999829445902 [+00  -FFFFFFB6BF60EAF8]
                   hex input     = -0.9999999829445902 [+00  -FFFFFFB6BF60EB46]

conversion error - decimal input = -0.9999999755626590 [+00  -FFFFFF970ADC0300]
                   hex input     = -0.9999999755626590 [+00  -FFFFFF970ADC03B4]

conversion error - decimal input =  0.9999999995970895 [+00  +FFFFFFFE44FEC408]
                   hex input     =  0.9999999995970895 [+00  +FFFFFFFE44FEC449]

conversion error - decimal input = -0.9034105618637924 [+00  -E745EA2210E39FFC]
                   hex input     = -0.9034105618637924 [+00  -E745EA2210E3A09E]

conversion error - decimal input =  0.9999999999998429 [+00  +FFFFFFFFFFD3C7F8]
                   hex input     =  0.9999999999998429 [+00  +FFFFFFFFFFD3C8AE]

conversion error - decimal input =  0.9999999791710619 [+00  +FFFFFFA68A572204]
                   hex input     =  0.9999999791710619 [+00  +FFFFFFA68A57226F]

conversion error - decimal input = -0.9999999999955836 [+00  -FFFFFFFFFB24E500]
                   hex input     = -0.9999999999955836 [+00  -FFFFFFFFFB24E5BB]

conversion error - decimal input =  0.9999999999985538 [+00  +FFFFFFFFFE68EB00]
                   hex input     =  0.9999999999985538 [+00  +FFFFFFFFFE68EB9E]

conversion error - decimal input =  0.9999999999999999 [+00  +FFFFFFFFFFFFFB08]
                   hex input     =  0.9999999999999999 [+00  +FFFFFFFFFFFFFB9E]

conversion error - decimal input =  0.9999999962070000 [+00  +FFFFFFEFB58D6D00]
                   hex input     =  0.9999999962070001 [+00  +FFFFFFEFB58D6DE4]

conversion error - decimal input =  0.9999999999993933 [+00  +FFFFFFFFFF553B08]
                   hex input     =  0.9999999999993933 [+00  +FFFFFFFFFF553B8F]

conversion error - decimal input =  1.0000000000000000 [+00  +FFFFFFFFFFFFFCFC]
                   hex input     =  1.0000000000000001 [+00  +FFFFFFFFFFFFFDBE]

conversion error - decimal input =  0.2424616702154309 [-02  +F847DF406F6CB3F0]
                   hex input     =  0.2424616702154309 [-02  +F847DF406F6CB487]

double precision error: function HTANGENT
   arg1            =  0.2473878860473633 [-02  +FD53400000000000]
   expected result =  0.2424616702154309 [-02  +F847DF406F6CB487]
   result          =  0.2424616702154309 [-02  +F847DF406F6CB3DC]

conversion error - decimal input =  0.9999982029838060 [+00  +FFFFE1D9DFCCA608]
                   hex input     =  0.9999982029838060 [+00  +FFFFE1D9DFCCA6C2]

conversion error - decimal input =  0.9999995708922958 [+00  +FFFFF8CCFF16F604]
                   hex input     =  0.9999995708922958 [+00  +FFFFF8CCFF16F6A9]

conversion error - decimal input = -0.9999999999864858 [+00  -FFFFFFFFF1241408]
                   hex input     = -0.9999999999864858 [+00  -FFFFFFFFF12414AC]

conversion error - decimal input = -0.9552613768275602 [+00  -F48C02749B36B300]
                   hex input     = -0.9552613768275602 [+00  -F48C02749B36B3E8]

conversion error - decimal input = -0.9999999999103879 [+00  -FFFFFFFF9D786FF8]
                   hex input     = -0.9999999999103879 [+00  -FFFFFFFF9D7870E7]

conversion error - decimal input =  0.9999999381265462 [+00  +FFFFFEF6416B04F8]
                   hex input     =  0.9999999381265462 [+00  +FFFFFEF6416B058D]

conversion error - decimal input = -0.9999999999833621 [+00  -FFFFFFFFEDB4D908]
                   hex input     = -0.9999999999833621 [+00  -FFFFFFFFEDB4D979]

conversion error - decimal input =  0.9999999999999999 [+00  +FFFFFFFFFFFFFBF8]
                   hex input     =  1.0000000000000000 [+00  +FFFFFFFFFFFFFC73]

conversion error - decimal input =  0.9999999999223686 [+00  +FFFFFFFFAAA4B508]
                   hex input     =  0.9999999999223686 [+00  +FFFFFFFFAAA4B596]

conversion error - decimal input = -0.9999999999403772 [+00  -FFFFFFFFBE71AE00]
                   hex input     = -0.9999999999403772 [+00  -FFFFFFFFBE71AE7F]

conversion error - decimal input =  0.9999999999999986 [+00  +FFFFFFFFFFFF9BFC]
                   hex input     =  0.9999999999999986 [+00  +FFFFFFFFFFFF9C99]

conversion error - decimal input =  0.9999998184281955 [+00  +FFFFFCF427B08C04]
                   hex input     =  0.9999998184281955 [+00  +FFFFFCF427B08C7A]

conversion error - decimal input =  0.9999999520730401 [+00  +FFFFFF3227C011F8]
                   hex input     =  0.9999999520730401 [+00  +FFFFFF3227C01297]

conversion error - decimal input = -0.9999999999977360 [+00  -FFFFFFFFFD82C000]
                   hex input     = -0.9999999999977360 [+00  -FFFFFFFFFD82C06D]

conversion error - decimal input =  0.9999999999999994 [+00  +FFFFFFFFFFFFD2F8]
                   hex input     =  0.9999999999999994 [+00  +FFFFFFFFFFFFD3F6]

conversion error - decimal input =  0.9915191011687133 [+00  +FDD43220E1022208]
                   hex input     =  0.9915191011687133 [+00  +FDD43220E10222BF]

conversion error - decimal input = -0.9999999999943027 [+00  -FFFFFFFFF9BC580C]
                   hex input     = -0.9999999999943027 [+00  -FFFFFFFFF9BC58C3]

conversion error - decimal input =  0.9999937434336307 [+00  +FFFF97084086EB00]
                   hex input     =  0.9999937434336307 [+00  +FFFF97084086EBB8]

conversion error - decimal input =  0.9999999999999999 [+00  +FFFFFFFFFFFFFBF8]
                   hex input     =  1.0000000000000000 [+00  +FFFFFFFFFFFFFC9A]

conversion error - decimal input = -0.9999590314141713 [+00  -FFFD50A94381FF08]
                   hex input     = -0.9999590314141713 [+00  -FFFD50A94381FF65]

conversion error - decimal input =  0.9999999997740043 [+00  +FFFFFFFF0783DB04]
                   hex input     =  0.9999999997740043 [+00  +FFFFFFFF0783DB6F]

conversion error - decimal input =  0.9999932050713812 [+00  +FFFF8E0000F94304]
                   hex input     =  0.9999932050713812 [+00  +FFFF8E0000F943F0]

conversion error - decimal input = -0.9998932717858662 [+00  -FFF90165CF8C5108]
                   hex input     = -0.9998932717858662 [+00  -FFF90165CF8C51EF]

conversion error - decimal input = -0.8676963948346661 [+00  -DE2159D6AC07D208]
                   hex input     = -0.8676963948346661 [+00  -DE2159D6AC07D2EC]

conversion error - decimal input =  0.9999999999997233 [+00  +FFFFFFFFFFB21C04]
                   hex input     =  0.9999999999997233 [+00  +FFFFFFFFFFB21C50]

conversion error - decimal input =  0.9999999846120450 [+00  +FFFFFFBDE8C3B90C]
                   hex input     =  0.9999999846120450 [+00  +FFFFFFBDE8C3B9CD]

conversion error - decimal input =  0.9989998956401170 [+00  +FFBE75087B51B300]
                   hex input     =  0.9989998956401170 [+00  +FFBE75087B51B35F]

conversion error - decimal input = -0.9999999999027503 [+00  -FFFFFFFF9512A304]
                   hex input     = -0.9999999999027503 [+00  -FFFFFFFF9512A393]

conversion error - decimal input = -0.9999971650847744 [+00  -FFFFD07021BEE2F8]
                   hex input     = -0.9999971650847744 [+00  -FFFFD07021BEE3B0]

conversion error - decimal input =  0.9999999999999868 [+00  +FFFFFFFFFFFC4B04]
                   hex input     =  0.9999999999999868 [+00  +FFFFFFFFFFFC4B7D]

conversion error - decimal input = -0.06537873521255837 [-03  -85E5494CBBF816FC]
                   hex input     = -0.06537873521255837 [-03  -85E5494CBBF817A5]

conversion error - decimal input = -0.9630865976569764 [+00  -F68CD7E027125804]
                   hex input     = -0.9630865976569764 [+00  -F68CD7E02712585A]

conversion error - decimal input =  0.9999999982418500 [+00  +FFFFFFF872E4C700]
                   hex input     =  0.9999999982418500 [+00  +FFFFFFF872E4C79C]

conversion error - decimal input = -0.8626107697105932 [+00  -DCD40F35159A4404]
                   hex input     = -0.8626107697105932 [+00  -DCD40F35159A44E7]

conversion error - decimal input =  0.9999999998303283 [+00  +FFFFFFFF4571A804]
                   hex input     =  0.9999999998303283 [+00  +FFFFFFFF4571A8DC]

conversion error - decimal input = -0.9999999999994061 [+00  -FFFFFFFFFF58D2FC]
                   hex input     = -0.9999999999994061 [+00  -FFFFFFFFFF58D340]

conversion error - decimal input =  0.9999950669734144 [+00  +FFFFAD3CCFE8B100]
                   hex input     =  0.9999950669734144 [+00  +FFFFAD3CCFE8B15F]

conversion error - decimal input =  1014.256834983826 [+0A  +FD906FFBFFFFFFC0]
                   hex input     =  1014.256834983826 [+0A  +FD906FFC00000000]

single precision error: function FSUB
   arg1            =  916.5170 [+0A  +E52116D800000000]
   arg2            =  918.8927 [+0A  +E5B922AC00000000]
   expected result = -2.375722 [+02  -980BD40000000000]
   result          = -2.375717 [+02  -980BC00000000000]

conversion error - decimal input =  117.1768903732300 [+07  +EA5A915FFFFFFFC0]
                   hex input     =  117.1768903732300 [+07  +EA5A916000000000]

conversion error - decimal input =  125.9119510650635 [+07  +FBD2EB4000000040]
                   hex input     =  125.9119510650635 [+07  +FBD2EB4000000000]

conversion error - decimal input = -102.2548675537109 [+07  -CC827E000000004C]
                   hex input     = -102.2548675537109 [+07  -CC827E0000000000]

conversion error - decimal input = -682342.5945502350 [+14  -A6966983471B7504]
                   hex input     = -682342.5945502350 [+14  -A6966983471B75D0]

conversion error - decimal input =  616264.2123239550 [+14  +96748365ADCDADFC]
                   hex input     =  616264.2123239550 [+14  +96748365ADCDAEA0]

conversion error - decimal input = -446914.8055592740 [+13  -DA3859C7243E1808]
                   hex input     = -446914.8055592740 [+13  -DA3859C7243E1860]

conversion error - decimal input = -366592.4258349094 [+13  -B3000DA070882604]
                   hex input     = -366592.4258349094 [+13  -B3000DA0708826C0]

conversion error - decimal input =  279360.9842467077 [+13  +88681F7EF2F39E10]
                   hex input     =  279360.9842467077 [+13  +88681F7EF2F39EA0]

conversion error - decimal input = -75055.72835351870 [+11  -9297DD3AB0276000]
                   hex input     = -75055.72835351870 [+11  -9297DD3AB0276080]

conversion error - decimal input =  800564.9212156953 [+14  +C3734EBD4CAB4000]
                   hex input     =  800564.9212156953 [+14  +C3734EBD4CAB4070]

conversion error - decimal input =  203305.6983525228 [+12  +C68A6CB1CEC796FC]
                   hex input     =  203305.6983525228 [+12  +C68A6CB1CEC79780]

conversion error - decimal input =  408911.5627621709 [+13  +C7A9F20225CFEC14]
                   hex input     =  408911.5627621709 [+13  +C7A9F20225CFEC80]

conversion error - decimal input =  145544.7949076927 [+12  +8E2232DFC483D7EC]
                   hex input     =  145544.7949076927 [+12  +8E2232DFC483D880]

conversion error - decimal input = -284988.7044176000 [+13  -8B27968A96C75D08]
                   hex input     = -284988.7044176000 [+13  -8B27968A96C75DC0]

conversion error - decimal input = -142514.8558328431 [+12  -8B2CB6C5F71DF3EC]
                   hex input     = -142514.8558328431 [+12  -8B2CB6C5F71DF480]

conversion error - decimal input = -268091.9548355689 [+13  -82E77E8E0352B0FC]
                   hex input     = -268091.9548355689 [+13  -82E77E8E0352B140]

conversion error - decimal input = -348233.3492840723 [+13  -AA092B2D55CA7700]
                   hex input     = -348233.3492840723 [+13  -AA092B2D55CA77C0]

conversion error - decimal input = -585200.6566018986 [+14  -8EDF0A8170FE0CFC]
                   hex input     = -585200.6566018986 [+14  -8EDF0A8170FE0DC0]

conversion error - decimal input =  406008.3226574846 [+13  +C63F0A5335CA0C14]
                   hex input     =  406008.3226574847 [+13  +C63F0A5335CA0CE0]

conversion error - decimal input =  70235.05404440300 [+11  +892D86EAED4FB508]
                   hex input     =  70235.05404440300 [+11  +892D86EAED4FB580]

conversion error - decimal input =  329628.7111989926 [+13  +A0F396C22463C6F0]
                   hex input     =  329628.7111989926 [+13  +A0F396C22463C7E0]

conversion error - decimal input = -277316.5209384274 [+13  -876890AB87109D14]
                   hex input     = -277316.5209384274 [+13  -876890AB87109D80]

conversion error - decimal input = -236270.9542129124 [+12  -E6BBBD11D3091700]
                   hex input     = -236270.9542129124 [+12  -E6BBBD11D3091740]

conversion error - decimal input = -688412.5335701299 [+14  -A811C88980D51EFC]
                   hex input     = -688412.5335701299 [+14  -A811C88980D51F60]

conversion error - decimal input =  192826.2225673905 [+12  +BC4E8E3E8B4BCB18]
                   hex input     =  192826.2225673905 [+12  +BC4E8E3E8B4BCB80]

conversion error - decimal input =  147951.8988144690 [+12  +907BF9862D1F661C]
                   hex input     =  147951.8988144690 [+12  +907BF9862D1F66C0]

conversion error - decimal input = -270169.8081436348 [+13  -83EB39DC500A3AF4]
                   hex input     = -270169.8081436348 [+13  -83EB39DC500A3B80]

conversion error - decimal input =  171632.5901313951 [+12  +A79C25C4B6789004]
                   hex input     =  171632.5901313951 [+12  +A79C25C4B6789080]

conversion error - decimal input =  579424.4564693685 [+14  +8D76074DB2D3120C]
                   hex input     =  579424.4564693685 [+14  +8D76074DB2D312F0]

conversion error - decimal input = -128486.1653419540 [+11  -FAF31529ECD68DDC]
                   hex input     = -128486.1653419540 [+11  -FAF31529ECD68E80]

conversion error - decimal input =  164115.3052847955 [+12  +A044D389C93D1BF4]
                   hex input     =  164115.3052847955 [+12  +A044D389C93D1C40]

conversion error - decimal input = -75154.50212842722 [+11  -92C94045BE8AA900]
                   hex input     = -75154.50212842723 [+11  -92C94045BE8AA980]

conversion error - decimal input =  288698.4733407587 [+13  +8CF74F259B84D010]
                   hex input     =  288698.4733407587 [+13  +8CF74F259B84D0C0]

conversion error - decimal input = -816941.1372372082 [+14  -C772D2321FA48E04]
                   hex input     = -816941.1372372082 [+14  -C772D2321FA48EF0]

conversion error - decimal input = -1.036928989723176 [+01  -84BA16D191538B24]
                   hex input     = -1.036928989723176 [+01  -84BA16D191538BFF]

conversion error - decimal input =  1.404055905867789 [+01  +B3B81A9ABA9963FC]
                   hex input     =  1.404055905867789 [+01  +B3B81A9ABA9964A3]

conversion error - decimal input = -1.303998296638162 [+01  -A6E96A8B0CE0E5F8]
                   hex input     = -1.303998296638162 [+01  -A6E96A8B0CE0E6B6]

conversion error - decimal input =  0.7607461256981716 [+00  +C2C042126EAEA404]
                   hex input     =  0.7607461256981716 [+00  +C2C042126EAEA4F3]

conversion error - decimal input =  0.7484579431593304 [+00  +BF9AF0944CFE0308]
                   hex input     =  0.7484579431593304 [+00  +BF9AF0944CFE03CB]

conversion error - decimal input =  0.1805613899390779 [-02  +B8E515C2D5A689EC]
                   hex input     =  0.1805613899390779 [-02  +B8E515C2D5A68A2E]

conversion error - decimal input = -0.2364363951812995 [-02  -F21C61E38D1EFA24]
                   hex input     = -0.2364363951812995 [-02  -F21C61E38D1EFA92]

conversion error - decimal input =  0.5680964169635402 [+00  +916EC44BD54B9904]
                   hex input     =  0.5680964169635402 [+00  +916EC44BD54B99B2]

conversion error - decimal input =  0.5521139990754659 [+00  +8D5757D1B161E808]
                   hex input     =  0.5521139990754659 [+00  +8D5757D1B161E8E3]

conversion error - decimal input = -0.8020423945803655 [+00  -CD52A67EBA6B2408]
                   hex input     = -0.8020423945803655 [+00  -CD52A67EBA6B24BF]

conversion error - decimal input = -0.3312694162582657 [-01  -A99C2519FD0FE514]
                   hex input     = -0.3312694162582657 [-01  -A99C2519FD0FE5BE]

conversion error - decimal input = -1.375119970011144 [+01  -B003EE61A31E52DC]
                   hex input     = -1.375119970011144 [+01  -B003EE61A31E53E5]

conversion error - decimal input = -0.9585800646767245 [+00  -F56580CC62542900]
                   hex input     = -0.9585800646767245 [+00  -F56580CC62542967]

conversion error - decimal input =  2.006493295866637 [+02  +806A62DB58FD40F4]
                   hex input     =  2.006493295866637 [+02  +806A62DB58FD41BF]

conversion error - decimal input = -0.8129604337321512 [+00  -D01E2CCBD2520CFC]
                   hex input     = -0.8129604337321512 [+00  -D01E2CCBD2520DE7]

conversion error - decimal input = -5.556933900133331 [+03  -B1D2670AE3678708]
                   hex input     = -5.556933900133331 [+03  -B1D2670AE36787C2]

conversion error - decimal input = -2.056845554819012 [+02  -83A35B89B7B866FC]
                   hex input     = -2.056845554819012 [+02  -83A35B89B7B8678B]

conversion error - decimal input =  1.521000393778405 [+01  +C2B024123D9D8800]
                   hex input     =  1.521000393778405 [+01  +C2B024123D9D888E]

conversion error - decimal input = -0.2510055231854537 [-01  -8083CBC264CF3A04]
                   hex input     = -0.2510055231854537 [-01  -8083CBC264CF3AF4]

conversion error - decimal input =  0.5836424386319192 [+00  +956997427B55ED00]
                   hex input     =  0.5836424386319192 [+00  +956997427B55EDCB]

conversion error - decimal input = -0.3373963385190317 [-01  -ACBF367F75721EF4]
                   hex input     = -0.3373963385190317 [-01  -ACBF367F75721FCF]

conversion error - decimal input = -1.866611298517011 [+01  -EEED1E78BCC175F8]
                   hex input     = -1.866611298517011 [+01  -EEED1E78BCC17667]

conversion error - decimal input =  0.8526037883734690 [+00  +DA443DEB827F4400]
                   hex input     =  0.8526037883734690 [+00  +DA443DEB827F44A1]

conversion error - decimal input =  0.004848686065936453 [-07  +9EE1BA0A775F6808]
                   hex input     =  0.004848686065936453 [-07  +9EE1BA0A775F6883]

conversion error - decimal input = -2.960550981323498 [+02  -BD79AAD2BB355400]
                   hex input     = -2.960550981323498 [+02  -BD79AAD2BB355494]

conversion error - decimal input = -114.9921417236328 [+07  -E5FBFA000000004C]
                   hex input     = -114.9921417236328 [+07  -E5FBFA0000000000]

conversion error - decimal input =  2.686922684474300 [+02  +ABF68A902CA63D14]
                   hex input     =  2.686922684474300 [+02  +ABF68A902CA63D54]

conversion error - decimal input =  1.793130063536133 [+01  +E58549322E5917DC]
                   hex input     =  1.793130063536133 [+01  +E58549322E591898]

conversion error - decimal input = -0.4820864785011566 [-01  -F6D409F603366EF8]
                   hex input     = -0.4820864785011566 [-01  -F6D409F603366F47]

conversion error - decimal input =  0.7076872181969042 [+00  +B52AFD51F3F28B00]
                   hex input     =  0.7076872181969042 [+00  +B52AFD51F3F28BBF]

conversion error - decimal input =  0.4281349664040042 [-01  +DB34819DF561270C]
                   hex input     =  0.4281349664040042 [-01  +DB34819DF5612795]

conversion error - decimal input = -0.8539273220749652 [+00  -DA9AFB21790BAE00]
                   hex input     = -0.8539273220749652 [+00  -DA9AFB21790BAE9D]

conversion error - decimal input = -1.496648029529910 [+01  -BF9229A23A1649D8]
                   hex input     = -1.496648029529910 [+01  -BF9229A23A164A34]

conversion error - decimal input = -0.8002027854873312 [+00  -CCDA16F9D6109E08]
                   hex input     = -0.8002027854873312 [+00  -CCDA16F9D6109EBA]

conversion error - decimal input = -1.023489471401840 [+01  -8301B3F7BC515608]
                   hex input     = -1.023489471401840 [+01  -8301B3F7BC515651]

conversion error - decimal input = -0.3442428133447782 [-01  -B040981265D04400]
                   hex input     = -0.3442428133447782 [-01  -B040981265D0448E]

conversion error - decimal input = -0.8661422395692321 [+00  -DDBB7F70A2510C04]
                   hex input     = -0.8661422395692321 [+00  -DDBB7F70A2510C8F]

conversion error - decimal input =  6.891426046595428 [+03  +DC868FEA9DC20700]
                   hex input     =  6.891426046595428 [+03  +DC868FEA9DC2079B]

conversion error - decimal input = -1.278220524440108 [+01  -A39CBAEAC5EB03DC]
                   hex input     = -1.278220524440108 [+01  -A39CBAEAC5EB0455]

conversion error - decimal input =  0.7423688734863352 [+00  +BE0BE2F131322208]
                   hex input     =  0.7423688734863352 [+00  +BE0BE2F1313222EA]

conversion error - decimal input = -0.3751824667210328 [-01  -C017EA9132EA5F08]
                   hex input     = -0.3751824667210328 [-01  -C017EA9132EA5FFF]

conversion error - decimal input = -8.898948879287848 [+04  -8E62183855131300]
                   hex input     = -8.898948879287848 [+04  -8E6218385513136A]

conversion error - decimal input = -1.311861572651368 [+01  -A7EB147BB5583924]
                   hex input     = -1.311861572651368 [+01  -A7EB147BB55839CD]

conversion error - decimal input =  1.299791861773581 [+01  +A65F9468F65584F4]
                   hex input     =  1.299791861773581 [+01  +A65F9468F65585C8]

conversion error - decimal input =  35.98430011008553 [+06  +8FEFEC5E3910EFF8]
                   hex input     =  35.98430011008553 [+06  +8FEFEC5E3910F082]

conversion error - decimal input =  0.2225049870551746 [-02  +E3D858EA65405F20]
                   hex input     =  0.2225049870551746 [-02  +E3D858EA65405F85]

conversion error - decimal input =  5.387091027002373 [+03  +AC630CB8B19B9C08]
                   hex input     =  5.387091027002373 [+03  +AC630CB8B19B9C77]

conversion error - decimal input = -0.8517983334990402 [+00  -DA0F74A12A69EC00]
                   hex input     = -0.8517983334990402 [+00  -DA0F74A12A69ECFF]

conversion error - decimal input = -0.3761364639949360 [-01  -C094F56761F63908]
                   hex input     = -0.3761364639949360 [-01  -C094F56761F639E5]

conversion error - decimal input =  1.463601819459034 [+01  +BB574DEE78A8B314]
                   hex input     =  1.463601819459034 [+01  +BB574DEE78A8B383]

conversion error - decimal input =  1.046570893276183 [+01  +85F608F7C889FE2C]
                   hex input     =  1.046570893276183 [+01  +85F608F7C889FE93]

conversion error - decimal input = -2.794931666950821 [+02  -B2E0291206F259F4]
                   hex input     = -2.794931666950821 [+02  -B2E0291206F25AED]

conversion error - decimal input =  0.4216868549536726 [-01  +D7E756E65BB58D04]
                   hex input     =  0.4216868549536726 [-01  +D7E756E65BB58D45]

conversion error - decimal input = -0.6443851992596966 [+00  -A4F66DACD8CA850C]
                   hex input     = -0.6443851992596966 [+00  -A4F66DACD8CA85F9]

conversion error - decimal input =  12.95989154380613 [+04  +CF5BB73C45AB3508]
                   hex input     =  12.95989154380613 [+04  +CF5BB73C45AB35B6]

conversion error - decimal input = -1.333950293421540 [+01  -AABEE21A5E184AEC]
                   hex input     = -1.333950293421540 [+01  -AABEE21A5E184BA7]

conversion error - decimal input = -2.421632298909934 [+02  -9AFC0609B0598810]
                   hex input     = -2.421632298909934 [+02  -9AFC0609B0598880]

conversion error - decimal input =  0.4082008411119089 [-01  +D0FFB35D8CF98014]
                   hex input     =  0.4082008411119089 [-01  +D0FFB35D8CF980E5]

conversion error - decimal input =  0.3605586171490840 [-01  +B89B2399E4817AF4]
                   hex input     =  0.3605586171490840 [-01  +B89B2399E4817B49]

conversion error - decimal input =  1.545418423210177 [+01  +C5D04559296BA21C]
                   hex input     =  1.545418423210177 [+01  +C5D04559296BA290]

conversion error - decimal input = -0.9582574682705254 [+00  -F5505C875EA25208]
                   hex input     = -0.9582574682705254 [+00  -F5505C875EA252C0]

conversion error - decimal input = -494.3584203720092 [+09  -F72DE0B7FFFFF1E4]
                   hex input     = -494.3584203720093 [+09  -F72DE0B800000000]

conversion error - decimal input =  0.1840542235685302 [-02  +BC78B5DBAB87B21C]
                   hex input     =  0.1840542235685302 [-02  +BC78B5DBAB87B271]

conversion error - decimal input = -28.53190898895264 [+05  -E441597FFFFFFFF8]
                   hex input     = -28.53190898895264 [05  -E4415980000000000]

conversion error - decimal input =  29.32912180427253 [+05  +EAA20A9CCE0219EC]
                   hex input     =  29.32912180427253 [+05  +EAA20A9CCE021A52]

conversion error - decimal input = -5.550039674323828 [+03  -B199ECCD97258604]
                   hex input     = -5.550039674323828 [+03  -B199ECCD97258697]

conversion error - decimal input =  7.903869421534508 [+03  +FCEC7F90AB0B7BF8]
                   hex input     =  7.903869421534509 [+03  +FCEC7F90AB0B7C9D]

conversion error - decimal input =  5.775748653214144 [+03  +B8D2EED6EF10BB08]
                   hex input     =  5.775748653214144 [+03  +B8D2EED6EF10BB9C]

conversion error - decimal input = -0.9540756383822804 [+00  -F43E4D10C3209F04]
                   hex input     = -0.9540756383822804 [+00  -F43E4D10C3209FA0]

conversion error - decimal input = -3.063057774166847 [+02  -C40923797387C118]
                   hex input     = -3.063057774166847 [+02  -C40923797387C16F]

random number chi square value =  107.0700
fw/l5