00003276 4EB900000000            JSR       E.FILE
0000327C 7215         X.17.3     MOVEQ     #21,D1                                $15
0000327E 3F01                    MOVE.W    D1,-(A7)
00003280 7204                    MOVEQ     #4,D1                                 $4
00003282 3F01                    MOVE.W    D1,-(A7)
00003284 487AFF40                PEA       K.75(PC)                              CODE.+$31C6
00003288 2F00                    MOVE.L    D0,-(A7)
0000328A 4EB900000000            JSR       T.WRITE
00003290 4267                    CLR.W     -(A7)
00003292 486D8130                PEA       STATIC.+312-32768(A5)                 INT_LIB_RSLT
00003296 2F00                    MOVE.L    D0,-(A7)
00003298 4EB900000000            JSR       T.WRITE
0000329E 2F00                    MOVE.L    D0,-(A7)
000032A0 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 19/9
000032A6 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000032AA 4A80                    TST.L     D0
000032AC 6606                    BNE.S     X.17.4(PC)
000032AE 4EB900000000            JSR       E.FILE
000032B4 7215         X.17.4     MOVEQ     #21,D1                                $15
000032B6 3F01                    MOVE.W    D1,-(A7)
000032B8 7204                    MOVEQ     #4,D1                                 $4
000032BA 3F01                    MOVE.W    D1,-(A7)
000032BC 487AFF1E                PEA       K.76(PC)                              CODE.+$31DC
000032C0 2F00                    MOVE.L    D0,-(A7)
000032C2 4EB900000000            JSR       T.WRITE
000032C8 4267                    CLR.W     -(A7)
000032CA 486D8218                PEA       STATIC.+544-32768(A5)                 INT_RSLT
000032CE 2F00                    MOVE.L    D0,-(A7)
000032D0 4EB900000000            JSR       T.WRITE
000032D6 2F00                    MOVE.L    D0,-(A7)
000032D8 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 19/10
000032DE 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000032E2 4A80                    TST.L     D0
000032E4 6606                    BNE.S     X.17.5(PC)
000032E6 4EB900000000            JSR       E.FILE
000032EC 2F00         X.17.5     MOVE.L    D0,-(A7)
000032EE 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 19/11
000032F4 4E75                    RTS       
                      *
                      *          Constant area for subroutine SPECIAL_TRUNC_AND_ROUND
                      *
000032F6 8235551E     K.77       DC.L      $8235551E
000032F6 B851EA92                DC.L      $B851EA92                             133333.33000000000004
000032FE C7FD71C8     K.78       DC.L      $C7FD71C8                             -199.99
00003302 C7FD7148     K.79       DC.L      $C7FD7148                             199.99
00003306 B126EABE     K.80       DC.L      $B126EABE                             -0.173
0000330A 8FEC8B48     K.81       DC.L      $8FEC8B48                             143.924
0000330E A93B8666     K.82       DC.L      $A93B8666
0000330E 66666692                DC.L      $66666692                             173294.10000000000002
00003316 D1B71733     K.83       DC.L      $D1B71733                             0.0001
0000331A A93B8666     K.84       DC.L      $A93B8666
0000331A 66666792                DC.L      $66666792                             -173294.1000000000000
00003322 8FEC8BC8     K.85       DC.L      $8FEC8BC8                             -143.924
00003326 8FEC8B48     K.86       DC.L      $8FEC8B48                             143.924
0000332A C8000047     K.87       DC.L      $C8000047                             100.
0000332E A93B8666     K.88       DC.L      $A93B8666
0000332E 66666692                DC.L      $66666692                             173294.10000000000002
00003336 C3500000     K.89       DC.L      $C3500000
00003336 00000092                DC.L      $00000092                             200000.
0000333E A93B8666     K.90       DC.L      $A93B8666
0000333E 66666792                DC.L      $66666792                             -173294.1000000000000
00003346 A6040000     K.91       DC.L      $A6040000
00003346 00000192                DC.L      $00000192                             -170000.0000000000000
0000334E D05551EB     K.92       DC.L      $D05551EB
0000334E 851EB88E                DC.L      $851EB88E                             13333.330000000000001
00003356 CB20004E     K.93       DC.L      $CB20004E                             13000.000000000000000
0000335A F03254E6     K.94       DC.L      $F03254E6
0000335A E221C87E                DC.L      $E221C87E                             0.234567
00003362 F0A3D73E     K.95       DC.L      $F0A3D73E                             0.235
00003366 EBAA7FC8     K.96       DC.L      $EBAA7FC8                             -235.666
0000336A EC0000C8     K.97       DC.L      $EC0000C8                             -236.
0000336E 666174616C20 K.98       DC.B      'fatal error encountered on special trunc and round tests'
000033A6 666174616C20 K.99       DC.B      'fatal error encountered on special trunc and round tests'
                      *
                      *          Begin subroutine SPECIAL_TRUNC_AND_ROUND
                      *
000033DE 7010         B.16       MOVEQ     #16,D0                                $10
000033E0 2F00                    MOVE.L    D0,-(A7)
000033E2 6120                    BSR.S     X.16.1(PC)
000033E4 00000000                DC.L      C.1
000033E8 0000                    DC.W      0                                     $0
000033EA 0017                    DC.W      23                                  String length word
000033EC 535045434941            DC.B      'SPECIAL_TRUNC_AND_ROUND'
00003403 00000001                DS.B      1                                   Fill byte
00003404 203CFFFFFFA6 X.16.1     MOVE.L    #T.16-4,D0                            -86
0000340A 4EB900000000            JSR       M.ENTRY
00003410 2D4FFFAA                MOVE.L    A7,ST.16(A6)                          -86
                      *                                                        LINE 19/13
00003414 487A0628     L.16.1     PEA       H.16.20(PC)
00003418 4EB900000000            JSR       E.HSET
                      *                                                        LINE 19/15
0000341E 701B                    MOVEQ     #27,D0                                $1B
00003420 3B408000                MOVE.W    D0,STATIC.+8-32768(A5)                FCTN
                      *                                                        LINE 19/16
00003424 41ED8002                LEA       STATIC.+10-32768(A5),A0               FUNCT_NAME
00003428 20FC00055452            MOVE.L    #349266,(A0)+                         $55452
0000342E 20FC554E4320            MOVE.L    #1431192352,(A0)+                     $554E4320
                      *                                                        LINE 19/17
00003434 487AFEC0                PEA       K.77(PC)                              CODE.+$32F6
00003438 4EB900000000            JSR       D.SINGLE
0000343E 2B5F8104                MOVE.L    (A7)+,STATIC.+268-32768(A5)           ARG1
                      *                                                        LINE 19/18
00003442 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00003446 4EB900000000            JSR       F.TRUNC
0000344C 2B5F8218                MOVE.L    (A7)+,STATIC.+544-32768(A5)           INT_RSLT
                      *                                                        LINE 19/19
00003450 2B7C000208D5            MOVE.L    #133333,STATIC.+312-32768(A5)         $208D5  INT_LIB_RSLT
         8130
                      *                                                        LINE 19/20
00003458 202D8218                MOVE.L    STATIC.+544-32768(A5),D0              INT_RSLT
0000345C B0AD8130                CMP.L     STATIC.+312-32768(A5),D0              INT_LIB_RSLT
00003460 6704                    BEQ.S     L.16.3(PC)
                      *                                                        LINE 19/20 (2)
00003462 6100FD8E     L.16.2     BSR.L     B.17(PC)                              LOCAL_ERROR = CODE.+$
                      *                                                        LINE 19/21
00003466 2B7AFE968104 L.16.3     MOVE.L    K.78(PC),STATIC.+268-32768(A5)        CODE.+$32FE  ARG1
                      *                                                        LINE 19/22
0000346C 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00003470 4EB900000000            JSR       F.TRUNC
00003476 2B5F8218                MOVE.L    (A7)+,STATIC.+544-32768(A5)           INT_RSLT
                      *                                                        LINE 19/23
0000347A 2B7CFFFFFF39            MOVE.L    #-199,STATIC.+312-32768(A5)           $FFFFFF39  INT_LIB_RS
         8130
                      *                                                        LINE 19/24
00003482 202D8218                MOVE.L    STATIC.+544-32768(A5),D0              INT_RSLT
00003486 B0AD8130                CMP.L     STATIC.+312-32768(A5),D0              INT_LIB_RSLT
0000348A 6704                    BEQ.S     L.16.5(PC)
                      *                                                        LINE 19/24 (2)
0000348C 6100FD64     L.16.4     BSR.L     B.17(PC)                              LOCAL_ERROR = CODE.+$
                      *                                                        LINE 19/25
00003490 2B7AFE708104 L.16.5     MOVE.L    K.79(PC),STATIC.+268-32768(A5)        CODE.+$3302  ARG1
                      *                                                        LINE 19/26
00003496 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
0000349A 4EB900000000            JSR       F.TRUNC
000034A0 2B5F8218                MOVE.L    (A7)+,STATIC.+544-32768(A5)           INT_RSLT
                      *                                                        LINE 19/27
000034A4 2B7C000000C7            MOVE.L    #199,STATIC.+312-32768(A5)            $C7  INT_LIB_RSLT
         8130
                      *                                                        LINE 19/28
000034AC 202D8218                MOVE.L    STATIC.+544-32768(A5),D0              INT_RSLT
000034B0 B0AD8130                CMP.L     STATIC.+312-32768(A5),D0              INT_LIB_RSLT
000034B4 6704                    BEQ.S     L.16.7(PC)
                      *                                                        LINE 19/28 (2)
000034B6 6100FD3A     L.16.6     BSR.L     B.17(PC)                              LOCAL_ERROR = CODE.+$
                      *                                                        LINE 19/29
000034BA 2B7AFE4A8104 L.16.7     MOVE.L    K.80(PC),STATIC.+268-32768(A5)        CODE.+$3306  ARG1
                      *                                                        LINE 19/30
000034C0 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
000034C4 4EB900000000            JSR       F.TRUNC
000034CA 2B5F8218                MOVE.L    (A7)+,STATIC.+544-32768(A5)           INT_RSLT
                      *                                                        LINE 19/31
000034CE 7000                    MOVEQ     #0,D0                                 $0
000034D0 2B408130                MOVE.L    D0,STATIC.+312-32768(A5)              INT_LIB_RSLT
                      *                                                        LINE 19/32
000034D4 202D8218                MOVE.L    STATIC.+544-32768(A5),D0              INT_RSLT
000034D8 B0AD8130                CMP.L     STATIC.+312-32768(A5),D0              INT_LIB_RSLT
000034DC 6704                    BEQ.S     L.16.9(PC)
                      *                                                        LINE 19/32 (2)
000034DE 6100FD12     L.16.8     BSR.L     B.17(PC)                              LOCAL_ERROR = CODE.+$
                      *                                                        LINE 19/34
000034E2 701C         L.16.9     MOVEQ     #28,D0                                $1C
000034E4 3B408000                MOVE.W    D0,STATIC.+8-32768(A5)                FCTN
                      *                                                        LINE 19/35
000034E8 41ED8002                LEA       STATIC.+10-32768(A5),A0               FUNCT_NAME
000034EC 20FC0005524F            MOVE.L    #348751,(A0)+                         $5524F
000034F2 20FC554E4420            MOVE.L    #1431192608,(A0)+                     $554E4420
                      *                                                        LINE 19/36
000034F8 2B7AFE108104            MOVE.L    K.81(PC),STATIC.+268-32768(A5)        CODE.+$330A  ARG1
                      *                                                        LINE 19/37
000034FE 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00003502 4EB900000000            JSR       F.ROUND
00003508 2B5F8218                MOVE.L    (A7)+,STATIC.+544-32768(A5)           INT_RSLT
                      *                                                        LINE 19/38
0000350C 2B7C00000090            MOVE.L    #144,STATIC.+312-32768(A5)            $90  INT_LIB_RSLT
         8130
                      *                                                        LINE 19/39
00003514 202D8218                MOVE.L    STATIC.+544-32768(A5),D0              INT_RSLT
00003518 B0AD8130                CMP.L     STATIC.+312-32768(A5),D0              INT_LIB_RSLT
0000351C 6704                    BEQ.S     L.16.11(PC)
                      *                                                        LINE 19/39 (2)
0000351E 6100FCD2     L.16.10    BSR.L     B.17(PC)                              LOCAL_ERROR = CODE.+$
                      *                                                        LINE 19/40
00003522 487AFDEA     L.16.11    PEA       K.82(PC)                              CODE.+$330E
00003526 4EB900000000            JSR       D.SINGLE
0000352C 2B5F8104                MOVE.L    (A7)+,STATIC.+268-32768(A5)           ARG1
                      *                                                        LINE 19/41
00003530 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00003534 4EB900000000            JSR       F.ROUND
0000353A 2B5F8218                MOVE.L    (A7)+,STATIC.+544-32768(A5)           INT_RSLT
                      *                                                        LINE 19/42
0000353E 2B7C0002A4EE            MOVE.L    #173294,STATIC.+312-32768(A5)         $2A4EE  INT_LIB_RSLT
         8130
                      *                                                        LINE 19/43
00003546 202D8218                MOVE.L    STATIC.+544-32768(A5),D0              INT_RSLT
0000354A B0AD8130                CMP.L     STATIC.+312-32768(A5),D0              INT_LIB_RSLT
0000354E 6704                    BEQ.S     L.16.13(PC)
                      *                                                        LINE 19/43 (2)
00003550 6100FCA0     L.16.12    BSR.L     B.17(PC)                              LOCAL_ERROR = CODE.+$
                      *                                                        LINE 19/44
00003554 2B7AFDC08104 L.16.13    MOVE.L    K.83(PC),STATIC.+268-32768(A5)        CODE.+$3316  ARG1
                      *                                                        LINE 19/45
0000355A 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
0000355E 4EB900000000            JSR       F.ROUND
00003564 2B5F8218                MOVE.L    (A7)+,STATIC.+544-32768(A5)           INT_RSLT
                      *                                                        LINE 19/46
00003568 7000                    MOVEQ     #0,D0                                 $0
0000356A 2B408130                MOVE.L    D0,STATIC.+312-32768(A5)              INT_LIB_RSLT
                      *                                                        LINE 19/47
0000356E 202D8218                MOVE.L    STATIC.+544-32768(A5),D0              INT_RSLT
00003572 B0AD8130                CMP.L     STATIC.+312-32768(A5),D0              INT_LIB_RSLT
00003576 6704                    BEQ.S     L.16.15(PC)
                      *                                                        LINE 19/47 (2)
00003578 6100FC78     L.16.14    BSR.L     B.17(PC)                              LOCAL_ERROR = CODE.+$
                      *                                                        LINE 19/48
0000357C 487AFD9C     L.16.15    PEA       K.84(PC)                              CODE.+$331A
00003580 4EB900000000            JSR       D.SINGLE
00003586 2B5F8104                MOVE.L    (A7)+,STATIC.+268-32768(A5)           ARG1
                      *                                                        LINE 19/49
0000358A 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
0000358E 4EB900000000            JSR       F.ROUND
00003594 2B5F8218                MOVE.L    (A7)+,STATIC.+544-32768(A5)           INT_RSLT
                      *                                                        LINE 19/50
00003598 2B7CFFFD5B12            MOVE.L    #-173294,STATIC.+312-32768(A5)        $FFFD5B12  INT_LIB_RS
         8130
                      *                                                        LINE 19/51
000035A0 202D8218                MOVE.L    STATIC.+544-32768(A5),D0              INT_RSLT
000035A4 B0AD8130                CMP.L     STATIC.+312-32768(A5),D0              INT_LIB_RSLT
000035A8 6704                    BEQ.S     L.16.17(PC)
                      *                                                        LINE 19/51 (2)
000035AA 6100FC46     L.16.16    BSR.L     B.17(PC)                              LOCAL_ERROR = CODE.+$                   *                                                        LINE 19/52
000035AE 2B7AFD728104 L.16.17    MOVE.L    K.85(PC),STATIC.+268-32768(A5)        CODE.+$3322  ARG1
                      *                                                        LINE 19/53
000035B4 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
000035B8 4EB900000000            JSR       F.ROUND
000035BE 2B5F8218                MOVE.L    (A7)+,STATIC.+544-32768(A5)           INT_RSLT
                      *                                                        LINE 19/54
000035C2 2B7CFFFFFF70            MOVE.L    #-144,STATIC.+312-32768(A5)           $FFFFFF70  INT_LIB_RS
         8130
                      *                                                        LINE 19/55
000035CA 202D8218                MOVE.L    STATIC.+544-32768(A5),D0              INT_RSLT
000035CE B0AD8130                CMP.L     STATIC.+312-32768(A5),D0              INT_LIB_RSLT
000035D2 6704                    BEQ.S     L.16.19(PC)
                      *                                                        LINE 19/55 (2)
000035D4 6100FC1C     L.16.18    BSR.L     B.17(PC)                              LOCAL_ERROR = CODE.+$
                      *                                                        LINE 19/57
000035D8 701D         L.16.19    MOVEQ     #29,D0                                $1D
000035DA 3B408000                MOVE.W    D0,STATIC.+8-32768(A5)                FCTN
                      *                                                        LINE 19/58
000035DE 41ED8002                LEA       STATIC.+10-32768(A5),A0               FUNCT_NAME
000035E2 20FC0006524F            MOVE.L    #414287,(A0)+                         $6524F
000035E8 20FC554E4432            MOVE.L    #1431192626,(A0)+                     $554E4432
                      *                                                        LINE 19/59
000035EE 2B7AFD368104            MOVE.L    K.86(PC),STATIC.+268-32768(A5)        CODE.+$3326  ARG1
                      *                                                        LINE 19/60
000035F4 7002                    MOVEQ     #2,D0                                 $2
000035F6 2B40812C                MOVE.L    D0,STATIC.+308-32768(A5)              INT_ARG2
                      *                                                        LINE 19/61
000035FA 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
000035FE 2F2D812C                MOVE.L    STATIC.+308-32768(A5),-(A7)           INT_ARG2
00003602 4EB900000000            JSR       F.ROUND2
00003608 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 19/62
0000360C 2B7AFD1C810C            MOVE.L    K.87(PC),STATIC.+276-32768(A5)        CODE.+$332A  LIB_RSLT
                      *                                                        LINE 19/63
00003612 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
00003616 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
0000361A 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 19/64
00003620 7001                    MOVEQ     #1,D0                                 $1
00003622 3F00                    MOVE.W    D0,-(A7)
00003624 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00003628 2F08                    MOVE.L    A0,-(A7)
0000362A 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
0000362E 6100D61A                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00003632 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00003636 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
0000363A 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
0000363E 5240                    ADDQ.W    #1,D0                                 $1
00003640 E248                    LSR.W     #1,D0                                 $1
00003642 32D8         X.16.2     MOVE.W    (A0)+,(A1)+
00003644 51C8FFFC                DBF       D0,X.16.2(PC)
                      *                                                        LINE 19/65
00003648 2F2D810C                MOVE.L    STATIC.+276-32768(A5),-(A7)           LIB_RSLT
0000364C 486D8120                PEA       STATIC.+296-32768(A5)                 D_LIB_RSLT
00003650 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 19/66
00003656 7001                    MOVEQ     #1,D0                                 $1
00003658 3F00                    MOVE.W    D0,-(A7)
0000365A 41ED8120                LEA       STATIC.+296-32768(A5),A0              D_LIB_RSLT
0000365E 2F08                    MOVE.L    A0,-(A7)
00003660 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00003664 6100D5E4                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00003668 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
0000366C 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00003670 43ED81C4                LEA       STATIC.+460-32768(A5),A1              STRG_LIB_RSLT
00003674 5240                    ADDQ.W    #1,D0                                 $1
00003676 E248                    LSR.W     #1,D0                                 $1
00003678 32D8         X.16.3     MOVE.W    (A0)+,(A1)+
0000367A 51C8FFFC                DBF       D0,X.16.3(PC)
                      *                                                        LINE 19/67
0000367E 4267                    CLR.W     -(A7)
00003680 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00003684 7046                    MOVEQ     #70,D0                                $46
00003686 3F00                    MOVE.W    D0,-(A7)
00003688 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000368C 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00003690 7046                    MOVEQ     #70,D0                                $46
00003692 3F00                    MOVE.W    D0,-(A7)
00003694 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00003698 6100D22A                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 19/68
0000369C 487AFC90                PEA       K.88(PC)                              CODE.+$332E
000036A0 4EB900000000            JSR       D.SINGLE
000036A6 2B5F8104                MOVE.L    (A7)+,STATIC.+268-32768(A5)           ARG1
                      *                                                        LINE 19/69
000036AA 7005                    MOVEQ     #5,D0                                 $5
000036AC 2B40812C                MOVE.L    D0,STATIC.+308-32768(A5)              INT_ARG2
                      *                                                        LINE 19/70
000036B0 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
000036B4 2F2D812C                MOVE.L    STATIC.+308-32768(A5),-(A7)           INT_ARG2
000036B8 4EB900000000            JSR       F.ROUND2
000036BE 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 19/71
000036C2 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
000036C6 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
000036CA 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 19/72
000036D0 7001                    MOVEQ     #1,D0                                 $1
000036D2 3F00                    MOVE.W    D0,-(A7)
000036D4 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
000036D8 2F08                    MOVE.L    A0,-(A7)
000036DA 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
000036DE 6100D56A                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
000036E2 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
000036E6 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
000036EA 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
000036EE 5240                    ADDQ.W    #1,D0                                 $1
000036F0 E248                    LSR.W     #1,D0                                 $1
000036F2 32D8         X.16.4     MOVE.W    (A0)+,(A1)+
000036F4 51C8FFFC                DBF       D0,X.16.4(PC)
                      *                                                        LINE 19/73
000036F8 487AFC3C                PEA       K.89(PC)                              CODE.+$3336
000036FC 4EB900000000            JSR       D.SINGLE
00003702 2B5F810C                MOVE.L    (A7)+,STATIC.+276-32768(A5)           LIB_RSLT
                      *                                                        LINE 19/74
00003706 2F2D810C                MOVE.L    STATIC.+276-32768(A5),-(A7)           LIB_RSLT
0000370A 486D8120                PEA       STATIC.+296-32768(A5)                 D_LIB_RSLT
0000370E 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 19/75
00003714 7001                    MOVEQ     #1,D0                                 $1
00003716 3F00                    MOVE.W    D0,-(A7)
00003718 41ED8120                LEA       STATIC.+296-32768(A5),A0              D_LIB_RSLT
0000371C 2F08                    MOVE.L    A0,-(A7)
0000371E 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00003722 6100D526                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00003726 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
0000372A 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
0000372E 43ED81C4                LEA       STATIC.+460-32768(A5),A1              STRG_LIB_RSLT
00003732 5240                    ADDQ.W    #1,D0                                 $1
00003734 E248                    LSR.W     #1,D0                                 $1
00003736 32D8         X.16.5     MOVE.W    (A0)+,(A1)+
00003738 51C8FFFC                DBF       D0,X.16.5(PC)
                      *                                                        LINE 19/76
0000373C 4267                    CLR.W     -(A7)
0000373E 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00003742 7046                    MOVEQ     #70,D0                                $46
00003744 3F00                    MOVE.W    D0,-(A7)
00003746 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000374A 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
0000374E 7046                    MOVEQ     #70,D0                                $46
00003750 3F00                    MOVE.W    D0,-(A7)
00003752 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00003756 6100D16C                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 19/77
0000375A 487AFBE2                PEA       K.90(PC)                              CODE.+$333E
0000375E 4EB900000000            JSR       D.SINGLE
00003764 2B5F8104                MOVE.L    (A7)+,STATIC.+268-32768(A5)           ARG1
                      *                                                        LINE 19/78
00003768 7004                    MOVEQ     #4,D0                                 $4
0000376A 2B40812C                MOVE.L    D0,STATIC.+308-32768(A5)              INT_ARG2
                      *                                                        LINE 19/79
0000376E 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00003772 2F2D812C                MOVE.L    STATIC.+308-32768(A5),-(A7)           INT_ARG2
00003776 4EB900000000            JSR       F.ROUND2
0000377C 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 19/80
00003780 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
00003784 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00003788 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 19/81
0000378E 7001                    MOVEQ     #1,D0                                 $1
00003790 3F00                    MOVE.W    D0,-(A7)
00003792 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00003796 2F08                    MOVE.L    A0,-(A7)
00003798 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
0000379C 6100D4AC                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
000037A0 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
000037A4 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
000037A8 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
000037AC 5240                    ADDQ.W    #1,D0                                 $1
000037AE E248                    LSR.W     #1,D0                                 $1
000037B0 32D8         X.16.6     MOVE.W    (A0)+,(A1)+
000037B2 51C8FFFC                DBF       D0,X.16.6(PC)
                      *                                                        LINE 19/82
000037B6 487AFB8E                PEA       K.91(PC)                              CODE.+$3346
000037BA 4EB900000000            JSR       D.SINGLE
000037C0 2B5F810C                MOVE.L    (A7)+,STATIC.+276-32768(A5)           LIB_RSLT
                      *                                                        LINE 19/83
000037C4 2F2D810C                MOVE.L    STATIC.+276-32768(A5),-(A7)           LIB_RSLT
000037C8 486D8120                PEA       STATIC.+296-32768(A5)                 D_LIB_RSLT
000037CC 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 19/84
000037D2 7001                    MOVEQ     #1,D0                                 $1
000037D4 3F00                    MOVE.W    D0,-(A7)
000037D6 41ED8120                LEA       STATIC.+296-32768(A5),A0              D_LIB_RSLT
000037DA 2F08                    MOVE.L    A0,-(A7)
000037DC 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
000037E0 6100D468                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
000037E4 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
000037E8 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
000037EC 43ED81C4                LEA       STATIC.+460-32768(A5),A1              STRG_LIB_RSLT
000037F0 5240                    ADDQ.W    #1,D0                                 $1
000037F2 E248                    LSR.W     #1,D0                                 $1
000037F4 32D8         X.16.7     MOVE.W    (A0)+,(A1)+
000037F6 51C8FFFC                DBF       D0,X.16.7(PC)
                      *                                                        LINE 19/85
000037FA 4267                    CLR.W     -(A7)
000037FC 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00003800 7046                    MOVEQ     #70,D0                                $46
00003802 3F00                    MOVE.W    D0,-(A7)
00003804 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00003808 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
0000380C 7046                    MOVEQ     #70,D0                                $46
0000380E 3F00                    MOVE.W    D0,-(A7)
00003810 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00003814 6100D0AE                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 19/86
00003818 487AFB34                PEA       K.92(PC)                              CODE.+$334E
0000381C 4EB900000000            JSR       D.SINGLE
00003822 2B5F8104                MOVE.L    (A7)+,STATIC.+268-32768(A5)           ARG1
                      *                                                        LINE 19/87
00003826 7003                    MOVEQ     #3,D0                                 $3
00003828 2B40812C                MOVE.L    D0,STATIC.+308-32768(A5)              INT_ARG2
                      *                                                        LINE 19/88
0000382C 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00003830 2F2D812C                MOVE.L    STATIC.+308-32768(A5),-(A7)           INT_ARG2
00003834 4EB900000000            JSR       F.ROUND2
0000383A 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 19/89
0000383E 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
00003842 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00003846 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 19/90
0000384C 7001                    MOVEQ     #1,D0                                 $1
0000384E 3F00                    MOVE.W    D0,-(A7)
00003850 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00003854 2F08                    MOVE.L    A0,-(A7)
00003856 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
0000385A 6100D3EE                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
0000385E 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00003862 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00003866 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
0000386A 5240                    ADDQ.W    #1,D0                                 $1
0000386C E248                    LSR.W     #1,D0                                 $1
0000386E 32D8         X.16.8     MOVE.W    (A0)+,(A1)+
00003870 51C8FFFC                DBF       D0,X.16.8(PC)
                      *                                                        LINE 19/91
00003874 2B7AFAE0810C            MOVE.L    K.93(PC),STATIC.+276-32768(A5)        CODE.+$3356  LIB_RSLT
                      *                                                        LINE 19/92
0000387A 2F2D810C                MOVE.L    STATIC.+276-32768(A5),-(A7)           LIB_RSLT
0000387E 486D8120                PEA       STATIC.+296-32768(A5)                 D_LIB_RSLT
00003882 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 19/93
00003888 7001                    MOVEQ     #1,D0                                 $1
0000388A 3F00                    MOVE.W    D0,-(A7)
0000388C 41ED8120                LEA       STATIC.+296-32768(A5),A0              D_LIB_RSLT
00003890 2F08                    MOVE.L    A0,-(A7)
00003892 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00003896 6100D3B2                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
0000389A 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
0000389E 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
000038A2 43ED81C4                LEA       STATIC.+460-32768(A5),A1              STRG_LIB_RSLT
000038A6 5240                    ADDQ.W    #1,D0                                 $1
000038A8 E248                    LSR.W     #1,D0                                 $1
000038AA 32D8         X.16.9     MOVE.W    (A0)+,(A1)+
000038AC 51C8FFFC                DBF       D0,X.16.9(PC)
                      *                                                        LINE 19/94
000038B0 4267                    CLR.W     -(A7)
000038B2 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
000038B6 7046                    MOVEQ     #70,D0                                $46
000038B8 3F00                    MOVE.W    D0,-(A7)
000038BA 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
000038BE 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
000038C2 7046                    MOVEQ     #70,D0                                $46
000038C4 3F00                    MOVE.W    D0,-(A7)
000038C6 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
000038CA 6100CFF8                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 19/95
000038CE 487AFA8A                PEA       K.94(PC)                              CODE.+$335A
000038D2 4EB900000000            JSR       D.SINGLE
000038D8 2B5F8104                MOVE.L    (A7)+,STATIC.+268-32768(A5)           ARG1
                      *                                                        LINE 19/96
000038DC 70FD                    MOVEQ     #-3,D0                                $FFFFFFFD
000038DE 2B40812C                MOVE.L    D0,STATIC.+308-32768(A5)              INT_ARG2
                      *                                                        LINE 19/97
000038E2 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
000038E6 2F2D812C                MOVE.L    STATIC.+308-32768(A5),-(A7)           INT_ARG2
000038EA 4EB900000000            JSR       F.ROUND2
000038F0 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 19/98
000038F4 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
000038F8 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
000038FC 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 19/99
00003902 7001                    MOVEQ     #1,D0                                 $1
00003904 3F00                    MOVE.W    D0,-(A7)
00003906 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
0000390A 2F08                    MOVE.L    A0,-(A7)
0000390C 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00003910 6100D338                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00003914 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00003918 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
0000391C 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00003920 5240                    ADDQ.W    #1,D0                                 $1
00003922 E248                    LSR.W     #1,D0                                 $1
00003924 32D8         X.16.10    MOVE.W    (A0)+,(A1)+
00003926 51C8FFFC                DBF       D0,X.16.10(PC)
                      *                                                        LINE 19/100
0000392A 2B7AFA36810C            MOVE.L    K.95(PC),STATIC.+276-32768(A5)        CODE.+$3362  LIB_RSLT
                      *                                                        LINE 19/101
00003930 2F2D810C                MOVE.L    STATIC.+276-32768(A5),-(A7)           LIB_RSLT
00003934 486D8120                PEA       STATIC.+296-32768(A5)                 D_LIB_RSLT
00003938 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 19/102
0000393E 7001                    MOVEQ     #1,D0                                 $1
00003940 3F00                    MOVE.W    D0,-(A7)
00003942 41ED8120                LEA       STATIC.+296-32768(A5),A0              D_LIB_RSLT
00003946 2F08                    MOVE.L    A0,-(A7)
00003948 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
0000394C 6100D2FC                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00003950 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00003954 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00003958 43ED81C4                LEA       STATIC.+460-32768(A5),A1              STRG_LIB_RSLT
0000395C 5240                    ADDQ.W    #1,D0                                 $1
0000395E E248                    LSR.W     #1,D0                                 $1
00003960 32D8         X.16.11    MOVE.W    (A0)+,(A1)+
00003962 51C8FFFC                DBF       D0,X.16.11(PC)
                      *                                                        LINE 19/103
00003966 4267                    CLR.W     -(A7)
00003968 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
0000396C 7046                    MOVEQ     #70,D0                                $46
0000396E 3F00                    MOVE.W    D0,-(A7)
00003970 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00003974 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00003978 7046                    MOVEQ     #70,D0                                $46
0000397A 3F00                    MOVE.W    D0,-(A7)
0000397C 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00003980 6100CF42                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 19/104
00003984 2B7AF9E08104            MOVE.L    K.96(PC),STATIC.+268-32768(A5)        CODE.+$3366  ARG1
                      *                                                        LINE 19/105
0000398A 7000                    MOVEQ     #0,D0                                 $0
0000398C 2B40812C                MOVE.L    D0,STATIC.+308-32768(A5)              INT_ARG2
                      *                                                        LINE 19/106
00003990 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00003994 2F2D812C                MOVE.L    STATIC.+308-32768(A5),-(A7)           INT_ARG2
00003998 4EB900000000            JSR       F.ROUND2
0000399E 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 19/107
000039A2 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
000039A6 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
000039AA 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 19/108
000039B0 7001                    MOVEQ     #1,D0                                 $1
000039B2 3F00                    MOVE.W    D0,-(A7)
000039B4 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
000039B8 2F08                    MOVE.L    A0,-(A7)
000039BA 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
000039BE 6100D28A                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
000039C2 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
000039C6 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
000039CA 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
000039CE 5240                    ADDQ.W    #1,D0                                 $1
000039D0 E248                    LSR.W     #1,D0                                 $1
000039D2 32D8         X.16.12    MOVE.W    (A0)+,(A1)+
000039D4 51C8FFFC                DBF       D0,X.16.12(PC)
                      *                                                        LINE 19/109
000039D8 2B7AF990810C            MOVE.L    K.97(PC),STATIC.+276-32768(A5)        CODE.+$336A  LIB_RSLT
                      *                                                        LINE 19/110
000039DE 2F2D810C                MOVE.L    STATIC.+276-32768(A5),-(A7)           LIB_RSLT
000039E2 486D8120                PEA       STATIC.+296-32768(A5)                 D_LIB_RSLT
000039E6 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 19/111
000039EC 7001                    MOVEQ     #1,D0                                 $1
000039EE 3F00                    MOVE.W    D0,-(A7)
000039F0 41ED8120                LEA       STATIC.+296-32768(A5),A0              D_LIB_RSLT
000039F4 2F08                    MOVE.L    A0,-(A7)
000039F6 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
000039FA 6100D24E                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
000039FE 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00003A02 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00003A06 43ED81C4                LEA       STATIC.+460-32768(A5),A1              STRG_LIB_RSLT
00003A0A 5240                    ADDQ.W    #1,D0                                 $1
00003A0C E248                    LSR.W     #1,D0                                 $1
00003A0E 32D8         X.16.13    MOVE.W    (A0)+,(A1)+
00003A10 51C8FFFC                DBF       D0,X.16.13(PC)
                      *                                                        LINE 19/112
00003A14 4267                    CLR.W     -(A7)
00003A16 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00003A1A 7046                    MOVEQ     #70,D0                                $46
00003A1C 3F00                    MOVE.W    D0,-(A7)
00003A1E 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00003A22 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00003A26 7046                    MOVEQ     #70,D0                                $46
00003A28 3F00                    MOVE.W    D0,-(A7)
00003A2A 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00003A2E 6100CE94                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
00003A32 6000009E                BRA.L     L.16.23(PC)
                      *                                                        LINE 19/114
00003A36 2E6EFFAA     L.16.20    MOVEA.L   ST.16(A6),A7                          -86
00003A3A 4EFB8002                JMP       H.16.20(PC,A0.W)
00003A3E 00000000     H.16.20    DC.L      L.16.20
00003A42 00000000                DC.L      0                                     $0
00003A46 FFF6                    DC.W      -10                                   $FFFFFFF6
00003A48 FFFE                    DC.W      -2                                    $FFFFFFFE
00003A4A 0000                    DC.W      L.16.21+12-*
00003A4C              L.16.21
                      *                                                        LINE 19/116
                      *                                                        LINE 19/117
00003A4C 4EB900000000 L.16.22    JSR       E.MSG
                      *                                                        LINE 19/118
00003A52 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00003A56 4A80                    TST.L     D0
00003A58 6606                    BNE.S     X.16.14(PC)
00003A5A 4EB900000000            JSR       E.FILE
00003A60 7238         X.16.14    MOVEQ     #56,D1                                $38
00003A62 3F01                    MOVE.W    D1,-(A7)
00003A64 7204                    MOVEQ     #4,D1                                 $4
00003A66 3F01                    MOVE.W    D1,-(A7)
00003A68 487AF904                PEA       K.98(PC)                              CODE.+$336E
00003A6C 2F00                    MOVE.L    D0,-(A7)
00003A6E 4EB900000000            JSR       T.WRITE
00003A74 2F00                    MOVE.L    D0,-(A7)
00003A76 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 19/119
00003A7C 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00003A80 4A80                    TST.L     D0
00003A82 6606                    BNE.S     X.16.15(PC)
00003A84 4EB900000000            JSR       E.FILE
00003A8A 2F00         X.16.15    MOVE.L    D0,-(A7)
00003A8C 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 19/120
00003A92 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00003A96 4A80                    TST.L     D0
00003A98 6606                    BNE.S     X.16.16(PC)
00003A9A 4EB900000000            JSR       E.FILE
00003AA0 7238         X.16.16    MOVEQ     #56,D1                                $38
00003AA2 3F01                    MOVE.W    D1,-(A7)
00003AA4 7204                    MOVEQ     #4,D1                                 $4
00003AA6 3F01                    MOVE.W    D1,-(A7)
00003AA8 487AF8FC                PEA       K.99(PC)                              CODE.+$33A6
00003AAC 2F00                    MOVE.L    D0,-(A7)
00003AAE 4EB900000000            JSR       T.WRITE
00003AB4 2F00                    MOVE.L    D0,-(A7)
00003AB6 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 19/121
00003ABC 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00003AC0 4A80                    TST.L     D0
00003AC2 6606                    BNE.S     X.16.17(PC)
00003AC4 4EB900000000            JSR       E.FILE
00003ACA 2F00         X.16.17    MOVE.L    D0,-(A7)
00003ACC 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 19/122
00003AD2 42A7         L.16.23    CLR.L     -(A7)
00003AD4 4EB900000000            JSR       E.HREST
                      *                                                        LINE 19/124
00003ADA 4EB900000000            JSR       M.RETURN
                      *
                      *          Begin subroutine SPECIAL_TESTS
                      *
00003AE0              B.18
                      *                                                        LINE 20/3
                      *                                                        LINE 20/5
00003AE0 6100DDBA     L.18.1     BSR.L     B.10(PC)                              SPECIAL_LOG = CODE.+$
                      *                                                        LINE 20/7
00003AE4 6100E54C                BSR.L     B.11(PC)                              SPECIAL_SQROOT = CODE
                      *                                                        LINE 20/9
00003AE8 6100E9C2                BSR.L     B.12(PC)                              SPECIAL_ARCTAN = CODE
                      *                                                        LINE 20/11
00003AEC 6100EE3A                BSR.L     B.13(PC)                              SPECIAL_POWER = CODE.
                      *                                                        LINE 20/13
00003AF0 6100F178                BSR.L     B.14(PC)                              SPECIAL_SINE = CODE.+
                      *                                                        LINE 20/15
00003AF4 6100F42A                BSR.L     B.15(PC)                              SPECIAL_MULT = CODE.+
                      *                                                        LINE 20/17
00003AF8 6100F8E4                BSR.L     B.16(PC)                              SPECIAL_TRUNC_AND_RO 
                      *                                                        LINE 20/19
00003AFC 4E75                    RTS       
                      *
                      *          Constant area for subroutine TEST_INT_ADD
                      *
00003AFE 666174616C20 K.100      DC.B      'fatal error encountered on integer add:'
00003B25 00000001                DS.B      1
00003B26 202020617267 K.101      DC.B      '   arg 1 = '
00003B31 00000001                DS.B      1
00003B32 202020617267 K.102      DC.B      '   arg 2 = '
00003B3D 00000001                DS.B      1
00003B3E 666174616C20 K.103      DC.B      'fatal error encountered on integer add:'
00003B65 00000001                DS.B      1
00003B66 202020617267 K.104      DC.B      '   arg 1 = '
00003B71 00000001                DS.B      1
00003B72 202020617267 K.105      DC.B      '   arg 2 = '
00003B7D 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_INT_ADD
                      *
00003B7E 7010         B.19       MOVEQ     #16,D0                                $10
00003B80 2F00                    MOVE.L    D0,-(A7)
00003B82 6114                    BSR.S     X.19.1(PC)
00003B84 00000000                DC.L      C.1
00003B88 0000                    DC.W      0                                     $0
00003B8A 000C                    DC.W      12                                  String length word
00003B8C 544553545F49            DC.B      'TEST_INT_ADD'
00003B98 203CFFFFFFEE X.19.1     MOVE.L    #T.19-4,D0                            -14
00003B9E 4EB900000000            JSR       M.ENTRY
00003BA4 2D4FFFF2                MOVE.L    A7,ST.19(A6)                          -14
                      *                                                        LINE 21/3
00003BA8 487A0030     L.19.1     PEA       H.19.4(PC)
00003BAC 4EB900000000            JSR       E.HSET
                      *                                                        LINE 21/4
00003BB2 202D8128                MOVE.L    STATIC.+304-32768(A5),D0              INT_ARG1
00003BB6 D0AD812C                ADD.L     STATIC.+308-32768(A5),D0              INT_ARG2
00003BBA 2B408218                MOVE.L    D0,STATIC.+544-32768(A5)              INT_RSLT
                      *                                                        LINE 21/5
00003BBE 202D8218                MOVE.L    STATIC.+544-32768(A5),D0              INT_RSLT
00003BC2 B0AD8130                CMP.L     STATIC.+312-32768(A5),D0              INT_LIB_RSLT
00003BC6 6706                    BEQ.S     L.19.3(PC)
                      *                                                        LINE 21/5 (2)
00003BC8 4267         L.19.2     CLR.W     -(A7)
00003BCA 6100C6DC                BSR.L     B.3(PC)                               RESULT_ERROR = CODE.+
00003BCE 60000152     L.19.3     BRA.L     L.19.7(PC)
                      *                                                        LINE 21/7
00003BD2 2E6EFFF2     L.19.4     MOVEA.L   ST.19(A6),A7                          -14
00003BD6 4EFB8002                JMP       H.19.4(PC,A0.W)
00003BDA 00000000     H.19.4     DC.L      L.19.4
00003BDE 00000000                DC.L      0                                     $0
00003BE2 FFF6                    DC.W      -10                                   $FFFFFFF6
00003BE4 FFFE                    DC.W      -2                                    $FFFFFFFE
00003BE6 0000                    DC.W      L.19.5+12-*
00003BE8              L.19.5
                      *                                                        LINE 21/9
                      *                                                        LINE 21/10
00003BE8 4EB900000000 L.19.6     JSR       E.MSG
                      *                                                        LINE 21/11
00003BEE 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00003BF2 4A80                    TST.L     D0
00003BF4 6606                    BNE.S     X.19.2(PC)
00003BF6 4EB900000000            JSR       E.FILE
00003BFC 7227         X.19.2     MOVEQ     #39,D1                                $27
00003BFE 3F01                    MOVE.W    D1,-(A7)
00003C00 7204                    MOVEQ     #4,D1                                 $4
00003C02 3F01                    MOVE.W    D1,-(A7)
00003C04 487AFEF8                PEA       K.100(PC)                             CODE.+$3AFE
00003C08 2F00                    MOVE.L    D0,-(A7)
00003C0A 4EB900000000            JSR       T.WRITE
00003C10 2F00                    MOVE.L    D0,-(A7)
00003C12 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 21/12
00003C18 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00003C1C 4A80                    TST.L     D0
00003C1E 6606                    BNE.S     X.19.3(PC)
00003C20 4EB900000000            JSR       E.FILE
00003C26 720B         X.19.3     MOVEQ     #11,D1                                $B
00003C28 3F01                    MOVE.W    D1,-(A7)
00003C2A 7204                    MOVEQ     #4,D1                                 $4
00003C2C 3F01                    MOVE.W    D1,-(A7)
00003C2E 487AFEF6                PEA       K.101(PC)                             CODE.+$3B26
00003C32 2F00                    MOVE.L    D0,-(A7)
00003C34 4EB900000000            JSR       T.WRITE
00003C3A 4267                    CLR.W     -(A7)
00003C3C 486D8128                PEA       STATIC.+304-32768(A5)                 INT_ARG1
00003C40 2F00                    MOVE.L    D0,-(A7)
00003C42 4EB900000000            JSR       T.WRITE
00003C48 720B                    MOVEQ     #11,D1                                $B
00003C4A 3F01                    MOVE.W    D1,-(A7)
00003C4C 7204                    MOVEQ     #4,D1                                 $4
00003C4E 3F01                    MOVE.W    D1,-(A7)
00003C50 487AFEE0                PEA       K.102(PC)                             CODE.+$3B32
00003C54 2F00                    MOVE.L    D0,-(A7)
00003C56 4EB900000000            JSR       T.WRITE
00003C5C 4267                    CLR.W     -(A7)
00003C5E 486D812C                PEA       STATIC.+308-32768(A5)                 INT_ARG2
00003C62 2F00                    MOVE.L    D0,-(A7)
00003C64 4EB900000000            JSR       T.WRITE
00003C6A 2F00                    MOVE.L    D0,-(A7)
00003C6C 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 21/13
00003C72 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00003C76 4A80                    TST.L     D0
00003C78 6606                    BNE.S     X.19.4(PC)
00003C7A 4EB900000000            JSR       E.FILE
00003C80 2F00         X.19.4     MOVE.L    D0,-(A7)
00003C82 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 21/14
00003C88 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00003C8C 4A80                    TST.L     D0
00003C8E 6606                    BNE.S     X.19.5(PC)
00003C90 4EB900000000            JSR       E.FILE
00003C96 7227         X.19.5     MOVEQ     #39,D1                                $27
00003C98 3F01                    MOVE.W    D1,-(A7)
00003C9A 7204                    MOVEQ     #4,D1                                 $4
00003C9C 3F01                    MOVE.W    D1,-(A7)
00003C9E 487AFE9E                PEA       K.103(PC)                             CODE.+$3B3E
00003CA2 2F00                    MOVE.L    D0,-(A7)
00003CA4 4EB900000000            JSR       T.WRITE
00003CAA 2F00                    MOVE.L    D0,-(A7)
00003CAC 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 21/15
00003CB2 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00003CB6 4A80                    TST.L     D0
00003CB8 6606                    BNE.S     X.19.6(PC)
00003CBA 4EB900000000            JSR       E.FILE
00003CC0 720B         X.19.6     MOVEQ     #11,D1                                $B
00003CC2 3F01                    MOVE.W    D1,-(A7)
00003CC4 7204                    MOVEQ     #4,D1                                 $4
00003CC6 3F01                    MOVE.W    D1,-(A7)
00003CC8 487AFE9C                PEA       K.104(PC)                             CODE.+$3B66
00003CCC 2F00                    MOVE.L    D0,-(A7)
00003CCE 4EB900000000            JSR       T.WRITE
00003CD4 4267                    CLR.W     -(A7)
00003CD6 486D8128                PEA       STATIC.+304-32768(A5)                 INT_ARG1
00003CDA 2F00                    MOVE.L    D0,-(A7)
00003CDC 4EB900000000            JSR       T.WRITE
00003CE2 720B                    MOVEQ     #11,D1                                $B
00003CE4 3F01                    MOVE.W    D1,-(A7)
00003CE6 7204                    MOVEQ     #4,D1                                 $4
00003CE8 3F01                    MOVE.W    D1,-(A7)
00003CEA 487AFE86                PEA       K.105(PC)                             CODE.+$3B72
00003CEE 2F00                    MOVE.L    D0,-(A7)
00003CF0 4EB900000000            JSR       T.WRITE
00003CF6 4267                    CLR.W     -(A7)
00003CF8 486D812C                PEA       STATIC.+308-32768(A5)                 INT_ARG2
00003CFC 2F00                    MOVE.L    D0,-(A7)
00003CFE 4EB900000000            JSR       T.WRITE
00003D04 2F00                    MOVE.L    D0,-(A7)
00003D06 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 21/16
00003D0C 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00003D10 4A80                    TST.L     D0
00003D12 6606                    BNE.S     X.19.7(PC)
00003D14 4EB900000000            JSR       E.FILE
00003D1A 2F00         X.19.7     MOVE.L    D0,-(A7)
00003D1C 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 21/17
00003D22 42A7         L.19.7     CLR.L     -(A7)
00003D24 4EB900000000            JSR       E.HREST
                      *                                                        LINE 21/19
00003D2A 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_INT_SUB
                      *
00003D30 666174616C20 K.106      DC.B      'fatal error encountered on integer sub:'
00003D57 00000001                DS.B      1
00003D58 202020617267 K.107      DC.B      '   arg 1 = '
00003D63 00000001                DS.B      1
00003D64 202020617267 K.108      DC.B      '   arg 2 = '
00003D6F 00000001                DS.B      1
00003D70 666174616C20 K.109      DC.B      'fatal error encountered on integer sub:'
00003D97 00000001                DS.B      1
00003D98 202020617267 K.110      DC.B      '   arg 1 = '
00003DA3 00000001                DS.B      1
00003DA4 202020617267 K.111      DC.B      '   arg 2 = '
00003DAF 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_INT_SUB
                      *
00003DB0 7010         B.20       MOVEQ     #16,D0                                $10
00003DB2 2F00                    MOVE.L    D0,-(A7)
00003DB4 6114                    BSR.S     X.20.1(PC)
00003DB6 00000000                DC.L      C.1
00003DBA 0000                    DC.W      0                                     $0
00003DBC 000C                    DC.W      12                                  String length word
00003DBE 544553545F49            DC.B      'TEST_INT_SUB'
00003DCA 203CFFFFFFEE X.20.1     MOVE.L    #T.20-4,D0                            -14
00003DD0 4EB900000000            JSR       M.ENTRY
00003DD6 2D4FFFF2                MOVE.L    A7,ST.20(A6)                          -14
                      *                                                        LINE 22/3
00003DDA 487A0030     L.20.1     PEA       H.20.4(PC)
00003DDE 4EB900000000            JSR       E.HSET
                      *                                                        LINE 22/4
00003DE4 202D8128                MOVE.L    STATIC.+304-32768(A5),D0              INT_ARG1
00003DE8 90AD812C                SUB.L     STATIC.+308-32768(A5),D0              INT_ARG2
00003DEC 2B408218                MOVE.L    D0,STATIC.+544-32768(A5)              INT_RSLT
                      *                                                        LINE 22/5
00003DF0 202D8218                MOVE.L    STATIC.+544-32768(A5),D0              INT_RSLT
00003DF4 B0AD8130                CMP.L     STATIC.+312-32768(A5),D0              INT_LIB_RSLT
00003DF8 6706                    BEQ.S     L.20.3(PC)
                      *                                                        LINE 22/5 (2)
00003DFA 4267         L.20.2     CLR.W     -(A7)
00003DFC 6100C4AA                BSR.L     B.3(PC)                               RESULT_ERROR = CODE.+
00003E00 60000152     L.20.3     BRA.L     L.20.7(PC)
                      *                                                        LINE 22/6
00003E04 2E6EFFF2     L.20.4     MOVEA.L   ST.20(A6),A7                          -14
00003E08 4EFB8002                JMP       H.20.4(PC,A0.W)
00003E0C 00000000     H.20.4     DC.L      L.20.4
00003E10 00000000                DC.L      0                                     $0
00003E14 FFF6                    DC.W      -10                                   $FFFFFFF6
00003E16 FFFE                    DC.W      -2                                    $FFFFFFFE
00003E18 0000                    DC.W      L.20.5+12-*
00003E1A              L.20.5
                      *                                                        LINE 22/8
                      *                                                        LINE 22/9
00003E1A 4EB900000000 L.20.6     JSR       E.MSG
                      *                                                        LINE 22/10
00003E20 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00003E24 4A80                    TST.L     D0
00003E26 6606                    BNE.S     X.20.2(PC)
00003E28 4EB900000000            JSR       E.FILE
00003E2E 7227         X.20.2     MOVEQ     #39,D1                                $27
00003E30 3F01                    MOVE.W    D1,-(A7)
00003E32 7204                    MOVEQ     #4,D1                                 $4
00003E34 3F01                    MOVE.W    D1,-(A7)
00003E36 487AFEF8                PEA       K.106(PC)                             CODE.+$3D30
00003E3A 2F00                    MOVE.L    D0,-(A7)
00003E3C 4EB900000000            JSR       T.WRITE
00003E42 2F00                    MOVE.L    D0,-(A7)
00003E44 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 22/11
00003E4A 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00003E4E 4A80                    TST.L     D0
00003E50 6606                    BNE.S     X.20.3(PC)
00003E52 4EB900000000            JSR       E.FILE
00003E58 720B         X.20.3     MOVEQ     #11,D1                                $B
00003E5A 3F01                    MOVE.W    D1,-(A7)
00003E5C 7204                    MOVEQ     #4,D1                                 $4
00003E5E 3F01                    MOVE.W    D1,-(A7)
00003E60 487AFEF6                PEA       K.107(PC)                             CODE.+$3D58
00003E64 2F00                    MOVE.L    D0,-(A7)
00003E66 4EB900000000            JSR       T.WRITE
00003E6C 4267                    CLR.W     -(A7)
00003E6E 486D8128                PEA       STATIC.+304-32768(A5)                 INT_ARG1
00003E72 2F00                    MOVE.L    D0,-(A7)
00003E74 4EB900000000            JSR       T.WRITE
00003E7A 720B                    MOVEQ     #11,D1                                $B
00003E7C 3F01                    MOVE.W    D1,-(A7)
00003E7E 7204                    MOVEQ     #4,D1                                 $4
00003E80 3F01                    MOVE.W    D1,-(A7)
00003E82 487AFEE0                PEA       K.108(PC)                             CODE.+$3D64
00003E86 2F00                    MOVE.L    D0,-(A7)
00003E88 4EB900000000            JSR       T.WRITE
00003E8E 4267                    CLR.W     -(A7)
00003E90 486D812C                PEA       STATIC.+308-32768(A5)                 INT_ARG2
00003E94 2F00                    MOVE.L    D0,-(A7)
00003E96 4EB900000000            JSR       T.WRITE
00003E9C 2F00                    MOVE.L    D0,-(A7)
00003E9E 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 22/12
00003EA4 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00003EA8 4A80                    TST.L     D0
00003EAA 6606                    BNE.S     X.20.4(PC)
00003EAC 4EB900000000            JSR       E.FILE
00003EB2 2F00         X.20.4     MOVE.L    D0,-(A7)
00003EB4 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 22/13
00003EBA 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00003EBE 4A80                    TST.L     D0
00003EC0 6606                    BNE.S     X.20.5(PC)
00003EC2 4EB900000000            JSR       E.FILE
00003EC8 7227         X.20.5     MOVEQ     #39,D1                                $27
00003ECA 3F01                    MOVE.W    D1,-(A7)
00003ECC 7204                    MOVEQ     #4,D1                                 $4
00003ECE 3F01                    MOVE.W    D1,-(A7)
00003ED0 487AFE9E                PEA       K.109(PC)                             CODE.+$3D70
00003ED4 2F00                    MOVE.L    D0,-(A7)
00003ED6 4EB900000000            JSR       T.WRITE
00003EDC 2F00                    MOVE.L    D0,-(A7)
00003EDE 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 22/14
00003EE4 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00003EE8 4A80                    TST.L     D0
00003EEA 6606                    BNE.S     X.20.6(PC)
00003EEC 4EB900000000            JSR       E.FILE
00003EF2 720B         X.20.6     MOVEQ     #11,D1                                $B
00003EF4 3F01                    MOVE.W    D1,-(A7)
00003EF6 7204                    MOVEQ     #4,D1                                 $4
00003EF8 3F01                    MOVE.W    D1,-(A7)
00003EFA 487AFE9C                PEA       K.110(PC)                             CODE.+$3D98
00003EFE 2F00                    MOVE.L    D0,-(A7)
00003F00 4EB900000000            JSR       T.WRITE
00003F06 4267                    CLR.W     -(A7)
00003F08 486D8128                PEA       STATIC.+304-32768(A5)                 INT_ARG1
00003F0C 2F00                    MOVE.L    D0,-(A7)
00003F0E 4EB900000000            JSR       T.WRITE
00003F14 720B                    MOVEQ     #11,D1                                $B
00003F16 3F01                    MOVE.W    D1,-(A7)
00003F18 7204                    MOVEQ     #4,D1                                 $4
00003F1A 3F01                    MOVE.W    D1,-(A7)
00003F1C 487AFE86                PEA       K.111(PC)                             CODE.+$3DA4
00003F20 2F00                    MOVE.L    D0,-(A7)
00003F22 4EB900000000            JSR       T.WRITE
00003F28 4267                    CLR.W     -(A7)
00003F2A 486D812C                PEA       STATIC.+308-32768(A5)                 INT_ARG2
00003F2E 2F00                    MOVE.L    D0,-(A7)
00003F30 4EB900000000            JSR       T.WRITE
00003F36 2F00                    MOVE.L    D0,-(A7)
00003F38 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 22/15
00003F3E 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00003F42 4A80                    TST.L     D0
00003F44 6606                    BNE.S     X.20.7(PC)
00003F46 4EB900000000            JSR       E.FILE
00003F4C 2F00         X.20.7     MOVE.L    D0,-(A7)
00003F4E 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 22/16
00003F54 42A7         L.20.7     CLR.L     -(A7)
00003F56 4EB900000000            JSR       E.HREST
                      *                                                        LINE 22/17
00003F5C 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_INT_MULT
                      *
00003F62 666174616C20 K.112      DC.B      'fatal error encountered on integer multiply:'
00003F8E 202020617267 K.113      DC.B      '   arg 1 = '
00003F99 00000001                DS.B      1
00003F9A 202020617267 K.114      DC.B      '   arg 2 = '
00003FA5 00000001                DS.B      1
00003FA6 666174616C20 K.115      DC.B      'fatal error encountered on integer multiply:'
00003FD2 202020617267 K.116      DC.B      '   arg 1 = '
00003FDD 00000001                DS.B      1
00003FDE 202020617267 K.117      DC.B      '   arg 2 = '
00003FE9 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_INT_MULT
                      *
00003FEA 7010         B.21       MOVEQ     #16,D0                                $10
00003FEC 2F00                    MOVE.L    D0,-(A7)
00003FEE 6116                    BSR.S     X.21.1(PC)
00003FF0 00000000                DC.L      C.1
00003FF4 0000                    DC.W      0                                     $0
00003FF6 000D                    DC.W      13                                  String length word
00003FF8 544553545F49            DC.B      'TEST_INT_MULT'
00004005 00000001                DS.B      1                                   Fill byte
00004006 203CFFFFFFEE X.21.1     MOVE.L    #T.21-4,D0                            -14
0000400C 4EB900000000            JSR       M.ENTRY
00004012 2D4FFFF2                MOVE.L    A7,ST.21(A6)                          -14
                      *                                                        LINE 23/3
00004016 487A0036     L.21.1     PEA       H.21.4(PC)
0000401A 4EB900000000            JSR       E.HSET
                      *                                                        LINE 23/4
00004020 2F2D8128                MOVE.L    STATIC.+304-32768(A5),-(A7)           INT_ARG1
00004024 2F2D812C                MOVE.L    STATIC.+308-32768(A5),-(A7)           INT_ARG2
00004028 4EB900000000            JSR       G.I4MULT
0000402E 2B5F8218                MOVE.L    (A7)+,STATIC.+544-32768(A5)           INT_RSLT
                      *                                                        LINE 23/5
00004032 202D8218                MOVE.L    STATIC.+544-32768(A5),D0              INT_RSLT
00004036 B0AD8130                CMP.L     STATIC.+312-32768(A5),D0              INT_LIB_RSLT
0000403A 6706                    BEQ.S     L.21.3(PC)
                      *                                                        LINE 23/5 (2)
0000403C 4267         L.21.2     CLR.W     -(A7)
0000403E 6100C268                BSR.L     B.3(PC)                               RESULT_ERROR = CODE.+
00004042 60000152     L.21.3     BRA.L     L.21.7(PC)
                      *                                                        LINE 23/6
00004046 2E6EFFF2     L.21.4     MOVEA.L   ST.21(A6),A7                          -14
0000404A 4EFB8002                JMP       H.21.4(PC,A0.W)
0000404E 00000000     H.21.4     DC.L      L.21.4
00004052 00000000                DC.L      0                                     $0
00004056 FFF6                    DC.W      -10                                   $FFFFFFF6
00004058 FFFE                    DC.W      -2                                    $FFFFFFFE
0000405A 0000                    DC.W      L.21.5+12-*
0000405C              L.21.5
                      *                                                        LINE 23/8
                      *                                                        LINE 23/9
0000405C 4EB900000000 L.21.6     JSR       E.MSG
                      *                                                        LINE 23/10
00004062 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00004066 4A80                    TST.L     D0
00004068 6606                    BNE.S     X.21.2(PC)
0000406A 4EB900000000            JSR       E.FILE
00004070 722C         X.21.2     MOVEQ     #44,D1                                $2C
00004072 3F01                    MOVE.W    D1,-(A7)
00004074 7204                    MOVEQ     #4,D1                                 $4
00004076 3F01                    MOVE.W    D1,-(A7)
00004078 487AFEE8                PEA       K.112(PC)                             CODE.+$3F62
0000407C 2F00                    MOVE.L    D0,-(A7)
0000407E 4EB900000000            JSR       T.WRITE
00004084 2F00                    MOVE.L    D0,-(A7)
00004086 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 23/11
0000408C 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00004090 4A80                    TST.L     D0
00004092 6606                    BNE.S     X.21.3(PC)
00004094 4EB900000000            JSR       E.FILE
0000409A 720B         X.21.3     MOVEQ     #11,D1                                $B
0000409C 3F01                    MOVE.W    D1,-(A7)
0000409E 7204                    MOVEQ     #4,D1                                 $4
000040A0 3F01                    MOVE.W    D1,-(A7)
000040A2 487AFEEA                PEA       K.113(PC)                             CODE.+$3F8E
000040A6 2F00                    MOVE.L    D0,-(A7)
000040A8 4EB900000000            JSR       T.WRITE
000040AE 4267                    CLR.W     -(A7)
000040B0 486D8128                PEA       STATIC.+304-32768(A5)                 INT_ARG1
000040B4 2F00                    MOVE.L    D0,-(A7)
000040B6 4EB900000000            JSR       T.WRITE
000040BC 720B                    MOVEQ     #11,D1                                $B
000040BE 3F01                    MOVE.W    D1,-(A7)
000040C0 7204                    MOVEQ     #4,D1                                 $4
000040C2 3F01                    MOVE.W    D1,-(A7)
000040C4 487AFED4                PEA       K.114(PC)                             CODE.+$3F9A
000040C8 2F00                    MOVE.L    D0,-(A7)
000040CA 4EB900000000            JSR       T.WRITE
000040D0 4267                    CLR.W     -(A7)
000040D2 486D812C                PEA       STATIC.+308-32768(A5)                 INT_ARG2
000040D6 2F00                    MOVE.L    D0,-(A7)
000040D8 4EB900000000            JSR       T.WRITE
000040DE 2F00                    MOVE.L    D0,-(A7)
000040E0 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 23/12
000040E6 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000040EA 4A80                    TST.L     D0
000040EC 6606                    BNE.S     X.21.4(PC)
000040EE 4EB900000000            JSR       E.FILE
000040F4 2F00         X.21.4     MOVE.L    D0,-(A7)
000040F6 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 23/13
000040FC 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00004100 4A80                    TST.L     D0
00004102 6606                    BNE.S     X.21.5(PC)
00004104 4EB900000000            JSR       E.FILE
0000410A 722C         X.21.5     MOVEQ     #44,D1                                $2C
0000410C 3F01                    MOVE.W    D1,-(A7)
0000410E 7204                    MOVEQ     #4,D1                                 $4
00004110 3F01                    MOVE.W    D1,-(A7)
00004112 487AFE92                PEA       K.115(PC)                             CODE.+$3FA6
00004116 2F00                    MOVE.L    D0,-(A7)
00004118 4EB900000000            JSR       T.WRITE
0000411E 2F00                    MOVE.L    D0,-(A7)
00004120 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 23/14
00004126 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
0000412A 4A80                    TST.L     D0
0000412C 6606                    BNE.S     X.21.6(PC)
0000412E 4EB900000000            JSR       E.FILE
00004134 720B         X.21.6     MOVEQ     #11,D1                                $B
00004136 3F01                    MOVE.W    D1,-(A7)
00004138 7204                    MOVEQ     #4,D1                                 $4
0000413A 3F01                    MOVE.W    D1,-(A7)
0000413C 487AFE94                PEA       K.116(PC)                             CODE.+$3FD2
00004140 2F00                    MOVE.L    D0,-(A7)
00004142 4EB900000000            JSR       T.WRITE
00004148 4267                    CLR.W     -(A7)
0000414A 486D8128                PEA       STATIC.+304-32768(A5)                 INT_ARG1
0000414E 2F00                    MOVE.L    D0,-(A7)
00004150 4EB900000000            JSR       T.WRITE
00004156 720B                    MOVEQ     #11,D1                                $B
00004158 3F01                    MOVE.W    D1,-(A7)
0000415A 7204                    MOVEQ     #4,D1                                 $4
0000415C 3F01                    MOVE.W    D1,-(A7)
0000415E 487AFE7E                PEA       K.117(PC)                             CODE.+$3FDE
00004162 2F00                    MOVE.L    D0,-(A7)
00004164 4EB900000000            JSR       T.WRITE
0000416A 4267                    CLR.W     -(A7)
0000416C 486D812C                PEA       STATIC.+308-32768(A5)                 INT_ARG2
00004170 2F00                    MOVE.L    D0,-(A7)
00004172 4EB900000000            JSR       T.WRITE
00004178 2F00                    MOVE.L    D0,-(A7)
0000417A 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 23/15
00004180 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00004184 4A80                    TST.L     D0
00004186 6606                    BNE.S     X.21.7(PC)
00004188 4EB900000000            JSR       E.FILE
0000418E 2F00         X.21.7     MOVE.L    D0,-(A7)
00004190 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 23/16
00004196 42A7         L.21.7     CLR.L     -(A7)
00004198 4EB900000000            JSR       E.HREST
                      *                                                        LINE 23/17
0000419E 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_INT_DIV
                      *
000041A4 666174616C20 K.118      DC.B      'fatal error encountered on integer divide:'
000041CE 202020617267 K.119      DC.B      '   arg 1 = '
000041D9 00000001                DS.B      1
000041DA 202020617267 K.120      DC.B      '   arg 2 = '
000041E5 00000001                DS.B      1
000041E6 666174616C20 K.121      DC.B      'fatal error encountered on integer divide:'
00004210 202020617267 K.122      DC.B      '   arg 1 = '
0000421B 00000001                DS.B      1
0000421C 202020617267 K.123      DC.B      '   arg 2 = '
00004227 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_INT_DIV
                      *
00004228 7010         B.22       MOVEQ     #16,D0                                $10
0000422A 2F00                    MOVE.L    D0,-(A7)
0000422C 6114                    BSR.S     X.22.1(PC)
0000422E 00000000                DC.L      C.1
00004232 0000                    DC.W      0                                     $0
00004234 000C                    DC.W      12                                  String length word
00004236 544553545F49            DC.B      'TEST_INT_DIV'
00004242 203CFFFFFFEE X.22.1     MOVE.L    #T.22-4,D0                            -14
00004248 4EB900000000            JSR       M.ENTRY
0000424E 2D4FFFF2                MOVE.L    A7,ST.22(A6)                          -14
                      *                                                        LINE 24/3
00004252 487A0036     L.22.1     PEA       H.22.4(PC)
00004256 4EB900000000            JSR       E.HSET
                      *                                                        LINE 24/4
0000425C 2F2D8128                MOVE.L    STATIC.+304-32768(A5),-(A7)           INT_ARG1
00004260 2F2D812C                MOVE.L    STATIC.+308-32768(A5),-(A7)           INT_ARG2
00004264 4EB900000000            JSR       G.I4DIV
0000426A 2B5F8218                MOVE.L    (A7)+,STATIC.+544-32768(A5)           INT_RSLT
                      *                                                        LINE 24/5
0000426E 202D8218                MOVE.L    STATIC.+544-32768(A5),D0              INT_RSLT
00004272 B0AD8130                CMP.L     STATIC.+312-32768(A5),D0              INT_LIB_RSLT
00004276 6706                    BEQ.S     L.22.3(PC)
                      *                                                        LINE 24/5 (2)
00004278 4267         L.22.2     CLR.W     -(A7)
0000427A 6100C02C                BSR.L     B.3(PC)                               RESULT_ERROR = CODE.+
0000427E 60000152     L.22.3     BRA.L     L.22.7(PC)
                      *                                                        LINE 24/6
00004282 2E6EFFF2     L.22.4     MOVEA.L   ST.22(A6),A7                          -14
00004286 4EFB8002                JMP       H.22.4(PC,A0.W)
0000428A 00000000     H.22.4     DC.L      L.22.4
0000428E 00000000                DC.L      0                                     $0
00004292 FFF6                    DC.W      -10                                   $FFFFFFF6
00004294 FFFE                    DC.W      -2                                    $FFFFFFFE
00004296 0000                    DC.W      L.22.5+12-*
00004298              L.22.5
                      *                                                        LINE 24/8
                      *                                                        LINE 24/9
00004298 4EB900000000 L.22.6     JSR       E.MSG
                      *                                                        LINE 24/10
0000429E 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000042A2 4A80                    TST.L     D0
000042A4 6606                    BNE.S     X.22.2(PC)
000042A6 4EB900000000            JSR       E.FILE
000042AC 722A         X.22.2     MOVEQ     #42,D1                                $2A
000042AE 3F01                    MOVE.W    D1,-(A7)
000042B0 7204                    MOVEQ     #4,D1                                 $4
000042B2 3F01                    MOVE.W    D1,-(A7)
000042B4 487AFEEE                PEA       K.118(PC)                             CODE.+$41A4
000042B8 2F00                    MOVE.L    D0,-(A7)
000042BA 4EB900000000            JSR       T.WRITE
000042C0 2F00                    MOVE.L    D0,-(A7)
000042C2 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 24/11
000042C8 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000042CC 4A80                    TST.L     D0
000042CE 6606                    BNE.S     X.22.3(PC)
000042D0 4EB900000000            JSR       E.FILE
000042D6 720B         X.22.3     MOVEQ     #11,D1                                $B
000042D8 3F01                    MOVE.W    D1,-(A7)
000042DA 7204                    MOVEQ     #4,D1                                 $4
000042DC 3F01                    MOVE.W    D1,-(A7)
000042DE 487AFEEE                PEA       K.119(PC)                             CODE.+$41CE
000042E2 2F00                    MOVE.L    D0,-(A7)
000042E4 4EB900000000            JSR       T.WRITE
000042EA 4267                    CLR.W     -(A7)
000042EC 486D8128                PEA       STATIC.+304-32768(A5)                 INT_ARG1
000042F0 2F00                    MOVE.L    D0,-(A7)
000042F2 4EB900000000            JSR       T.WRITE
000042F8 720B                    MOVEQ     #11,D1                                $B
000042FA 3F01                    MOVE.W    D1,-(A7)
000042FC 7204                    MOVEQ     #4,D1                                 $4
000042FE 3F01                    MOVE.W    D1,-(A7)
00004300 487AFED8                PEA       K.120(PC)                             CODE.+$41DA
00004304 2F00                    MOVE.L    D0,-(A7)
00004306 4EB900000000            JSR       T.WRITE
0000430C 4267                    CLR.W     -(A7)
0000430E 486D812C                PEA       STATIC.+308-32768(A5)                 INT_ARG2
00004312 2F00                    MOVE.L    D0,-(A7)
00004314 4EB900000000            JSR       T.WRITE
0000431A 2F00                    MOVE.L    D0,-(A7)
0000431C 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 24/12
00004322 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00004326 4A80                    TST.L     D0
00004328 6606                    BNE.S     X.22.4(PC)
0000432A 4EB900000000            JSR       E.FILE
00004330 2F00         X.22.4     MOVE.L    D0,-(A7)
00004332 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 24/13
00004338 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
0000433C 4A80                    TST.L     D0
0000433E 6606                    BNE.S     X.22.5(PC)
00004340 4EB900000000            JSR       E.FILE
00004346 722A         X.22.5     MOVEQ     #42,D1                                $2A
00004348 3F01                    MOVE.W    D1,-(A7)
0000434A 7204                    MOVEQ     #4,D1                                 $4
0000434C 3F01                    MOVE.W    D1,-(A7)
0000434E 487AFE96                PEA       K.121(PC)                             CODE.+$41E6
00004352 2F00                    MOVE.L    D0,-(A7)
00004354 4EB900000000            JSR       T.WRITE
0000435A 2F00                    MOVE.L    D0,-(A7)
0000435C 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 24/14
00004362 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00004366 4A80                    TST.L     D0
00004368 6606                    BNE.S     X.22.6(PC)
0000436A 4EB900000000            JSR       E.FILE
00004370 720B         X.22.6     MOVEQ     #11,D1                                $B
00004372 3F01                    MOVE.W    D1,-(A7)
00004374 7204                    MOVEQ     #4,D1                                 $4
00004376 3F01                    MOVE.W    D1,-(A7)
00004378 487AFE96                PEA       K.122(PC)                             CODE.+$4210
0000437C 2F00                    MOVE.L    D0,-(A7)
0000437E 4EB900000000            JSR       T.WRITE
00004384 4267                    CLR.W     -(A7)
00004386 486D8128                PEA       STATIC.+304-32768(A5)                 INT_ARG1
0000438A 2F00                    MOVE.L    D0,-(A7)
0000438C 4EB900000000            JSR       T.WRITE
00004392 720B                    MOVEQ     #11,D1                                $B
00004394 3F01                    MOVE.W    D1,-(A7)
00004396 7204                    MOVEQ     #4,D1                                 $4
00004398 3F01                    MOVE.W    D1,-(A7)
0000439A 487AFE80                PEA       K.123(PC)                             CODE.+$421C
0000439E 2F00                    MOVE.L    D0,-(A7)
000043A0 4EB900000000            JSR       T.WRITE
000043A6 4267                    CLR.W     -(A7)
000043A8 486D812C                PEA       STATIC.+308-32768(A5)                 INT_ARG2
000043AC 2F00                    MOVE.L    D0,-(A7)
000043AE 4EB900000000            JSR       T.WRITE
000043B4 2F00                    MOVE.L    D0,-(A7)
000043B6 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 24/15
000043BC 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000043C0 4A80                    TST.L     D0
000043C2 6606                    BNE.S     X.22.7(PC)
000043C4 4EB900000000            JSR       E.FILE
000043CA 2F00         X.22.7     MOVE.L    D0,-(A7)
000043CC 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 24/16
000043D2 42A7         L.22.7     CLR.L     -(A7)
000043D4 4EB900000000            JSR       E.HREST
                      *                                                        LINE 24/17
000043DA 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_INT_MOD
                      *
000043E0 666174616C20 K.124      DC.B      'fatal error encountered on integer mod:'
00004407 00000001                DS.B      1
00004408 202020617267 K.125      DC.B      '   arg 1 = '
00004413 00000001                DS.B      1
00004414 202020617267 K.126      DC.B      '   arg 2 = '
0000441F 00000001                DS.B      1
00004420 666174616C20 K.127      DC.B      'fatal error encountered on integer mod:'
00004447 00000001                DS.B      1
00004448 202020617267 K.128      DC.B      '   arg 1 = '
00004453 00000001                DS.B      1
00004454 202020617267 K.129      DC.B      '   arg 2 = '
0000445F 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_INT_MOD
                      *
00004460 7010         B.23       MOVEQ     #16,D0                                $10
00004462 2F00                    MOVE.L    D0,-(A7)
00004464 6114                    BSR.S     X.23.1(PC)
00004466 00000000                DC.L      C.1
0000446A 0000                    DC.W      0                                     $0
0000446C 000C                    DC.W      12                                  String length word
0000446E 544553545F49            DC.B      'TEST_INT_MOD'
0000447A 203CFFFFFFEE X.23.1     MOVE.L    #T.23-4,D0                            -14
00004480 4EB900000000            JSR       M.ENTRY
00004486 2D4FFFF2                MOVE.L    A7,ST.23(A6)                          -14
                      *                                                        LINE 25/3
0000448A 487A0036     L.23.1     PEA       H.23.4(PC)
0000448E 4EB900000000            JSR       E.HSET
                      *                                                        LINE 25/4
00004494 2F2D8128                MOVE.L    STATIC.+304-32768(A5),-(A7)           INT_ARG1
00004498 2F2D812C                MOVE.L    STATIC.+308-32768(A5),-(A7)           INT_ARG2
0000449C 4EB900000000            JSR       G.I4REM
000044A2 2B5F8218                MOVE.L    (A7)+,STATIC.+544-32768(A5)           INT_RSLT
                      *                                                        LINE 25/5
000044A6 202D8218                MOVE.L    STATIC.+544-32768(A5),D0              INT_RSLT
000044AA B0AD8130                CMP.L     STATIC.+312-32768(A5),D0              INT_LIB_RSLT
000044AE 6706                    BEQ.S     L.23.3(PC)
                      *                                                        LINE 25/5 (2)
000044B0 4267         L.23.2     CLR.W     -(A7)
000044B2 6100BDF4                BSR.L     B.3(PC)                               RESULT_ERROR = CODE.+
000044B6 60000152     L.23.3     BRA.L     L.23.7(PC)
                      *                                                        LINE 25/6
000044BA 2E6EFFF2     L.23.4     MOVEA.L   ST.23(A6),A7                          -14
000044BE 4EFB8002                JMP       H.23.4(PC,A0.W)
000044C2 00000000     H.23.4     DC.L      L.23.4
000044C6 00000000                DC.L      0                                     $0
000044CA FFF6                    DC.W      -10                                   $FFFFFFF6
000044CC FFFE                    DC.W      -2                                    $FFFFFFFE
000044CE 0000                    DC.W      L.23.5+12-*
000044D0              L.23.5
                      *                                                        LINE 25/8
                      *                                                        LINE 25/9
000044D0 4EB900000000 L.23.6     JSR       E.MSG
                      *                                                        LINE 25/10
000044D6 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000044DA 4A80                    TST.L     D0
000044DC 6606                    BNE.S     X.23.2(PC)
000044DE 4EB900000000            JSR       E.FILE
000044E4 7227         X.23.2     MOVEQ     #39,D1                                $27
000044E6 3F01                    MOVE.W    D1,-(A7)
000044E8 7204                    MOVEQ     #4,D1                                 $4
000044EA 3F01                    MOVE.W    D1,-(A7)
000044EC 487AFEF2                PEA       K.124(PC)                             CODE.+$43E0
000044F0 2F00                    MOVE.L    D0,-(A7)
000044F2 4EB900000000            JSR       T.WRITE
000044F8 2F00                    MOVE.L    D0,-(A7)
000044FA 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 25/11
00004500 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00004504 4A80                    TST.L     D0
00004506 6606                    BNE.S     X.23.3(PC)
00004508 4EB900000000            JSR       E.FILE
0000450E 720B         X.23.3     MOVEQ     #11,D1                                $B
00004510 3F01                    MOVE.W    D1,-(A7)
00004512 7204                    MOVEQ     #4,D1                                 $4
00004514 3F01                    MOVE.W    D1,-(A7)
00004516 487AFEF0                PEA       K.125(PC)                             CODE.+$4408
0000451A 2F00                    MOVE.L    D0,-(A7)
0000451C 4EB900000000            JSR       T.WRITE
00004522 4267                    CLR.W     -(A7)
00004524 486D8128                PEA       STATIC.+304-32768(A5)                 INT_ARG1
00004528 2F00                    MOVE.L    D0,-(A7)
0000452A 4EB900000000            JSR       T.WRITE
00004530 720B                    MOVEQ     #11,D1                                $B
00004532 3F01                    MOVE.W    D1,-(A7)
00004534 7204                    MOVEQ     #4,D1                                 $4
00004536 3F01                    MOVE.W    D1,-(A7)
00004538 487AFEDA                PEA       K.126(PC)                             CODE.+$4414
0000453C 2F00                    MOVE.L    D0,-(A7)
0000453E 4EB900000000            JSR       T.WRITE
00004544 4267                    CLR.W     -(A7)
00004546 486D812C                PEA       STATIC.+308-32768(A5)                 INT_ARG2
0000454A 2F00                    MOVE.L    D0,-(A7)
0000454C 4EB900000000            JSR       T.WRITE
00004552 2F00                    MOVE.L    D0,-(A7)
00004554 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 25/12
0000455A 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
0000455E 4A80                    TST.L     D0
00004560 6606                    BNE.S     X.23.4(PC)
00004562 4EB900000000            JSR       E.FILE
00004568 2F00         X.23.4     MOVE.L    D0,-(A7)
0000456A 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 25/13
00004570 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00004574 4A80                    TST.L     D0
00004576 6606                    BNE.S     X.23.5(PC)
00004578 4EB900000000            JSR       E.FILE
0000457E 7227         X.23.5     MOVEQ     #39,D1                                $27
00004580 3F01                    MOVE.W    D1,-(A7)
00004582 7204                    MOVEQ     #4,D1                                 $4
00004584 3F01                    MOVE.W    D1,-(A7)
00004586 487AFE98                PEA       K.127(PC)                             CODE.+$4420
0000458A 2F00                    MOVE.L    D0,-(A7)
0000458C 4EB900000000            JSR       T.WRITE
00004592 2F00                    MOVE.L    D0,-(A7)
00004594 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 25/14
0000459A 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
0000459E 4A80                    TST.L     D0
000045A0 6606                    BNE.S     X.23.6(PC)
000045A2 4EB900000000            JSR       E.FILE
000045A8 720B         X.23.6     MOVEQ     #11,D1                                $B
000045AA 3F01                    MOVE.W    D1,-(A7)
000045AC 7204                    MOVEQ     #4,D1                                 $4
000045AE 3F01                    MOVE.W    D1,-(A7)
000045B0 487AFE96                PEA       K.128(PC)                             CODE.+$4448
000045B4 2F00                    MOVE.L    D0,-(A7)
000045B6 4EB900000000            JSR       T.WRITE
000045BC 4267                    CLR.W     -(A7)
000045BE 486D8128                PEA       STATIC.+304-32768(A5)                 INT_ARG1
000045C2 2F00                    MOVE.L    D0,-(A7)
000045C4 4EB900000000            JSR       T.WRITE
000045CA 720B                    MOVEQ     #11,D1                                $B
000045CC 3F01                    MOVE.W    D1,-(A7)
000045CE 7204                    MOVEQ     #4,D1                                 $4
000045D0 3F01                    MOVE.W    D1,-(A7)
000045D2 487AFE80                PEA       K.129(PC)                             CODE.+$4454
000045D6 2F00                    MOVE.L    D0,-(A7)
000045D8 4EB900000000            JSR       T.WRITE
000045DE 4267                    CLR.W     -(A7)
000045E0 486D812C                PEA       STATIC.+308-32768(A5)                 INT_ARG2
000045E4 2F00                    MOVE.L    D0,-(A7)
000045E6 4EB900000000            JSR       T.WRITE
000045EC 2F00                    MOVE.L    D0,-(A7)
000045EE 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 25/15
000045F4 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000045F8 4A80                    TST.L     D0
000045FA 6606                    BNE.S     X.23.7(PC)
000045FC 4EB900000000            JSR       E.FILE
00004602 2F00         X.23.7     MOVE.L    D0,-(A7)
00004604 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 25/16
0000460A 42A7         L.23.7     CLR.L     -(A7)
0000460C 4EB900000000            JSR       E.HREST
                      *                                                        LINE 25/17
00004612 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_INT_POWER
                      *
00004618 666174616C20 K.130      DC.B      'fatal error encountered on integer power:'
00004641 00000001                DS.B      1
00004642 202020617267 K.131      DC.B      '   arg 1 = '
0000464D 00000001                DS.B      1
0000464E 202020617267 K.132      DC.B      '   arg 2 = '
00004659 00000001                DS.B      1
0000465A 666174616C20 K.133      DC.B      'fatal error encountered on integer power:'
00004683 00000001                DS.B      1
00004684 202020617267 K.134      DC.B      '   arg 1 = '
0000468F 00000001                DS.B      1
00004690 202020617267 K.135      DC.B      '   arg 2 = '
0000469B 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_INT_POWER
                      *
0000469C 7010         B.24       MOVEQ     #16,D0                                $10
0000469E 2F00                    MOVE.L    D0,-(A7)
000046A0 6116                    BSR.S     X.24.1(PC)
000046A2 00000000                DC.L      C.1
000046A6 0000                    DC.W      0                                     $0
000046A8 000E                    DC.W      14                                  String length word
000046AA 544553545F49            DC.B      'TEST_INT_POWER'
000046B8 203CFFFFFFEE X.24.1     MOVE.L    #T.24-4,D0                            -14
000046BE 4EB900000000            JSR       M.ENTRY
000046C4 2D4FFFF2                MOVE.L    A7,ST.24(A6)                          -14
                      *                                                        LINE 26/3
000046C8 487A0036     L.24.1     PEA       H.24.4(PC)
000046CC 4EB900000000            JSR       E.HSET
                      *                                                        LINE 26/4
000046D2 2F2D8128                MOVE.L    STATIC.+304-32768(A5),-(A7)           INT_ARG1
000046D6 2F2D812C                MOVE.L    STATIC.+308-32768(A5),-(A7)           INT_ARG2
000046DA 4EB900000000            JSR       G.I4PWR
000046E0 2B5F8218                MOVE.L    (A7)+,STATIC.+544-32768(A5)           INT_RSLT
                      *                                                        LINE 26/5
000046E4 202D8218                MOVE.L    STATIC.+544-32768(A5),D0              INT_RSLT
000046E8 B0AD8130                CMP.L     STATIC.+312-32768(A5),D0              INT_LIB_RSLT
000046EC 6706                    BEQ.S     L.24.3(PC)
                      *                                                        LINE 26/5 (2)
000046EE 4267         L.24.2     CLR.W     -(A7)
000046F0 6100BBB6                BSR.L     B.3(PC)                               RESULT_ERROR = CODE.+
000046F4 60000152     L.24.3     BRA.L     L.24.7(PC)
                      *                                                        LINE 26/6
000046F8 2E6EFFF2     L.24.4     MOVEA.L   ST.24(A6),A7                          -14
000046FC 4EFB8002                JMP       H.24.4(PC,A0.W)
00004700 00000000     H.24.4     DC.L      L.24.4
00004704 00000000                DC.L      0                                     $0
00004708 FFF6                    DC.W      -10                                   $FFFFFFF6
0000470A FFFE                    DC.W      -2                                    $FFFFFFFE
0000470C 0000                    DC.W      L.24.5+12-*
0000470E              L.24.5
                      *                                                        LINE 26/8
                      *                                                        LINE 26/9
0000470E 4EB900000000 L.24.6     JSR       E.MSG
                      *                                                        LINE 26/10
00004714 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00004718 4A80                    TST.L     D0
0000471A 6606                    BNE.S     X.24.2(PC)
0000471C 4EB900000000            JSR       E.FILE
00004722 7229         X.24.2     MOVEQ     #41,D1                                $29
00004724 3F01                    MOVE.W    D1,-(A7)
00004726 7204                    MOVEQ     #4,D1                                 $4
00004728 3F01                    MOVE.W    D1,-(A7)
0000472A 487AFEEC                PEA       K.130(PC)                             CODE.+$4618
0000472E 2F00                    MOVE.L    D0,-(A7)
00004730 4EB900000000            JSR       T.WRITE
00004736 2F00                    MOVE.L    D0,-(A7)
00004738 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 26/11
0000473E 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00004742 4A80                    TST.L     D0
00004744 6606                    BNE.S     X.24.3(PC)
00004746 4EB900000000            JSR       E.FILE
0000474C 720B         X.24.3     MOVEQ     #11,D1                                $B
0000474E 3F01                    MOVE.W    D1,-(A7)
00004750 7204                    MOVEQ     #4,D1                                 $4
00004752 3F01                    MOVE.W    D1,-(A7)
00004754 487AFEEC                PEA       K.131(PC)                             CODE.+$4642
00004758 2F00                    MOVE.L    D0,-(A7)
0000475A 4EB900000000            JSR       T.WRITE
00004760 4267                    CLR.W     -(A7)
00004762 486D8128                PEA       STATIC.+304-32768(A5)                 INT_ARG1
00004766 2F00                    MOVE.L    D0,-(A7)
00004768 4EB900000000            JSR       T.WRITE
0000476E 720B                    MOVEQ     #11,D1                                $B
00004770 3F01                    MOVE.W    D1,-(A7)
00004772 7204                    MOVEQ     #4,D1                                 $4
00004774 3F01                    MOVE.W    D1,-(A7)
00004776 487AFED6                PEA       K.132(PC)                             CODE.+$464E
0000477A 2F00                    MOVE.L    D0,-(A7)
0000477C 4EB900000000            JSR       T.WRITE
00004782 4267                    CLR.W     -(A7)
00004784 486D812C                PEA       STATIC.+308-32768(A5)                 INT_ARG2
00004788 2F00                    MOVE.L    D0,-(A7)
0000478A 4EB900000000            JSR       T.WRITE
00004790 2F00                    MOVE.L    D0,-(A7)
00004792 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 26/12
00004798 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
0000479C 4A80                    TST.L     D0
0000479E 6606                    BNE.S     X.24.4(PC)
000047A0 4EB900000000            JSR       E.FILE
000047A6 2F00         X.24.4     MOVE.L    D0,-(A7)
000047A8 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 26/13
000047AE 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000047B2 4A80                    TST.L     D0
000047B4 6606                    BNE.S     X.24.5(PC)
000047B6 4EB900000000            JSR       E.FILE
000047BC 7229         X.24.5     MOVEQ     #41,D1                                $29
000047BE 3F01                    MOVE.W    D1,-(A7)
000047C0 7204                    MOVEQ     #4,D1                                 $4
000047C2 3F01                    MOVE.W    D1,-(A7)
000047C4 487AFE94                PEA       K.133(PC)                             CODE.+$465A
000047C8 2F00                    MOVE.L    D0,-(A7)
000047CA 4EB900000000            JSR       T.WRITE
000047D0 2F00                    MOVE.L    D0,-(A7)
000047D2 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 26/14
000047D8 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000047DC 4A80                    TST.L     D0
000047DE 6606                    BNE.S     X.24.6(PC)
000047E0 4EB900000000            JSR       E.FILE
000047E6 720B         X.24.6     MOVEQ     #11,D1                                $B
000047E8 3F01                    MOVE.W    D1,-(A7)
000047EA 7204                    MOVEQ     #4,D1                                 $4
000047EC 3F01                    MOVE.W    D1,-(A7)
000047EE 487AFE94                PEA       K.134(PC)                             CODE.+$4684
000047F2 2F00                    MOVE.L    D0,-(A7)
000047F4 4EB900000000            JSR       T.WRITE
000047FA 4267                    CLR.W     -(A7)
000047FC 486D8128                PEA       STATIC.+304-32768(A5)                 INT_ARG1
00004800 2F00                    MOVE.L    D0,-(A7)
00004802 4EB900000000            JSR       T.WRITE
00004808 720B                    MOVEQ     #11,D1                                $B
0000480A 3F01                    MOVE.W    D1,-(A7)
0000480C 7204                    MOVEQ     #4,D1                                 $4
0000480E 3F01                    MOVE.W    D1,-(A7)
00004810 487AFE7E                PEA       K.135(PC)                             CODE.+$4690
00004814 2F00                    MOVE.L    D0,-(A7)
00004816 4EB900000000            JSR       T.WRITE
0000481C 4267                    CLR.W     -(A7)
0000481E 486D812C                PEA       STATIC.+308-32768(A5)                 INT_ARG2
00004822 2F00                    MOVE.L    D0,-(A7)
00004824 4EB900000000            JSR       T.WRITE
0000482A 2F00                    MOVE.L    D0,-(A7)
0000482C 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 26/15
00004832 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00004836 4A80                    TST.L     D0
00004838 6606                    BNE.S     X.24.7(PC)
0000483A 4EB900000000            JSR       E.FILE
00004840 2F00         X.24.7     MOVE.L    D0,-(A7)
00004842 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 26/16
00004848 42A7         L.24.7     CLR.L     -(A7)
0000484A 4EB900000000            JSR       E.HREST
                      *                                                        LINE 26/17
00004850 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_REAL_ADD
                      *
00004856 666174616C20 K.136      DC.B      'fatal error encountered on real add:'
0000487A 202020617267 K.137      DC.B      '   arg 1 = '
00004885 00000001                DS.B      1
00004886 202020617267 K.138      DC.B      '   arg 2 = '
00004891 00000001                DS.B      1
00004892 666174616C20 K.139      DC.B      'fatal error encountered on real add:'
000048B6 202020617267 K.140      DC.B      '   arg 1 = '
000048C1 00000001                DS.B      1
000048C2 202020617267 K.141      DC.B      '   arg 2 = '
000048CD 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_REAL_ADD
                      *
000048CE 7010         B.25       MOVEQ     #16,D0                                $10
000048D0 2F00                    MOVE.L    D0,-(A7)
000048D2 6116                    BSR.S     X.25.1(PC)
000048D4 00000000                DC.L      C.1
000048D8 0000                    DC.W      0                                     $0
000048DA 000D                    DC.W      13                                  String length word
000048DC 544553545F52            DC.B      'TEST_REAL_ADD'
000048E9 00000001                DS.B      1                                   Fill byte
000048EA 203CFFFFFFA6 X.25.1     MOVE.L    #T.25-4,D0                            -86
000048F0 4EB900000000            JSR       M.ENTRY
000048F6 2D4FFFAA                MOVE.L    A7,ST.25(A6)                          -86
                      *                                                        LINE 27/3
000048FA 487A00D4     L.25.1     PEA       H.25.2(PC)
000048FE 4EB900000000            JSR       E.HSET
                      *                                                        LINE 27/4
00004904 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00004908 2F2D8108                MOVE.L    STATIC.+272-32768(A5),-(A7)           ARG2
0000490C 4EB900000000            JSR       F.ADD
00004912 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 27/5
00004916 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
0000491A 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
0000491E 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 27/6
00004924 7001                    MOVEQ     #1,D0                                 $1
00004926 3F00                    MOVE.W    D0,-(A7)
00004928 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
0000492C 2F08                    MOVE.L    A0,-(A7)
0000492E 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00004932 6100C316                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00004936 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
0000493A 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
0000493E 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00004942 5240                    ADDQ.W    #1,D0                                 $1
00004944 E248                    LSR.W     #1,D0                                 $1
00004946 32D8         X.25.2     MOVE.W    (A0)+,(A1)+
00004948 51C8FFFC                DBF       D0,X.25.2(PC)
                      *                                                        LINE 27/7
0000494C 4267                    CLR.W     -(A7)
0000494E 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00004952 7046                    MOVEQ     #70,D0                                $46
00004954 3F00                    MOVE.W    D0,-(A7)
00004956 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000495A 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
0000495E 7046                    MOVEQ     #70,D0                                $46
00004960 3F00                    MOVE.W    D0,-(A7)
00004962 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00004966 6100BF5C                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 27/8
0000496A 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
0000496E 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
00004972 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00004976 4EB900000000            JSR       D.ADD
                      *                                                        LINE 27/9
0000497C 7001                    MOVEQ     #1,D0                                 $1
0000497E 3F00                    MOVE.W    D0,-(A7)
00004980 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00004984 2F08                    MOVE.L    A0,-(A7)
00004986 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
0000498A 6100C2BE                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
0000498E 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00004992 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00004996 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
0000499A 5240                    ADDQ.W    #1,D0                                 $1
0000499C E248                    LSR.W     #1,D0                                 $1
0000499E 32D8         X.25.3     MOVE.W    (A0)+,(A1)+
000049A0 51C8FFFC                DBF       D0,X.25.3(PC)
                      *                                                        LINE 27/10
000049A4 7001                    MOVEQ     #1,D0                                 $1
000049A6 3F00                    MOVE.W    D0,-(A7)
000049A8 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
000049AC 7046                    MOVEQ     #70,D0                                $46
000049AE 3F00                    MOVE.W    D0,-(A7)
000049B0 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
000049B4 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
000049B8 7046                    MOVEQ     #70,D0                                $46
000049BA 3F00                    MOVE.W    D0,-(A7)
000049BC 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
000049C0 6100BF02                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
000049C4 6000016A                BRA.L     L.25.5(PC)
                      *                                                        LINE 27/12
000049C8 2E6EFFAA     L.25.2     MOVEA.L   ST.25(A6),A7                          -86
000049CC 4EFB8002                JMP       H.25.2(PC,A0.W)
000049D0 00000000     H.25.2     DC.L      L.25.2
000049D4 00000000                DC.L      0                                     $0
000049D8 FFF6                    DC.W      -10                                   $FFFFFFF6
000049DA FFFE                    DC.W      -2                                    $FFFFFFFE
000049DC 0000                    DC.W      L.25.3+12-*
000049DE              L.25.3
                      *                                                        LINE 27/14
                      *                                                        LINE 27/15
000049DE 4EB900000000 L.25.4     JSR       E.MSG
                      *                                                        LINE 27/16
000049E4 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000049E8 4A80                    TST.L     D0
000049EA 6606                    BNE.S     X.25.4(PC)
000049EC 4EB900000000            JSR       E.FILE
000049F2 7224         X.25.4     MOVEQ     #36,D1                                $24
000049F4 3F01                    MOVE.W    D1,-(A7)
000049F6 7204                    MOVEQ     #4,D1                                 $4
000049F8 3F01                    MOVE.W    D1,-(A7)
000049FA 487AFE5A                PEA       K.136(PC)                             CODE.+$4856
000049FE 2F00                    MOVE.L    D0,-(A7)
00004A00 4EB900000000            JSR       T.WRITE
00004A06 2F00                    MOVE.L    D0,-(A7)
00004A08 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 27/17
00004A0E 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00004A12 4A80                    TST.L     D0
00004A14 6606                    BNE.S     X.25.5(PC)
00004A16 4EB900000000            JSR       E.FILE
00004A1C 720B         X.25.5     MOVEQ     #11,D1                                $B
00004A1E 3F01                    MOVE.W    D1,-(A7)
00004A20 7204                    MOVEQ     #4,D1                                 $4
00004A22 3F01                    MOVE.W    D1,-(A7)
00004A24 487AFE54                PEA       K.137(PC)                             CODE.+$487A
00004A28 2F00                    MOVE.L    D0,-(A7)
00004A2A 4EB900000000            JSR       T.WRITE
00004A30 7210                    MOVEQ     #16,D1                                $10
00004A32 2F01                    MOVE.L    D1,-(A7)
00004A34 7202                    MOVEQ     #2,D1                                 $2
00004A36 3F01                    MOVE.W    D1,-(A7)
00004A38 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00004A3C 2F00                    MOVE.L    D0,-(A7)
00004A3E 4EB900000000            JSR       T.WRITE
00004A44 720B                    MOVEQ     #11,D1                                $B
00004A46 3F01                    MOVE.W    D1,-(A7)
00004A48 7204                    MOVEQ     #4,D1                                 $4
00004A4A 3F01                    MOVE.W    D1,-(A7)
00004A4C 487AFE38                PEA       K.138(PC)                             CODE.+$4886
00004A50 2F00                    MOVE.L    D0,-(A7)
00004A52 4EB900000000            JSR       T.WRITE
00004A58 7210                    MOVEQ     #16,D1                                $10
00004A5A 2F01                    MOVE.L    D1,-(A7)
00004A5C 7202                    MOVEQ     #2,D1                                 $2
00004A5E 3F01                    MOVE.W    D1,-(A7)
00004A60 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
00004A64 2F00                    MOVE.L    D0,-(A7)
00004A66 4EB900000000            JSR       T.WRITE
00004A6C 2F00                    MOVE.L    D0,-(A7)
00004A6E 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 27/18
00004A74 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00004A78 4A80                    TST.L     D0
00004A7A 6606                    BNE.S     X.25.6(PC)
00004A7C 4EB900000000            JSR       E.FILE
00004A82 2F00         X.25.6     MOVE.L    D0,-(A7)
00004A84 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 27/19
00004A8A 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00004A8E 4A80                    TST.L     D0
00004A90 6606                    BNE.S     X.25.7(PC)
00004A92 4EB900000000            JSR       E.FILE
00004A98 7224         X.25.7     MOVEQ     #36,D1                                $24
00004A9A 3F01                    MOVE.W    D1,-(A7)
00004A9C 7204                    MOVEQ     #4,D1                                 $4
00004A9E 3F01                    MOVE.W    D1,-(A7)
00004AA0 487AFDF0                PEA       K.139(PC)                             CODE.+$4892
00004AA4 2F00                    MOVE.L    D0,-(A7)
00004AA6 4EB900000000            JSR       T.WRITE
00004AAC 2F00                    MOVE.L    D0,-(A7)
00004AAE 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 27/20
00004AB4 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00004AB8 4A80                    TST.L     D0
00004ABA 6606                    BNE.S     X.25.8(PC)
00004ABC 4EB900000000            JSR       E.FILE
00004AC2 720B         X.25.8     MOVEQ     #11,D1                                $B
00004AC4 3F01                    MOVE.W    D1,-(A7)
00004AC6 7204                    MOVEQ     #4,D1                                 $4
00004AC8 3F01                    MOVE.W    D1,-(A7)
00004ACA 487AFDEA                PEA       K.140(PC)                             CODE.+$48B6
00004ACE 2F00                    MOVE.L    D0,-(A7)
00004AD0 4EB900000000            JSR       T.WRITE
00004AD6 7210                    MOVEQ     #16,D1                                $10
00004AD8 2F01                    MOVE.L    D1,-(A7)
00004ADA 7202                    MOVEQ     #2,D1                                 $2
00004ADC 3F01                    MOVE.W    D1,-(A7)
00004ADE 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00004AE2 2F00                    MOVE.L    D0,-(A7)
00004AE4 4EB900000000            JSR       T.WRITE
00004AEA 720B                    MOVEQ     #11,D1                                $B
00004AEC 3F01                    MOVE.W    D1,-(A7)
00004AEE 7204                    MOVEQ     #4,D1                                 $4
00004AF0 3F01                    MOVE.W    D1,-(A7)
00004AF2 487AFDCE                PEA       K.141(PC)                             CODE.+$48C2
00004AF6 2F00                    MOVE.L    D0,-(A7)
00004AF8 4EB900000000            JSR       T.WRITE
00004AFE 7210                    MOVEQ     #16,D1                                $10
00004B00 2F01                    MOVE.L    D1,-(A7)
00004B02 7202                    MOVEQ     #2,D1                                 $2
00004B04 3F01                    MOVE.W    D1,-(A7)
00004B06 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
00004B0A 2F00                    MOVE.L    D0,-(A7)
00004B0C 4EB900000000            JSR       T.WRITE
00004B12 2F00                    MOVE.L    D0,-(A7)
00004B14 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 27/21
00004B1A 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00004B1E 4A80                    TST.L     D0
00004B20 6606                    BNE.S     X.25.9(PC)
00004B22 4EB900000000            JSR       E.FILE
00004B28 2F00         X.25.9     MOVE.L    D0,-(A7)
00004B2A 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 27/22
00004B30 42A7         L.25.5     CLR.L     -(A7)
00004B32 4EB900000000            JSR       E.HREST
                      *                                                        LINE 27/24
00004B38 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_REAL_SUB
                      *
00004B3E 666174616C20 K.142      DC.B      'fatal error encountered on real subtract:'
00004B67 00000001                DS.B      1
00004B68 202020617267 K.143      DC.B      '   arg 1 = '
00004B73 00000001                DS.B      1
00004B74 202020617267 K.144      DC.B      '   arg 2 = '
00004B7F 00000001                DS.B      1
00004B80 666174616C20 K.145      DC.B      'fatal error encountered on real subtract:'
00004BA9 00000001                DS.B      1
00004BAA 202020617267 K.146      DC.B      '   arg 1 = '
00004BB5 00000001                DS.B      1
00004BB6 202020617267 K.147      DC.B      '   arg 2 = '
00004BC1 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_REAL_SUB
                      *
00004BC2 7010         B.26       MOVEQ     #16,D0                                $10
00004BC4 2F00                    MOVE.L    D0,-(A7)
00004BC6 6116                    BSR.S     X.26.1(PC)
00004BC8 00000000                DC.L      C.1
00004BCC 0000                    DC.W      0                                     $0
00004BCE 000D                    DC.W      13                                  String length word
00004BD0 544553545F52            DC.B      'TEST_REAL_SUB'
00004BDD 00000001                DS.B      1                                   Fill byte
00004BDE 203CFFFFFFA6 X.26.1     MOVE.L    #T.26-4,D0                            -86
00004BE4 4EB900000000            JSR       M.ENTRY
00004BEA 2D4FFFAA                MOVE.L    A7,ST.26(A6)                          -86
                      *                                                        LINE 28/3
00004BEE 487A00D4     L.26.1     PEA       H.26.2(PC)
00004BF2 4EB900000000            JSR       E.HSET
                      *                                                        LINE 28/4
00004BF8 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00004BFC 2F2D8108                MOVE.L    STATIC.+272-32768(A5),-(A7)           ARG2
00004C00 4EB900000000            JSR       F.SUB
00004C06 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 28/5
00004C0A 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
00004C0E 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00004C12 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 28/6
00004C18 7001                    MOVEQ     #1,D0                                 $1
00004C1A 3F00                    MOVE.W    D0,-(A7)
00004C1C 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00004C20 2F08                    MOVE.L    A0,-(A7)
00004C22 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00004C26 6100C022                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00004C2A 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00004C2E 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00004C32 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00004C36 5240                    ADDQ.W    #1,D0                                 $1
00004C38 E248                    LSR.W     #1,D0                                 $1
00004C3A 32D8         X.26.2     MOVE.W    (A0)+,(A1)+
00004C3C 51C8FFFC                DBF       D0,X.26.2(PC)
                      *                                                        LINE 28/7
00004C40 4267                    CLR.W     -(A7)
00004C42 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00004C46 7046                    MOVEQ     #70,D0                                $46
00004C48 3F00                    MOVE.W    D0,-(A7)
00004C4A 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00004C4E 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00004C52 7046                    MOVEQ     #70,D0                                $46
00004C54 3F00                    MOVE.W    D0,-(A7)
00004C56 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00004C5A 6100BC68                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 28/8
00004C5E 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00004C62 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
00004C66 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00004C6A 4EB900000000            JSR       D.SUB
                      *                                                        LINE 28/9
00004C70 7001                    MOVEQ     #1,D0                                 $1
00004C72 3F00                    MOVE.W    D0,-(A7)
00004C74 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00004C78 2F08                    MOVE.L    A0,-(A7)
00004C7A 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00004C7E 6100BFCA                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00004C82 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00004C86 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00004C8A 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00004C8E 5240                    ADDQ.W    #1,D0                                 $1
00004C90 E248                    LSR.W     #1,D0                                 $1
00004C92 32D8         X.26.3     MOVE.W    (A0)+,(A1)+
00004C94 51C8FFFC                DBF       D0,X.26.3(PC)
                      *                                                        LINE 28/10
00004C98 7001                    MOVEQ     #1,D0                                 $1
00004C9A 3F00                    MOVE.W    D0,-(A7)
00004C9C 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00004CA0 7046                    MOVEQ     #70,D0                                $46
00004CA2 3F00                    MOVE.W    D0,-(A7)
00004CA4 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00004CA8 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00004CAC 7046                    MOVEQ     #70,D0                                $46
00004CAE 3F00                    MOVE.W    D0,-(A7)
00004CB0 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00004CB4 6100BC0E                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
00004CB8 6000016A                BRA.L     L.26.5(PC)
                      *                                                        LINE 28/12
00004CBC 2E6EFFAA     L.26.2     MOVEA.L   ST.26(A6),A7                          -86
00004CC0 4EFB8002                JMP       H.26.2(PC,A0.W)
00004CC4 00000000     H.26.2     DC.L      L.26.2
00004CC8 00000000                DC.L      0                                     $0
00004CCC FFF6                    DC.W      -10                                   $FFFFFFF6
00004CCE FFFE                    DC.W      -2                                    $FFFFFFFE
00004CD0 0000                    DC.W      L.26.3+12-*
00004CD2              L.26.3
                      *                                                        LINE 28/14
                      *                                                        LINE 28/15
00004CD2 4EB900000000 L.26.4     JSR       E.MSG
                      *                                                        LINE 28/16
00004CD8 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00004CDC 4A80                    TST.L     D0
00004CDE 6606                    BNE.S     X.26.4(PC)
00004CE0 4EB900000000            JSR       E.FILE
00004CE6 7229         X.26.4     MOVEQ     #41,D1                                $29
00004CE8 3F01                    MOVE.W    D1,-(A7)
00004CEA 7204                    MOVEQ     #4,D1                                 $4
00004CEC 3F01                    MOVE.W    D1,-(A7)
00004CEE 487AFE4E                PEA       K.142(PC)                             CODE.+$4B3E
00004CF2 2F00                    MOVE.L    D0,-(A7)
00004CF4 4EB900000000            JSR       T.WRITE
00004CFA 2F00                    MOVE.L    D0,-(A7)
00004CFC 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 28/17
00004D02 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00004D06 4A80                    TST.L     D0
00004D08 6606                    BNE.S     X.26.5(PC)
00004D0A 4EB900000000            JSR       E.FILE
00004D10 720B         X.26.5     MOVEQ     #11,D1                                $B
00004D12 3F01                    MOVE.W    D1,-(A7)
00004D14 7204                    MOVEQ     #4,D1                                 $4
00004D16 3F01                    MOVE.W    D1,-(A7)
00004D18 487AFE4E                PEA       K.143(PC)                             CODE.+$4B68
00004D1C 2F00                    MOVE.L    D0,-(A7)
00004D1E 4EB900000000            JSR       T.WRITE
00004D24 7210                    MOVEQ     #16,D1                                $10
00004D26 2F01                    MOVE.L    D1,-(A7)
00004D28 7202                    MOVEQ     #2,D1                                 $2
00004D2A 3F01                    MOVE.W    D1,-(A7)
00004D2C 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00004D30 2F00                    MOVE.L    D0,-(A7)
00004D32 4EB900000000            JSR       T.WRITE
00004D38 720B                    MOVEQ     #11,D1                                $B
00004D3A 3F01                    MOVE.W    D1,-(A7)
00004D3C 7204                    MOVEQ     #4,D1                                 $4
00004D3E 3F01                    MOVE.W    D1,-(A7)
00004D40 487AFE32                PEA       K.144(PC)                             CODE.+$4B74
00004D44 2F00                    MOVE.L    D0,-(A7)
00004D46 4EB900000000            JSR       T.WRITE
00004D4C 7210                    MOVEQ     #16,D1                                $10
00004D4E 2F01                    MOVE.L    D1,-(A7)
00004D50 7202                    MOVEQ     #2,D1                                 $2
00004D52 3F01                    MOVE.W    D1,-(A7)
00004D54 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
00004D58 2F00                    MOVE.L    D0,-(A7)
00004D5A 4EB900000000            JSR       T.WRITE
00004D60 2F00                    MOVE.L    D0,-(A7)
00004D62 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 28/18
00004D68 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00004D6C 4A80                    TST.L     D0
00004D6E 6606                    BNE.S     X.26.6(PC)
00004D70 4EB900000000            JSR       E.FILE
00004D76 2F00         X.26.6     MOVE.L    D0,-(A7)
00004D78 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 28/19
00004D7E 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00004D82 4A80                    TST.L     D0
00004D84 6606                    BNE.S     X.26.7(PC)
00004D86 4EB900000000            JSR       E.FILE
00004D8C 7229         X.26.7     MOVEQ     #41,D1                                $29
00004D8E 3F01                    MOVE.W    D1,-(A7)
00004D90 7204                    MOVEQ     #4,D1                                 $4
00004D92 3F01                    MOVE.W    D1,-(A7)
00004D94 487AFDEA                PEA       K.145(PC)                             CODE.+$4B80
00004D98 2F00                    MOVE.L    D0,-(A7)
00004D9A 4EB900000000            JSR       T.WRITE
00004DA0 2F00                    MOVE.L    D0,-(A7)
00004DA2 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 28/20
00004DA8 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00004DAC 4A80                    TST.L     D0
00004DAE 6606                    BNE.S     X.26.8(PC)
00004DB0 4EB900000000            JSR       E.FILE
00004DB6 720B         X.26.8     MOVEQ     #11,D1                                $B
00004DB8 3F01                    MOVE.W    D1,-(A7)
00004DBA 7204                    MOVEQ     #4,D1                                 $4
00004DBC 3F01                    MOVE.W    D1,-(A7)
00004DBE 487AFDEA                PEA       K.146(PC)                             CODE.+$4BAA
00004DC2 2F00                    MOVE.L    D0,-(A7)
00004DC4 4EB900000000            JSR       T.WRITE
00004DCA 7210                    MOVEQ     #16,D1                                $10
00004DCC 2F01                    MOVE.L    D1,-(A7)
00004DCE 7202                    MOVEQ     #2,D1                                 $2
00004DD0 3F01                    MOVE.W    D1,-(A7)
00004DD2 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00004DD6 2F00                    MOVE.L    D0,-(A7)
00004DD8 4EB900000000            JSR       T.WRITE
00004DDE 720B                    MOVEQ     #11,D1                                $B
00004DE0 3F01                    MOVE.W    D1,-(A7)
00004DE2 7204                    MOVEQ     #4,D1                                 $4
00004DE4 3F01                    MOVE.W    D1,-(A7)
00004DE6 487AFDCE                PEA       K.147(PC)                             CODE.+$4BB6
00004DEA 2F00                    MOVE.L    D0,-(A7)
00004DEC 4EB900000000            JSR       T.WRITE
00004DF2 7210                    MOVEQ     #16,D1                                $10
00004DF4 2F01                    MOVE.L    D1,-(A7)
00004DF6 7202                    MOVEQ     #2,D1                                 $2
00004DF8 3F01                    MOVE.W    D1,-(A7)
00004DFA 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
00004DFE 2F00                    MOVE.L    D0,-(A7)
00004E00 4EB900000000            JSR       T.WRITE
00004E06 2F00                    MOVE.L    D0,-(A7)
00004E08 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 28/21
00004E0E 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00004E12 4A80                    TST.L     D0
00004E14 6606                    BNE.S     X.26.9(PC)
00004E16 4EB900000000            JSR       E.FILE
00004E1C 2F00         X.26.9     MOVE.L    D0,-(A7)
00004E1E 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 28/22
00004E24 42A7         L.26.5     CLR.L     -(A7)
00004E26 4EB900000000            JSR       E.HREST
                      *                                                        LINE 28/24
00004E2C 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_REAL_MULT
                      *
00004E32 666174616C20 K.148      DC.B      'fatal error encountered on real multiplication:'
00004E61 00000001                DS.B      1
00004E62 202020617267 K.149      DC.B      '   arg 1 = '
00004E6D 00000001                DS.B      1
00004E6E 202020617267 K.150      DC.B      '   arg 2 = '
00004E79 00000001                DS.B      1
00004E7A 666174616C20 K.151      DC.B      'fatal error encountered on real multiplication:'
00004EA9 00000001                DS.B      1
00004EAA 202020617267 K.152      DC.B      '   arg 1 = '
00004EB5 00000001                DS.B      1
00004EB6 202020617267 K.153      DC.B      '   arg 2 = '
00004EC1 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_REAL_MULT
                      *
00004EC2 7010         B.27       MOVEQ     #16,D0                                $10
00004EC4 2F00                    MOVE.L    D0,-(A7)
00004EC6 6116                    BSR.S     X.27.1(PC)
00004EC8 00000000                DC.L      C.1
00004ECC 0000                    DC.W      0                                     $0
00004ECE 000E                    DC.W      14                                  String length word
00004ED0 544553545F52            DC.B      'TEST_REAL_MULT'
00004EDE 203CFFFFFFA6 X.27.1     MOVE.L    #T.27-4,D0                            -86
00004EE4 4EB900000000            JSR       M.ENTRY
00004EEA 2D4FFFAA                MOVE.L    A7,ST.27(A6)                          -86
                      *                                                        LINE 29/3
00004EEE 487A00D4     L.27.1     PEA       H.27.2(PC)
00004EF2 4EB900000000            JSR       E.HSET
                      *                                                        LINE 29/4
00004EF8 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00004EFC 2F2D8108                MOVE.L    STATIC.+272-32768(A5),-(A7)           ARG2
00004F00 4EB900000000            JSR       F.MUL
00004F06 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 29/5
00004F0A 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
00004F0E 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00004F12 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 29/6
00004F18 7001                    MOVEQ     #1,D0                                 $1
00004F1A 3F00                    MOVE.W    D0,-(A7)
00004F1C 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00004F20 2F08                    MOVE.L    A0,-(A7)
00004F22 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00004F26 6100BD22                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00004F2A 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00004F2E 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00004F32 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00004F36 5240                    ADDQ.W    #1,D0                                 $1
00004F38 E248                    LSR.W     #1,D0                                 $1
00004F3A 32D8         X.27.2     MOVE.W    (A0)+,(A1)+
00004F3C 51C8FFFC                DBF       D0,X.27.2(PC)
                      *                                                        LINE 29/7
00004F40 4267                    CLR.W     -(A7)
00004F42 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00004F46 7046                    MOVEQ     #70,D0                                $46
00004F48 3F00                    MOVE.W    D0,-(A7)
00004F4A 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00004F4E 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00004F52 7046                    MOVEQ     #70,D0                                $46
00004F54 3F00                    MOVE.W    D0,-(A7)
00004F56 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00004F5A 6100B968                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 29/8
00004F5E 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00004F62 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
00004F66 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00004F6A 4EB900000000            JSR       D.MUL
                      *                                                        LINE 29/9
00004F70 7001                    MOVEQ     #1,D0                                 $1
00004F72 3F00                    MOVE.W    D0,-(A7)
00004F74 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00004F78 2F08                    MOVE.L    A0,-(A7)
00004F7A 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00004F7E 6100BCCA                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00004F82 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00004F86 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00004F8A 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00004F8E 5240                    ADDQ.W    #1,D0                                 $1
00004F90 E248                    LSR.W     #1,D0                                 $1
00004F92 32D8         X.27.3     MOVE.W    (A0)+,(A1)+
00004F94 51C8FFFC                DBF       D0,X.27.3(PC)
                      *                                                        LINE 29/10
00004F98 7001                    MOVEQ     #1,D0                                 $1
00004F9A 3F00                    MOVE.W    D0,-(A7)
00004F9C 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00004FA0 7046                    MOVEQ     #70,D0                                $46
00004FA2 3F00                    MOVE.W    D0,-(A7)
00004FA4 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00004FA8 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00004FAC 7046                    MOVEQ     #70,D0                                $46
00004FAE 3F00                    MOVE.W    D0,-(A7)
00004FB0 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00004FB4 6100B90E                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
00004FB8 6000016A                BRA.L     L.27.5(PC)
                      *                                                        LINE 29/12
00004FBC 2E6EFFAA     L.27.2     MOVEA.L   ST.27(A6),A7                          -86
00004FC0 4EFB8002                JMP       H.27.2(PC,A0.W)
00004FC4 00000000     H.27.2     DC.L      L.27.2
00004FC8 00000000                DC.L      0                                     $0
00004FCC FFF6                    DC.W      -10                                   $FFFFFFF6
00004FCE FFFE                    DC.W      -2                                    $FFFFFFFE
00004FD0 0000                    DC.W      L.27.3+12-*
00004FD2              L.27.3
                      *                                                        LINE 29/14
                      *                                                        LINE 29/15
00004FD2 4EB900000000 L.27.4     JSR       E.MSG
                      *                                                        LINE 29/16
00004FD8 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00004FDC 4A80                    TST.L     D0
00004FDE 6606                    BNE.S     X.27.4(PC)
00004FE0 4EB900000000            JSR       E.FILE
00004FE6 722F         X.27.4     MOVEQ     #47,D1                                $2F
00004FE8 3F01                    MOVE.W    D1,-(A7)
00004FEA 7204                    MOVEQ     #4,D1                                 $4
00004FEC 3F01                    MOVE.W    D1,-(A7)
00004FEE 487AFE42                PEA       K.148(PC)                             CODE.+$4E32
00004FF2 2F00                    MOVE.L    D0,-(A7)
00004FF4 4EB900000000            JSR       T.WRITE
00004FFA 2F00                    MOVE.L    D0,-(A7)
00004FFC 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 29/17
00005002 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00005006 4A80                    TST.L     D0
00005008 6606                    BNE.S     X.27.5(PC)
0000500A 4EB900000000            JSR       E.FILE
00005010 720B         X.27.5     MOVEQ     #11,D1                                $B
00005012 3F01                    MOVE.W    D1,-(A7)
00005014 7204                    MOVEQ     #4,D1                                 $4
00005016 3F01                    MOVE.W    D1,-(A7)
00005018 487AFE48                PEA       K.149(PC)                             CODE.+$4E62
0000501C 2F00                    MOVE.L    D0,-(A7)
0000501E 4EB900000000            JSR       T.WRITE
00005024 7210                    MOVEQ     #16,D1                                $10
00005026 2F01                    MOVE.L    D1,-(A7)
00005028 7202                    MOVEQ     #2,D1                                 $2
0000502A 3F01                    MOVE.W    D1,-(A7)
0000502C 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00005030 2F00                    MOVE.L    D0,-(A7)
00005032 4EB900000000            JSR       T.WRITE
00005038 720B                    MOVEQ     #11,D1                                $B
0000503A 3F01                    MOVE.W    D1,-(A7)
0000503C 7204                    MOVEQ     #4,D1                                 $4
0000503E 3F01                    MOVE.W    D1,-(A7)
00005040 487AFE2C                PEA       K.150(PC)                             CODE.+$4E6E
00005044 2F00                    MOVE.L    D0,-(A7)
00005046 4EB900000000            JSR       T.WRITE
0000504C 7210                    MOVEQ     #16,D1                                $10
0000504E 2F01                    MOVE.L    D1,-(A7)
00005050 7202                    MOVEQ     #2,D1                                 $2
00005052 3F01                    MOVE.W    D1,-(A7)
00005054 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
00005058 2F00                    MOVE.L    D0,-(A7)
0000505A 4EB900000000            JSR       T.WRITE
00005060 2F00                    MOVE.L    D0,-(A7)
00005062 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 29/18
00005068 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
0000506C 4A80                    TST.L     D0
0000506E 6606                    BNE.S     X.27.6(PC)
00005070 4EB900000000            JSR       E.FILE
00005076 2F00         X.27.6     MOVE.L    D0,-(A7)
00005078 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 29/19
0000507E 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00005082 4A80                    TST.L     D0
00005084 6606                    BNE.S     X.27.7(PC)
00005086 4EB900000000            JSR       E.FILE
0000508C 722F         X.27.7     MOVEQ     #47,D1                                $2F
0000508E 3F01                    MOVE.W    D1,-(A7)
00005090 7204                    MOVEQ     #4,D1                                 $4
00005092 3F01                    MOVE.W    D1,-(A7)
00005094 487AFDE4                PEA       K.151(PC)                             CODE.+$4E7A
00005098 2F00                    MOVE.L    D0,-(A7)
0000509A 4EB900000000            JSR       T.WRITE
000050A0 2F00                    MOVE.L    D0,-(A7)
000050A2 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 29/20
000050A8 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000050AC 4A80                    TST.L     D0
000050AE 6606                    BNE.S     X.27.8(PC)
000050B0 4EB900000000            JSR       E.FILE
000050B6 720B         X.27.8     MOVEQ     #11,D1                                $B
000050B8 3F01                    MOVE.W    D1,-(A7)
000050BA 7204                    MOVEQ     #4,D1                                 $4
000050BC 3F01                    MOVE.W    D1,-(A7)
000050BE 487AFDEA                PEA       K.152(PC)                             CODE.+$4EAA
000050C2 2F00                    MOVE.L    D0,-(A7)
000050C4 4EB900000000            JSR       T.WRITE
000050CA 7210                    MOVEQ     #16,D1                                $10
000050CC 2F01                    MOVE.L    D1,-(A7)
000050CE 7202                    MOVEQ     #2,D1                                 $2
000050D0 3F01                    MOVE.W    D1,-(A7)
000050D2 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
000050D6 2F00                    MOVE.L    D0,-(A7)
000050D8 4EB900000000            JSR       T.WRITE
000050DE 720B                    MOVEQ     #11,D1                                $B
000050E0 3F01                    MOVE.W    D1,-(A7)
000050E2 7204                    MOVEQ     #4,D1                                 $4
000050E4 3F01                    MOVE.W    D1,-(A7)
000050E6 487AFDCE                PEA       K.153(PC)                             CODE.+$4EB6
000050EA 2F00                    MOVE.L    D0,-(A7)
000050EC 4EB900000000            JSR       T.WRITE
000050F2 7210                    MOVEQ     #16,D1                                $10
000050F4 2F01                    MOVE.L    D1,-(A7)
000050F6 7202                    MOVEQ     #2,D1                                 $2
000050F8 3F01                    MOVE.W    D1,-(A7)
000050FA 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
000050FE 2F00                    MOVE.L    D0,-(A7)
00005100 4EB900000000            JSR       T.WRITE
00005106 2F00                    MOVE.L    D0,-(A7)
00005108 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 29/21
0000510E 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00005112 4A80                    TST.L     D0
00005114 6606                    BNE.S     X.27.9(PC)
00005116 4EB900000000            JSR       E.FILE
0000511C 2F00         X.27.9     MOVE.L    D0,-(A7)
0000511E 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 29/22
00005124 42A7         L.27.5     CLR.L     -(A7)
00005126 4EB900000000            JSR       E.HREST
                      *                                                        LINE 29/24
0000512C 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_REAL_DIV
                      *
00005132 666174616C20 K.154      DC.B      'fatal error encountered on real division:'
0000515B 00000001                DS.B      1
0000515C 202020617267 K.155      DC.B      '   arg 1 = '
00005167 00000001                DS.B      1
00005168 202020617267 K.156      DC.B      '   arg 2 = '
00005173 00000001                DS.B      1
00005174 666174616C20 K.157      DC.B      'fatal error encountered on real division:'
0000519D 00000001                DS.B      1
0000519E 202020617267 K.158      DC.B      '   arg 1 = '
000051A9 00000001                DS.B      1
000051AA 202020617267 K.159      DC.B      '   arg 2 = '
000051B5 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_REAL_DIV
                      *
000051B6 7010         B.28       MOVEQ     #16,D0                                $10
000051B8 2F00                    MOVE.L    D0,-(A7)
000051BA 6116                    BSR.S     X.28.1(PC)
000051BC 00000000                DC.L      C.1
000051C0 0000                    DC.W      0                                     $0
000051C2 000D                    DC.W      13                                  String length word
000051C4 544553545F52            DC.B      'TEST_REAL_DIV'
000051D1 00000001                DS.B      1                                   Fill byte
000051D2 203CFFFFFFA6 X.28.1     MOVE.L    #T.28-4,D0                            -86
000051D8 4EB900000000            JSR       M.ENTRY
000051DE 2D4FFFAA                MOVE.L    A7,ST.28(A6)                          -86
                      *                                                        LINE 30/3
000051E2 487A00D4     L.28.1     PEA       H.28.2(PC)
000051E6 4EB900000000            JSR       E.HSET
                      *                                                        LINE 30/4
000051EC 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
000051F0 2F2D8108                MOVE.L    STATIC.+272-32768(A5),-(A7)           ARG2
000051F4 4EB900000000            JSR       F.DIV
000051FA 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 30/5
000051FE 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
00005202 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00005206 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 30/6
0000520C 7001                    MOVEQ     #1,D0                                 $1
0000520E 3F00                    MOVE.W    D0,-(A7)
00005210 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00005214 2F08                    MOVE.L    A0,-(A7)
00005216 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
0000521A 6100BA2E                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
0000521E 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00005222 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00005226 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
0000522A 5240                    ADDQ.W    #1,D0                                 $1
0000522C E248                    LSR.W     #1,D0                                 $1
0000522E 32D8         X.28.2     MOVE.W    (A0)+,(A1)+
00005230 51C8FFFC                DBF       D0,X.28.2(PC)
                      *                                                        LINE 30/7
00005234 4267                    CLR.W     -(A7)
00005236 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
0000523A 7046                    MOVEQ     #70,D0                                $46
0000523C 3F00                    MOVE.W    D0,-(A7)
0000523E 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00005242 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00005246 7046                    MOVEQ     #70,D0                                $46
00005248 3F00                    MOVE.W    D0,-(A7)
0000524A 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000524E 6100B674                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 30/8
00005252 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00005256 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
0000525A 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
0000525E 4EB900000000            JSR       D.DIV
                      *                                                        LINE 30/9
00005264 7001                    MOVEQ     #1,D0                                 $1
00005266 3F00                    MOVE.W    D0,-(A7)
00005268 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
0000526C 2F08                    MOVE.L    A0,-(A7)
0000526E 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00005272 6100B9D6                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00005276 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
0000527A 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
0000527E 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00005282 5240                    ADDQ.W    #1,D0                                 $1
00005284 E248                    LSR.W     #1,D0                                 $1
00005286 32D8         X.28.3     MOVE.W    (A0)+,(A1)+
00005288 51C8FFFC                DBF       D0,X.28.3(PC)
                      *                                                        LINE 30/10
0000528C 7001                    MOVEQ     #1,D0                                 $1
0000528E 3F00                    MOVE.W    D0,-(A7)
00005290 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00005294 7046                    MOVEQ     #70,D0                                $46
00005296 3F00                    MOVE.W    D0,-(A7)
00005298 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000529C 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
000052A0 7046                    MOVEQ     #70,D0                                $46
000052A2 3F00                    MOVE.W    D0,-(A7)
000052A4 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
000052A8 6100B61A                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
000052AC 6000016A                BRA.L     L.28.5(PC)
                      *                                                        LINE 30/12
000052B0 2E6EFFAA     L.28.2     MOVEA.L   ST.28(A6),A7                          -86
000052B4 4EFB8002                JMP       H.28.2(PC,A0.W)
000052B8 00000000     H.28.2     DC.L      L.28.2
000052BC 00000000                DC.L      0                                     $0
000052C0 FFF6                    DC.W      -10                                   $FFFFFFF6
000052C2 FFFE                    DC.W      -2                                    $FFFFFFFE
000052C4 0000                    DC.W      L.28.3+12-*
000052C6              L.28.3
                      *                                                        LINE 30/14
                      *                                                        LINE 30/15
000052C6 4EB900000000 L.28.4     JSR       E.MSG
                      *                                                        LINE 30/16
000052CC 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000052D0 4A80                    TST.L     D0
000052D2 6606                    BNE.S     X.28.4(PC)
000052D4 4EB900000000            JSR       E.FILE
000052DA 7229         X.28.4     MOVEQ     #41,D1                                $29
000052DC 3F01                    MOVE.W    D1,-(A7)
000052DE 7204                    MOVEQ     #4,D1                                 $4
000052E0 3F01                    MOVE.W    D1,-(A7)
000052E2 487AFE4E                PEA       K.154(PC)                             CODE.+$5132
000052E6 2F00                    MOVE.L    D0,-(A7)
000052E8 4EB900000000            JSR       T.WRITE
000052EE 2F00                    MOVE.L    D0,-(A7)
000052F0 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 30/17
000052F6 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000052FA 4A80                    TST.L     D0
000052FC 6606                    BNE.S     X.28.5(PC)
000052FE 4EB900000000            JSR       E.FILE
00005304 720B         X.28.5     MOVEQ     #11,D1                                $B
00005306 3F01                    MOVE.W    D1,-(A7)
00005308 7204                    MOVEQ     #4,D1                                 $4
0000530A 3F01                    MOVE.W    D1,-(A7)
0000530C 487AFE4E                PEA       K.155(PC)                             CODE.+$515C
00005310 2F00                    MOVE.L    D0,-(A7)
00005312 4EB900000000            JSR       T.WRITE
00005318 7210                    MOVEQ     #16,D1                                $10
0000531A 2F01                    MOVE.L    D1,-(A7)
0000531C 7202                    MOVEQ     #2,D1                                 $2
0000531E 3F01                    MOVE.W    D1,-(A7)
00005320 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00005324 2F00                    MOVE.L    D0,-(A7)
00005326 4EB900000000            JSR       T.WRITE
0000532C 720B                    MOVEQ     #11,D1                                $B
0000532E 3F01                    MOVE.W    D1,-(A7)
00005330 7204                    MOVEQ     #4,D1                                 $4
00005332 3F01                    MOVE.W    D1,-(A7)
00005334 487AFE32                PEA       K.156(PC)                             CODE.+$5168
00005338 2F00                    MOVE.L    D0,-(A7)
0000533A 4EB900000000            JSR       T.WRITE
00005340 7210                    MOVEQ     #16,D1                                $10
00005342 2F01                    MOVE.L    D1,-(A7)
00005344 7202                    MOVEQ     #2,D1                                 $2
00005346 3F01                    MOVE.W    D1,-(A7)
00005348 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
0000534C 2F00                    MOVE.L    D0,-(A7)
0000534E 4EB900000000            JSR       T.WRITE
00005354 2F00                    MOVE.L    D0,-(A7)
00005356 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 30/18
0000535C 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00005360 4A80                    TST.L     D0
00005362 6606                    BNE.S     X.28.6(PC)
00005364 4EB900000000            JSR       E.FILE
0000536A 2F00         X.28.6     MOVE.L    D0,-(A7)
0000536C 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 30/19
00005372 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00005376 4A80                    TST.L     D0
00005378 6606                    BNE.S     X.28.7(PC)
0000537A 4EB900000000            JSR       E.FILE
00005380 7229         X.28.7     MOVEQ     #41,D1                                $29
00005382 3F01                    MOVE.W    D1,-(A7)
00005384 7204                    MOVEQ     #4,D1                                 $4
00005386 3F01                    MOVE.W    D1,-(A7)
00005388 487AFDEA                PEA       K.157(PC)                             CODE.+$5174
0000538C 2F00                    MOVE.L    D0,-(A7)
0000538E 4EB900000000            JSR       T.WRITE
00005394 2F00                    MOVE.L    D0,-(A7)
00005396 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 30/20
0000539C 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000053A0 4A80                    TST.L     D0
000053A2 6606                    BNE.S     X.28.8(PC)
000053A4 4EB900000000            JSR       E.FILE
000053AA 720B         X.28.8     MOVEQ     #11,D1                                $B
000053AC 3F01                    MOVE.W    D1,-(A7)
000053AE 7204                    MOVEQ     #4,D1                                 $4
000053B0 3F01                    MOVE.W    D1,-(A7)
000053B2 487AFDEA                PEA       K.158(PC)                             CODE.+$519E
000053B6 2F00                    MOVE.L    D0,-(A7)
000053B8 4EB900000000            JSR       T.WRITE
000053BE 7210                    MOVEQ     #16,D1                                $10
000053C0 2F01                    MOVE.L    D1,-(A7)
000053C2 7202                    MOVEQ     #2,D1                                 $2
000053C4 3F01                    MOVE.W    D1,-(A7)
000053C6 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
000053CA 2F00                    MOVE.L    D0,-(A7)
000053CC 4EB900000000            JSR       T.WRITE
000053D2 720B                    MOVEQ     #11,D1                                $B
000053D4 3F01                    MOVE.W    D1,-(A7)
000053D6 7204                    MOVEQ     #4,D1                                 $4
000053D8 3F01                    MOVE.W    D1,-(A7)
000053DA 487AFDCE                PEA       K.159(PC)                             CODE.+$51AA
000053DE 2F00                    MOVE.L    D0,-(A7)
000053E0 4EB900000000            JSR       T.WRITE
000053E6 7210                    MOVEQ     #16,D1                                $10
000053E8 2F01                    MOVE.L    D1,-(A7)
000053EA 7202                    MOVEQ     #2,D1                                 $2
000053EC 3F01                    MOVE.W    D1,-(A7)
000053EE 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
000053F2 2F00                    MOVE.L    D0,-(A7)
000053F4 4EB900000000            JSR       T.WRITE
000053FA 2F00                    MOVE.L    D0,-(A7)
000053FC 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 30/21
00005402 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00005406 4A80                    TST.L     D0
00005408 6606                    BNE.S     X.28.9(PC)
0000540A 4EB900000000            JSR       E.FILE
00005410 2F00         X.28.9     MOVE.L    D0,-(A7)
00005412 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 30/22
00005418 42A7         L.28.5     CLR.L     -(A7)
0000541A 4EB900000000            JSR       E.HREST
                      *                                                        LINE 30/24
00005420 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_REAL_POWER
                      *
00005426 666174616C20 K.160      DC.B      'fatal error encountered on real power:'
0000544C 202020617267 K.161      DC.B      '   arg 1 = '
00005457 00000001                DS.B      1
00005458 202020617267 K.162      DC.B      '   arg 2 = '
00005463 00000001                DS.B      1
00005464 666174616C20 K.163      DC.B      'fatal error encountered on real power:'
0000548A 202020617267 K.164      DC.B      '   arg 1 = '
00005495 00000001                DS.B      1
00005496 202020617267 K.165      DC.B      '   arg 2 = '
000054A1 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_REAL_POWER
                      *
000054A2 7010         B.29       MOVEQ     #16,D0                                $10
000054A4 2F00                    MOVE.L    D0,-(A7)
000054A6 6118                    BSR.S     X.29.1(PC)
000054A8 00000000                DC.L      C.1
000054AC 0000                    DC.W      0                                     $0
000054AE 000F                    DC.W      15                                  String length word
000054B0 544553545F52            DC.B      'TEST_REAL_POWER'
000054BF 00000001                DS.B      1                                   Fill byte
000054C0 203CFFFFFFA6 X.29.1     MOVE.L    #T.29-4,D0                            -86
000054C6 4EB900000000            JSR       M.ENTRY
000054CC 2D4FFFAA                MOVE.L    A7,ST.29(A6)                          -86
                      *                                                        LINE 31/3
000054D0 487A00D4     L.29.1     PEA       H.29.2(PC)
000054D4 4EB900000000            JSR       E.HSET
                      *                                                        LINE 31/4
000054DA 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
000054DE 2F2D8108                MOVE.L    STATIC.+272-32768(A5),-(A7)           ARG2
000054E2 4EB900000000            JSR       F.PWR
000054E8 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 31/5
000054EC 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
000054F0 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
000054F4 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 31/6
000054FA 7001                    MOVEQ     #1,D0                                 $1
000054FC 3F00                    MOVE.W    D0,-(A7)
000054FE 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00005502 2F08                    MOVE.L    A0,-(A7)
00005504 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00005508 6100B740                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
0000550C 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00005510 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00005514 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00005518 5240                    ADDQ.W    #1,D0                                 $1
0000551A E248                    LSR.W     #1,D0                                 $1
0000551C 32D8         X.29.2     MOVE.W    (A0)+,(A1)+
0000551E 51C8FFFC                DBF       D0,X.29.2(PC)
                      *                                                        LINE 31/7
00005522 4267                    CLR.W     -(A7)
00005524 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00005528 7046                    MOVEQ     #70,D0                                $46
0000552A 3F00                    MOVE.W    D0,-(A7)
0000552C 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00005530 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00005534 7046                    MOVEQ     #70,D0                                $46
00005536 3F00                    MOVE.W    D0,-(A7)
00005538 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000553C 6100B386                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 31/8
00005540 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00005544 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
00005548 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
0000554C 4EB900000000            JSR       D.PWR
                      *                                                        LINE 31/9
00005552 7001                    MOVEQ     #1,D0                                 $1
00005554 3F00                    MOVE.W    D0,-(A7)
00005556 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
0000555A 2F08                    MOVE.L    A0,-(A7)
0000555C 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00005560 6100B6E8                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00005564 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00005568 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
0000556C 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00005570 5240                    ADDQ.W    #1,D0                                 $1
00005572 E248                    LSR.W     #1,D0                                 $1
00005574 32D8         X.29.3     MOVE.W    (A0)+,(A1)+
00005576 51C8FFFC                DBF       D0,X.29.3(PC)
                      *                                                        LINE 31/10
0000557A 7001                    MOVEQ     #1,D0                                 $1
0000557C 3F00                    MOVE.W    D0,-(A7)
0000557E 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00005582 7046                    MOVEQ     #70,D0                                $46
00005584 3F00                    MOVE.W    D0,-(A7)
00005586 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000558A 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
0000558E 7046                    MOVEQ     #70,D0                                $46
00005590 3F00                    MOVE.W    D0,-(A7)
00005592 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00005596 6100B32C                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
0000559A 6000016A                BRA.L     L.29.5(PC)
                      *                                                        LINE 31/12
0000559E 2E6EFFAA     L.29.2     MOVEA.L   ST.29(A6),A7                          -86
000055A2 4EFB8002                JMP       H.29.2(PC,A0.W)
000055A6 00000000     H.29.2     DC.L      L.29.2
000055AA 00000000                DC.L      0                                     $0
000055AE FFF6                    DC.W      -10                                   $FFFFFFF6
000055B0 FFFE                    DC.W      -2                                    $FFFFFFFE
000055B2 0000                    DC.W      L.29.3+12-*
000055B4              L.29.3
                      *                                                        LINE 31/14
                      *                                                        LINE 31/15
000055B4 4EB900000000 L.29.4     JSR       E.MSG
                      *                                                        LINE 31/16
000055BA 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000055BE 4A80                    TST.L     D0
000055C0 6606                    BNE.S     X.29.4(PC)
000055C2 4EB900000000            JSR       E.FILE
000055C8 7226         X.29.4     MOVEQ     #38,D1                                $26
000055CA 3F01                    MOVE.W    D1,-(A7)
000055CC 7204                    MOVEQ     #4,D1                                 $4
000055CE 3F01                    MOVE.W    D1,-(A7)
000055D0 487AFE54                PEA       K.160(PC)                             CODE.+$5426
000055D4 2F00                    MOVE.L    D0,-(A7)
000055D6 4EB900000000            JSR       T.WRITE
000055DC 2F00                    MOVE.L    D0,-(A7)
000055DE 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 31/17
000055E4 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000055E8 4A80                    TST.L     D0
000055EA 6606                    BNE.S     X.29.5(PC)
000055EC 4EB900000000            JSR       E.FILE
000055F2 720B         X.29.5     MOVEQ     #11,D1                                $B
000055F4 3F01                    MOVE.W    D1,-(A7)
000055F6 7204                    MOVEQ     #4,D1                                 $4
000055F8 3F01                    MOVE.W    D1,-(A7)
000055FA 487AFE50                PEA       K.161(PC)                             CODE.+$544C
000055FE 2F00                    MOVE.L    D0,-(A7)
00005600 4EB900000000            JSR       T.WRITE
00005606 7210                    MOVEQ     #16,D1                                $10
00005608 2F01                    MOVE.L    D1,-(A7)
0000560A 7202                    MOVEQ     #2,D1                                 $2
0000560C 3F01                    MOVE.W    D1,-(A7)
0000560E 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00005612 2F00                    MOVE.L    D0,-(A7)
00005614 4EB900000000            JSR       T.WRITE
0000561A 720B                    MOVEQ     #11,D1                                $B
0000561C 3F01                    MOVE.W    D1,-(A7)
0000561E 7204                    MOVEQ     #4,D1                                 $4
00005620 3F01                    MOVE.W    D1,-(A7)
00005622 487AFE34                PEA       K.162(PC)                             CODE.+$5458
00005626 2F00                    MOVE.L    D0,-(A7)
00005628 4EB900000000            JSR       T.WRITE
0000562E 7210                    MOVEQ     #16,D1                                $10
00005630 2F01                    MOVE.L    D1,-(A7)
00005632 7202                    MOVEQ     #2,D1                                 $2
00005634 3F01                    MOVE.W    D1,-(A7)
00005636 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
0000563A 2F00                    MOVE.L    D0,-(A7)
0000563C 4EB900000000            JSR       T.WRITE
00005642 2F00                    MOVE.L    D0,-(A7)
00005644 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 31/18
0000564A 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
0000564E 4A80                    TST.L     D0
00005650 6606                    BNE.S     X.29.6(PC)
00005652 4EB900000000            JSR       E.FILE
00005658 2F00         X.29.6     MOVE.L    D0,-(A7)
0000565A 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 31/19
00005660 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00005664 4A80                    TST.L     D0
00005666 6606                    BNE.S     X.29.7(PC)
00005668 4EB900000000            JSR       E.FILE
0000566E 7226         X.29.7     MOVEQ     #38,D1                                $26
00005670 3F01                    MOVE.W    D1,-(A7)
00005672 7204                    MOVEQ     #4,D1                                 $4
00005674 3F01                    MOVE.W    D1,-(A7)
00005676 487AFDEC                PEA       K.163(PC)                             CODE.+$5464
0000567A 2F00                    MOVE.L    D0,-(A7)
0000567C 4EB900000000            JSR       T.WRITE
00005682 2F00                    MOVE.L    D0,-(A7)
00005684 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 31/20
0000568A 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
0000568E 4A80                    TST.L     D0
00005690 6606                    BNE.S     X.29.8(PC)
00005692 4EB900000000            JSR       E.FILE
00005698 720B         X.29.8     MOVEQ     #11,D1                                $B
0000569A 3F01                    MOVE.W    D1,-(A7)
0000569C 7204                    MOVEQ     #4,D1                                 $4
0000569E 3F01                    MOVE.W    D1,-(A7)
000056A0 487AFDE8                PEA       K.164(PC)                             CODE.+$548A
000056A4 2F00                    MOVE.L    D0,-(A7)
000056A6 4EB900000000            JSR       T.WRITE
000056AC 7210                    MOVEQ     #16,D1                                $10
000056AE 2F01                    MOVE.L    D1,-(A7)
000056B0 7202                    MOVEQ     #2,D1                                 $2
000056B2 3F01                    MOVE.W    D1,-(A7)
000056B4 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
000056B8 2F00                    MOVE.L    D0,-(A7)
000056BA 4EB900000000            JSR       T.WRITE
000056C0 720B                    MOVEQ     #11,D1                                $B
000056C2 3F01                    MOVE.W    D1,-(A7)
000056C4 7204                    MOVEQ     #4,D1                                 $4
000056C6 3F01                    MOVE.W    D1,-(A7)
000056C8 487AFDCC                PEA       K.165(PC)                             CODE.+$5496
000056CC 2F00                    MOVE.L    D0,-(A7)
000056CE 4EB900000000            JSR       T.WRITE
000056D4 7210                    MOVEQ     #16,D1                                $10
000056D6 2F01                    MOVE.L    D1,-(A7)
000056D8 7202                    MOVEQ     #2,D1                                 $2
000056DA 3F01                    MOVE.W    D1,-(A7)
000056DC 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
000056E0 2F00                    MOVE.L    D0,-(A7)
000056E2 4EB900000000            JSR       T.WRITE
000056E8 2F00                    MOVE.L    D0,-(A7)
000056EA 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 31/21
000056F0 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000056F4 4A80                    TST.L     D0
000056F6 6606                    BNE.S     X.29.9(PC)
000056F8 4EB900000000            JSR       E.FILE
000056FE 2F00         X.29.9     MOVE.L    D0,-(A7)
00005700 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 31/22
00005706 42A7         L.29.5     CLR.L     -(A7)
00005708 4EB900000000            JSR       E.HREST
                      *                                                        LINE 31/24
0000570E 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_REAL_TO_INTEGER_POWER
                      *
00005714 666174616C20 K.166      DC.B      'fatal error encountered on real to integer power:'
00005745 00000001                DS.B      1
00005746 202020617267 K.167      DC.B      '   arg 1 = '
00005751 00000001                DS.B      1
00005752 202020617267 K.168      DC.B      '   arg 2 = '
0000575D 00000001                DS.B      1
0000575E 666174616C20 K.169      DC.B      'fatal error encountered on real to integer power:'
0000578F 00000001                DS.B      1
00005790 202020617267 K.170      DC.B      '   arg 1 = '
0000579B 00000001                DS.B      1
0000579C 202020617267 K.171      DC.B      '   arg 2 = '
000057A7 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_REAL_TO_INTEGER_POWER
                      *
000057A8 7010         B.30       MOVEQ     #16,D0                                $10
000057AA 2F00                    MOVE.L    D0,-(A7)
000057AC 6122                    BSR.S     X.30.1(PC)
000057AE 00000000                DC.L      C.1
000057B2 0000                    DC.W      0                                     $0
000057B4 001A                    DC.W      26                                  String length word
000057B6 544553545F52            DC.B      'TEST_REAL_TO_INTEGER_POWER'
000057D0 203CFFFFFFA6 X.30.1     MOVE.L    #T.30-4,D0                            -86
000057D6 4EB900000000            JSR       M.ENTRY
000057DC 2D4FFFAA                MOVE.L    A7,ST.30(A6)                          -86
                      *                                                        LINE 32/3
000057E0 487A00D4     L.30.1     PEA       H.30.2(PC)
000057E4 4EB900000000            JSR       E.HSET
                      *                                                        LINE 32/4
000057EA 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
000057EE 2F2D812C                MOVE.L    STATIC.+308-32768(A5),-(A7)           INT_ARG2
000057F2 4EB900000000            JSR       F.PWRI
000057F8 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 32/5
000057FC 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
00005800 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00005804 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 32/6
0000580A 7001                    MOVEQ     #1,D0                                 $1
0000580C 3F00                    MOVE.W    D0,-(A7)
0000580E 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00005812 2F08                    MOVE.L    A0,-(A7)
00005814 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00005818 6100B430                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
0000581C 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00005820 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00005824 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00005828 5240                    ADDQ.W    #1,D0                                 $1
0000582A E248                    LSR.W     #1,D0                                 $1
0000582C 32D8         X.30.2     MOVE.W    (A0)+,(A1)+
0000582E 51C8FFFC                DBF       D0,X.30.2(PC)
                      *                                                        LINE 32/7
00005832 4267                    CLR.W     -(A7)
00005834 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00005838 7046                    MOVEQ     #70,D0                                $46
0000583A 3F00                    MOVE.W    D0,-(A7)
0000583C 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00005840 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00005844 7046                    MOVEQ     #70,D0                                $46
00005846 3F00                    MOVE.W    D0,-(A7)
00005848 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000584C 6100B076                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 32/8
00005850 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00005854 2F2D812C                MOVE.L    STATIC.+308-32768(A5),-(A7)           INT_ARG2
00005858 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
0000585C 4EB900000000            JSR       D.PWRI
                      *                                                        LINE 32/9
00005862 7001                    MOVEQ     #1,D0                                 $1
00005864 3F00                    MOVE.W    D0,-(A7)
00005866 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
0000586A 2F08                    MOVE.L    A0,-(A7)
0000586C 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00005870 6100B3D8                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00005874 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00005878 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
0000587C 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00005880 5240                    ADDQ.W    #1,D0                                 $1
00005882 E248                    LSR.W     #1,D0                                 $1
00005884 32D8         X.30.3     MOVE.W    (A0)+,(A1)+
00005886 51C8FFFC                DBF       D0,X.30.3(PC)
                      *                                                        LINE 32/10
0000588A 7001                    MOVEQ     #1,D0                                 $1
0000588C 3F00                    MOVE.W    D0,-(A7)
0000588E 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00005892 7046                    MOVEQ     #70,D0                                $46
00005894 3F00                    MOVE.W    D0,-(A7)
00005896 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000589A 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
0000589E 7046                    MOVEQ     #70,D0                                $46
000058A0 3F00                    MOVE.W    D0,-(A7)
000058A2 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
000058A6 6100B01C                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
000058AA 6000015E                BRA.L     L.30.5(PC)
                      *                                                        LINE 32/12
000058AE 2E6EFFAA     L.30.2     MOVEA.L   ST.30(A6),A7                          -86
000058B2 4EFB8002                JMP       H.30.2(PC,A0.W)
000058B6 00000000     H.30.2     DC.L      L.30.2
000058BA 00000000                DC.L      0                                     $0
000058BE FFF6                    DC.W      -10                                   $FFFFFFF6
000058C0 FFFE                    DC.W      -2                                    $FFFFFFFE
000058C2 0000                    DC.W      L.30.3+12-*
000058C4              L.30.3
                      *                                                        LINE 32/14
                      *                                                        LINE 32/15
000058C4 4EB900000000 L.30.4     JSR       E.MSG
                      *                                                        LINE 32/16
000058CA 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000058CE 4A80                    TST.L     D0
000058D0 6606                    BNE.S     X.30.4(PC)
000058D2 4EB900000000            JSR       E.FILE
000058D8 7231         X.30.4     MOVEQ     #49,D1                                $31
000058DA 3F01                    MOVE.W    D1,-(A7)
000058DC 7204                    MOVEQ     #4,D1                                 $4
000058DE 3F01                    MOVE.W    D1,-(A7)
000058E0 487AFE32                PEA       K.166(PC)                             CODE.+$5714
000058E4 2F00                    MOVE.L    D0,-(A7)
000058E6 4EB900000000            JSR       T.WRITE
000058EC 2F00                    MOVE.L    D0,-(A7)
000058EE 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 32/17
000058F4 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000058F8 4A80                    TST.L     D0
000058FA 6606                    BNE.S     X.30.5(PC)
000058FC 4EB900000000            JSR       E.FILE
00005902 720B         X.30.5     MOVEQ     #11,D1                                $B
00005904 3F01                    MOVE.W    D1,-(A7)
00005906 7204                    MOVEQ     #4,D1                                 $4
00005908 3F01                    MOVE.W    D1,-(A7)
0000590A 487AFE3A                PEA       K.167(PC)                             CODE.+$5746
0000590E 2F00                    MOVE.L    D0,-(A7)
00005910 4EB900000000            JSR       T.WRITE
00005916 7210                    MOVEQ     #16,D1                                $10
00005918 2F01                    MOVE.L    D1,-(A7)
0000591A 7202                    MOVEQ     #2,D1                                 $2
0000591C 3F01                    MOVE.W    D1,-(A7)
0000591E 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00005922 2F00                    MOVE.L    D0,-(A7)
00005924 4EB900000000            JSR       T.WRITE
0000592A 720B                    MOVEQ     #11,D1                                $B
0000592C 3F01                    MOVE.W    D1,-(A7)
0000592E 7204                    MOVEQ     #4,D1                                 $4
00005930 3F01                    MOVE.W    D1,-(A7)
00005932 487AFE1E                PEA       K.168(PC)                             CODE.+$5752
00005936 2F00                    MOVE.L    D0,-(A7)
00005938 4EB900000000            JSR       T.WRITE
0000593E 4267                    CLR.W     -(A7)
00005940 486D812C                PEA       STATIC.+308-32768(A5)                 INT_ARG2
00005944 2F00                    MOVE.L    D0,-(A7)
00005946 4EB900000000            JSR       T.WRITE
0000594C 2F00                    MOVE.L    D0,-(A7)
0000594E 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 32/18
00005954 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00005958 4A80                    TST.L     D0
0000595A 6606                    BNE.S     X.30.6(PC)
0000595C 4EB900000000            JSR       E.FILE
00005962 2F00         X.30.6     MOVE.L    D0,-(A7)
00005964 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 32/19
0000596A 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
0000596E 4A80                    TST.L     D0
00005970 6606                    BNE.S     X.30.7(PC)
00005972 4EB900000000            JSR       E.FILE
00005978 7231         X.30.7     MOVEQ     #49,D1                                $31
0000597A 3F01                    MOVE.W    D1,-(A7)
0000597C 7204                    MOVEQ     #4,D1                                 $4
0000597E 3F01                    MOVE.W    D1,-(A7)
00005980 487AFDDC                PEA       K.169(PC)                             CODE.+$575E
00005984 2F00                    MOVE.L    D0,-(A7)
00005986 4EB900000000            JSR       T.WRITE
0000598C 2F00                    MOVE.L    D0,-(A7)
0000598E 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 32/20
00005994 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00005998 4A80                    TST.L     D0
0000599A 6606                    BNE.S     X.30.8(PC)
0000599C 4EB900000000            JSR       E.FILE
000059A2 720B         X.30.8     MOVEQ     #11,D1                                $B
000059A4 3F01                    MOVE.W    D1,-(A7)
000059A6 7204                    MOVEQ     #4,D1                                 $4
000059A8 3F01                    MOVE.W    D1,-(A7)
000059AA 487AFDE4                PEA       K.170(PC)                             CODE.+$5790
000059AE 2F00                    MOVE.L    D0,-(A7)
000059B0 4EB900000000            JSR       T.WRITE
000059B6 7210                    MOVEQ     #16,D1                                $10
000059B8 2F01                    MOVE.L    D1,-(A7)
000059BA 7202                    MOVEQ     #2,D1                                 $2
000059BC 3F01                    MOVE.W    D1,-(A7)
000059BE 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
000059C2 2F00                    MOVE.L    D0,-(A7)
000059C4 4EB900000000            JSR       T.WRITE
000059CA 720B                    MOVEQ     #11,D1                                $B
000059CC 3F01                    MOVE.W    D1,-(A7)
000059CE 7204                    MOVEQ     #4,D1                                 $4
000059D0 3F01                    MOVE.W    D1,-(A7)
000059D2 487AFDC8                PEA       K.171(PC)                             CODE.+$579C
000059D6 2F00                    MOVE.L    D0,-(A7)
000059D8 4EB900000000            JSR       T.WRITE
000059DE 4267                    CLR.W     -(A7)
000059E0 486D812C                PEA       STATIC.+308-32768(A5)                 INT_ARG2
000059E4 2F00                    MOVE.L    D0,-(A7)
000059E6 4EB900000000            JSR       T.WRITE
000059EC 2F00                    MOVE.L    D0,-(A7)
000059EE 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 32/21
000059F4 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000059F8 4A80                    TST.L     D0
000059FA 6606                    BNE.S     X.30.9(PC)
000059FC 4EB900000000            JSR       E.FILE
00005A02 2F00         X.30.9     MOVE.L    D0,-(A7)
00005A04 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 32/22
00005A0A 42A7         L.30.5     CLR.L     -(A7)
00005A0C 4EB900000000            JSR       E.HREST
                      *                                                        LINE 32/24
00005A12 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_NATLOG
                      *
00005A18 666174616C20 K.172      DC.B      'fatal error encountered on natural log:'
00005A3F 00000001                DS.B      1
00005A40 202020617267 K.173      DC.B      '   arg = '
00005A49 00000001                DS.B      1
00005A4A 666174616C20 K.174      DC.B      'fatal error encountered on natural log:'
00005A71 00000001                DS.B      1
00005A72 202020617267 K.175      DC.B      '   arg = '
00005A7B 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_NATLOG
                      *
00005A7C 7010         B.31       MOVEQ     #16,D0                                $10
00005A7E 2F00                    MOVE.L    D0,-(A7)
00005A80 6114                    BSR.S     X.31.1(PC)
00005A82 00000000                DC.L      C.1
00005A86 0000                    DC.W      0                                     $0
00005A88 000B                    DC.W      11                                  String length word
00005A8A 544553545F4E            DC.B      'TEST_NATLOG'
00005A95 00000001                DS.B      1                                   Fill byte
00005A96 203CFFFFFFA6 X.31.1     MOVE.L    #T.31-4,D0                            -86
00005A9C 4EB900000000            JSR       M.ENTRY
00005AA2 2D4FFFAA                MOVE.L    A7,ST.31(A6)                          -86
                      *                                                        LINE 33/3
00005AA6 487A00CC     L.31.1     PEA       H.31.2(PC)
00005AAA 4EB900000000            JSR       E.HSET
                      *                                                        LINE 33/4
00005AB0 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00005AB4 4EB900000000            JSR       F.LN
00005ABA 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 33/5
00005ABE 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
00005AC2 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00005AC6 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 33/6
00005ACC 7001                    MOVEQ     #1,D0                                 $1
00005ACE 3F00                    MOVE.W    D0,-(A7)
00005AD0 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00005AD4 2F08                    MOVE.L    A0,-(A7)
00005AD6 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00005ADA 6100B16E                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00005ADE 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00005AE2 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00005AE6 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00005AEA 5240                    ADDQ.W    #1,D0                                 $1
00005AEC E248                    LSR.W     #1,D0                                 $1
00005AEE 32D8         X.31.2     MOVE.W    (A0)+,(A1)+
00005AF0 51C8FFFC                DBF       D0,X.31.2(PC)
                      *                                                        LINE 33/7
00005AF4 4267                    CLR.W     -(A7)
00005AF6 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00005AFA 7046                    MOVEQ     #70,D0                                $46
00005AFC 3F00                    MOVE.W    D0,-(A7)
00005AFE 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00005B02 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00005B06 7046                    MOVEQ     #70,D0                                $46
00005B08 3F00                    MOVE.W    D0,-(A7)
00005B0A 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00005B0E 6100ADB4                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 33/8
00005B12 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00005B16 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00005B1A 4EB900000000            JSR       D.LN
                      *                                                        LINE 33/9
00005B20 7001                    MOVEQ     #1,D0                                 $1
00005B22 3F00                    MOVE.W    D0,-(A7)
00005B24 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00005B28 2F08                    MOVE.L    A0,-(A7)
00005B2A 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00005B2E 6100B11A                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00005B32 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00005B36 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00005B3A 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00005B3E 5240                    ADDQ.W    #1,D0                                 $1
00005B40 E248                    LSR.W     #1,D0                                 $1
00005B42 32D8         X.31.3     MOVE.W    (A0)+,(A1)+
00005B44 51C8FFFC                DBF       D0,X.31.3(PC)
                      *                                                        LINE 33/10
00005B48 7001                    MOVEQ     #1,D0                                 $1
00005B4A 3F00                    MOVE.W    D0,-(A7)
00005B4C 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00005B50 7046                    MOVEQ     #70,D0                                $46
00005B52 3F00                    MOVE.W    D0,-(A7)
00005B54 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00005B58 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00005B5C 7046                    MOVEQ     #70,D0                                $46
00005B5E 3F00                    MOVE.W    D0,-(A7)
00005B60 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00005B64 6100AD5E                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
00005B68 6000011A                BRA.L     L.31.5(PC)
                      *                                                        LINE 33/12
00005B6C 2E6EFFAA     L.31.2     MOVEA.L   ST.31(A6),A7                          -86
00005B70 4EFB8002                JMP       H.31.2(PC,A0.W)
00005B74 00000000     H.31.2     DC.L      L.31.2
00005B78 00000000                DC.L      0                                     $0
00005B7C FFF6                    DC.W      -10                                   $FFFFFFF6
00005B7E FFFE                    DC.W      -2                                    $FFFFFFFE
00005B80 0000                    DC.W      L.31.3+12-*
00005B82              L.31.3
                      *                                                        LINE 33/14
                      *                                                        LINE 33/15
00005B82 4EB900000000 L.31.4     JSR       E.MSG
                      *                                                        LINE 33/16
00005B88 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00005B8C 4A80                    TST.L     D0
00005B8E 6606                    BNE.S     X.31.4(PC)
00005B90 4EB900000000            JSR       E.FILE
00005B96 7227         X.31.4     MOVEQ     #39,D1                                $27
00005B98 3F01                    MOVE.W    D1,-(A7)
00005B9A 7204                    MOVEQ     #4,D1                                 $4
00005B9C 3F01                    MOVE.W    D1,-(A7)
00005B9E 487AFE78                PEA       K.172(PC)                             CODE.+$5A18
00005BA2 2F00                    MOVE.L    D0,-(A7)
00005BA4 4EB900000000            JSR       T.WRITE
00005BAA 2F00                    MOVE.L    D0,-(A7)
00005BAC 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 33/17
00005BB2 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00005BB6 4A80                    TST.L     D0
00005BB8 6606                    BNE.S     X.31.5(PC)
00005BBA 4EB900000000            JSR       E.FILE
00005BC0 7209         X.31.5     MOVEQ     #9,D1                                 $9
00005BC2 3F01                    MOVE.W    D1,-(A7)
00005BC4 7204                    MOVEQ     #4,D1                                 $4
00005BC6 3F01                    MOVE.W    D1,-(A7)
00005BC8 487AFE76                PEA       K.173(PC)                             CODE.+$5A40
00005BCC 2F00                    MOVE.L    D0,-(A7)
00005BCE 4EB900000000            JSR       T.WRITE
00005BD4 7210                    MOVEQ     #16,D1                                $10
00005BD6 2F01                    MOVE.L    D1,-(A7)
00005BD8 7202                    MOVEQ     #2,D1                                 $2
00005BDA 3F01                    MOVE.W    D1,-(A7)
00005BDC 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00005BE0 2F00                    MOVE.L    D0,-(A7)
00005BE2 4EB900000000            JSR       T.WRITE
00005BE8 2F00                    MOVE.L    D0,-(A7)
00005BEA 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 33/18
00005BF0 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00005BF4 4A80                    TST.L     D0
00005BF6 6606                    BNE.S     X.31.6(PC)
00005BF8 4EB900000000            JSR       E.FILE
00005BFE 2F00         X.31.6     MOVE.L    D0,-(A7)
00005C00 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 33/19
00005C06 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00005C0A 4A80                    TST.L     D0
00005C0C 6606                    BNE.S     X.31.7(PC)
00005C0E 4EB900000000            JSR       E.FILE
00005C14 7227         X.31.7     MOVEQ     #39,D1                                $27
00005C16 3F01                    MOVE.W    D1,-(A7)
00005C18 7204                    MOVEQ     #4,D1                                 $4
00005C1A 3F01                    MOVE.W    D1,-(A7)
00005C1C 487AFE2C                PEA       K.174(PC)                             CODE.+$5A4A
00005C20 2F00                    MOVE.L    D0,-(A7)
00005C22 4EB900000000            JSR       T.WRITE
00005C28 2F00                    MOVE.L    D0,-(A7)
00005C2A 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 33/20
00005C30 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00005C34 4A80                    TST.L     D0
00005C36 6606                    BNE.S     X.31.8(PC)
00005C38 4EB900000000            JSR       E.FILE
00005C3E 7209         X.31.8     MOVEQ     #9,D1                                 $9
00005C40 3F01                    MOVE.W    D1,-(A7)
00005C42 7204                    MOVEQ     #4,D1                                 $4
00005C44 3F01                    MOVE.W    D1,-(A7)
00005C46 487AFE2A                PEA       K.175(PC)                             CODE.+$5A72
00005C4A 2F00                    MOVE.L    D0,-(A7)
00005C4C 4EB900000000            JSR       T.WRITE
00005C52 7210                    MOVEQ     #16,D1                                $10
00005C54 2F01                    MOVE.L    D1,-(A7)
00005C56 7202                    MOVEQ     #2,D1                                 $2
00005C58 3F01                    MOVE.W    D1,-(A7)
00005C5A 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00005C5E 2F00                    MOVE.L    D0,-(A7)
00005C60 4EB900000000            JSR       T.WRITE
00005C66 2F00                    MOVE.L    D0,-(A7)
00005C68 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 33/21
00005C6E 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00005C72 4A80                    TST.L     D0
00005C74 6606                    BNE.S     X.31.9(PC)
00005C76 4EB900000000            JSR       E.FILE
00005C7C 2F00         X.31.9     MOVE.L    D0,-(A7)
00005C7E 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 33/22
00005C84 42A7         L.31.5     CLR.L     -(A7)
00005C86 4EB900000000            JSR       E.HREST
                      *                                                        LINE 33/24
00005C8C 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_LOG10
                      *
00005C92 666174616C20 K.176      DC.B      'fatal error encountered on log10:'
00005CB3 00000001                DS.B      1
00005CB4 202020617267 K.177      DC.B      '   arg = '
00005CBD 00000001                DS.B      1
00005CBE 666174616C20 K.178      DC.B      'fatal error encountered on log10:'
00005CDF 00000001                DS.B      1
00005CE0 202020617267 K.179      DC.B      '   arg = '
00005CE9 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_LOG10
                      *
00005CEA 7010         B.32       MOVEQ     #16,D0                                $10
00005CEC 2F00                    MOVE.L    D0,-(A7)
00005CEE 6112                    BSR.S     X.32.1(PC)
00005CF0 00000000                DC.L      C.1
00005CF4 0000                    DC.W      0                                     $0
00005CF6 000A                    DC.W      10                                  String length word
00005CF8 544553545F4C            DC.B      'TEST_LOG10'
00005D02 203CFFFFFFA6 X.32.1     MOVE.L    #T.32-4,D0                            -86
00005D08 4EB900000000            JSR       M.ENTRY
00005D0E 2D4FFFAA                MOVE.L    A7,ST.32(A6)                          -86
                      *                                                        LINE 34/3
00005D12 487A00CC     L.32.1     PEA       H.32.2(PC)
00005D16 4EB900000000            JSR       E.HSET
                      *                                                        LINE 34/4
00005D1C 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00005D20 4EB900000000            JSR       F.LOG
00005D26 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 34/5
00005D2A 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
00005D2E 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00005D32 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 34/6
00005D38 7001                    MOVEQ     #1,D0                                 $1
00005D3A 3F00                    MOVE.W    D0,-(A7)
00005D3C 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00005D40 2F08                    MOVE.L    A0,-(A7)
00005D42 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00005D46 6100AF02                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00005D4A 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00005D4E 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00005D52 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00005D56 5240                    ADDQ.W    #1,D0                                 $1
00005D58 E248                    LSR.W     #1,D0                                 $1
00005D5A 32D8         X.32.2     MOVE.W    (A0)+,(A1)+
00005D5C 51C8FFFC                DBF       D0,X.32.2(PC)
                      *                                                        LINE 34/7
00005D60 4267                    CLR.W     -(A7)
00005D62 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00005D66 7046                    MOVEQ     #70,D0                                $46
00005D68 3F00                    MOVE.W    D0,-(A7)
00005D6A 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00005D6E 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00005D72 7046                    MOVEQ     #70,D0                                $46
00005D74 3F00                    MOVE.W    D0,-(A7)
00005D76 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00005D7A 6100AB48                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 34/8
00005D7E 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00005D82 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00005D86 4EB900000000            JSR       D.LOG
                      *                                                        LINE 34/9
00005D8C 7001                    MOVEQ     #1,D0                                 $1
00005D8E 3F00                    MOVE.W    D0,-(A7)
00005D90 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00005D94 2F08                    MOVE.L    A0,-(A7)
00005D96 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00005D9A 6100AEAE                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00005D9E 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00005DA2 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00005DA6 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00005DAA 5240                    ADDQ.W    #1,D0                                 $1
00005DAC E248                    LSR.W     #1,D0                                 $1
00005DAE 32D8         X.32.3     MOVE.W    (A0)+,(A1)+
00005DB0 51C8FFFC                DBF       D0,X.32.3(PC)
                      *                                                        LINE 34/10
00005DB4 7001                    MOVEQ     #1,D0                                 $1
00005DB6 3F00                    MOVE.W    D0,-(A7)
00005DB8 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00005DBC 7046                    MOVEQ     #70,D0                                $46
00005DBE 3F00                    MOVE.W    D0,-(A7)
00005DC0 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00005DC4 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00005DC8 7046                    MOVEQ     #70,D0                                $46
00005DCA 3F00                    MOVE.W    D0,-(A7)
00005DCC 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00005DD0 6100AAF2                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
00005DD4 6000011A                BRA.L     L.32.5(PC)
                      *                                                        LINE 34/12
00005DD8 2E6EFFAA     L.32.2     MOVEA.L   ST.32(A6),A7                          -86
00005DDC 4EFB8002                JMP       H.32.2(PC,A0.W)
00005DE0 00000000     H.32.2     DC.L      L.32.2
00005DE4 00000000                DC.L      0                                     $0
00005DE8 FFF6                    DC.W      -10                                   $FFFFFFF6
00005DEA FFFE                    DC.W      -2                                    $FFFFFFFE
00005DEC 0000                    DC.W      L.32.3+12-*
00005DEE              L.32.3
                      *                                                        LINE 34/14
                      *                                                        LINE 34/15
00005DEE 4EB900000000 L.32.4     JSR       E.MSG
                      *                                                        LINE 34/16
00005DF4 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00005DF8 4A80                    TST.L     D0
00005DFA 6606                    BNE.S     X.32.4(PC)
00005DFC 4EB900000000            JSR       E.FILE
00005E02 7221         X.32.4     MOVEQ     #33,D1                                $21
00005E04 3F01                    MOVE.W    D1,-(A7)
00005E06 7204                    MOVEQ     #4,D1                                 $4
00005E08 3F01                    MOVE.W    D1,-(A7)
00005E0A 487AFE86                PEA       K.176(PC)                             CODE.+$5C92
00005E0E 2F00                    MOVE.L    D0,-(A7)
00005E10 4EB900000000            JSR       T.WRITE
00005E16 2F00                    MOVE.L    D0,-(A7)
00005E18 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 34/17
00005E1E 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00005E22 4A80                    TST.L     D0
00005E24 6606                    BNE.S     X.32.5(PC)
00005E26 4EB900000000            JSR       E.FILE
00005E2C 7209         X.32.5     MOVEQ     #9,D1                                 $9
00005E2E 3F01                    MOVE.W    D1,-(A7)
00005E30 7204                    MOVEQ     #4,D1                                 $4
00005E32 3F01                    MOVE.W    D1,-(A7)
00005E34 487AFE7E                PEA       K.177(PC)                             CODE.+$5CB4
00005E38 2F00                    MOVE.L    D0,-(A7)
00005E3A 4EB900000000            JSR       T.WRITE
00005E40 7210                    MOVEQ     #16,D1                                $10
00005E42 2F01                    MOVE.L    D1,-(A7)
00005E44 7202                    MOVEQ     #2,D1                                 $2
00005E46 3F01                    MOVE.W    D1,-(A7)
00005E48 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00005E4C 2F00                    MOVE.L    D0,-(A7)
00005E4E 4EB900000000            JSR       T.WRITE
00005E54 2F00                    MOVE.L    D0,-(A7)
00005E56 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 34/18
00005E5C 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00005E60 4A80                    TST.L     D0
00005E62 6606                    BNE.S     X.32.6(PC)
00005E64 4EB900000000            JSR       E.FILE
00005E6A 2F00         X.32.6     MOVE.L    D0,-(A7)
00005E6C 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 34/19
00005E72 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00005E76 4A80                    TST.L     D0
00005E78 6606                    BNE.S     X.32.7(PC)
00005E7A 4EB900000000            JSR       E.FILE
00005E80 7221         X.32.7     MOVEQ     #33,D1                                $21
00005E82 3F01                    MOVE.W    D1,-(A7)
00005E84 7204                    MOVEQ     #4,D1                                 $4
00005E86 3F01                    MOVE.W    D1,-(A7)
00005E88 487AFE34                PEA       K.178(PC)                             CODE.+$5CBE
00005E8C 2F00                    MOVE.L    D0,-(A7)
00005E8E 4EB900000000            JSR       T.WRITE
00005E94 2F00                    MOVE.L    D0,-(A7)
00005E96 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 34/20
00005E9C 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00005EA0 4A80                    TST.L     D0
00005EA2 6606                    BNE.S     X.32.8(PC)
00005EA4 4EB900000000            JSR       E.FILE
00005EAA 7209         X.32.8     MOVEQ     #9,D1                                 $9
00005EAC 3F01                    MOVE.W    D1,-(A7)
00005EAE 7204                    MOVEQ     #4,D1                                 $4
00005EB0 3F01                    MOVE.W    D1,-(A7)
00005EB2 487AFE2C                PEA       K.179(PC)                             CODE.+$5CE0
00005EB6 2F00                    MOVE.L    D0,-(A7)
00005EB8 4EB900000000            JSR       T.WRITE
00005EBE 7210                    MOVEQ     #16,D1                                $10
00005EC0 2F01                    MOVE.L    D1,-(A7)
00005EC2 7202                    MOVEQ     #2,D1                                 $2
00005EC4 3F01                    MOVE.W    D1,-(A7)
00005EC6 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00005ECA 2F00                    MOVE.L    D0,-(A7)
00005ECC 4EB900000000            JSR       T.WRITE
00005ED2 2F00                    MOVE.L    D0,-(A7)
00005ED4 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 34/21
00005EDA 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00005EDE 4A80                    TST.L     D0
00005EE0 6606                    BNE.S     X.32.9(PC)
00005EE2 4EB900000000            JSR       E.FILE
00005EE8 2F00         X.32.9     MOVE.L    D0,-(A7)
00005EEA 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 34/22
00005EF0 42A7         L.32.5     CLR.L     -(A7)
00005EF2 4EB900000000            JSR       E.HREST
                      *                                                        LINE 34/24
00005EF8 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_EXPON
                      *
00005EFE 666174616C20 K.180      DC.B      'fatal error encountered on exp:'
00005F1D 00000001                DS.B      1
00005F1E 202020617267 K.181      DC.B      '   arg = '
00005F27 00000001                DS.B      1
00005F28 666174616C20 K.182      DC.B      'fatal error encountered on exp:'
00005F47 00000001                DS.B      1
00005F48 202020617267 K.183      DC.B      '   arg = '
00005F51 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_EXPON
                      *
00005F52 7010         B.33       MOVEQ     #16,D0                                $10
00005F54 2F00                    MOVE.L    D0,-(A7)
00005F56 6112                    BSR.S     X.33.1(PC)
00005F58 00000000                DC.L      C.1
00005F5C 0000                    DC.W      0                                     $0
00005F5E 000A                    DC.W      10                                  String length word
00005F60 544553545F45            DC.B      'TEST_EXPON'
00005F6A 203CFFFFFFA6 X.33.1     MOVE.L    #T.33-4,D0                            -86
00005F70 4EB900000000            JSR       M.ENTRY
00005F76 2D4FFFAA                MOVE.L    A7,ST.33(A6)                          -86
                      *                                                        LINE 35/3
00005F7A 487A00CC     L.33.1     PEA       H.33.2(PC)
00005F7E 4EB900000000            JSR       E.HSET
                      *                                                        LINE 35/4
00005F84 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00005F88 4EB900000000            JSR       F.EXP
00005F8E 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 35/5
00005F92 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
00005F96 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00005F9A 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 35/6
00005FA0 7001                    MOVEQ     #1,D0                                 $1
00005FA2 3F00                    MOVE.W    D0,-(A7)
00005FA4 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00005FA8 2F08                    MOVE.L    A0,-(A7)
00005FAA 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00005FAE 6100AC9A                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00005FB2 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00005FB6 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00005FBA 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00005FBE 5240                    ADDQ.W    #1,D0                                 $1
00005FC0 E248                    LSR.W     #1,D0                                 $1
00005FC2 32D8         X.33.2     MOVE.W    (A0)+,(A1)+
00005FC4 51C8FFFC                DBF       D0,X.33.2(PC)
                      *                                                        LINE 35/7
00005FC8 4267                    CLR.W     -(A7)
00005FCA 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00005FCE 7046                    MOVEQ     #70,D0                                $46
00005FD0 3F00                    MOVE.W    D0,-(A7)
00005FD2 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00005FD6 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00005FDA 7046                    MOVEQ     #70,D0                                $46
00005FDC 3F00                    MOVE.W    D0,-(A7)
00005FDE 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00005FE2 6100A8E0                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 35/8
00005FE6 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00005FEA 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00005FEE 4EB900000000            JSR       D.EXP
                      *                                                        LINE 35/9
00005FF4 7001                    MOVEQ     #1,D0                                 $1
00005FF6 3F00                    MOVE.W    D0,-(A7)
00005FF8 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00005FFC 2F08                    MOVE.L    A0,-(A7)
00005FFE 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00006002 6100AC46                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00006006 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
0000600A 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
0000600E 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00006012 5240                    ADDQ.W    #1,D0                                 $1
00006014 E248                    LSR.W     #1,D0                                 $1
00006016 32D8         X.33.3     MOVE.W    (A0)+,(A1)+
00006018 51C8FFFC                DBF       D0,X.33.3(PC)
                      *                                                        LINE 35/10
0000601C 7001                    MOVEQ     #1,D0                                 $1
0000601E 3F00                    MOVE.W    D0,-(A7)
00006020 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00006024 7046                    MOVEQ     #70,D0                                $46
00006026 3F00                    MOVE.W    D0,-(A7)
00006028 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000602C 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00006030 7046                    MOVEQ     #70,D0                                $46
00006032 3F00                    MOVE.W    D0,-(A7)
00006034 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00006038 6100A88A                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
0000603C 6000011A                BRA.L     L.33.5(PC)
                      *                                                        LINE 35/12
00006040 2E6EFFAA     L.33.2     MOVEA.L   ST.33(A6),A7                          -86
00006044 4EFB8002                JMP       H.33.2(PC,A0.W)
00006048 00000000     H.33.2     DC.L      L.33.2
0000604C 00000000                DC.L      0                                     $0
00006050 FFF6                    DC.W      -10                                   $FFFFFFF6
00006052 FFFE                    DC.W      -2                                    $FFFFFFFE
00006054 0000                    DC.W      L.33.3+12-*
00006056              L.33.3
                      *                                                        LINE 35/14
                      *                                                        LINE 35/15
00006056 4EB900000000 L.33.4     JSR       E.MSG
                      *                                                        LINE 35/16
0000605C 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00006060 4A80                    TST.L     D0
00006062 6606                    BNE.S     X.33.4(PC)
00006064 4EB900000000            JSR       E.FILE
0000606A 721F         X.33.4     MOVEQ     #31,D1                                $1F
0000606C 3F01                    MOVE.W    D1,-(A7)
0000606E 7204                    MOVEQ     #4,D1                                 $4
00006070 3F01                    MOVE.W    D1,-(A7)
00006072 487AFE8A                PEA       K.180(PC)                             CODE.+$5EFE
00006076 2F00                    MOVE.L    D0,-(A7)
00006078 4EB900000000            JSR       T.WRITE
0000607E 2F00                    MOVE.L    D0,-(A7)
00006080 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 35/17
00006086 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
0000608A 4A80                    TST.L     D0
0000608C 6606                    BNE.S     X.33.5(PC)
0000608E 4EB900000000            JSR       E.FILE
00006094 7209         X.33.5     MOVEQ     #9,D1                                 $9
00006096 3F01                    MOVE.W    D1,-(A7)
00006098 7204                    MOVEQ     #4,D1                                 $4
0000609A 3F01                    MOVE.W    D1,-(A7)
0000609C 487AFE80                PEA       K.181(PC)                             CODE.+$5F1E
000060A0 2F00                    MOVE.L    D0,-(A7)
000060A2 4EB900000000            JSR       T.WRITE
000060A8 7210                    MOVEQ     #16,D1                                $10
000060AA 2F01                    MOVE.L    D1,-(A7)
000060AC 7202                    MOVEQ     #2,D1                                 $2
000060AE 3F01                    MOVE.W    D1,-(A7)
000060B0 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
000060B4 2F00                    MOVE.L    D0,-(A7)
000060B6 4EB900000000            JSR       T.WRITE
000060BC 2F00                    MOVE.L    D0,-(A7)
000060BE 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 35/18
000060C4 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000060C8 4A80                    TST.L     D0
000060CA 6606                    BNE.S     X.33.6(PC)
000060CC 4EB900000000            JSR       E.FILE
000060D2 2F00         X.33.6     MOVE.L    D0,-(A7)
000060D4 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 35/19
000060DA 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000060DE 4A80                    TST.L     D0
000060E0 6606                    BNE.S     X.33.7(PC)
000060E2 4EB900000000            JSR       E.FILE
000060E8 721F         X.33.7     MOVEQ     #31,D1                                $1F
000060EA 3F01                    MOVE.W    D1,-(A7)
000060EC 7204                    MOVEQ     #4,D1                                 $4
000060EE 3F01                    MOVE.W    D1,-(A7)
000060F0 487AFE36                PEA       K.182(PC)                             CODE.+$5F28
000060F4 2F00                    MOVE.L    D0,-(A7)
000060F6 4EB900000000            JSR       T.WRITE
000060FC 2F00                    MOVE.L    D0,-(A7)
000060FE 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 35/20
00006104 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00006108 4A80                    TST.L     D0
0000610A 6606                    BNE.S     X.33.8(PC)
0000610C 4EB900000000            JSR       E.FILE
00006112 7209         X.33.8     MOVEQ     #9,D1                                 $9
00006114 3F01                    MOVE.W    D1,-(A7)
00006116 7204                    MOVEQ     #4,D1                                 $4
00006118 3F01                    MOVE.W    D1,-(A7)
0000611A 487AFE2C                PEA       K.183(PC)                             CODE.+$5F48
0000611E 2F00                    MOVE.L    D0,-(A7)
00006120 4EB900000000            JSR       T.WRITE
00006126 7210                    MOVEQ     #16,D1                                $10
00006128 2F01                    MOVE.L    D1,-(A7)
0000612A 7202                    MOVEQ     #2,D1                                 $2
0000612C 3F01                    MOVE.W    D1,-(A7)
0000612E 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00006132 2F00                    MOVE.L    D0,-(A7)
00006134 4EB900000000            JSR       T.WRITE
0000613A 2F00                    MOVE.L    D0,-(A7)
0000613C 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 35/21
00006142 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00006146 4A80                    TST.L     D0
00006148 6606                    BNE.S     X.33.9(PC)
0000614A 4EB900000000            JSR       E.FILE
00006150 2F00         X.33.9     MOVE.L    D0,-(A7)
00006152 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 35/22
00006158 42A7         L.33.5     CLR.L     -(A7)
0000615A 4EB900000000            JSR       E.HREST
                      *                                                        LINE 35/24
00006160 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_SINE
                      *
00006166 666174616C20 K.184      DC.B      'fatal error encountered on sine:'
00006186 202020617267 K.185      DC.B      '   arg = '
0000618F 00000001                DS.B      1
00006190 666174616C20 K.186      DC.B      'fatal error encountered on sine:'
000061B0 202020617267 K.187      DC.B      '   arg = '
000061B9 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_SINE
                      *
000061BA 7010         B.34       MOVEQ     #16,D0                                $10
000061BC 2F00                    MOVE.L    D0,-(A7)
000061BE 6112                    BSR.S     X.34.1(PC)
000061C0 00000000                DC.L      C.1
000061C4 0000                    DC.W      0                                     $0
000061C6 0009                    DC.W      9                                   String length word
000061C8 544553545F53            DC.B      'TEST_SINE'
000061D1 00000001                DS.B      1                                   Fill byte
000061D2 203CFFFFFFA6 X.34.1     MOVE.L    #T.34-4,D0                            -86
000061D8 4EB900000000            JSR       M.ENTRY
000061DE 2D4FFFAA                MOVE.L    A7,ST.34(A6)                          -86
                      *                                                        LINE 36/3
000061E2 487A00CC     L.34.1     PEA       H.34.2(PC)
000061E6 4EB900000000            JSR       E.HSET
                      *                                                        LINE 36/4
000061EC 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
000061F0 4EB900000000            JSR       F.SIN
000061F6 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 36/5
000061FA 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
000061FE 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00006202 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 36/6
00006208 7001                    MOVEQ     #1,D0                                 $1
0000620A 3F00                    MOVE.W    D0,-(A7)
0000620C 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00006210 2F08                    MOVE.L    A0,-(A7)
00006212 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00006216 6100AA32                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
0000621A 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
0000621E 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00006222 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00006226 5240                    ADDQ.W    #1,D0                                 $1
00006228 E248                    LSR.W     #1,D0                                 $1
0000622A 32D8         X.34.2     MOVE.W    (A0)+,(A1)+
0000622C 51C8FFFC                DBF       D0,X.34.2(PC)
                      *                                                        LINE 36/7
00006230 4267                    CLR.W     -(A7)
00006232 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00006236 7046                    MOVEQ     #70,D0                                $46
00006238 3F00                    MOVE.W    D0,-(A7)
0000623A 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000623E 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00006242 7046                    MOVEQ     #70,D0                                $46
00006244 3F00                    MOVE.W    D0,-(A7)
00006246 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000624A 6100A678                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 36/8
0000624E 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00006252 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00006256 4EB900000000            JSR       D.SIN
                      *                                                        LINE 36/9
0000625C 7001                    MOVEQ     #1,D0                                 $1
0000625E 3F00                    MOVE.W    D0,-(A7)
00006260 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00006264 2F08                    MOVE.L    A0,-(A7)
00006266 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
0000626A 6100A9DE                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
0000626E 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00006272 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00006276 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
0000627A 5240                    ADDQ.W    #1,D0                                 $1
0000627C E248                    LSR.W     #1,D0                                 $1
0000627E 32D8         X.34.3     MOVE.W    (A0)+,(A1)+
00006280 51C8FFFC                DBF       D0,X.34.3(PC)
                      *                                                        LINE 36/10
00006284 7001                    MOVEQ     #1,D0                                 $1
00006286 3F00                    MOVE.W    D0,-(A7)
00006288 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
0000628C 7046                    MOVEQ     #70,D0                                $46
0000628E 3F00                    MOVE.W    D0,-(A7)
00006290 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00006294 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00006298 7046                    MOVEQ     #70,D0                                $46
0000629A 3F00                    MOVE.W    D0,-(A7)
0000629C 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
000062A0 6100A622                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
000062A4 6000011A                BRA.L     L.34.5(PC)
                      *                                                        LINE 36/12
000062A8 2E6EFFAA     L.34.2     MOVEA.L   ST.34(A6),A7                          -86
000062AC 4EFB8002                JMP       H.34.2(PC,A0.W)
000062B0 00000000     H.34.2     DC.L      L.34.2
000062B4 00000000                DC.L      0                                     $0
000062B8 FFF6                    DC.W      -10                                   $FFFFFFF6
000062BA FFFE                    DC.W      -2                                    $FFFFFFFE
000062BC 0000                    DC.W      L.34.3+12-*
000062BE              L.34.3
                      *                                                        LINE 36/14
                      *                                                        LINE 36/15
000062BE 4EB900000000 L.34.4     JSR       E.MSG
                      *                                                        LINE 36/16
000062C4 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000062C8 4A80                    TST.L     D0
000062CA 6606                    BNE.S     X.34.4(PC)
000062CC 4EB900000000            JSR       E.FILE
000062D2 7220         X.34.4     MOVEQ     #32,D1                                $20
000062D4 3F01                    MOVE.W    D1,-(A7)
000062D6 7204                    MOVEQ     #4,D1                                 $4
000062D8 3F01                    MOVE.W    D1,-(A7)
000062DA 487AFE8A                PEA       K.184(PC)                             CODE.+$6166
000062DE 2F00                    MOVE.L    D0,-(A7)
000062E0 4EB900000000            JSR       T.WRITE
000062E6 2F00                    MOVE.L    D0,-(A7)
000062E8 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 36/17
000062EE 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000062F2 4A80                    TST.L     D0
000062F4 6606                    BNE.S     X.34.5(PC)
000062F6 4EB900000000            JSR       E.FILE
000062FC 7209         X.34.5     MOVEQ     #9,D1                                 $9
000062FE 3F01                    MOVE.W    D1,-(A7)
00006300 7204                    MOVEQ     #4,D1                                 $4
00006302 3F01                    MOVE.W    D1,-(A7)
00006304 487AFE80                PEA       K.185(PC)                             CODE.+$6186
00006308 2F00                    MOVE.L    D0,-(A7)
0000630A 4EB900000000            JSR       T.WRITE
00006310 7210                    MOVEQ     #16,D1                                $10
00006312 2F01                    MOVE.L    D1,-(A7)
00006314 7202                    MOVEQ     #2,D1                                 $2
00006316 3F01                    MOVE.W    D1,-(A7)
00006318 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
0000631C 2F00                    MOVE.L    D0,-(A7)
0000631E 4EB900000000            JSR       T.WRITE
00006324 2F00                    MOVE.L    D0,-(A7)
00006326 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 36/18
0000632C 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00006330 4A80                    TST.L     D0
00006332 6606                    BNE.S     X.34.6(PC)
00006334 4EB900000000            JSR       E.FILE
0000633A 2F00         X.34.6     MOVE.L    D0,-(A7)
0000633C 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 36/19
00006342 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00006346 4A80                    TST.L     D0
00006348 6606                    BNE.S     X.34.7(PC)
0000634A 4EB900000000            JSR       E.FILE
00006350 7220         X.34.7     MOVEQ     #32,D1                                $20
00006352 3F01                    MOVE.W    D1,-(A7)
00006354 7204                    MOVEQ     #4,D1                                 $4
00006356 3F01                    MOVE.W    D1,-(A7)
00006358 487AFE36                PEA       K.186(PC)                             CODE.+$6190
0000635C 2F00                    MOVE.L    D0,-(A7)
0000635E 4EB900000000            JSR       T.WRITE
00006364 2F00                    MOVE.L    D0,-(A7)
00006366 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 36/20
0000636C 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00006370 4A80                    TST.L     D0
00006372 6606                    BNE.S     X.34.8(PC)
00006374 4EB900000000            JSR       E.FILE
0000637A 7209         X.34.8     MOVEQ     #9,D1                                 $9
0000637C 3F01                    MOVE.W    D1,-(A7)
0000637E 7204                    MOVEQ     #4,D1                                 $4
00006380 3F01                    MOVE.W    D1,-(A7)
00006382 487AFE2C                PEA       K.187(PC)                             CODE.+$61B0
00006386 2F00                    MOVE.L    D0,-(A7)
00006388 4EB900000000            JSR       T.WRITE
0000638E 7210                    MOVEQ     #16,D1                                $10
00006390 2F01                    MOVE.L    D1,-(A7)
00006392 7202                    MOVEQ     #2,D1                                 $2
00006394 3F01                    MOVE.W    D1,-(A7)
00006396 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
0000639A 2F00                    MOVE.L    D0,-(A7)
0000639C 4EB900000000            JSR       T.WRITE
000063A2 2F00                    MOVE.L    D0,-(A7)
000063A4 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 36/21
000063AA 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000063AE 4A80                    TST.L     D0
000063B0 6606                    BNE.S     X.34.9(PC)
000063B2 4EB900000000            JSR       E.FILE
000063B8 2F00         X.34.9     MOVE.L    D0,-(A7)
000063BA 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 36/22
000063C0 42A7         L.34.5     CLR.L     -(A7)
000063C2 4EB900000000            JSR       E.HREST
                      *                                                        LINE 36/24
000063C8 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_COSINE
                      *
000063CE 666174616C20 K.188      DC.B      'fatal error encountered on cosine:'
000063F0 202020617267 K.189      DC.B      '   arg = '
000063F9 00000001                DS.B      1
000063FA 666174616C20 K.190      DC.B      'fatal error encountered on cosine:'
0000641C 202020617267 K.191      DC.B      '   arg = '
00006425 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_COSINE
                      *
00006426 7010         B.35       MOVEQ     #16,D0                                $10
00006428 2F00                    MOVE.L    D0,-(A7)
0000642A 6114                    BSR.S     X.35.1(PC)
0000642C 00000000                DC.L      C.1
00006430 0000                    DC.W      0                                     $0
00006432 000B                    DC.W      11                                  String length word
00006434 544553545F43            DC.B      'TEST_COSINE'
0000643F 00000001                DS.B      1                                   Fill byte
00006440 203CFFFFFFA6 X.35.1     MOVE.L    #T.35-4,D0                            -86
00006446 4EB900000000            JSR       M.ENTRY
0000644C 2D4FFFAA                MOVE.L    A7,ST.35(A6)                          -86
                      *                                                        LINE 37/3
00006450 487A00CC     L.35.1     PEA       H.35.2(PC)
00006454 4EB900000000            JSR       E.HSET
                      *                                                        LINE 37/4
0000645A 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
0000645E 4EB900000000            JSR       F.COS
00006464 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 37/5
00006468 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
0000646C 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00006470 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 37/6
00006476 7001                    MOVEQ     #1,D0                                 $1
00006478 3F00                    MOVE.W    D0,-(A7)
0000647A 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
0000647E 2F08                    MOVE.L    A0,-(A7)
00006480 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00006484 6100A7C4                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00006488 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
0000648C 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00006490 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00006494 5240                    ADDQ.W    #1,D0                                 $1
00006496 E248                    LSR.W     #1,D0                                 $1
00006498 32D8         X.35.2     MOVE.W    (A0)+,(A1)+
0000649A 51C8FFFC                DBF       D0,X.35.2(PC)
                      *                                                        LINE 37/7
0000649E 4267                    CLR.W     -(A7)
000064A0 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
000064A4 7046                    MOVEQ     #70,D0                                $46
000064A6 3F00                    MOVE.W    D0,-(A7)
000064A8 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
000064AC 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
000064B0 7046                    MOVEQ     #70,D0                                $46
000064B2 3F00                    MOVE.W    D0,-(A7)
000064B4 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
000064B8 6100A40A                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 37/8
000064BC 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
000064C0 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
000064C4 4EB900000000            JSR       D.COS
                      *                                                        LINE 37/9
000064CA 7001                    MOVEQ     #1,D0                                 $1
000064CC 3F00                    MOVE.W    D0,-(A7)
000064CE 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
000064D2 2F08                    MOVE.L    A0,-(A7)
000064D4 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
000064D8 6100A770                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
000064DC 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
000064E0 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
000064E4 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
000064E8 5240                    ADDQ.W    #1,D0                                 $1
000064EA E248                    LSR.W     #1,D0                                 $1
000064EC 32D8         X.35.3     MOVE.W    (A0)+,(A1)+
000064EE 51C8FFFC                DBF       D0,X.35.3(PC)
                      *                                                        LINE 37/10
000064F2 7001                    MOVEQ     #1,D0                                 $1
000064F4 3F00                    MOVE.W    D0,-(A7)
000064F6 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
000064FA 7046                    MOVEQ     #70,D0                                $46
000064FC 3F00                    MOVE.W    D0,-(A7)
000064FE 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00006502 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00006506 7046                    MOVEQ     #70,D0                                $46
00006508 3F00                    MOVE.W    D0,-(A7)
0000650A 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000650E 6100A3B4                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
00006512 6000011A                BRA.L     L.35.5(PC)
                      *                                                        LINE 37/12
00006516 2E6EFFAA     L.35.2     MOVEA.L   ST.35(A6),A7                          -86
0000651A 4EFB8002                JMP       H.35.2(PC,A0.W)
0000651E 00000000     H.35.2     DC.L      L.35.2
00006522 00000000                DC.L      0                                     $0
00006526 FFF6                    DC.W      -10                                   $FFFFFFF6
00006528 FFFE                    DC.W      -2                                    $FFFFFFFE
0000652A 0000                    DC.W      L.35.3+12-*
0000652C              L.35.3
                      *                                                        LINE 37/14
                      *                                                        LINE 37/15
0000652C 4EB900000000 L.35.4     JSR       E.MSG
                      *                                                        LINE 37/16
00006532 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00006536 4A80                    TST.L     D0
00006538 6606                    BNE.S     X.35.4(PC)
0000653A 4EB900000000            JSR       E.FILE
00006540 7222         X.35.4     MOVEQ     #34,D1                                $22
00006542 3F01                    MOVE.W    D1,-(A7)
00006544 7204                    MOVEQ     #4,D1                                 $4
00006546 3F01                    MOVE.W    D1,-(A7)
00006548 487AFE84                PEA       K.188(PC)                             CODE.+$63CE
0000654C 2F00                    MOVE.L    D0,-(A7)
0000654E 4EB900000000            JSR       T.WRITE
00006554 2F00                    MOVE.L    D0,-(A7)
00006556 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 37/17
0000655C 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00006560 4A80                    TST.L     D0
00006562 6606                    BNE.S     X.35.5(PC)
00006564 4EB900000000            JSR       E.FILE
0000656A 7209         X.35.5     MOVEQ     #9,D1                                 $9
0000656C 3F01                    MOVE.W    D1,-(A7)
0000656E 7204                    MOVEQ     #4,D1                                 $4
00006570 3F01                    MOVE.W    D1,-(A7)
00006572 487AFE7C                PEA       K.189(PC)                             CODE.+$63F0
00006576 2F00                    MOVE.L    D0,-(A7)
00006578 4EB900000000            JSR       T.WRITE
0000657E 7210                    MOVEQ     #16,D1                                $10
00006580 2F01                    MOVE.L    D1,-(A7)
00006582 7202                    MOVEQ     #2,D1                                 $2
00006584 3F01                    MOVE.W    D1,-(A7)
00006586 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
0000658A 2F00                    MOVE.L    D0,-(A7)
0000658C 4EB900000000            JSR       T.WRITE
00006592 2F00                    MOVE.L    D0,-(A7)
00006594 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 37/18
0000659A 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
0000659E 4A80                    TST.L     D0
000065A0 6606                    BNE.S     X.35.6(PC)
000065A2 4EB900000000            JSR       E.FILE
000065A8 2F00         X.35.6     MOVE.L    D0,-(A7)
000065AA 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 37/19
000065B0 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000065B4 4A80                    TST.L     D0
000065B6 6606                    BNE.S     X.35.7(PC)
000065B8 4EB900000000            JSR       E.FILE
000065BE 7222         X.35.7     MOVEQ     #34,D1                                $22
000065C0 3F01                    MOVE.W    D1,-(A7)
000065C2 7204                    MOVEQ     #4,D1                                 $4
000065C4 3F01                    MOVE.W    D1,-(A7)
000065C6 487AFE32                PEA       K.190(PC)                             CODE.+$63FA
000065CA 2F00                    MOVE.L    D0,-(A7)
000065CC 4EB900000000            JSR       T.WRITE
000065D2 2F00                    MOVE.L    D0,-(A7)
000065D4 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 37/20
000065DA 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000065DE 4A80                    TST.L     D0
000065E0 6606                    BNE.S     X.35.8(PC)
000065E2 4EB900000000            JSR       E.FILE
000065E8 7209         X.35.8     MOVEQ     #9,D1                                 $9
000065EA 3F01                    MOVE.W    D1,-(A7)
000065EC 7204                    MOVEQ     #4,D1                                 $4
000065EE 3F01                    MOVE.W    D1,-(A7)
000065F0 487AFE2A                PEA       K.191(PC)                             CODE.+$641C
000065F4 2F00                    MOVE.L    D0,-(A7)
000065F6 4EB900000000            JSR       T.WRITE
000065FC 7210                    MOVEQ     #16,D1                                $10
000065FE 2F01                    MOVE.L    D1,-(A7)
00006600 7202                    MOVEQ     #2,D1                                 $2
00006602 3F01                    MOVE.W    D1,-(A7)
00006604 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00006608 2F00                    MOVE.L    D0,-(A7)
0000660A 4EB900000000            JSR       T.WRITE
00006610 2F00                    MOVE.L    D0,-(A7)
00006612 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 37/21
00006618 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
0000661C 4A80                    TST.L     D0
0000661E 6606                    BNE.S     X.35.9(PC)
00006620 4EB900000000            JSR       E.FILE
00006626 2F00         X.35.9     MOVE.L    D0,-(A7)
00006628 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 37/22
0000662E 42A7         L.35.5     CLR.L     -(A7)
00006630 4EB900000000            JSR       E.HREST
                      *                                                        LINE 37/24
00006636 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_TANGENT
                      *
0000663C 666174616C20 K.192      DC.B      'fatal error encountered on tangent:'
0000665F 00000001                DS.B      1
00006660 202020617267 K.193      DC.B      '   arg = '
00006669 00000001                DS.B      1
0000666A 666174616C20 K.194      DC.B      'fatal error encountered on tangent:'
0000668D 00000001                DS.B      1
0000668E 202020617267 K.195      DC.B      '   arg = '
00006697 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_TANGENT
                      *
00006698 7010         B.36       MOVEQ     #16,D0                                $10
0000669A 2F00                    MOVE.L    D0,-(A7)
0000669C 6114                    BSR.S     X.36.1(PC)
0000669E 00000000                DC.L      C.1
000066A2 0000                    DC.W      0                                     $0
000066A4 000C                    DC.W      12                                  String length word
000066A6 544553545F54            DC.B      'TEST_TANGENT'
000066B2 203CFFFFFFA6 X.36.1     MOVE.L    #T.36-4,D0                            -86
000066B8 4EB900000000            JSR       M.ENTRY
000066BE 2D4FFFAA                MOVE.L    A7,ST.36(A6)                          -86
                      *                                                        LINE 38/3
000066C2 487A00CC     L.36.1     PEA       H.36.2(PC)
000066C6 4EB900000000            JSR       E.HSET
                      *                                                        LINE 38/4
000066CC 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
000066D0 4EB900000000            JSR       F.TAN
000066D6 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 38/5
000066DA 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
000066DE 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
000066E2 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 38/6
000066E8 7001                    MOVEQ     #1,D0                                 $1
000066EA 3F00                    MOVE.W    D0,-(A7)
000066EC 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
000066F0 2F08                    MOVE.L    A0,-(A7)
000066F2 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
000066F6 6100A552                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
000066FA 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
000066FE 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00006702 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00006706 5240                    ADDQ.W    #1,D0                                 $1
00006708 E248                    LSR.W     #1,D0                                 $1
0000670A 32D8         X.36.2     MOVE.W    (A0)+,(A1)+
0000670C 51C8FFFC                DBF       D0,X.36.2(PC)
                      *                                                        LINE 38/7
00006710 4267                    CLR.W     -(A7)
00006712 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00006716 7046                    MOVEQ     #70,D0                                $46
00006718 3F00                    MOVE.W    D0,-(A7)
0000671A 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000671E 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00006722 7046                    MOVEQ     #70,D0                                $46
00006724 3F00                    MOVE.W    D0,-(A7)
00006726 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000672A 6100A198                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 38/8
0000672E 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00006732 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00006736 4EB900000000            JSR       D.TAN
                      *                                                        LINE 38/9
0000673C 7001                    MOVEQ     #1,D0                                 $1
0000673E 3F00                    MOVE.W    D0,-(A7)
00006740 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00006744 2F08                    MOVE.L    A0,-(A7)
00006746 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
0000674A 6100A4FE                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
0000674E 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00006752 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00006756 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
0000675A 5240                    ADDQ.W    #1,D0                                 $1
0000675C E248                    LSR.W     #1,D0                                 $1
0000675E 32D8         X.36.3     MOVE.W    (A0)+,(A1)+
00006760 51C8FFFC                DBF       D0,X.36.3(PC)
                      *                                                        LINE 38/10
00006764 7001                    MOVEQ     #1,D0                                 $1
00006766 3F00                    MOVE.W    D0,-(A7)
00006768 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
0000676C 7046                    MOVEQ     #70,D0                                $46
0000676E 3F00                    MOVE.W    D0,-(A7)
00006770 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00006774 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00006778 7046                    MOVEQ     #70,D0                                $46
0000677A 3F00                    MOVE.W    D0,-(A7)
0000677C 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00006780 6100A142                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
00006784 6000011A                BRA.L     L.36.5(PC)
                      *                                                        LINE 38/12
00006788 2E6EFFAA     L.36.2     MOVEA.L   ST.36(A6),A7                          -86
0000678C 4EFB8002                JMP       H.36.2(PC,A0.W)
00006790 00000000     H.36.2     DC.L      L.36.2
00006794 00000000                DC.L      0                                     $0
00006798 FFF6                    DC.W      -10                                   $FFFFFFF6
0000679A FFFE                    DC.W      -2                                    $FFFFFFFE
0000679C 0000                    DC.W      L.36.3+12-*
0000679E              L.36.3
                      *                                                        LINE 38/14
                      *                                                        LINE 38/15
0000679E 4EB900000000 L.36.4     JSR       E.MSG
                      *                                                        LINE 38/16
000067A4 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000067A8 4A80                    TST.L     D0
000067AA 6606                    BNE.S     X.36.4(PC)
000067AC 4EB900000000            JSR       E.FILE
000067B2 7223         X.36.4     MOVEQ     #35,D1                                $23
000067B4 3F01                    MOVE.W    D1,-(A7)
000067B6 7204                    MOVEQ     #4,D1                                 $4
000067B8 3F01                    MOVE.W    D1,-(A7)
000067BA 487AFE80                PEA       K.192(PC)                             CODE.+$663C
000067BE 2F00                    MOVE.L    D0,-(A7)
000067C0 4EB900000000            JSR       T.WRITE
000067C6 2F00                    MOVE.L    D0,-(A7)
000067C8 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 38/17
000067CE 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000067D2 4A80                    TST.L     D0
000067D4 6606                    BNE.S     X.36.5(PC)
000067D6 4EB900000000            JSR       E.FILE
000067DC 7209         X.36.5     MOVEQ     #9,D1                                 $9
000067DE 3F01                    MOVE.W    D1,-(A7)
000067E0 7204                    MOVEQ     #4,D1                                 $4
000067E2 3F01                    MOVE.W    D1,-(A7)
000067E4 487AFE7A                PEA       K.193(PC)                             CODE.+$6660
000067E8 2F00                    MOVE.L    D0,-(A7)
000067EA 4EB900000000            JSR       T.WRITE
000067F0 7210                    MOVEQ     #16,D1                                $10
000067F2 2F01                    MOVE.L    D1,-(A7)
000067F4 7202                    MOVEQ     #2,D1                                 $2
000067F6 3F01                    MOVE.W    D1,-(A7)
000067F8 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
000067FC 2F00                    MOVE.L    D0,-(A7)
000067FE 4EB900000000            JSR       T.WRITE
00006804 2F00                    MOVE.L    D0,-(A7)
00006806 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 38/18
0000680C 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00006810 4A80                    TST.L     D0
00006812 6606                    BNE.S     X.36.6(PC)
00006814 4EB900000000            JSR       E.FILE
0000681A 2F00         X.36.6     MOVE.L    D0,-(A7)
0000681C 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 38/19
00006822 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00006826 4A80                    TST.L     D0
00006828 6606                    BNE.S     X.36.7(PC)
0000682A 4EB900000000            JSR       E.FILE
00006830 7223         X.36.7     MOVEQ     #35,D1                                $23
00006832 3F01                    MOVE.W    D1,-(A7)
00006834 7204                    MOVEQ     #4,D1                                 $4
00006836 3F01                    MOVE.W    D1,-(A7)
00006838 487AFE30                PEA       K.194(PC)                             CODE.+$666A
0000683C 2F00                    MOVE.L    D0,-(A7)
0000683E 4EB900000000            JSR       T.WRITE
00006844 2F00                    MOVE.L    D0,-(A7)
00006846 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 38/20
0000684C 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00006850 4A80                    TST.L     D0
00006852 6606                    BNE.S     X.36.8(PC)
00006854 4EB900000000            JSR       E.FILE
0000685A 7209         X.36.8     MOVEQ     #9,D1                                 $9
0000685C 3F01                    MOVE.W    D1,-(A7)
0000685E 7204                    MOVEQ     #4,D1                                 $4
00006860 3F01                    MOVE.W    D1,-(A7)
00006862 487AFE2A                PEA       K.195(PC)                             CODE.+$668E
00006866 2F00                    MOVE.L    D0,-(A7)
00006868 4EB900000000            JSR       T.WRITE
0000686E 7210                    MOVEQ     #16,D1                                $10
00006870 2F01                    MOVE.L    D1,-(A7)
00006872 7202                    MOVEQ     #2,D1                                 $2
00006874 3F01                    MOVE.W    D1,-(A7)
00006876 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
0000687A 2F00                    MOVE.L    D0,-(A7)
0000687C 4EB900000000            JSR       T.WRITE
00006882 2F00                    MOVE.L    D0,-(A7)
00006884 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 38/21
0000688A 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
0000688E 4A80                    TST.L     D0
00006890 6606                    BNE.S     X.36.9(PC)
00006892 4EB900000000            JSR       E.FILE
00006898 2F00         X.36.9     MOVE.L    D0,-(A7)
0000689A 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 38/22
000068A0 42A7         L.36.5     CLR.L     -(A7)
000068A2 4EB900000000            JSR       E.HREST
                      *                                                        LINE 38/24
000068A8 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_ARCSINE
                      *
000068AE 666174616C20 K.196      DC.B      'fatal error encountered on arcsine:'
000068D1 00000001                DS.B      1
000068D2 202020617267 K.197      DC.B      '   arg = '
000068DB 00000001                DS.B      1
000068DC 666174616C20 K.198      DC.B      'fatal error encountered on arcsine:'
000068FF 00000001                DS.B      1
00006900 202020617267 K.199      DC.B      '   arg = '
00006909 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_ARCSINE
                      *
0000690A 7010         B.37       MOVEQ     #16,D0                                $10
0000690C 2F00                    MOVE.L    D0,-(A7)
0000690E 6114                    BSR.S     X.37.1(PC)
00006910 00000000                DC.L      C.1
00006914 0000                    DC.W      0                                     $0
00006916 000C                    DC.W      12                                  String length word
00006918 544553545F41            DC.B      'TEST_ARCSINE'
00006924 203CFFFFFFA6 X.37.1     MOVE.L    #T.37-4,D0                            -86
0000692A 4EB900000000            JSR       M.ENTRY
00006930 2D4FFFAA                MOVE.L    A7,ST.37(A6)                          -86
                      *                                                        LINE 39/3
00006934 487A00CC     L.37.1     PEA       H.37.2(PC)
00006938 4EB900000000            JSR       E.HSET
                      *                                                        LINE 39/4
0000693E 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00006942 4EB900000000            JSR       F.ASIN
00006948 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 39/5
0000694C 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
00006950 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00006954 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 39/6
0000695A 7001                    MOVEQ     #1,D0                                 $1
0000695C 3F00                    MOVE.W    D0,-(A7)
0000695E 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00006962 2F08                    MOVE.L    A0,-(A7)
00006964 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00006968 6100A2E0                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
0000696C 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00006970 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00006974 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00006978 5240                    ADDQ.W    #1,D0                                 $1
0000697A E248                    LSR.W     #1,D0                                 $1
0000697C 32D8         X.37.2     MOVE.W    (A0)+,(A1)+
0000697E 51C8FFFC                DBF       D0,X.37.2(PC)
                      *                                                        LINE 39/7
00006982 4267                    CLR.W     -(A7)
00006984 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00006988 7046                    MOVEQ     #70,D0                                $46
0000698A 3F00                    MOVE.W    D0,-(A7)
0000698C 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00006990 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00006994 7046                    MOVEQ     #70,D0                                $46
00006996 3F00                    MOVE.W    D0,-(A7)
00006998 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000699C 61009F26                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 39/8
000069A0 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
000069A4 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
000069A8 4EB900000000            JSR       D.ASIN
                      *                                                        LINE 39/9
000069AE 7001                    MOVEQ     #1,D0                                 $1
000069B0 3F00                    MOVE.W    D0,-(A7)
000069B2 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
000069B6 2F08                    MOVE.L    A0,-(A7)
000069B8 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
000069BC 6100A28C                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
000069C0 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
000069C4 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
000069C8 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
000069CC 5240                    ADDQ.W    #1,D0                                 $1
000069CE E248                    LSR.W     #1,D0                                 $1
000069D0 32D8         X.37.3     MOVE.W    (A0)+,(A1)+
000069D2 51C8FFFC                DBF       D0,X.37.3(PC)
                      *                                                        LINE 39/10
000069D6 7001                    MOVEQ     #1,D0                                 $1
000069D8 3F00                    MOVE.W    D0,-(A7)
000069DA 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
000069DE 7046                    MOVEQ     #70,D0                                $46
000069E0 3F00                    MOVE.W    D0,-(A7)
000069E2 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
000069E6 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
000069EA 7046                    MOVEQ     #70,D0                                $46
000069EC 3F00                    MOVE.W    D0,-(A7)
000069EE 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
000069F2 61009ED0                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
000069F6 6000011A                BRA.L     L.37.5(PC)
                      *                                                        LINE 39/12
000069FA 2E6EFFAA     L.37.2     MOVEA.L   ST.37(A6),A7                          -86
000069FE 4EFB8002                JMP       H.37.2(PC,A0.W)
00006A02 00000000     H.37.2     DC.L      L.37.2
00006A06 00000000                DC.L      0                                     $0
00006A0A FFF6                    DC.W      -10                                   $FFFFFFF6
00006A0C FFFE                    DC.W      -2                                    $FFFFFFFE
00006A0E 0000                    DC.W      L.37.3+12-*
00006A10              L.37.3
                      *                                                        LINE 39/14
                      *                                                        LINE 39/15
00006A10 4EB900000000 L.37.4     JSR       E.MSG
                      *                                                        LINE 39/16
00006A16 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00006A1A 4A80                    TST.L     D0
00006A1C 6606                    BNE.S     X.37.4(PC)
00006A1E 4EB900000000            JSR       E.FILE
00006A24 7223         X.37.4     MOVEQ     #35,D1                                $23
00006A26 3F01                    MOVE.W    D1,-(A7)
00006A28 7204                    MOVEQ     #4,D1                                 $4
00006A2A 3F01                    MOVE.W    D1,-(A7)
00006A2C 487AFE80                PEA       K.196(PC)                             CODE.+$68AE
00006A30 2F00                    MOVE.L    D0,-(A7)
00006A32 4EB900000000            JSR       T.WRITE
00006A38 2F00                    MOVE.L    D0,-(A7)
00006A3A 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 39/17
00006A40 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00006A44 4A80                    TST.L     D0
00006A46 6606                    BNE.S     X.37.5(PC)
00006A48 4EB900000000            JSR       E.FILE
00006A4E 7209         X.37.5     MOVEQ     #9,D1                                 $9
00006A50 3F01                    MOVE.W    D1,-(A7)
00006A52 7204                    MOVEQ     #4,D1                                 $4
00006A54 3F01                    MOVE.W    D1,-(A7)
00006A56 487AFE7A                PEA       K.197(PC)                             CODE.+$68D2
00006A5A 2F00                    MOVE.L    D0,-(A7)
00006A5C 4EB900000000            JSR       T.WRITE
00006A62 7210                    MOVEQ     #16,D1                                $10
00006A64 2F01                    MOVE.L    D1,-(A7)
00006A66 7202                    MOVEQ     #2,D1                                 $2
00006A68 3F01                    MOVE.W    D1,-(A7)
00006A6A 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00006A6E 2F00                    MOVE.L    D0,-(A7)
00006A70 4EB900000000            JSR       T.WRITE
00006A76 2F00                    MOVE.L    D0,-(A7)
00006A78 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 39/18
00006A7E 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00006A82 4A80                    TST.L     D0
00006A84 6606                    BNE.S     X.37.6(PC)
00006A86 4EB900000000            JSR       E.FILE
00006A8C 2F00         X.37.6     MOVE.L    D0,-(A7)
00006A8E 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 39/19
00006A94 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00006A98 4A80                    TST.L     D0
00006A9A 6606                    BNE.S     X.37.7(PC)
00006A9C 4EB900000000            JSR       E.FILE
00006AA2 7223         X.37.7     MOVEQ     #35,D1                                $23
00006AA4 3F01                    MOVE.W    D1,-(A7)
00006AA6 7204                    MOVEQ     #4,D1                                 $4
00006AA8 3F01                    MOVE.W    D1,-(A7)
00006AAA 487AFE30                PEA       K.198(PC)                             CODE.+$68DC
00006AAE 2F00                    MOVE.L    D0,-(A7)
00006AB0 4EB900000000            JSR       T.WRITE
00006AB6 2F00                    MOVE.L    D0,-(A7)
00006AB8 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 39/20
00006ABE 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00006AC2 4A80                    TST.L     D0
00006AC4 6606                    BNE.S     X.37.8(PC)
00006AC6 4EB900000000            JSR       E.FILE
00006ACC 7209         X.37.8     MOVEQ     #9,D1                                 $9
00006ACE 3F01                    MOVE.W    D1,-(A7)
00006AD0 7204                    MOVEQ     #4,D1                                 $4
00006AD2 3F01                    MOVE.W    D1,-(A7)
00006AD4 487AFE2A                PEA       K.199(PC)                             CODE.+$6900
00006AD8 2F00                    MOVE.L    D0,-(A7)
00006ADA 4EB900000000            JSR       T.WRITE
00006AE0 7210                    MOVEQ     #16,D1                                $10
00006AE2 2F01                    MOVE.L    D1,-(A7)
00006AE4 7202                    MOVEQ     #2,D1                                 $2
00006AE6 3F01                    MOVE.W    D1,-(A7)
00006AE8 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00006AEC 2F00                    MOVE.L    D0,-(A7)
00006AEE 4EB900000000            JSR       T.WRITE
00006AF4 2F00                    MOVE.L    D0,-(A7)
00006AF6 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 39/21
00006AFC 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00006B00 4A80                    TST.L     D0
00006B02 6606                    BNE.S     X.37.9(PC)
00006B04 4EB900000000            JSR       E.FILE
00006B0A 2F00         X.37.9     MOVE.L    D0,-(A7)
00006B0C 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 39/22
00006B12 42A7         L.37.5     CLR.L     -(A7)
00006B14 4EB900000000            JSR       E.HREST
                      *                                                        LINE 39/24
00006B1A 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_ARCCOSINE
                      *
00006B20 666174616C20 K.200      DC.B      'fatal error encountered on arccosine:'
00006B45 00000001                DS.B      1
00006B46 202020617267 K.201      DC.B      '   arg = '
00006B4F 00000001                DS.B      1
00006B50 666174616C20 K.202      DC.B      'fatal error encountered on arccosine:'
00006B75 00000001                DS.B      1
00006B76 202020617267 K.203      DC.B      '   arg = '
00006B7F 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_ARCCOSINE
                      *
00006B80 7010         B.38       MOVEQ     #16,D0                                $10
00006B82 2F00                    MOVE.L    D0,-(A7)
00006B84 6116                    BSR.S     X.38.1(PC)
00006B86 00000000                DC.L      C.1
00006B8A 0000                    DC.W      0                                     $0
00006B8C 000E                    DC.W      14                                  String length word
00006B8E 544553545F41            DC.B      'TEST_ARCCOSINE'
00006B9C 203CFFFFFFA6 X.38.1     MOVE.L    #T.38-4,D0                            -86
00006BA2 4EB900000000            JSR       M.ENTRY
00006BA8 2D4FFFAA                MOVE.L    A7,ST.38(A6)                          -86
                      *                                                        LINE 40/3
00006BAC 487A00CC     L.38.1     PEA       H.38.2(PC)
00006BB0 4EB900000000            JSR       E.HSET
                      *                                                        LINE 40/4
00006BB6 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00006BBA 4EB900000000            JSR       F.ACOS
00006BC0 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 40/5
00006BC4 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
00006BC8 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00006BCC 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 40/6
00006BD2 7001                    MOVEQ     #1,D0                                 $1
00006BD4 3F00                    MOVE.W    D0,-(A7)
00006BD6 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00006BDA 2F08                    MOVE.L    A0,-(A7)
00006BDC 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00006BE0 6100A068                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00006BE4 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00006BE8 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00006BEC 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00006BF0 5240                    ADDQ.W    #1,D0                                 $1
00006BF2 E248                    LSR.W     #1,D0                                 $1
00006BF4 32D8         X.38.2     MOVE.W    (A0)+,(A1)+
00006BF6 51C8FFFC                DBF       D0,X.38.2(PC)
                      *                                                        LINE 40/7
00006BFA 4267                    CLR.W     -(A7)
00006BFC 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00006C00 7046                    MOVEQ     #70,D0                                $46
00006C02 3F00                    MOVE.W    D0,-(A7)
00006C04 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00006C08 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00006C0C 7046                    MOVEQ     #70,D0                                $46
00006C0E 3F00                    MOVE.W    D0,-(A7)
00006C10 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00006C14 61009CAE                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 40/8
00006C18 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00006C1C 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00006C20 4EB900000000            JSR       D.ACOS
                      *                                                        LINE 40/9
00006C26 7001                    MOVEQ     #1,D0                                 $1
00006C28 3F00                    MOVE.W    D0,-(A7)
00006C2A 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00006C2E 2F08                    MOVE.L    A0,-(A7)
00006C30 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00006C34 6100A014                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00006C38 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00006C3C 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00006C40 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00006C44 5240                    ADDQ.W    #1,D0                                 $1
00006C46 E248                    LSR.W     #1,D0                                 $1
00006C48 32D8         X.38.3     MOVE.W    (A0)+,(A1)+
00006C4A 51C8FFFC                DBF       D0,X.38.3(PC)
                      *                                                        LINE 40/10
00006C4E 7001                    MOVEQ     #1,D0                                 $1
00006C50 3F00                    MOVE.W    D0,-(A7)
00006C52 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00006C56 7046                    MOVEQ     #70,D0                                $46
00006C58 3F00                    MOVE.W    D0,-(A7)
00006C5A 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00006C5E 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00006C62 7046                    MOVEQ     #70,D0                                $46
00006C64 3F00                    MOVE.W    D0,-(A7)
00006C66 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00006C6A 61009C58                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
00006C6E 6000011A                BRA.L     L.38.5(PC)
                      *                                                        LINE 40/12
00006C72 2E6EFFAA     L.38.2     MOVEA.L   ST.38(A6),A7                          -86
00006C76 4EFB8002                JMP       H.38.2(PC,A0.W)
00006C7A 00000000     H.38.2     DC.L      L.38.2
00006C7E 00000000                DC.L      0                                     $0
00006C82 FFF6                    DC.W      -10                                   $FFFFFFF6
00006C84 FFFE                    DC.W      -2                                    $FFFFFFFE
00006C86 0000                    DC.W      L.38.3+12-*
00006C88              L.38.3
                      *                                                        LINE 40/14
                      *                                                        LINE 40/15
00006C88 4EB900000000 L.38.4     JSR       E.MSG
                      *                                                        LINE 40/16
00006C8E 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00006C92 4A80                    TST.L     D0
00006C94 6606                    BNE.S     X.38.4(PC)
00006C96 4EB900000000            JSR       E.FILE
00006C9C 7225         X.38.4     MOVEQ     #37,D1                                $25
00006C9E 3F01                    MOVE.W    D1,-(A7)
00006CA0 7204                    MOVEQ     #4,D1                                 $4
00006CA2 3F01                    MOVE.W    D1,-(A7)
00006CA4 487AFE7A                PEA       K.200(PC)                             CODE.+$6B20
00006CA8 2F00                    MOVE.L    D0,-(A7)
00006CAA 4EB900000000            JSR       T.WRITE
00006CB0 2F00                    MOVE.L    D0,-(A7)
00006CB2 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 40/17
00006CB8 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00006CBC 4A80                    TST.L     D0
00006CBE 6606                    BNE.S     X.38.5(PC)
00006CC0 4EB900000000            JSR       E.FILE
00006CC6 7209         X.38.5     MOVEQ     #9,D1                                 $9
00006CC8 3F01                    MOVE.W    D1,-(A7)
00006CCA 7204                    MOVEQ     #4,D1                                 $4
00006CCC 3F01                    MOVE.W    D1,-(A7)
00006CCE 487AFE76                PEA       K.201(PC)                             CODE.+$6B46
00006CD2 2F00                    MOVE.L    D0,-(A7)
00006CD4 4EB900000000            JSR       T.WRITE
00006CDA 7210                    MOVEQ     #16,D1                                $10
00006CDC 2F01                    MOVE.L    D1,-(A7)
00006CDE 7202                    MOVEQ     #2,D1                                 $2
00006CE0 3F01                    MOVE.W    D1,-(A7)
00006CE2 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00006CE6 2F00                    MOVE.L    D0,-(A7)
00006CE8 4EB900000000            JSR       T.WRITE
00006CEE 2F00                    MOVE.L    D0,-(A7)
00006CF0 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 40/18
00006CF6 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00006CFA 4A80                    TST.L     D0
00006CFC 6606                    BNE.S     X.38.6(PC)
00006CFE 4EB900000000            JSR       E.FILE
00006D04 2F00         X.38.6     MOVE.L    D0,-(A7)
00006D06 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 40/19
00006D0C 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00006D10 4A80                    TST.L     D0
00006D12 6606                    BNE.S     X.38.7(PC)
00006D14 4EB900000000            JSR       E.FILE
00006D1A 7225         X.38.7     MOVEQ     #37,D1                                $25
00006D1C 3F01                    MOVE.W    D1,-(A7)
00006D1E 7204                    MOVEQ     #4,D1                                 $4
00006D20 3F01                    MOVE.W    D1,-(A7)
00006D22 487AFE2C                PEA       K.202(PC)                             CODE.+$6B50
00006D26 2F00                    MOVE.L    D0,-(A7)
00006D28 4EB900000000            JSR       T.WRITE
00006D2E 2F00                    MOVE.L    D0,-(A7)
00006D30 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 40/20
00006D36 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00006D3A 4A80                    TST.L     D0
00006D3C 6606                    BNE.S     X.38.8(PC)
00006D3E 4EB900000000            JSR       E.FILE
00006D44 7209         X.38.8     MOVEQ     #9,D1                                 $9
00006D46 3F01                    MOVE.W    D1,-(A7)
00006D48 7204                    MOVEQ     #4,D1                                 $4
00006D4A 3F01                    MOVE.W    D1,-(A7)
00006D4C 487AFE28                PEA       K.203(PC)                             CODE.+$6B76
00006D50 2F00                    MOVE.L    D0,-(A7)
00006D52 4EB900000000            JSR       T.WRITE
00006D58 7210                    MOVEQ     #16,D1                                $10
00006D5A 2F01                    MOVE.L    D1,-(A7)
00006D5C 7202                    MOVEQ     #2,D1                                 $2
00006D5E 3F01                    MOVE.W    D1,-(A7)
00006D60 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00006D64 2F00                    MOVE.L    D0,-(A7)
00006D66 4EB900000000            JSR       T.WRITE
00006D6C 2F00                    MOVE.L    D0,-(A7)
00006D6E 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 40/21
00006D74 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00006D78 4A80                    TST.L     D0
00006D7A 6606                    BNE.S     X.38.9(PC)
00006D7C 4EB900000000            JSR       E.FILE
00006D82 2F00         X.38.9     MOVE.L    D0,-(A7)
00006D84 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 40/22
00006D8A 42A7         L.38.5     CLR.L     -(A7)
00006D8C 4EB900000000            JSR       E.HREST
                      *                                                        LINE 40/24
00006D92 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_ARCTANGENT
                      *
00006D98 666174616C20 K.204      DC.B      'fatal error encountered on arctangent:'
00006DBE 202020617267 K.205      DC.B      '   arg = '
00006DC7 00000001                DS.B      1
00006DC8 666174616C20 K.206      DC.B      'fatal error encountered on arctangent:'
00006DEE 202020617267 K.207      DC.B      '   arg = '
00006DF7 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_ARCTANGENT
                      *
00006DF8 7010         B.39       MOVEQ     #16,D0                                $10
00006DFA 2F00                    MOVE.L    D0,-(A7)
00006DFC 6118                    BSR.S     X.39.1(PC)
00006DFE 00000000                DC.L      C.1
00006E02 0000                    DC.W      0                                     $0
00006E04 000F                    DC.W      15                                  String length word
00006E06 544553545F41            DC.B      'TEST_ARCTANGENT'
00006E15 00000001                DS.B      1                                   Fill byte
00006E16 203CFFFFFFA6 X.39.1     MOVE.L    #T.39-4,D0                            -86
00006E1C 4EB900000000            JSR       M.ENTRY
00006E22 2D4FFFAA                MOVE.L    A7,ST.39(A6)                          -86
                      *                                                        LINE 41/3
00006E26 487A00CC     L.39.1     PEA       H.39.2(PC)
00006E2A 4EB900000000            JSR       E.HSET
                      *                                                        LINE 41/4
00006E30 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00006E34 4EB900000000            JSR       F.ATAN
00006E3A 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 41/5
00006E3E 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
00006E42 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00006E46 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 41/6
00006E4C 7001                    MOVEQ     #1,D0                                 $1
00006E4E 3F00                    MOVE.W    D0,-(A7)
00006E50 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00006E54 2F08                    MOVE.L    A0,-(A7)
00006E56 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00006E5A 61009DEE                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00006E5E 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00006E62 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00006E66 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00006E6A 5240                    ADDQ.W    #1,D0                                 $1
00006E6C E248                    LSR.W     #1,D0                                 $1
00006E6E 32D8         X.39.2     MOVE.W    (A0)+,(A1)+
00006E70 51C8FFFC                DBF       D0,X.39.2(PC)
                      *                                                        LINE 41/7
00006E74 4267                    CLR.W     -(A7)
00006E76 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00006E7A 7046                    MOVEQ     #70,D0                                $46
00006E7C 3F00                    MOVE.W    D0,-(A7)
00006E7E 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00006E82 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00006E86 7046                    MOVEQ     #70,D0                                $46
00006E88 3F00                    MOVE.W    D0,-(A7)
00006E8A 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00006E8E 61009A34                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 41/8
00006E92 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00006E96 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00006E9A 4EB900000000            JSR       D.ATAN
                      *                                                        LINE 41/9
00006EA0 7001                    MOVEQ     #1,D0                                 $1
00006EA2 3F00                    MOVE.W    D0,-(A7)
00006EA4 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00006EA8 2F08                    MOVE.L    A0,-(A7)
00006EAA 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00006EAE 61009D9A                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00006EB2 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00006EB6 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00006EBA 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00006EBE 5240                    ADDQ.W    #1,D0                                 $1
00006EC0 E248                    LSR.W     #1,D0                                 $1
00006EC2 32D8         X.39.3     MOVE.W    (A0)+,(A1)+
00006EC4 51C8FFFC                DBF       D0,X.39.3(PC)
                      *                                                        LINE 41/10
00006EC8 7001                    MOVEQ     #1,D0                                 $1
00006ECA 3F00                    MOVE.W    D0,-(A7)
00006ECC 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00006ED0 7046                    MOVEQ     #70,D0                                $46
00006ED2 3F00                    MOVE.W    D0,-(A7)
00006ED4 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00006ED8 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00006EDC 7046                    MOVEQ     #70,D0                                $46
00006EDE 3F00                    MOVE.W    D0,-(A7)
00006EE0 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00006EE4 610099DE                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
00006EE8 6000011A                BRA.L     L.39.5(PC)
                      *                                                        LINE 41/12
00006EEC 2E6EFFAA     L.39.2     MOVEA.L   ST.39(A6),A7                          -86
00006EF0 4EFB8002                JMP       H.39.2(PC,A0.W)
00006EF4 00000000     H.39.2     DC.L      L.39.2
00006EF8 00000000                DC.L      0                                     $0
00006EFC FFF6                    DC.W      -10                                   $FFFFFFF6
00006EFE FFFE                    DC.W      -2                                    $FFFFFFFE
00006F00 0000                    DC.W      L.39.3+12-*
00006F02              L.39.3
                      *                                                        LINE 41/14
                      *                                                        LINE 41/15
00006F02 4EB900000000 L.39.4     JSR       E.MSG
                      *                                                        LINE 41/16
00006F08 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00006F0C 4A80                    TST.L     D0
00006F0E 6606                    BNE.S     X.39.4(PC)
00006F10 4EB900000000            JSR       E.FILE
00006F16 7226         X.39.4     MOVEQ     #38,D1                                $26
00006F18 3F01                    MOVE.W    D1,-(A7)
00006F1A 7204                    MOVEQ     #4,D1                                 $4
00006F1C 3F01                    MOVE.W    D1,-(A7)
00006F1E 487AFE78                PEA       K.204(PC)                             CODE.+$6D98
00006F22 2F00                    MOVE.L    D0,-(A7)
00006F24 4EB900000000            JSR       T.WRITE
00006F2A 2F00                    MOVE.L    D0,-(A7)
00006F2C 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 41/17
00006F32 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00006F36 4A80                    TST.L     D0
00006F38 6606                    BNE.S     X.39.5(PC)
00006F3A 4EB900000000            JSR       E.FILE
00006F40 7209         X.39.5     MOVEQ     #9,D1                                 $9
00006F42 3F01                    MOVE.W    D1,-(A7)
00006F44 7204                    MOVEQ     #4,D1                                 $4
00006F46 3F01                    MOVE.W    D1,-(A7)
00006F48 487AFE74                PEA       K.205(PC)                             CODE.+$6DBE
00006F4C 2F00                    MOVE.L    D0,-(A7)
00006F4E 4EB900000000            JSR       T.WRITE
00006F54 7210                    MOVEQ     #16,D1                                $10
00006F56 2F01                    MOVE.L    D1,-(A7)
00006F58 7202                    MOVEQ     #2,D1                                 $2
00006F5A 3F01                    MOVE.W    D1,-(A7)
00006F5C 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00006F60 2F00                    MOVE.L    D0,-(A7)
00006F62 4EB900000000            JSR       T.WRITE
00006F68 2F00                    MOVE.L    D0,-(A7)
00006F6A 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 41/18
00006F70 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00006F74 4A80                    TST.L     D0
00006F76 6606                    BNE.S     X.39.6(PC)
00006F78 4EB900000000            JSR       E.FILE
00006F7E 2F00         X.39.6     MOVE.L    D0,-(A7)
00006F80 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 41/19
00006F86 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00006F8A 4A80                    TST.L     D0
00006F8C 6606                    BNE.S     X.39.7(PC)
00006F8E 4EB900000000            JSR       E.FILE
00006F94 7226         X.39.7     MOVEQ     #38,D1                                $26
00006F96 3F01                    MOVE.W    D1,-(A7)
00006F98 7204                    MOVEQ     #4,D1                                 $4
00006F9A 3F01                    MOVE.W    D1,-(A7)
00006F9C 487AFE2A                PEA       K.206(PC)                             CODE.+$6DC8
00006FA0 2F00                    MOVE.L    D0,-(A7)
00006FA2 4EB900000000            JSR       T.WRITE
00006FA8 2F00                    MOVE.L    D0,-(A7)
00006FAA 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 41/20
00006FB0 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00006FB4 4A80                    TST.L     D0
00006FB6 6606                    BNE.S     X.39.8(PC)
00006FB8 4EB900000000            JSR       E.FILE
00006FBE 7209         X.39.8     MOVEQ     #9,D1                                 $9
00006FC0 3F01                    MOVE.W    D1,-(A7)
00006FC2 7204                    MOVEQ     #4,D1                                 $4
00006FC4 3F01                    MOVE.W    D1,-(A7)
00006FC6 487AFE26                PEA       K.207(PC)                             CODE.+$6DEE
00006FCA 2F00                    MOVE.L    D0,-(A7)
00006FCC 4EB900000000            JSR       T.WRITE
00006FD2 7210                    MOVEQ     #16,D1                                $10
00006FD4 2F01                    MOVE.L    D1,-(A7)
00006FD6 7202                    MOVEQ     #2,D1                                 $2
00006FD8 3F01                    MOVE.W    D1,-(A7)
00006FDA 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00006FDE 2F00                    MOVE.L    D0,-(A7)
00006FE0 4EB900000000            JSR       T.WRITE
00006FE6 2F00                    MOVE.L    D0,-(A7)
00006FE8 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 41/21
00006FEE 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00006FF2 4A80                    TST.L     D0
00006FF4 6606                    BNE.S     X.39.9(PC)
00006FF6 4EB900000000            JSR       E.FILE
00006FFC 2F00         X.39.9     MOVE.L    D0,-(A7)
00006FFE 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 41/22
00007004 42A7         L.39.5     CLR.L     -(A7)
00007006 4EB900000000            JSR       E.HREST
                      *                                                        LINE 41/24
0000700C 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_ARCTAN2
                      *
00007012 666174616C20 K.208      DC.B      'fatal error encountered on arctangent (two arg):'
00007042 202020617267 K.209      DC.B      '   arg 1 = '
0000704D 00000001                DS.B      1
0000704E 202020617267 K.210      DC.B      '   arg 2 = '
00007059 00000001                DS.B      1
0000705A 666174616C20 K.211      DC.B      'fatal error encountered on arctangent (two arg):'
0000708A 202020617267 K.212      DC.B      '   arg 1 = '
00007095 00000001                DS.B      1
00007096 202020617267 K.213      DC.B      '   arg 2 = '
000070A1 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_ARCTAN2
                      *
000070A2 7010         B.40       MOVEQ     #16,D0                                $10
000070A4 2F00                    MOVE.L    D0,-(A7)
000070A6 6114                    BSR.S     X.40.1(PC)
000070A8 00000000                DC.L      C.1
000070AC 0000                    DC.W      0                                     $0
000070AE 000C                    DC.W      12                                  String length word
000070B0 544553545F41            DC.B      'TEST_ARCTAN2'
000070BC 203CFFFFFFA6 X.40.1     MOVE.L    #T.40-4,D0                            -86
000070C2 4EB900000000            JSR       M.ENTRY
000070C8 2D4FFFAA                MOVE.L    A7,ST.40(A6)                          -86
                      *                                                        LINE 42/3
000070CC 487A00D4     L.40.1     PEA       H.40.2(PC)
000070D0 4EB900000000            JSR       E.HSET
                      *                                                        LINE 42/4
000070D6 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
000070DA 2F2D8108                MOVE.L    STATIC.+272-32768(A5),-(A7)           ARG2
000070DE 4EB900000000            JSR       F.ATAN2
000070E4 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 42/5
000070E8 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
000070EC 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
000070F0 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 42/6
000070F6 7001                    MOVEQ     #1,D0                                 $1
000070F8 3F00                    MOVE.W    D0,-(A7)
000070FA 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
000070FE 2F08                    MOVE.L    A0,-(A7)
00007100 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00007104 61009B44                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00007108 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
0000710C 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00007110 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00007114 5240                    ADDQ.W    #1,D0                                 $1
00007116 E248                    LSR.W     #1,D0                                 $1
00007118 32D8         X.40.2     MOVE.W    (A0)+,(A1)+
0000711A 51C8FFFC                DBF       D0,X.40.2(PC)
                      *                                                        LINE 42/7
0000711E 4267                    CLR.W     -(A7)
00007120 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00007124 7046                    MOVEQ     #70,D0                                $46
00007126 3F00                    MOVE.W    D0,-(A7)
00007128 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000712C 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00007130 7046                    MOVEQ     #70,D0                                $46
00007132 3F00                    MOVE.W    D0,-(A7)
00007134 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00007138 6100978A                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 42/8
0000713C 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00007140 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
00007144 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00007148 4EB900000000            JSR       D.ATAN2
                      *                                                        LINE 42/9
0000714E 7001                    MOVEQ     #1,D0                                 $1
00007150 3F00                    MOVE.W    D0,-(A7)
00007152 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00007156 2F08                    MOVE.L    A0,-(A7)
00007158 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
0000715C 61009AEC                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00007160 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00007164 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00007168 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
0000716C 5240                    ADDQ.W    #1,D0                                 $1
0000716E E248                    LSR.W     #1,D0                                 $1
00007170 32D8         X.40.3     MOVE.W    (A0)+,(A1)+
00007172 51C8FFFC                DBF       D0,X.40.3(PC)
                      *                                                        LINE 42/10
00007176 7001                    MOVEQ     #1,D0                                 $1
00007178 3F00                    MOVE.W    D0,-(A7)
0000717A 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
0000717E 7046                    MOVEQ     #70,D0                                $46
00007180 3F00                    MOVE.W    D0,-(A7)
00007182 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00007186 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
0000718A 7046                    MOVEQ     #70,D0                                $46
0000718C 3F00                    MOVE.W    D0,-(A7)
0000718E 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00007192 61009730                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
00007196 6000016A                BRA.L     L.40.5(PC)
                      *                                                        LINE 42/12
0000719A 2E6EFFAA     L.40.2     MOVEA.L   ST.40(A6),A7                          -86
0000719E 4EFB8002                JMP       H.40.2(PC,A0.W)
000071A2 00000000     H.40.2     DC.L      L.40.2
000071A6 00000000                DC.L      0                                     $0
000071AA FFF6                    DC.W      -10                                   $FFFFFFF6
000071AC FFFE                    DC.W      -2                                    $FFFFFFFE
000071AE 0000                    DC.W      L.40.3+12-*
000071B0              L.40.3
                      *                                                        LINE 42/14
                      *                                                        LINE 42/15
000071B0 4EB900000000 L.40.4     JSR       E.MSG
                      *                                                        LINE 42/16
000071B6 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000071BA 4A80                    TST.L     D0
000071BC 6606                    BNE.S     X.40.4(PC)
000071BE 4EB900000000            JSR       E.FILE
000071C4 7230         X.40.4     MOVEQ     #48,D1                                $30
000071C6 3F01                    MOVE.W    D1,-(A7)
000071C8 7204                    MOVEQ     #4,D1                                 $4
000071CA 3F01                    MOVE.W    D1,-(A7)
000071CC 487AFE44                PEA       K.208(PC)                             CODE.+$7012
000071D0 2F00                    MOVE.L    D0,-(A7)
000071D2 4EB900000000            JSR       T.WRITE
000071D8 2F00                    MOVE.L    D0,-(A7)
000071DA 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 42/17
000071E0 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000071E4 4A80                    TST.L     D0
000071E6 6606                    BNE.S     X.40.5(PC)
000071E8 4EB900000000            JSR       E.FILE
000071EE 720B         X.40.5     MOVEQ     #11,D1                                $B
000071F0 3F01                    MOVE.W    D1,-(A7)
000071F2 7204                    MOVEQ     #4,D1                                 $4
000071F4 3F01                    MOVE.W    D1,-(A7)
000071F6 487AFE4A                PEA       K.209(PC)                             CODE.+$7042
000071FA 2F00                    MOVE.L    D0,-(A7)
000071FC 4EB900000000            JSR       T.WRITE
00007202 7210                    MOVEQ     #16,D1                                $10
00007204 2F01                    MOVE.L    D1,-(A7)
00007206 7202                    MOVEQ     #2,D1                                 $2
00007208 3F01                    MOVE.W    D1,-(A7)
0000720A 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
0000720E 2F00                    MOVE.L    D0,-(A7)
00007210 4EB900000000            JSR       T.WRITE
00007216 720B                    MOVEQ     #11,D1                                $B
00007218 3F01                    MOVE.W    D1,-(A7)
0000721A 7204                    MOVEQ     #4,D1                                 $4
0000721C 3F01                    MOVE.W    D1,-(A7)
0000721E 487AFE2E                PEA       K.210(PC)                             CODE.+$704E
00007222 2F00                    MOVE.L    D0,-(A7)
00007224 4EB900000000            JSR       T.WRITE
0000722A 7210                    MOVEQ     #16,D1                                $10
0000722C 2F01                    MOVE.L    D1,-(A7)
0000722E 7202                    MOVEQ     #2,D1                                 $2
00007230 3F01                    MOVE.W    D1,-(A7)
00007232 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
00007236 2F00                    MOVE.L    D0,-(A7)
00007238 4EB900000000            JSR       T.WRITE
0000723E 2F00                    MOVE.L    D0,-(A7)
00007240 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 42/18
00007246 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
0000724A 4A80                    TST.L     D0
0000724C 6606                    BNE.S     X.40.6(PC)
0000724E 4EB900000000            JSR       E.FILE
00007254 2F00         X.40.6     MOVE.L    D0,-(A7)
00007256 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 42/19
0000725C 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00007260 4A80                    TST.L     D0
00007262 6606                    BNE.S     X.40.7(PC)
00007264 4EB900000000            JSR       E.FILE
0000726A 7230         X.40.7     MOVEQ     #48,D1                                $30
0000726C 3F01                    MOVE.W    D1,-(A7)
0000726E 7204                    MOVEQ     #4,D1                                 $4
00007270 3F01                    MOVE.W    D1,-(A7)
00007272 487AFDE6                PEA       K.211(PC)                             CODE.+$705A
00007276 2F00                    MOVE.L    D0,-(A7)
00007278 4EB900000000            JSR       T.WRITE
0000727E 2F00                    MOVE.L    D0,-(A7)
00007280 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 42/20
00007286 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
0000728A 4A80                    TST.L     D0
0000728C 6606                    BNE.S     X.40.8(PC)
0000728E 4EB900000000            JSR       E.FILE
00007294 720B         X.40.8     MOVEQ     #11,D1                                $B
00007296 3F01                    MOVE.W    D1,-(A7)
00007298 7204                    MOVEQ     #4,D1                                 $4
0000729A 3F01                    MOVE.W    D1,-(A7)
0000729C 487AFDEC                PEA       K.212(PC)                             CODE.+$708A
000072A0 2F00                    MOVE.L    D0,-(A7)
000072A2 4EB900000000            JSR       T.WRITE
000072A8 7210                    MOVEQ     #16,D1                                $10
000072AA 2F01                    MOVE.L    D1,-(A7)
000072AC 7202                    MOVEQ     #2,D1                                 $2
000072AE 3F01                    MOVE.W    D1,-(A7)
000072B0 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
000072B4 2F00                    MOVE.L    D0,-(A7)
000072B6 4EB900000000            JSR       T.WRITE
000072BC 720B                    MOVEQ     #11,D1                                $B
000072BE 3F01                    MOVE.W    D1,-(A7)
000072C0 7204                    MOVEQ     #4,D1                                 $4
000072C2 3F01                    MOVE.W    D1,-(A7)
000072C4 487AFDD0                PEA       K.213(PC)                             CODE.+$7096
000072C8 2F00                    MOVE.L    D0,-(A7)
000072CA 4EB900000000            JSR       T.WRITE
000072D0 7210                    MOVEQ     #16,D1                                $10
000072D2 2F01                    MOVE.L    D1,-(A7)
000072D4 7202                    MOVEQ     #2,D1                                 $2
000072D6 3F01                    MOVE.W    D1,-(A7)
000072D8 486D8118                PEA       STATIC.+288-32768(A5)                 D_ARG2
000072DC 2F00                    MOVE.L    D0,-(A7)
000072DE 4EB900000000            JSR       T.WRITE
000072E4 2F00                    MOVE.L    D0,-(A7)
000072E6 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 42/21
000072EC 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000072F0 4A80                    TST.L     D0
000072F2 6606                    BNE.S     X.40.9(PC)
000072F4 4EB900000000            JSR       E.FILE
000072FA 2F00         X.40.9     MOVE.L    D0,-(A7)
000072FC 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 42/22
00007302 42A7         L.40.5     CLR.L     -(A7)
00007304 4EB900000000            JSR       E.HREST
                      *                                                        LINE 42/24
0000730A 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_HSINE
                      *
00007310 666174616C20 K.214      DC.B      'fatal error encountered on sineh:'
00007331 00000001                DS.B      1
00007332 202020617267 K.215      DC.B      '   arg = '
0000733B 00000001                DS.B      1
0000733C 666174616C20 K.216      DC.B      'fatal error encountered on sineh:'
0000735D 00000001                DS.B      1
0000735E 202020617267 K.217      DC.B      '   arg = '
00007367 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_HSINE
                      *
00007368 7010         B.41       MOVEQ     #16,D0                                $10
0000736A 2F00                    MOVE.L    D0,-(A7)
0000736C 6112                    BSR.S     X.41.1(PC)
0000736E 00000000                DC.L      C.1
00007372 0000                    DC.W      0                                     $0
00007374 000A                    DC.W      10                                  String length word
00007376 544553545F48            DC.B      'TEST_HSINE'
00007380 203CFFFFFFA6 X.41.1     MOVE.L    #T.41-4,D0                            -86
00007386 4EB900000000            JSR       M.ENTRY
0000738C 2D4FFFAA                MOVE.L    A7,ST.41(A6)                          -86
                      *                                                        LINE 43/3
00007390 487A00CC     L.41.1     PEA       H.41.2(PC)
00007394 4EB900000000            JSR       E.HSET
                      *                                                        LINE 43/4
0000739A 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
0000739E 4EB900000000            JSR       F.SINH
000073A4 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 43/5
000073A8 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
000073AC 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
000073B0 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 43/6
000073B6 7001                    MOVEQ     #1,D0                                 $1
000073B8 3F00                    MOVE.W    D0,-(A7)
000073BA 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
000073BE 2F08                    MOVE.L    A0,-(A7)
000073C0 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
000073C4 61009884                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
000073C8 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
000073CC 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
000073D0 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
000073D4 5240                    ADDQ.W    #1,D0                                 $1
000073D6 E248                    LSR.W     #1,D0                                 $1
000073D8 32D8         X.41.2     MOVE.W    (A0)+,(A1)+
000073DA 51C8FFFC                DBF       D0,X.41.2(PC)
                      *                                                        LINE 43/7
000073DE 4267                    CLR.W     -(A7)
000073E0 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
000073E4 7046                    MOVEQ     #70,D0                                $46
000073E6 3F00                    MOVE.W    D0,-(A7)
000073E8 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
000073EC 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
000073F0 7046                    MOVEQ     #70,D0                                $46
000073F2 3F00                    MOVE.W    D0,-(A7)
000073F4 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
000073F8 610094CA                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 43/8
000073FC 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00007400 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00007404 4EB900000000            JSR       D.SINH
                      *                                                        LINE 43/9
0000740A 7001                    MOVEQ     #1,D0                                 $1
0000740C 3F00                    MOVE.W    D0,-(A7)
0000740E 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00007412 2F08                    MOVE.L    A0,-(A7)
00007414 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00007418 61009830                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
0000741C 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00007420 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00007424 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00007428 5240                    ADDQ.W    #1,D0                                 $1
0000742A E248                    LSR.W     #1,D0                                 $1
0000742C 32D8         X.41.3     MOVE.W    (A0)+,(A1)+
0000742E 51C8FFFC                DBF       D0,X.41.3(PC)
                      *                                                        LINE 43/10
00007432 7001                    MOVEQ     #1,D0                                 $1
00007434 3F00                    MOVE.W    D0,-(A7)
00007436 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
0000743A 7046                    MOVEQ     #70,D0                                $46
0000743C 3F00                    MOVE.W    D0,-(A7)
0000743E 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00007442 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00007446 7046                    MOVEQ     #70,D0                                $46
00007448 3F00                    MOVE.W    D0,-(A7)
0000744A 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000744E 61009474                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
00007452 6000011A                BRA.L     L.41.5(PC)
                      *                                                        LINE 43/12
00007456 2E6EFFAA     L.41.2     MOVEA.L   ST.41(A6),A7                          -86
0000745A 4EFB8002                JMP       H.41.2(PC,A0.W)
0000745E 00000000     H.41.2     DC.L      L.41.2
00007462 00000000                DC.L      0                                     $0
00007466 FFF6                    DC.W      -10                                   $FFFFFFF6
00007468 FFFE                    DC.W      -2                                    $FFFFFFFE
0000746A 0000                    DC.W      L.41.3+12-*
0000746C              L.41.3
                      *                                                        LINE 43/14
                      *                                                        LINE 43/15
0000746C 4EB900000000 L.41.4     JSR       E.MSG
                      *                                                        LINE 43/16
00007472 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00007476 4A80                    TST.L     D0
00007478 6606                    BNE.S     X.41.4(PC)
0000747A 4EB900000000            JSR       E.FILE
00007480 7221         X.41.4     MOVEQ     #33,D1                                $21
00007482 3F01                    MOVE.W    D1,-(A7)
00007484 7204                    MOVEQ     #4,D1                                 $4
00007486 3F01                    MOVE.W    D1,-(A7)
00007488 487AFE86                PEA       K.214(PC)                             CODE.+$7310
0000748C 2F00                    MOVE.L    D0,-(A7)
0000748E 4EB900000000            JSR       T.WRITE
00007494 2F00                    MOVE.L    D0,-(A7)
00007496 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 43/17
0000749C 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000074A0 4A80                    TST.L     D0
000074A2 6606                    BNE.S     X.41.5(PC)
000074A4 4EB900000000            JSR       E.FILE
000074AA 7209         X.41.5     MOVEQ     #9,D1                                 $9
000074AC 3F01                    MOVE.W    D1,-(A7)
000074AE 7204                    MOVEQ     #4,D1                                 $4
000074B0 3F01                    MOVE.W    D1,-(A7)
000074B2 487AFE7E                PEA       K.215(PC)                             CODE.+$7332
000074B6 2F00                    MOVE.L    D0,-(A7)
000074B8 4EB900000000            JSR       T.WRITE
000074BE 7210                    MOVEQ     #16,D1                                $10
000074C0 2F01                    MOVE.L    D1,-(A7)
000074C2 7202                    MOVEQ     #2,D1                                 $2
000074C4 3F01                    MOVE.W    D1,-(A7)
000074C6 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
000074CA 2F00                    MOVE.L    D0,-(A7)
000074CC 4EB900000000            JSR       T.WRITE
000074D2 2F00                    MOVE.L    D0,-(A7)
000074D4 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 43/18
000074DA 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000074DE 4A80                    TST.L     D0
000074E0 6606                    BNE.S     X.41.6(PC)
000074E2 4EB900000000            JSR       E.FILE
000074E8 2F00         X.41.6     MOVE.L    D0,-(A7)
000074EA 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 43/19
000074F0 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000074F4 4A80                    TST.L     D0
000074F6 6606                    BNE.S     X.41.7(PC)
000074F8 4EB900000000            JSR       E.FILE
000074FE 7221         X.41.7     MOVEQ     #33,D1                                $21
00007500 3F01                    MOVE.W    D1,-(A7)
00007502 7204                    MOVEQ     #4,D1                                 $4
00007504 3F01                    MOVE.W    D1,-(A7)
00007506 487AFE34                PEA       K.216(PC)                             CODE.+$733C
0000750A 2F00                    MOVE.L    D0,-(A7)
0000750C 4EB900000000            JSR       T.WRITE
00007512 2F00                    MOVE.L    D0,-(A7)
00007514 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 43/20
0000751A 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
0000751E 4A80                    TST.L     D0
00007520 6606                    BNE.S     X.41.8(PC)
00007522 4EB900000000            JSR       E.FILE
00007528 7209         X.41.8     MOVEQ     #9,D1                                 $9
0000752A 3F01                    MOVE.W    D1,-(A7)
0000752C 7204                    MOVEQ     #4,D1                                 $4
0000752E 3F01                    MOVE.W    D1,-(A7)
00007530 487AFE2C                PEA       K.217(PC)                             CODE.+$735E
00007534 2F00                    MOVE.L    D0,-(A7)
00007536 4EB900000000            JSR       T.WRITE
0000753C 7210                    MOVEQ     #16,D1                                $10
0000753E 2F01                    MOVE.L    D1,-(A7)
00007540 7202                    MOVEQ     #2,D1                                 $2
00007542 3F01                    MOVE.W    D1,-(A7)
00007544 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00007548 2F00                    MOVE.L    D0,-(A7)
0000754A 4EB900000000            JSR       T.WRITE
00007550 2F00                    MOVE.L    D0,-(A7)
00007552 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 43/21
00007558 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
0000755C 4A80                    TST.L     D0
0000755E 6606                    BNE.S     X.41.9(PC)
00007560 4EB900000000            JSR       E.FILE
00007566 2F00         X.41.9     MOVE.L    D0,-(A7)
00007568 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 43/22
0000756E 42A7         L.41.5     CLR.L     -(A7)
00007570 4EB900000000            JSR       E.HREST
                      *                                                        LINE 43/24
00007576 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_HCOSINE
                      *
0000757C 666174616C20 K.218      DC.B      'fatal error encountered on cosineh:'
0000759F 00000001                DS.B      1
000075A0 202020617267 K.219      DC.B      '   arg = '
000075A9 00000001                DS.B      1
000075AA 666174616C20 K.220      DC.B      'fatal error encountered on cosineh:'
000075CD 00000001                DS.B      1
000075CE 202020617267 K.221      DC.B      '   arg = '
000075D7 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_HCOSINE
                      *
000075D8 7010         B.42       MOVEQ     #16,D0                                $10
000075DA 2F00                    MOVE.L    D0,-(A7)
000075DC 6114                    BSR.S     X.42.1(PC)
000075DE 00000000                DC.L      C.1
000075E2 0000                    DC.W      0                                     $0
000075E4 000C                    DC.W      12                                  String length word
000075E6 544553545F48            DC.B      'TEST_HCOSINE'
000075F2 203CFFFFFFA6 X.42.1     MOVE.L    #T.42-4,D0                            -86
000075F8 4EB900000000            JSR       M.ENTRY
000075FE 2D4FFFAA                MOVE.L    A7,ST.42(A6)                          -86
                      *                                                        LINE 44/3
00007602 487A00CC     L.42.1     PEA       H.42.2(PC)
00007606 4EB900000000            JSR       E.HSET
                      *                                                        LINE 44/4
0000760C 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00007610 4EB900000000            JSR       F.COSH
00007616 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 44/5
0000761A 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
0000761E 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00007622 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 44/6
00007628 7001                    MOVEQ     #1,D0                                 $1
0000762A 3F00                    MOVE.W    D0,-(A7)
0000762C 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00007630 2F08                    MOVE.L    A0,-(A7)
00007632 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00007636 61009612                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
0000763A 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
0000763E 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00007642 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00007646 5240                    ADDQ.W    #1,D0                                 $1
00007648 E248                    LSR.W     #1,D0                                 $1
0000764A 32D8         X.42.2     MOVE.W    (A0)+,(A1)+
0000764C 51C8FFFC                DBF       D0,X.42.2(PC)
                      *                                                        LINE 44/7
00007650 4267                    CLR.W     -(A7)
00007652 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00007656 7046                    MOVEQ     #70,D0                                $46
00007658 3F00                    MOVE.W    D0,-(A7)
0000765A 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000765E 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00007662 7046                    MOVEQ     #70,D0                                $46
00007664 3F00                    MOVE.W    D0,-(A7)
00007666 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
0000766A 61009258                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 44/8
0000766E 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00007672 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00007676 4EB900000000            JSR       D.COSH
                      *                                                        LINE 44/9
0000767C 7001                    MOVEQ     #1,D0                                 $1
0000767E 3F00                    MOVE.W    D0,-(A7)
00007680 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00007684 2F08                    MOVE.L    A0,-(A7)
00007686 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
0000768A 610095BE                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
0000768E 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00007692 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00007696 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
0000769A 5240                    ADDQ.W    #1,D0                                 $1
0000769C E248                    LSR.W     #1,D0                                 $1
0000769E 32D8         X.42.3     MOVE.W    (A0)+,(A1)+
000076A0 51C8FFFC                DBF       D0,X.42.3(PC)
                      *                                                        LINE 44/10
000076A4 7001                    MOVEQ     #1,D0                                 $1
000076A6 3F00                    MOVE.W    D0,-(A7)
000076A8 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
000076AC 7046                    MOVEQ     #70,D0                                $46
000076AE 3F00                    MOVE.W    D0,-(A7)
000076B0 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
000076B4 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
000076B8 7046                    MOVEQ     #70,D0                                $46
000076BA 3F00                    MOVE.W    D0,-(A7)
000076BC 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
000076C0 61009202                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
000076C4 6000011A                BRA.L     L.42.5(PC)
                      *                                                        LINE 44/12
000076C8 2E6EFFAA     L.42.2     MOVEA.L   ST.42(A6),A7                          -86
000076CC 4EFB8002                JMP       H.42.2(PC,A0.W)
000076D0 00000000     H.42.2     DC.L      L.42.2
000076D4 00000000                DC.L      0                                     $0
000076D8 FFF6                    DC.W      -10                                   $FFFFFFF6
000076DA FFFE                    DC.W      -2                                    $FFFFFFFE
000076DC 0000                    DC.W      L.42.3+12-*
000076DE              L.42.3
                      *                                                        LINE 44/14
                      *                                                        LINE 44/15
000076DE 4EB900000000 L.42.4     JSR       E.MSG
                      *                                                        LINE 44/16
000076E4 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000076E8 4A80                    TST.L     D0
000076EA 6606                    BNE.S     X.42.4(PC)
000076EC 4EB900000000            JSR       E.FILE
000076F2 7223         X.42.4     MOVEQ     #35,D1                                $23
000076F4 3F01                    MOVE.W    D1,-(A7)
000076F6 7204                    MOVEQ     #4,D1                                 $4
000076F8 3F01                    MOVE.W    D1,-(A7)
000076FA 487AFE80                PEA       K.218(PC)                             CODE.+$757C
000076FE 2F00                    MOVE.L    D0,-(A7)
00007700 4EB900000000            JSR       T.WRITE
00007706 2F00                    MOVE.L    D0,-(A7)
00007708 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 44/17
0000770E 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00007712 4A80                    TST.L     D0
00007714 6606                    BNE.S     X.42.5(PC)
00007716 4EB900000000            JSR       E.FILE
0000771C 7209         X.42.5     MOVEQ     #9,D1                                 $9
0000771E 3F01                    MOVE.W    D1,-(A7)
00007720 7204                    MOVEQ     #4,D1                                 $4
00007722 3F01                    MOVE.W    D1,-(A7)
00007724 487AFE7A                PEA       K.219(PC)                             CODE.+$75A0
00007728 2F00                    MOVE.L    D0,-(A7)
0000772A 4EB900000000            JSR       T.WRITE
00007730 7210                    MOVEQ     #16,D1                                $10
00007732 2F01                    MOVE.L    D1,-(A7)
00007734 7202                    MOVEQ     #2,D1                                 $2
00007736 3F01                    MOVE.W    D1,-(A7)
00007738 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
0000773C 2F00                    MOVE.L    D0,-(A7)
0000773E 4EB900000000            JSR       T.WRITE
00007744 2F00                    MOVE.L    D0,-(A7)
00007746 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 44/18
0000774C 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00007750 4A80                    TST.L     D0
00007752 6606                    BNE.S     X.42.6(PC)
00007754 4EB900000000            JSR       E.FILE
0000775A 2F00         X.42.6     MOVE.L    D0,-(A7)
0000775C 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 44/19
00007762 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00007766 4A80                    TST.L     D0
00007768 6606                    BNE.S     X.42.7(PC)
0000776A 4EB900000000            JSR       E.FILE
00007770 7223         X.42.7     MOVEQ     #35,D1                                $23
00007772 3F01                    MOVE.W    D1,-(A7)
00007774 7204                    MOVEQ     #4,D1                                 $4
00007776 3F01                    MOVE.W    D1,-(A7)
00007778 487AFE30                PEA       K.220(PC)                             CODE.+$75AA
0000777C 2F00                    MOVE.L    D0,-(A7)
0000777E 4EB900000000            JSR       T.WRITE
00007784 2F00                    MOVE.L    D0,-(A7)
00007786 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 44/20
0000778C 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00007790 4A80                    TST.L     D0
00007792 6606                    BNE.S     X.42.8(PC)
00007794 4EB900000000            JSR       E.FILE
0000779A 7209         X.42.8     MOVEQ     #9,D1                                 $9
0000779C 3F01                    MOVE.W    D1,-(A7)
0000779E 7204                    MOVEQ     #4,D1                                 $4
000077A0 3F01                    MOVE.W    D1,-(A7)
000077A2 487AFE2A                PEA       K.221(PC)                             CODE.+$75CE
000077A6 2F00                    MOVE.L    D0,-(A7)
000077A8 4EB900000000            JSR       T.WRITE
000077AE 7210                    MOVEQ     #16,D1                                $10
000077B0 2F01                    MOVE.L    D1,-(A7)
000077B2 7202                    MOVEQ     #2,D1                                 $2
000077B4 3F01                    MOVE.W    D1,-(A7)
000077B6 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
000077BA 2F00                    MOVE.L    D0,-(A7)
000077BC 4EB900000000            JSR       T.WRITE
000077C2 2F00                    MOVE.L    D0,-(A7)
000077C4 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 44/21
000077CA 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000077CE 4A80                    TST.L     D0
000077D0 6606                    BNE.S     X.42.9(PC)
000077D2 4EB900000000            JSR       E.FILE
000077D8 2F00         X.42.9     MOVE.L    D0,-(A7)
000077DA 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 44/22
000077E0 42A7         L.42.5     CLR.L     -(A7)
000077E2 4EB900000000            JSR       E.HREST
                      *                                                        LINE 44/24
000077E8 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_HTANGENT
                      *
000077EE 666174616C20 K.222      DC.B      'fatal error encountered on tangenth:'
00007812 202020617267 K.223      DC.B      '   arg = '
0000781B 00000001                DS.B      1
0000781C 666174616C20 K.224      DC.B      'fatal error encountered on tangenth:'
00007840 202020617267 K.225      DC.B      '   arg = '
00007849 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_HTANGENT
                      *
0000784A 7010         B.43       MOVEQ     #16,D0                                $10
0000784C 2F00                    MOVE.L    D0,-(A7)
0000784E 6116                    BSR.S     X.43.1(PC)
00007850 00000000                DC.L      C.1
00007854 0000                    DC.W      0                                     $0
00007856 000D                    DC.W      13                                  String length word
00007858 544553545F48            DC.B      'TEST_HTANGENT'
00007865 00000001                DS.B      1                                   Fill byte
00007866 203CFFFFFFA6 X.43.1     MOVE.L    #T.43-4,D0                            -86
0000786C 4EB900000000            JSR       M.ENTRY
00007872 2D4FFFAA                MOVE.L    A7,ST.43(A6)                          -86
                      *                                                        LINE 45/3
00007876 487A00CC     L.43.1     PEA       H.43.2(PC)
0000787A 4EB900000000            JSR       E.HSET
                      *                                                        LINE 45/4
00007880 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00007884 4EB900000000            JSR       F.TANH
0000788A 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 45/5
0000788E 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
00007892 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00007896 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 45/6
0000789C 7001                    MOVEQ     #1,D0                                 $1
0000789E 3F00                    MOVE.W    D0,-(A7)
000078A0 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
000078A4 2F08                    MOVE.L    A0,-(A7)
000078A6 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
000078AA 6100939E                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
000078AE 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
000078B2 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
000078B6 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
000078BA 5240                    ADDQ.W    #1,D0                                 $1
000078BC E248                    LSR.W     #1,D0                                 $1
000078BE 32D8         X.43.2     MOVE.W    (A0)+,(A1)+
000078C0 51C8FFFC                DBF       D0,X.43.2(PC)
                      *                                                        LINE 45/7
000078C4 4267                    CLR.W     -(A7)
000078C6 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
000078CA 7046                    MOVEQ     #70,D0                                $46
000078CC 3F00                    MOVE.W    D0,-(A7)
000078CE 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
000078D2 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
000078D6 7046                    MOVEQ     #70,D0                                $46
000078D8 3F00                    MOVE.W    D0,-(A7)
000078DA 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
000078DE 61008FE4                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 45/8
000078E2 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
000078E6 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
000078EA 4EB900000000            JSR       D.TANH
                      *                                                        LINE 45/9
000078F0 7001                    MOVEQ     #1,D0                                 $1
000078F2 3F00                    MOVE.W    D0,-(A7)
000078F4 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
000078F8 2F08                    MOVE.L    A0,-(A7)
000078FA 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
000078FE 6100934A                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00007902 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00007906 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
0000790A 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
0000790E 5240                    ADDQ.W    #1,D0                                 $1
00007910 E248                    LSR.W     #1,D0                                 $1
00007912 32D8         X.43.3     MOVE.W    (A0)+,(A1)+
00007914 51C8FFFC                DBF       D0,X.43.3(PC)
                      *                                                        LINE 45/10
00007918 7001                    MOVEQ     #1,D0                                 $1
0000791A 3F00                    MOVE.W    D0,-(A7)
0000791C 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00007920 7046                    MOVEQ     #70,D0                                $46
00007922 3F00                    MOVE.W    D0,-(A7)
00007924 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00007928 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
0000792C 7046                    MOVEQ     #70,D0                                $46
0000792E 3F00                    MOVE.W    D0,-(A7)
00007930 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00007934 61008F8E                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
00007938 6000011A                BRA.L     L.43.5(PC)
                      *                                                        LINE 45/12
0000793C 2E6EFFAA     L.43.2     MOVEA.L   ST.43(A6),A7                          -86
00007940 4EFB8002                JMP       H.43.2(PC,A0.W)
00007944 00000000     H.43.2     DC.L      L.43.2
00007948 00000000                DC.L      0                                     $0
0000794C FFF6                    DC.W      -10                                   $FFFFFFF6
0000794E FFFE                    DC.W      -2                                    $FFFFFFFE
00007950 0000                    DC.W      L.43.3+12-*
00007952              L.43.3
                      *                                                        LINE 45/14
                      *                                                        LINE 45/15
00007952 4EB900000000 L.43.4     JSR       E.MSG
                      *                                                        LINE 45/16
00007958 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
0000795C 4A80                    TST.L     D0
0000795E 6606                    BNE.S     X.43.4(PC)
00007960 4EB900000000            JSR       E.FILE
00007966 7224         X.43.4     MOVEQ     #36,D1                                $24
00007968 3F01                    MOVE.W    D1,-(A7)
0000796A 7204                    MOVEQ     #4,D1                                 $4
0000796C 3F01                    MOVE.W    D1,-(A7)
0000796E 487AFE7E                PEA       K.222(PC)                             CODE.+$77EE
00007972 2F00                    MOVE.L    D0,-(A7)
00007974 4EB900000000            JSR       T.WRITE
0000797A 2F00                    MOVE.L    D0,-(A7)
0000797C 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 45/17
00007982 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00007986 4A80                    TST.L     D0
00007988 6606                    BNE.S     X.43.5(PC)
0000798A 4EB900000000            JSR       E.FILE
00007990 7209         X.43.5     MOVEQ     #9,D1                                 $9
00007992 3F01                    MOVE.W    D1,-(A7)
00007994 7204                    MOVEQ     #4,D1                                 $4
00007996 3F01                    MOVE.W    D1,-(A7)
00007998 487AFE78                PEA       K.223(PC)                             CODE.+$7812
0000799C 2F00                    MOVE.L    D0,-(A7)
0000799E 4EB900000000            JSR       T.WRITE
000079A4 7210                    MOVEQ     #16,D1                                $10
000079A6 2F01                    MOVE.L    D1,-(A7)
000079A8 7202                    MOVEQ     #2,D1                                 $2
000079AA 3F01                    MOVE.W    D1,-(A7)
000079AC 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
000079B0 2F00                    MOVE.L    D0,-(A7)
000079B2 4EB900000000            JSR       T.WRITE
000079B8 2F00                    MOVE.L    D0,-(A7)
000079BA 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 45/18
000079C0 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
000079C4 4A80                    TST.L     D0
000079C6 6606                    BNE.S     X.43.6(PC)
000079C8 4EB900000000            JSR       E.FILE
000079CE 2F00         X.43.6     MOVE.L    D0,-(A7)
000079D0 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 45/19
000079D6 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
000079DA 4A80                    TST.L     D0
000079DC 6606                    BNE.S     X.43.7(PC)
000079DE 4EB900000000            JSR       E.FILE
000079E4 7224         X.43.7     MOVEQ     #36,D1                                $24
000079E6 3F01                    MOVE.W    D1,-(A7)
000079E8 7204                    MOVEQ     #4,D1                                 $4
000079EA 3F01                    MOVE.W    D1,-(A7)
000079EC 487AFE2E                PEA       K.224(PC)                             CODE.+$781C
000079F0 2F00                    MOVE.L    D0,-(A7)
000079F2 4EB900000000            JSR       T.WRITE
000079F8 2F00                    MOVE.L    D0,-(A7)
000079FA 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 45/20
00007A00 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00007A04 4A80                    TST.L     D0
00007A06 6606                    BNE.S     X.43.8(PC)
00007A08 4EB900000000            JSR       E.FILE
00007A0E 7209         X.43.8     MOVEQ     #9,D1                                 $9
00007A10 3F01                    MOVE.W    D1,-(A7)
00007A12 7204                    MOVEQ     #4,D1                                 $4
00007A14 3F01                    MOVE.W    D1,-(A7)
00007A16 487AFE28                PEA       K.225(PC)                             CODE.+$7840
00007A1A 2F00                    MOVE.L    D0,-(A7)
00007A1C 4EB900000000            JSR       T.WRITE
00007A22 7210                    MOVEQ     #16,D1                                $10
00007A24 2F01                    MOVE.L    D1,-(A7)
00007A26 7202                    MOVEQ     #2,D1                                 $2
00007A28 3F01                    MOVE.W    D1,-(A7)
00007A2A 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00007A2E 2F00                    MOVE.L    D0,-(A7)
00007A30 4EB900000000            JSR       T.WRITE
00007A36 2F00                    MOVE.L    D0,-(A7)
00007A38 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 45/21
00007A3E 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00007A42 4A80                    TST.L     D0
00007A44 6606                    BNE.S     X.43.9(PC)
00007A46 4EB900000000            JSR       E.FILE
00007A4C 2F00         X.43.9     MOVE.L    D0,-(A7)
00007A4E 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 45/22
00007A54 42A7         L.43.5     CLR.L     -(A7)
00007A56 4EB900000000            JSR       E.HREST
                      *                                                        LINE 45/24
00007A5C 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for subroutine TEST_SQROOT
                      *
00007A62 666174616C20 K.226      DC.B      'fatal error encountered on square root:'
00007A89 00000001                DS.B      1
00007A8A 202020617267 K.227      DC.B      '   arg = '
00007A93 00000001                DS.B      1
00007A94 666174616C20 K.228      DC.B      'fatal error encountered on square root:'
00007ABB 00000001                DS.B      1
00007ABC 202020617267 K.229      DC.B      '   arg = '
00007AC5 00000001                DS.B      1
                      *
                      *          Begin subroutine TEST_SQROOT
                      *
00007AC6 7010         B.44       MOVEQ     #16,D0                                $10
00007AC8 2F00                    MOVE.L    D0,-(A7)
00007ACA 6114                    BSR.S     X.44.1(PC)
00007ACC 00000000                DC.L      C.1
00007AD0 0000                    DC.W      0                                     $0
00007AD2 000B                    DC.W      11                                  String length word
00007AD4 544553545F53            DC.B      'TEST_SQROOT'
00007ADF 00000001                DS.B      1                                   Fill byte
00007AE0 203CFFFFFFA6 X.44.1     MOVE.L    #T.44-4,D0                            -86
00007AE6 4EB900000000            JSR       M.ENTRY
00007AEC 2D4FFFAA                MOVE.L    A7,ST.44(A6)                          -86
                      *                                                        LINE 46/3
00007AF0 487A00CC     L.44.1     PEA       H.44.2(PC)
00007AF4 4EB900000000            JSR       E.HSET
                      *                                                        LINE 46/4
00007AFA 2F2D8104                MOVE.L    STATIC.+268-32768(A5),-(A7)           ARG1
00007AFE 4EB900000000            JSR       F.SQT
00007B04 2B5F820C                MOVE.L    (A7)+,STATIC.+532-32768(A5)           RSLT
                      *                                                        LINE 46/5
00007B08 2F2D820C                MOVE.L    STATIC.+532-32768(A5),-(A7)           RSLT
00007B0C 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00007B10 4EB900000000            JSR       F.DOUBLE
                      *                                                        LINE 46/6
00007B16 7001                    MOVEQ     #1,D0                                 $1
00007B18 3F00                    MOVE.W    D0,-(A7)
00007B1A 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00007B1E 2F08                    MOVE.L    A0,-(A7)
00007B20 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00007B24 61009124                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00007B28 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00007B2C 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00007B30 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00007B34 5240                    ADDQ.W    #1,D0                                 $1
00007B36 E248                    LSR.W     #1,D0                                 $1
00007B38 32D8         X.44.2     MOVE.W    (A0)+,(A1)+
00007B3A 51C8FFFC                DBF       D0,X.44.2(PC)
                      *                                                        LINE 46/7
00007B3E 4267                    CLR.W     -(A7)
00007B40 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00007B44 7046                    MOVEQ     #70,D0                                $46
00007B46 3F00                    MOVE.W    D0,-(A7)
00007B48 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00007B4C 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00007B50 7046                    MOVEQ     #70,D0                                $46
00007B52 3F00                    MOVE.W    D0,-(A7)
00007B54 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00007B58 61008D6A                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
                      *                                                        LINE 46/8
00007B5C 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00007B60 486D8210                PEA       STATIC.+536-32768(A5)                 D_RSLT
00007B64 4EB900000000            JSR       D.SQT
                      *                                                        LINE 46/9
00007B6A 7001                    MOVEQ     #1,D0                                 $1
00007B6C 3F00                    MOVE.W    D0,-(A7)
00007B6E 41ED8210                LEA       STATIC.+536-32768(A5),A0              D_RSLT
00007B72 2F08                    MOVE.L    A0,-(A7)
00007B74 486EFFAE                PEA       -82(A6)                               $FFFFFFAE
00007B78 610090D0                BSR.L     B.7(PC)                               HEXONLY = CODE.+$C4A
00007B7C 302EFFAE                MOVE.W    -82(A6),D0                            $FFFFFFAE
00007B80 41EEFFAE                LEA       -82(A6),A0                            $FFFFFFAE
00007B84 43ED821C                LEA       STATIC.+548-32768(A5),A1              STRG_RSLT
00007B88 5240                    ADDQ.W    #1,D0                                 $1
00007B8A E248                    LSR.W     #1,D0                                 $1
00007B8C 32D8         X.44.3     MOVE.W    (A0)+,(A1)+
00007B8E 51C8FFFC                DBF       D0,X.44.3(PC)
                      *                                                        LINE 46/10
00007B92 7001                    MOVEQ     #1,D0                                 $1
00007B94 3F00                    MOVE.W    D0,-(A7)
00007B96 486D81C4                PEA       STATIC.+460-32768(A5)                 STRG_LIB_RSLT
00007B9A 7046                    MOVEQ     #70,D0                                $46
00007B9C 3F00                    MOVE.W    D0,-(A7)
00007B9E 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00007BA2 486D821C                PEA       STATIC.+548-32768(A5)                 STRG_RSLT
00007BA6 7046                    MOVEQ     #70,D0                                $46
00007BA8 3F00                    MOVE.W    D0,-(A7)
00007BAA 486D8264                PEA       STATIC.+620-32768(A5)                 D_D
00007BAE 61008D14                BSR.L     B.4(PC)                               CHECK_PRECISION = COD
00007BB2 6000011A                BRA.L     L.44.5(PC)
                      *                                                        LINE 46/12
00007BB6 2E6EFFAA     L.44.2     MOVEA.L   ST.44(A6),A7                          -86
00007BBA 4EFB8002                JMP       H.44.2(PC,A0.W)
00007BBE 00000000     H.44.2     DC.L      L.44.2
00007BC2 00000000                DC.L      0                                     $0
00007BC6 FFF6                    DC.W      -10                                   $FFFFFFF6
00007BC8 FFFE                    DC.W      -2                                    $FFFFFFFE
00007BCA 0000                    DC.W      L.44.3+12-*
00007BCC              L.44.3
                      *                                                        LINE 46/14
                      *                                                        LINE 46/15
00007BCC 4EB900000000 L.44.4     JSR       E.MSG
                      *                                                        LINE 46/16
00007BD2 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00007BD6 4A80                    TST.L     D0
00007BD8 6606                    BNE.S     X.44.4(PC)
00007BDA 4EB900000000            JSR       E.FILE
00007BE0 7227         X.44.4     MOVEQ     #39,D1                                $27
00007BE2 3F01                    MOVE.W    D1,-(A7)
00007BE4 7204                    MOVEQ     #4,D1                                 $4
00007BE6 3F01                    MOVE.W    D1,-(A7)
00007BE8 487AFE78                PEA       K.226(PC)                             CODE.+$7A62
00007BEC 2F00                    MOVE.L    D0,-(A7)
00007BEE 4EB900000000            JSR       T.WRITE
00007BF4 2F00                    MOVE.L    D0,-(A7)
00007BF6 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 46/17
00007BFC 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00007C00 4A80                    TST.L     D0
00007C02 6606                    BNE.S     X.44.5(PC)
00007C04 4EB900000000            JSR       E.FILE
00007C0A 7209         X.44.5     MOVEQ     #9,D1                                 $9
00007C0C 3F01                    MOVE.W    D1,-(A7)
00007C0E 7204                    MOVEQ     #4,D1                                 $4
00007C10 3F01                    MOVE.W    D1,-(A7)
00007C12 487AFE76                PEA       K.227(PC)                             CODE.+$7A8A
00007C16 2F00                    MOVE.L    D0,-(A7)
00007C18 4EB900000000            JSR       T.WRITE
00007C1E 7210                    MOVEQ     #16,D1                                $10
00007C20 2F01                    MOVE.L    D1,-(A7)
00007C22 7202                    MOVEQ     #2,D1                                 $2
00007C24 3F01                    MOVE.W    D1,-(A7)
00007C26 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00007C2A 2F00                    MOVE.L    D0,-(A7)
00007C2C 4EB900000000            JSR       T.WRITE
00007C32 2F00                    MOVE.L    D0,-(A7)
00007C34 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 46/18
00007C3A 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00007C3E 4A80                    TST.L     D0
00007C40 6606                    BNE.S     X.44.6(PC)
00007C42 4EB900000000            JSR       E.FILE
00007C48 2F00         X.44.6     MOVE.L    D0,-(A7)
00007C4A 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 46/19
00007C50 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00007C54 4A80                    TST.L     D0
00007C56 6606                    BNE.S     X.44.7(PC)
00007C58 4EB900000000            JSR       E.FILE
00007C5E 7227         X.44.7     MOVEQ     #39,D1                                $27
00007C60 3F01                    MOVE.W    D1,-(A7)
00007C62 7204                    MOVEQ     #4,D1                                 $4
00007C64 3F01                    MOVE.W    D1,-(A7)
00007C66 487AFE2C                PEA       K.228(PC)                             CODE.+$7A94
00007C6A 2F00                    MOVE.L    D0,-(A7)
00007C6C 4EB900000000            JSR       T.WRITE
00007C72 2F00                    MOVE.L    D0,-(A7)
00007C74 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 46/20
00007C7A 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00007C7E 4A80                    TST.L     D0
00007C80 6606                    BNE.S     X.44.8(PC)
00007C82 4EB900000000            JSR       E.FILE
00007C88 7209         X.44.8     MOVEQ     #9,D1                                 $9
00007C8A 3F01                    MOVE.W    D1,-(A7)
00007C8C 7204                    MOVEQ     #4,D1                                 $4
00007C8E 3F01                    MOVE.W    D1,-(A7)
00007C90 487AFE2A                PEA       K.229(PC)                             CODE.+$7ABC
00007C94 2F00                    MOVE.L    D0,-(A7)
00007C96 4EB900000000            JSR       T.WRITE
00007C9C 7210                    MOVEQ     #16,D1                                $10
00007C9E 2F01                    MOVE.L    D1,-(A7)
00007CA0 7202                    MOVEQ     #2,D1                                 $2
00007CA2 3F01                    MOVE.W    D1,-(A7)
00007CA4 486D8110                PEA       STATIC.+280-32768(A5)                 D_ARG1
00007CA8 2F00                    MOVE.L    D0,-(A7)
00007CAA 4EB900000000            JSR       T.WRITE
00007CB0 2F00                    MOVE.L    D0,-(A7)
00007CB2 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 46/21
00007CB8 202D8270                MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00007CBC 4A80                    TST.L     D0
00007CBE 6606                    BNE.S     X.44.9(PC)
00007CC0 4EB900000000            JSR       E.FILE
00007CC6 2F00         X.44.9     MOVE.L    D0,-(A7)
00007CC8 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 46/22
00007CCE 42A7         L.44.5     CLR.L     -(A7)
00007CD0 4EB900000000            JSR       E.HREST
                      *                                                        LINE 46/24
00007CD6 4EB900000000            JSR       M.RETURN
                      *
                      *          Constant area for program EXE017
                      *
00007CDC 23434E       K.230      DC.B      '#CN'
00007CDF 00000001                DS.B      1
00007CE0 45525246494C K.231      DC.B      'ERRFIL'
00007CE6 626567696E20 K.232      DC.B      'begin math test'
00007CF5 00000001                DS.B      1
00007CF6 4D41544C4942 K.233      DC.B      'MATLIB'
00007CFC 756E7265636F K.234      DC.B      'unrecognized function skipped; function = '
00007D26 656E64206D61 K.235      DC.B      'end math test'
00007D33 00000001                DS.B      1
                      *
                      *          Begin program EXE017
                      *
                                 XDEF      M.START 
00007D34              M.START 
00007D34 7010         B.1        MOVEQ     #16,D0                                $10
00007D36 2F00                    MOVE.L    D0,-(A7)
00007D38 610E                    BSR.S     X.1.1(PC)
00007D3A 00000000                DC.L      C.1
00007D3E 0000                    DC.W      0                                     $0
00007D40 0006                    DC.W      6                                   String length word
00007D42 455845303137            DC.B      'EXE017'
00007D48 203CFFFFFCD8 X.1.1      MOVE.L    #T.1-4,D0                             -804
00007D4E 4EB900000000            JSR       M.ENTRY
                      *                                                        LINE 47/2
                      *                                                        LINE 47/4
00007D54 487AFF86     L.1.1      PEA       K.230(PC)                             CODE.+$7CDC
00007D58 7003                    MOVEQ     #3,D0                                 $3
00007D5A 3F00                    MOVE.W    D0,-(A7)
00007D5C 7032                    MOVEQ     #50,D0                                $32
00007D5E 3F00                    MOVE.W    D0,-(A7)
00007D60 4EB900000000            JSR       T.REWRIT
00007D66 2B5F0000                MOVE.L    (A7)+,TTYOUTPUT-32768(A5)             TTYOUTPUT
                      *                                                        LINE 47/5
00007D6A 487AFF74                PEA       K.231(PC)                             CODE.+$7CE0
00007D6E 7006                    MOVEQ     #6,D0                                 $6
00007D70 3F00                    MOVE.W    D0,-(A7)
00007D72 7012                    MOVEQ     #18,D0                                $12
00007D74 3F00                    MOVE.W    D0,-(A7)
00007D76 4EB900000000            JSR       T.REWRIT
00007D7C 2B5F8270                MOVE.L    (A7)+,STATIC.+632-32768(A5)           ERRFIL
                      *                                                        LINE 47/6
00007D80 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00007D84 4A80                    TST.L     D0
00007D86 6606                    BNE.S     X.1.2(PC)
00007D88 4EB900000000            JSR       E.FILE
00007D8E 720F         X.1.2      MOVEQ     #15,D1                                $F
00007D90 3F01                    MOVE.W    D1,-(A7)
00007D92 7204                    MOVEQ     #4,D1                                 $4
00007D94 3F01                    MOVE.W    D1,-(A7)
00007D96 487AFF4E                PEA       K.232(PC)                             CODE.+$7CE6
00007D9A 2F00                    MOVE.L    D0,-(A7)
00007D9C 4EB900000000            JSR       T.WRITE
00007DA2 2F00                    MOVE.L    D0,-(A7)
00007DA4 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 47/7
00007DAA 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00007DAE 4A80                    TST.L     D0
00007DB0 6606                    BNE.S     X.1.3(PC)
00007DB2 4EB900000000            JSR       E.FILE
00007DB8 2F00         X.1.3      MOVE.L    D0,-(A7)
00007DBA 4EB900000000            JSR       T.BREAK
                      *                                                        LINE 47/8
00007DC0 487AFF34                PEA       K.233(PC)                             CODE.+$7CF6
00007DC4 7006                    MOVEQ     #6,D0                                 $6
00007DC6 3F00                    MOVE.W    D0,-(A7)
00007DC8 3F3C0411                MOVE.W    #1041,-(A7)                           $411
00007DCC 4EB900000000            JSR       T.RESET
00007DD2 2B5F826C                MOVE.L    (A7)+,STATIC.+628-32768(A5)           MATLIB
                      *                                                        LINE 47/13
00007DD6 6100BD08                BSR.L     B.18(PC)                              SPECIAL_TESTS = CODE.
                      *                                                        LINE 47/22
00007DDA 41EEFCDC     L.1.2      LEA       -804(A6),A0                           $FFFFFCDC
00007DDE 2D48FFFC                MOVE.L    A0,-4(A6)                             $FFFFFFFC
00007DE2 61009150                BSR.L     B.8(PC)                               READ_NEXT_RECORD = CO
00007DE6 4A2EFCDC                TST.B     -804(A6)                              $FFFFFCDC
00007DEA 67000162                BEQ.L     L.1.35(PC)
                      *                                                        LINE 47/23
                      *                                                        LINE 47/25
00007DEE 701A         L.1.3      MOVEQ     #26,D0                                $1A
00007DF0 B06D8000                CMP.W     STATIC.+8-32768(A5),D0                FCTN
00007DF4 6658                    BNE.S     L.1.5(PC)
                      *                                                        LINE 47/26
                      *                                                        LINE 47/27
00007DF6 202D8270     L.1.4      MOVE.L    STATIC.+632-32768(A5),D0              ERRFIL
00007DFA 4A80                    TST.L     D0
00007DFC 6606                    BNE.S     X.1.4(PC)
00007DFE 4EB900000000            JSR       E.FILE
00007E04 722A         X.1.4      MOVEQ     #42,D1                                $2A
00007E06 3F01                    MOVE.W    D1,-(A7)
00007E08 7204                    MOVEQ     #4,D1                                 $4
00007E0A 3F01                    MOVE.W    D1,-(A7)
00007E0C 487AFEEE                PEA       K.234(PC)                             CODE.+$7CFC
00007E10 2F00                    MOVE.L    D0,-(A7)
00007E12 4EB900000000            JSR       T.WRITE
00007E18 3F2D8002                MOVE.W    STATIC.+10-32768(A5),-(A7)            FUNCT_NAME
00007E1C 7203                    MOVEQ     #3,D1                                 $3
00007E1E 3F01                    MOVE.W    D1,-(A7)
00007E20 486D8004                PEA       STATIC.+10-32766(A5)                  FUNCT_NAME
00007E24 2F00                    MOVE.L    D0,-(A7)
00007E26 4EB900000000            JSR       T.WRITE
00007E2C 2F00                    MOVE.L    D0,-(A7)
00007E2E 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 47/29
00007E34 202D826C                MOVE.L    STATIC.+628-32768(A5),D0              MATLIB
00007E38 4A80                    TST.L     D0
00007E3A 6606                    BNE.S     X.1.5(PC)
00007E3C 4EB900000000            JSR       E.FILE
00007E42 2F00         X.1.5      MOVE.L    D0,-(A7)
00007E44 4EB900000000            JSR       T.READLN
                      *                                                        LINE 47/30
00007E4A 600000FE                BRA.L     L.1.34(PC)
                      *                                                        LINE 47/31
00007E4E 302D8000     L.1.5      MOVE.W    STATIC.+8-32768(A5),D0                FCTN
00007E52 4A40                    TST.W     D0
00007E54 6D0000EE                BLT.L     L.1.32(PC)
00007E58 0C400019                CMPI.W    #25,D0                                $19
00007E5C 6E0000E6                BGT.L     L.1.32(PC)
00007E60 D040                    ADD.W     D0,D0
00007E62 303B0006                MOVE.W    X.1.6(PC,D0.W),D0
00007E66 4EFB0002                JMP       X.1.6(PC,D0.W)
00007E6A 0000         X.1.6      DC.W      L.1.6-*
00007E6C 0000                    DC.W      L.1.7+2-*
00007E6E 0000                    DC.W      L.1.8+4-*
00007E70 0000                    DC.W      L.1.9+6-*
00007E72 0000                    DC.W      L.1.10+8-*
00007E74 0000                    DC.W      L.1.11+10-*
00007E76 0000                    DC.W      L.1.12+12-*
00007E78 0000                    DC.W      L.1.13+14-*
00007E7A 0000                    DC.W      L.1.14+16-*
00007E7C 0000                    DC.W      L.1.15+18-*
00007E7E 0000                    DC.W      L.1.16+20-*
00007E80 0000                    DC.W      L.1.17+22-*
00007E82 0000                    DC.W      L.1.18+24-*
00007E84 0000                    DC.W      L.1.19+26-*
00007E86 0000                    DC.W      L.1.20+28-*
00007E88 0000                    DC.W      L.1.21+30-*
00007E8A 0000                    DC.W      L.1.22+32-*
00007E8C 0000                    DC.W      L.1.23+34-*
00007E8E 0000                    DC.W      L.1.24+36-*
00007E90 0000                    DC.W      L.1.25+38-*
00007E92 0000                    DC.W      L.1.26+40-*
00007E94 0000                    DC.W      L.1.27+42-*
00007E96 0000                    DC.W      L.1.28+44-*
00007E98 0000                    DC.W      L.1.29+46-*
00007E9A 0000                    DC.W      L.1.30+48-*
00007E9C 0000                    DC.W      L.1.31+50-*
                      *                                                        LINE 47/32
00007E9E 6100BCDE     L.1.6      BSR.L     B.19(PC)                              TEST_INT_ADD = CODE.+
00007EA2 600000A6                BRA.L     L.1.33(PC)
                      *                                                        LINE 47/33
00007EA6 6100BF08     L.1.7      BSR.L     B.20(PC)                              TEST_INT_SUB = CODE.+
00007EAA 6000009E                BRA.L     L.1.33(PC)
                      *                                                        LINE 47/34
00007EAE 6100C13A     L.1.8      BSR.L     B.21(PC)                              TEST_INT_MULT = CODE.
00007EB2 60000096                BRA.L     L.1.33(PC)
                      *                                                        LINE 47/35
00007EB6 6100C370     L.1.9      BSR.L     B.22(PC)                              TEST_INT_DIV = CODE.+
00007EBA 6000008E                BRA.L     L.1.33(PC)
                      *                                                        LINE 47/36
00007EBE 6100C5A0     L.1.10     BSR.L     B.23(PC)                              TEST_INT_MOD = CODE.+
00007EC2 60000086                BRA.L     L.1.33(PC)
                      *                                                        LINE 47/37
00007EC6 6100C7D4     L.1.11     BSR.L     B.24(PC)                              TEST_INT_POWER = CODE
00007ECA 607E                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/38
00007ECC 6100CA00     L.1.12     BSR.L     B.25(PC)                              TEST_REAL_ADD = CODE.
00007ED0 6078                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/39
00007ED2 6100CCEE     L.1.13     BSR.L     B.26(PC)                              TEST_REAL_SUB = CODE.
00007ED6 6072                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/40
00007ED8 6100CFE8     L.1.14     BSR.L     B.27(PC)                              TEST_REAL_MULT = CODE
00007EDC 606C                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/41
00007EDE 6100D2D6     L.1.15     BSR.L     B.28(PC)                              TEST_REAL_DIV = CODE.
00007EE2 6066                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/42
00007EE4 6100D5BC     L.1.16     BSR.L     B.29(PC)                              TEST_REAL_POWER = COD
00007EE8 6060                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/43
00007EEA 6100D8BC     L.1.17     BSR.L     B.30(PC)                              TEST_REAL_TO_INTEGER 
00007EEE 605A                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/44
00007EF0 6100DB8A     L.1.18     BSR.L     B.31(PC)                              TEST_NATLOG = CODE.+$
00007EF4 6054                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/45
00007EF6 6100DDF2     L.1.19     BSR.L     B.32(PC)                              TEST_LOG10 = CODE.+$5
00007EFA 604E                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/46
00007EFC 6100E054     L.1.20     BSR.L     B.33(PC)                              TEST_EXPON = CODE.+$5
00007F00 6048                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/47
00007F02 6100E2B6     L.1.21     BSR.L     B.34(PC)                              TEST_SINE = CODE.+$61
00007F06 6042                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/48
00007F08 6100E51C     L.1.22     BSR.L     B.35(PC)                              TEST_COSINE = CODE.+$
00007F0C 603C                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/49
00007F0E 6100E788     L.1.23     BSR.L     B.36(PC)                              TEST_TANGENT = CODE.+
00007F12 6036                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/50
00007F14 6100E9F4     L.1.24     BSR.L     B.37(PC)                              TEST_ARCSINE = CODE.+
00007F18 6030                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/51
00007F1A 6100EC64     L.1.25     BSR.L     B.38(PC)                              TEST_ARCCOSINE = CODE
00007F1E 602A                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/52
00007F20 6100EED6     L.1.26     BSR.L     B.39(PC)                              TEST_ARCTANGENT = COD
00007F24 6024                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/53
00007F26 6100F17A     L.1.27     BSR.L     B.40(PC)                              TEST_ARCTAN2 = CODE.+
00007F2A 601E                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/54
00007F2C 6100F43A     L.1.28     BSR.L     B.41(PC)                              TEST_HSINE = CODE.+$7
00007F30 6018                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/55
00007F32 6100F6A4     L.1.29     BSR.L     B.42(PC)                              TEST_HCOSINE = CODE.+
00007F36 6012                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/56
00007F38 6100F910     L.1.30     BSR.L     B.43(PC)                              TEST_HTANGENT = CODE.
00007F3C 600C                    BRA.S     L.1.33(PC)
                      *                                                        LINE 47/57
00007F3E 6100FB86     L.1.31     BSR.L     B.44(PC)                              TEST_SQROOT = CODE.+$
00007F42 6006                    BRA.S     L.1.33(PC)
00007F44 4EB900000000 L.1.32     JSR       E.CASE
00007F4A              L.1.33
                      *                                                        LINE 47/58
                      *                                                        LINE 47/60
00007F4A 6000FE8E     L.1.34     BRA.L     L.1.2(PC)
                      *                                                        LINE 47/62
00007F4E 610096C6     L.1.35     BSR.L     B.9(PC)                               RANTST = CODE.+$1616
                      *                                                        LINE 47/64
00007F52 202D0000                MOVE.L    TTYOUTPUT-32768(A5),D0                TTYOUTPUT
00007F56 4A80                    TST.L     D0
00007F58 6606                    BNE.S     X.1.7(PC)
00007F5A 4EB900000000            JSR       E.FILE
00007F60 720D         X.1.7      MOVEQ     #13,D1                                $D
00007F62 3F01                    MOVE.W    D1,-(A7)
00007F64 7204                    MOVEQ     #4,D1                                 $4
00007F66 3F01                    MOVE.W    D1,-(A7)
00007F68 487AFDBC                PEA       K.235(PC)                             CODE.+$7D26
00007F6C 2F00                    MOVE.L    D0,-(A7)
00007F6E 4EB900000000            JSR       T.WRITE
00007F74 2F00                    MOVE.L    D0,-(A7)
00007F76 4EB900000000            JSR       T.WRTLN
                      *                                                        LINE 47/66
00007F7C 4EB900000000            JSR       M.STOP
                                 XREF      E.FILE
                                 XREF      T.WRITE
                                 XREF      T.PUT
                                 XREF      T.WRTLN
                                 XREF      M.ENTRY
                                 XREF      M.RETURN
                                 XREF      SUBTRACT
                                 XREF      E.SUBSTR
                                 XREF      C.MVFF
                                 XREF      I.GETSTR
                                 XREF      C.CPFC
                                 XREF      C.CPFF
                                 XREF      T.EOLN
                                 XREF      I.EOF
                                 XREF      T.GET
                                 XREF      C.MVCR
                                 XREF      REALHEX
                                 XREF      C.SRFO
                                 XREF      CMD_LOOK
                                 XREF      E.VALUE
                                 XREF      T.READ
                                 XREF      T.READLN
                                 XREF      C.MVFR
                                 XREF      HEXREAL
                                 XREF      D.SINGLE
                                 XREF      E.INDEX
                                 XREF      F.RANSET
                                 XREF      F.RANDOM
                                 XREF      F.FLOAT
                                 XREF      F.MUL
                                 XREF      F.TRUNC
                                 XREF      G.I4PWR
                                 XREF      F.DIV
                                 XREF      F.ADD
                                 XREF      E.HSET
                                 XREF      D.LN
                                 XREF      F.LN
                                 XREF      F.DOUBLE
                                 XREF      D.LOG
                                 XREF      F.LOG
                                 XREF      E.MSG
                                 XREF      TTYOUTPU
                                 XREF      E.HREST
                                 XREF      D.SQT
                                 XREF      F.SQT
                                 XREF      D.ATAN
                                 XREF      F.ATAN
                                 XREF      D.FLOAT
                                 XREF      D.ATAN2
                                 XREF      F.ATAN2
                                 XREF      D.PWR
                                 XREF      F.PWR
                                 XREF      D.SIN
                                 XREF      F.SIN
                                 XREF      D.MUL
                                 XREF      F.ROUND
                                 XREF      F.ROUND2
                                 XREF      G.I4MULT
                                 XREF      G.I4DIV
                                 XREF      G.I4REM
                                 XREF      D.ADD
                                 XREF      F.SUB
                                 XREF      D.SUB
                                 XREF      D.DIV
                                 XREF      F.PWRI
                                 XREF      D.PWRI
                                 XREF      F.EXP
                                 XREF      D.EXP
                                 XREF      F.COS
                                 XREF      D.COS
                                 XREF      F.TAN
                                 XREF      D.TAN
                                 XREF      F.ASIN
                                 XREF      D.ASIN
                                 XREF      F.ACOS
                                 XREF      D.ACOS
                                 XREF      F.SINH
                                 XREF      D.SINH
                                 XREF      F.COSH
                                 XREF      D.COSH
                                 XREF      F.TANH
                                 XREF      D.TANH
                                 XREF      T.REWRIT
                                 XREF      T.BREAK
                                 XREF      T.RESET
                                 XREF      E.CASE
                                 XREF      M.STOP
                      *
                      *          Code area:      00006B10 bytes (27408 decimal)
                      *          Constant area:  00001472 bytes (5234 decimal)
                      *          Static area:    0000027C bytes (636 decimal)
                      *
  F@C